{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.SloDogfood",
    "version": "2024-09-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Slos"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.SloDogfood/slos": {
      "get": {
        "operationId": "Slos_ListByParent",
        "tags": [
          "Slos"
        ],
        "description": "Lists all Slos",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SloListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.SloDogfood/slos/{sloName}": {
      "get": {
        "operationId": "Slos_Get",
        "tags": [
          "Slos"
        ],
        "description": "Gets a Slo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "sloName",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Slo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Slos_CreateOrUpdate",
        "tags": [
          "Slos"
        ],
        "description": "Creates or updates a Slo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "sloName",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Slo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Slo' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Slo"
            }
          },
          "201": {
            "description": "Resource 'Slo' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Slo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Slos_Delete",
        "tags": [
          "Slos"
        ],
        "description": "Deletes a Slo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "sloName",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.SloDogfood/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "DestinationAccountMetadata": {
      "type": "object",
      "description": "The Azure Monitor Workspace account metadata",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "ARM resource id for the account where metrics related to this SLO are emitted by the service."
        },
        "identity": {
          "type": "string",
          "description": "ARM resource id for teh managed identity with access to the source account."
        }
      },
      "required": [
        "resourceId",
        "identity"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Initial provisioning in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      },
      "readOnly": true
    },
    "SliProperties": {
      "type": "object",
      "description": "SLI Properties",
      "properties": {
        "sourceAccounts": {
          "type": "array",
          "description": "The AMW account from where the metrics will originate",
          "items": {
            "$ref": "#/definitions/SourceAccountMetadata"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        },
        "destinationAccount": {
          "$ref": "#/definitions/DestinationAccountMetadata",
          "description": "The AMW account to where the metrics will be sent"
        }
      },
      "required": [
        "sourceAccounts",
        "destinationAccount"
      ]
    },
    "Slo": {
      "type": "object",
      "description": "A SloTestProviderHub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SloResource",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SloListResult": {
      "type": "object",
      "description": "The response of a Slo list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Slo items on this page",
          "items": {
            "$ref": "#/definitions/Slo"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SloProperties": {
      "type": "object",
      "description": "SLO Properties",
      "properties": {
        "sloCategory": {
          "type": "string",
          "description": "One of these values: Availability | Latency"
        },
        "targets": {
          "$ref": "#/definitions/SloTargets",
          "description": "The targets that this SLO should achieve. An SLO may have multiple targets."
        },
        "zoomMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The zoom window for aggregating the SLI signals."
        },
        "lookbackWindowDays": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days. When LookbackType is Rolling, this is the rolling window (in days)."
        },
        "lookbackType": {
          "type": "string",
          "description": "One of Rolling or Calendar."
        }
      },
      "required": [
        "sloCategory",
        "targets",
        "zoomMinutes",
        "lookbackWindowDays",
        "lookbackType"
      ]
    },
    "SloResource": {
      "type": "object",
      "description": "SLO Request body",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "sloId": {
          "type": "string",
          "description": "This will be the ARM Id for this SLO."
        },
        "tags": {
          "type": "array",
          "description": "Set of tags to associate with this resource.",
          "items": {
            "type": "string"
          }
        },
        "sloProperties": {
          "$ref": "#/definitions/SloProperties",
          "description": "The properties that define the Service Level Objective."
        },
        "sliProperties": {
          "$ref": "#/definitions/SliProperties",
          "description": "The properties that define the Service Level Indicators."
        }
      },
      "required": [
        "sloId",
        "tags",
        "sloProperties",
        "sliProperties"
      ]
    },
    "SloTargets": {
      "type": "object",
      "description": "SLO Target Properties",
      "properties": {
        "targetName": {
          "type": "string",
          "description": "A user-friendly name given to this target."
        },
        "targetValue": {
          "type": "number",
          "format": "float",
          "description": "For latency, this would typically be a milliseconds value. For Availability or SuccessRate, users may specify a percentage value.",
          "minimum": 0
        },
        "targetWindow": {
          "type": "string",
          "description": "SLO target window"
        },
        "targetPercentile": {
          "type": "string",
          "description": "SLO target percentile"
        },
        "operator": {
          "type": "string",
          "description": "SLO target operator"
        }
      },
      "required": [
        "targetName",
        "targetValue",
        "targetWindow",
        "targetPercentile",
        "operator"
      ]
    },
    "SourceAccountMetadata": {
      "type": "object",
      "description": "The Azure Monitor Workspace account metadata",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "ARM resource id for the account where metrics related to this SLO are emitted by the service."
        },
        "identity": {
          "type": "string",
          "description": "ARM resource id for teh managed identity with access to the source account."
        }
      },
      "required": [
        "resourceId",
        "identity"
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
