{
  "swagger": "2.0",
  "info": {
    "title": "Test Arc Connectivity Management API",
    "description": "REST API for Test Arc  Connectivity",
    "version": "2021-07-08-privatepreview",
    "x-ms-code-generation-settings": {
      "name": "testarcconnectivityClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.TestArcConnectivity/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists the available Test Arc Connectivity REST API operations.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.TestArcConnectivity/endpoints": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "description": "List of endpoints to the target resource.",
        "operationId": "Endpoints_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of endpoints.",
            "schema": {
              "$ref": "#/definitions/EndpointsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.TestArcConnectivity/endpoints/{endpointName}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "description": "Gets the endpoint to the resource.",
        "operationId": "Endpoints_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint details",
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Endpoints"
        ],
        "description": "Create or update the endpoint to the target resource.",
        "operationId": "Endpoints_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "name": "EndpointResource",
            "description": "Endpoint details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint details.",
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Endpoints"
        ],
        "description": "Update the endpoint to the target resource.",
        "operationId": "Endpoints_Update",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "name": "EndpointResource",
            "description": "Endpoint details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint resource.",
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Endpoints"
        ],
        "description": "Deletes the endpoint access to the target resource.",
        "operationId": "Endpoints_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The endpoint is deleted successfully."
          },
          "204": {
            "description": "The endpoint has been deleted already."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.TestArcConnectivity/endpoints/{endpointName}/listCredentials": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Gets the endpoint access credentials to the resource.",
        "operationId": "Endpoints_ListCredentials",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "$ref": "#/parameters/AccessTokenExpirationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Endpoint access credentials",
            "schema": {
              "$ref": "#/definitions/EndpointAccessResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "EndpointAccessProperties": {
      "type": "object",
      "description": "Endpoint access properties",
      "required": [
        "namespaceBaseUri",
        "hybridConnectionName"
      ],
      "properties": {
        "namespaceBaseUri": {
          "type": "string",
          "description": "The base uri of azure relay namespace",
          "minLength": 1,
          "maxLength": 100,
          "pattern": "^[A-Za-z0-9-._/]+$"
        },
        "hybridConnectionName": {
          "type": "string",
          "description": "Azure Relay hybrid connection name for the resource."
        },
        "accessKey": {
          "type": "string",
          "description": "Access key for hybrid connection.",
          "readOnly": true,
          "x-ms-secret": true
        },
        "expiration": {
          "type": "integer",
          "description": "The experation of access key in unix time."
        }
      }
    },
    "EndpointAccessResource": {
      "description": "The endpoint access for the target resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "systemData": {
          "description": "System data of endpoint access resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "x-ms-client-flatten": true
        },
        "properties": {
          "description": "The endpoint access detail.",
          "$ref": "#/definitions/EndpointAccessProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EndpointProperties": {
      "type": "object",
      "description": "Endpoint details",
      "required": [
        "type",
        "location"
      ],
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of endpoint.",
          "enum": [
            "default",
            "custom"
          ]
        },
        "location": {
          "type": "string",
          "description": "The location of endpoint resource.",
          "minLength": 1,
          "maxLength": 50,
          "pattern": "^[A-Za-z0-9-._/]+$"
        },
        "namespaceResourceId": {
          "type": "string",
          "description": "The resource Id of the azure relay namespace (optional)."
        }
      }
    },
    "EndpointResource": {
      "description": "The endpoint for the target resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "systemData": {
          "description": "System data of endpoint resource",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "x-ms-client-flatten": true
        },
        "properties": {
          "description": "The endpoint properties.",
          "$ref": "#/definitions/EndpointProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EndpointsList": {
      "description": "The list of endpoints.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of endpoints list.",
          "type": "string"
        },
        "value": {
          "description": "The list of endpoint.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EndpointResource"
          }
        }
      }
    }
  },
  "parameters": {
    "ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The fully qualified Azure Resource manager identifier of the resource to be connected.",
      "x-ms-skip-url-encoding": true,
      "x-ms-parameter-location": "method"
    },
    "EndpointNameParameter": {
      "name": "endpointName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The endpoint name.",
      "x-ms-skip-url-encoding": true,
      "x-ms-parameter-location": "method"
    },
    "AccessTokenExpirationParameter": {
      "name": "expiration",
      "in": "query",
      "required": false,
      "type": "integer",
      "default": 600,
      "minimum": 60,
      "maximum": 600,
      "description": "The requested expiration time in second for the endpoints access.",
      "x-ms-parameter-location": "method"
    }
  }
}
