{
  "swagger": "2.0",
  "info": {
    "title": "UnityCloud",
    "description": "The Microsoft.UnityCloud Rest API spec.",
    "version": "2020-12-15-preview",
    "x-ms-code-generation-settings": {
      "name": "UnityCloudClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.UnityCloud/federationgroups/{federationgroupsName}": {
      "get": {
        "operationId": "federationgroups_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/federationgroupsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the federationgroups resource.",
            "schema": {
              "$ref": "#/definitions/federationgroups"
            }
          }
        }
      },
      "put": {
        "operationId": "federationgroups_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/federationgroupsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "federationgroups",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/federationgroups"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the federationgroups resource.",
            "schema": {
              "$ref": "#/definitions/federationgroups"
            }
          },
          "201": {
            "description": "Creates the federationgroups resource.",
            "schema": {
              "$ref": "#/definitions/federationgroups"
            }
          }
        }
      },
      "delete": {
        "operationId": "federationgroups_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/federationgroupsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the federationgroups resource."
          }
        }
      },
      "patch": {
        "operationId": "federationgroups_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/federationgroupsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "federationgroups",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/federationgroupsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the federationgroups resource.",
            "schema": {
              "$ref": "#/definitions/federationgroups"
            }
          },
          "201": {
            "description": "Updates the federationgroups resource.",
            "schema": {
              "$ref": "#/definitions/federationgroups"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.UnityCloud/federationgroups": {
      "get": {
        "operationId": "federationgroups_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all federationgroups under the resouce group.",
            "schema": {
              "$ref": "#/definitions/federationgroupsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.UnityCloud/federationgroups": {
      "get": {
        "operationId": "federationgroups_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all federationgroups under the subscription.",
            "schema": {
              "$ref": "#/definitions/federationgroupsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.UnityCloud/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "federationgroupsProperties": {
      "type": "object",
      "properties": {
        "federations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "dependencies": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "name": {
                "type": "string"
              }
            }
          }
        },
        "group": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "error": {
              "type": "string"
            },
            "ready": {
              "type": "boolean"
            },
            "status": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string"
                      },
                      "ready": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "ready"
                    ],
                    "description": "ChartStatus denotes the current status of the FedInstance reconciliation"
                  }
                },
                "required": [
                  "status"
                ],
                "description": "FederationStatus defines the observed state of Federation"
              }
            }
          },
          "required": [
            "ready"
          ],
          "description": "FederationGroupStatus defines the observed state of FederationGroup"
        }
      },
      "description": "FederationGroupSpec defines the desired state of FederationGroup"
    },
    "federationgroups": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/federationgroupsProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The federationgroups resource definition."
    },
    "federationgroupsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The federationgroups resource patch definition."
    },
    "federationgroupsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/federationgroups"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "federationgroupsNameParameter": {
      "name": "federationgroupsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}
