{
    "swagger": "2.0",
    "info": {
      "version": "2023-06-01-preview",
      "title": "GroopaTestApp",
      "description": "Azure Stack HCI management service"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{providerResourceType}/{providerResourceName}/providers/Microsoft.GroopaTestApp/availableUpdates": {
        "get": {
          "tags": [
            "availableUpdates"
          ],
          "operationId": "availableUpdates_ListByResourceGroup",
          "x-ms-examples": {
            "List availableUpdates in a given resource group": {
              "$ref": "./examples/ListAvailableUpdatesByResourceGroup.json"
            }
          },
          "description": "List all HCI availableUpdates in a resource group.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/availableUpdateList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{providerResourceType}/{providerResourceName}/providers/Microsoft.GroopaTestApp/availableUpdates/{availableUpdateName}": {
        "get": {
          "tags": [
            "availableUpdates"
          ],
          "operationId": "availableUpdates_Get",
          "x-ms-examples": {
            "Get availableUpdate": {
              "$ref": "./examples/GetAvailableUpdate.json"
            }
          },
          "description": "Get HCI availableUpdate.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "#/parameters/availableUpdateNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/availableUpdate"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "availableUpdates"
          ],
          "operationId": "availableUpdates_Create",
          "x-ms-examples": {
            "Create availableUpdate": {
              "$ref": "./examples/CreateAvailableUpdate.json"
            }
          },
          "description": "Create an HCI availableUpdate.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/availableUpdateNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "availableUpdate",
              "in": "body",
              "description": "Details of the HCI availableUpdate.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/availableUpdate"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/availableUpdate"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "availableUpdates"
          ],
          "operationId": "availableUpdates_Update",
          "x-ms-examples": {
            "Update availableUpdate": {
              "$ref": "./examples/UpdateAvailableUpdate.json"
            }
          },
          "description": "Update an HCI availableUpdate.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/availableUpdateNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "availableUpdate",
              "in": "body",
              "description": "Details of the HCI availableUpdate.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/availableUpdatePatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/availableUpdate"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "availableUpdates"
          ],
          "operationId": "availableUpdates_Delete",
          "x-ms-examples": {
            "Delete availableUpdate": {
              "$ref": "./examples/DeleteAvailableUpdate.json"
            }
          },
          "description": "Delete an HCI availableUpdate.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/availableUpdateNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "204": {
              "description": "No content"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "availableUpdateList": {
        "description": "List of availableUpdates.",
        "type": "object",
        "properties": {
          "value": {
            "description": "List of availableUpdates.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/availableUpdate"
            }
          },
          "nextLink": {
            "description": "Link to the next set of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "availableUpdate": {
        "description": "availableUpdate details.",
        "type": "object",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "properties": {
          "systemData": {
            "description": "System data of availableUpdate resource",
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
            "x-ms-client-flatten": true,
            "readOnly": true
          },
          "properties": {
            "description": "availableUpdate properties.",
            "$ref": "#/definitions/availableUpdateProperties",
            "x-ms-client-flatten": true
          }
        }
      },
      "availableUpdatePatch": {
        "description": "availableUpdate details to update.",
        "type": "object",
        "properties": {
          "tags": {
            "description": "Resource tags.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "properties": {
            "description": "availableUpdate properties.",
            "$ref": "#/definitions/availableUpdatePatchProperties",
            "x-ms-client-flatten": true
          }
        }
      },
      "availableUpdateProperties": {
        "description": "availableUpdate properties.",
        "type": "object",
        "properties": {
          "friendlyName": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          }
        }
      },
      "availableUpdatePatchProperties": {
        "description": "availableUpdate properties.",
        "type": "object",
        "properties": {
        }
      }
    },
    "parameters": {
      "availableUpdateNameParameter": {
        "name": "availableUpdateName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the availableUpdate.",
        "x-ms-parameter-location": "method"
      },
      "providerResourceNameParameter": {
        "name": "providerResourceName",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
      },
      "providerNamespaceParameter": {
        "name": "providerNamespace",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
      },
      "providerResourceTypeParameter": {
        "name": "providerResourceType",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
      }
    }
  }
  