{
    "swagger": "2.0",
    "info": {
      "version": "2022-09-23",
      "title": "Microsoft.Restaurant",
      "description": "Restaurant service",
      "x-ms-code-generation-settings": {
        "name": "restaurantClient"
      }
    },
    "host": "management.azure.com",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "security": [
      {
        "azure_auth": ["user_impersonation"]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "tags": [
        {
          "name": "StaffMembers"
        },
        {
          "name": "Operations"
        }
      ],
    "paths": {
      "/providers/Microsoft.Restaurant/operations": {
        "get": {
          "tags": ["Operations"],
          "operationId": "Operations_List",
          "description": "List the operations for the restaurant provider",
          "parameters": [
            {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Operation successfully completed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
              }
            },
            "default": {
                "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Restaurant/StaffMembers": {
        "get": {
          "tags": [
            "StaffMembers"
          ],
          "operationId": "StaffMembers_ListBySubscription",
          "description": "List StaffMember resources by subscription ID",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/StaffMemberListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Restaurant/StaffMembers": {
        "get": {
          "tags": [
            "StaffMembers"
          ],
          "operationId": "StaffMembers_ListByResourceGroup",
          "description": "List StaffMember resources by resource group",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/StaffMemberListResult"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Restaurant/StaffMembers/{StaffMemberName}": {
        "get": {
          "tags": [
            "StaffMembers"
          ],
          "operationId": "StaffMembers_Get",
          "description": "Get a StaffMember",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/StaffMember.StaffMemberName"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/StaffMember"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "GetStaffMember": {
              "$ref": "./examples/StaffMembers_Get.json"
            }
          }
        },
        "put": {
          "tags": [
            "StaffMembers"
          ],
          "operationId": "StaffMembers_CreateOrUpdate",
          "description": "Create a StaffMember",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/StaffMember.StaffMemberName"
            },
            {
              "name": "resource",
              "in": "body",
              "required": true,
              "description": "Resource create parameters.",
              "schema": {
                "$ref": "#/definitions/StaffMember"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/StaffMember"
              }
            },
            "201": {
              "description": "ARM create operation completed successfully.",
              "headers": {
                "Retry-After": {
                  "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "schema": {
                "$ref": "#/definitions/StaffMember"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "CreateStaffMember": {
              "$ref": "./examples/StaffMembers_CreateOrUpdate.json"
            }
          },
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "x-ms-long-running-operation": true
        },
        "patch": {
          "tags": [
            "StaffMembers"
          ],
          "operationId": "StaffMembers_Update",
          "description": "Update a StaffMember",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/StaffMember.StaffMemberName"
            },
            {
              "name": "properties",
              "in": "body",
              "required": true,
              "description": "The resource properties to be updated.",
              "schema": {
                "$ref": "#/definitions/StaffMemberUpdate"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/StaffMember"
              }
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "StaffMembers"
          ],
          "operationId": "StaffMembers_Delete",
          "description": "Delete a StaffMember",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/StaffMember.StaffMemberName"
            }
          ],
          "responses": {
            "200": {
              "description": "Resource deleted successfully."
            },
            "202": {
              "description": "Resource deletion accepted.",
              "headers": {
                "Retry-After": {
                  "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "204": {
              "description": "Resource deleted successfully."
            },
            "default": {
              "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "x-ms-long-running-operation": true
        }
      }
    },
    "definitions": {
      "StaffMember": {
        "description": "Staff member in restaurant",
        "properties": {
          "sampleProperty": {
            "type": "string",
            "$ref": "#/definitions/StaffMemberProperties",
            "description": "This is a staff member in the restaurant"
          }
        }
      },
      "StaffMemberListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/StaffMember"
            },
            "x-cadl-name": "StaffMember[]",
            "description": "The StaffMember items on this page"
          },
          "nextLink": {
            "type": "string",
            "description": "The link to the next page of items"
          }
        },
        "description": "The response of a StaffMember list operation.",
        "required": [
          "value"
        ]
      },
      "StaffMemberProperties": {
        "type": "object",
        "properties": {
          "provisioningState": {
            "$ref": "#/definitions/ProvisioningState",
            "description": "The status of the last operation.",
            "readOnly": true
          }
        },
        "description": "Details of the Restaurant StaffMember."
      },
      "StaffMemberUpdate": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags."
          },
          "properties": {
            "$ref": "#/definitions/StaffMemberUpdateProperties"
          }
        },
        "description": "The type used for update operations of the StaffMember."
      },
      "StaffMemberUpdateProperties": {
        "type": "object",
        "properties": {},
        "description": "The updatable properties of the StaffMember."
      },
      "ProvisioningState": {
        "type": "string",
        "description": "The status of the current operation.",
        "enum": [
          "Succeeded",
          "Failed",
          "Canceled",
          "Provisioning",
          "Updating",
          "Deleting",
          "Accepted"
        ],
        "x-ms-enum": {
          "name": "ProvisioningState",
          "modelAsString": true
        }
      },
      "ErrorResponse": {
        "description": "Error response.",
        "properties": {
          "error": {
            "$ref": "#/definitions/ErrorDefinition",
            "description": "The error details."
          }
        }
      },
      "ErrorDefinition": {
        "description": "Error definition.",
        "properties": {
          "code": {
            "description": "Service specific error code which serves as the substatus for the HTTP error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Description of the error.",
            "type": "string",
            "readOnly": true
          },
          "details": {
            "description": "Internal error details.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/ErrorDefinition"
            },
            "readOnly": true
          }
        }
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group.",
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "The API version to be used with the HTTP request."
      },
      "StaffMember.StaffMemberName": {
        "name": "StaffMemberName",
        "in": "path",
        "required": true,
        "description": "Name of a Staff Member",
        "pattern": "^[a-zA-Z0-9-]{3,24}$",
        "type": "string",
        "x-ms-parameter-location": "method"
      }
    }
  }