{
  "swagger": "2.0",
  "info": {
    "title": "Azure CIS FRP",
    "version": "2023-08-22",
    "description": "dscm Service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DstsApplication"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations DstsApplication": {
            "$ref": "./examples/DstsApplication_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dstsApplications": {
      "get": {
        "operationId": "DstsApplication_ListBySubscription",
        "tags": [
          "DstsApplication"
        ],
        "description": "List DstsApplicationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DstsApplication": {
            "$ref": "./examples/DstsApplication_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsApplications": {
      "get": {
        "operationId": "DstsApplication_ListByResourceGroup",
        "tags": [
          "DstsApplication"
        ],
        "description": "List DstsApplicationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DstsApplication": {
            "$ref": "./examples/DstsApplication_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dstsApplications/{resourceName}": {
      "get": {
        "operationId": "DstsApplication_Get",
        "tags": [
          "DstsApplication"
        ],
        "description": "Get a DstsApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DstsApplication": {
            "$ref": "./examples/DstsApplication_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DstsApplication_CreateOrUpdate",
        "tags": [
          "DstsApplication"
        ],
        "description": "Create a DstsApplicationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsApplicationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DstsApplicationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResource"
            }
          },
          "201": {
            "description": "Resource 'DstsApplicationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DstsApplicationResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DstsApplication": {
            "$ref": "./examples/DstsApplication_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApplicationAccount": {
      "type": "object",
      "description": "Application. Optional.",
      "properties": {
        "dstsInstance": {
          "type": "string",
          "description": "The dSTS instance where the Application resides. Required."
        },
        "applicationAccountName": {
          "type": "string",
          "description": "The name of the Application. Required."
        },
        "realms": {
          "type": "array",
          "description": "The realms of the application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "servicePrincipalNames": {
          "type": "array",
          "description": "The Service Principal Names of the application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "replyToAddresses": {
          "type": "array",
          "description": "The Reply Addresses of application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "groupId": {
          "type": "string",
          "description": "GUID of the dSCM Application group to which the Application belongs. Optional."
        },
        "groupName": {
          "type": "string",
          "description": "Group name of the dSCM Application group to which the Application belongs. Optional."
        },
        "isMfaEnabled": {
          "type": "boolean",
          "description": "If set to true, authenticating to the application requires MFA. Optional.",
          "default": true
        },
        "sawDeviceEnforcement": {
          "type": "string",
          "description": "If it is null, full SAW enforcement will apply to the application. Possible options are NoEnforcement, SAWFull, SAWElevatedOnly. Optional."
        },
        "isElevatedAccess": {
          "type": "boolean",
          "description": "If your application (service) is exclusively limited to System Metadata, Read-Only access levels, set it to false. Optional."
        },
        "isProduction": {
          "type": "boolean",
          "description": "If your application (service) is exclusively NonProduction, set it to false. Optional.",
          "default": true
        },
        "claimRules": {
          "type": "array",
          "description": "The claim rule which apply to this Application. Optional.",
          "items": {
            "$ref": "#/definitions/ApplicationClaimRule"
          },
          "x-ms-identifiers": []
        },
        "applicationClientIdentity": {
          "$ref": "#/definitions/ApplicationClientIdentity",
          "description": "Client identity when using the application as a client. Optional."
        }
      },
      "required": [
        "dstsInstance",
        "applicationAccountName"
      ]
    },
    "ApplicationClaimRule": {
      "type": "object",
      "description": "The claim rule which apply to Application.",
      "properties": {
        "clientIdentifier": {
          "$ref": "#/definitions/Claim",
          "description": "A claim used to identifiy client. e.g., group claim, application name claim, object id claim."
        },
        "claim": {
          "$ref": "#/definitions/Claim",
          "description": "The claim"
        },
        "clientIdentityOrigin": {
          "type": "string",
          "description": "The name of the original identity provider of the client. e.g., federation for user or dsts instance for applications."
        },
        "isRegionalEnforced": {
          "type": "boolean",
          "description": "If true, when the claim is scoped to service account group, only SCIs on the same dsts instance where the service accounts exist can get the claim.",
          "default": true
        }
      },
      "required": [
        "clientIdentifier",
        "claim",
        "clientIdentityOrigin"
      ]
    },
    "ApplicationClientIdentity": {
      "type": "object",
      "description": "Represents application client identity.",
      "properties": {
        "dmsiInfo": {
          "$ref": "#/definitions/DmsiInfo",
          "description": "Dmsi client."
        },
        "certificateBasedIdentity": {
          "$ref": "#/definitions/CertificateBasedIdentity",
          "description": "Certificate client."
        },
        "subjectNameBasedIdentity": {
          "$ref": "#/definitions/SubjectNameBasedIdentity",
          "description": "Subject name client."
        },
        "type": {
          "type": "string",
          "description": "The type of your client identity.e.g., Dmsi, Certificate, SubjectName."
        },
        "clientTokenIpRangeRestrictions": {
          "type": "array",
          "description": "Provide a list IP address ranges to restrict where this application's client token can be requested. Optional.",
          "items": {
            "$ref": "#/definitions/IpRange"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "type"
      ]
    },
    "ApplicationGroup": {
      "type": "object",
      "description": "The application group. Optional.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Group id. Optional."
        },
        "applicationGroupName": {
          "type": "string",
          "description": "Name of the Application Group. Required."
        },
        "applicationName": {
          "type": "string",
          "description": "Common Name for all Applications inside the group. Required."
        },
        "servicePrincipalNames": {
          "type": "array",
          "description": "The Service Principal Names of the application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "realms": {
          "type": "array",
          "description": "Actor realm. Optional.",
          "items": {
            "type": "string"
          }
        },
        "replyToAddresses": {
          "type": "array",
          "description": "The Reply Addresses of application. Optional.",
          "items": {
            "type": "string"
          }
        },
        "isMfaEnabled": {
          "type": "boolean",
          "description": "If set to true, authenticating to the application requires MFA. Optional.",
          "default": true
        },
        "isGlobalService": {
          "type": "boolean",
          "description": "If not set, default is regional service. Optional."
        },
        "sawDeviceEnforcement": {
          "type": "string",
          "description": "If it is null, full SAW enforcement will apply to the application. Possible options are NoEnforcement, SAWFull, SAWElevatedOnly. Optional."
        },
        "clientTokenIpRangeRestrictions": {
          "type": "array",
          "description": "Change.Remove client token ip range. Optional.",
          "items": {
            "$ref": "#/definitions/IpRange"
          },
          "x-ms-identifiers": []
        },
        "cloudId": {
          "type": "string",
          "description": "The cloud identifier for the application group. Possible options are PROD, blackforest, fairfax, mooncake, ex, rx. Required.",
          "default": "PROD"
        },
        "clientSubscriptions": {
          "type": "array",
          "description": "Client subscriptions. Optional.",
          "items": {
            "type": "string"
          }
        },
        "regions": {
          "type": "array",
          "description": "Specific dSTS instances to create applications on. Optional.",
          "items": {
            "type": "string"
          }
        },
        "claimRules": {
          "type": "array",
          "description": "The claim rules that apply to this Application Group. Optional.",
          "items": {
            "$ref": "#/definitions/ApplicationClaimRule"
          },
          "x-ms-identifiers": []
        },
        "applicationClientIdentity": {
          "$ref": "#/definitions/ApplicationClientIdentity",
          "description": "Client identity when using the application as a client. Optional."
        }
      },
      "required": [
        "applicationGroupName",
        "applicationName",
        "cloudId"
      ]
    },
    "CertificateBasedIdentity": {
      "type": "object",
      "description": "Represents certificate based authentication.",
      "properties": {
        "certificates": {
          "type": "array",
          "description": "Certificate",
          "items": {
            "$ref": "#/definitions/CertificateInfo"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "certificates"
      ]
    },
    "CertificateInfo": {
      "type": "object",
      "description": "Certification based application client identity.",
      "properties": {
        "thumbprint": {
          "type": "string",
          "description": "Certificate thumbprint information"
        },
        "expiryDate": {
          "type": "string",
          "description": "Certificate expiry date"
        }
      },
      "required": [
        "thumbprint",
        "expiryDate"
      ]
    },
    "Claim": {
      "type": "object",
      "description": "A claim used to identifiy client. e.g., group claim, application name claim, object id claim.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the claim"
        },
        "value": {
          "type": "string",
          "description": "Value of claim"
        }
      },
      "required": [
        "type",
        "value"
      ]
    },
    "DmsiInfo": {
      "type": "object",
      "description": "DMSI information",
      "properties": {
        "path": {
          "type": "string",
          "description": "DMSI path"
        },
        "region": {
          "type": "string",
          "description": "DMSI region"
        },
        "subscriptions": {
          "type": "array",
          "description": "DMSI subscriptions",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "path",
        "region",
        "subscriptions"
      ]
    },
    "DscmProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "DscmProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "DstsApplicationResource": {
      "type": "object",
      "description": "dstsApplication Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DstsApplicationResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DstsApplicationResourceListResult": {
      "type": "object",
      "description": "The response of a DstsApplicationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DstsApplicationResource items on this page",
          "items": {
            "$ref": "#/definitions/DstsApplicationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DstsApplicationResourceProperties": {
      "type": "object",
      "description": "dstsApplication properties",
      "properties": {
        "applicationAccount": {
          "$ref": "#/definitions/ApplicationAccount",
          "description": "Application."
        },
        "applicationGroup": {
          "$ref": "#/definitions/ApplicationGroup",
          "description": "The application group. Optional."
        },
        "provisioningState": {
          "$ref": "#/definitions/DscmProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      }
    },
    "IpRange": {
      "type": "object",
      "description": "Class for a contiguous range of IP Addresses.",
      "properties": {
        "fromIpAddress": {
          "type": "string",
          "description": "From IP address."
        },
        "toIpAddress": {
          "type": "string",
          "description": "To IP address."
        }
      },
      "required": [
        "fromIpAddress",
        "toIpAddress"
      ]
    },
    "SubjectNameBasedIdentity": {
      "type": "object",
      "description": "Represents application subject name base identity.",
      "properties": {
        "subjectNames": {
          "type": "array",
          "description": "List of subject names for sni based auth",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "subjectNames"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "Supported versions.",
      "enum": [
        "2023-08-22-preview",
        "2023-08-22"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_08_22_preview",
            "value": "2023-08-22-preview",
            "description": "API version 2023-08-22-preview"
          },
          {
            "name": "v2023_08_22",
            "value": "2023-08-22",
            "description": "API version 2023-08-22"
          }
        ]
      }
    }
  },
  "parameters": {}
}
