{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the 5G session management function deployment in a hybrid network resource provider.",
    "version": "2020-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/sessionManagementFunctions/{sessionManagementFunctionName}": {
      "delete": {
        "tags": [
          "sessionManagementFunctions"
        ],
        "operationId": "sessionManagementFunctions_Delete",
        "description": "Deletes the specified session management function resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sessionManagementFunctionName",
            "description": "The name of the session management function.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete session management function resource": {
            "$ref": "./examples/SmfNetworkFunctionDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "sessionManagementFunctions"
        ],
        "operationId": "sessionManagementFunctions_Get",
        "description": "Gets information about the specified session management function resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sessionManagementFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the session management function resource."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation is successful. The operation returns the resulting session management function resource.",
            "schema": {
              "$ref": "#/definitions/sessionManagementFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get session management function resource": {
            "$ref": "./examples/SmfNetworkFunctionGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "sessionManagementFunctions"
        ],
        "operationId": "sessionManagementFunctions_CreateOrUpdate",
        "description": "Creates or updates a session management function resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sessionManagementFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource name for the session management function resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/sessionManagementFunction"
            },
            "description": "Parameters supplied in the body to the create or update session management function operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully.",
            "schema": {
              "$ref": "#/definitions/sessionManagementFunction"
            }
          },
          "201": {
            "description": "Created or Updated. The header contains 'Azure-AsyncOperation' header pointing to an operation resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/sessionManagementFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create session management function resource": {
            "$ref": "./examples/SmfNetworkFunctionCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "sessionManagementFunctions"
        ],
        "operationId": "sessionManagementFunctions_UpdateTags",
        "description": "Updates the tags for the session management function resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sessionManagementFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource name for the virtual network function resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update session management function tags operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update is completed successfully. The operation returns the resulting session management function resource.",
            "schema": {
              "$ref": "#/definitions/sessionManagementFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update tags for session management function resource": {
            "$ref": "./examples/SmfNetworkFunctionUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/sessionManagementFunctions": {
      "get": {
        "description": "Lists all the session management function resources in a subscription.",
        "operationId": "sessionManagementFunctions_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of session management function resources.",
            "schema": {
              "$ref": "#/definitions/sessionManagementFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "sessionManagementFunctions"
        ],
        "x-ms-examples": {
          "List all session management function resources in subscription.": {
            "$ref": "./examples/SmfNetworkFunctionListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/sessionManagementFunctions": {
      "get": {
        "tags": [
          "sessionManagementFunctions"
        ],
        "operationId": "sessionManagementFunctions_ListByResourceGroup",
        "description": "Lists all the session management function resources in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of session management function resources.",
            "schema": {
              "$ref": "#/definitions/sessionManagementFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List session management function in resource group": {
            "$ref": "./examples/SmfNetworkFunctionListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "sessionManagementFunction": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/sessionManagementFunctionPropertiesFormat",
          "description": "session management function properties."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "session management function resource response."
    },
    "sessionManagementFunctionPropertiesFormat": {
      "description": "session management function properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the session management function resource."
        },
        "size": {
          "type": "string",
          "enum": [
            "small",
            "medium",
            "large"
          ],
          "description": "Size of SMF (small, medium, large.)",
          "x-ms-enum": {
            "name": "SMF size",
            "modelAsString": true
          }
        },
        "vnet": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Name of vnet with which to peer."
          }
        }
      }
    },
    "sessionManagementFunctionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/sessionManagementFunction"
          },
          "description": "A list of session management function resources in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for session management function API service call."
    }
  }
}
