{
  "swagger": "2.0",
  "info": {
    "title": "Private.GEMPrivateRP",
    "version": "2023-03-01-preview",
    "description": "Global Entry Manager Management API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "GlobalEntryManager"
    },
    {
      "name": "EntryProfile"
    },
    {
      "name": "EntryProfilePolicy"
    },
    {
      "name": "EntryRegion"
    },
    {
      "name": "EntryLink"
    }
  ],
  "paths": {
    "/providers/Private.GEMPrivateRP/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers": {
      "get": {
        "operationId": "GlobalEntryManager_ListBySubscription",
        "tags": [
          "GlobalEntryManager"
        ],
        "description": "List GlobalEntryManagerResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryLinks": {
      "get": {
        "operationId": "EntryLink_ListBySubscription",
        "tags": [
          "EntryLink"
        ],
        "description": "List EntryLinkResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles": {
      "get": {
        "operationId": "EntryProfile_ListBySubscription",
        "tags": [
          "EntryProfile"
        ],
        "description": "List EntryProfileResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles/{entryProfileName}/entryProfilePolicies": {
      "get": {
        "operationId": "EntryProfilePolicy_ListBySubscription",
        "tags": [
          "EntryProfilePolicy"
        ],
        "description": "List EntryProfilePolicyResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfilePolicyResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryRegions": {
      "get": {
        "operationId": "EntryRegion_ListBySubscription",
        "tags": [
          "EntryRegion"
        ],
        "description": "List EntryRegionResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers": {
      "get": {
        "operationId": "GlobalEntryManager_ListByResourceGroup",
        "tags": [
          "GlobalEntryManager"
        ],
        "description": "List GlobalEntryManagerResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}": {
      "get": {
        "operationId": "GlobalEntryManager_Get",
        "tags": [
          "GlobalEntryManager"
        ],
        "description": "Get a GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "GlobalEntryManager_Create",
        "tags": [
          "GlobalEntryManager"
        ],
        "description": "Create a GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GlobalEntryManager_Update",
        "tags": [
          "GlobalEntryManager"
        ],
        "description": "Update a GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResourceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalEntryManagerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "GlobalEntryManager_Delete",
        "tags": [
          "GlobalEntryManager"
        ],
        "description": "Delete a GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryLinks": {
      "get": {
        "operationId": "EntryLink_ListByGlobalEntryManagerResource",
        "tags": [
          "EntryLink"
        ],
        "description": "List EntryLinkResource resources by GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryLinks/{entryLinkName}": {
      "get": {
        "operationId": "EntryLink_Get",
        "tags": [
          "EntryLink"
        ],
        "description": "Get a EntryLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryLinkName",
            "in": "path",
            "description": "The name of the Global Entry Link",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EntryLink_Create",
        "tags": [
          "EntryLink"
        ],
        "description": "Create a EntryLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryLinkName",
            "in": "path",
            "description": "The name of the Global Entry Link",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EntryLink_Update",
        "tags": [
          "EntryLink"
        ],
        "description": "Update a EntryLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryLinkName",
            "in": "path",
            "description": "The name of the Global Entry Link",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryLinkResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryLinkResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EntryLink_Delete",
        "tags": [
          "EntryLink"
        ],
        "description": "Delete a EntryLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryLinkName",
            "in": "path",
            "description": "The name of the Global Entry Link",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles": {
      "get": {
        "operationId": "EntryProfile_ListByGlobalEntryManagerResource",
        "tags": [
          "EntryProfile"
        ],
        "description": "List EntryProfileResource resources by GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles/{entryProfileName}": {
      "get": {
        "operationId": "EntryProfile_Get",
        "tags": [
          "EntryProfile"
        ],
        "description": "Get a EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EntryProfile_Create",
        "tags": [
          "EntryProfile"
        ],
        "description": "Create a EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EntryProfile_Update",
        "tags": [
          "EntryProfile"
        ],
        "description": "Update a EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryProfileResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfileResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EntryProfile_Delete",
        "tags": [
          "EntryProfile"
        ],
        "description": "Delete a EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles/{entryProfileName}/entryProfilePolicies": {
      "get": {
        "operationId": "EntryProfilePolicy_ListByEntryProfileResource",
        "tags": [
          "EntryProfilePolicy"
        ],
        "description": "List EntryProfilePolicyResource resources by EntryProfileResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfilePolicyResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryProfiles/{entryProfileName}/entryProfilePolicies/{entryProfilePolicyName}": {
      "get": {
        "operationId": "EntryProfilePolicy_Get",
        "tags": [
          "EntryProfilePolicy"
        ],
        "description": "Get a EntryProfilePolicyResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfilePolicyName",
            "in": "path",
            "description": "The name of the Global Entry Profile Policy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfilePolicyResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EntryProfilePolicy_Create",
        "tags": [
          "EntryProfilePolicy"
        ],
        "description": "Create a EntryProfilePolicyResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfilePolicyName",
            "in": "path",
            "description": "The name of the Global Entry Profile Policy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryProfilePolicyResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfilePolicyResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfilePolicyResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EntryProfilePolicy_Update",
        "tags": [
          "EntryProfilePolicy"
        ],
        "description": "Update a EntryProfilePolicyResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfilePolicyName",
            "in": "path",
            "description": "The name of the Global Entry Profile Policy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryProfilePolicyResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryProfilePolicyResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EntryProfilePolicy_Delete",
        "tags": [
          "EntryProfilePolicy"
        ],
        "description": "Delete a EntryProfilePolicyResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfileName",
            "in": "path",
            "description": "The name of the Global Entry Profile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryProfilePolicyName",
            "in": "path",
            "description": "The name of the Global Entry Profile Policy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryRegions": {
      "get": {
        "operationId": "EntryRegion_ListByGlobalEntryManagerResource",
        "tags": [
          "EntryRegion"
        ],
        "description": "List EntryRegionResource resources by GlobalEntryManagerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.GEMPrivateRP/globalEntryManagers/{globalEntryManagerName}/entryRegions/{entryRegionName}": {
      "get": {
        "operationId": "EntryRegion_Get",
        "tags": [
          "EntryRegion"
        ],
        "description": "Get a EntryRegionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryRegionName",
            "in": "path",
            "description": "The name of the Global Entry Region",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EntryRegion_Create",
        "tags": [
          "EntryRegion"
        ],
        "description": "Create a EntryRegionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryRegionName",
            "in": "path",
            "description": "The name of the Global Entry Region",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EntryRegion_Update",
        "tags": [
          "EntryRegion"
        ],
        "description": "Update a EntryRegionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryRegionName",
            "in": "path",
            "description": "The name of the Global Entry Region",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntryRegionResourceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntryRegionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "EntryRegion_Delete",
        "tags": [
          "EntryRegion"
        ],
        "description": "Delete a EntryRegionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "globalEntryManagerName",
            "in": "path",
            "description": "The name of the Global Entry Manager",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "entryRegionName",
            "in": "path",
            "description": "The name of the Global Entry Region",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "BaseResourceProperties": {
      "type": "object",
      "description": "Properties for a base resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "EntryLinkId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.GEMPrivateRP/globalEntryManagers/entryLinks"
          }
        ]
      }
    },
    "EntryLinkProperties": {
      "type": "object",
      "description": "Global Entry Domain Properties.",
      "properties": {
        "entryProfileId": {
          "$ref": "#/definitions/EntryProfileId",
          "description": "The Id of the entry profile resource that the entry link is attached to.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "entryRegionId": {
          "$ref": "#/definitions/EntryRegionId",
          "description": "The Id of the entry region resource that the entry link is attached to.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "publicIpAddressId": {
          "$ref": "#/definitions/PublicIpAddressId",
          "description": "The ID of the IP address to use",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "entryProfileId",
        "entryRegionId",
        "publicIpAddressId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "EntryLinkResource": {
      "type": "object",
      "description": "A Global Entry Link Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntryLinkProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntryLinkResourceListResult": {
      "type": "object",
      "description": "The response of a EntryLinkResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EntryLinkResource items on this page",
          "items": {
            "$ref": "#/definitions/EntryLinkResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EntryLinkResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the EntryLinkResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EntryProfileId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.GEMPrivateRP/globalEntryManagers/entryProfiles"
          }
        ]
      }
    },
    "EntryProfilePolicyProperties": {
      "type": "object",
      "description": "Entry Profile Policy properties.",
      "properties": {
        "rules": {
          "type": "array",
          "description": "The rules of the Global Entry Profile Policy.",
          "items": {
            "$ref": "#/definitions/EntryProfilePolicyRule"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "rules"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "EntryProfilePolicyResource": {
      "type": "object",
      "description": "A Global Entry Profile Policy Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntryProfilePolicyProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntryProfilePolicyResourceListResult": {
      "type": "object",
      "description": "The response of a EntryProfilePolicyResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EntryProfilePolicyResource items on this page",
          "items": {
            "$ref": "#/definitions/EntryProfilePolicyResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EntryProfilePolicyResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the EntryProfilePolicyResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EntryProfilePolicyResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EntryProfilePolicyResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the EntryProfilePolicyResource.",
      "properties": {
        "rules": {
          "type": "array",
          "description": "The rules of the Global Entry Profile Policy.",
          "items": {
            "$ref": "#/definitions/EntryProfilePolicyRule"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "EntryProfilePolicyRule": {
      "type": "object",
      "description": "Global Entry Profile Policy Rule Properties.",
      "properties": {
        "name": {
          "$ref": "#/definitions/ResourceName",
          "description": "The name of the rule."
        },
        "sourceAddresses": {
          "type": "array",
          "description": "The source addresses.",
          "items": {
            "$ref": "#/definitions/IpRule"
          }
        },
        "destinationPort": {
          "$ref": "#/definitions/Port",
          "description": "The port that the traffic enters on at the edge of the Global Entry Manager."
        },
        "ipProtocols": {
          "type": "array",
          "description": "The protocol of the source.",
          "items": {
            "$ref": "#/definitions/IpProtocol"
          }
        },
        "translatedAddress": {
          "$ref": "#/definitions/IpAddress",
          "description": "The address in the exit virtual network that the Global Entry Manager is forwarding traffic to."
        },
        "translatedPort": {
          "$ref": "#/definitions/Port",
          "description": "The port of the translated address that the Global Entry Manager is forwarding traffic to."
        }
      },
      "required": [
        "name",
        "sourceAddresses",
        "destinationPort",
        "ipProtocols",
        "translatedAddress",
        "translatedPort"
      ]
    },
    "EntryProfileProperties": {
      "type": "object",
      "description": "Global Entry Profile Properties.",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "The DNS Name for the Global Entry Profile.",
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-\\.]{1,62}[a-zA-Z0-9]$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "exitVirtualNetwork": {
          "$ref": "#/definitions/ExitVirtualNetworkProperties",
          "description": "The Exit Virtual Network the Global Entry Profile is providing access to."
        },
        "entryLinkIds": {
          "type": "array",
          "description": "The Entry Links attached to this resource.",
          "items": {
            "$ref": "#/definitions/EntryLinkId"
          },
          "readOnly": true
        }
      },
      "required": [
        "dnsName",
        "exitVirtualNetwork"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "EntryProfileResource": {
      "type": "object",
      "description": "A Global Entry Profile Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntryProfileProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntryProfileResourceListResult": {
      "type": "object",
      "description": "The response of a EntryProfileResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EntryProfileResource items on this page",
          "items": {
            "$ref": "#/definitions/EntryProfileResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EntryProfileResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the EntryProfileResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EntryProfileResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EntryProfileResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the EntryProfileResource.",
      "properties": {
        "exitVirtualNetwork": {
          "$ref": "#/definitions/ExitVirtualNetworkPropertiesUpdate",
          "description": "The Exit Virtual Network the Global Entry Profile is providing access to."
        }
      }
    },
    "EntryRegionId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.GEMPrivateRP/globalEntryManagers/entryRegions"
          }
        ]
      }
    },
    "EntryRegionProperties": {
      "type": "object",
      "description": "Entry Region Properties.",
      "properties": {
        "entryLinkIds": {
          "type": "array",
          "description": "The Entry Links attached to this resource.",
          "items": {
            "$ref": "#/definitions/EntryLinkId"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "EntryRegionResource": {
      "type": "object",
      "description": "A Global Entry Region Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntryRegionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EntryRegionResourceListResult": {
      "type": "object",
      "description": "The response of a EntryRegionResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EntryRegionResource items on this page",
          "items": {
            "$ref": "#/definitions/EntryRegionResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EntryRegionResourceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in EntryRegionResource resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExitVirtualNetworkProperties": {
      "type": "object",
      "description": "Exit Virtual Network Properties.",
      "properties": {
        "virtualNetworkId": {
          "$ref": "#/definitions/VirtualNetworkId",
          "description": "The ID of the virtual network where traffic from the Global Entry Manager will land.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "useRemoteGateways": {
          "type": "boolean",
          "description": "The flag of whether to use the Transport Gateway in the Exit Virtual Network.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "virtualNetworkId",
        "useRemoteGateways"
      ]
    },
    "ExitVirtualNetworkPropertiesUpdate": {
      "type": "object",
      "description": "Exit Virtual Network Properties.",
      "properties": {
        "useRemoteGateways": {
          "type": "boolean",
          "description": "The flag of whether to use the Transport Gateway in the Exit Virtual Network.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "GlobalEntryManagerProperties": {
      "type": "object",
      "description": "Global Entry Manager Properties.",
      "properties": {
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupProperties",
          "description": "The Managed Resource Group for the Global Entry Manager.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseResourceProperties"
        }
      ]
    },
    "GlobalEntryManagerResource": {
      "type": "object",
      "description": "A Global Entry Manager Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GlobalEntryManagerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GlobalEntryManagerResourceListResult": {
      "type": "object",
      "description": "The response of a GlobalEntryManagerResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GlobalEntryManagerResource items on this page",
          "items": {
            "$ref": "#/definitions/GlobalEntryManagerResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GlobalEntryManagerResourceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in GlobalEntryManagerResource resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "IpAddress": {
      "type": "string",
      "description": "An IPv4/IPv6 address.",
      "pattern": "^(?:\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}|\\[[0-9A-Fa-f:]+\\]|\\*)$"
    },
    "IpProtocol": {
      "type": "string",
      "description": "Protocol for the traffic rule",
      "enum": [
        "TCP",
        "UDP",
        "ICMP",
        "Any"
      ],
      "x-ms-enum": {
        "name": "IpProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "TCP",
            "value": "TCP",
            "description": "Transmission Control Protocol"
          },
          {
            "name": "UDP",
            "value": "UDP",
            "description": "User Datagram Protocol"
          },
          {
            "name": "ICMP",
            "value": "ICMP",
            "description": "Internet Control Message Protocol"
          },
          {
            "name": "Any",
            "value": "Any",
            "description": "Any protocol"
          }
        ]
      }
    },
    "IpRule": {
      "type": "string",
      "description": "An IPv4/IPv6 address/prefix, or wildcard.",
      "pattern": "^(?:\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}(?:\\/\\d{1,2})?|\\[[0-9A-Fa-f:]+\\](?:\\/\\d{1,3})?|\\*)$"
    },
    "ManagedResourceGroupProperties": {
      "type": "object",
      "description": "Managed Resource Group Properties.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Name of the Managed Resource Group."
        },
        "location": {
          "type": "string",
          "description": "The Managed Resource Group Region is associated to."
        }
      }
    },
    "Port": {
      "type": "string",
      "description": "The port number of a TCP/UDP endpoint.",
      "pattern": "^([1-9]\\d{0,3}|[1-5]\\d{4}|6[0-4]\\d{3}|65[0-4]\\d{2}|655[0-2]\\d|6553[0-5])$"
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "PublicIpAddressId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/publicIPAddresss"
          }
        ]
      }
    },
    "ResourceName": {
      "type": "string",
      "description": "The name of a resource.",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
    },
    "VirtualNetworkId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/virtualNetworks"
          }
        ]
      }
    }
  },
  "parameters": {}
}
