{
  "swagger": "2.0",
  "info": {
    "title": "Managed Operations control plane service",
    "version": "2023-04-01-preview",
    "description": "Managed Operations API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ExtManagedOperations"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Private.Poc360/extManagedOperations/{extManagedOperationsName}": {
      "get": {
        "operationId": "ExtManagedOperations_Get",
        "tags": [
          "ExtManagedOperations"
        ],
        "description": "Get a ExtManagedOperation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "extManagedOperationsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtManagedOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtManagedOperations_Get": {
            "$ref": "./examples/ExtManagedOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ExtManagedOperations_Create",
        "tags": [
          "ExtManagedOperations"
        ],
        "description": "Create a ExtManagedOperation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "extManagedOperationsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtManagedOperation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExtManagedOperation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExtManagedOperation"
            }
          },
          "201": {
            "description": "Resource 'ExtManagedOperation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExtManagedOperation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtManagedOperations_Create": {
            "$ref": "./examples/ExtManagedOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ExtManagedOperations_Delete",
        "tags": [
          "ExtManagedOperations"
        ],
        "description": "Delete a ExtManagedOperation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "extManagedOperationsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExtManagedOperations_Delete": {
            "$ref": "./examples/ExtManagedOperations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Private.Poc360/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AzureMonitorInformation": {
      "type": "object",
      "description": "Azure Monitor Insights service's information.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the Azure Monitor extension.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Azure Monitor service.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "If the provisioning state is 'Failed', contains the error leading to failure.",
          "readOnly": true
        }
      },
      "required": [
        "provisioningState"
      ]
    },
    "ChangeTrackingConfiguration": {
      "type": "object",
      "description": "Configuration for the Change Tracking and Inventory service.",
      "properties": {
        "logAnalyticsWorkspaceId": {
          "type": "string",
          "description": "Log analytics workspace resource ID used by the services."
        }
      },
      "required": [
        "logAnalyticsWorkspaceId"
      ]
    },
    "ChangeTrackingInformation": {
      "type": "object",
      "description": "Change Tracking and Inventory service's information.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the Change Tracking extension.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Change Tracking service.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "If the provisioning state is 'Failed', contains the error leading to failure.",
          "readOnly": true
        }
      },
      "required": [
        "provisioningState"
      ]
    },
    "ExtManagedOperation": {
      "type": "object",
      "description": "The managed operations resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtManagedOperationsProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExtManagedOperationsProperties": {
      "type": "object",
      "description": "Properties of the Managed Ops resource.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "SKU details for this resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "initialConfiguration": {
          "$ref": "#/definitions/InitialConfiguration",
          "description": "Initial configuration used when provisioning the resource."
        },
        "services": {
          "$ref": "#/definitions/ServiceInformation",
          "description": "Services provisioned by this resource.",
          "readOnly": true
        }
      },
      "required": [
        "sku",
        "initialConfiguration",
        "services"
      ]
    },
    "GuestConfigurationInformation": {
      "type": "object",
      "description": "Azure Policy and Machine Configuration service's information.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the Guest Configuration extension. Null for Arc machines as the extension is built into the machine.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Guest Configuration service.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "If the provisioning state is 'Failed', contains the error leading to failure.",
          "readOnly": true
        }
      },
      "required": [
        "provisioningState"
      ]
    },
    "InitialConfiguration": {
      "type": "object",
      "description": "Initial configuration parameters.",
      "properties": {
        "changeTrackingAndInventory": {
          "$ref": "#/definitions/ChangeTrackingConfiguration",
          "description": "Configuration for the Change Tracking and Inventory service."
        }
      },
      "required": [
        "changeTrackingAndInventory"
      ]
    },
    "ProvisioningError": {
      "type": "object",
      "description": "Contains the information regarding the error that lead to provisioning failure.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code corresponding to the type of provisioning failure.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Detailed message explaining the cause of the provisioning failure.",
          "readOnly": true
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource has begun provisioning."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "ServiceInformation": {
      "type": "object",
      "description": "Services provisioned by this resource.",
      "properties": {
        "changeTrackingAndInventory": {
          "$ref": "#/definitions/ChangeTrackingInformation",
          "description": "Change Tracking and Inventory service's information.",
          "readOnly": true
        },
        "azureMonitorInsights": {
          "$ref": "#/definitions/AzureMonitorInformation",
          "description": "Azure Monitor Insights service's information.",
          "readOnly": true
        },
        "azureUpdateManager": {
          "$ref": "#/definitions/UpdateManagerInformation",
          "description": "Azure Update Manager service's information.",
          "readOnly": true
        },
        "azurePolicyAndMachineConfiguration": {
          "$ref": "#/definitions/GuestConfigurationInformation",
          "description": "Azure Policy and Machine Configuration service's information.",
          "readOnly": true
        }
      },
      "required": [
        "changeTrackingAndInventory",
        "azureMonitorInsights",
        "azureUpdateManager",
        "azurePolicyAndMachineConfiguration"
      ]
    },
    "Sku": {
      "type": "object",
      "description": "Specifies the service plan for this resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU."
        },
        "tier": {
          "type": "string",
          "description": "Pricing tier of the SKU."
        }
      },
      "required": [
        "name",
        "tier"
      ]
    },
    "UpdateManagerInformation": {
      "type": "object",
      "description": "Azure Update Manager service's information.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the Update Manager extension.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Update Manager service.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "If the provisioning state is 'Failed', contains the error leading to failure.",
          "readOnly": true
        }
      },
      "required": [
        "provisioningState"
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
