emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    azure-resource-provider-folder: "resource-manager"
    emitter-output-dir: "{project-root}/.."
    output-file: "{azure-resource-provider-folder}/{service-name}/{version-status}/{version}/azurevalidation.json"
    examples-directory: "{project-root}/examples"
    omit-unreachable-types: true
linter:
  extends:
    - "@azure-tools/typespec-azure-resource-manager/all"
  disable:
    "@azure-tools/typespec-azure-resource-manager/arm-common-types-version": "New rule"
