{
  "swagger": "2.0",
  "info": {
    "description": "The resources in this swagger specification will be used to manage the service management container and sub components.",
    "title": "ServiceManagementContainer",
    "version": "2023-02-20-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "description": "Actions on Service Management Container",
      "name": "ServiceManagementContainer"
    },
    {
      "description": "Actions on RolloutTier",
      "name": "RolloutTier"
    },
    {
      "description": "Everything about RolloutScript",
      "name": "RolloutScript"
    },
    {
      "description": "Actions on UpdateSpec",
      "name": "UpdateSpec"
    },
    {
      "description": "Everything about Rollout",
      "name": "Rollout"
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/rolloutScripts/{rolloutScriptName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutScriptNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutScript"
        ],
        "operationId": "RolloutScript_Delete",
        "summary": "Delete Rollout Script",
        "x-ms-examples": {
          "RolloutScriptDelete": {
            "$ref": "./examples/GCA/RolloutScriptDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutScriptNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutScript"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutScript"
        ],
        "operationId": "RolloutScript_Get",
        "summary": "Get Rollout Script",
        "x-ms-examples": {
          "RolloutScriptGet": {
            "$ref": "./examples/GCA/RolloutScriptGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutScriptNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RolloutScript"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutScript"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutScript"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutScript"
        ],
        "operationId": "RolloutScript_CreateOrUpdate",
        "summary": "Create a Rollout Script object",
        "x-ms-examples": {
          "RolloutScriptCreateOrUpdate": {
            "$ref": "./examples/GCA/RolloutScriptCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutScriptNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update rollout script tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting rollout script resource.",
            "schema": {
              "$ref": "#/definitions/RolloutScript"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutScript"
        ],
        "operationId": "RolloutScript_UpdateTags",
        "summary": "Updates a rollout script tags.",
        "x-ms-examples": {
          "RolloutScriptUpdateTags": {
            "$ref": "./examples/GCA/RolloutScriptUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/rolloutScripts": {
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of Rollout Script resources.",
            "schema": {
              "$ref": "#/definitions/RolloutScriptListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutScript"
        ],
        "operationId": "RolloutScript_ListByServiceManagementContainer",
        "summary": "Lists all the RolloutScripts in a Service Management Container.",
        "x-ms-examples": {
          "RolloutScriptListByServiceManagementContainer": {
            "$ref": "./examples/GCA/RolloutScriptListByServiceManagementContainer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updatespecs": {
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of UpdateSpec resources.",
            "schema": {
              "$ref": "#/definitions/UpdateSpecListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "UpdateSpec"
        ],
        "operationId": "UpdateSpec_ListByServiceManagementContainer",
        "summary": "Lists all the UpdateSpecs in a Service Management Container.",
        "x-ms-examples": {
          "UpdateSpecListByServiceManagementContainer": {
            "$ref": "./examples/GCA/UpdateSpecListByServiceManagementContainer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/RolloutTiers": {
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of rollout tier resources.",
            "schema": {
              "$ref": "#/definitions/RolloutTierListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutTier"
        ],
        "operationId": "RolloutTier_ListByServiceManagementContainer",
        "summary": "Lists all the Rollout Tiers in a Service Management Container.",
        "x-ms-examples": {
          "RolloutTierListByServiceManagementContainer": {
            "$ref": "./examples/GCA/RolloutTierListByServiceManagementContainer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/rolloutTiers/{rolloutTierName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutTierNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutTier"
        ],
        "operationId": "RolloutTier_Delete",
        "summary": "Delete Rollout Tier",
        "x-ms-examples": {
          "RolloutTierDelete": {
            "$ref": "./examples/GCA/RolloutTierDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutTierNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutTier"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Order not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutTier"
        ],
        "operationId": "RolloutTier_Get",
        "summary": "Get Rollout Tier",
        "x-ms-examples": {
          "RolloutTierGet": {
            "$ref": "./examples/GCA/RolloutTierGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutTierNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RolloutTier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutTier"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutTier"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutTier"
        ],
        "operationId": "RolloutTier_CreateOrUpdate",
        "summary": "Create a rollout tier object",
        "x-ms-examples": {
          "RolloutTierCreateOrUpdate": {
            "$ref": "./examples/GCA/RolloutTierCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutTierNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update rollout tier tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting rollout script resource.",
            "schema": {
              "$ref": "#/definitions/RolloutTier"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutTier"
        ],
        "operationId": "RolloutTier_UpdateTags",
        "summary": "Updates a rollout tier tags.",
        "x-ms-examples": {
          "RolloutTierUpdateTags": {
            "$ref": "./examples/GCA/RolloutTierUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_Delete",
        "summary": "Delete a rollout",
        "x-ms-examples": {
          "RolloutDelete": {
            "$ref": "./examples/GCA/RolloutDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Rollout"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_Get",
        "summary": "Get rollout",
        "x-ms-examples": {
          "RolloutGet": {
            "$ref": "./examples/GCA/RolloutGet.json"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Rollout"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Rollout"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Rollout"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_CreateOrUpdate",
        "summary": "Create a new rollout",
        "x-ms-examples": {
          "RolloutCreateOrUpdate": {
            "$ref": "./examples/GCA/RolloutCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update rollout tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting rollout resource.",
            "schema": {
              "$ref": "#/definitions/Rollout"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_UpdateTags",
        "summary": "Updates a rollout tags.",
        "x-ms-examples": {
          "RolloutUpdateTags": {
            "$ref": "./examples/GCA/RolloutUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/start": {
      "post": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_Start",
        "summary": "Starts the specified rollout",
        "x-ms-examples": {
          "RolloutStart": {
            "$ref": "./examples/GCA/RolloutStart.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/cancel": {
      "post": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_Cancel",
        "summary": "Cancels the specified rollout",
        "x-ms-examples": {
          "RolloutCancel": {
            "$ref": "./examples/GCA/RolloutCancel.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/continue": {
      "post": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_Continue",
        "summary": "When a rollout is waiting on a manual gate to proceed, this action causes it to continue.",
        "x-ms-examples": {
          "RolloutContinue": {
            "$ref": "./examples/GCA/RolloutContinue.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/suspend": {
      "post": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_Suspend",
        "summary": "Suspends the specified rollout",
        "x-ms-examples": {
          "RolloutContinue": {
            "$ref": "./examples/GCA/RolloutSuspend.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/resume": {
      "post": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_Resume",
        "summary": "Resumes the specified rollout if it has been previously suspended",
        "x-ms-examples": {
          "RolloutContinue": {
            "$ref": "./examples/GCA/RolloutResume.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/updateRolloutState": {
      "post": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_UpdateRolloutState",
        "summary": "Update state of the rollout",
        "x-ms-examples": {
          "RolloutUpdateState": {
            "$ref": "./examples/GCA/RolloutUpdateState.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts": {
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutListResult"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Rollout"
        ],
        "operationId": "Rollout_ListByUpdateSpec",
        "summary": "Lists all the Rollouts in an UpdateSpec",
        "x-ms-examples": {
          "RolloutListByUpdateSpec": {
            "$ref": "./examples/GCA/RolloutListByUpdateSpec.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}": {
      "put": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainer"
            }
          },
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "ServiceManagementContainer"
        ],
        "description": "Create a new service management container.  Can be created without the next creation of SDP objects. \n",
        "operationId": "ServiceManagementContainer_CreateOrUpdate",
        "summary": "Create a new service management container",
        "x-ms-examples": {
          "ServiceManagementContainerCreateOrUpdate": {
            "$ref": "./examples/GCA/ServiceManagementContainerCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update service management container tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting service management container resource.",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "ServiceManagementContainer"
        ],
        "operationId": "ServiceManagementContainer_UpdateTags",
        "summary": "Updates a service management container tags.",
        "x-ms-examples": {
          "ServiceManagementContainerUpdateTags": {
            "$ref": "./examples/GCA/ServiceManagementContainerUpdateTags.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "ServiceManagementContainer"
        ],
        "operationId": "ServiceManagementContainer_Delete",
        "summary": "Delete the management container",
        "x-ms-examples": {
          "ServiceManagementContainerDelete": {
            "$ref": "./examples/GCA/ServiceManagementContainerDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "ServiceManagementContainer"
        ],
        "operationId": "ServiceManagementContainer_Get",
        "summary": "Get service management container",
        "x-ms-examples": {
          "ServiceManagementContainerGet": {
            "$ref": "./examples/GCA/ServiceManagementContainerGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainerListResult"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "ServiceManagementContainer"
        ],
        "operationId": "ServiceManagementContainer_ListByResourceGroup",
        "summary": "Lists all the Service Management Container in a resource group",
        "x-ms-examples": {
          "ServiceManagementContainerListByResourceGroup": {
            "$ref": "./examples/GCA/ServiceManagementContainerListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/serviceManagementContainers": {
      "get": {
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ServiceManagementContainerListResult"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "ServiceManagementContainer"
        ],
        "operationId": "ServiceManagementContainer_ListBySubscription",
        "summary": "Lists all the Service Management Containers in a subscription.",
        "x-ms-examples": {
          "ServiceManagementContainerListBySubscription": {
            "$ref": "./examples/GCA/ServiceManagementContainerListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}": {
      "put": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSpec"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateSpec"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateSpec"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "UpdateSpec"
        ],
        "description": "UpdateSpec represents the change to the system – the set of CGVs,  that operator want to provision this system to. It does not matter whether it  is Major/Minor update, a bug fix or a configuration\n",
        "operationId": "UpdateSpec_CreateOrUpdate",
        "summary": "Create an Update Spec object script",
        "x-ms-examples": {
          "UpdateSpecCreateOrUpdate": {
            "$ref": "./examples/GCA/UpdateSpecCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update update spec tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting update spec resource.",
            "schema": {
              "$ref": "#/definitions/UpdateSpec"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "UpdateSpec"
        ],
        "operationId": "UpdateSpec_UpdateTags",
        "summary": "Updates an update spec tags.",
        "x-ms-examples": {
          "UpdateSpecUpdateTags": {
            "$ref": "./examples/GCA/UpdateSpecUpdateTags.json"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "UpdateSpec"
        ],
        "operationId": "UpdateSpec_Delete",
        "summary": "Delete Update Spec",
        "x-ms-examples": {
          "UpdateSpecDelete": {
            "$ref": "./examples/GCA/UpdateSpecDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateSpec"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "UpdateSpec"
        ],
        "operationId": "UpdateSpec_Get",
        "summary": "Get UpdateSpec",
        "x-ms-examples": {
          "UpdateSpecGet": {
            "$ref": "./examples/GCA/UpdateSpecGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/statuses/default": {
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutStatus"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutStatus"
        ],
        "operationId": "RolloutStatuses_Get",
        "summary": "Get the Rollout object with status",
        "x-ms-examples": {
          "RolloutStatusesGet": {
            "$ref": "./examples/GCA/RolloutStatusGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceManagementContainers/{serviceManagementContainerName}/updateSpecs/{updateSpecName}/rollouts/{rolloutName}/statuses": {
      "get": {
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ServiceManagementContainerNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/UpdateSpecNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/RolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RolloutStatusListResult"
            }
          },
          "400": {
            "description": "Invalid resourceId"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "RolloutStatus"
        ],
        "operationId": "RolloutStatuses_ListByRollout",
        "summary": "Lists all the Rollouts in an UpdateSpecification",
        "x-ms-examples": {
          "RolloutListByRollout": {
            "$ref": "./examples/GCA/RolloutStatusListByRollout.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "GateAction": {
      "type": "object",
      "properties": {
        "preCheck": {
          "$ref": "#/definitions/PreCheck",
          "description": "Pre-action to be applied to rollout tiers.",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "gates": {
          "type": "array",
          "description": "Post-actions to be applied to rollout tiers.",
          "items": {
            "$ref": "#/definitions/Gate"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      },
      "description": "Actions to be associated with an individual rollout site."
    },
    "RolloutListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rollout"
          },
          "description": "A list of Rollouts."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of Rollouts."
    },
    "Rollout": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RolloutPropertiesFormat",
          "description": "Rollout properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RolloutPropertiesFormat": {
      "description": "Rollout properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ],
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the rollout resource."
        },
        "rolloutScriptReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "rolloutTiers": {
          "items": {
            "$ref": "#/definitions/RolloutTierSnapshot"
          },
          "description": "Rollout tier snapshots.",
          "type": "array",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "configurationGroupValueChanges": {
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationGroupValueChange"
          },
          "description": "Configuration group value changes.",
          "type": "object",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "networkServiceDesignVersionChange": {
          "$ref": "#/definitions/NetworkServiceDesignVersionChange",
          "description": "Network service design version change.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "restrictions": {
          "description": "List of Tiers/SiteNetworkServices that should be excluded from this UpdateSpecification",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    },
    "RolloutTierSnapshot": {
      "type": "object",
      "required": [
        "siteNetworkServices"
      ],
      "description": "Representation of a rollout tier progress.",
      "properties": {
        "siteNetworkServices": {
          "items": {
            "$ref": "#/definitions/SiteNetworkServiceSnapshot"
          },
          "type": "array",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "excludedSiteNetworkServices": {
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "description": "List of excluded SiteNetworkServices from the tier.",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      }
    },
    "SiteNetworkServiceSnapshot": {
      "type": "object",
      "description": "Representation of an individual site's rollout progress, including its SNS, pre-action and post-action",
      "properties": {
        "siteNetworkServiceReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "Reference to an individual SiteNetworkService."
        },
        "preCheck": {
          "$ref": "#/definitions/PreCheckSnapshot",
          "description": "The pre-action associated with the site."
        },
        "gates": {
          "items": {
            "$ref": "#/definitions/GateSnapshot"
          },
          "type": "array",
          "description": "The post-actions associated with the site."
        }
      }
    },
    "PreCheckSnapshot": {
      "type": "object",
      "description": "State of an PreCheck.",
      "properties": {
        "action": {
          "$ref": "#/definitions/PreCheck",
          "readOnly": true
        }
      }
    },
    "GateSnapshot": {
      "type": "object",
      "description": "State of an Gate.",
      "properties": {
        "action": {
          "$ref": "#/definitions/Gate",
          "readOnly": true
        }
      }
    },
    "PreCheck": {
      "description": "Behavior modifiers or pre-actions executed before convergence on the SiteNetworkService begins.",
      "enum": [
        "FailOnUnexpected",
        "ProceedOnUnexpected"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PreCheck",
        "modelAsString": true
      }
    },
    "Gate": {
      "description": "Action to be performed after a SiteNetworkService is converged.",
      "type": "object",
      "required": [
        "actionType"
      ],
      "properties": {
        "actionType": {
          "description": "Type of the Gate; one of WaitingGate or ManualGate.",
          "enum": [
            "WaitingGate",
            "ManualGate"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Gate",
            "modelAsString": true
          }
        },
        "durationInMinutes": {
          "description": "Time in minutes AOSM should wait before proceeding to the next SiteNetworkService, only applicable when Gate is a WaitingGate.",
          "type": "integer",
          "example": "10"
        }
      }
    },
    "RolloutScriptListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RolloutScript"
          },
          "description": "A list of Rollout Scripts."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of Rollout Scripts."
    },
    "RolloutScript": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RolloutScriptPropertiesFormat",
          "description": "RolloutScript properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RolloutScriptPropertiesFormat": {
      "description": "RolloutScript properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ],
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the rollout script resource."
        },
        "rolloutTierActions": {
          "items": {
            "$ref": "#/definitions/RolloutTierActionProperties"
          },
          "type": "array",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "The rollout tier action list."
        }
      }
    },
    "RolloutTierListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RolloutTier"
          },
          "description": "A list of RolloutTiers."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of RolloutTiers."
    },
    "RolloutTier": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RolloutTierPropertiesFormat",
          "description": "Rollout Tier properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RolloutTierPropertiesFormat": {
      "description": "Rollout Tier properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ],
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the rollout tier resource."
        },
        "excludedSiteNetworkServices": {
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "orderedSiteNetworkServices": {
          "description": "An ordered list of SiteNetworkServices",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      }
    },
    "RolloutTierActionProperties": {
      "type": "object",
      "properties": {
        "rolloutTierReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "inTierActions": {
          "description": "Actions to perform between SiteNetworkServices within a RolloutTier.",
          "$ref": "#/definitions/GateAction",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "betweenTierActions": {
          "description": "Actions to perform between tiers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Gate"
          }
        }
      }
    },
    "ServiceManagementContainerListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceManagementContainer"
          },
          "description": "A list of ServiceManagementContainers."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of ServiceManagementContainers."
    },
    "ServiceManagementContainer": {
      "properties": {
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "UpdateSpecListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdateSpec"
          },
          "description": "A list of UpdateSpecs."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of UpdateSpecs."
    },
    "UpdateSpec": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpdateSpecPropertiesFormat",
          "description": "UpdateSpec properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "UpdateSpecPropertiesFormat": {
      "description": "UpdateSpec properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ],
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the update spec resource."
        },
        "configurationGroupValueChanges": {
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationGroupValueChange"
          },
          "type": "object",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "networkServiceDesignVersionChange": {
          "$ref": "#/definitions/NetworkServiceDesignVersionChange",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "restrictions": {
          "description": "List of Tiers/SiteNetworkServices it cannot be applied to",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      }
    },
    "NetworkServiceDesignVersionChange": {
      "type": "object",
      "required": [
        "publisherName",
        "publisherScope",
        "newNetworkServiceDesignGroupName",
        "newNetworkServiceDesignVersionName",
        "networkServiceDesignVersionOfferingLocation"
      ],
      "properties": {
        "publisherName": {
          "type": "string",
          "description": "The publisher name for the site network service."
        },
        "publisherScope": {
          "$ref": "./common.json#/definitions/PublisherScope",
          "description": "The scope of the publisher."
        },
        "existingNetworkServiceDesignGroupName": {
          "type": "string",
          "description": "The current network service design group name for the site network service."
        },
        "newNetworkServiceDesignGroupName": {
          "type": "string",
          "description": "The desired network service design group name for the site network service."
        },
        "existingNetworkServiceDesignVersionName": {
          "type": "string",
          "description": "The current network service design version for the site network service.",
          "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$"
        },
        "newNetworkServiceDesignVersionName": {
          "type": "string",
          "description": "The desired network service design version for the site network service.",
          "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$"
        },
        "networkServiceDesignVersionOfferingLocation": {
          "type": "string",
          "description": "The location of the network service design offering."
        }
      },
      "description": "Change to network service design version."
    },
    "ConfigurationGroupValueChange": {
      "type": "object",
      "required": [
        "newConfigurationGroupValueReference"
      ],
      "properties": {
        "existingConfigurationGroupValueReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "newConfigurationGroupValueReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The goal state of the site network service resource. This has references to the configuration group value objects that describe the desired state of the site network service.",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      }
    },
    "RolloutDetailedState": {
      "type": "object",
      "readOnly": true,
      "description": "Detailed state of rollout properties.",
      "properties": {
        "rolloutInfo": {
          "readOnly": true,
          "$ref": "#/definitions/rolloutInfo"
        },
        "rolloutTiers": {
          "items": {
            "$ref": "#/definitions/RolloutTierRolloutState"
          },
          "type": "array",
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    },
    "RolloutTierRolloutState": {
      "type": "object",
      "properties": {
        "rolloutTierReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "x-ms-mutability": [
            "read"
          ]
        },
        "rolloutInfo": {
          "readOnly": true,
          "$ref": "#/definitions/rolloutInfo"
        },
        "interTierActionsRolloutState": {
          "readOnly": true,
          "$ref": "#/definitions/GateActionRolloutStates"
        },
        "siteNetworkServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SiteNetworkServiceRolloutState"
          },
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    },
    "SiteNetworkServiceRolloutState": {
      "type": "object",
      "properties": {
        "siteNetworkServiceReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "readOnly": true
        },
        "rolloutInfo": {
          "$ref": "#/definitions/rolloutInfo",
          "readOnly": true
        },
        "intraTierActionsRolloutState": {
          "$ref": "#/definitions/GateActionRolloutStates",
          "readOnly": true
        }
      }
    },
    "GateActionRolloutStates": {
      "type": "object",
      "properties": {
        "preActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PreActionRolloutState"
          },
          "readOnly": true
        },
        "postActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PostActionRolloutState"
          },
          "readOnly": true
        }
      }
    },
    "PreActionRolloutState": {
      "type": "object",
      "properties": {
        "action": {
          "$ref": "./common.json#/definitions/PreAction",
          "readOnly": true
        },
        "rolloutInfo": {
          "$ref": "#/definitions/rolloutInfo",
          "readOnly": true
        }
      }
    },
    "PostActionRolloutState": {
      "type": "object",
      "properties": {
        "action": {
          "$ref": "./common.json#/definitions/PostAction",
          "readOnly": true
        },
        "rolloutInfo": {
          "$ref": "#/definitions/rolloutInfo",
          "readOnly": true
        }
      }
    },
    "rolloutInfo": {
      "description": "An object containing status and metadata of a rollout.",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "Ready",
            "Queued",
            "Running",
            "Canceling",
            "Canceled",
            "Suspending",
            "Suspended",
            "Completed",
            "Failed",
            "WaitingForUserInput"
          ],
          "description": "Status of an individual rollout action.",
          "type": "string",
          "x-ms-enum": {
            "name": "status",
            "modelAsString": true
          }
        },
        "startTime": {
          "type": "string",
          "description": "Start time of the rollout action.",
          "format": "date-time"
        },
        "endTime": {
          "type": "string",
          "description": "End time of the rollout action.",
          "format": "date-time"
        },
        "lastUpdatedTime": {
          "type": "string",
          "description": "Last updated time of the rollout action.",
          "format": "date-time"
        },
        "errorInfo": {
          "type": "string",
          "description": "Error message."
        }
      },
      "readOnly": true
    },
    "RolloutStatus": {
      "description": "Status of a rollout.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RolloutStatusProperties",
          "description": "Rollout progress status properties."
        }
      },
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RolloutStatusProperties": {
      "description": "Rollout properties.",
      "type": "object",
      "properties": {
        "rolloutTiers": {
          "items": {
            "$ref": "#/definitions/RolloutTierStatus"
          },
          "type": "array",
          "x-ms-mutability": [
            "read"
          ]
        },
        "configurationGroupValueChanges": {
          "additionalProperties": {
            "$ref": "#/definitions/ConfigurationGroupValueChange"
          },
          "type": "object",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "networkServiceDesignVersionChange": {
          "$ref": "#/definitions/NetworkServiceDesignVersionChange",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "restrictions": {
          "description": "List of Tiers/SiteNetworkServices that should be excluded from this UpdateSpecification",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "x-ms-mutability": [
            "read"
          ]
        },
        "rolloutInfo": {
          "$ref": "#/definitions/rolloutInfo",
          "description": "Overall state and metadata of the rollout.",
          "readOnly": true
        }
      }
    },
    "RolloutTierStatus": {
      "type": "object",
      "description": "Representation of a rollout tier's status.",
      "properties": {
        "siteNetworkServices": {
          "items": {
            "$ref": "#/definitions/SiteNetworkServiceStatus"
          },
          "type": "array",
          "x-ms-mutability": [
            "read"
          ]
        },
        "excludedSiteNetworkServices": {
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "type": "array",
          "description": "List of excluded SiteNetworkServices from the tier.",
          "x-ms-mutability": [
            "read"
          ]
        },
        "rolloutInfo": {
          "$ref": "#/definitions/rolloutInfo",
          "description": "State and metadata of the tier.",
          "readOnly": true
        }
      }
    },
    "SiteNetworkServiceStatus": {
      "type": "object",
      "description": "Representation of an individual site's rollout status, including its SNS, pre-action and post-action and their statuses",
      "properties": {
        "siteNetworkServiceReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "Reference to an individual SiteNetworkService.",
          "readOnly": true
        },
        "rolloutInfo": {
          "$ref": "#/definitions/rolloutInfo",
          "description": "State and metadata of the Rollout action.",
          "readOnly": true
        },
        "preCheck": {
          "$ref": "#/definitions/PreCheckRolloutState",
          "description": "Status of the pre-action associated with the site."
        },
        "gates": {
          "items": {
            "$ref": "#/definitions/GateRolloutState"
          },
          "type": "array",
          "description": "Statuses of the post-actions associated with the site."
        }
      }
    },
    "PreCheckRolloutState": {
      "type": "object",
      "description": "State of an PreCheck.",
      "properties": {
        "action": {
          "$ref": "#/definitions/PreCheck",
          "readOnly": true
        },
        "rolloutInfo": {
          "$ref": "#/definitions/rolloutInfo",
          "readOnly": true
        }
      }
    },
    "GateRolloutState": {
      "type": "object",
      "description": "State of an Gate.",
      "properties": {
        "action": {
          "$ref": "#/definitions/Gate",
          "readOnly": true
        },
        "rolloutInfo": {
          "$ref": "#/definitions/rolloutInfo",
          "readOnly": true
        }
      }
    },
    "RolloutStatusListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RolloutStatus"
          },
          "description": "A list of Rollout statuses."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of Rollout statuses."
    }
  }
}