{
  "swagger": "2.0",
  "info": {
    "title": "RedhatAnsible",
    "description": "The Microsoft.RedhatAnsible Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "RedhatAnsibleClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedhatAnsible/ansibletowers/{ansibletowersName}": {
      "get": {
        "operationId": "ansibletowers_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ansibletowersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the ansibletowers resource.",
            "schema": {
              "$ref": "#/definitions/ansibletowers"
            }
          }
        }
      },
      "put": {
        "operationId": "ansibletowers_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ansibletowersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "ansibletowers",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ansibletowers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the ansibletowers resource.",
            "schema": {
              "$ref": "#/definitions/ansibletowers"
            }
          },
          "201": {
            "description": "Creates the ansibletowers resource.",
            "schema": {
              "$ref": "#/definitions/ansibletowers"
            }
          }
        }
      },
      "delete": {
        "operationId": "ansibletowers_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ansibletowersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the ansibletowers resource."
          }
        }
      },
      "patch": {
        "operationId": "ansibletowers_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ansibletowersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "ansibletowers",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ansibletowersPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the ansibletowers resource.",
            "schema": {
              "$ref": "#/definitions/ansibletowers"
            }
          },
          "201": {
            "description": "Updates the ansibletowers resource.",
            "schema": {
              "$ref": "#/definitions/ansibletowers"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedhatAnsible/ansibletowers": {
      "get": {
        "operationId": "ansibletowers_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all ansibletowers under the resouce group.",
            "schema": {
              "$ref": "#/definitions/ansibletowersListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RedhatAnsible/ansibletowers": {
      "get": {
        "operationId": "ansibletowers_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all ansibletowers under the subscription.",
            "schema": {
              "$ref": "#/definitions/ansibletowersListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.RedhatAnsible/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedhatAnsible/ansibletowers/{ansibletowersName}/createAnsibleJob": {
      "post": {
        "operationId": "ansiblejob_Action",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ansibletowersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "ansiblejob",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ansiblejob"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "invokes the ansible job."
          },
          "200": {
            "description": "invokes the ansible job."
          }
        }
      }
    }
  },
  "definitions": {
    "ansibletowersPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The cassandraDataCenters resource patch definition."
    },
    "ansiblecondition": {
      "type": "object",
      "properties": {
        "ansibleResult": {
          "type": "object",
          "properties": {
            "changed": {
              "type": "integer"
            },
            "completion": {
              "type": "string"
            },
            "failures": {
              "type": "integer"
            },
            "ok": {
              "type": "integer"
            },
            "skipped": {
              "type": "integer"
            }
          }
        },
        "lastTransitionTime": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ansibletowersProperties": {
      "properties": {
        "deploymentType": {
          "type": "string"
        },
        "ingressType": {
          "type": "string"
        },
        "hostname": {
          "type": "string"
        },
        "secretKey": {
          "x-ms-secret": true,
          "type": "string"
        },
        "user": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "x-ms-secret": true,
          "type": "string"
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ansiblecondition"
              }
            }
          }
        }
      }
    },
    "ansibletowers": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ansibletowersProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The ansibletowers resource definition."
    },
    "ansibletowersListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ansibletowers"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    },
    "ansiblejob": {
      "type": "object",
      "properties": {
        "authentication": {
          "type": "object",
          "properties": {
            "host": {
              "type": "string"
            },
            "token": {
              "type": "string"
            }
          }
        },
        "job_template_name": {
          "type": "string"
        }
      },
      "description": "The ansiblejobs resource definition."
    }
  },
  "parameters": {
    "ansibletowersNameParameter": {
      "name": "ansibletowersName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}