{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ApplicationMigration ConnectionHubs management service",
    "version": "2025-09-09-preview",
    "description": "Microsoft.ApplicationMigration ConnectionHubs Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ConnectionHubs"
    },
    {
      "name": "GitHubConnections"
    },
    {
      "name": "GitHubIssues"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApplicationMigration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/connectionHubs": {
      "get": {
        "operationId": "ConnectionHubs_ListBySubscription",
        "tags": [
          "ConnectionHubs"
        ],
        "description": "List Connection Hubs by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionHubListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectionHubs_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs": {
      "get": {
        "operationId": "ConnectionHubs_ListByResourceGroup",
        "tags": [
          "ConnectionHubs"
        ],
        "description": "List Connection Hubs by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionHubListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectionHubs_ListByResourceGroup_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}": {
      "get": {
        "operationId": "ConnectionHubs_Get",
        "tags": [
          "ConnectionHubs"
        ],
        "description": "Get a Connection Hub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectionHubs_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectionHubs_CreateOrUpdate",
        "tags": [
          "ConnectionHubs"
        ],
        "description": "Create or update a Connection Hub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectionHub' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            }
          },
          "201": {
            "description": "Resource 'ConnectionHub' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectionHubs_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ConnectionHub"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConnectionHubs_Update",
        "tags": [
          "ConnectionHubs"
        ],
        "description": "Update a Connection Hub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionHubUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectionHubs_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectionHubs_Delete",
        "tags": [
          "ConnectionHubs"
        ],
        "description": "Delete a Connection Hub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConnectionHubs_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ConnectionHubs_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}/githubConnections": {
      "get": {
        "operationId": "GitHubConnections_ListByConnectionHub",
        "tags": [
          "GitHubConnections"
        ],
        "description": "List GitHub Connections by Connection Hub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GitHubConnections_ListByConnectionHub_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubConnections_ListByConnectionHub_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}/githubConnections/{connectionId}": {
      "get": {
        "operationId": "GitHubConnections_Get",
        "tags": [
          "GitHubConnections"
        ],
        "description": "Get a GitHub Connection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GitHubConnections_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubConnections_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "GitHubConnections_CreateOrUpdate",
        "tags": [
          "GitHubConnections"
        ],
        "description": "Create or update a GitHub Connection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GitHubConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GitHubConnection"
            }
          },
          "201": {
            "description": "Resource 'GitHubConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GitHubConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GitHubConnections_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubConnections_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/GitHubConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GitHubConnections_Delete",
        "tags": [
          "GitHubConnections"
        ],
        "description": "Delete a GitHub Connection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GitHubConnections_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubConnections_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}/githubConnections/{connectionId}/githubIssues": {
      "get": {
        "operationId": "GitHubIssues_ListByGitHubConnection",
        "tags": [
          "GitHubIssues"
        ],
        "description": "List GitHub Issues by GitHub Connection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubIssueListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GitHubIssues_ListByGitHubConnection_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubIssues_ListByGitHubConnection_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/connectionHubs/{connectionHubName}/githubConnections/{connectionId}/githubIssues/{githubIssueId}": {
      "get": {
        "operationId": "GitHubIssues_Get",
        "tags": [
          "GitHubIssues"
        ],
        "description": "Get a GitHub Issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "githubIssueId",
            "in": "path",
            "description": "The GitHub issue identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GitHubIssue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GitHubIssues_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubIssues_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "GitHubIssues_CreateOrUpdate",
        "tags": [
          "GitHubIssues"
        ],
        "description": "Create or update a GitHub Issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "githubIssueId",
            "in": "path",
            "description": "The GitHub issue identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GitHubIssue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GitHubIssue' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GitHubIssue"
            }
          },
          "201": {
            "description": "Resource 'GitHubIssue' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GitHubIssue"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GitHubIssues_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubIssues_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/GitHubIssue"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GitHubIssues_Delete",
        "tags": [
          "GitHubIssues"
        ],
        "description": "Delete a GitHub Issue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "connectionHubName",
            "in": "path",
            "description": "The name of the ConnectionHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectionId",
            "in": "path",
            "description": "The connection identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "githubIssueId",
            "in": "path",
            "description": "The GitHub issue identifier",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GitHubIssues_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/GitHubIssues_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "ConnectionHub": {
      "type": "object",
      "description": "Connection Hub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionHubProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConnectionHubListResult": {
      "type": "object",
      "description": "The response of a ConnectionHub list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConnectionHub items on this page",
          "items": {
            "$ref": "#/definitions/ConnectionHub"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConnectionHubProperties": {
      "type": "object",
      "description": "Connection Hub properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Connection Hub description"
        },
        "status": {
          "$ref": "#/definitions/ConnectionStatus",
          "description": "Connection Hub status",
          "readOnly": true
        }
      }
    },
    "ConnectionHubUpdate": {
      "type": "object",
      "description": "Connection Hub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionHubProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ConnectionName": {
      "type": "string",
      "description": "The name of the connection."
    },
    "ConnectionStatus": {
      "type": "string",
      "description": "Connection status",
      "enum": [
        "Active",
        "Inactive",
        "Failed",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "ConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Connection is active"
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "Connection is inactive"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Connection is failed"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Connection is pending"
          }
        ]
      }
    },
    "GitHubConnection": {
      "type": "object",
      "description": "GitHub Connection resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GitHubConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GitHubConnectionListResult": {
      "type": "object",
      "description": "The response of a GitHubConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GitHubConnection items on this page",
          "items": {
            "$ref": "#/definitions/GitHubConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GitHubConnectionProperties": {
      "type": "object",
      "description": "GitHub Connection properties",
      "properties": {
        "appId": {
          "type": "string",
          "description": "GitHub App ID"
        },
        "tokenSecretId": {
          "type": "string",
          "description": "Token secret ID pointing to customer Key Vault URI to be accessed by WACA MSI"
        },
        "installationId": {
          "type": "string",
          "description": "GitHub Installation ID"
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name"
        },
        "url": {
          "type": "string",
          "description": "Repository URL"
        },
        "repos": {
          "type": "array",
          "description": "List of repositories",
          "items": {
            "$ref": "#/definitions/Repository"
          },
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/ConnectionStatus",
          "description": "Connection status",
          "readOnly": true
        },
        "webhookHandlerUrl": {
          "type": "string",
          "description": "Webhook handler URL",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        }
      }
    },
    "GitHubIssue": {
      "type": "object",
      "description": "GitHub Issue resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GitHubIssueProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GitHubIssueListResult": {
      "type": "object",
      "description": "The response of a GitHubIssue list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GitHubIssue items on this page",
          "items": {
            "$ref": "#/definitions/GitHubIssue"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GitHubIssueProperties": {
      "type": "object",
      "description": "GitHub Issue properties",
      "properties": {
        "connectionId": {
          "type": "string",
          "description": "Connection ID"
        },
        "status": {
          "$ref": "#/definitions/GitHubIssueStatus",
          "description": "Issue status",
          "readOnly": true
        },
        "issueId": {
          "type": "string",
          "description": "Issue ID"
        },
        "number": {
          "type": "integer",
          "format": "int32",
          "description": "Issue number"
        },
        "title": {
          "type": "string",
          "description": "Issue title"
        },
        "body": {
          "type": "string",
          "description": "Issue body"
        },
        "isDeleted": {
          "type": "boolean",
          "description": "Indicates if the issue is deleted",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        }
      }
    },
    "GitHubIssueStatus": {
      "type": "string",
      "description": "GitHub issue status",
      "enum": [
        "Open",
        "Closed",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "GitHubIssueStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Open",
            "value": "Open",
            "description": "Issue is open"
          },
          {
            "name": "Closed",
            "value": "Closed",
            "description": "Issue is closed"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Issue is in progress"
          }
        ]
      }
    },
    "IssueName": {
      "type": "string",
      "description": "The name of the GitHub issue."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Repository": {
      "type": "object",
      "description": "Repository information",
      "properties": {
        "url": {
          "type": "string",
          "description": "Repository URL"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Repository ID"
        }
      }
    },
    "ToolType": {
      "type": "string",
      "description": "Tool type for GitHub issues",
      "enum": [
        "AppCAT"
      ],
      "x-ms-enum": {
        "name": "ToolType",
        "modelAsString": true,
        "values": [
          {
            "name": "AppCAT",
            "value": "AppCAT",
            "description": "AppCAT tool type"
          }
        ]
      }
    }
  },
  "parameters": {}
}
