{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Approvals",
    "version": "2025-01-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ApprovalDefinitions"
    },
    {
      "name": "ApprovalInstances"
    },
    {
      "name": "ApproverSignoffs"
    },
    {
      "name": "ApprovalResults"
    }
  ],
  "paths": {
    "/providers/Microsoft.Approvals/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Approvals/approvalDefinitions": {
      "get": {
        "operationId": "ApprovalDefinitions_ListBySubscription",
        "tags": [
          "ApprovalDefinitions"
        ],
        "description": "List ApprovalDefinition resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalDefinitions_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalDefinitions_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Approvals/approvalInstances": {
      "get": {
        "operationId": "ApprovalInstances_ListBySubscription",
        "tags": [
          "ApprovalInstances"
        ],
        "description": "List ApprovalInstance resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalInstances_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalInstances_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Approvals/approvalResults": {
      "get": {
        "operationId": "ApprovalResults_ListBySubscription",
        "tags": [
          "ApprovalResults"
        ],
        "description": "List ApprovalResult resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalResultListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalResults_ListBySubscription_MaximumSet": {
            "$ref": "./examples/ApprovalResults_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalDefinitions": {
      "get": {
        "operationId": "ApprovalDefinitions_ListByResourceGroup",
        "tags": [
          "ApprovalDefinitions"
        ],
        "description": "List ApprovalDefinition resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalDefinitions_ListByResourceGroup_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalDefinitions_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalDefinitions/{approvalDefinitionName}": {
      "get": {
        "operationId": "ApprovalDefinitions_Get",
        "tags": [
          "ApprovalDefinitions"
        ],
        "description": "Get a ApprovalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalDefinitionName",
            "in": "path",
            "description": "The name of the ApprovalDefinition resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalDefinitions_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalDefinitions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ApprovalDefinitions_CreateOrUpdate",
        "tags": [
          "ApprovalDefinitions"
        ],
        "description": "Create a ApprovalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalDefinitionName",
            "in": "path",
            "description": "The name of the ApprovalDefinition resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApprovalDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApprovalDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApprovalDefinition"
            }
          },
          "201": {
            "description": "Resource 'ApprovalDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApprovalDefinition"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalDefinitions_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalDefinitions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ApprovalDefinitions_Update",
        "tags": [
          "ApprovalDefinitions"
        ],
        "description": "Update a ApprovalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalDefinitionName",
            "in": "path",
            "description": "The name of the ApprovalDefinition resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApprovalDefinitionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalDefinitions_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalDefinitions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ApprovalDefinitions_Delete",
        "tags": [
          "ApprovalDefinitions"
        ],
        "description": "Delete a ApprovalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalDefinitionName",
            "in": "path",
            "description": "The name of the ApprovalDefinition resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalDefinitions_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalDefinitions_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalInstances": {
      "get": {
        "operationId": "ApprovalInstances_ListByResourceGroup",
        "tags": [
          "ApprovalInstances"
        ],
        "description": "List ApprovalInstance resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalInstances_ListByResourceGroup_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalInstances_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalInstances/{approvalInstanceName}": {
      "get": {
        "operationId": "ApprovalInstances_Get",
        "tags": [
          "ApprovalInstances"
        ],
        "description": "Get a ApprovalInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalInstances_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalInstances_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ApprovalInstances_CreateOrUpdate",
        "tags": [
          "ApprovalInstances"
        ],
        "description": "Create a ApprovalInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApprovalInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApprovalInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApprovalInstance"
            }
          },
          "201": {
            "description": "Resource 'ApprovalInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApprovalInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalInstances_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalInstances_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ApprovalInstances_Update",
        "tags": [
          "ApprovalInstances"
        ],
        "description": "Update a ApprovalInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApprovalInstanceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalInstances_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalInstances_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ApprovalInstances_Delete",
        "tags": [
          "ApprovalInstances"
        ],
        "description": "Delete a ApprovalInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalInstances_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalInstances_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalInstances/{approvalInstanceName}/approverSignoffs": {
      "get": {
        "operationId": "ApproverSignoffs_ListByParent",
        "tags": [
          "ApproverSignoffs"
        ],
        "description": "List ApproverSignoff resources by ApprovalInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApproverSignoffListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApproverSignoffs_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApproverSignoffs_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalInstances/{approvalInstanceName}/approverSignoffs/{approverSignoffName}": {
      "get": {
        "operationId": "ApproverSignoffs_Get",
        "tags": [
          "ApproverSignoffs"
        ],
        "description": "Get a ApproverSignoff",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "approverSignoffName",
            "in": "path",
            "description": "The name of the ApproverSignoff resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApproverSignoff"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApproverSignoffs_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApproverSignoffs_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ApproverSignoffs_CreateOrUpdate",
        "tags": [
          "ApproverSignoffs"
        ],
        "description": "Create a ApproverSignoff",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "approverSignoffName",
            "in": "path",
            "description": "The name of the ApproverSignoff resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApproverSignoff"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApproverSignoff' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApproverSignoff"
            }
          },
          "201": {
            "description": "Resource 'ApproverSignoff' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApproverSignoff"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApproverSignoffs_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApproverSignoffs_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ApproverSignoffs_Update",
        "tags": [
          "ApproverSignoffs"
        ],
        "description": "Update a ApproverSignoff",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "approverSignoffName",
            "in": "path",
            "description": "The name of the ApproverSignoff resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApproverSignoffUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApproverSignoff"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApproverSignoffs_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApproverSignoffs_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ApproverSignoffs_Delete",
        "tags": [
          "ApproverSignoffs"
        ],
        "description": "Delete a ApproverSignoff",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "approverSignoffName",
            "in": "path",
            "description": "The name of the ApproverSignoff resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApproverSignoffs_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApproverSignoffs_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalInstances/{approvalInstanceName}/checkStage": {
      "post": {
        "operationId": "ApprovalInstances_CheckStage",
        "tags": [
          "ApprovalInstances"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApprovalStageBasicInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalStageStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalInstances_CheckStage_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalInstances_CheckStage_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalInstances/{approvalInstanceName}/startStage": {
      "post": {
        "operationId": "ApprovalInstances_StartStage",
        "tags": [
          "ApprovalInstances"
        ],
        "description": "A synchronous resource action that returns no content.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalInstanceName",
            "in": "path",
            "description": "The name of the ApprovalInstance resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApprovalStageBasicInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalInstances_StartStage_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ApprovalInstances_StartStage_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalResults": {
      "get": {
        "operationId": "ApprovalResults_ListByResourceGroup",
        "tags": [
          "ApprovalResults"
        ],
        "description": "List ApprovalResult resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalResultListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalResults_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/ApprovalResults_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Approvals/approvalResults/{approvalResultName}": {
      "get": {
        "operationId": "ApprovalResults_Get",
        "tags": [
          "ApprovalResults"
        ],
        "description": "Get a ApprovalResult",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "approvalResultName",
            "in": "path",
            "description": "The name of the ApprovalResult resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApprovalResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApprovalResults_Get_MaximumSet": {
            "$ref": "./examples/ApprovalResults_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApprovalDefinition": {
      "type": "object",
      "description": "ApprovalDefinition ARM resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApprovalDefinitionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ApprovalDefinitionListResult": {
      "type": "object",
      "description": "The response of a ApprovalDefinition list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApprovalDefinition items on this page",
          "items": {
            "$ref": "#/definitions/ApprovalDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApprovalDefinitionProperties": {
      "type": "object",
      "description": "RP-specific properties of an ApprovalDefinition resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Status of the last operation.",
          "readOnly": true
        },
        "logicAppRef": {
          "$ref": "#/definitions/LogicAppRef",
          "description": "Reference to a Logic App."
        },
        "ledgerRef": {
          "$ref": "#/definitions/LedgerRef",
          "description": "Reference to an Azure Confidential Ledger."
        },
        "approvalRule": {
          "$ref": "#/definitions/ApprovalRule",
          "description": "Rule about how the approval workflow can be successfully completed."
        }
      },
      "required": [
        "logicAppRef",
        "ledgerRef",
        "approvalRule"
      ]
    },
    "ApprovalDefinitionPropertiesUpdate": {
      "type": "object",
      "description": "RP-specific properties of an ApprovalDefinition resource",
      "properties": {
        "logicAppRef": {
          "$ref": "#/definitions/LogicAppRefUpdate",
          "description": "Reference to a Logic App."
        },
        "ledgerRef": {
          "$ref": "#/definitions/LedgerRefUpdate",
          "description": "Reference to an Azure Confidential Ledger."
        },
        "approvalRule": {
          "$ref": "#/definitions/ApprovalRuleUpdate",
          "description": "Rule about how the approval workflow can be successfully completed."
        }
      }
    },
    "ApprovalDefinitionUpdate": {
      "type": "object",
      "description": "ApprovalDefinition ARM resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApprovalDefinitionPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ApprovalInstance": {
      "type": "object",
      "description": "The ApprovalInstance ARM resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApprovalInstanceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ApprovalInstanceListResult": {
      "type": "object",
      "description": "The response of a ApprovalInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApprovalInstance items on this page",
          "items": {
            "$ref": "#/definitions/ApprovalInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApprovalInstanceProperties": {
      "type": "object",
      "description": "RP-specific properties of an ApprovalInstance resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Status of the last operation.",
          "readOnly": true
        },
        "approvalDefinitionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the ApprovalDefinition resource that the ApprovalInstance was created from.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Approvals/approvalDefinitions"
              }
            ]
          }
        },
        "requestedBy": {
          "type": "string",
          "description": "The one who attempted to make the change that triggered the ApprovalInstance."
        },
        "requestedFor": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the change that the ApprovalInstance was associated with."
        },
        "requestedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the ApprovalInstance was triggered."
        },
        "description": {
          "type": "string",
          "description": "The description of the change."
        },
        "changeManifest": {
          "type": "string",
          "description": "The change manifest associated with the ApprovalInstance, free-formed and could be base64 encoded."
        },
        "approvalRule": {
          "$ref": "#/definitions/ApprovalRule",
          "description": "The rule about how the approval workflow can be successfully completed, originated from the ApprovalDefinition resource at the time the ApprovalInstance was created"
        },
        "state": {
          "$ref": "#/definitions/ApprovalInstanceState",
          "description": "The current state of the approval instance."
        },
        "stageStatuses": {
          "type": "array",
          "description": "The latest status of each stage.",
          "items": {
            "$ref": "#/definitions/ApprovalStageStatus"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "verificationAuthoritySignoffs": {
          "type": "array",
          "description": "The signoffs that verify authority sign",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "approvalDefinitionId",
        "requestedBy",
        "requestedFor",
        "requestedDateTime",
        "description",
        "changeManifest",
        "approvalRule",
        "state",
        "stageStatuses",
        "verificationAuthoritySignoffs"
      ]
    },
    "ApprovalInstancePropertiesUpdate": {
      "type": "object",
      "description": "RP-specific properties of an ApprovalInstance resource",
      "properties": {
        "approvalDefinitionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the ApprovalDefinition resource that the ApprovalInstance was created from.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Approvals/approvalDefinitions"
              }
            ]
          }
        },
        "requestedBy": {
          "type": "string",
          "description": "The one who attempted to make the change that triggered the ApprovalInstance."
        },
        "requestedFor": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the change that the ApprovalInstance was associated with."
        },
        "requestedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the ApprovalInstance was triggered."
        },
        "description": {
          "type": "string",
          "description": "The description of the change."
        },
        "changeManifest": {
          "type": "string",
          "description": "The change manifest associated with the ApprovalInstance, free-formed and could be base64 encoded."
        },
        "approvalRule": {
          "$ref": "#/definitions/ApprovalRuleUpdate",
          "description": "The rule about how the approval workflow can be successfully completed, originated from the ApprovalDefinition resource at the time the ApprovalInstance was created"
        },
        "state": {
          "$ref": "#/definitions/ApprovalInstanceState",
          "description": "The current state of the approval instance."
        },
        "stageStatuses": {
          "type": "array",
          "description": "The latest status of each stage.",
          "items": {
            "$ref": "#/definitions/ApprovalStageStatus"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "verificationAuthoritySignoffs": {
          "type": "array",
          "description": "The signoffs that verify authority sign",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApprovalInstanceState": {
      "type": "string",
      "description": "Enum of approval instance state.",
      "enum": [
        "InProgress",
        "Satisfied",
        "Dissatisfied"
      ],
      "x-ms-enum": {
        "name": "ApprovalInstanceState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The approval workflow instance has started."
          },
          {
            "name": "Satisfied",
            "value": "Satisfied",
            "description": "The approval workflow instance has finished with all approval rules satisfied."
          },
          {
            "name": "Dissatisfied",
            "value": "Dissatisfied",
            "description": "The approval workflow instance has ended without approval rules satisfied."
          }
        ]
      }
    },
    "ApprovalInstanceUpdate": {
      "type": "object",
      "description": "The ApprovalInstance ARM resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApprovalInstancePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ApprovalRequestState": {
      "type": "string",
      "description": "Enum of approval request state.",
      "enum": [
        "InProgress",
        "Approved",
        "Rejected"
      ],
      "x-ms-enum": {
        "name": "ApprovalRequestState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The approval request in still in progress."
          },
          {
            "name": "Approved",
            "value": "Approved",
            "description": "The approval request has been approved."
          },
          {
            "name": "Rejected",
            "value": "Rejected",
            "description": "The approval request has been rejected."
          }
        ]
      }
    },
    "ApprovalResult": {
      "type": "object",
      "description": "The ApprovalResult resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApprovalResultProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApprovalResultListResult": {
      "type": "object",
      "description": "The response of a ApprovalResult list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApprovalResult items on this page",
          "items": {
            "$ref": "#/definitions/ApprovalResult"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApprovalResultProperties": {
      "type": "object",
      "description": "RP-specific properties of an ApprovalResult resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Status of the last operation.",
          "readOnly": true
        },
        "approvalRequestState": {
          "$ref": "#/definitions/ApprovalRequestState",
          "description": "The current state the approval request.",
          "readOnly": true
        }
      },
      "required": [
        "approvalRequestState"
      ]
    },
    "ApprovalRule": {
      "type": "object",
      "description": "Rule about how an approval workflow can be successfully completed.",
      "properties": {
        "stageDefinitions": {
          "type": "array",
          "description": "The definitions of all the stages in the approval workflow.",
          "items": {
            "$ref": "#/definitions/ApprovalStageDefinition"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "proof": {
          "type": "string",
          "description": "The signature against the approval rule to prove its authenticity."
        },
        "ledgerRecord": {
          "$ref": "#/definitions/LedgerRecord",
          "description": "The reference to the confidential ledger record about the rule."
        }
      },
      "required": [
        "stageDefinitions",
        "proof",
        "ledgerRecord"
      ]
    },
    "ApprovalRuleUpdate": {
      "type": "object",
      "description": "Rule about how an approval workflow can be successfully completed.",
      "properties": {
        "stageDefinitions": {
          "type": "array",
          "description": "The definitions of all the stages in the approval workflow.",
          "items": {
            "$ref": "#/definitions/ApprovalStageDefinition"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "proof": {
          "type": "string",
          "description": "The signature against the approval rule to prove its authenticity."
        },
        "ledgerRecord": {
          "$ref": "#/definitions/LedgerRecordUpdate",
          "description": "The reference to the confidential ledger record about the rule."
        }
      }
    },
    "ApprovalStageBasicInfo": {
      "type": "object",
      "description": "Base info of a stage",
      "properties": {
        "stageName": {
          "type": "string",
          "description": "The name of the stage"
        }
      },
      "required": [
        "stageName"
      ]
    },
    "ApprovalStageDefinition": {
      "type": "object",
      "description": "Definition of an approval stage.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the stage, unique within a single ApprovalDefinition resource"
        },
        "dependsOn": {
          "type": "object",
          "description": "The logic rules in JSON about how the stage depends on other stages."
        },
        "approvers": {
          "type": "array",
          "description": "The set of approvers in the stage.",
          "items": {
            "type": "string"
          }
        },
        "quorum": {
          "type": "integer",
          "format": "int32",
          "description": "The minimal number of approvals for completing the stage."
        }
      },
      "required": [
        "name",
        "dependsOn",
        "approvers",
        "quorum"
      ]
    },
    "ApprovalStageState": {
      "type": "string",
      "description": "Enum of approval stage state.",
      "enum": [
        "Created",
        "Started",
        "Completed",
        "Terminated"
      ],
      "x-ms-enum": {
        "name": "ApprovalStageState",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "The initial state of the approval stage."
          },
          {
            "name": "Started",
            "value": "Started",
            "description": "The approval stage is ready to accept signoffs."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "The approval stage has finished with approval rules satisfied."
          },
          {
            "name": "Terminated",
            "value": "Terminated",
            "description": "The approval stage has ended without approval rules satisfied."
          }
        ]
      }
    },
    "ApprovalStageStatus": {
      "type": "object",
      "description": "Status of an approval stage.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the stage."
        },
        "state": {
          "$ref": "#/definitions/ApprovalStageState",
          "description": "The state of the stage."
        },
        "signoffs": {
          "type": "array",
          "description": "The resource ids of ApproverSignoffs submitted in the stage.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Approvals/approvalInstances/approverSignoffs"
                }
              ]
            }
          }
        }
      },
      "required": [
        "name",
        "state",
        "signoffs"
      ]
    },
    "ApproverSignoff": {
      "type": "object",
      "description": "The ApproverSignoff ARM resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApproverSignoffProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ApproverSignoffAction": {
      "type": "string",
      "description": "Enum of approver signoff action.",
      "enum": [
        "Pending",
        "Approved",
        "Rejected"
      ],
      "x-ms-enum": {
        "name": "ApproverSignoffAction",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "The approver hasn't take any action."
          },
          {
            "name": "Approved",
            "value": "Approved",
            "description": "The approver has approved."
          },
          {
            "name": "Rejected",
            "value": "Rejected",
            "description": "The approver has rejected."
          }
        ]
      }
    },
    "ApproverSignoffListResult": {
      "type": "object",
      "description": "The response of a ApproverSignoff list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApproverSignoff items on this page",
          "items": {
            "$ref": "#/definitions/ApproverSignoff"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApproverSignoffProperties": {
      "type": "object",
      "description": "RP-specific properties of an ApproverSignoff resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Status of the last operation.",
          "readOnly": true
        },
        "approvalDefinitionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the ApprovalDefinition resource that the ApproverSignoff was created from.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Approvals/approvalDefinitions"
              }
            ]
          }
        },
        "approver": {
          "type": "string",
          "description": "The one who took the signoff action."
        },
        "stageName": {
          "type": "string",
          "description": "The name of the approval stage from where the signoff was originated."
        },
        "signoffAction": {
          "$ref": "#/definitions/ApproverSignoffAction",
          "description": "The action the approver took."
        },
        "signoffDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the approver took the signoff action."
        },
        "signoffManifest": {
          "type": "string",
          "description": "The content of which the signoff is about, free-formed and could be base64 encoded."
        },
        "signatures": {
          "type": "array",
          "description": "The signatures from the approvers for the signoff, could be base64 encoded",
          "items": {
            "type": "string"
          }
        },
        "ledgerRecord": {
          "$ref": "#/definitions/LedgerRecord",
          "description": "The reference to the confidential ledger record about the signoff."
        }
      },
      "required": [
        "approvalDefinitionId",
        "approver",
        "stageName",
        "signoffAction",
        "signoffDateTime",
        "signoffManifest",
        "signatures",
        "ledgerRecord"
      ]
    },
    "ApproverSignoffPropertiesUpdate": {
      "type": "object",
      "description": "RP-specific properties of an ApproverSignoff resource",
      "properties": {
        "approvalDefinitionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the ApprovalDefinition resource that the ApproverSignoff was created from.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Approvals/approvalDefinitions"
              }
            ]
          }
        },
        "approver": {
          "type": "string",
          "description": "The one who took the signoff action."
        },
        "stageName": {
          "type": "string",
          "description": "The name of the approval stage from where the signoff was originated."
        },
        "signoffAction": {
          "$ref": "#/definitions/ApproverSignoffAction",
          "description": "The action the approver took."
        },
        "signoffDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime when the approver took the signoff action."
        },
        "signoffManifest": {
          "type": "string",
          "description": "The content of which the signoff is about, free-formed and could be base64 encoded."
        },
        "signatures": {
          "type": "array",
          "description": "The signatures from the approvers for the signoff, could be base64 encoded",
          "items": {
            "type": "string"
          }
        },
        "ledgerRecord": {
          "$ref": "#/definitions/LedgerRecordUpdate",
          "description": "The reference to the confidential ledger record about the signoff."
        }
      }
    },
    "ApproverSignoffUpdate": {
      "type": "object",
      "description": "The ApproverSignoff ARM resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApproverSignoffPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "LedgerRecord": {
      "type": "object",
      "description": "Reference to a confidential ledger record.",
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "The collection id of the record."
        },
        "transactionId": {
          "type": "string",
          "description": "The transaction id of the record."
        }
      },
      "required": [
        "collectionId",
        "transactionId"
      ]
    },
    "LedgerRecordUpdate": {
      "type": "object",
      "description": "Reference to a confidential ledger record.",
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "The collection id of the record."
        },
        "transactionId": {
          "type": "string",
          "description": "The transaction id of the record."
        }
      }
    },
    "LedgerRef": {
      "type": "object",
      "description": "Reference to an Azure Confidential Ledger resource.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the ledger.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ConfidentialLedger/ledgers"
              }
            ]
          }
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "LedgerRefUpdate": {
      "type": "object",
      "description": "Reference to an Azure Confidential Ledger resource.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the ledger.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ConfidentialLedger/ledgers"
              }
            ]
          }
        }
      }
    },
    "LogicAppHttpTriggerMethod": {
      "type": "string",
      "description": "Enum of Http methods to use when invoking a Logic App workflow.",
      "enum": [
        "GET",
        "POST",
        "PUT"
      ],
      "x-ms-enum": {
        "name": "LogicAppHttpTriggerMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "GET",
            "value": "GET",
            "description": "The Http GET method."
          },
          {
            "name": "POST",
            "value": "POST",
            "description": "The Http POST method."
          },
          {
            "name": "PUT",
            "value": "PUT",
            "description": "The Http PUT method."
          }
        ]
      }
    },
    "LogicAppRef": {
      "type": "object",
      "description": "Reference to a Logic App resource.",
      "properties": {
        "workflowUrl": {
          "type": "string",
          "description": "The Logic App workflow URL."
        },
        "httpMethod": {
          "$ref": "#/definitions/LogicAppHttpTriggerMethod",
          "description": "The Http method to use when invoking the workflow URL."
        }
      },
      "required": [
        "workflowUrl",
        "httpMethod"
      ]
    },
    "LogicAppRefUpdate": {
      "type": "object",
      "description": "Reference to a Logic App resource.",
      "properties": {
        "workflowUrl": {
          "type": "string",
          "description": "The Logic App workflow URL."
        },
        "httpMethod": {
          "$ref": "#/definitions/LogicAppHttpTriggerMethod",
          "description": "The Http method to use when invoking the workflow URL."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Initial provisioning in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
