{
  "swagger": "2.0",
  "info": {
    "title": "adp",
    "version": "2022-03-01-preview",
    "description": "Microsoft.AutonomousDevelopmentPlatform resource management API."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EventGridFilters"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.AutonomousDevelopmentPlatform/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AutonomousDevelopmentPlatform/workspaces/{workspaceName}/eventGridFilters": {
      "get": {
        "tags": [
          "EventGridFilters"
        ],
        "operationId": "EventGridFilters_ListBySubscription",
        "description": "List EventGridFilter resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/Workspace.workspaceName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventGridFilterListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/workspaces/{workspaceName}/eventGridFilters": {
      "get": {
        "tags": [
          "EventGridFilters"
        ],
        "operationId": "EventGridFilters_ListByWorkspaces",
        "description": "List EventGridFilter resources by Workspaces",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workspace.workspaceName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventGridFilterListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/workspaces/{workspaceName}/eventGridFilters/{eventGridFilterName}": {
      "get": {
        "tags": [
          "EventGridFilters"
        ],
        "operationId": "EventGridFilters_Get",
        "description": "Get a EventGridFilter",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workspace.workspaceName"
          },
          {
            "$ref": "#/parameters/EventGridFilter.eventGridFilterName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventGridFilter"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EventGridFilters"
        ],
        "operationId": "EventGridFilters_CreateOrUpdate",
        "description": "Create a EventGridFilter",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workspace.workspaceName"
          },
          {
            "$ref": "#/parameters/EventGridFilter.eventGridFilterName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EventGridFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventGridFilter"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventGridFilter"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "EventGridFilters"
        ],
        "operationId": "EventGridFilters_Update",
        "description": "Update a EventGridFilter",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workspace.workspaceName"
          },
          {
            "$ref": "#/parameters/EventGridFilter.eventGridFilterName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EventGridFilterUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventGridFilter"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EventGridFilters"
        ],
        "operationId": "EventGridFilters_Delete",
        "description": "Delete a EventGridFilter",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/Workspace.workspaceName"
          },
          {
            "$ref": "#/parameters/EventGridFilter.eventGridFilterName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true
      }
    },
    "EventGridFilter": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EventGridFilterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource."
        }
      },
      "description": "Event Grid filters.",
      "required": [
        "properties",
        "name",
        "provisioningState"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EventGridFilterListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventGridFilter"
          },
          "x-cadl-name": "EventGridFilter[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a EventGridFilter list operation.",
      "required": [
        "value"
      ]
    },
    "EventGridFilterProperties": {
      "type": "object",
      "properties": {
        "subjectBeginsWith": {
          "type": "string"
        },
        "subjectEndsWith": {
          "type": "string"
        },
        "includedEventTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]"
        },
        "subscriberIdentityInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventGridSubscriberIdentityInfo"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "EventGridSubscriberIdentityInfo[]"
        }
      },
      "required": [
        "subjectBeginsWith",
        "subjectEndsWith",
        "includedEventTypes",
        "subscriberIdentityInfo"
      ]
    },
    "EventGridFilterUpdate": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "properties": {
          "$ref": "#/definitions/EventGridFilterUpdateProperties"
        }
      },
      "description": "The type used for update operations of the EventGridFilter."
    },
    "EventGridFilterUpdateProperties": {
      "type": "object",
      "properties": {
        "subjectBeginsWith": {
          "type": "string"
        },
        "subjectEndsWith": {
          "type": "string"
        },
        "includedEventTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]"
        },
        "subscriberIdentityInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventGridSubscriberIdentityInfo"
          },
          "x-ms-identifiers": [],
          "x-cadl-name": "EventGridSubscriberIdentityInfo[]"
        }
      },
      "description": "The updatable properties of the EventGridFilter."
    },
    "EventGridSubscriberIdentityInfo": {
      "type": "object",
      "properties": {
        "clientPrincipalId": {
          "type": "string"
        },
        "clientObjectId": {
          "type": "string"
        },
        "clientTenantId": {
          "type": "string"
        },
        "clientApplicationId": {
          "type": "string"
        },
        "clientAuthorizationSource": {
          "type": "string"
        }
      },
      "required": [
        "clientPrincipalId",
        "clientObjectId",
        "clientTenantId",
        "clientApplicationId",
        "clientAuthorizationSource"
      ]
    }
  },
  "parameters": {
    "EventGridFilter.eventGridFilterName": {
      "name": "eventGridFilterName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "Workspace.workspaceName": {
      "name": "workspaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
