{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.GameDevkits",
    "version": "2022-07-12-alpha"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "GameDevAccounts"
    },
    {
      "name": "GameDevSessions"
    },
    {
      "name": "GameDevBuilds"
    },
    {
      "name": "GameDevPackages"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.GameDevkits/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.GameDevkits/gameDevAccounts": {
      "get": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_ListBySubscription",
        "description": "List GameDevAccount resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccountListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts": {
      "get": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_ListByResourceGroup",
        "description": "List GameDevAccount resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccountListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}": {
      "put": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_CreateOrUpdate",
        "description": "Create or update a GameDevAccount.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Create or update GameDevAccount parameters.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_Get",
        "description": "Get a GameDevAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_Delete",
        "description": "Deletes a GameDevAccount.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "GameDevAccounts"
        ],
        "operationId": "GameDevAccounts_Update",
        "description": "Updates a GameDevAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The GameDevAccount properties to be updated.",
            "schema": {
              "$ref": "#/definitions/GameDevAccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevAccount"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevBuilds": {
      "get": {
        "tags": [
          "GameDevBuilds"
        ],
        "operationId": "GameDevBuilds_ListByGameDevAccounts",
        "description": "List GameDevBuild resources by GameDevAccounts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevBuildListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevBuilds/{gameDevBuildName}": {
      "get": {
        "tags": [
          "GameDevBuilds"
        ],
        "operationId": "GameDevBuilds_Get",
        "description": "Get a GameDevBuild",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevBuild.gameDevBuildName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevBuild"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "GameDevBuilds"
        ],
        "operationId": "GameDevBuilds_CreateOrUpdate",
        "description": "Create a GameDevBuild",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevBuild.gameDevBuildName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/GameDevBuild"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevBuild"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevBuild"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "GameDevBuilds"
        ],
        "operationId": "GameDevBuilds_Delete",
        "description": "Delete a GameDevBuild",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevBuild.gameDevBuildName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevPackages": {
      "get": {
        "tags": [
          "GameDevPackages"
        ],
        "operationId": "GameDevPackages_ListByGameDevAccounts",
        "description": "List GameDevPackage resources by GameDevAccounts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevPackageListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevPackages/{gameDevPackageName}": {
      "get": {
        "tags": [
          "GameDevPackages"
        ],
        "operationId": "GameDevPackages_Get",
        "description": "Get a GameDevPackage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevPackage.gameDevPackageName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevPackage"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "GameDevPackages"
        ],
        "operationId": "GameDevPackages_CreateOrUpdate",
        "description": "Create a GameDevPackage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevPackage.gameDevPackageName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/GameDevPackage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevPackage"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevPackage"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "GameDevPackages"
        ],
        "operationId": "GameDevPackages_Delete",
        "description": "Delete a GameDevPackage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevPackage.gameDevPackageName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions": {
      "get": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_ListByGameDevAccounts",
        "description": "List GameDevSession resources by GameDevAccounts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSessionListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions/{gameDevSessionName}": {
      "get": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_Get",
        "description": "Get a GameDevSession",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSession"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_CreateOrUpdate",
        "description": "Create a GameDevSession",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/GameDevSession"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSession"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GameDevSession"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_Delete",
        "description": "Delete a GameDevSession",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions/{gameDevSessionName}/end": {
      "post": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_end",
        "description": "End a GameDevSession.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/GameDevSessionCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the operation.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GameDevkits/gameDevAccounts/{gameDevAccountName}/gameDevSessions/{gameDevSessionName}/start": {
      "post": {
        "tags": [
          "GameDevSessions"
        ],
        "operationId": "GameDevSessions_start",
        "description": "Start a GameDevSession.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GameDevAccount.gameDevAccountName"
          },
          {
            "$ref": "#/parameters/GameDevSession.gameDevSessionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/GameDevSessionCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the operation.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "BaseCommand": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of command."
        },
        "input": {
          "type": "string",
          "description": "Location of script."
        },
        "timeoutInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Command exexution timeout in seconds."
        },
        "isBackground": {
          "type": "boolean",
          "description": "Execute command in background."
        }
      },
      "description": "Details of a command.",
      "required": [
        "input"
      ]
    },
    "CommandOutput": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        }
      },
      "description": "Command output."
    },
    "CommandState": {
      "type": "string",
      "description": "The status of the command execution.",
      "enum": [
        "NotStarted",
        "Running",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "CommandState",
        "modelAsString": true
      }
    },
    "DeviceDetails": {
      "type": "object",
      "properties": {
        "deviceType": {
          "$ref": "#/definitions/DeviceType"
        }
      },
      "description": "Details of device to be used in session.",
      "required": [
        "deviceType"
      ]
    },
    "DeviceType": {
      "type": "string",
      "enum": [
        "PC",
        "Xbox"
      ],
      "x-ms-enum": {
        "name": "DeviceType",
        "modelAsString": true
      }
    },
    "GameDevAccount": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GameDevAccountProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "A GameDevAccount resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GameDevAccountListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameDevAccount"
          },
          "x-cadl-name": "GameDevAccount[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a GameDevAccount list operation.",
      "required": [
        "value"
      ]
    },
    "GameDevAccountProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "description": "Properties of GameDevAccount"
    },
    "GameDevAccountUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/GameDevAccountUpdateProperties"
        }
      },
      "description": "Update model for GameDevAccount"
    },
    "GameDevAccountUpdateProperties": {
      "type": "object",
      "properties": {},
      "description": "The updatable properties of the GameDevAccount."
    },
    "GameDevBuild": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GameDevBuildProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Details of GameDevBuild resource.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GameDevBuildConfiguration": {
      "type": "object",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "XBOX|PC OS version."
        },
        "taskDetails": {
          "$ref": "#/definitions/TaskDetails_BaseCommand",
          "description": "Task details for Provisioning|Running a session."
        }
      },
      "description": "Configuration for GameDevBuild resource.",
      "required": [
        "osVersion"
      ]
    },
    "GameDevBuildListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameDevBuild"
          },
          "x-cadl-name": "GameDevBuild[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a GameDevBuild list operation.",
      "required": [
        "value"
      ]
    },
    "GameDevBuildProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "gameDevPackageId": {
          "type": "string",
          "description": "Resource Id of GameDevPackage."
        },
        "configuration": {
          "$ref": "#/definitions/GameDevBuildConfiguration",
          "description": "Build configuration."
        },
        "deviceDetails": {
          "$ref": "#/definitions/DeviceDetails"
        }
      },
      "description": "Properties of GameDevBuild.",
      "required": [
        "gameDevPackageId",
        "configuration",
        "deviceDetails"
      ]
    },
    "GameDevPackage": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GameDevPackageProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Details of GameDevPackage resource.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GameDevPackageListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameDevPackage"
          },
          "x-cadl-name": "GameDevPackage[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a GameDevPackage list operation.",
      "required": [
        "value"
      ]
    },
    "GameDevPackageProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "packageUri": {
          "type": "string",
          "description": "Storage location"
        },
        "targetType": {
          "$ref": "#/definitions/DeviceType",
          "description": "Type of device"
        }
      },
      "description": "Properties of GameDevPackage",
      "required": [
        "packageUri",
        "targetType"
      ]
    },
    "GameDevSession": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GameDevSessionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "System metadata for this resource.",
          "readOnly": true
        }
      },
      "description": "Details of a GameDevSession resource.",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GameDevSessionCommand": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of command."
        },
        "input": {
          "type": "string",
          "description": "Location of script."
        },
        "timeoutInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Command exexution timeout in seconds."
        },
        "isBackground": {
          "type": "boolean",
          "description": "Execute command in background."
        },
        "commandState": {
          "$ref": "#/definitions/CommandState",
          "description": "State of the command execution.",
          "readOnly": true
        },
        "output": {
          "$ref": "#/definitions/CommandOutput",
          "readOnly": true
        }
      },
      "description": "Details of a Command.",
      "required": [
        "input"
      ]
    },
    "GameDevSessionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameDevSession"
          },
          "x-cadl-name": "GameDevSession[]",
          "description": "The items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a GameDevSession list operation.",
      "required": [
        "value"
      ]
    },
    "GameDevSessionOutput": {
      "type": "object",
      "properties": {
        "sessionLogs": {
          "type": "string"
        }
      },
      "description": "GameDevSession output",
      "required": [
        "sessionLogs"
      ]
    },
    "GameDevSessionProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "buildId": {
          "type": "string",
          "description": "Id of the GameDevBuild."
        },
        "sessionStatus": {
          "$ref": "#/definitions/SessionStatus",
          "readOnly": true
        },
        "sessionStart": {
          "type": "string",
          "description": "Timestamp of the session start in date-time format.",
          "readOnly": true
        },
        "sessionEnd": {
          "type": "string",
          "description": "Timestamp of the session end in date-time format.",
          "readOnly": true
        },
        "taskDetails": {
          "$ref": "#/definitions/TaskDetails_GameDevSessionCommand"
        },
        "deviceDetails": {
          "$ref": "#/definitions/DeviceDetails",
          "readOnly": true
        },
        "sessionOutput": {
          "$ref": "#/definitions/GameDevSessionOutput",
          "readOnly": true
        }
      },
      "description": "Properties of the GameDevSession",
      "required": [
        "buildId"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Provisioning",
        "Accepted",
        "Creating",
        "Deleting",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false
      }
    },
    "SessionStatus": {
      "type": "string",
      "description": "Internal status of the session.",
      "enum": [
        "Initializing",
        "Provisioning",
        "Ready",
        "InUse",
        "Terminating",
        "Terminated",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "SessionStatus",
        "modelAsString": true
      }
    },
    "TaskDetails_BaseCommand": {
      "type": "object",
      "properties": {
        "startCommand": {
          "$ref": "#/definitions/BaseCommand",
          "description": "Commands to run at session start."
        },
        "endCommand": {
          "$ref": "#/definitions/BaseCommand",
          "description": "Commands to run at session end."
        }
      },
      "description": "Task details to be used by the session."
    },
    "TaskDetails_GameDevSessionCommand": {
      "type": "object",
      "properties": {
        "startCommand": {
          "$ref": "#/definitions/GameDevSessionCommand",
          "description": "Commands to run at session start."
        },
        "endCommand": {
          "$ref": "#/definitions/GameDevSessionCommand",
          "description": "Commands to run at session end."
        }
      },
      "description": "Task details to be used by the session."
    }
  },
  "parameters": {
    "GameDevAccount.gameDevAccountName": {
      "name": "gameDevAccountName",
      "in": "path",
      "required": true,
      "description": "Name of the GameDevAccount resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "GameDevBuild.gameDevBuildName": {
      "name": "gameDevBuildName",
      "in": "path",
      "required": true,
      "description": "Name of GameDevBuild resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "GameDevPackage.gameDevPackageName": {
      "name": "gameDevPackageName",
      "in": "path",
      "required": true,
      "description": "Name of GameDevPackage resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "GameDevSession.gameDevSessionName": {
      "name": "gameDevSessionName",
      "in": "path",
      "required": true,
      "description": "Name of the GameDevSession resource.",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
