{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "version": "2023-08-22-preview",
    "description": "rnmVip Provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "RnmVip"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCIS/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations RnmVip": {
            "$ref": "./examples/RnmVip_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/rnmVips": {
      "get": {
        "operationId": "RnmVip_ListBySubscription",
        "tags": [
          "RnmVip"
        ],
        "description": "List RnmVipResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RnmVipResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription RnmVip": {
            "$ref": "./examples/RnmVip_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/rnmVips": {
      "get": {
        "operationId": "RnmVip_ListByResourceGroup",
        "tags": [
          "RnmVip"
        ],
        "description": "List RnmVipResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RnmVipResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup RnmVip": {
            "$ref": "./examples/RnmVip_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/rnmVips/{resourceName}": {
      "get": {
        "operationId": "RnmVip_Get",
        "tags": [
          "RnmVip"
        ],
        "description": "Get a RnmVipResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RnmVipResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get RnmVip": {
            "$ref": "./examples/RnmVip_Get.json"
          }
        }
      },
      "put": {
        "operationId": "RnmVip_CreateOrUpdate",
        "tags": [
          "RnmVip"
        ],
        "description": "Create a RnmVipResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RnmVipResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'RnmVipResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/RnmVipResource"
            }
          },
          "201": {
            "description": "Resource 'RnmVipResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RnmVipResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create RnmVip": {
            "$ref": "./examples/RnmVip_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "RnmVipProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "RnmVipProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      }
    },
    "RnmVipResource": {
      "type": "object",
      "description": "rnmVips Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RnmVipResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RnmVipResourceListResult": {
      "type": "object",
      "description": "The response of a RnmVipResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RnmVipResource items on this page",
          "items": {
            "$ref": "#/definitions/RnmVipResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RnmVipResourceProperties": {
      "type": "object",
      "description": "rnmVip properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of a RnmVip resource item."
        },
        "rnmSubscriptionId": {
          "type": "string",
          "description": "Gets or sets the value of rnm subscription Guid. Every vip allocated by rnm needs to be associated with a subscription. Rnm team created subscriptions for different teams."
        },
        "reservationId": {
          "type": "string",
          "description": "Gets or sets the value of vip reservation Id. Every vip allocated by rnm has a reservation Id. This is an optional field for Static IP reservation. In this case, if the reservation is already present then the system will mark reservation as successful without any duplicate reservation. E.g. FF03EB76-BA3D-4892-BD40-E42EFEE3DF67"
        },
        "addressFamily": {
          "type": "string",
          "description": "Gets or sets the value of VIP address Family. It is an optional property. E.g. InterNetwork."
        },
        "vipAccessibility": {
          "type": "string",
          "description": "Gets or sets the value of VIP Accessibility. It is an optional property. E.g. Public."
        },
        "firstPartyUsageTag": {
          "type": "string",
          "description": "Gets or sets the value of FirstPartyUsage tag. It is an optional tag of a vip. E.g. \"/Storage\""
        },
        "zonalFirstPartyUsageTag": {
          "type": "string",
          "description": "Gets or sets the value of FirstPartyUsage tag for zonal vips. It is an optional tag of a vip. E.g. \"/AzureStorageGeneralInRnm\""
        },
        "scopeTag": {
          "type": "string",
          "description": "Gets or sets the value of Scope tag. It is an optional tag of a vip. E.g. \"TransitAnycast\""
        },
        "availabilityZonal": {
          "type": "boolean",
          "description": "Gets or sets the flag indicating whether AvailabilityZone tag is required. AvailabilityZone tag value depends on the cluster, so it is not able to provide a value in template. AZ of a cluster can be found in file \\\\reddog\\Builds\\branches\\dcmt_latest_amd64\\Datacenter\\AZs.xml"
        },
        "ipAddress": {
          "type": "string",
          "description": "Gets or sets the IP address to be reserved. E.g. Any IPv4 or IPv6 address."
        },
        "useRnmVipRpVersion2": {
          "type": "boolean",
          "description": " Gets or sets flag to use RNM RP VIP v2."
        },
        "availabilityZone": {
          "type": "string",
          "description": "Gets or sets Availability Zone."
        },
        "vipMetaData": {
          "$ref": "#/definitions/VipMetaData",
          "description": "Gets or sets RNM VIP Metadata."
        },
        "vipTags": {
          "type": "array",
          "description": "Gets or sets the IP address to be reserved.",
          "items": {
            "$ref": "#/definitions/RnmVipTag"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/RnmVipProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "rnmSubscriptionId"
      ]
    },
    "RnmVipTag": {
      "type": "object",
      "description": "RNM VIP Tag class to capture VIP Tags",
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the VIP tag type. E.g. \"FirstPartyUsage\"."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the VIP tag value."
        }
      },
      "required": [
        "type",
        "value"
      ]
    },
    "VipMetaData": {
      "type": "object",
      "description": "RNM VIP Metadata to capture details related VIP.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Gets or sets the IP address."
        },
        "vipRange": {
          "type": "string",
          "description": "Gets or sets the VIP range."
        },
        "infraStructureTenantVipRangeIndex": {
          "type": "string",
          "description": "Gets or sets the Infrastructure tenant VIP range Index."
        },
        "vipOffset": {
          "type": "string",
          "description": "Gets or sets the VIP offset."
        }
      }
    }
  },
  "parameters": {}
}
