{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "version": "2023-08-22-preview",
    "description": "DnsNamespaceManagerUpdateCnameRecordSet Provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DnsNamespaceManagerARecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateARecordSet"
    },
    {
      "name": "DnsNamespaceManagerAppendARecordSet"
    },
    {
      "name": "DnsNamespaceManagerAaaaRecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateAaaaRecordSet"
    },
    {
      "name": "DnsNamespaceManagerAppendAaaaRecordSet"
    },
    {
      "name": "DnsNamespaceManagerChildZoneDelegation"
    },
    {
      "name": "DnsNamespaceManagerUpdateDelegation"
    },
    {
      "name": "DnsNamespaceManagerCnameRecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateCnameRecordSet"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCIS/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateAaaaRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateDelegation": {
            "$ref": "./examples/DnsNamespaceManagerUpdateDelegation_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "List DnsNamespaceManagerARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerCNameRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerCnameRecordSet"
        ],
        "description": "List DnsNamespaceManagerCnameRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerChildZoneDelegationResources": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegation_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegation"
        ],
        "description": "List DnsNamespaceManagerChildZoneDelegationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateAaaaRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateCNameRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateCnameRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateDelegationResources": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateDelegation_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateDelegation"
        ],
        "description": "List DnsNamespaceManagerUpdateDelegationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateDelegation": {
            "$ref": "./examples/DnsNamespaceManagerUpdateDelegation_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "List DnsNamespaceManagerARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerAaaaRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAaaaRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAaaaRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAaaaRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAaaaRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAppendARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAppendARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendAaaaRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendAaaaRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAppendAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAppendAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendAaaaRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendAaaaRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerCNameRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerCnameRecordSet"
        ],
        "description": "List DnsNamespaceManagerCnameRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerCNameRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerCnameRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerCnameRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerCnameRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerCnameRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerCnameRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerCnameRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerCnameRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerChildZoneDelegationResources": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegation_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegation"
        ],
        "description": "List DnsNamespaceManagerChildZoneDelegationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerChildZoneDelegationResources/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegation_Get",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegation"
        ],
        "description": "Get a DnsNamespaceManagerChildZoneDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerChildZoneDelegation_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegation"
        ],
        "description": "Create a DnsNamespaceManagerChildZoneDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerChildZoneDelegationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerChildZoneDelegationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerUpdateARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerUpdateARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateAaaaRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerUpdateAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateAaaaRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateAaaaRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerUpdateAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerUpdateAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateAaaaRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerUpdateAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateAaaaRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateAaaaRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerUpdateAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateAaaaRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateCNameRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateCnameRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateCNameRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerUpdateCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerUpdateCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateCnameRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateCnameRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateDelegationResources": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateDelegation_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateDelegation"
        ],
        "description": "List DnsNamespaceManagerUpdateDelegationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerUpdateDelegation": {
            "$ref": "./examples/DnsNamespaceManagerUpdateDelegation_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateDelegationResources/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateDelegation_Get",
        "tags": [
          "DnsNamespaceManagerUpdateDelegation"
        ],
        "description": "Get a DnsNamespaceManagerUpdateDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerUpdateDelegation": {
            "$ref": "./examples/DnsNamespaceManagerUpdateDelegation_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateDelegation_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateDelegation"
        ],
        "description": "Create a DnsNamespaceManagerUpdateDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateDelegationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateDelegationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerUpdateDelegation": {
            "$ref": "./examples/DnsNamespaceManagerUpdateDelegation_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ARecord": {
      "type": "object",
      "description": "A Record type model",
      "properties": {
        "ipV4Address": {
          "type": "string",
          "description": "Gets or sets the IPv4 Address in String format"
        }
      },
      "required": [
        "ipV4Address"
      ]
    },
    "AaaaRecord": {
      "type": "object",
      "description": "AAAA Record type model",
      "properties": {
        "ipV6Address": {
          "type": "string",
          "description": "Gets or sets the IPv6 Address in String format"
        }
      },
      "required": [
        "ipV6Address"
      ]
    },
    "CnameRecord": {
      "type": "object",
      "description": "Represents an CNAME Record",
      "properties": {
        "cName": {
          "type": "string",
          "description": "Gets or sets the Canonical Name"
        }
      },
      "required": [
        "cName"
      ]
    },
    "DnsNamespaceManagerARecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerARecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerARecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerARecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerARecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerARecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerARecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerARecordSet properties",
      "properties": {
        "aRecords": {
          "type": "array",
          "description": "Gets or sets the array of A Records",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "x-ms-identifiers": []
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "recordSetOwner": {
          "$ref": "#/definitions/RecordSetOwner",
          "description": "Gets or sets the owning team's ServiceTree Id and Contact Email"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "aRecords",
        "relativeRecordSetName",
        "dnsZoneName",
        "recordSetOwner"
      ]
    },
    "DnsNamespaceManagerAaaaRecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerAaaaRecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerAaaaRecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerAaaaRecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerAaaaRecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerAaaaRecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerAaaaRecordSet properties",
      "properties": {
        "aaaaRecords": {
          "type": "array",
          "description": "Gets or sets the AAAA Records",
          "items": {
            "$ref": "#/definitions/AaaaRecord"
          },
          "x-ms-identifiers": []
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "recordSetOwner": {
          "$ref": "#/definitions/RecordSetOwner",
          "description": "Gets or sets the owning team's ServiceTree Id and Contact Email"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "aaaaRecords",
        "relativeRecordSetName",
        "dnsZoneName",
        "recordSetOwner"
      ]
    },
    "DnsNamespaceManagerAppendARecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerAppendARecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerAppendARecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerAppendARecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerAppendARecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerAppendARecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerAppendARecordSet properties",
      "properties": {
        "aRecords": {
          "type": "array",
          "description": "Gets or sets the array of A Records",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "x-ms-identifiers": []
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "recordSetOwner": {
          "$ref": "#/definitions/RecordSetOwner",
          "description": "Gets or sets the owning team's ServiceTree Id and Contact Email"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "aRecords",
        "relativeRecordSetName",
        "dnsZoneName"
      ]
    },
    "DnsNamespaceManagerAppendAaaaRecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerAppendAaaaRecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerAppendAaaaRecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerAppendAaaaRecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerAppendAaaaRecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerAppendAaaaRecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerAppendAaaaRecordSet properties",
      "properties": {
        "aaaaRecords": {
          "type": "array",
          "description": "Gets or sets the AAAA Records",
          "items": {
            "$ref": "#/definitions/AaaaRecord"
          },
          "x-ms-identifiers": []
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "aaaaRecords",
        "relativeRecordSetName",
        "dnsZoneName"
      ]
    },
    "DnsNamespaceManagerChildZoneDelegationResource": {
      "type": "object",
      "description": "DnsNamespaceManagerAaaaRecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerChildZoneDelegationResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerChildZoneDelegationResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerChildZoneDelegationResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerChildZoneDelegationResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerChildZoneDelegation properties",
      "properties": {
        "childDnsZoneName": {
          "type": "string",
          "description": "Gets or sets the child DNS zone FQDN"
        },
        "childDnsZoneResourceGroupName": {
          "type": "string",
          "description": "Gets or sets the ResourceGroupName hosting the child DNS zone"
        },
        "childDnsZoneSubscriptionId": {
          "type": "string",
          "description": "Gets or sets the SubscriptionID hosting the Child DNS zone"
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "recordSetOwner": {
          "$ref": "#/definitions/RecordSetOwner",
          "description": "Gets or sets the owning team's ServiceTree Id and Contact Email"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "childDnsZoneName",
        "childDnsZoneResourceGroupName",
        "childDnsZoneSubscriptionId",
        "dnsZoneName",
        "recordSetOwner"
      ]
    },
    "DnsNamespaceManagerCnameRecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerCnameRecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerCnameRecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerCnameRecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerCnameRecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerCnameRecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerCnameRecordSet properties",
      "properties": {
        "cName": {
          "$ref": "#/definitions/CnameRecord",
          "description": "Gets or sets the canonical name in String format"
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "recordSetOwner": {
          "$ref": "#/definitions/RecordSetOwner",
          "description": "Gets or sets the owning team's ServiceTree Id and Contact Email"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "cName",
        "relativeRecordSetName",
        "dnsZoneName",
        "recordSetOwner"
      ]
    },
    "DnsNamespaceManagerProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "DnsNamespaceManagerProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "DnsNamespaceManagerUpdateARecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerUpdateARecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerUpdateARecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerUpdateARecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerUpdateARecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerUpdateARecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerUpdateARecordSet properties",
      "properties": {
        "aRecords": {
          "type": "array",
          "description": "Gets or sets the array of A Records",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "x-ms-identifiers": []
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "aRecords",
        "relativeRecordSetName",
        "dnsZoneName"
      ]
    },
    "DnsNamespaceManagerUpdateAaaaRecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerUpdateAaaaRecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
[...]
