{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "version": "2023-08-22-preview",
    "description": "DnsNamespaceManagerAppendARecordSet Provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DnsNamespaceManagerARecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateARecordSet"
    },
    {
      "name": "DnsNamespaceManagerAppendARecordSet"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCIS/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "List DnsNamespaceManagerARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "List DnsNamespaceManagerARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAppendARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAppendARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerUpdateARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerUpdateARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ARecord": {
      "type": "object",
      "description": "A Record type model",
      "properties": {
        "ipV4Address": {
          "type": "string",
          "description": "Gets or sets the IPv4 Address in String format"
        }
      },
      "required": [
        "ipV4Address"
      ]
    },
    "DnsNamespaceManagerARecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerARecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerARecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerARecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerARecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerARecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerARecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerARecordSet properties",
      "properties": {
        "aRecords": {
          "type": "array",
          "description": "Gets or sets the array of A Records",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "x-ms-identifiers": []
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "recordSetOwner": {
          "$ref": "#/definitions/RecordSetOwner",
          "description": "Gets or sets the owning team's ServiceTree Id and Contact Email"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "aRecords",
        "relativeRecordSetName",
        "dnsZoneName",
        "recordSetOwner"
      ]
    },
    "DnsNamespaceManagerAppendARecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerAppendARecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerAppendARecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerAppendARecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerAppendARecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerAppendARecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerAppendARecordSet properties",
      "properties": {
        "aRecords": {
          "type": "array",
          "description": "Gets or sets the array of A Records",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "x-ms-identifiers": []
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "recordSetOwner": {
          "$ref": "#/definitions/RecordSetOwner",
          "description": "Gets or sets the owning team's ServiceTree Id and Contact Email"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "aRecords",
        "relativeRecordSetName",
        "dnsZoneName"
      ]
    },
    "DnsNamespaceManagerProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "DnsNamespaceManagerProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "DnsNamespaceManagerUpdateARecordSetResource": {
      "type": "object",
      "description": "DnsNamespaceManagerUpdateARecordSet Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DnsNamespaceManagerUpdateARecordSetResourceListResult": {
      "type": "object",
      "description": "The response of a DnsNamespaceManagerUpdateARecordSetResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DnsNamespaceManagerUpdateARecordSetResource items on this page",
          "items": {
            "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DnsNamespaceManagerUpdateARecordSetResourceProperties": {
      "type": "object",
      "description": "DnsNamespaceManagerUpdateARecordSet properties",
      "properties": {
        "aRecords": {
          "type": "array",
          "description": "Gets or sets the array of A Records",
          "items": {
            "$ref": "#/definitions/ARecord"
          },
          "x-ms-identifiers": []
        },
        "relativeRecordSetName": {
          "type": "string",
          "description": "Gets or sets the record set name (relative to the parent DNS zone that is hosting it)."
        },
        "dnsZoneName": {
          "type": "string",
          "description": "Gets or sets the domain name"
        },
        "provisioningState": {
          "$ref": "#/definitions/DnsNamespaceManagerProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "aRecords",
        "relativeRecordSetName",
        "dnsZoneName"
      ]
    },
    "RecordSetOwner": {
      "type": "object",
      "description": "RecordSetOwner type model",
      "properties": {
        "serviceTreeId": {
          "type": "string",
          "description": "Gets or sets ServiceTreeId"
        },
        "contactEmail": {
          "type": "string",
          "description": "Gets or sets ContactEmail"
        }
      },
      "required": [
        "serviceTreeId",
        "contactEmail"
      ]
    }
  },
  "parameters": {}
}
