{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "version": "2023-08-22-preview",
    "description": "DnsNamespaceManagerAppendSrvRecordSet Provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DnsNamespaceManagerChildZoneDelegationResources"
    },
    {
      "name": "DnsNamespaceManagerAaaaRecordSets"
    },
    {
      "name": "DnsNamespaceManagerArecordSets"
    },
    {
      "name": "DnsNamespaceManagerCnameRecordSets"
    },
    {
      "name": "DnsNamespaceManagerTxtRecordSets"
    },
    {
      "name": "DnsNamespaceManagerSrvRecordSets"
    },
    {
      "name": "DnsNamespaceManagerUpdateDelegationResources"
    },
    {
      "name": "DnsNamespaceManagerUpdateAaaaRecordSets"
    },
    {
      "name": "DnsNamespaceManagerUpdateArecordSets"
    },
    {
      "name": "DnsNamespaceManagerUpdateCnameRecordSets"
    },
    {
      "name": "DnsNamespaceManagerUpdateTxtRecordSets"
    },
    {
      "name": "DnsNamespaceManagerUpdateSrvRecordSets"
    },
    {
      "name": "DnsNamespaceManagerAppendAaaaRecordSets"
    },
    {
      "name": "DnsNamespaceManagerAppendArecordSets"
    },
    {
      "name": "DnsNamespaceManagerAppendTxtRecordSets"
    },
    {
      "name": "DnsNamespaceManagerAppendSrvRecordSets"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCIS/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAaaaRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSets"
        ],
        "description": "List DnsNamespaceManagerAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendAaaaRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSets"
        ],
        "description": "List DnsNamespaceManagerAppendAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendArecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendArecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendArecordSets"
        ],
        "description": "List DnsNamespaceManagerAppendArecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendArecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendSrvRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendSrvRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendSrvRecordSets"
        ],
        "description": "List DnsNamespaceManagerAppendSrvRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendTxtRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendTxtRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendTxtRecordSets"
        ],
        "description": "List DnsNamespaceManagerAppendTxtRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerArecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerArecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerArecordSets"
        ],
        "description": "List DnsNamespaceManagerArecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerArecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerCNameRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerCnameRecordSets"
        ],
        "description": "List DnsNamespaceManagerCnameRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerChildZoneDelegationResource": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegationResources_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegationResources"
        ],
        "description": "List DnsNamespaceManagerChildZoneDelegationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerSrvRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerSrvRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerSrvRecordSets"
        ],
        "description": "List DnsNamespaceManagerSrvRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerTxtRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerTxtRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerTxtRecordSets"
        ],
        "description": "List DnsNamespaceManagerTxtRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateAaaaRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSets"
        ],
        "description": "List DnsNamespaceManagerUpdateAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateArecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateArecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateArecordSets"
        ],
        "description": "List DnsNamespaceManagerUpdateArecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateArecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateCNameRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSets"
        ],
        "description": "List DnsNamespaceManagerUpdateCnameRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateDelegationResource": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateDelegationResources_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateDelegationResources"
        ],
        "description": "List DnsNamespaceManagerUpdateDelegationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateSrvRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateSrvRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateSrvRecordSets"
        ],
        "description": "List DnsNamespaceManagerUpdateSrvRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateTxtRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateTxtRecordSets_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateTxtRecordSets"
        ],
        "description": "List DnsNamespaceManagerUpdateTxtRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAaaaRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSets"
        ],
        "description": "List DnsNamespaceManagerAaaaRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAaaaRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAaaaRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAaaaRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAaaaRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendAaaaRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSets"
        ],
        "description": "List DnsNamespaceManagerAppendAaaaRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendAaaaRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerAppendAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerAppendAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendAaaaRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendAaaaRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendArecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendArecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendArecordSets"
        ],
        "description": "List DnsNamespaceManagerAppendArecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendArecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendArecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendArecordSets_Get",
        "tags": [
          "DnsNamespaceManagerAppendArecordSets"
        ],
        "description": "Get a DnsNamespaceManagerAppendArecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendArecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendArecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendArecordSets"
        ],
        "description": "Create a DnsNamespaceManagerAppendArecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendArecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendArecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendArecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendArecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendArecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendSrvRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendSrvRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendSrvRecordSets"
        ],
        "description": "List DnsNamespaceManagerAppendSrvRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendSrvRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendSrvRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerAppendSrvRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerAppendSrvRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendSrvRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendSrvRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerAppendSrvRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendSrvRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendSrvRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendTxtRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendTxtRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendTxtRecordSets"
        ],
        "description": "List DnsNamespaceManagerAppendTxtRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerAppendTxtRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendTxtRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerAppendTxtRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerAppendTxtRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendTxtRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendTxtRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerAppendTxtRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendTxtRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendTxtRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerArecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerArecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerArecordSets"
        ],
        "description": "List DnsNamespaceManagerArecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerArecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerArecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerArecordSets_Get",
        "tags": [
          "DnsNamespaceManagerArecordSets"
        ],
        "description": "Get a DnsNamespaceManagerArecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerArecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerArecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerArecordSets"
        ],
        "description": "Create a DnsNamespaceManagerArecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerArecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerArecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerArecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerArecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerArecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerCNameRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerCnameRecordSets"
        ],
        "description": "List DnsNamespaceManagerCnameRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerCNameRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerCnameRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerCnameRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerCnameRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerCnameRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerCnameRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerChildZoneDelegationResource": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegationResources_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegationResources"
        ],
        "description": "List DnsNamespaceManagerChildZoneDelegationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerChildZoneDelegationResource/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegationResources_Get",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegationResources"
        ],
        "description": "Get a DnsNamespaceManagerChildZoneDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerChildZoneDelegationResources_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegationResources"
        ],
        "description": "Create a DnsNamespaceManagerChildZoneDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerChildZoneDelegationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerChildZoneDelegationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerSrvRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerSrvRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerSrvRecordSets"
        ],
        "description": "List DnsNamespaceManagerSrvRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerSrvRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerSrvRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerSrvRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerSrvRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerSrvRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerSrvRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerSrvRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerSrvRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerSrvRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerTxtRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerTxtRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerTxtRecordSets"
        ],
        "description": "List DnsNamespaceManagerTxtRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerTxtRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerTxtRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerTxtRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerTxtRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerTxtRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerTxtRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerTxtRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerTxtRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerTxtRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateAaaaRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSets"
        ],
        "description": "List DnsNamespaceManagerUpdateAaaaRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateAaaaRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerUpdateAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerUpdateAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateAaaaRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateAaaaRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateArecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateArecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateArecordSets"
        ],
        "description": "List DnsNamespaceManagerUpdateArecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateArecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateArecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateArecordSets_Get",
        "tags": [
          "DnsNamespaceManagerUpdateArecordSets"
        ],
        "description": "Get a DnsNamespaceManagerUpdateArecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateArecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateArecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateArecordSets"
        ],
        "description": "Create a DnsNamespaceManagerUpdateArecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateArecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateArecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateArecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateArecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateArecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateCNameRecordSet": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSets_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSets"
        ],
        "description": "List DnsNamespaceManagerUpdateCnameRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateCNameRecordSet/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSets_Get",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSets"
        ],
        "description": "Get a DnsNamespaceManagerUpdateCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSets_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSets"
        ],
        "description": "Create a DnsNamespaceManagerUpdateCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateCnameRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateCnameRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateDelegationResource": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateDelegationResources_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateDelegationResources"
        ],
        "description": "List DnsNamespaceManagerUpdateDelegationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dnsNamespaceManagerUpdateDelegationResource/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateDelegationResources_Get",
        "tags": [
          "DnsNamespaceManagerUpdateDelegationResources"
        ],
        "description": "Get a DnsNamespaceManagerUpdateDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
[...]
