{
  "swagger": "2.0",
  "info": {
    "title": "AMFFunction",
    "description": "The definitions in this swagger specification will be used to create AMFFunction",
    "version": "2022-09-15-privatepreview",
    "x-ms-code-generation-settings": {
      "name": "NetworkFunctionResource"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/amfFunctions": {
      "get": {
        "tags": [
          "AmfFunctions"
        ],
        "operationId": "AMF_Retrieve_All_By_MobilePacketCore",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/AmfFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in network function": {
            "$ref": "./examples/AmfListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/amfFunctions/{amfFunctionName}": {
      "get": {
        "tags": [
          "AmfFunctions"
        ],
        "operationId": "AMF_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AmfFunctionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the AMF resource.",
            "schema": {
              "$ref": "#/definitions/AmfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get AMF": {
            "$ref": "./examples/AmfGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "AmfFunctions"
        ],
        "operationId": "AMF_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AmfFunctionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmfFunction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the AMF resource.",
            "schema": {
              "$ref": "#/definitions/AmfFunction"
            }
          },
          "201": {
            "description": "Creates the AMF resource.",
            "schema": {
              "$ref": "#/definitions/AmfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Vendor resource": {
            "$ref": "./examples/AmfCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "AmfFunctions"
        ],
        "operationId": "AMF_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AmfFunctionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the AMF resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete AMF": {
            "$ref": "./examples/AmfDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "description": "Update AMFFunctions tags.",
        "tags": [
          "AmfFunctions"
        ],
        "operationId": "AMF_UpdateTags",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AmfFunctionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the AMF resource.",
            "schema": {
              "$ref": "#/definitions/AmfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete AMF": {
            "$ref": "./examples/AmfUpdateTags.json"
          }
        }
      }
    }
  },
  "definitions": {
    "N2Config": {
      "type": "object",
      "properties": {
        "port": {
          "type": "integer",
          "description": ""
        },
        "priSctpIpv4Addr": {
          "type": "string",
          "description": "Primary IP address/fqdn"
        },
        "secSctpIpv4Addr": {
          "type": "string",
          "description": "Secondary IP address/fqdn"
        }
      },
      "required": [
        "port",
        "priSctpIpv4Addr",
        "secSctpIpv4Addr"
      ],
      "description": "NGAP config"
    },
    "AmfInfo": {
      "type": "object",
      "properties": {
        "amfRegionId": {
          "type": "string",
          "description": "AMF region identifier."
        },
        "amfSetId": {
          "type": "string",
          "description": "AMF set identifier."
        },
        "amfPointer": {
          "type": "string",
          "description": "AMF pointer identifier."
        },
        "emergencySnssai": {
          "$ref": "./common.json#/definitions/Snssai"
        }
      },
      "required": [
        "amfRegionId",
        "amfSetId",
        "amfPointer",
        "emergencySnssai"
      ],
      "description": "AMF profile"
    },
    "AmfLcmConfig": {
      "type": "object",
      "properties": {
        "cfgmgrLbIp": {
          "type": "string",
          "description": "Load Balancer IP address."
        },
        "ingressGwLiInitialProtocol": {
          "type": "string"
        },
        "n2ExternalIps": {
          "type": "string",
          "description": "List of FQDN and external IP pairs for N2 interface. The FQDNs must be configured under amf-n2"
        },
        "n2ServerPorts": {
          "type": "string",
          "description": "List of Server Ports for N2 SCTP interface. The Port must be configured under amf-n2"
        },
        "sctplbEndpointIpsIp": {
          "type": "string",
          "description": "External IP for N2 interface."
        },
        "sctplbEndpointIpsNetAttachDefName": {
          "type": "string",
          "description": "Network attachment definition name in case the external IP connectivity is through an SR-IOV enabled interface device on the SCTP LB."
        }
      },
      "required": [
        "cfgmgrLbIp",
        "n2ExternalIps",
        "n2ServerPorts",
        "sctplbEndpointIpsIp",
        "sctplbEndpointIpsNetAttachDefName"
      ],
      "description": "AMF resource LCM configuration."
    },
    "AmfCmConfig": {
      "type": "object",
      "properties": {
        "n2Config": {
          "$ref": "#/definitions/N2Config"
        },
        "snssaiForEpsInterworking": {
          "$ref": "./common.json#/definitions/Snssai"
        },
        "amfInfo": {
          "$ref": "#/definitions/AmfInfo"
        }
      },
      "required": [
        "n2Config",
        "snssaiForEpsInterworking",
        "amfInfo"
      ]
    },
    "AmfFunctionPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState"
        },
        "nssiRefList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 0,
          "description": "References to NSS instances associated with this NF."
        },
        "nfAbstract": {
          "$ref": "./common.json#/definitions/NfAbstract"
        },
        "lcmConfig": {
          "$ref": "#/definitions/AmfLcmConfig"
        },
        "cmConfig": {
          "$ref": "#/definitions/AmfCmConfig"
        }
      },
      "required": [
        "nfAbstract",
        "lcmConfig",
        "cmConfig"
      ],
      "description": "The AMF resource definition."
    },
    "AmfFunction": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AmfFunctionPropertiesFormat",
          "description": "Mobile network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The AMF network function resource."
    },
    "AmfFunctionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AmfFunction"
          },
          "description": "A list of AMF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for network function API service call."
    }
  },
  "parameters": {
    "AmfFunctionName": {
      "name": "amfFunctionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of AMF Function"
    }
  }
}
