{
  "swagger": "2.0",
  "info": {
    "title": "DeploymentArea",
    "description": "The definitions in this swagger specification will be used for Area.",
    "version": "2022-09-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores/{mpcName}/deploymentAreas/{aName}": {
      "put": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the DeploymentArea resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "201": {
            "description": "Creates the DeploymentArea resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DeploymentArea": {
            "$ref": "./examples/DeploymentAreaCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the DeploymentArea resource.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DeploymentArea": {
            "$ref": "./examples/DeploymentAreaGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted the DeploymentArea resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete DeploymentArea": {
            "$ref": "./examples/DeploymentAreaDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_UpdateTags",
        "description": "Update DeploymentArea tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update DeploymentArea resource Tag.",
            "schema": {
              "$ref": "#/definitions/DeploymentArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update DeploymentArea Tags": {
            "$ref": "./examples/DeploymentAreaUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores/{mpcName}/deploymentAreas": {
      "get": {
        "tags": [
          "DeploymentAreas"
        ],
        "operationId": "DeploymentArea_Retrieve_All_By_MobilePacketCore",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/DeploymentAreaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DeploymentArea in Mobile Packet Core": {
            "$ref": "./examples/DeploymentAreaListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ServiceArea": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nfType": {
          "type": "string",
          "enum": [
            "amf",
            "smf",
            "upf"
          ],
          "x-ms-enum": {
            "name": "NfType",
            "modelAsString": true
          }
        }
      }
    },
    "DeploymentAreaPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the network function resource."
        },
        "cmConfig": {
          "type": "object",
          "properties": {
            "regionId": {
              "type": "string"
            },
            "serviceAreaConfig": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceArea"
              },
              "description": "Assigned service areas"
            },
            "nrfConfig": {
              "$ref": "./common.json#/definitions/NrfConfig"
            },
            "dnsConfig": {
              "$ref": "./common.json#/definitions/DnsConfig"
            },
            "chfConfig": {
              "$ref": "./common.json#/definitions/ChfConfig"
            }
          }
        },
        "lcmConfig": {
          "type": "object",
          "description": "LCM configurations",
          "properties": {
            "nfsServer": {
              "type": "string"
            },
            "licenseHost": {
              "type": "string"
            },
            "licensePort": {
              "type": "integer"
            },
            "fluentdTargetsHost": {
              "type": "string"
            },
            "elasticsearchHost": {
              "type": "string"
            },
            "jaegerAgtColHost": {
              "type": "string"
            },
            "jaegerHost": {
              "type": "string"
            }
          }
        }
      },
      "required": [
        "cmConfig",
        "lcmConfig"
      ],
      "description": "The MPC resource definition."
    },
    "DeploymentArea": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DeploymentAreaPropertiesFormat",
          "description": "Mobile network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The DeploymentArea resource."
    },
    "DeploymentAreaListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentArea"
          },
          "description": "A list of DeploymentArea in a MobilePacketCore."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for DeploymentArea API service call."
    }
  }
}
