{
  "swagger": "2.0",
  "info": {
    "title": "Dnn",
    "description": "The definitions in this swagger specification will be used for DNN",
    "version": "2022-09-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores/{mpcName}/dnns/{dName}": {
      "put": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DnnName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the Dnn resource.",
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          },
          "201": {
            "description": "Creates the Dnn resource.",
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Dnn": {
            "$ref": "./examples/DnnCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DnnName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Dnn resource.",
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Dnn": {
            "$ref": "./examples/DnnGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DnnName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted the Dnn resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Dnn": {
            "$ref": "./examples/DnnDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_UpdateTags",
        "description": "Update Dnn tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DnnName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update Dnn resource Tag.",
            "schema": {
              "$ref": "#/definitions/Dnn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Dnn Tags": {
            "$ref": "./examples/DnnUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores/{mpcName}/dnns": {
      "get": {
        "tags": [
          "Dnns"
        ],
        "operationId": "Dnn_Retrieve_All_By_MobilePacketCore",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/DnnListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Dnn in Mobile Packet Core": {
            "$ref": "./examples/DnnListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ServiceArea": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nfType": {
          "type": "string",
          "enum": [
            "amf",
            "smf",
            "upf"
          ],
          "x-ms-enum": {
            "name": "NfType",
            "modelAsString": true
          }
        }
      }
    },
    "DnnPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the network function resource."
        },
        "dnsServerConfig": {
          "type": "object",
          "properties": {
            "primaryIpv4Address": {
              "type": "string"
            },
            "secondaryIpv4Address": {
              "type": "string"
            },
            "primaryIpv6Address": {
              "type": "string"
            },
            "secondaryIpv6Address": {
              "type": "string"
            }
          }
        }
      },
      "description": "The MPC resource definition."
    },
    "Dnn": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DnnPropertiesFormat",
          "description": "Mobile network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Dnn resource."
    },
    "DnnListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dnn"
          },
          "description": "A list of Dnn in a MobilePacketCore."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Dnn API service call."
    }
  }
}
