{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCore",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore.",
    "version": "2022-09-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
  "/subscriptions/{subscriptionId}/providers/Microsoft.MobileCore/mobilePacketCores": {
    "get": {
      "tags": [
        "MobilePacketCores"
      ],
      "operationId": "MobilePacketCore_ListBySubscription",
      "description": "Lists all the component resources in a Subscription.",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Request is successful. The operation returns a list of component resources.",
          "schema": {
            "$ref": "#/definitions/MobilePacketCoreListResult"
          }
        },
        "default": {
          "description": "Error response describing why the operation failed.",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "MobilePacketCoreListByResourceGroup": {
          "$ref": "./examples/MobilePacketCoreListBySubscription.json"
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      }
    }
  },
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores": {
      "get": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_ListByResourceGroup",
        "description": "Lists all the component resources in a ResourceGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MobilePacketCoreListByResourceGroup": {
            "$ref": "./examples/MobilePacketCoreListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores/{mpcName}": {
      "put": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          },
          "201": {
            "description": "Creates the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create MobilePacketCore": {
            "$ref": "./examples/MobilePacketCoreCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore resource.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get MobilePacketCore": {
            "$ref": "./examples/MobilePacketCoreGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the MobilePacketCore resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete MobilePacketCore": {
            "$ref": "./examples/MobilePacketCoreDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "MobilePacketCores"
        ],
        "operationId": "MobilePacketCore_UpdateTags",
        "description": "Update MobilePacketCore tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update MobilePacketCore resource Tag.",
            "schema": {
              "$ref": "#/definitions/MobilePacketCore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update MobilePacketCore Tags": {
            "$ref": "./examples/MobilePacketCoreUpdateTags.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PcscfIpV4": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "IP4 Address Pair Name"
        },
        "primaryIpv4Address": {
          "type": "string",
          "description": "Primary P-CSCF server IP V4 Address"
        },
        "secondaryIpv4Address": {
          "type": "string",
          "description": "Secondary P-CSCF server IP V4 Address"
        },
        "tertiaryIpv4Address": {
          "type": "string",
          "description": "Tertiary P-CSCF server IP V4 Address"
        }
      },
      "required": [
        "primaryIpv4Address",
        "secondaryIpv4Address",
        "tertiaryIpv4Address"
      ]
    },
    "PcscfIpV6": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "IP4 Address Pair Name"
        },
        "primaryIpv6Address": {
          "type": "string",
          "description": "Primary P-CSCF server IP V6 Address"
        },
        "secondaryIpv6Address": {
          "type": "string",
          "description": "Secondary P-CSCF server IP V6 Address"
        },
        "tertiaryIpv6Address": {
          "type": "string",
          "description": "Tertiary P-CSCF server IP V6 Address"
        }
      },
      "required": [
        "primaryIpv6Address",
        "secondaryIpv6Address",
        "tertiaryIpv6Address"
      ]
    },
    "PcscfConfig": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "P-CSCF Table name"
        },
        "userDescription": {
          "type": "string",
          "description": "Description of P-CSCF Table"
        },
        "addressAllocationMode": {
          "type": "string",
          "enum": [
            "round-robin",
            "weighted-round-robin"
          ],
          "x-ms-enum": {
            "name": "AddressAllocationMode",
            "modelAsString": true
          }
        },
        "ipV4Config": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PcscfIpV4"
          },
          "maxItems": 128
        },
        "ipV6Config": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PcscfIpV6"
          },
          "maxItems": 128
        }
      }
    },
    "MobilePacketCorePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the network function resource."
        },
        "cmConfig": {
          "type": "object",
          "properties": {
            "shortNetworkName": {
              "type": "string",
              "description": "Short network name"
            },
            "fullNetworkName": {
              "type": "string",
              "description": "Full network name"
            },
            "plmnIdConfig": {
              "type": "array",
              "items": {
                "$ref": "./common.json#/definitions/PlmnId"
              }
            }
          },
          "required": [
            "shortNetworkName",
            "plmnIdConfig"
          ]
        },
        "lcmConfig": {
          "type": "object",
          "description": "LCM configurations",
          "properties": {
            "dockerReg": {
              "type": "string",
              "description": "Docker registry path"
            },
            "paasUniqueNameSuffix": {
              "type": "string",
              "description": "Name suffix used to generate Fed Unique Name of PaaS components"
            }
          }
        }
      },
      "required": [
        "cmConfig",
        "lcmConfig"
      ],
      "description": "The MobilePacketCore resource definition."
    },
    "MobilePacketCore": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MobilePacketCorePropertiesFormat",
          "description": "Mobile network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The MobilePacketCore resource."
    },
    "MobilePacketCoreListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MobilePacketCore"
          },
          "description": "A list of MobilePacketCore in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for MobilePacketCore API service call."
    }
  }
}
