{
  "swagger": "2.0",
  "info": {
    "title": "NSSFFunction",
    "description": "The definitions in this swagger specification will be used to create NSSFFunction",
    "version": "2022-09-15-privatepreview",
    "x-ms-code-generation-settings": {
      "name": "NetworkFunctionResource"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/nssfFunctions": {
      "get": {
        "tags": [
          "NssfFunctions"
        ],
        "operationId": "NSSF_Retrieve_All_By_MobilePacketCore",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NssfFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in network function": {
            "$ref": "./examples/NssfListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/nssfFunctions/{nssfFunctionName}": {
      "get": {
        "tags": [
          "NssfFunctions"
        ],
        "operationId": "NSSF_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NssfFunctionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the NSSF resource.",
            "schema": {
              "$ref": "#/definitions/NssfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get NSSF": {
            "$ref": "./examples/NssfGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NssfFunctions"
        ],
        "operationId": "NSSF_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NssfFunctionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NssfFunction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the NSSF resource.",
            "schema": {
              "$ref": "#/definitions/NssfFunction"
            }
          },
          "201": {
            "description": "Creates the NSSF resource.",
            "schema": {
              "$ref": "#/definitions/NssfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Vendor resource": {
            "$ref": "./examples/NssfCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "NssfFunctions"
        ],
        "operationId": "NSSF_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NssfFunctionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the NSSF resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete NSSF": {
            "$ref": "./examples/NssfDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "description": "Update NSSFFunctions tags.",
        "tags": [
          "NssfFunctions"
        ],
        "operationId": "NSSF_UpdateTags",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NssfFunctionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the NSSF resource.",
            "schema": {
              "$ref": "#/definitions/NssfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete NSSF": {
            "$ref": "./examples/NssfUpdateTags.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NssfLcmConfig": {
      "type": "object",
      "properties": {
        "cfgmgrLbIp": {
          "type": "string",
          "description": "Load balancer IP address."
        }
      },
      "required": [
        "cfgmgrLbIp"
      ],
      "description": "NSSF resource LCM configuration."
    },
    "NssfCmConfig": {},
    "NssfFunctionPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState"
        },
        "nfAbstract": {
          "$ref": "./common.json#/definitions/NfAbstract"
        },
        "lcmConfig": {
          "$ref": "#/definitions/NssfLcmConfig"
        },
        "cmConfig": {
          "$ref": "#/definitions/NssfCmConfig"
        }
      },
      "required": [
        "nfAbstract",
        "lcmConfig",
        "cmConfig"
      ],
      "description": "The NSSF resource definition."
    },
    "NssfFunction": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NssfFunctionPropertiesFormat",
          "description": "Mobile network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The NSSF network function resource."
    },
    "NssfFunctionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NssfFunction"
          },
          "description": "A list of NSSF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for network function API service call."
    }
  },
  "parameters": {
    "NssfFunctionName": {
      "name": "nssfFunctionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of NSSF Function"
    }
  }
}
