{
  "swagger": "2.0",
  "info": {
    "title": "Site",
    "description": "The definitions in this swagger specification will be used for Site.",
    "version": "2022-09-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores/{mpcName}/deploymentAreas/{aName}/sites/{sName}": {
      "put": {
        "tags": [
          "Sites"
        ],
        "operationId": "Site_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          },
          {
            "$ref": "./common.json#/parameters/SiteName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Site"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the Site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "201": {
            "description": "Creates the Site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Site": {
            "$ref": "./examples/SiteCreate.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "Site_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          },
          {
            "$ref": "./common.json#/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Site": {
            "$ref": "./examples/SiteGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Sites"
        ],
        "operationId": "Site_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          },
          {
            "$ref": "./common.json#/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted the Site resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Site": {
            "$ref": "./examples/SiteDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "Sites"
        ],
        "operationId": "Site_UpdateTags",
        "description": "Update Site tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          },
          {
            "$ref": "./common.json#/parameters/SiteName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update Site resource Tag.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Site Tags": {
            "$ref": "./examples/SiteUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobilePacketCores/{mpcName}/deploymentAreas/{aName}/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "Site_Retrieve_All_By_Area",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MPCName"
          },
          {
            "$ref": "./common.json#/parameters/DeploymentAreaName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in network function": {
            "$ref": "./examples/SiteListByDeploymentArea.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SitePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the network function resource."
        },
        "type": {
          "type": "string",
          "enum": [
            "AKS",
            "On-Prem K8S"
          ],
          "x-ms-enum": {
            "name": "Type",
            "modelAsString": true
          }
        },
        "lcmConfig": {
          "type": "object",
          "description": "LCM configurations",
          "properties": {
            "clusterAdminConfigFile": {
              "type": "string",
              "format": "binary"
            },
            "nfsFilepath": {
              "type": "string"
            },
            "lcdrFilepath": {
              "type": "string"
            },
            "storageType": {
              "type": "string",
              "enum": [
                "local",
                "remote",
                "rook"
              ],
              "x-ms-enum": {
                "name": "StorageType",
                "modelAsString": true
              }
            },
            "fileserverCephfsEnabled": {
              "type": "boolean"
            },
            "fileserverRequestsStorage": {
              "type": "string"
            },
            "fileserverCfgStorageClassName": {
              "type": "string",
              "enum": [
                "cfg"
              ],
              "x-ms-enum": {
                "name": "FileserverCfgStorageClassName",
                "modelAsString": true
              }
            },
            "pfcpExtSvcName": {
              "type": "string"
            },
            "pfcpExtSvcType": {
              "type": "string"
            },
            "pfcpLbIp": {
              "type": "string"
            },
            "pfcpCLoadbalancerIp": {
              "type": "string"
            },
            "pfcpULbIp": {
              "type": "string"
            },
            "pfcpUExternalFqdn": {
              "type": "string"
            },
            "lbIp": {
              "type": "string"
            },
            "dbMongoServerImage": {
              "type": "string"
            },
            "grafanaUrl": {
              "type": "string"
            },
            "istioProxyIncludeIpRanges": {
              "type": "string"
            },
            "istioJaegerHostname": {
              "type": "string"
            },
            "istioJaegerLiHostname": {
              "type": "string"
            },
            "gtpcAgentExtSvcName": {
              "type": "string"
            },
            "gtpcAgentExtSvcType": {
              "type": "string"
            },
            "oamLbSubnet": {
              "type": "string"
            },
            "gnLbSubnet": {
              "type": "string"
            },
            "n4LbSubnet": {
              "type": "string"
            },
            "liLbSubnet": {
              "type": "string"
            },
            "metalLbMyAsn": {
              "type": "string"
            },
            "metalLbPeerAsn": {
              "type": "string"
            },
            "metalLbPeerIp": {
              "type": "string"
            },
            "metalLbPoolLen": {
              "type": "string"
            },
            "metalLbPoolNet": {
              "type": "string"
            }
          }
        }
      },
      "required": [
        "lcmConfig"
      ],
      "description": "The Site resource definition."
    },
    "Site": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SitePropertiesFormat",
          "description": "Mobile network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Site resource."
    },
    "SiteListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Site"
          },
          "description": "A list of Site in a Area."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Site API service call."
    }
  }
}
