{
  "swagger": "2.0",
  "info": {
    "title": "SMFFunction",
    "description": "The definitions in this swagger specification will be used to create SMFFunction.",
    "version": "2022-09-15-privatepreview",
    "x-ms-code-generation-settings": {
      "name": "NetworkFunctionResource"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/smfFunctions/{smfFunctionName}": {
      "put": {
        "tags": [
          "SmfFunctions"
        ],
        "operationId": "SMF_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SmfFunctionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SmfFunction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the SMF resource.",
            "schema": {
              "$ref": "#/definitions/SmfFunction"
            }
          },
          "201": {
            "description": "Creates the SMF resource.",
            "schema": {
              "$ref": "#/definitions/SmfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Vendor resource": {
            "$ref": "./examples/SmfCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "SmfFunctions"
        ],
        "operationId": "SMF_Retrieve",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SmfFunctionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the SMF resource.",
            "schema": {
              "$ref": "#/definitions/SmfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SMF": {
            "$ref": "./examples/SmfGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SmfFunctions"
        ],
        "operationId": "SMF_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SmfFunctionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the SMF resource."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SMF": {
            "$ref": "./examples/SmfDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "SmfFunctions"
        ],
        "operationId": "SMF_UpdateTags",
        "description": "Update SmfFunctions tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SmfFunctionName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update device tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the SMF resource.",
            "schema": {
              "$ref": "#/definitions/SmfFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update SMF tags": {
            "$ref": "./examples/SmfUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/smfFunctions": {
      "get": {
        "tags": [
          "SmfFunctions"
        ],
        "operationId": "SMF_Retrieve_All_By_MobilePacketCore",
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SmfFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in network function": {
            "$ref": "./examples/SmfListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SmfLcmConfigs": {
      "type": "object",
      "properties": {
        "cfgmgrLbIp": {
          "type": "string",
          "description": "Load Balancer IP address."
        },
        "ingressGwLiInitialProtocol": {
          "type": "string",
          "description": "Specific IP requested for LI Ingress Gateway Load Balancer service."
        },
        "pfcpExtSvcName": {
          "type": "string"
        },
        "pfcpExtSvcType": {
          "type": "string"
        },
        "pfcpExtLbIp": {
          "type": "string"
        }
      }
    },
    "CmConfigs": {
      "type": "object",
      "properties": {
        "pfcpConfig": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/PfcpConfig"
          },
          "description": "Load Balancer IP address."
        }
      },
      "description": "The SMF BaseConfig resource definition."
    },
    "SmfProfile": {
      "type": "object",
      "properties": {
        "nfInstanceId": {
          "type": "string"
        },
        "smfFqdn": {
          "type": "string"
        }
      },
      "required": [
        "nfInstanceId",
        "smfFqdn"
      ]
    },
    "SmfFunctionPropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "items": {
            "$ref": "./common.json#/definitions/ProvisioningState"
          },
          "description": "The provisioning state of the network function resource."
        },
        "nssiRefList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 0
        },
        "nfAbstract": {
          "$ref": "./common.json#/definitions/NfAbstract"
        },
        "lcmConfig": {
          "$ref": "#/definitions/SmfLcmConfigs"
        },
        "cmConfig": {
          "$ref": "#/definitions/CmConfigs"
        }
      },
      "required": [
        "nfAbstract",
        "cmConfig",
        "lcmConfig"
      ],
      "description": "The SMF resource definition."
    },
    "SmfFunction": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SmfFunctionPropertiesFormat",
          "description": "Mobile network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Smf resource."
    },
    "SmfFunctionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmfFunction"
          },
          "description": "A list of Smf in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Smf API service call."
    }
  },
  "parameters": {
    "SmfFunctionName": {
      "name": "smfFunctionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name smf Function."
    }
  }
}
