{
  "swagger": "2.0",
  "info": {
    "title": "Private.ArcContainerStorage management service",
    "version": "2024-10-01-preview",
    "description": "Private.ArcContainerStorage Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OperationStatus"
    },
    {
      "name": "AcStorConfigurations"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Private.ArcContainerStorage/acstorconfigurations": {
      "get": {
        "operationId": "AcStorConfigurations_ListByResourceGroup",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "List AcStorConfiguration resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AcStorConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AcStorConfigurations_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "../../../../ArcContainerStorage.Management/examples/AcStorConfigurations_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Private.ArcContainerStorage/acstorconfigurations/{acstorConfigurationName}": {
      "get": {
        "operationId": "AcStorConfigurations_Get",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "Get a AcStorConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "acstorConfigurationName",
            "in": "path",
            "description": "The name of the AcStorConfiguration resource, which is always 'acstor-configuration' to enforce singleton.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^acstor-configuration$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AcStorConfigurations_Get_MaximumSet_Gen": {
            "$ref": "../../../../ArcContainerStorage.Management/examples/AcStorConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AcStorConfigurations_CreateOrReplace",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "Create a AcStorConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "acstorConfigurationName",
            "in": "path",
            "description": "The name of the AcStorConfiguration resource, which is always 'acstor-configuration' to enforce singleton.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^acstor-configuration$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AcStorConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            }
          },
          "201": {
            "description": "Resource 'AcStorConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AcStorConfigurations_CreateOrReplace_MaximumSet_Gen": {
            "$ref": "../../../../ArcContainerStorage.Management/examples/AcStorConfigurations_CreateOrReplace_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AcStorConfigurations_Delete",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "Delete a AcStorConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "acstorConfigurationName",
            "in": "path",
            "description": "The name of the AcStorConfiguration resource, which is always 'acstor-configuration' to enforce singleton.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^acstor-configuration$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AcStorConfigurations_Delete_MaximumSet_Gen": {
            "$ref": "../../../../ArcContainerStorage.Management/examples/AcStorConfigurations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Private.ArcContainerStorage/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {          
          "Operations_List_MaximumSet_Gen": {
            "$ref": "../../../../ArcContainerStorage.Management/examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "../../../../ArcContainerStorage.Management/examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.ArcContainerStorage/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatus_Get",
        "tags": [
          "OperationStatus"
        ],
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationStatus_Get_MaximumSet_Gen": {
            "$ref": "../../../../ArcContainerStorage.Management/examples/OperationStatus_Get_MaximumSet_Gen.json"
          },
          "OperationStatus_Get_MinimumSet_Gen": {
            "$ref": "../../../../ArcContainerStorage.Management/examples/OperationStatus_Get_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AcStorConfiguration": {
      "type": "object",
      "description": "AcStorConfiguration is a custom resource that defines the configuration for a storage system.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AcStorConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AcStorConfigurationListResult": {
      "type": "object",
      "description": "The response of a AcStorConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AcStorConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/AcStorConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AcStorConfigurationProperties": {
      "type": "object",
      "description": "Defines the properties of the AcStorConfiguration resource.",
      "properties": {
        "diskMountPoint": {
          "type": "string",
          "description": "The mount point for the disk.",
          "default": "/mnt"
        },
        "diskCapacity": {
          "type": "string",
          "description": "The capacity of the disk, including storage unit (e.g., 60Gi).",
          "pattern": "^[0-9][0-9]*([.][0-9]+)?[KMGTP]i?$"
        },
        "createStoragePool": {
          "$ref": "#/definitions/StoragePoolConfig",
          "description": "Configuration for creating a storage pool."
        },
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "diskMountPoint",
        "diskCapacity",
        "createStoragePool"
      ]
    },
    "StoragePoolConfig": {
      "type": "object",
      "description": "Defines the configuration for creating a storage pool.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to create a storage pool.",
          "default": true
        },
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "The number of replicas to create.",
          "default": 3
        },
        "name": {
          "type": "string",
          "description": "The name of the storage pool.",
          "default": "arccontainerstorage-storage-pool"
        },
        "engineType": {
          "type": "string",
          "description": "The storage engine to use.",
          "default": "xfs",
          "enum": [
            "xfs",
            "spaces"
          ],
          "x-ms-enum": {
            "name": "EngineTypes",
            "modelAsString": true,
            "values": [
              {
                "name": "xfs",
                "value": "xfs",
                "description": "xfs"
              },
              {
                "name": "spaces",
                "value": "spaces",
                "description": "spaces"
              }
            ]
          }
        }
      },
      "required": [
        "enabled",
        "replicas",
        "name",
        "engineType"
      ]
    },
    "provisioningState": {
      "type": "string",
      "description": "provisioningState",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "provisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled"
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
