{
  "swagger": "2.0",
  "info": {
    "version": "2022-09-20-preview",
    "title": "ACSRP",
    "description": "StorageAccount of Microsoft.ACSRP Rest API spec.",
    "x-ms-code-generation-settings": {
      "name": "ACSRPClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ACSRP/storageaccount/{storageaccountName}": {
      "get": {        
        "operationId": "Get StorageAccount",
        "x-ms-examples": {
          "Get StorageAccount": { "$ref": "./examples/get.json" }
        },
        "description": "Retrieve the storageaccount resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/storageaccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve the storageaccount resource.",
            "schema": {
              "$ref": "#/definitions/storageaccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "put": {        
        "operationId": "Create or Update StorageAccount",
        "x-ms-examples": {
          "Create or Update StorageAccount": { "$ref": "./examples/put.json" }
        },
        "description": "Create or Update the storageaccount resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/storageaccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
		  {
			"name": "storageaccount",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/storageaccount"
            }
		  }
        ],
        "responses": {
          "200": {
            "description": "Update the storageaccount resource.",
            "schema": {
              "$ref": "#/definitions/storageaccount"
            }
          },
		  "201": {
            "description": "Create the storageaccount resource.",
            "schema": {
              "$ref": "#/definitions/storageaccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "delete": {        
        "operationId": "Delete StorageAccount",
        "x-ms-examples": {
          "Delete StorageAccount": { "$ref": "./examples/delete.json" }
        },
        "description": "Delete the storageaccount resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/storageaccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete the storageaccount resource."
          },
		  "204": {
            "description": "Delete the storageaccount resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "patch": {        
        "operationId": "Update StorageAccount",
        "x-ms-examples": {
          "Update StorageAccount": { "$ref": "./examples/patch.json" }
        },
        "description": "Update the storageaccount resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/storageaccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
		  {
			"name": "storageaccount",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/storageaccountPatch"
            }
		  }
        ],
        "responses": {
          "200": {
            "description": "Update the storageaccount resource.",
            "schema": {
              "$ref": "#/definitions/storageaccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ACSRP/storageaccount": {
      "get": {        
        "operationId": "StorageAccount_ListByResourceGroup",
        "x-ms-examples": {
          "List By Resource Group": { "$ref": "./examples/listByResourceGroup.json" }
        },
        "description": "List all storageaccount under the resouce group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List all storageaccount under the resouce group.",
            "schema": {
              "$ref": "#/definitions/storageaccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	"/subscriptions/{subscriptionId}/providers/Microsoft.ACSRP/storageaccount": {
      "get": {        
        "operationId": "StorageAccount_ListBySubscription",
        "x-ms-examples": {
          "List By Subscription": { "$ref": "./examples/listBySubscription.json" }
        },
        "description": "List all storageaccount under the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List all storageaccount under the subscription.",
            "schema": {
              "$ref": "#/definitions/storageaccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	"/providers/Microsoft.ACSRP/operations": {
      "get": {        
        "operationId": "Operations_List",       
        "description": "List Operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List Operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "storageaccountProperties": {
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string"
        },
        "accountKey": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "properties": {}
        }
      }
    },
    "storageaccount": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "$ref": "#/definitions/storageaccountProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The storageaccount resource definition."
    },
    "storageaccountPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The storageaccount resource patch definition."
    },
    "storageaccountListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/storageaccount"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "storageaccountNameParameter": {
      "name": "storageaccountName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}
