{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the hybrid network site.",
    "version": "2021-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkServices/{networkServiceName}": {
      "delete": {
        "tags": [
          "NetworkServices"
        ],
        "operationId": "NetworkServices_Delete",
        "description": "Deletes the specified hybrid network networkService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful."
          },
          "202": {
            "description": "Accepted. Sets the provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete hybrid network networkService resource": {
            "$ref": "./examples/NetworkServiceDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "NetworkServices"
        ],
        "operationId": "NetworkServices_Get",
        "description": "Gets information about the specified hybrid network networkService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting hybrid network networkService resource.",
            "schema": {
              "$ref": "#/definitions/NetworkService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get hybrid network networkService": {
            "$ref": "./examples/NetworkServiceGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkServices"
        ],
        "operationId": "NetworkServices_CreateOrUpdate",
        "description": "Creates or updates a hybrid network networkService.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkService"
            },
            "description": "Parameters supplied to the create or update hybrid network networkService operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful.",
            "schema": {
              "$ref": "#/definitions/NetworkService"
            }
          },
          "201": {
            "description": "Creation or update is successful. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/NetworkService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update hybrid network networkService": {
            "$ref": "./examples/NetworkServiceCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "NetworkServices"
        ],
        "operationId": "NetworkServices_UpdateTags",
        "description": "Updates a hybrid network networkService tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update hybrid network networkService tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update is successful. The operation returns the resulting hybrid network networkService resource.",
            "schema": {
              "$ref": "#/definitions/NetworkService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update hybrid network networkService tags": {
            "$ref": "./examples/NetworkServiceUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkServices": {
      "get": {
        "tags": [
          "NetworkServices"
        ],
        "operationId": "NetworkServices_ListBySubscription",
        "description": "Lists all the hybrid network networkServices in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid network networkService resources.",
            "schema": {
              "$ref": "#/definitions/NetworkServiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all hybrid network networkServices in a subscription.": {
            "$ref": "./examples/NetworkServiceListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkServices": {
      "get": {
        "tags": [
          "NetworkServices"
        ],
        "operationId": "NetworkServices_ListByResourceGroup",
        "description": "Lists all the hybrid network networkServices in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid network networkService resources.",
            "schema": {
              "$ref": "#/definitions/NetworkServiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all hybrid network networkServices in resource group": {
            "$ref": "./examples/NetworkServiceListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkService": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkServicePropertiesFormat",
          "description": "Hybrid network networkService properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Hybrid network networkService resource."
    },
    "NetworkServicePropertiesFormat": {
      "description": "Hybrid network networkService properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the site resource. **TODO**: Confirm if this is needed."
        },
        "networkServiceTemplate": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the network service descriptor."
        },
        "defaultSitesForNetworkFunctions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NFVISite"
          },
          "description": "The default NFVI sites."
        },
        "linkedNetworkFunctions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NFInstanceReference"
          },
          "description": "The linked network functions."
        }
      }
    },
    "NetworkServiceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkService"
          },
          "description": "A list of hybrid network networkServices."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for hybrid network networkServices API service call."
    },
    "NFVISite": {
      "properties": {
        "nfviType": {
          "$ref": "./common.json#/definitions/NFVIType",
          "description": "The NFVI type."
        },
        "siteResource": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the network site."
        }
      },
      "description": "The service descriptor configuration."
    },
    "NFInstanceReference": {
      "properties": {
        "referenceName": {
          "type": "string",
          "description": "The reference name."
        },
        "instanceName": {
          "readOnly": true,
          "type": "string",
          "description": "The reference name."
        },
        "skuName": {
          "readOnly": true,
          "type": "string",
          "description": "The sku name for the network function."
        },
        "vendorName": {
          "readOnly": true,
          "type": "string",
          "description": "The vendor name for the network function."
        },
        "nfviType": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/NFVIType",
          "description": "The NFVI type."
        },
        "siteResource": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the network site."
        },
        "isOverrideDescriptorTrue": {
          "type": "boolean",
          "description": "Indicates whether override NSD NFD descriptor or not."
        },
        "instanceResourceId": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the network site."
        },
        "descriptor": {
          "$ref": "./common.json#/definitions/GenericParameters",
          "description": "The parameters for the descriptor."
        }
      },
      "description": "The NF Instance reference."
    }
  }
}
