{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the hybrid network serviceDescriptor.",
    "version": "2021-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceDescriptors/{serviceDescriptorName}": {
      "delete": {
        "tags": [
          "ServiceDescriptors"
        ],
        "operationId": "ServiceDescriptors_Delete",
        "description": "Deletes the specified hybrid network serviceDescriptor.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceDesciptorNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete hybrid network serviceDescriptor resource": {
            "$ref": "./examples/ServiceDescriptorDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "ServiceDescriptors"
        ],
        "operationId": "ServiceDescriptors_Get",
        "description": "Gets information about the specified hybrid network serviceDescriptor.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceDesciptorNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting hybrid network serviceDescriptor resource.",
            "schema": {
              "$ref": "#/definitions/ServiceDescriptor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get hybrid network serviceDescriptor": {
            "$ref": "./examples/ServiceDescriptorGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "ServiceDescriptors"
        ],
        "operationId": "ServiceDescriptors_CreateOrUpdate",
        "description": "Creates or updates a hybrid network serviceDescriptor.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceDesciptorNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceDescriptor"
            },
            "description": "Parameters supplied to the create or update hybrid network serviceDescriptor operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful.",
            "schema": {
              "$ref": "#/definitions/ServiceDescriptor"
            }
          },
          "201": {
            "description": "Creation or update is successful. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/ServiceDescriptor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update hybrid network serviceDescriptor": {
            "$ref": "./examples/ServiceDescriptorCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "ServiceDescriptors"
        ],
        "operationId": "ServiceDescriptors_UpdateTags",
        "description": "Updates a hybrid network serviceDescriptor tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceDesciptorNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update hybrid network serviceDescriptor tags operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update is successful. The operation returns the resulting hybrid network serviceDescriptor resource.",
            "schema": {
              "$ref": "#/definitions/ServiceDescriptor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update hybrid network serviceDescriptor tags": {
            "$ref": "./examples/ServiceDescriptorUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/serviceDescriptors": {
      "get": {
        "tags": [
          "ServiceDescriptors"
        ],
        "operationId": "ServiceDescriptors_ListBySubscription",
        "description": "Lists all the hybrid network serviceDescriptors in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid network serviceDescriptor resources.",
            "schema": {
              "$ref": "#/definitions/ServiceDescriptorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all hybrid network serviceDescriptors in a subscription.": {
            "$ref": "./examples/ServiceDescriptorListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/serviceDescriptors": {
      "get": {
        "tags": [
          "ServiceDescriptors"
        ],
        "operationId": "ServiceDescriptors_ListByResourceGroup",
        "description": "Lists all the hybrid network serviceDescriptors in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid network serviceDescriptor resources.",
            "schema": {
              "$ref": "#/definitions/ServiceDescriptorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all hybrid network serviceDescriptors in resource group": {
            "$ref": "./examples/ServiceDescriptorListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }    
    }
  },
  "definitions": {
    "ServiceDescriptor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceDescriptorPropertiesFormat",
          "description": "Hybrid network serviceDescriptor properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Hybrid network serviceDescriptor resource."
    },
    "ServiceDescriptorPropertiesFormat": {
      "type": "object",
      "description": "Hybrid network serviceDescriptor properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the site resource. **TODO**: Confirm if this is needed."
        },
        "networkFunctionDescriptorReferences": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/NetworkFunctionDescriptor"
          },
          "description": "The network function descriptor."
        },
        "nestedNSDResourceReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NestedNetworkServiceDescriptorReference"
          },
          "description": "The list of network functions deployed on the device."
        },
        "linkedNetworkServiceInstanceReferences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "description": "The list of network functions deployed on the device."
        },
        "absoluteNetworkFunctionDescriptorReferences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/NetworkFunctionDescriptor"
          },
          "description": "The network function descriptor."
        }
      }
    },
    "NestedNetworkServiceDescriptorReference": {
      "type": "object",
      "properties": {
        "referenceName": {
          "type": "string",
          "description": "The reference name."
        },
        "nestedNetworkServiceDescriptor": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The parameters for the descriptor."
        }
      },
      "description": "The service descriptor configuration."
    },
    "ServiceDescriptorListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceDescriptor"
          },
          "description": "A list of hybrid network serviceDescriptors."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for hybrid network serviceDescriptors API service call."
    }
  }
}
