{
  "swagger": "2.0",
  "info": {
    "title": "Edge device Jobs",
    "version": "2023-08-01-preview",
    "description": "Edge device Jobs"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Jobs"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/clusters/{clusterName}/jobs": {
      "get": {
        "operationId": "Jobs_ListByCluster",
        "tags": [
          "Jobs"
        ],
        "description": "List Job resources by Cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/clusters/{clusterName}/jobs/{jobsName}": {
      "get": {
        "operationId": "Jobs_Get",
        "tags": [
          "Jobs"
        ],
        "description": "Get a Job",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Jobs_CreateOrUpdate",
        "tags": [
          "Jobs"
        ],
        "description": "Create a Job",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Job' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "201": {
            "description": "Resource 'Job' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Job"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Jobs_Delete",
        "tags": [
          "Jobs"
        ],
        "description": "Delete a Job",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AzureLinuxCollectLogJobProperties": {
      "type": "object",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties."
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate edge device job."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy edge device job."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Edgedevice job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "AzureLinuxEdgeDeviceJob": {
      "type": "object",
      "description": "Edgedevice job for Azure Linux solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "AzureLinux"
    },
    "AzureLinuxEdgeDeviceJobProperties": {
      "type": "object",
      "description": "Edgedevice job properties",
      "properties": {
        "jobType": {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/JobProperties"
        }
      ]
    },
    "AzureLinuxEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "RemoteConnect",
        "EnableSsh"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "CollectLog"
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "RemoteSupport"
          },
          {
            "name": "RemoteConnect",
            "value": "RemoteConnect",
            "description": "RemoteConnect"
          },
          {
            "name": "EnableSsh",
            "value": "EnableSsh",
            "description": "EnableSsh"
          }
        ]
      }
    },
    "AzureLinuxRemoteSupportJobProperties": {
      "type": "object",
      "properties": {
        "accesslevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote support access level."
        },
        "expirationTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Remote support expiration timestamp."
        },
        "type": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote support type."
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties."
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate edge device job."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy edge device job."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Edgedevice job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        }
      },
      "required": [
        "accesslevel",
        "expirationTimeStamp",
        "type"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteSupport"
    },
    "CollectLogJobProperties": {
      "type": "object",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties."
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/JobProperties"
        }
      ]
    },
    "DeploymentMode": {
      "type": "string",
      "description": "The deployment mode of edge device job.",
      "enum": [
        "Validate",
        "Deploy"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Validate",
            "value": "Validate",
            "description": "Validate edge device job."
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy edge device job."
          }
        ]
      }
    },
    "DeviceType": {
      "type": "string",
      "description": "Edge device type based on host OS installed.",
      "enum": [
        "HCI",
        "WindowsServer",
        "WindowsIoT",
        "AzureLinux",
        "UbuntuLinux"
      ],
      "x-ms-enum": {
        "name": "DeviceType",
        "modelAsString": true,
        "values": [
          {
            "name": "HCI",
            "value": "HCI",
            "description": "Arc-enabled edge device with HCI OS."
          },
          {
            "name": "WindowsServer",
            "value": "WindowsServer",
            "description": "Arc-enabled edge device with WindowsServer OS."
          },
          {
            "name": "WindowsIoT",
            "value": "WindowsIoT",
            "description": "Arc-enabled edge device with WindowsIoT OS."
          },
          {
            "name": "AzureLinux",
            "value": "AzureLinux",
            "description": "Arc-enabled edge device with AzureLinux OS."
          },
          {
            "name": "UbuntuLinux",
            "value": "UbuntuLinux",
            "description": "Arc-enabled edge device with UbuntuLinux OS."
          }
        ]
      }
    },
    "EceActionStatus": {
      "type": "object",
      "description": "Validation / deployment status details for Job.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Job status.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of Edgedevice job.",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "EdgeDeviceJobType": {
      "type": "string",
      "description": "Common Job Types supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "RemoteConnect"
      ],
      "x-ms-enum": {
        "name": "EdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "CollectLog"
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "RemoteSupport"
          },
          {
            "name": "RemoteConnect",
            "value": "RemoteConnect",
            "description": "RemoteConnect"
          }
        ]
      }
    },
    "HciCollectLogJobProperties": {
      "type": "object",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties."
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate edge device job."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy edge device job."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Edgedevice job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "HciEdgeDeviceJob": {
      "type": "object",
      "description": "Edgedevice job for Azure Stack HCI solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "HCI"
    },
    "HciEdgeDeviceJobProperties": {
      "type": "object",
      "description": "HCI Edgedevice job properties",
      "properties": {
        "jobType": {
          "$ref": "#/definitions/HciEdgeDeviceJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/JobProperties"
        }
      ]
    },
    "HciEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "RemoteConnect",
        "RenameHostname"
      ],
      "x-ms-enum": {
        "name": "HciEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "CollectLog"
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "RemoteSupport"
          },
          {
            "name": "RemoteConnect",
            "value": "RemoteConnect",
            "description": "RemoteConnect"
          },
          {
            "name": "RenameHostname",
            "value": "RenameHostname",
            "description": "RenameHostname"
          }
        ]
      }
    },
    "HciRemoteConnectJobProperties": {
      "type": "object",
      "properties": {
        "userName": {
          "type": "string",
          "description": "user name."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "password.",
          "x-ms-secret": true
        }
      },
      "required": [
        "userName",
        "password"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteConnect"
    },
    "HciRemoteSupportJobProperties": {
      "type": "object",
      "properties": {
        "accesslevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote support access level."
        },
        "expirationTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Remote support expiration timestamp."
        },
        "type": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote support type."
        },
        "reportedProperties": {
          "$ref": "#/definitions/RemoteSupportReportedProperties",
          "description": "log collection job reported properties."
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate edge device job."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy edge device job."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Edgedevice job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        }
      },
      "required": [
        "accesslevel",
        "expirationTimeStamp",
        "type"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteSupport"
    },
    "Job": {
      "type": "object",
      "description": "Jobs resource",
      "properties": {
        "kind": {
          "$ref": "#/definitions/DeviceType",
          "description": "Edge Solution type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "JobListResult": {
      "type": "object",
      "description": "The response of a Job list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Job items on this page",
          "items": {
            "$ref": "#/definitions/Job"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "JobProperties": {
      "type": "object",
      "description": "Edgedevice job properties",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate edge device job."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy edge device job."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Edgedevice job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      }
    },
    "JobReportedProperties": {
      "type": "object",
      "description": "Reported Properties for  job triggered from cloud.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        }
      }
    },
    "LogCollectionReportedProperties": {
      "type": "object",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        },
        "logCollectionSessionDetails": {
          "$ref": "#/definitions/LogCollectionSession"
        }
      }
    },
    "LogCollectionSession": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string"
        },
        "endTime": {
          "type": "string"
        },
        "timeCollected": {
          "type": "string"
        },
        "logSize": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "$ref": "#/definitions/LogCollectionStatus"
        },
        "correlationId": {
          "type": "string"
        }
      }
    },
    "LogCollectionStatus": {
      "type": "string",
      "enum": [
        "None",
        "InProgress",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "LogCollectionStatus",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "NotSpecified",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource provision state is Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource provision state is Failed"
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource provision state is not specified"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "RemoteSupportAccessLevel": {
      "type": "string",
      "enum": [
        "None",
        "Diagnostics",
        "DiagnosticsAndRepair"
      ],
      "x-ms-enum": {
        "name": "RemoteSupportAccessLevel",
        "modelAsString": true
      }
    },
    "RemoteSupportJobProperties": {
      "type": "object",
      "properties": {
        "accesslevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote support access level."
        },
        "expirationTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Remote support expiration timestamp."
        },
        "type": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote support type."
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties."
        }
      },
      "required": [
        "accesslevel",
        "expirationTimeStamp",
        "type"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/JobProperties"
        }
      ]
    },
    "RemoteSupportNodeSettings": {
      "type": "object",
      "properties": {
        "arcResourceId": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        },
        "connectionStatus": {
          "type": "string"
        },
        "connectionErrorMessage": {
          "type": "string"
        },
        "transcriptLocation": {
          "type": "string"
        }
      }
    },
    "RemoteSupportReportedProperties": {
      "type": "object",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        },
        "nodeSettings": {
          "$ref": "#/definitions/RemoteSupportNodeSettings"
        },
        "SessionDetails": {
          "$ref": "#/definitions/RemoteSupportSession"
        }
      }
    },
    "RemoteSupportSession": {
      "type": "object",
      "properties": {
        "sessionStartTime": {
          "type": "string",
          "format": "date-time"
        },
        "sessionEndTime": {
          "type": "string",
          "format": "date-time"
        },
        "NodeName": {
          "type": "string"
        },
        "Duration": {
          "type": "integer",
          "format": "int32"
        },
        "AccessLevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel"
        }
      }
    },
    "RemoteSupportType": {
      "type": "string",
      "enum": [
        "Enable",
        "Revoke"
      ],
      "x-ms-enum": {
        "name": "RemoteSupportType",
        "modelAsString": true
      }
    },
    "Step": {
      "type": "object",
      "description": "Step details during job execution.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of step.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of step.",
          "readOnly": true
        },
        "fullStepIndex": {
          "type": "string",
          "description": "FullStepIndex of step.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "description": "Start time of step.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "description": "End time of step.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of step. Allowed values are 'Error', 'Success', 'InProgress'",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of nested steps during job execution..",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "exception": {
          "type": "array",
          "description": "List of exceptions in job execution.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    }
  },
  "parameters": {}
}
