emit:
  - "@azure-tools/typespec-autorest"
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/resource-manager"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    azure-resource-provider-folder: "resource-manager"
    emitter-output-dir: "{project-root}/.."
    arm-types-dir: "{project-root}/../../common-types/resource-management"
    output-file: "PipelineGroups/{azure-resource-provider-folder}/{service-name}/{version-status}/{version}/pipelineGroups.json"
    new-line: lf
    omit-unreachable-types: true
