{
  "swagger": "2.0",
  "info": {
    "version": "2022-09-25-preview",
    "title": "azcertify",
    "description": "The Azcertify validates different resources like Vm-image, Containers, Vm extensions, etc against various validations like boot, malware and vulnerabilities.",
    "x-ms-code-generation-settings": {
      "name": "azcertifyClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.AzCertify/operations": {
      "get": {
        "description": "Lists all of the available Microsoft.AzCertify provider operations",
        "operationId": "Operation_List",
        "tags": [
          "operationList"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operation_List_MaximumSet_Gen": {
            "$ref": "./examples/Operation_List_MaximumSet_Gen.json"
          },
          "Operation_List_MinimumSet_Gen": {
            "$ref": "./examples/Operation_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzCertify/artifactTypes": {
      "get": {
        "description": "Returns list of artifact types supported by the Microsoft.AzCertify",
        "operationId": "ArtifactType_ListByResourceGroup",
        "tags": [
          "artifactTypeListByResourceGroup"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ArtifactTypeList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ArtifactType_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/ArtifactType_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "ArtifactType_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/ArtifactType_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzCertify/artifactTypes/{artifactTypeName}": {
      "get": {
        "description": "Returns list of artifact types supported by the Microsoft.AzCertify",
        "operationId": "ArtifactType_GetDetails",
        "tags": [
          "artifactTypeDetails"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "artifactTypeName",
            "required": true,
            "type": "string",
            "description": "Name of artifact type for which details are to be fetched"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ArtifactTypeItem"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ArtifactType_GetDetails_MaximumSet_Gen": {
            "$ref": "./examples/ArtifactType_GetDetails_MaximumSet_Gen.json"
          },
          "ArtifactType_GetDetails_MinimumSet_Gen": {
            "$ref": "./examples/ArtifactType_GetDetails_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "description": "Creates ArtifactTypes resource supported by the Microsoft.AzCertify",
        "operationId": "ArtifactType_Create",
        "tags": [
          "artifactTypeCreate"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "artifactTypeName",
            "required": true,
            "type": "string",
            "description": "Name of artifact type for which the validation job is created"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ArtifactTypeItem"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "ArtifactType_Create_MaximumSet_Gen": {
            "$ref": "./examples/ArtifactType_Create_MaximumSet_Gen.json"
          },
          "ArtifactType_Create_MinimumSet_Gen": {
            "$ref": "./examples/ArtifactType_Create_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "description": "Delete ArtifactTypes resource supported by the Microsoft.AzCertify",
        "operationId": "ArtifactType_Delete",
        "tags": [
          "artifactTypeDelete"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "artifactTypeName",
            "required": true,
            "type": "string",
            "description": "Name of artifact type to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "ArtifactType_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ArtifactType_Delete_MaximumSet_Gen.json"
          },
          "ArtifactType_Delete_MinimumSet_Gen": {
            "$ref": "./examples/ArtifactType_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "description": "Patch ArtifactTypes resource supported by the Microsoft.AzCertify",
        "operationId": "ArtifactType_Patch",
        "tags": [
          "artifactTypePatch"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "artifactTypeName",
            "required": true,
            "type": "string",
            "description": "Name of artifact type for which the validation job is created"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "ArtifactType_Patch_MaximumSet_Gen": {
            "$ref": "./examples/ArtifactType_Patch_MaximumSet_Gen.json"
          },
          "ArtifactType_Patch_MinimumSet_Gen": {
            "$ref": "./examples/ArtifactType_Patch_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzCertify/validationJobs": {
      "get": {
        "description": "Returns all the validations created in a particular resource group",
        "operationId": "ValidationJob_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ArtifactTypeQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ValidationJobListResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ValidationJob_ListByResourceGroup_List_MaximumSet_Gen": {
            "$ref": "./examples/ValidationJob_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "ValidationJob_ListByResourceGroup_List_MinimumSet_Gen": {
            "$ref": "./examples/ValidationJob_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzCertify/artifactTypes/{artifactTypeName}/validationJobs": {
      "get": {
        "description": "Returns all the validations created in a particular resource group for the given artifact type",
        "operationId": "ValidationJob_ListByResourceGroupArtifactType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "artifactTypeName",
            "required": true,
            "type": "string",
            "description": "Name of artifact type for which the validation job is created"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ValidationJobListResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ValidationJob_ListByResourceGroupArtifactType_MaximumSet_Gen": {
            "$ref": "./examples/ValidationJob_ListByResourceGroupArtifactType_MaximumSet_Gen.json"
          },
          "ValidationJob_ListByResourceGroupArtifactType_MinimumSet_Gen": {
            "$ref": "./examples/ValidationJob_ListByResourceGroupArtifactType_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzCertify/artifactTypes/{artifactTypeName}/validationJobs/{validationJobName}": {
      "put": {
        "description": "Create a new Validation job for a given artifact type.",
        "operationId": "ValidationJob_CreateAndUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "artifactTypeName",
            "required": true,
            "type": "string",
            "description": "Name of artifact type for which the validation job is created"
          },
          {
            "in": "path",
            "name": "validationJobName",
            "required": true,
            "type": "string",
            "description": "Name of the Validation job",
            "minLength": 1,
            "maxLength": 60
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload containing the ValidationJOb parameters for the selected artifact type.",
            "schema": {
              "$ref": "#/definitions/ValidationJobItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ValidationJobItem"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ValidationJobItem"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ValidationJob_CreateAndUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ValidationJob_CreateAndUpdate_MaximumSet_Gen.json"
          },
          "ValidationJob_CreateAndUpdate_MinimumSet_Gen": {
            "$ref": "./examples/ValidationJob_CreateAndUpdate_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Tags": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "x-ms-mutability": [
        "read",
        "create",
        "update"
      ],
      "description": "Resource tags"
    },
    "ValidationJobListResponse": {
      "description": "Defines the Validation Jobs list.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of validation jobs.",
          "type": "string"
        },
        "value": {
          "description": "The list of validation jobs already created.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationJob"
          }
        }
      }
    },
    "ValidationJob": {
      "type": "object",
      "description": "Describes the validation job details.",
      "required": [
        "jobId",
        "jobName",
        "jobLocation",
        "artifactTypeName"
      ],
      "properties": {
        "jobId": {
          "description": "Id to uniquely define a validation job.",
          "type": "string"
        },
        "jobName": {
          "description": "Name of the valdiation job",
          "type": "string"
        },
        "jobLocation": {
          "description": "Location of the resource.",
          "type": "string"
        },
        "artifactTypeName": {
          "description": "the artifact type for which the validation job was created.",
          "type": "string"
        }
      }
    },
    "ArtifactTypeList": {
      "description": "Describes the artifact type list supported.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of supported artifact types.",
          "type": "string"
        },
        "value": {
          "description": "The list of supported artifact types.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactTypeItem"
          }
        }
      }
    },
    "ArtifactTypeItem": {
      "description": "Defines the details of artifact type.",
      "required": [
        "artifactTypeInfo"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource",
          "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has location and tags."
        }
      ],
      "properties": {
        "artifactTypeInfo": {
          "x-ms-client-flatten": true,
          "description": "Artifact resource details.",
          "$ref": "#/definitions/ArtifactType"
        }
      },
      "x-ms-azure-resource": true
    },
    "ArtifactType": {
      "type": "object",
      "description": "Describes the artifact type for Validation.",
      "required": [
        "artifactId",
        "artifactName",
        "artifactDescription"
      ],
      "properties": {
        "artifactId": {
          "description": "Artifact Type Id.",
          "type": "string",
          "$ref": "#/definitions/ArtifactTypeRequest"
        },
        "artifactName": {
          "description": "Artifact Type name.",
          "type": "string"
        },
        "artifactDescription": {
          "description": "short description of the Artifact Type.",
          "type": "string"
        }
      }
    },
    "ValidationJobList": {
      "description": "List of validation Jobs.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of validation jobs.",
          "type": "string"
        },
        "value": {
          "description": "The list of already created validation jobs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationJobItem"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "ValidationJobItem": {
      "description": "Defines the details of a validation job.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource",
          "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has location and tags."
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Validation job resource properties.",
          "$ref": "#/definitions/ValidationJobItemProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "ValidationJobItemProperties": {
      "description": "Defines the validation resource properties.",
      "required": [
        "artifactType",
        "jobName"
      ],
      "discriminator": "artifactType",
      "type": "object",
      "properties": {
        "artifactType": {
          "description": "The artifact type.",
          "$ref": "#/definitions/ArtifactTypeRequest"
        },
        "jobName": {
          "description": "Name of Validation Job",
          "type": "string"
        }
      }
    },
    "VmImageItem": {
      "description": "The VmImage aritifact request details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationJobItemProperties"
        }
      ],
      "required": [
        "osType",
        "hyperVGenerationType",
        "inputType",
        "imageSasUrl"
      ],
      "properties": {
        "osType": {
          "type": "string",
          "description": "The Os type of the VM image",
          "enum": [
            "linux",
            "windows"
          ]
        },
        "hyperVGenerationType": {
          "type": "string",
          "description": "The Hyper V generation of the VM"
        },
        "inputType": {
          "type": "string",
          "description": "The input type of the Source VM image",
          "enum": [
            "sasUrl",
            "sigImageUrl"
          ]
        },
        "imageSasUrl": {
          "type": "string",
          "description": "field to unput the image SAS url"
        }
      },
      "x-ms-discriminator-value": "VmImage"
    },
    "ContainerItem": {
      "description": "The Container aritifact request details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationJobItemProperties"
        }
      ],
      "properties": {
        "inputType": {
          "type": "string",
          "description": "The input type of the Source container image",
          "enum": [
            "azureContainerRegister",
            "dockerRegistry"
          ]
        },
        "registryUri": {
          "type": "string",
          "description": "field to unput the container registery url"
        }
      },
      "x-ms-discriminator-value": "Container"
    },
    "ArtifactTypeRequest": {
      "type": "string",
      "description": "The Artifact types supported by the service.",
      "enum": [
        "VmImage",
        "Container",
        "VmExtension"
      ],
      "x-ms-enum": {
        "name": "ArtifactTypeRequest",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "ArtifactTypeQueryParameter": {
      "name": "artifactQueryType",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The artifact type of the validation job."
    }
  }
}
