{
  "swagger": "2.0",
  "info": {
    "title": "Azure Application Migration Service - CodeScanSites",
    "version": "2025-09-09-preview",
    "description": "Azure Application Migration CodeScanSites Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "CodeScanSitesOperations"
    },
    {
      "name": "CodeScanReportsOperations"
    },
    {
      "name": "CodeScanIssuesOperations"
    },
    {
      "name": "CodeScanMappingsOperations"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ApplicationMigration/codeScanMappings/{codeScanMappingName}": {
      "get": {
        "operationId": "CodeScanMappingsOperations_Get",
        "tags": [
          "CodeScanMappingsOperations"
        ],
        "description": "Get a CodeScanMapping",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "codeScanMappingName",
            "in": "path",
            "description": "CodeScanMapping name",
            "required": true,
            "type": "string",
            "pattern": "^appcatScanReport-[a-zA-Z0-9]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanMapping"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CodeScanMappingsOperations_CreateOrUpdate",
        "tags": [
          "CodeScanMappingsOperations"
        ],
        "description": "Create a CodeScanMapping",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "codeScanMappingName",
            "in": "path",
            "description": "CodeScanMapping name",
            "required": true,
            "type": "string",
            "pattern": "^appcatScanReport-[a-zA-Z0-9]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeScanMapping"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CodeScanMapping' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeScanMapping"
            }
          },
          "201": {
            "description": "Resource 'CodeScanMapping' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeScanMapping"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CodeScanMappingsOperations_Delete",
        "tags": [
          "CodeScanMappingsOperations"
        ],
        "description": "Delete a CodeScanMapping",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "codeScanMappingName",
            "in": "path",
            "description": "CodeScanMapping name",
            "required": true,
            "type": "string",
            "pattern": "^appcatScanReport-[a-zA-Z0-9]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/codeScanSites": {
      "get": {
        "operationId": "CodeScanSitesOperations_ListBySubscription",
        "tags": [
          "CodeScanSitesOperations"
        ],
        "description": "List CodeScanSite resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanSiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/codeScanSites": {
      "get": {
        "operationId": "CodeScanSitesOperations_ListByResourceGroup",
        "tags": [
          "CodeScanSitesOperations"
        ],
        "description": "List CodeScanSite resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanSiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/codeScanSites/{codeScanSiteName}": {
      "get": {
        "operationId": "CodeScanSitesOperations_Get",
        "tags": [
          "CodeScanSitesOperations"
        ],
        "description": "Get a CodeScanSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CodeScanSitesOperations_CreateOrUpdate",
        "tags": [
          "CodeScanSitesOperations"
        ],
        "description": "Create a CodeScanSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeScanSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CodeScanSite' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeScanSite"
            }
          },
          "201": {
            "description": "Resource 'CodeScanSite' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeScanSite"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CodeScanSitesOperations_Update",
        "tags": [
          "CodeScanSitesOperations"
        ],
        "description": "Update a CodeScanSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "CodeScanSitesOperations_Delete",
        "tags": [
          "CodeScanSitesOperations"
        ],
        "description": "Delete a CodeScanSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/codeScanSites/{codeScanSiteName}/codeScanReports": {
      "get": {
        "operationId": "CodeScanReportsOperations_ListByParent",
        "tags": [
          "CodeScanReportsOperations"
        ],
        "description": "List CodeScanReport resources by CodeScanSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanReportListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/codeScanSites/{codeScanSiteName}/codeScanReports/{reportId}": {
      "get": {
        "operationId": "CodeScanReportsOperations_Get",
        "tags": [
          "CodeScanReportsOperations"
        ],
        "description": "Get a CodeScanReport",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "CodeScanReport name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanReport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CodeScanReportsOperations_CreateOrUpdate",
        "tags": [
          "CodeScanReportsOperations"
        ],
        "description": "Create a CodeScanReport",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "CodeScanReport name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeScanReport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CodeScanReport' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeScanReport"
            }
          },
          "201": {
            "description": "Resource 'CodeScanReport' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeScanReport"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CodeScanReportsOperations_Delete",
        "tags": [
          "CodeScanReportsOperations"
        ],
        "description": "Delete a CodeScanReport",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "CodeScanReport name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/codeScanSites/{codeScanSiteName}/codeScanReports/{reportId}/codescanissue": {
      "get": {
        "operationId": "CodeScanIssuesOperations_ListByParent",
        "tags": [
          "CodeScanIssuesOperations"
        ],
        "description": "List CodeScanIssue resources by CodeScanReport",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "CodeScanReport name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanIssueListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/codeScanSites/{codeScanSiteName}/codeScanReports/{reportId}/codescanissue/{codeScanIssueId}": {
      "get": {
        "operationId": "CodeScanIssuesOperations_Get",
        "tags": [
          "CodeScanIssuesOperations"
        ],
        "description": "Get a CodeScanIssue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "CodeScanReport name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "codeScanIssueId",
            "in": "path",
            "description": "CodeScanIssue name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeScanIssue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CodeScanIssuesOperations_CreateOrUpdate",
        "tags": [
          "CodeScanIssuesOperations"
        ],
        "description": "Create a CodeScanIssue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "CodeScanReport name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "codeScanIssueId",
            "in": "path",
            "description": "CodeScanIssue name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeScanIssue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CodeScanIssue' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeScanIssue"
            }
          },
          "201": {
            "description": "Resource 'CodeScanIssue' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeScanIssue"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CodeScanIssuesOperations_Delete",
        "tags": [
          "CodeScanIssuesOperations"
        ],
        "description": "Delete a CodeScanIssue",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "CodeScanReport name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "codeScanIssueId",
            "in": "path",
            "description": "CodeScanIssue name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/codeScanSites/{codeScanSiteName}/fetchSasUri": {
      "post": {
        "operationId": "CodeScanSitesOperations_FetchSasUri",
        "tags": [
          "CodeScanSitesOperations"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SasUriResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/codeScanSites/{codeScanSiteName}/processReport": {
      "post": {
        "operationId": "CodeScanSitesOperations_ProcessReport",
        "tags": [
          "CodeScanSitesOperations"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "codeScanSiteName",
            "in": "path",
            "description": "CodeScanSite name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProcessReportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProcessReportResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CodeScanIssue": {
      "type": "object",
      "description": "CodeScanIssue resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeScanIssueProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CodeScanIssueListResult": {
      "type": "object",
      "description": "The response of a CodeScanIssue list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CodeScanIssue items on this page",
          "items": {
            "$ref": "#/definitions/CodeScanIssue"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CodeScanIssueProperties": {
      "type": "object",
      "description": "CodeScanIssue properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the CodeScanIssue.",
          "readOnly": true
        },
        "ruleId": {
          "type": "string",
          "description": "The rule ID of the scan issue."
        },
        "ruleLabel": {
          "type": "string",
          "description": "The rule label of the scan issue."
        },
        "ruleDescription": {
          "type": "string",
          "description": "The rule description of the scan issue."
        },
        "issueCategory": {
          "$ref": "#/definitions/IssueCategory",
          "description": "The issue category."
        },
        "storyPoints": {
          "type": "integer",
          "format": "int32",
          "description": "The story points for the issue."
        },
        "referenceLinks": {
          "type": "array",
          "description": "Reference links for the issue.",
          "items": {
            "$ref": "#/definitions/ReferenceLink"
          },
          "x-ms-identifiers": [
            "url"
          ]
        },
        "occurrences": {
          "type": "integer",
          "format": "int32",
          "description": "The number of occurrences of the issue."
        },
        "targets": {
          "type": "array",
          "description": "The migration targets affected by this issue.",
          "items": {
            "$ref": "#/definitions/MigrationTarget"
          }
        }
      }
    },
    "CodeScanMapping": {
      "type": "object",
      "description": "CodeScanMapping resource - Extension resource under web app sites.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeScanMappingProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CodeScanMappingConfigurations": {
      "type": "object",
      "description": "Configuration properties for the code scan mapping.",
      "properties": {
        "connectionArmId": {
          "type": "string",
          "description": "The ARM ID of the connection."
        },
        "issueId": {
          "type": "string",
          "description": "The issue ID."
        },
        "externalAppName": {
          "type": "string",
          "description": "The external application name."
        },
        "target": {
          "$ref": "#/definitions/MigrationTarget",
          "description": "The migration target."
        }
      }
    },
    "CodeScanMappingDetails": {
      "type": "object",
      "description": "Details for the code scan mapping.",
      "properties": {
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the mapping was last updated.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the mapping was created.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/CodeScanMappingStatus",
          "description": "The status of the mapping.",
          "readOnly": true
        }
      }
    },
    "CodeScanMappingProperties": {
      "type": "object",
      "description": "CodeScanMapping properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the CodeScanMapping.",
          "readOnly": true
        },
        "configurations": {
          "$ref": "#/definitions/CodeScanMappingConfigurations",
          "description": "Configuration properties for the code scan mapping."
        },
        "reports": {
          "$ref": "#/definitions/CodeScanMappingReports",
          "description": "Report information for the code scan mapping."
        },
        "details": {
          "$ref": "#/definitions/CodeScanMappingDetails",
          "description": "Details for the code scan mapping."
        }
      }
    },
    "CodeScanMappingReports": {
      "type": "object",
      "description": "Report information for the code scan mapping.",
      "properties": {
        "reportArmId": {
          "type": "string",
          "description": "The ARM ID of the report."
        },
        "reportId": {
          "type": "string",
          "description": "The report ID.",
          "readOnly": true
        },
        "reportName": {
          "type": "string",
          "description": "The report name.",
          "readOnly": true
        },
        "reportType": {
          "$ref": "#/definitions/ReportType",
          "description": "The report type.",
          "readOnly": true
        },
        "migrateGartnerR": {
          "type": "string",
          "description": "The migrate Gartner R rating.",
          "readOnly": true
        },
        "cloudMaturityScore": {
          "type": "string",
          "description": "The cloud maturity score.",
          "readOnly": true
        },
        "greenScore": {
          "type": "string",
          "description": "The green score.",
          "readOnly": true
        },
        "securityScore": {
          "type": "string",
          "description": "The security score.",
          "readOnly": true
        },
        "effortInHr": {
          "type": "integer",
          "format": "int32",
          "description": "The effort in hours.",
          "readOnly": true
        }
      }
    },
    "CodeScanMappingStatus": {
      "type": "string",
      "description": "The code scan mapping status.",
      "enum": [
        "Succeeded",
        "InProgress",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "CodeScanMappingStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The mapping operation has succeeded."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The mapping operation is in progress."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The mapping operation has failed."
          }
        ]
      },
      "readOnly": true
    },
    "CodeScanReport": {
      "type": "object",
      "description": "CodeScanReport resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeScanReportProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CodeScanReportConfigurations": {
      "type": "object",
      "description": "Configuration properties for the code scan report.",
      "properties": {
        "connectionArmId": {
          "type": "string",
          "description": "The ARM ID of the connection."
        },
        "issueId": {
          "type": "string",
          "description": "The issue ID."
        },
        "externalWebAppName": {
          "type": "string",
          "description": "The external web application name."
        },
        "reportFramework": {
          "$ref": "#/definitions/ReportFramework",
          "description": "The report framework."
        },
        "targets": {
          "type": "array",
          "description": "The migration targets.",
          "items": {
            "$ref": "#/definitions/MigrationTarget"
          }
        }
      }
    },
    "CodeScanReportDetails": {
      "type": "object",
      "description": "Details of the code scan report.",
      "properties": {
        "reportId": {
          "type": "string",
          "description": "The report ID."
        },
        "reportType": {
          "$ref": "#/definitions/ReportType",
          "description": "The report type."
        },
        "reportName": {
          "type": "string",
          "description": "The report name."
        },
        "reportFormat": {
          "$ref": "#/definitions/ReportFormat",
          "description": "The report format."
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the report was last updated.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the report was created.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/ReportStatus",
          "description": "The status of the report.",
          "readOnly": true
        }
      }
    },
    "CodeScanReportListResult": {
      "type": "object",
      "description": "The response of a CodeScanReport list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CodeScanReport items on this page",
          "items": {
            "$ref": "#/definitions/CodeScanReport"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CodeScanReportProperties": {
      "type": "object",
      "description": "CodeScanReport properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the CodeScanReport.",
          "readOnly": true
        },
        "configurations": {
          "$ref": "#/definitions/CodeScanReportConfigurations",
          "description": "Configuration properties for the code scan report."
        },
        "reportDetails": {
          "$ref": "#/definitions/CodeScanReportDetails",
          "description": "Details of the code scan report."
        }
      }
    },
    "CodeScanSite": {
      "type": "object",
      "description": "CodeScanSite resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeScanSiteProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CodeScanSiteListResult": {
      "type": "object",
      "description": "The response of a CodeScanSite list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CodeScanSite items on this page",
          "items": {
            "$ref": "#/definitions/CodeScanSite"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CodeScanSiteProperties": {
      "type": "object",
      "description": "CodeScanSite properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the CodeScanSite.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the CodeScanSite."
        }
      }
    },
    "IssueCategory": {
      "type": "string",
      "description": "The issue category.",
      "enum": [
        "Issue",
        "Warning",
        "Info"
      ],
      "x-ms-enum": {
        "name": "IssueCategory",
        "modelAsString": true,
        "values": [
          {
            "name": "Issue",
            "value": "Issue",
            "description": "Issue category."
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "Warning category."
          },
          {
            "name": "Info",
            "value": "Info",
            "description": "Info category."
          }
        ]
      }
    },
    "MigrationTarget": {
      "type": "string",
      "description": "The target platform for migration.",
      "enum": [
        "AKS",
        "ASC",
        "ASN"
      ],
      "x-ms-enum": {
        "name": "MigrationTarget",
        "modelAsString": true,
        "values": [
          {
            "name": "AKS",
            "value": "AKS",
            "description": "Azure Kubernetes Service."
          },
          {
            "name": "ASC",
            "value": "ASC",
            "description": "Azure Service Container."
          },
          {
            "name": "ASN",
            "value": "ASN",
            "description": "Azure Service Network."
          }
        ]
      }
    },
    "ProcessReportProperties": {
      "type": "object",
      "description": "Properties for processing the report.",
      "properties": {
        "sasuri": {
          "type": "string",
          "description": "The SAS URI of the report to process."
        },
        "reportType": {
          "$ref": "#/definitions/ReportType",
          "description": "The type of the report."
        }
      },
      "required": [
        "sasuri",
        "reportType"
      ]
    },
    "ProcessReportRequest": {
      "type": "object",
      "description": "Process report request model.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProcessReportProperties",
          "description": "Properties for processing the report."
        }
      },
      "required": [
        "properties"
      ]
    },
    "ProcessReportResponse": {
      "type": "object",
      "description": "Process report response model.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ProcessStatus",
          "description": "The status of the process operation."
        },
        "jobArmId": {
          "type": "string",
          "description": "The ARM ID of the created job."
        }
      },
      "required": [
        "status",
        "jobArmId"
      ]
    },
    "ProcessStatus": {
      "type": "string",
      "description": "The status of the process operation.",
      "enum": [
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProcessStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The operation has been accepted."
          }
        ]
      }
    },
    "ReferenceLink": {
      "type": "object",
      "description": "Reference link model.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the reference link."
        },
        "label": {
          "type": "string",
          "description": "The label of the reference link."
        }
      },
      "required": [
        "url",
        "label"
      ]
    },
    "ReportFormat": {
      "type": "string",
      "description": "The report format.",
      "enum": [
        "JSON"
      ],
      "x-ms-enum": {
        "name": "ReportFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "JSON",
            "value": "JSON",
            "description": "JSON format."
          }
        ]
      }
    },
    "ReportFramework": {
      "type": "string",
      "description": "The report framework for code scanning.",
      "enum": [
        "Java",
        "DOTNET"
      ],
      "x-ms-enum": {
        "name": "ReportFramework",
        "modelAsString": true,
        "values": [
          {
            "name": "Java",
            "value": "Java",
            "description": "Java framework."
          },
          {
            "name": "DOTNET",
            "value": "DOTNET",
            "description": ".NET framework."
          }
        ]
      }
    },
    "ReportStatus": {
      "type": "string",
      "description": "The status of the report.",
      "enum": [
        "Available",
        "ScanRequested"
      ],
      "x-ms-enum": {
        "name": "ReportStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Available",
            "value": "Available",
            "description": "The report is available."
          },
          {
            "name": "ScanRequested",
            "value": "ScanRequested",
            "description": "Scan has been requested."
          }
        ]
      }
    },
    "ReportType": {
      "type": "string",
      "description": "The report type.",
      "enum": [
        "AppCAT"
      ],
      "x-ms-enum": {
        "name": "ReportType",
        "modelAsString": true,
        "values": [
          {
            "name": "AppCAT",
            "value": "AppCAT",
            "description": "AppCAT report type."
          }
        ]
      }
    },
    "SasUriResponse": {
      "type": "object",
      "description": "SAS URI response model.",
      "properties": {
        "sasuri": {
          "type": "string",
          "description": "The SAS URI for uploading reports."
        }
      },
      "required": [
        "sasuri"
      ]
    },
    "TagsUpdate": {
      "type": "object",
      "description": "Tags update model.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
