{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ConlvPOC",
    "version": "2023-05-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ProvisioningResources"
    },
    {
      "name": "ProvisioningPolicies"
    },
    {
      "name": "DeviceProvisioningStates"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ConlvPOC/deviceProvisioningStates": {
      "get": {
        "tags": [
          "DeviceProvisioningStates"
        ],
        "operationId": "DeviceProvisioningStates_List",
        "description": "List DeviceProvisioningState resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProvisioningStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ConlvPOC/deviceProvisioningStates/{deviceProvisioningStateName}": {
      "get": {
        "tags": [
          "DeviceProvisioningStates"
        ],
        "operationId": "DeviceProvisioningStates_Get",
        "description": "Get a DeviceProvisioningState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceProvisioningStateName",
            "in": "path",
            "required": true,
            "description": "The registration id of the resource.",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProvisioningState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DeviceProvisioningStates"
        ],
        "operationId": "DeviceProvisioningStates_CreateOrUpdate",
        "description": "Create a DeviceProvisioningState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceProvisioningStateName",
            "in": "path",
            "required": true,
            "description": "The registration id of the resource.",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/DeviceProvisioningState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProvisioningState"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/DeviceProvisioningState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "DeviceProvisioningStates"
        ],
        "operationId": "DeviceProvisioningStates_Delete",
        "description": "Delete a DeviceProvisioningState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceProvisioningStateName",
            "in": "path",
            "required": true,
            "description": "The registration id of the resource.",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "DeviceProvisioningStates"
        ],
        "operationId": "DeviceProvisioningStates_Update",
        "description": "Update a DeviceProvisioningState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "deviceProvisioningStateName",
            "in": "path",
            "required": true,
            "description": "The registration id of the resource.",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/DeviceProvisioningStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProvisioningState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ConlvPOC/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ConlvPOC/deviceProvisioningStates": {
      "get": {
        "tags": [
          "DeviceProvisioningStates"
        ],
        "operationId": "DeviceProvisioningStates_ListBySubscription",
        "description": "List DeviceProvisioningState resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceProvisioningStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ConlvPOC/provisioningResources": {
      "get": {
        "tags": [
          "ProvisioningResources"
        ],
        "operationId": "ProvisioningResources_ListBySubscription",
        "description": "List ProvisioningResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConlvPOC/provisioningResources": {
      "get": {
        "tags": [
          "ProvisioningResources"
        ],
        "operationId": "ProvisioningResources_ListByResourceGroup",
        "description": "List ProvisioningResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConlvPOC/provisioningResources/{provisioningResourceName}": {
      "get": {
        "tags": [
          "ProvisioningResources"
        ],
        "operationId": "ProvisioningResources_Get",
        "description": "Get a ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetProvisioningResource": {
            "$ref": "./examples/ProvisioningResources_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ProvisioningResources"
        ],
        "operationId": "ProvisioningResources_CreateOrUpdate",
        "description": "Create a ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateProvisioningResource": {
            "$ref": "./examples/ProvisioningResources_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ProvisioningResources"
        ],
        "operationId": "ProvisioningResources_Delete",
        "description": "Delete a ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ProvisioningResources"
        ],
        "operationId": "ProvisioningResources_Update",
        "description": "Update a ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConlvPOC/provisioningResources/{provisioningResourceName}/provisioningPolicies": {
      "get": {
        "tags": [
          "ProvisioningPolicies"
        ],
        "operationId": "ProvisioningPolicies_ListByProvisioningResource",
        "description": "List ProvisioningPolicy resources by ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConlvPOC/provisioningResources/{provisioningResourceName}/provisioningPolicies/{provisioningPolicyName}": {
      "get": {
        "tags": [
          "ProvisioningPolicies"
        ],
        "operationId": "ProvisioningPolicies_Get",
        "description": "Get a ProvisioningPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "provisioningPolicyName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProvisioningPolicies"
        ],
        "operationId": "ProvisioningPolicies_CreateOrUpdate",
        "description": "Create a ProvisioningPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "provisioningPolicyName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ProvisioningPolicies"
        ],
        "operationId": "ProvisioningPolicies_Delete",
        "description": "Delete a ProvisioningPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "provisioningPolicyName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ProvisioningPolicies"
        ],
        "operationId": "ProvisioningPolicies_Update",
        "description": "Update a ProvisioningPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "provisioningPolicyName",
            "in": "path",
            "required": true,
            "description": "The name of the employee",
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AllocationEndpoint": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the endpoint"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource id of the endpoint"
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "Weight of the endpoint"
        },
        "region": {
          "type": "string",
          "description": "Region of the endpoint"
        }
      },
      "description": "Endpoint",
      "required": [
        "name",
        "resourceId"
      ]
    },
    "AllocationRule": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Discriminator property for AllocationRule."
        },
        "name": {
          "type": "string",
          "description": "Name of the allocation rule"
        },
        "endpointType": {
          "$ref": "#/definitions/EndpointType",
          "description": "Type of endpoint"
        }
      },
      "description": "The allocation rule",
      "discriminator": "type",
      "required": [
        "type",
        "name",
        "endpointType"
      ]
    },
    "AllocationType": {
      "type": "string",
      "description": "Type of allocation rule",
      "enum": [
        "Static",
        "GeoBased",
        "Weighted"
      ],
      "x-ms-enum": {
        "name": "AllocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Static",
            "value": "Static",
            "description": "Static allocation of a single endpoint."
          },
          {
            "name": "GeoBased",
            "value": "GeoBased",
            "description": "Allocation based on geo-location."
          },
          {
            "name": "Weighted",
            "value": "Weighted",
            "description": "Allocation based on weight."
          }
        ]
      }
    },
    "BootstrapAuthenticationDetails": {
      "type": "object",
      "properties": {
        "primaryCert": {
          "type": "string",
          "description": "The primary certificate",
          "format": "password",
          "x-ms-secret": true
        },
        "secondaryCert": {
          "type": "string",
          "description": "The secondary certificate",
          "format": "password",
          "x-ms-secret": true
        }
      },
      "description": "The authentication details for bootstrap",
      "required": [
        "primaryCert"
      ]
    },
    "BootstrapAuthenticationDetailsUpdate": {
      "type": "object",
      "properties": {
        "primaryCert": {
          "type": "string",
          "description": "The primary certificate",
          "format": "password",
          "x-ms-secret": true
        },
        "secondaryCert": {
          "type": "string",
          "description": "The secondary certificate",
          "format": "password",
          "x-ms-secret": true
        }
      },
      "description": "The authentication details for bootstrap"
    },
    "BootstrapAuthenticationRule": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/BootstrapAuthenticationType",
          "description": "The type of authentication rule"
        },
        "details": {
          "$ref": "#/definitions/BootstrapAuthenticationDetails",
          "description": "The authentication details"
        }
      },
      "description": "The authentication rule for bootstrap",
      "required": [
        "type"
      ]
    },
    "BootstrapAuthenticationRuleUpdate": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/BootstrapAuthenticationType",
          "description": "The type of authentication rule"
        },
        "details": {
          "$ref": "#/definitions/BootstrapAuthenticationDetailsUpdate",
          "description": "The authentication details"
        }
      },
      "description": "The authentication rule for bootstrap"
    },
    "BootstrapAuthenticationType": {
      "type": "string",
      "description": "The authentication type for bootstrap.",
      "enum": [
        "X509",
        "Discovery"
      ],
      "x-ms-enum": {
        "name": "BootstrapAuthenticationType",
        "modelAsString": true,
        "values": [
          {
            "name": "X509",
            "value": "X509",
            "description": "The X509 authentication type."
          },
          {
            "name": "Discovery",
            "value": "Discovery",
            "description": "The discovery authentication type."
          }
        ]
      }
    },
    "CertificateIssuanceRule": {
      "type": "object",
      "properties": {
        "intermediateCertificateAuthority": {
          "type": "string",
          "description": "ICA - IntermediateCertificateAuthority name"
        },
        "renewalInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Cert renewal interval"
        }
      },
      "description": "Certificate issuance configurations",
      "required": [
        "intermediateCertificateAuthority",
        "renewalInterval"
      ]
    },
    "CertificateIssuanceRuleUpdate": {
      "type": "object",
      "properties": {
        "intermediateCertificateAuthority": {
          "type": "string",
          "description": "ICA - IntermediateCertificateAuthority name"
        },
        "renewalInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Cert renewal interval"
        }
      },
      "description": "Certificate issuance configurations"
    },
    "DeviceEndpoint": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the Endpoint",
          "readOnly": true
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the Endpoint",
          "readOnly": true
        }
      },
      "description": "The device endpoint"
    },
    "DeviceEndpoints": {
      "type": "object",
      "properties": {
        "default": {
          "$ref": "#/definitions/DeviceEndpoint",
          "description": "The default endpoint"
        }
      },
      "description": "Device endpoints.",
      "required": [
        "default"
      ]
    },
    "DeviceIdentityInfo": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "boolean",
          "description": "If uuid need to be returned"
        },
        "accessTokenUrl": {
          "type": "boolean",
          "description": "If accessTokenUrl need to be returned"
        },
        "externalDeviceId": {
          "type": "boolean",
          "description": "If externalDeviceId need to be returned"
        }
      },
      "description": "The identity info to return to device",
      "required": [
        "uuid",
        "accessTokenUrl",
        "externalDeviceId"
      ]
    },
    "DeviceIdentityInfoUpdate": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "boolean",
          "description": "If uuid need to be returned"
        },
        "accessTokenUrl": {
          "type": "boolean",
          "description": "If accessTokenUrl need to be returned"
        },
        "externalDeviceId": {
          "type": "boolean",
          "description": "If externalDeviceId need to be returned"
        }
      },
      "description": "The identity info to return to device"
    },
    "DeviceProvisioningState": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceProvisioningStateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "The provisioning state of a device.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeviceProvisioningStateListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeviceProvisioningState"
          },
          "description": "The DeviceProvisioningState items on this page",
          "x-typespec-name": "DeviceProvisioningState[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a DeviceProvisioningState list operation.",
      "required": [
        "value"
      ]
    },
    "DeviceProvisioningStateProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/ProvisioningStatus",
          "description": "Provisioning status of the resource this DeviceProvisioningState extends",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "discoveryEnabled": {
          "type": "boolean",
          "description": "Indicates if the device is enabled for discovery"
        },
        "provisioningPolicyResourceId": {
          "$ref": "#/definitions/ProvisioningPolicyResourceId",
          "description": "The provisioning policy resource id"
        },
        "allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllocationRule"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "Allocation rules captured from the linked provisioningPolicyResourceId at the time of provisioning",
          "x-typespec-name": "AllocationRule[]"
        }
      },
      "description": "Details of the DeviceProvisioningState",
      "required": [
        "status",
        "discoveryEnabled",
        "allocations"
      ]
    },
    "DeviceProvisioningStateUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceProvisioningStateUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the DeviceProvisioningState."
    },
    "DeviceProvisioningStateUpdateProperties": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/ProvisioningStatus",
          "description": "Provisioning status of the resource this DeviceProvisioningState extends",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "discoveryEnabled": {
          "type": "boolean",
          "description": "Indicates if the device is enabled for discovery"
        },
        "provisioningPolicyResourceId": {
          "$ref": "#/definitions/ProvisioningPolicyResourceId",
          "description": "The provisioning policy resource id"
        },
        "allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllocationRule"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "Allocation rules captured from the linked provisioningPolicyResourceId at the time of provisioning",
          "x-typespec-name": "AllocationRule[]"
        }
      },
      "description": "The updatable properties of the DeviceProvisioningState."
    },
    "EndpointType": {
      "type": "string",
      "description": "Type of the endpoint",
      "enum": [
        "AzureEventGridBroker"
      ],
      "x-ms-enum": {
        "name": "EndpointType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureEventGridBroker",
            "value": "AzureEventGridBroker",
            "description": "Azure event grid broker"
          }
        ]
      }
    },
    "GeoBasedAllocationEndpoint": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the endpoint"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource id of the endpoint"
        },
        "region": {
          "type": "string",
          "description": "Region of the endpoint"
        }
      },
      "description": "GeoBased allocation endpoint",
      "required": [
        "name",
        "resourceId",
        "region"
      ]
    },
    "GeoBasedAllocationRule": {
      "type": "object",
      "properties": {
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GeoBasedAllocationEndpoint"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "List of endpoints for geoBased allocation type",
          "x-typespec-name": "GeoBasedAllocationEndpoint[]"
        }
      },
      "description": "The allocation rule for geoBased allocation type",
      "allOf": [
        {
          "$ref": "#/definitions/AllocationRule"
        }
      ]
    },
    "IdentityInfo": {
      "type": "object",
      "properties": {
        "certificateIssuance": {
          "$ref": "#/definitions/CertificateIssuanceRule",
          "description": "Certificate issuance settings"
        },
        "deviceTemplateId": {
          "type": "string",
          "description": "Device template id"
        },
        "staticGroup": {
          "type": "string",
          "description": "AAD group name for static group"
        },
        "identityInfoForDevice": {
          "$ref": "#/definitions/DeviceIdentityInfo",
          "description": "The identity info to return to device"
        }
      },
      "description": "The information related to device identity"
    },
    "IdentityInfoUpdate": {
      "type": "object",
      "properties": {
        "certificateIssuance": {
          "$ref": "#/definitions/CertificateIssuanceRuleUpdate",
          "description": "Certificate issuance settings"
        },
        "deviceTemplateId": {
          "type": "string",
          "description": "Device template id"
        },
        "staticGroup": {
          "type": "string",
          "description": "AAD group name for static group"
        },
        "identityInfoForDevice": {
          "$ref": "#/definitions/DeviceIdentityInfoUpdate",
          "description": "The identity info to return to device"
        }
      },
      "description": "The information related to device identity"
    },
    "JitRule": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "The region",
          "minLength": 1
        },
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the target subscription.",
          "minLength": 1
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The name of the resource group. The name is case insensitive.",
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "minLength": 1,
          "maxLength": 90
        }
      },
      "description": "The rule for Just-in-time connection",
      "required": [
        "region",
        "subscriptionId",
        "resourceGroupName"
      ]
    },
    "JitRuleUpdate": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "The region",
          "minLength": 1
        },
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the target subscription.",
          "minLength": 1
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The name of the resource group. The name is case insensitive.",
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "minLength": 1,
          "maxLength": 90
        }
      },
      "description": "The rule for Just-in-time connection"
    },
    "ProvisioningPolicy": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProvisioningPolicyProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A provisioning policy resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ProvisioningPolicyListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProvisioningPolicy"
          },
          "description": "The ProvisioningPolicy items on this page",
          "x-typespec-name": "ProvisioningPolicy[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a ProvisioningPolicy list operation.",
      "required": [
        "value"
      ]
    },
    "ProvisioningPolicyProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the policy. Should be greater than 0."
        },
        "bootstrapAuthentication": {
          "$ref": "#/definitions/BootstrapAuthenticationRule",
          "description": "The bootstrap authentication rule."
        },
        "allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllocationRule"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "Allocation rules.",
          "x-typespec-name": "AllocationRule[]"
        },
        "provisioning": {
          "$ref": "#/definitions/ProvisioningRule",
          "description": "The device provisioning rule."
        }
      },
      "description": "Details of the ProvisioningService ProvisioningPolicy.",
      "required": [
        "priority",
        "bootstrapAuthentication",
        "provisioning"
      ]
    },
    "ProvisioningPolicyResourceId": {
      "type": "string",
      "description": "A type definition that refers the id to an ARM resource.",
      "format": "arm-id",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.EdgeProvisioningService/ProvisioningResources/ProvisioningPolicies"
          }
        ]
      }
    },
    "ProvisioningPolicyUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        },
        "properties": {
          "$ref": "#/definitions/ProvisioningPolicyUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the ProvisioningPolicy."
    },
    "ProvisioningPolicyUpdateProperties": {
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the policy. Should be greater than 0."
        },
        "bootstrapAuthentication": {
          "$ref": "#/definitions/BootstrapAuthenticationRuleUpdate",
          "description": "The bootstrap authentication rule."
        },
        "allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllocationRule"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "Allocation rules.",
          "x-typespec-name": "AllocationRule[]"
        },
        "provisioning": {
          "$ref": "#/definitions/ProvisioningRuleUpdate",
          "description": "The device provisioning rule."
        }
      },
      "description": "The updatable properties of the ProvisioningPolicy."
    },
    "ProvisioningResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProvisioningResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A provisioning resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ProvisioningResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProvisioningResource"
          },
          "description": "The ProvisioningResource items on this page",
          "x-typespec-name": "ProvisioningResource[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a ProvisioningResource list operation.",
      "required": [
        "value"
      ]
    },
    "ProvisioningResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "deviceEndpoints": {
          "$ref": "#/definitions/DeviceEndpoints",
          "description": "The provisioning service endpoints",
          "readOnly": true
        }
      },
      "description": "Details of the EdgeProvisioning ProvisioningResource."
    },
    "ProvisioningResourceType": {
      "type": "string",
      "description": "Type of resource being provisioned",
      "enum": [
        "AzureIoTDevice",
        "ArcEnabledDevice"
      ],
      "x-ms-enum": {
        "name": "ProvisioningResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureIoTDevice",
            "value": "AzureIoTDevice",
            "description": "Azure device registry device"
          },
          {
            "name": "ArcEnabledDevice",
            "value": "ArcEnabledDevice",
            "description": "Arc enabled device."
          }
        ]
      }
    },
    "ProvisioningResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "x-typespec-name": "Record<string>"
        }
      },
      "description": "The type used for update operations of the ProvisioningResource."
    },
    "ProvisioningRule": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ProvisioningResourceType",
          "description": "Type of the resource being provisioned"
        },
        "jit": {
          "$ref": "#/definitions/JitRule",
          "description": "Just-in-time rule to create the device resource."
        },
        "identityInfo": {
          "$ref": "#/definitions/IdentityInfo",
          "description": "Identity information"
        },
        "resourceMetadata": {
          "type": "string",
          "description": "Resource metadata",
          "maxLength": 200
        }
      },
      "description": "The provisioning rule",
      "required": [
        "type"
      ]
    },
    "ProvisioningRuleUpdate": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ProvisioningResourceType",
          "description": "Type of the resource being provisioned"
        },
        "jit": {
          "$ref": "#/definitions/JitRuleUpdate",
          "description": "Just-in-time rule to create the device resource."
        },
        "identityInfo": {
          "$ref": "#/definitions/IdentityInfoUpdate",
          "description": "Identity information"
        },
        "resourceMetadata": {
          "type": "string",
          "description": "Resource metadata",
          "maxLength": 200
        }
      },
      "description": "The provisioning rule"
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Activating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Activating",
            "value": "Activating",
            "description": "The activating state"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The updating state"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The deleting state"
          }
        ]
      }
    },
    "ProvisioningStatus": {
      "type": "string",
      "description": "The current provisioning status.",
      "enum": [
        "Pending",
        "Provisioned",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Provisioning is still pending"
          },
          {
            "name": "Provisioned",
            "value": "Provisioned",
            "description": "The resource has been provisioned"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Provisioning has failed"
          }
        ]
      }
    },
    "WeightedAllocationEndpoint": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the endpoint"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource id of the endpoint"
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "Weight of the endpoint"
        }
      },
      "description": "Weighted allocation endpoint",
      "required": [
        "name",
        "resourceId",
        "weight"
      ]
    },
    "WeightedAllocationRule": {
      "type": "object",
      "properties": {
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WeightedAllocationEndpoint"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "List of endpoints for weighted allocation type",
          "x-typespec-name": "WeightedAllocationEndpoint[]"
        }
      },
      "description": "The allocation rule for weighted allocation type",
      "allOf": [
        {
          "$ref": "#/definitions/AllocationRule"
        }
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "type": "string",
      "x-ms-skip-url-encoding": true,
      "x-ms-parameter-location": "method"
    }
  }
}
