{
  "swagger": "2.0",
  "info": {
    "title": "Private.devapptools management service",
    "version": "2021-10-01-preview",
    "description": "Microsoft.devapptools Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PreCheckRequests"
    }
  ],
  "paths": {
    "/providers/Private.DevAppTools/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.DevAppTools/preCheckRequests": {
      "get": {
        "operationId": "PreCheckRequests_ListBySubscription",
        "tags": [
          "PreCheckRequests"
        ],
        "description": "List PreCheckRequest resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreCheckRequestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevAppTools/preCheckRequests": {
      "get": {
        "operationId": "PreCheckRequests_ListByResourceGroup",
        "tags": [
          "PreCheckRequests"
        ],
        "description": "List PreCheckRequest resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreCheckRequestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevAppTools/preCheckRequests/{preCheckRequestName}": {
      "get": {
        "operationId": "PreCheckRequests_Get",
        "tags": [
          "PreCheckRequests"
        ],
        "description": "Get a PreCheckRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "preCheckRequestName",
            "in": "path",
            "description": "The name of the PreCheckRequest",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreCheckRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "PreCheckRequests_CreateOrUpdate",
        "tags": [
          "PreCheckRequests"
        ],
        "description": "Create a PreCheckRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "preCheckRequestName",
            "in": "path",
            "description": "The name of the PreCheckRequest",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PreCheckRequest' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PreCheckRequest"
            }
          },
          "201": {
            "description": "Resource 'PreCheckRequest' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PreCheckRequest"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PreCheckRequests_Update",
        "tags": [
          "PreCheckRequests"
        ],
        "description": "Update a PreCheckRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "preCheckRequestName",
            "in": "path",
            "description": "The name of the PreCheckRequest",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreCheckRequestUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreCheckRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "PreCheckRequests_Delete",
        "tags": [
          "PreCheckRequests"
        ],
        "description": "Delete a PreCheckRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "preCheckRequestName",
            "in": "path",
            "description": "The name of the PreCheckRequest",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "GPUVendor": {
      "type": "string",
      "description": "Supported GPU vendors",
      "enum": [
        "NVIDIA",
        "AMD",
        "INTEL"
      ],
      "x-ms-enum": {
        "name": "GPUVendor",
        "modelAsString": true,
        "values": [
          {
            "name": "NVIDIA",
            "value": "NVIDIA",
            "description": "NVIDIA GPU"
          },
          {
            "name": "AMD",
            "value": "AMD",
            "description": "AMD GPU"
          },
          {
            "name": "INTEL",
            "value": "INTEL",
            "description": "INTEL GPU"
          }
        ]
      }
    },
    "NodeReason": {
      "type": "object",
      "description": "Node reason details",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Node name"
        },
        "reasons": {
          "type": "array",
          "description": "Reasons list",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PodResourceRequirement": {
      "type": "object",
      "description": "Pod resource requirement",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the pod"
        },
        "cpu": {
          "type": "string",
          "description": "CPU requirement"
        },
        "memory": {
          "type": "string",
          "description": "Memory requirement"
        },
        "ephemeralStorage": {
          "type": "string",
          "description": "Ephemeral storage requirement"
        },
        "gpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "GPU count requirement"
        },
        "gpuMemory": {
          "type": "string",
          "description": "GPU memory requirement"
        },
        "gpuVendor": {
          "$ref": "#/definitions/GPUVendor",
          "description": "GPU vendor type"
        },
        "containerNvidiaDriverVersion": {
          "type": "string",
          "description": "Container NVIDIA driver version"
        },
        "nodeSelector": {
          "type": "array",
          "description": "Node selector labels",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PreCheckRequest": {
      "type": "object",
      "description": "PreCheckRequest resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PreCheckRequestProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PreCheckRequestListResult": {
      "type": "object",
      "description": "The response of a PreCheckRequest list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PreCheckRequest items on this page",
          "items": {
            "$ref": "#/definitions/PreCheckRequest"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PreCheckRequestProperties": {
      "type": "object",
      "description": "PreCheckRequest properties",
      "properties": {
        "podResourceRequirements": {
          "type": "array",
          "description": "Pod resource requirements",
          "items": {
            "$ref": "#/definitions/PodResourceRequirement"
          },
          "x-ms-identifiers": []
        },
        "validationMode": {
          "type": "string",
          "description": "Determines how the validation webhook handles the request",
          "default": "ValidateOnly",
          "enum": [
            "ValidateAndReject",
            "ValidateOnly"
          ],
          "x-ms-enum": {
            "name": "ValidationMode",
            "modelAsString": true,
            "values": [
              {
                "name": "ValidateAndReject",
                "value": "ValidateAndReject",
                "description": "Validate and reject if validation fails"
              },
              {
                "name": "ValidateOnly",
                "value": "ValidateOnly",
                "description": "Validate but save the request regardless of validation results"
              }
            ]
          }
        },
        "status": {
          "$ref": "#/definitions/PreCheckRequestStatus",
          "description": "The status of the precheck request",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "PreCheckRequestStatus": {
      "type": "object",
      "description": "PreCheck request status",
      "properties": {
        "overallResult": {
          "type": "string",
          "description": "Overall result of the validation"
        },
        "details": {
          "type": "array",
          "description": "Validation details",
          "items": {
            "$ref": "#/definitions/ValidationDetail"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PreCheckRequestUpdate": {
      "type": "object",
      "description": "PreCheckRequest resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PreCheckRequestProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ValidationDetail": {
      "type": "object",
      "description": "Validation detail",
      "properties": {
        "pod": {
          "type": "string",
          "description": "Pod name"
        },
        "result": {
          "type": "string",
          "description": "Validation result"
        },
        "reason": {
          "type": "string",
          "description": "Validation reason"
        },
        "node": {
          "type": "string",
          "description": "Node name"
        },
        "issue": {
          "type": "string",
          "description": "Issue description"
        },
        "nodeReasons": {
          "type": "array",
          "description": "Node reasons",
          "items": {
            "$ref": "#/definitions/NodeReason"
          },
          "x-ms-identifiers": [
            "nodeName"
          ]
        }
      }
    },
    "ValidationMode": {
      "type": "string",
      "description": "Determines how the validation webhook handles the request",
      "enum": [
        "ValidateAndReject",
        "ValidateOnly"
      ],
      "x-ms-enum": {
        "name": "ValidationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "ValidateAndReject",
            "value": "ValidateAndReject",
            "description": "Validate and reject if validation fails"
          },
          {
            "name": "ValidateOnly",
            "value": "ValidateOnly",
            "description": "Validate but save the request regardless of validation results"
          }
        ]
      }
    }
  },
  "parameters": {}
}
