{
    "swagger": "2.0",
    "info": {
        "version": "2023-06-01-preview",
        "title": "AzureStackHCI",
        "description": "Azure Stack HCI management service"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/mockCRUD/{param}": {
            "get": {
                "operationId": "MockCRUD_Get",
                "description": "Get MockCRUD resources of HCI Cluster.",
                "x-ms-examples": {
                    "GetMockCRUD": {
                        "$ref": "./examples/GetMockCRUD.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ParamParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockCRUD"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            },
            "patch": {
                "operationId": "MockCRUD_Patch",
                "description": "Patch MockCRUD resource details of HCI Cluster.",
                "x-ms-examples": {
                    "PatchMockCRUD": {
                        "$ref": "./examples/PatchMockCRUD.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ParamParameter"
                    },
                    {
                        "name": "mockCRUD",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MockCRUD"
                        },
                        "description": "Parameters supplied to Patch MockCRUD resource for this HCI cluster."
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockCRUD"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "operationId": "MockCRUD_Put",
                "description": "Put MockCRUD for HCI cluster.",
                "x-ms-examples": {
                    "PutMockCRUD": {
                        "$ref": "./examples/PutMockCRUD.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ParamParameter"
                    },
                    {
                        "name": "mockCRUD",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MockCRUD"
                        },
                        "description": "Parameters supplied to Put MockCRUD resource for this HCI cluster."
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockCRUD"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "MockCRUD_Delete",
                "description": "Delete MockCRUD resource details of HCI Cluster.",
                "x-ms-examples": {
                    "PostMockCRUD": {
                        "$ref": "./examples/DeleteMockCRUD.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ClusterNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ParamParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "202": {
                        "description": "Accepted"
                    },
                    "204": {
                        "description": "No content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "azure-async-operation"
                }
            }
        }
    },
    "definitions": {
        "MockCRUD": {
            "description": "MockCRUD details.",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "MockCRUD properties.",
                    "$ref": "#/definitions/MockCRUDProperties",
                    "x-ms-client-flatten": true
                }
            }
        },
        "MockCRUDProperties": {
            "description": "MockCRUD properties.",
            "type": "object",
            "properties": {
                "clusterName": {
                    "description": "Cluster Id of the MockCRUD proxy resource.",
                    "type": "string"
                },
                "param": {
                    "description": "Param of the MockCRUD proxy resource.",
                    "type": "string"
                },
                "location": {
                    "description": "location of the MockCRUD proxy resource.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "ClusterNameParameter": {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
        },
        "ParamParameter": {
            "name": "param",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The param of the mockCRUD proxy resource"
        }
    }
}
