{
  "swagger": "2.0",
  "info": {
    "version": "2022-10-11",
    "title": "storageaccounts",
    "description": "storageaccounts of Microsoft.ACSEdgeRP Rest API spec.",
    "x-ms-code-generation-settings": {
      "name": "storageaccountsClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ACSEdgeRP/storageaccounts/{storageaccountsName}": {
      "get": {        
        "operationId": "Get storageaccounts",
        "x-ms-examples": {
          "Get storageaccounts": { "$ref": "./examples/get.json" }
        },
        "description": "Retrieve the storageaccounts resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/storageaccountsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve the storageaccounts resource.",
            "schema": {
              "$ref": "#/definitions/storageaccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "put": {        
        "operationId": "Create or Update storageaccounts",
        "x-ms-examples": {
          "Create or Update storageaccounts": { "$ref": "./examples/put.json" }
        },
        "description": "Create or Update the storageaccounts resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/storageaccountsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
		  {
			"name": "storageaccounts",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/storageaccounts"
            }
		  }
        ],
        "responses": {
          "200": {
            "description": "Update the storageaccounts resource.",
            "schema": {
              "$ref": "#/definitions/storageaccounts"
            }
          },
		  "201": {
            "description": "Create the storageaccounts resource.",
            "schema": {
              "$ref": "#/definitions/storageaccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "delete": {        
        "operationId": "Delete storageaccounts",
        "x-ms-examples": {
          "Delete storageaccounts": { "$ref": "./examples/delete.json" }
        },
        "description": "Delete the storageaccounts resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/storageaccountsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete the storageaccounts resource."
          },
		  "204": {
            "description": "Delete the storageaccounts resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
	  "patch": {        
        "operationId": "Update storageaccounts",
        "x-ms-examples": {
          "Update storageaccounts": { "$ref": "./examples/patch.json" }
        },
        "description": "Update the storageaccounts resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/storageaccountsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
		  {
			"name": "storageaccounts",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/storageaccountsPatch"
            }
		  }
        ],
        "responses": {
          "200": {
            "description": "Update the storageaccounts resource.",
            "schema": {
              "$ref": "#/definitions/storageaccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },  
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ACSEdgeRP/storageaccounts": {
      "get": {        
        "operationId": "storageaccounts_ListByResourceGroup",
        "x-ms-examples": {
          "List By Resource Group": { "$ref": "./examples/listByResourceGroup.json" }
        },
        "description": "List all storageaccounts under the resouce group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List all storageaccounts under the resouce group.",
            "schema": {
              "$ref": "#/definitions/storageaccountsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	"/subscriptions/{subscriptionId}/providers/Microsoft.ACSEdgeRP/storageaccounts": {
      "get": {        
        "operationId": "storageaccounts_ListBySubscription",
        "x-ms-examples": {
          "List By Subscription": { "$ref": "./examples/listBySubscription.json" }
        },
        "description": "List all storageaccounts under the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List all storageaccounts under the subscription.",
            "schema": {
              "$ref": "#/definitions/storageaccountsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ACSEdgeRP/operations": {
      "get": {        
        "operationId": "Operations_List",       
        "description": "List Operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List Operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "storageaccountsProperties": {
      "type": "object",
      "properties": {
		  "properties": {
			"properties": {
			  "accessTier": {
				"enum": [
				  "Cool",
				  "Hot",
				  "Premium"
				],
				"type": "string"
			  }
			},
			"type": "object"
		  }
      }
    },
    "storageaccounts": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "$ref": "#/definitions/storageaccountsProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The storageaccounts resource definition."
    },
    "storageaccountsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The storageaccounts resource patch definition."
    },
    "storageaccountsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/storageaccounts"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
	"storageaccountsNameParameter": {
      "name": "storageaccountsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    }
  }
}
