{
  "swagger": "2.0",
  "info": {
    "title": "IoT Workspaces Asset Types Resource Provider",
    "version": "2023-06-21-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTWorkspaces/assetTypes": {
      "get": {
        "tags": [
          "AssetTypes"
        ],
        "operationId": "List_AssetTypes_Subscription",
        "description": "List all asset types in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Asset Types.",
            "schema": {
              "$ref": "#/definitions/AssetTypesResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/assetTypes": {
      "get": {
        "tags": [
          "AssetTypes"
        ],
        "operationId": "List_AssetTypes_In_ResourceGroup",
        "description": "List all asset types in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Asset Types.",
            "schema": {
              "$ref": "#/definitions/AssetTypesResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/assetTypes/{assetTypeName}": {
      "put": {
        "tags": [
          "AssetTypes"
        ],
        "operationId": "Create_Or_Update_AssetType",
        "description": "Create a new asset type or update an existing asset type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/assetTypeNameParameter"
          },
          {
            "name": "assetType",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/AssetType"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Created or updated Asset Type.",
            "schema": {
              "$ref": "#/definitions/AssetType"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "Async operation to create or update the Asset Type.",
            "schema": {
              "$ref": "#/definitions/AssetType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AssetTypes"
        ],
        "operationId": "Update_AssetType",
        "description": "Update specific asset type properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/assetTypeNameParameter"
          },
          {
            "name": "asset",
            "in": "body",
            "required": true,
            "description": "Resource Patch parameters.",
            "schema": {
              "$ref": "#/definitions/AssetType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patched Asset.",
            "schema": {
              "$ref": "#/definitions/AssetType"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "Async operation to patch the Asset.",
            "schema": {
              "$ref": "#/definitions/AssetType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AssetTypes"
        ],
        "operationId": "Delete_AssetType",
        "description": "Delete an asset type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/assetTypeNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Async operation to delete the Asset Type."
          },
          "204": {
            "description": "Asset Type delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AssetTypes"
        ],
        "operationId": "Read_AssetType.",
        "description": "Retrieve a single asset type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/assetTypeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A single Asset Type.",
            "schema": {
              "$ref": "#/definitions/AssetType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTWorkspaces/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "tags": [
          "AssetTypes"
        ],
        "operationId": "Get_Operation_Status",
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested operation status.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.IoTWorkspaces/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Operations returned if request was successful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "parameters": {
    "assetTypeNameParameter": {
      "name": "assetTypeName",
      "description": "Asset Type name parameter.",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  },
  "definitions": {
    "AssetTypesResponseList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetType"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "List of Asset Types."
    },
    "AssetType": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssetTypeProperties",
          "description": "Asset Type resource properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AssetTypeProperties": {
      "description": "Defines the asset type properties.",
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "description": "Globally unique, immutable, non-reusable id.",
          "format": "uuid",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the asset type."
        },
        "labels": {
          "type":"array",
          "items": {
            "type":"string",
            "description": "Asset type label."
          },
          "description": "Array of labels associated to the asset type."
        },
        "schema":{
          "type": "object",
          "additionalProperties": {},
          "description": "Asset type DTDL schema."
        },
        "customLocations": {
          "type":"array",
          "items": {
            "type":"string",
            "description": "Custom location"
          },
          "description": "Array of custom locations associated to the asset type."
        }
      }
    }
  }
}
