{
  "swagger": "2.0",
  "info": {
    "title": "Azure Device Registry",
    "description": "Asset Endpoint Profile resource type.",
    "version": "2023-06-21-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTWorkspaces/assetEndpointProfiles": {
      "get": {
        "tags": [
          "Asset Endpoint Profiles"
        ],
        "operationId": "AssetEndpointProfiles_ListBySubscription",
        "description": "List all Asset Endpoint Profiles in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Asset Endpoint Profiles.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfileResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/assetEndpointProfiles": {
      "get": {
        "tags": [
          "Asset Endpoint Profiles"
        ],
        "operationId": "AssetEndpointProfiles_ListByResourceGroup",
        "description": "List all Asset Endpoint Profiles in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Asset Endpoint Profiles.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfileResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/assetEndpointProfiles/{assetEndpointProfileName}": {
      "put": {
        "tags": [
          "Asset Endpoint Profiles"
        ],
        "operationId": "AssetEndpointProfiles_CreateOrReplace",
        "description": "Create a new Asset Endpoint Profile or replace an existing Asset Endpoint Profile.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/assetEndpointProfileNameParameter"
          },
          {
            "name": "assetEndpointProfile",
            "in": "body",
            "required": true,
            "description": "Resource create or replace parameters.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Asset Endpoint Profile is created or replaced successfully.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfile"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "Async operation to create or replace the Asset Endpoint Profile.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Asset Endpoint Profiles"
        ],
        "operationId": "AssetEndpointProfiles_Update",
        "description": "Update specific Asset Endpoint Profile properties.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/assetEndpointProfileNameParameter"
          },
          {
            "name": "assetEndpointProfile",
            "in": "body",
            "required": true,
            "description": "Resource Update parameters.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Asset Endpoint Profile.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfile"
            }
          },
          "202": {
            "x-nullable": false,
            "description": "Async operation to update the Asset Endpoint Profile.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Asset Endpoint Profiles"
        ],
        "operationId": "AssetEndpointProfiles_Delete",
        "description": "Delete a Asset Endpoint Profile.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/assetEndpointProfileNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Async operation to delete the Asset Endpoint Profile."
          },
          "204": {
            "description": "Asset Endpoint Profile delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Asset Endpoint Profiles"
        ],
        "operationId": "AssetEndpointProfiles_Get",
        "description": "Retrieve a single Asset Endpoint Profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/assetEndpointProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A single Asset Endpoint Profile.",
            "schema": {
              "$ref": "#/definitions/AssetEndpointProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "assetEndpointProfileNameParameter": {
      "name": "assetEndpointProfileName",
      "description": "Asset Endpoint Profile name parameter.",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  },
  "definitions": {
    "AssetEndpointProfileResponseList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetEndpointProfile"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "List of Asset Endpoint Profiles."
    },
    "AssetEndpointProfile": {
      "type": "object",
      "required": [
        "extendedLocation"
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssetEndpointProfileProperties",
          "description": "Asset Endpoint Profile resource properties."
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Asset Endpoint Profile definition."
    },
    "ExtendedLocation": {
      "type": "object",
      "x-ms-mutability": [
        "read",
        "create"
      ],
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      },
      "description": "The extended location."
    },
    "AssetEndpointProfileProperties": {
      "description": "Defines the Asset Endpoint Profile properties.",
      "type": "object",
      "required": [
        "targetAddress"
      ],
      "properties": {
        "uuid": {
          "type": "string",
          "description": "Globally unique, immutable, non-reusable id.",
          "format": "uuid",
          "readOnly": true
        },
        "targetAddress": {
          "type": "string",
          "description": "The local valid URI specifying the network address/DNS name of a southbound device. The scheme part of the targetAdress URI specifies the type of the device. The additionalConfiguration field holds further connector type specific configuration.",
          "format": "uri"
        },
        "userAuthentication": {
          "type": "object",
          "description": "Defines the client authentication mechanism to the server.",
          "required": [
            "mode"
          ],
          "properties": {
            "mode": {
              "type": "string",
              "enum": [
                "Anonymous",
                "Certificate",
                "UsernamePassword"
              ],
              "default": "Certificate",
              "description": "Defines the mode to authenticate the user of the client at the server."
            },
            "usernamePasswordCredentials": {
              "type": "object",
              "description": "Defines the username and password references when UsernamePassword user authentication mode is selected.",
              "properties": {
                "usernameReference": {
                  "type": "string",
                  "description": "A reference to K8s secret containing the username."
                },
                "passwordReference": {
                  "type": "string",
                  "description": "A reference to K8s secret containing the password."
                }
              }
            },
            "x509Credentials": {
              "type": "object",
              "description": "Defines the certificate reference when Certificate user authentication mode is selected.",
              "properties": {
                "certificateReference": {
                  "type": "string",
                  "description": "A reference to K8s secret containing the certificate and private key (e.g. stored as .der/.pem or .der/.pfx)."
                }
              }
            }
          }
        },
        "transportAuthentication": {
          "type": "object",
          "description": "Defines the authentication mechanism for the southbound connector connecting to the shopfloor/OT device.",
          "required": [
            "ownCertificates"
          ],
          "properties": {
            "ownCertificates": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "thumbprint": {
                    "type": "string",
                    "description": "K8s Secret thumbprint."
                  },
                  "k8SSecretReference": {
                    "type": "string",
                    "description": "K8s Secret Reference name (cert and private key)."
                  },
                  "passwordReference": {
                    "type": "string",
                    "description": "K8s Secret Reference Name (Pfx or Pem password)"
                  }
                }
              },
              "description": "Defines a reference to a K8s secret which contains all certificates and private keys that can be used by the southbound connector connecting to the shopfloor/OT device. The accepted extensions are .der for certificates and .pfx/.pem for private keys."
            }
          }
        },
        "additionalConfiguration": {
          "type": "string",
          "description": "Contains connectivity type specific further configuration (e.g. OPC UA, Modbus, ONVIF)."
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      }
    }
  }
}