{
  "swagger": "2.0",
  "info": {
    "title": "IoTWorkspaces",
    "description": "The Microsoft.IoTWorkspaces Rest API spec.",
    "version": "2023-06-21-preview",
    "x-ms-code-generation-settings": {
      "name": "IoTWorkspacesClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/armDevices/{armDevicesName}": {
      "get": {
        "operationId": "armDevices_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/armDevicesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the armDevices resource.",
            "schema": {
              "$ref": "#/definitions/armDevices"
            }
          }
        }
      },
      "put": {
        "operationId": "armDevices_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/armDevicesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "armDevices",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/armDevices"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the armDevices resource.",
            "schema": {
              "$ref": "#/definitions/armDevices"
            }
          },
          "201": {
            "description": "Creates the armDevices resource.",
            "schema": {
              "$ref": "#/definitions/armDevices"
            }
          }
        }
      },
      "delete": {
        "operationId": "armDevices_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/armDevicesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the armDevices resource."
          }
        }
      },
      "patch": {
        "operationId": "armDevices_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/armDevicesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "armDevices",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/armDevicesPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the armDevices resource.",
            "schema": {
              "$ref": "#/definitions/armDevices"
            }
          },
          "201": {
            "description": "Updates the armDevices resource.",
            "schema": {
              "$ref": "#/definitions/armDevices"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/armDevices": {
      "get": {
        "operationId": "armDevices_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all armDevices under the resouce group.",
            "schema": {
              "$ref": "#/definitions/armDevicesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTWorkspaces/armDevices": {
      "get": {
        "operationId": "armDevices_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all armDevices under the subscription.",
            "schema": {
              "$ref": "#/definitions/armDevicesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.IoTWorkspaces/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "armDevicesProperties": {
      "properties": {
        "deviceTemplateId": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "externalDeviceId": {
          "type": "string"
        },
        "identity": {
          "type": "object",
          "properties": {
            "principalId": {
              "type": "string"
            },
            "tenantId": {
              "type": "string"
            }
          }
        },
        "manufacturer": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "operatingSystem": {
          "type": "string"
        },
        "operatingSystemVersion": {
          "type": "string"
        },
        "uuid": {
          "type": "string",
          "description": "INSERT ADDITIONAL STATUS FIELD - define observed state of cluster Important: Run \"make\" to regenerate code after modifying this file"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "type": "object",
          "properties": {
            "deviceTemplateId": {
              "type": "string"
            },
            "enabled": {
              "type": "boolean"
            },
            "externalDeviceId": {
              "type": "string"
            },
            "identity": {
              "type": "object",
              "properties": {
                "principalId": {
                  "type": "string"
                },
                "tenantId": {
                  "type": "string"
                }
              }
            },
            "manufacturer": {
              "type": "string"
            },
            "model": {
              "type": "string"
            },
            "operatingSystem": {
              "type": "string"
            },
            "operatingSystemVersion": {
              "type": "string"
            },
            "uuid": {
              "type": "string",
              "description": "INSERT ADDITIONAL STATUS FIELD - define observed state of cluster Important: Run \"make\" to regenerate code after modifying this file"
            }
          },
          "description": "EDIT THIS FILE!  THIS IS SCAFFOLDING FOR YOU TO OWN! NOTE: json tags are required.  Any new fields you add must have json tags for the fields to be serialized. DeviceProperties defines the desired and observed state of Device"
        }
      }
    },
    "armDevices": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/armDevicesProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The armDevices resource definition."
    },
    "armDevicesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The armDevices resource patch definition."
    },
    "armDevicesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/armDevices"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "armDevicesNameParameter": {
      "name": "armDevicesName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}
