{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Edge",
    "version": "2024-06-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ResourceInsights"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Edge/resourceInsights": {
      "get": {
        "operationId": "ResourceInsights_List",
        "tags": [
          "ResourceInsights"
        ],
        "description": "List ResourceInsight resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceInsightListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceInsights_List_Insights": {
            "$ref": "./examples/ResourceInsights_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Edge/resourceInsights/{resourceInsightName}": {
      "get": {
        "operationId": "ResourceInsights_Get",
        "tags": [
          "ResourceInsights"
        ],
        "description": "Get a ResourceInsight",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resourceInsightName",
            "in": "path",
            "description": "Name of resource insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceInsight"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceInsights_Get_Insights": {
            "$ref": "./examples/ResourceInsights_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ResourceInsights_CreateOrUpdate",
        "tags": [
          "ResourceInsights"
        ],
        "description": "Create a ResourceInsights",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resourceInsightName",
            "in": "path",
            "description": "Name of resource insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceInsight"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ResourceInsight' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceInsight"
            }
          },
          "201": {
            "description": "Resource 'ResourceInsight' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceInsight"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ResourceInsights_Delete",
        "tags": [
          "ResourceInsights"
        ],
        "description": "Delete a ResourceInsights",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resourceInsightName",
            "in": "path",
            "description": "Name of resource insight",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
    }
  }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ConnectivityStatusEnum": {
      "type": "string",
      "description": "The Connectivity Status",
      "enum": [
        "Connected",
        "NotRecentlyConnected",
        "NeedsAttention"
      ],
      "x-ms-enum": {
        "name": "ConnectivityStatusEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The device is in Connected state"
          },
          {
            "name": "NotRecentlyConnected",
            "value": "NotRecentlyConnected",
            "description": "The device was NotRecentlyConnected"
          },
          {
            "name": "NeedsAttention",
            "value": "NeedsAttention",
            "description": "The device NeedsAttention"
          }
        ]
      }
    },
    "ResourceInsight": {
      "type": "object",
      "description": "An Edge Aggregation resource for resource insights",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResourceInsightProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ResourceInsightListResult": {
      "type": "object",
      "description": "The response of a ResourceInsight list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ResourceInsight items on this page",
          "items": {
            "$ref": "#/definitions/ResourceInsight"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ResourceInsightProperties": {
      "type": "object",
      "description": "ResourceInsight properties",
      "properties": {
        "connectivityStatus": {
          "$ref": "#/definitions/ConnectivityStatusEnum",
          "description": "The Connectivity Status"
        },
        "updateStatus": {
          "$ref": "#/definitions/UpdateStatus",
          "description": "The update Status"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "UpdateStatus": {
      "type": "string",
      "description": "The update Status",
      "enum": [
        "Unknown",
        "UpdateAvailable",
        "UptoDate",
        "UpdateInProgress",
        "NeedsAttention"
      ],
      "x-ms-enum": {
        "name": "UpdateStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The device is in Unknown state"
          },
          {
            "name": "UpdateAvailable",
            "value": "UpdateAvailable",
            "description": "The device is in Update state"
          },
          {
            "name": "UptoDate",
            "value": "UptoDate",
            "description": "The device is in UptoDate state"
          },
          {
            "name": "UpdateInProgress",
            "value": "UpdateInProgress",
            "description": "The device is in UpdateInProgress state"
          },
          {
            "name": "NeedsAttention",
            "value": "NeedsAttention",
            "description": "The device is in NeedsAttention state"
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
