{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureChangeControl management service",
    "version": "2023-12-01-preview",
    "description": "Microsoft.AzureChangeControl Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ChangeControls"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureChangeControl/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureChangeControl/changeControls": {
      "get": {
        "operationId": "ChangeControls_ListBySubscription",
        "tags": [
          "ChangeControls"
        ],
        "description": "List ChangeControl resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeControlListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeControls_ListBySubscription": {
            "$ref": "./examples/ChangeControls_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureChangeControl/changeControls": {
      "get": {
        "operationId": "ChangeControls_ListByResourceGroup",
        "tags": [
          "ChangeControls"
        ],
        "description": "List ChangeControl resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeControlListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeControls_ListByResourceGroup": {
            "$ref": "./examples/ChangeControls_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureChangeControl/changeControls/{changeControlName}": {
      "get": {
        "operationId": "ChangeControls_Get",
        "tags": [
          "ChangeControls"
        ],
        "description": "Get a ChangeControl",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeControlName",
            "in": "path",
            "description": "The name of the change control",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeControl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeControls_Get": {
            "$ref": "./examples/ChangeControls_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeControls_CreateOrUpdate",
        "tags": [
          "ChangeControls"
        ],
        "description": "Create a ChangeControl",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeControlName",
            "in": "path",
            "description": "The name of the change control",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeControl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeControl' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeControl"
            }
          },
          "201": {
            "description": "Resource 'ChangeControl' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeControl"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeControls_CreateOrUpdate": {
            "$ref": "./examples/ChangeControls_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ChangeControls_Update",
        "tags": [
          "ChangeControls"
        ],
        "description": "Update a ChangeControl",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeControlName",
            "in": "path",
            "description": "The name of the change control",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeControlUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeControl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeControls_Update": {
            "$ref": "./examples/ChangeControls_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeControls_Delete",
        "tags": [
          "ChangeControls"
        ],
        "description": "Delete a ChangeControl",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeControlName",
            "in": "path",
            "description": "The name of the change control",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeControls_Delete": {
            "$ref": "./examples/ChangeControls_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureChangeControl/changeControls/{changeControlName}/closeTargets": {
      "post": {
        "operationId": "ChangeControls_CloseTargets",
        "tags": [
          "ChangeControls"
        ],
        "description": "Close Targets",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeControlName",
            "in": "path",
            "description": "The name of the change control",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetSelectorsDetails"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureChangeControl/changeControls/{changeControlName}/openTarget": {
      "post": {
        "operationId": "ChangeControls_OpenTargets",
        "tags": [
          "ChangeControls"
        ],
        "description": "Open Targets",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeControlName",
            "in": "path",
            "description": "The name of the change control",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetSelectorsDetails"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ChangeControl": {
      "type": "object",
      "description": "A AzureChangeControlProviderHub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ChangeControlProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ChangeControlListResult": {
      "type": "object",
      "description": "The response of a ChangeControl list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ChangeControl items on this page",
          "items": {
            "$ref": "#/definitions/ChangeControl"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ChangeControlProperties": {
      "type": "object",
      "description": "Details of the AzureChangeControl ChangeControl.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "The change control kind"
        },
        "validityPeriod": {
          "$ref": "#/definitions/TimeWindow",
          "description": "Validity period of the change control."
        }
      },
      "required": [
        "kind",
        "validityPeriod"
      ]
    },
    "ChangeControlUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ChangeControl.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ChangeControlUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ChangeControlUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ChangeControl.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The change control kind"
        },
        "validityPeriod": {
          "$ref": "#/definitions/TimeWindowUpdate",
          "description": "Validity period of the change control."
        }
      }
    },
    "ClinetTool": {
      "type": "string",
      "description": "The client tool",
      "enum": [
        "AzurePortal",
        "Ev2"
      ],
      "x-ms-enum": {
        "name": "ClinetTool",
        "modelAsString": true,
        "values": [
          {
            "name": "AzurePortal",
            "value": "AzurePortal",
            "description": "Azure Portal"
          },
          {
            "name": "Ev2",
            "value": "Ev2",
            "description": "Azure Express V2"
          }
        ]
      }
    },
    "ExternalChangeRef": {
      "type": "object",
      "description": "The External change reference",
      "properties": {
        "name": {
          "type": "string",
          "description": "The reference name"
        },
        "url": {
          "type": "string",
          "description": "The reference url"
        },
        "version": {
          "type": "string",
          "description": "The reference version"
        }
      },
      "required": [
        "name",
        "url",
        "version"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Initial provisioning in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      },
      "readOnly": true
    },
    "TargetSelectorsDetails": {
      "type": "object",
      "description": "The details of targets to open or close.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location for the resource"
        },
        "targets": {
          "type": "array",
          "description": "The target name.",
          "items": {
            "type": "string"
          }
        },
        "policyAssnmentId": {
          "type": "string",
          "description": "The policy assignment Id"
        }
      },
      "required": [
        "location",
        "targets",
        "policyAssnmentId"
      ]
    },
    "TimeWindow": {
      "type": "object",
      "description": "The time window",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time"
        }
      },
      "required": [
        "startTime",
        "endTime"
      ]
    },
    "TimeWindowUpdate": {
      "type": "object",
      "description": "The time window",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time"
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2023-12-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_12_01_preview",
            "value": "2023-12-01-preview",
            "description": "2021-10-01-preview version"
          }
        ]
      }
    }
  },
  "parameters": {}
}
