{
  "swagger": "2.0",
  "info": {
    "title": "HermesMachinePrototype",
    "description": "The Microsoft.HermesMachinePrototype Rest API spec.",
    "version": "2023-06-01-preview",
    "x-ms-code-generation-settings": {
      "name": "HermesMachinePrototypeClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HermesMachinePrototype/hermesmachines/{hermesmachinesName}": {
      "get": {
        "operationId": "hermesmachines_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/hermesmachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the hermesmachines resource.",
            "schema": {
              "$ref": "#/definitions/hermesmachines"
            }
          }
        }
      },
      "put": {
        "operationId": "hermesmachines_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/hermesmachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "hermesmachines",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hermesmachines"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the hermesmachines resource.",
            "schema": {
              "$ref": "#/definitions/hermesmachines"
            }
          },
          "201": {
            "description": "Creates the hermesmachines resource.",
            "schema": {
              "$ref": "#/definitions/hermesmachines"
            }
          }
        }
      },
      "delete": {
        "operationId": "hermesmachines_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/hermesmachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the hermesmachines resource."
          }
        }
      },
      "patch": {
        "operationId": "hermesmachines_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/hermesmachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "hermesmachines",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hermesmachinesPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the hermesmachines resource.",
            "schema": {
              "$ref": "#/definitions/hermesmachines"
            }
          },
          "201": {
            "description": "Updates the hermesmachines resource.",
            "schema": {
              "$ref": "#/definitions/hermesmachines"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HermesMachinePrototype/hermesmachines": {
      "get": {
        "operationId": "hermesmachines_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all hermesmachines under the resouce group.",
            "schema": {
              "$ref": "#/definitions/hermesmachinesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HermesMachinePrototype/hermesmachines": {
      "get": {
        "operationId": "hermesmachines_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all hermesmachines under the subscription.",
            "schema": {
              "$ref": "#/definitions/hermesmachinesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.HermesMachinePrototype/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "hermesmachinesProperties": {
      "properties": {
        "networkConfig": {
          "type": "object",
          "properties": {
            "cpuIsolation": {
              "type": "object",
              "properties": {
                "enabled": {
                  "type": "boolean"
                },
                "systemCpus": {
                  "type": "string"
                },
                "workloadCpus": {
                  "type": "string"
                }
              }
            },
            "networkNamePattern": {
              "type": "string"
            },
            "oneGigHugePages": {
              "type": "integer"
            },
            "sriov": {
              "type": "object",
              "properties": {
                "bond_mtu": {
                  "type": "string"
                },
                "infra_nic_bus": {
                  "type": "string"
                },
                "infra_vlans": {
                  "type": "string",
                  "description": "Hardware configuration"
                },
                "nic_mtu": {
                  "type": "string"
                },
                "node_role": {
                  "type": "string"
                },
                "num_vfs_per_pf": {
                  "type": "string"
                },
                "num_vfs_per_pf_mlx5_core": {
                  "type": "string"
                }
              },
              "required": [
                "bond_mtu",
                "infra_nic_bus",
                "infra_vlans",
                "nic_mtu",
                "node_role",
                "num_vfs_per_pf",
                "num_vfs_per_pf_mlx5_core"
              ]
            }
          },
          "description": "Machine specific network configuration"
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "lastUpdatedTime": {
              "type": "string",
              "format": "date-time",
              "description": "Important: Run \"make\" to regenerate code after modifying this file"
            },
            "numberOfUpdates": {
              "type": "integer"
            }
          },
          "description": "HermesMachineStatus defines the observed state of HermesMachine"
        }
      }
    },
    "hermesmachines": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/hermesmachinesProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The hermesmachines resource definition."
    },
    "hermesmachinesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The hermesmachines resource patch definition."
    },
    "hermesmachinesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hermesmachines"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "hermesmachinesNameParameter": {
      "name": "hermesmachinesName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}
