{
  "swagger": "2.0",
  "info": {
    "version": "2022-01-26-preview",
    "title": "aquarius",
    "description": "In-memory graph database"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GraphDB/operations": {
      "get": {
        "tags": ["Tag1"],
        "operationId": "OperationGroup_Get",
        "x-ms-examples": {
          "BatchAccountDelete": { "$ref": "./examples/OperationGroupGet.json" }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/Result"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.GraphDB/graphIndexes": {
      "get": {
        "tags": [
          "GraphIndex"
        ],
        "summary": "Gets all graphIndexes in a subscription.",
        "operationId": "GraphIndexes_ListAll",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GraphIndexListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get all graphIndexes in a subscription": {
            "$ref": "./examples/ListAllGraphIndexes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GraphDB/graphIndexes": {
      "get": {
        "tags": [
          "GraphIndexes"
        ],
        "operationId": "GraphIndexes_List",
        "description": "Lists all graphIndexes in a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all graphIndexes in a resource group.",
            "schema": {
              "$ref": "#/definitions/GraphIndexListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all graphIndexes in a resource group": {
            "$ref": "./examples/ListGraphIndexes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GraphDB/graphIndexes/{graphIndexName}/replicas": {
      "get": {
        "tags": [
          "Replica"
        ],
        "operationId": "Replicas_List",
        "description": "Lists all replicas in a graph index.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all graphIndexes in a resource group.",
            "schema": {
              "$ref": "#/definitions/ReplicaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all replicas in a graph index": {
            "$ref": "./examples/ListReplicas.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GraphDB/graphIndexes/{graphIndexName}": {
      "get": {
        "tags": [
          "GraphIndex"
        ],
        "summary": "Gets graphIndex information by name in a resource group.",
        "operationId": "GraphIndexes_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GraphIndex"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get graphIndex details by name": {
            "$ref": "./examples/GetGraphIndex.json"
          }
        }
      },
      "put": {
        "tags": [
          "GraphIndex"
        ],
        "summary": "Create or update a graphIndex.",
        "operationId": "GraphIndexes_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GraphIndex"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The operation will be completed asynchronously.",
            "schema": {
              "$ref": "#/definitions/GraphIndex"
            },
            "headers": {
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GraphIndex"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create a new graphIndex": {
            "$ref": "./examples/CreateOrUpdateGraphIndex.json"
          }
        }
      },
      "patch": {
        "tags": [
          "GraphIndex"
        ],
        "summary": "Update a graphIndex.",
        "operationId": "GraphIndexes_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GraphIndexUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GraphIndex"
            }
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "schema": {
              "$ref": "#/definitions/GraphIndex"
            },
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Updates a graphIndex": {
            "$ref": "./examples/UpdateGraphIndex.json"
          }
        }
      },
      "delete": {
        "tags": [
          "GraphIndex"
        ],
        "summary": "Delete a graphIndex by name.",
        "operationId": "GraphIndexes_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },          
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete a graphIndex": {
            "$ref": "./examples/DeleteGraphIndex.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GraphDB/graphIndexes/{graphIndexName}/replicas/{replicaName}": {
      "get": {
        "tags": [
          "Replica"
        ],
        "summary": "Gets replica information by name in a resource group.",
        "operationId": "Replicas_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },
          {
            "$ref": "#/parameters/ReplicaNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get replica details by name": {
            "$ref": "./examples/GetReplica.json"
          }
        }
      },
      "put": {
        "tags": [
          "Replica"
        ],
        "summary": "Create or update a replica.",
        "operationId": "Replicas_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },
          {
            "$ref": "#/parameters/ReplicaNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The operation will be completed asynchronously.",
            "schema": {
              "$ref": "#/definitions/Replica"
            },
            "headers": {
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create a new replica": {
            "$ref": "./examples/CreateOrUpdateReplica.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Replica"
        ],
        "summary": "Update a replica.",
        "operationId": "Replicas_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },
          {
            "$ref": "#/parameters/ReplicaNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplicaUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "schema": {
              "$ref": "#/definitions/Replica"
            },
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Updates a replica": {
            "$ref": "./examples/UpdateReplica.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Replica"
        ],
        "summary": "Delete a replica by name.",
        "operationId": "Replicas_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GraphIndexNameParameter"
          },
          {
            "$ref": "#/parameters/ReplicaNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete a replica": {
            "$ref": "./examples/DeleteReplica.json"
          }
        }
      }
    }
  },
  "definitions": {
    "GraphIndexListResult": {
      "description": "List of all graphIndexes.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GraphIndex"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of graphIndexes. Call ListNext() with this URI to fetch the next page of graphIndexes."
        }
      }
    },
    "ReplicaListResult": {
      "description": "List of all replicas.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Replica"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of graphIndexes. Call ListNext() with this URI to fetch the next page of graphIndexes."
        }
      }
    },
    "GraphIndex": {
      "description": "Detailed information about GraphDB graphIndex",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GraphIndexProperties"
        }
      }
    },
    "Replica": {
      "description": "Detailed information about GraphDB replica",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReplicaProperties"
        }
      }
    },
    "GraphIndexUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GraphIndexProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResource"
        }
      ],
      "description": "Updated information for GraphDB graphIndex (only tags are allowed)."
    },
    "ReplicaUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReplicaProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UpdateResource"
        }
      ],
      "description": "Updated information for GraphDB replica (only tags are allowed)."
    },
    "UpdateResource": {
      "description": "The Update Resource model definition.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      }
    },
    "GraphIndexProperties": {
      "description": "Describes the properties of a GraphIndex.",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the graphIndex.",
          "enum": [
            "Accepted",
            "Initializing",
            "Creating",
            "Updating",
            "RollingBack",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "graphIndexUri": {
          "type": "string",
          "readOnly": true,
          "description": "The fully-qualified graphIndex URI."
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": false,
          "description": "The number of replicas in the graphIndex."
        },
        "shardCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": false,
          "description": "The number of shards in each replica in the graphIndex."
        },
        "shardSku": {
          "type": "string",
          "readOnly": false,
          "description": "The SKU of the shards in each replica in the graphIndex."
        },
        "brokerCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": false,
          "description": "The number of brokers in each replica in the graphIndex."
        },
        "brokerSku": {
          "type": "string",
          "readOnly": false,
          "description": "The SKU of the brokers in each replica in the graphIndex."
        }
      }
    },
    "ReplicaProperties": {
      "description": "Describes the properties of a Replica.",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the replica.",
          "enum": [
            "Accepted",
            "Initializing",
            "Creating",
            "Updating",
            "RollingBack",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "shardCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": false,
          "description": "The number of shards in the replica."
        },
        "shardSku": {
          "type": "string",
          "readOnly": false,
          "description": "The SKU of the shards in the replica."
        },
        "brokerCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": false,
          "description": "The number of brokers in the replica."
        },
        "brokerSku": {
          "type": "string",
          "readOnly": false,
          "description": "The SKU of the brokers in the replica."
        }
      }
    },
    "Result": {
      "description": "Sample result definition",
      "properties": {
        "sampleProperty": {
          "type": "string",
          "description": "Sample property of type string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "GraphIndexNameParameter": {
      "in": "path",
      "name": "graphIndexName",
      "required": true,
      "type": "string",
      "description": "The name of an Aquarius graphIndex.",
      "x-ms-parameter-location": "method"
    },
    "ReplicaNameParameter": {
      "in": "path",
      "name": "replicaName",
      "required": true,
      "type": "string",
      "description": "The name of an graph index replica.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    }
  }
}