{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.SloDogfood",
    "version": "2025-01-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Slos"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.SloDogfood/slos": {
      "get": {
        "operationId": "Slos_ListByParent",
        "tags": [
          "Slos"
        ],
        "description": "Lists all Slos",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SloListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SlosListByParent": {
            "$ref": "./examples/Slos_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.SloDogfood/slos/{name}": {
      "get": {
        "operationId": "Slos_Get",
        "tags": [
          "Slos"
        ],
        "description": "Gets a Slo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Slo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetSlo": {
            "$ref": "./examples/Slos_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Slos_CreateOrUpdate",
        "tags": [
          "Slos"
        ],
        "description": "Creates or updates a Slo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Slo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Slo' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Slo"
            }
          },
          "201": {
            "description": "Resource 'Slo' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Slo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateSlo": {
            "$ref": "./examples/Slos_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Slos_Delete",
        "tags": [
          "Slos"
        ],
        "description": "Deletes a Slo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteSlo": {
            "$ref": "./examples/Slos_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.SloDogfood/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOperation": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AmwAccount": {
      "type": "object",
      "description": "AMW account model",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "ARM resource id for the account where metrics related to this SLO are emitted by the service."
        },
        "identity": {
          "type": "string",
          "description": "ARM resource id for the managed identity with access to the source account."
        }
      },
      "required": [
        "resourceId",
        "identity"
      ]
    },
    "Filter": {
      "type": "object",
      "description": "Filter model",
      "properties": {
        "logic": {
          "type": "string",
          "description": "Filter logic"
        },
        "queries": {
          "type": "array",
          "description": "Filter queries",
          "items": {
            "$ref": "#/definitions/Query"
          },
          "x-ms-identifiers": [
            "dimensionName",
            "value",
            "operator"
          ]
        }
      },
      "required": [
        "logic",
        "queries"
      ]
    },
    "Metric": {
      "type": "object",
      "description": "Metric model",
      "properties": {
        "metricNamespace": {
          "type": "string",
          "description": "Metric namespace"
        },
        "metricName": {
          "type": "string",
          "description": "Metric name"
        }
      },
      "required": [
        "metricNamespace",
        "metricName"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Initial provisioning in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      },
      "readOnly": true
    },
    "Query": {
      "type": "object",
      "description": "Query model",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Dimension name"
        },
        "operator": {
          "type": "string",
          "description": "Query operator"
        },
        "value": {
          "type": "string",
          "description": "Dimension value"
        }
      },
      "required": [
        "dimensionName",
        "operator",
        "value"
      ]
    },
    "Signal": {
      "type": "object",
      "description": "signal model",
      "properties": {
        "signalSources": {
          "type": "array",
          "description": "Signal sources",
          "items": {
            "$ref": "#/definitions/SignalSource"
          },
          "x-ms-identifiers": [
            "signalSourceId"
          ]
        },
        "signalFormula": {
          "type": "string",
          "description": "Signal formula"
        }
      },
      "required": [
        "signalSources",
        "signalFormula"
      ]
    },
    "SignalSource": {
      "type": "object",
      "description": "Signal source model",
      "properties": {
        "signalSourceId": {
          "type": "string",
          "description": "The signal source id"
        },
        "metricNamespace": {
          "type": "string",
          "description": "Metric namespace"
        },
        "metricName": {
          "type": "string",
          "description": "Metric name"
        },
        "filters": {
          "type": "array",
          "description": "Filter",
          "items": {
            "$ref": "#/definitions/Filter"
          },
          "x-ms-identifiers": [
            "logic",
            "queries"
          ]
        },
        "spatialAggregation": {
          "$ref": "#/definitions/SpatialAggregation",
          "description": "Aggregation"
        }
      },
      "required": [
        "signalSourceId",
        "metricNamespace",
        "metricName",
        "filters",
        "spatialAggregation"
      ]
    },
    "SliProperties": {
      "type": "object",
      "description": "SLI properties model",
      "properties": {
        "sourceAmwAccounts": {
          "type": "array",
          "description": "Source AMW accounts",
          "items": {
            "$ref": "#/definitions/AmwAccount"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        },
        "goodSignals": {
          "$ref": "#/definitions/Signal",
          "description": "Request based good signals"
        },
        "totalSignals": {
          "$ref": "#/definitions/Signal",
          "description": "Request based total signals"
        },
        "signals": {
          "$ref": "#/definitions/Signal",
          "description": "Window based signals"
        },
        "windowUptimeCriteria": {
          "$ref": "#/definitions/WindowUptimeCriteria",
          "description": "Window uptime criteria"
        }
      },
      "required": [
        "sourceAmwAccounts"
      ]
    },
    "Slo": {
      "type": "object",
      "description": "A SloTestProviderHub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SloResource",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SloListResult": {
      "type": "object",
      "description": "The response of a Slo list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Slo items on this page",
          "items": {
            "$ref": "#/definitions/Slo"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SloProperties": {
      "type": "object",
      "description": "SLO properties model",
      "properties": {
        "target": {
          "$ref": "#/definitions/SloTarget",
          "description": "SLO target"
        },
        "destinationAmwAccounts": {
          "type": "array",
          "description": "Destination AMW accounts",
          "items": {
            "$ref": "#/definitions/AmwAccount"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        },
        "destinationMetrics": {
          "type": "array",
          "description": "Destination metrics",
          "items": {
            "$ref": "#/definitions/Metric"
          },
          "x-ms-identifiers": [
            "metricNamespace",
            "metricName"
          ]
        }
      },
      "required": [
        "target",
        "destinationAmwAccounts",
        "destinationMetrics"
      ]
    },
    "SloResource": {
      "type": "object",
      "description": "Resource properties model",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "SLO description"
        },
        "sloType": {
          "type": "string",
          "description": "SLO type"
        },
        "evaluationType": {
          "type": "string",
          "description": "SLO evalution type"
        },
        "sloProperties": {
          "$ref": "#/definitions/SloProperties",
          "description": "SLO properties"
        },
        "sliProperties": {
          "$ref": "#/definitions/SliProperties",
          "description": "SLI properties"
        }
      },
      "required": [
        "description",
        "sloType",
        "evaluationType",
        "sloProperties",
        "sliProperties"
      ]
    },
    "SloTarget": {
      "type": "object",
      "description": "SLO target model",
      "properties": {
        "name": {
          "type": "string",
          "description": "Target name"
        },
        "target": {
          "type": "number",
          "format": "float",
          "description": "Target value"
        },
        "compliancePeriodDays": {
          "type": "string",
          "description": "Compliance period days"
        },
        "complianceCalculation": {
          "type": "string",
          "description": "Compliance calculation"
        },
        "comparator": {
          "type": "string",
          "description": "Target comparator"
        }
      },
      "required": [
        "name",
        "target",
        "compliancePeriodDays",
        "complianceCalculation",
        "comparator"
      ]
    },
    "SpatialAggregation": {
      "type": "object",
      "description": "Spatial aggregation model",
      "properties": {
        "type": {
          "type": "string",
          "description": "Spatial aggregation type"
        },
        "dimensions": {
          "type": "array",
          "description": "Spatial aggregation dimension",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "type",
        "dimensions"
      ]
    },
    "TemporalAggregation": {
      "type": "object",
      "description": "Temporal aggregation model",
      "properties": {
        "type": {
          "type": "string",
          "description": "Temporal aggregation type"
        },
        "windowSizeMinutes": {
          "type": "string",
          "description": "Temporal aggregation window size in minutes"
        }
      },
      "required": [
        "type",
        "windowSizeMinutes"
      ]
    },
    "WindowUptimeCriteria": {
      "type": "object",
      "description": "Window uptime criteria model",
      "properties": {
        "target": {
          "type": "number",
          "format": "float",
          "description": "Window uptime target"
        },
        "comparator": {
          "type": "string",
          "description": "Window uptime comparator"
        },
        "temporalAggregation": {
          "$ref": "#/definitions/TemporalAggregation",
          "description": "Temporal aggregation"
        }
      },
      "required": [
        "target",
        "comparator",
        "temporalAggregation"
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
