{
    "swagger": "2.0",
    "info": {
      "title": "Crossplane",
      "description": "The Microsoft.Crossplane Rest API spec.",
      "version": "2021-06-01-preview",
      "x-ms-code-generation-settings": {
        "name": "CrossplaneClient"
      }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Crossplane/postgresqlinstances/{postgresqlinstancesName}": {
        "get": {
          "operationId": "postgresqlinstances_Retrieve",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/postgresqlinstancesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the postgresqlinstances resource.",
              "schema": {
                "$ref": "#/definitions/postgresqlinstances"
              }
            }
          }
        },
        "put": {
          "operationId": "postgresqlinstances_CreateOrUpdate",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/postgresqlinstancesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "postgresqlinstances",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/postgresqlinstances"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the postgresqlinstances resource.",
              "schema": {
                "$ref": "#/definitions/postgresqlinstances"
              }
            },
            "201": {
              "description": "Creates the postgresqlinstances resource.",
              "schema": {
                "$ref": "#/definitions/postgresqlinstances"
              }
            }
          }
        },
        "delete": {
          "operationId": "postgresqlinstances_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/postgresqlinstancesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the postgresqlinstances resource."
            }
          }
        },
        "patch": {
          "operationId": "postgresqlinstances_Update",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/postgresqlinstancesNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "postgresqlinstances",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/postgresqlinstancesPatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the postgresqlinstances resource.",
              "schema": {
                "$ref": "#/definitions/postgresqlinstances"
              }
            },
            "201": {
              "description": "Updates the postgresqlinstances resource.",
              "schema": {
                "$ref": "#/definitions/postgresqlinstances"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Crossplane/postgresqlinstances": {
        "get": {
          "operationId": "postgresqlinstances_ListByResourceGroup",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all postgresqlinstances under the resouce group.",
              "schema": {
                "$ref": "#/definitions/postgresqlinstancesListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Crossplane/postgresqlinstances": {
        "get": {
          "operationId": "postgresqlinstances_ListBySubscription",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all postgresqlinstances under the subscription.",
              "schema": {
                "$ref": "#/definitions/postgresqlinstancesListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/providers/Microsoft.Crossplane/operations": {
        "get": {
          "operationId": "Operations_List",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Describe the result of a successful operation.",
              "schema": {
                "$ref": "#/definitions/ResourceProviderOperationList"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "postgresqlinstancesProperties": {
        "type": "object",
        "properties": {
          "compositionRef": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            },
            "required": [
              "name"
            ]
          },
          "storageGB": {
            "type": "integer"
          },
          "aws_zone": {
            "type": "string"
          },
          "dbInstanceClass": {
            "type": "string"
          },
          "masterUsername": {
            "type": "string"
          },
          "engine": {
            "type": "string"
          },
          "engineVersion": {
            "type": "string"
          },
          "resourceRef": {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "string"
              },
              "kind": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "apiVersion",
              "kind",
              "name"
            ]
          },
          "provisioningState": {
            "type": "string"
          },
          "status": {
            "type": "object",
            "properties": {}
          }
        },
        "required": [
            "storageGB",
            "aws_zone",
            "dbInstanceClass",
            "masterUsername",
            "engine",
            "engineVersion"
        ]
      },
      "postgresqlinstances": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/postgresqlinstancesProperties"
          },
          "id": {
            "type": "string",
            "description": "Resource Id"
          },
          "name": {
            "type": "string",
            "description": "Resource Name"
          },
          "type": {
            "type": "string",
            "description": "Resource Type"
          },
          "location": {
            "type": "string",
            "description": "The resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "extendedLocation": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The extended location type."
              },
              "name": {
                "type": "string",
                "description": "The extended location name."
              }
            }
          }
        },
        "required": [
          "location"
        ],
        "description": "The postgresqlinstances resource definition."
      },
      "postgresqlinstancesPatch": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "description": "The postgresqlinstances resource patch definition."
      },
      "postgresqlinstancesListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/postgresqlinstances"
            }
          },
          "nextLink": {
            "type": "string"
          }
        }
      },
      "ResourceProviderOperationList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ResourceProviderOperation"
            }
          },
          "nextLink": {
            "type": "string"
          }
        },
        "description": "Results of the request to list operations."
      },
      "ResourceProviderOperation": {
        "type": "object",
        "properties": {
          "isDataAction": {
            "type": "string",
            "description": "Indicates whether the operation applies to data-plane."
          },
          "name": {
            "type": "string",
            "description": "Operation name, in format of {provider}/{resource}/{operation}"
          },
          "display": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "description": "The resource provider."
              },
              "resource": {
                "type": "string",
                "description": "Resource on which the operation is performed."
              },
              "operation": {
                "type": "string",
                "description": "Type of operation: get, read, delete, etc."
              },
              "description": {
                "type": "string",
                "description": "Description of this operation."
              }
            },
            "description": "Display metadata associated with the operation."
          }
        },
        "description": "Results of the request to list operations."
      }
    },
    "parameters": {
      "postgresqlinstancesNameParameter": {
        "name": "postgresqlinstancesName",
        "in": "path",
        "required": true,
        "type": "string",
        "maxLength": 64,
        "minLength": 3
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
      }
    }
  }
