{
  "swagger": "2.0",
  "info": {
    "title": "Azure DevOps",
    "description": "Azure DevOps Resource Provider",
    "version": "2020-12-01-preview",
    "x-ms-code-generation-settings": {
      "name": "DevOpsClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.DevOps/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "Lists all the operations supported by Microsoft.DevOps resource provider.",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of supported operations has been fetched successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a list of operations supported by Microsoft.DevOps resource provider": {
            "$ref": "./examples/ListOperations.json"
          }
        }
      }
    },
    "/providers/Microsoft.DevOps/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "description": "Gets the current status of an async operation.",
        "operationId": "OperationStatuses_Get",
        "summary": "Get Operation Status",
        "tags": [
          "OperationStatus"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested operation status",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get OperationStatus": {
            "$ref": "./examples/GetOperationStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevOps/deploymentDetails": {
      "get": {
        "operationId": "DeploymentDetails_ListBySubscription",
        "description": "Lists all the workflow deployment details under the specified subscription.",
        "tags": [
          "DeploymentDetail"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow deployment details have been fetched successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all deployment details under the specified subscription": {
            "$ref": "./examples/ListDeploymentDetailsBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/deploymentDetails": {
      "get": {
        "operationId": "DeploymentDetails_ListByResourceGroup",
        "description": "Lists all the workflow deployment details under the specified resource group.",
        "tags": [
          "DeploymentDetail"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow deployment details have been fetched successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all deployment details under the specified subscription": {
            "$ref": "./examples/ListDeploymentDetailsByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/deploymentDetails/{deploymentDetailId}": {
      "put": {
        "operationId": "DeploymentDetail_Create",
        "description": "Creates or updates a workflow deployment detail.",
        "tags": [
          "DeploymentDetail"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeploymentDetailIdParameter"
          },
          {
            "name": "createOperationParameters",
            "description": "The request payload to create the workflow deployment detail",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The creation or update of workflow deployment detail completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentDetail"
            }
          },
          "201": {
            "description": "The creation or update of workflow deployment detail started.",
            "schema": {
              "$ref": "#/definitions/DeploymentDetail"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create a deployment for Azure Kubernetes Service": {
            "$ref": "./examples/CreateDeploymentDetail-AKS.json"
          },
          "Bootstrap a deployment configuration for Azure Kubernetes Service": {
            "$ref": "./examples/CreateDeploymentDetailWithBootstrapConfiguration-AKS.json"
          }
        }
      },
      "get": {
        "operationId": "DeploymentDetail_Get",
        "description": "Gets an existing Continuous-Delivery(CD) deployment detail.",
        "tags": [
          "DeploymentDetail"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeploymentDetailIdParameter"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The workflow deployment detail has been fetched successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentDetail"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get deployment detail.": {
            "$ref": "./examples/GetDeploymentDetail.json"
          }
        }
      },
      "patch": {
        "operationId": "DeploymentDetail_Update",
        "description": "Updates the properties of a workflow deployment detail.",
        "tags": [
          "DeploymentDetail"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeploymentDetailIdParameter"
          },
          {
            "name": "updateOperationParameters",
            "description": "The request payload containing the updated deployment detail.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeploymentDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow deployment detail has been updated successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentDetail"
            }
          },
          "201": {
            "description": "The update of workflow deployment detail started.",
            "schema": {
              "$ref": "#/definitions/DeploymentDetail"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Update an existing AKS deployment": {
            "$ref": "./examples/UpdateDeploymentDetail-AKS.json"
          }
        }
      },
      "delete": {
        "operationId": "DeploymentDetail_Delete",
        "description": "Deletes a workflow deployment detail.",
        "tags": [
          "DeploymentDetail"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeploymentDetailIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow deployment detail has been deleted successfully."
          },
          "202": {
            "description": "The deletion of workflow deployment detail started."
          },
          "204": {
            "description": "The workflow deployment detail was not found or has been deleted already."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete an existing Deployment": {
            "$ref": "./examples/DeleteDeploymentDetail.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/deploymentv2/{deploymentName}": {
      "get": {
        "description": "Returns the deployment resource.",
        "operationId": "deploymentv2_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a deployment resource": {
            "$ref": "./examples/GetDeployment.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates Deployment.",
        "operationId": "Deploymentv2_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "deploymentParameters",
            "description": "Deployment payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Async operation to create or update Deployment was created.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "200": {
            "description": "The Deployment resource has been configured successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a deployment resource": {
            "$ref": "./examples/CreateDeployment.json"
          }
        }
      },
      "delete": {
        "description": "Deletes deployment.",
        "operationId": "Deploymentv2_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The deployment resource has been deleted successfully."
          },
          "204": {
            "description": "Deployment has been already deleted."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a deployment resource": {
            "$ref": "./examples/DeleteDeployment.json"
          }
        }
      },
      "patch": {
        "description": "Updates deployemnt resource",
        "operationId": "Deploymentv2_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "deploymentParameters",
            "description": "Deployment payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment updated successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a deployment resource": {
            "$ref": "./examples/UpdateDeployment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/deploymentv2": {
      "get": {
        "description": "Lists the deployment resources under the resource group.",
        "operationId": "deploymentv2_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment list details.",
            "schema": {
              "$ref": "#/definitions/DeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a deployment resource": {
            "$ref": "./examples/ListDeploymentsByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevOps/deploymentv2": {
      "get": {
        "description": "Lists the deployment resources under the subscription.",
        "operationId": "deploymentv2_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment list details.",
            "schema": {
              "$ref": "#/definitions/DeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a deployment resource": {
            "$ref": "./examples/ListDeploymentsBySubscription.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "description": "Details of the error from the Pipelines Resource Provider.",
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the Pipelines Resource Provider."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error or the method where the error occurred."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Pipelines Resource Provider."
    },
    "DeploymentListResult": {
      "description": "Result of a request to list all deployments under a given scope.",
      "properties": {
        "value": {
          "description": "List of deployments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Deployment"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of Deployments, if there are any."
        }
      }
    },
    "Deployment": {
      "type": "object",
      "description": "The deployment resource representing a deployment being made to an azure resource.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Deployment resource properties",
          "$ref": "#/definitions/DeploymentProperties"
        },
        "systemData": {
          "type": "object",
          "description": "Deployment resource system data",
          "$ref": "#/definitions/SystemData"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "DeploymentProperties": {
      "type": "object",
      "description": "Deployment resource properties object.",
      "properties": {
        "targetResource": {
          "type": "object",
          "description": "Target resource properties",
          "$ref": "#/definitions/TargetResourceOld"
        },
        "workflowRun": {
          "type": "object",
          "description": "Workflow run properties",
          "$ref": "#/definitions/WorkflowRunOld"
        },
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artifact"
          },
          "description": "List of artifacts"
        }
      }
    },
    "TargetResourceOld": {
      "type": "object",
      "description": "Target resource properties.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Target resource name"
        },
        "test12prop": {
          "type": "string",
          "description": "Test 12 prop"
        },
        "location": {
          "type": "string",
          "description": "Target resource location"
        },
        "id": {
          "type": "string",
          "description": "Target resource identifier"
        },
        "type": {
          "type": "string",
          "description": "Target resource type"
        },
        "properties": {
          "type": "object",
          "description": "Target resource properties",
          "properties": {
            "namespace": {
              "type": "string",
              "description": "Target resource namespace"
            },
            "kubernetesObjects": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/KubernetesObjectOld"
              },
              "description": "List of deployed Kubernetes objects"
            }
          }
        }
      }
    },
    "KubernetesObjectOld": {
      "type": "object",
      "description": "Kubernetes object properties.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kubernetes object kind"
        },
        "url": {
          "type": "string",
          "description": "Kubernetes object url"
        }
      }
    },
    "WorkflowRunOld": {
      "type": "object",
      "description": "Workflow run properties.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Workflow run provider"
        },
        "properties": {
          "type": "object",
          "description": "Workflow run properties",
          "properties": {
            "repository": {
              "type": "string",
              "description": "The workflow repository"
            },
            "workflow": {
              "type": "string",
              "description": "The workflow path"
            },
            "run": {
              "type": "string",
              "description": "The workflow run number"
            },
            "runUri": {
              "type": "string",
              "description": "The workflow run uri"
            },
            "createdBy": {
              "type": "string",
              "description": "The workflow created by"
            },
            "branch": {
              "type": "string",
              "description": "The workflow branch"
            },
            "jobName": {
              "type": "string",
              "description": "The job that triggered the deployment"
            },
            "creationTimestamp": {
              "type": "string",
              "description": "The deployment creation timestamp"
            },
            "modifiedTimestamp": {
              "type": "string",
              "description": "The deployment modification timestamp"
            },
            "status": {
              "type": "string",
              "description": "The deployment status"
            },
            "commit": {
              "type": "string",
              "description": "The commit on which workflow ran"
            }
          }
        }
      }
    },
    "Artifact": {
      "type": "object",
      "description": "Deployment artifact properties.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Artifact type"
        },
        "properties": {
          "type": "object",
          "description": "Artifact properties",
          "properties": {
            "image": {
              "type": "string",
              "description": "The deployed image"
            },
            "dockerFile": {
              "type": "string",
              "description": "The Dockerfile used in deployment"
            },
            "helm": {
              "type": "string",
              "description": "The deployed helm chart"
            },
            "manifests": {
              "type": "array",
              "description": "The deployed manifests",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of operations supported by Microsoft.DevOps resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of operations, if there are any."
        }
      },
      "description": "Result of a request to list all operations supported by Microsoft.DevOps resource provider."
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the operation."
        },
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "display": {
          "description": "Display information of the operation.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationDisplayValue"
        }
      },
      "description": "Properties of an Operation."
    },
    "OperationDisplayValue": {
      "properties": {
        "operation": {
          "type": "string",
          "readOnly": true,
          "description": "Friendly name of the operation."
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Friendly name of the resource type the operation applies to."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Friendly description of the operation."
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Friendly name of the resource provider."
        }
      },
      "description": "Display information of an operation."
    },
    "OperationStatus": {
      "description": "The current status of an async operation",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified ID for the operation status.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "Provisioning state of the resource.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Moving"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "Status",
            "modelAsString": true
          }
        },
        "startTime": {
          "description": "The start time of the operation",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "endTime": {
          "description": "The end time of the operation",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "percentComplete": {
          "description": "Percent of the operation that is complete",
          "type": "number",
          "readOnly": true,
          "minimum": 0,
          "maximum": 100
        },
        "error": {
          "description": "Operation Error message",
          "$ref": "#/definitions/ErrorResponse",
          "x-ms-client-flatten": true
        }
      }
    },
    "ErrorResponse": {
      "title": "Error response",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "description": "The error object.",
          "$ref": "#/definitions/ErrorDetail"
        }
      }
    },
    "ErrorDetail": {
      "description": "The error detail.",
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "The error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "description": "The error additional info."
        }
      }
    },
    "ErrorAdditionalInfo": {
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The type of identity that last modified the resource."
        }
      }
    },
    "ProxyResource": {
      "title": "Proxy resource type",
      "description": "An azure proxy resource",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "WorkflowRun": {
      "type": "object",
      "description": "Workflow run details for the deployment",
      "discriminator": "provider",
      "properties": {
        "provider": {
          "description": "Continuous-Deployment (CD) providing service",
          "enum": [
            "GitHub"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Provider",
            "modelAsString": true
          }
        }
      },
      "required": [
        "provider"
      ]
    },
    "GitHubWorkflowRun": {
      "x-ms-discriminator-value": "GitHub",
      "type": "object",
      "description": "GitHub workflow run details for the deployment",
      "allOf": [
        {
          "$ref": "#/definitions/WorkflowRun"
        },
        {
          "type": "object",
          "properties": {
            "workflow": {
              "$ref": "#/definitions/Workflow"
            },
            "run": {
              "type": "string",
              "description": "Workflow run id for the deployment"
            },
            "runUri": {
              "type": "string",
              "description": "URL for the workflow run"
            },
            "createdBy": {
              "type": "string",
              "description": "User identity which triggered the workflow run"
            },
            "jobName": {
              "type": "string",
              "description": "Name of the job associated with the deployment"
            },
            "creationTimestamp": {
              "type": "string",
              "description": "Timestamp when the workflow run was created"
            },
            "modifiedTimestamp": {
              "type": "string",
              "description": "Timestamp when the workflow run was lsat modified"
            },
            "status": {
              "type": "string",
              "description": "Status of the workflow run"
            },
            "commit": {
              "type": "string",
              "description": "Commit SHA for the workflow run"
            }
          }
        }
      ]
    },
    "Workflow": {
      "type": "object",
      "description": "Details of the workflow associated with the deployment run.",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Source code repository"
        },
        "name": {
          "type": "string",
          "description": "Name of the workflow"
        },
        "path": {
          "type": "string",
          "description": "Path of the workflow file"
        },
        "ref": {
          "type": "string",
          "description": "Branch associated with the workflow run"
        },
        "authorization": {
          "$ref": "#/definitions/Authorization",
          "description": "Authorization info to access the code repository"
        },
        "bootstrapConfiguration": {
          "$ref": "#/definitions/BootstrapConfiguration",
          "description": "Configuration used to bootstrap workflow"
        }
      },
      "required": [
        "repository"
      ]
    },
    "BootstrapConfiguration": {
      "type": "object",
      "description": "Configuration used to bootstrap workflow",
      "properties": {
        "pipelineTemplateId": {
          "type": "string",
          "description": "Unique identifier of the pipeline template which will be used to create pipeline"
        },
        "pipelineTemplateParameters": {
          "$ref": "#/definitions/PipelineTemplateParameters",
          "description": "List of parameter values for pipeline template"
        },
        "pipelineConfiguration": {
          "$ref": "#/definitions/PipelineConfiguration",
          "description": "Pipeline Configuration"
        },
        "provisioningConfiguration": {
          "$ref": "#/definitions/ProvisioningConfiguration",
          "description": "Configuration to control provisioning of a pipeline"
        }
      },
      "required": [
        "pipelineTemplateId"
      ]
    },
    "PipelineConfiguration": {
      "type": "object",
      "description": "Draft configuration for the pipeline. This can be used to specify a workflow file content already fetched for given pipelineTemplateId",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id to identify workflow file and related objects"
        },
        "files": {
          "type": "array",
          "description": "Workflow and its associated files",
          "items": {
            "$ref": "#/definitions/File"
          }
        }
      },
      "required": [
        "files"
      ]
    },
    "PipelineTemplateParameters": {
      "type": "object",
      "description": "Dictionary of input parameters used in the pipeline template.",
      "additionalProperties": {
        "type": "string"
      }
    },
    "ProvisioningConfiguration": {
      "type": "object",
      "description": "Configuration to control provisioning of a pipeline",
      "properties": {
        "commitMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Commit message for committing files"
        }
      }
    },
    "Authorization": {
      "description": "Authorization info to access the code repository",
      "type": "object",
      "properties": {
        "authorizationType": {
          "description": "Type of authorization.",
          "type": "string",
          "enum": [
            "personalAccessToken"
          ],
          "x-ms-enum": {
            "name": "AuthorizationType",
            "modelAsString": true
          }
        },
        "parameters": {
          "description": "Authorization parameters corresponding to the authorization type.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "authorizationType"
      ]
    },
    "File": {
      "type": "object",
      "description": "Workflow or its dependent file",
      "properties": {
        "path": {
          "type": "string",
          "description": "file path w.r.t to repository root"
        },
        "content": {
          "type": "string",
          "description": "Base-64 encoded file content"
        }
      },
      "required": [
        "path",
        "content"
      ]
    },
    "DeploymentArtifacts": {
      "type": "array",
      "description": "Artifacts associated with the deployment",
      "items": {
        "$ref": "#/definitions/DeploymentArtifact"
      }
    },
    "DeploymentArtifact": {
      "type": "object",
      "description": "Artifact associated with the deployment",
      "discriminator": "type",
      "properties": {
        "type": {
          "description": "Type of the artifact",
          "enum": [
            "ContainerArtifact"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "Type",
            "modelAsString": true
          }
        }
      },
      "additionalProperties": {
        "type": "object"
      },
      "required": [
        "type"
      ]
    },
    "ContainerArtifact": {
      "x-ms-discriminator-value": "ContainerArtifact",
      "type": "object",
      "description": "Container artifact object",
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentArtifact"
        }
      ],
      "properties": {
        "image": {
          "type": "string",
          "description": "Container image identifier"
        },
        "dockerfileUrl": {
          "type": "string",
          "description": "URL for the docker file"
        },
        "helmchartUrls": {
          "type": "array",
          "description": "List of helm chart urls",
          "items": {
            "type": "string"
          }
        },
        "manifestUrls": {
          "type": "array",
          "description": "List of kubernetes manifest urls",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeploymentDetailsListResult": {
      "description": "Result of a request to list all the deployment details under a given scope.",
      "properties": {
        "value": {
          "description": "List of deploymentsDetails.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentDetail"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "URL to get the next set of deploymentDetails, if there are any."
        }
      }
    },
    "DeploymentDetail": {
      "type": "object",
      "description": "Workflow deployment detail on an Azure Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentDetailProperties",
          "description": "Custom properties of the deploymentDetail.",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "#/definitions/SystemData"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "DeploymentDetailProperties": {
      "type": "object",
      "description": "Properties of a workflow deployment detail resource",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "The provisioning status of the resource"
        },
        "targetResource": {
          "$ref": "#/definitions/TargetResource",
          "description": "Target resource associated with the deployment"
        },
        "workflowRun": {
          "$ref": "#/definitions/WorkflowRun",
          "description": "Properties of the Continuous-Delivery workflow run associated with the deployment"
        },
        "artifacts": {
          "$ref": "#/definitions/DeploymentArtifacts",
          "description": "Artifacts associated with the deployment"
        }
      }
    },
    "TargetResource": {
      "type": "object",
      "discriminator": "type",
      "description": "Azure resource on which deployment was targeted",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the target Azure resource"
        },
        "type": {
          "type": "string",
          "description": "Resource type of the target Azure resource"
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "AzureKubernetesServiceTargetResource": {
      "type": "object",
      "x-ms-discriminator-value": "Microsoft.ContainerService/ManagedClusters",
      "description": "Properties of target Azure Kubernetes Service Resource",
      "allOf": [
        {
          "$ref": "#/definitions/TargetResource"
        },
        {
          "type": "object",
          "properties": {
            "properties": {
              "$ref": "#/definitions/KubernetesResourceProperties",
              "x-ms-client-flatten": true
            }
          }
        }
      ]
    },
    "KubernetesResourceProperties": {
      "type": "object",
      "description": "Properties of a Kubernetes resource",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "Kubernetes namespace"
        },
        "kubernetesObjects": {
          "type": "array",
          "description": "List of kubernetes objects impacted by the deployment",
          "items": {
            "$ref": "#/definitions/KubernetesObject"
          }
        }
      },
      "required": [
        "namespace"
      ]
    },
    "KubernetesObject": {
      "type": "object",
      "description": "Represents a kubernetes object which was impacted by the deployment",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the kubernetes object"
        },
        "name": {
          "type": "string",
          "description": "Name of the kubernetes object"
        },
        "version": {
          "type": "string",
          "description": "Version of the kubernetes object"
        },
        "selfLink": {
          "type": "string",
          "description": "URL of the kubernetes object"
        }
      },
      "required": [
        "kind",
        "name",
        "version"
      ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "DeploymentNameParameter": {
      "name": "deploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The deployment name",
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "name": "location",
      "in": "path",
      "description": "The Azure region",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "OperationIdParameter": {
      "name": "operationId",
      "in": "path",
      "description": "The ID of an ongoing async operation",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "DeploymentDetailIdParameter": {
      "name": "deploymentDetailId",
      "description": "The unique identifier of workflow deployment detail in ARM.",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation.",
      "minLength": 1
    }
  }
}
