{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.SaaSHub management service",
    "version": "2024-05-01-preview",
    "description": "Microsoft.SaaSHub Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SoftwareOrders"
    }
  ],
  "paths": {
    "/providers/Microsoft.SaaSHub/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SaaSHub/softwareOrders": {
      "get": {
        "operationId": "SoftwareOrders_ListBySubscription",
        "tags": [
          "SoftwareOrders"
        ],
        "description": "List SoftwareOrder resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareOrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SoftwareOrders_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaSHub/softwareOrders": {
      "get": {
        "operationId": "SoftwareOrders_ListByResourceGroup",
        "tags": [
          "SoftwareOrders"
        ],
        "description": "List SoftwareOrder resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareOrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SoftwareOrders_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaSHub/softwareOrders/{softwareOrderName}": {
      "get": {
        "operationId": "SoftwareOrders_Get",
        "tags": [
          "SoftwareOrders"
        ],
        "description": "Get a SoftwareOrder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareOrderName",
            "in": "path",
            "description": "Name of softwareOrder",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareOrder"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SoftwareOrders_Get_MaximumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SoftwareOrders_CreateOrUpdate",
        "tags": [
          "SoftwareOrders"
        ],
        "description": "Create a SoftwareOrder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareOrderName",
            "in": "path",
            "description": "Name of softwareOrder",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SoftwareOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SoftwareOrder' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SoftwareOrder"
            }
          },
          "201": {
            "description": "Resource 'SoftwareOrder' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SoftwareOrder"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "SoftwareOrders_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "SoftwareOrders_Update",
        "tags": [
          "SoftwareOrders"
        ],
        "description": "Update a SoftwareOrder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareOrderName",
            "in": "path",
            "description": "Name of softwareOrder",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SoftwareOrderUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SoftwareOrder"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SoftwareOrders_Update_MaximumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SoftwareOrders_Delete",
        "tags": [
          "SoftwareOrders"
        ],
        "description": "Delete a SoftwareOrder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareOrderName",
            "in": "path",
            "description": "Name of softwareOrder",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "SoftwareOrders_Delete_MaximumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_Delete_MaximumSet_Gen.json"
          },
          "SoftwareOrders_Delete_MinimumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaSHub/softwareOrders/{softwareOrderName}/listKeys": {
      "post": {
        "operationId": "SoftwareOrders_ListKeys",
        "tags": [
          "SoftwareOrders"
        ],
        "description": "List software keys provisioned for this order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "softwareOrderName",
            "in": "path",
            "description": "Name of softwareOrder",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SoftwareKey"
              },
              "x-ms-identifiers": []
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SoftwareOrders_ListKeys_MaximumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_ListKeys_MaximumSet_Gen.json"
          },
          "SoftwareOrders_ListKeys_MinimumSet_Gen": {
            "$ref": "./examples/SoftwareOrders_ListKeys_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning request has been accepted."
          }
        ]
      },
      "readOnly": true
    },
    "SoftwareKey": {
      "type": "object",
      "description": "Provisioned software key info",
      "properties": {
        "keyType": {
          "type": "string",
          "description": "Type of key provisioned"
        },
        "keyStatus": {
          "type": "string",
          "description": "Status of key provisioned"
        },
        "keyValue": {
          "type": "string",
          "description": "5x5 software activation key"
        },
        "downloadLink": {
          "type": "string",
          "description": "URL to download software"
        },
        "purchasedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of purchased keys"
        },
        "activationCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of activated keys"
        },
        "productId": {
          "type": "string",
          "description": "Catalog product Id for this software"
        },
        "skuId": {
          "type": "string",
          "description": "Catalog sku Id for this software"
        }
      },
      "required": [
        "keyType",
        "keyStatus",
        "keyValue",
        "purchasedCount",
        "activationCount"
      ]
    },
    "SoftwareOrder": {
      "type": "object",
      "description": "Model belowSoftwareOrder resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SoftwareOrderProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SoftwareOrderListResult": {
      "type": "object",
      "description": "The response of a SoftwareOrder list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SoftwareOrder items on this page",
          "items": {
            "$ref": "#/definitions/SoftwareOrder"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SoftwareOrderProperties": {
      "type": "object",
      "description": "SoftwareOrder properties",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "Unique identifier for the product purchased",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Quantity of the product purchased",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "startAt": {
          "type": "string",
          "description": "Date when the order benefit should start. Format : 2023-02-01T01:01:01.1075056Z",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "endAt": {
          "type": "string",
          "description": "Date when the order benefit should end. Format : 2024-02-01T01:01:01.1075056Z",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "autoRenew": {
          "type": "boolean",
          "description": "If set to true, will auto renew at the end of the current term",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "renewal": {
          "$ref": "#/definitions/SoftwareOrderRenewalProperties",
          "description": "Contains information about renewal of this product",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Friendly name for the order",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "productCode",
        "quantity",
        "displayName"
      ]
    },
    "SoftwareOrderRenewalProperties": {
      "type": "object",
      "description": "productCode to be used during renewal",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "productCode to be used during renewal"
        }
      },
      "required": [
        "productCode"
      ]
    },
    "SoftwareOrderRenewalPropertiesUpdate": {
      "type": "object",
      "description": "productCode to be used during renewal",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "productCode to be used during renewal"
        }
      }
    },
    "SoftwareOrderUpdate": {
      "type": "object",
      "description": "The type used for update operations of the SoftwareOrder.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/SoftwareOrderUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "SoftwareOrderUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the SoftwareOrder.",
      "properties": {
        "autoRenew": {
          "type": "boolean",
          "description": "If set to true, will auto renew at the end of the current term",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "renewal": {
          "$ref": "#/definitions/SoftwareOrderRenewalPropertiesUpdate",
          "description": "Contains information about renewal of this product",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-05-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_05_01_preview",
            "value": "2024-05-01-preview",
            "description": "2024-05-01-preview version"
          }
        ]
      }
    }
  },
  "parameters": {}
}