{
  "swagger": "2.0",
  "info": {
    "title": "Hardware Resource Provider",
    "version": "2023-07-12-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Orders"
    },
    {
      "name": "OrderPreviewInterface"
    }
  ],
  "paths": {
    "/providers/Microsoft.Hardware/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Hardware/orderPreview": {
      "post": {
        "operationId": "OrderPreviewInterface_OrderPreview",
        "tags": [
          "OrderPreviewInterface"
        ],
        "description": "Implements orderPreview operations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The orderPreview request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OrderPreview": {
            "$ref": "./examples/Orders_Preview.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Hardware/orders": {
      "get": {
        "operationId": "Orders_ListBySubscription",
        "tags": [
          "Orders"
        ],
        "description": "List Order resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetBySubscription": {
            "$ref": "./examples/Orders_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Hardware/orders": {
      "get": {
        "operationId": "Orders_ListByResourceGroup",
        "tags": [
          "Orders"
        ],
        "description": "List Order resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetByResourceGroup": {
            "$ref": "./examples/Orders_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Hardware/orders/{orderId}": {
      "get": {
        "operationId": "Orders_Get",
        "tags": [
          "Orders"
        ],
        "description": "Get a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "Order Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OrderById": {
            "$ref": "./examples/Orders_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Orders_Create",
        "tags": [
          "Orders"
        ],
        "description": "Create a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "Order Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrder": {
            "$ref": "./examples/Orders_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Orders_Update",
        "tags": [
          "Orders"
        ],
        "description": "Update a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "Order Name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateOrder": {
            "$ref": "./examples/Orders_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Orders_Delete",
        "tags": [
          "Orders"
        ],
        "description": "Delete a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "Order Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteOrder": {
            "$ref": "./examples/Orders_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BillingInformation": {
      "type": "object",
      "description": "Billing Details for Order",
      "properties": {
        "authorizationToken": {
          "type": "string",
          "description": "Credit Card Auth Token - if blank defaults to Invoicing"
        },
        "riskToken": {
          "type": "string",
          "description": "base64 Risk Token"
        }
      },
      "required": [
        "authorizationToken",
        "riskToken"
      ]
    },
    "BillingInformationUpdate": {
      "type": "object",
      "description": "Billing Details for Order",
      "properties": {
        "authorizationToken": {
          "type": "string",
          "description": "Credit Card Auth Token - if blank defaults to Invoicing"
        },
        "riskToken": {
          "type": "string",
          "description": "base64 Risk Token"
        }
      }
    },
    "CustomerOrder": {
      "type": "object",
      "description": "Customer PurchaseOrder",
      "properties": {
        "id": {
          "type": "string",
          "description": "Customer PurchaseOrder Id"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer PurchaseOrder Date Time"
        }
      },
      "required": [
        "id",
        "createdDateTime"
      ]
    },
    "CustomerOrderUpdate": {
      "type": "object",
      "description": "Customer PurchaseOrder",
      "properties": {
        "id": {
          "type": "string",
          "description": "Customer PurchaseOrder Id"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer PurchaseOrder Date Time"
        }
      }
    },
    "Fee": {
      "type": "object",
      "description": "Fee model",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Fee charged"
        },
        "type": {
          "$ref": "#/definitions/FeeType",
          "description": "Fee Type"
        }
      },
      "required": [
        "amount",
        "type"
      ]
    },
    "FeeType": {
      "type": "string",
      "description": "Fee Type",
      "enum": [
        "Recycling"
      ],
      "x-ms-enum": {
        "name": "FeeType",
        "modelAsString": true,
        "values": [
          {
            "name": "Recycling",
            "value": "Recycling",
            "description": "Recycling Fee"
          }
        ]
      }
    },
    "LineFulfillmentInstruction": {
      "type": "object",
      "description": "Order line fulfillment instructions",
      "properties": {
        "referenceDeviceLine": {
          "type": "integer",
          "format": "int64",
          "description": "Device line referred to by the warranty line."
        },
        "serialNumbers": {
          "type": "array",
          "description": "Serial Numbers",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "Order": {
      "type": "object",
      "description": "A Hardware Resource Provider Order resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OrderProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OrderLine": {
      "type": "object",
      "description": "Order Line",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId"
        },
        "status": {
          "$ref": "#/definitions/OrderLineStatus",
          "description": "Order line status",
          "readOnly": true
        },
        "billingState": {
          "$ref": "#/definitions/BillingState",
          "description": "Billing state for the order line",
          "readOnly": true
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Order line created date time",
          "readOnly": true
        },
        "quantity": {
          "$ref": "#/definitions/OrderLineQty",
          "description": "Order line qty"
        },
        "product": {
          "$ref": "#/definitions/Product",
          "description": "order line Product"
        },
        "lineFulfillmentInstruction": {
          "$ref": "#/definitions/LineFulfillmentInstruction",
          "description": "order line fulfillment instructions"
        },
        "price": {
          "$ref": "#/definitions/Price",
          "description": "line level Price"
        },
        "shipTo": {
          "$ref": "#/definitions/ShipTo",
          "description": "shipTo Address"
        },
        "shippingMethod": {
          "$ref": "#/definitions/ShippingMethod",
          "description": "Shipping Method"
        },
        "requestedDeliveryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Requested Delivery Date Time"
        },
        "cancellationReason": {
          "type": "string",
          "description": "Cancellation Reason"
        },
        "cancelledBy": {
          "type": "string",
          "description": "Cancelled By User details"
        },
        "estimatedDeliveryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Estimated Delivery Date Time"
        },
        "estimatedShippedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Estimated Shipped Date Time"
        }
      },
      "required": [
        "id",
        "quantity",
        "product",
        "price",
        "shipTo"
      ]
    },
    "OrderLineQty": {
      "type": "object",
      "description": "Order Line Qty",
      "properties": {
        "pending": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId pending quantity"
        },
        "inProgress": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId in-progress quantity",
          "readOnly": true
        },
        "fulfilled": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId fulfilled quantity",
          "readOnly": true
        },
        "pendingProvisioning": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId quantity pending warranty provisioning",
          "readOnly": true
        },
        "provisioned": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId warranty provisioned quantity",
          "readOnly": true
        },
        "pendingCancel": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId quantity pending cancellation",
          "readOnly": true
        },
        "cancelled": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId cancelled Quantity",
          "readOnly": true
        },
        "pendingReturn": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId quantity pending return",
          "readOnly": true
        },
        "returned": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId returned Quantity",
          "readOnly": true
        }
      },
      "required": [
        "pending"
      ]
    },
    "BillingState": {
      "type": "string",
      "description": "Billing state for an order line",
      "enum": [
        "Pending",
        "PendingCapture",
        "Captured",
        "CaptureFailed",
        "PendingRefund",
        "Refunded"
      ],
      "x-ms-enum": {
        "name": "BillingState",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "The default state, initialized or reset after a failed operation"
          },
          {
            "name": "PendingCapture",
            "value": "PendingCapture",
            "description": "The payment is pending capture"
          },
          {
            "name": "Captured",
            "value": "Captured",
            "description": "The payment has been captured successfully"
          },
          {
            "name": "CaptureFailed",
            "value": "CaptureFailed",
            "description": "The payment capture failed"
          },
          {
            "name": "PendingRefund",
            "value": "PendingRefund",
            "description": "The payment is pending a refund"
          },
          {
            "name": "Refunded",
            "value": "Refunded",
            "description": "The payment has been refunded"
          }          
        ]
      }
    },
    "OrderLineStatus": {
      "type": "string",
      "description": "Order Line Status",
      "enum": [
        "Pending",
        "InProgress",
        "Fulfilled",
        "Cancelled",
        "Returned"
      ],
      "x-ms-enum": {
        "name": "OrderLineStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Order is pending"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Order is in-progress"
          },
          {
            "name": "Fulfilled",
            "value": "Fulfilled",
            "description": "Order is fulfilled"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Order is cancelled"
          },
          {
            "name": "Returned",
            "value": "Returned",
            "description": "Order is returned"
          }
        ]
      }
    },
    "OrderListResult": {
      "type": "object",
      "description": "The response of a Order list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Order items on this page",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OrderProperties": {
      "type": "object",
      "description": "Forward Order",
      "properties": {
        "customerOrder": {
          "$ref": "#/definitions/CustomerOrder",
          "description": "Customer PurchaseOrder"
        },
        "action": {
          "type": "string",
          "description": "Type of action Pre-Fulfill/Fulfill",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/OrderStatus",
          "description": "Order status"
        },
        "orderLines": {
          "type": "array",
          "description": "Order line details",
          "items": {
            "$ref": "#/definitions/OrderLine"
          },
          "x-ms-identifiers": [
            "id"
          ]
        },
        "billingInformation": {
          "$ref": "#/definitions/BillingInformation",
          "description": "Billing Information"
        },
        "currency": {
          "type": "string",
          "description": "Currency for the order"
        },
        "market": {
          "type": "string",
          "description": "Market - country code for Order"
        },
        "language": {
          "type": "string",
          "description": "Language - language code for Order"
        },
        "reservationId": {
          "type": "string",
          "description": "Reservation for order if applicable"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation."
        }
      },
      "required": [
        "orderLines"
      ]
    },
    "OrderStatus": {
      "type": "string",
      "description": "Order Status",
      "enum": [
        "Pending",
        "Created",
        "Confirmed",
        "PartiallyConfirmed",
        "PendingCancel",
        "PendingProvisioning",
        "PartiallyProvisioned",
        "Provisioned",
        "PendingShipment",
        "PartiallyShipped",
        "Shipped"
      ],
      "x-ms-enum": {
        "name": "OrderStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Order is pending"
          },
          {
            "name": "Created",
            "value": "Created",
            "description": "Order is Created"
          },
          {
            "name": "Confirmed",
            "value": "Confirmed",
            "description": "Order is Confirmed"
          },
          {
            "name": "PartiallyConfirmed",
            "value": "PartiallyConfirmed",
            "description": "Order is PartiallyConfirmed"
          },
          {
            "name": "PendingCancel",
            "value": "PendingCancel",
            "description": "Order is pending cancellation"
          },
          {
            "name": "PendingProvisioning",
            "value": "PendingProvisioning",
            "description": "Order is Ready to Provision cannot be cancelled"
          },
          {
            "name": "PartiallyProvisioned",
            "value": "PartiallyProvisioned",
            "description": "Order is PartiallyProvisioned"
          },
          {
            "name": "Provisioned",
            "value": "Provisioned",
            "description": "Order is Provisioned"
          },
          {
            "name": "PendingShipment",
            "value": "PendingShipment",
            "description": "Order is Ready to Ship cannot be cancelled"
          },
          {
            "name": "PartiallyShipped",
            "value": "PartiallyShipped",
            "description": "Order is PartiallyShipped"
          },
          {
            "name": "Shipped",
            "value": "Shipped",
            "description": "Order is Shipped"
          }
        ]
      }
    },
    "OrderUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Order.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OrderUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "OrderUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Order.",
      "properties": {
        "customerOrder": {
          "$ref": "#/definitions/CustomerOrderUpdate",
          "description": "Customer PurchaseOrder"
        },
        "status": {
          "$ref": "#/definitions/OrderStatus",
          "description": "Order status"
        },
        "orderLines": {
          "type": "array",
          "description": "Order line details",
          "items": {
            "$ref": "#/definitions/OrderLine"
          },
          "x-ms-identifiers": [
            "id"
          ]
        },
        "billingInformation": {
          "$ref": "#/definitions/BillingInformationUpdate",
          "description": "Billing Information"
        },
        "currency": {
          "type": "string",
          "description": "Currency for the order"
        },
        "market": {
          "type": "string",
          "description": "Market - country code for Order"
        },
        "language": {
          "type": "string",
          "description": "Language - language code for Order"
        },
        "reservationId": {
          "type": "string",
          "description": "Reservation for order if applicable"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation."
        }
      }
    },
    "Price": {
      "type": "object",
      "description": "Order line Price",
      "properties": {
        "unitAmount": {
          "type": "number",
          "format": "double",
          "description": "Price per Unit"
        },
        "shippingCost": {
          "type": "number",
          "format": "double",
          "description": "Shipping Cost for the line"
        },
        "taxes": {
          "type": "array",
          "description": "Tax for this line",
          "items": {
            "$ref": "#/definitions/Tax"
          },
          "x-ms-identifiers": []
        },
        "fees": {
          "type": "array",
          "description": "Fees for this line",
          "items": {
            "$ref": "#/definitions/Fee"
          },
          "x-ms-identifiers": [
            "type"
          ]
        }
      },
      "required": [
        "unitAmount"
      ]
    },
    "Product": {
      "type": "object",
      "description": "Order line Product",
      "properties": {
        "id": {
          "type": "string",
          "description": "ProductId"
        },
        "type": {
          "$ref": "#/definitions/ProductIdType",
          "description": "ProductId Type"
        },
        "bundleProductId": {
          "type": "string",
          "description": "BundleProductId"
        },
        "bundleInstanceId": {
          "type": "string",
          "description": "BundleInstanceId"
        },
        "bundleSlotId": {
          "type": "integer",
          "format": "int64",
          "description": "BundleSlotId"
        }        
      },
      "required": [
        "id",
        "type"
      ]
    },
    "ProductIdType": {
      "type": "string",
      "description": "ProductId Type",
      "enum": [
        "UPN",
        "PSA",
        "FulfillmentProductId"
      ],
      "x-ms-enum": {
        "name": "ProductIdType",
        "modelAsString": true,
        "values": [
          {
            "name": "UPN",
            "value": "UPN",
            "description": "UPN in Big-Catalog"
          },
          {
            "name": "PSA",
            "value": "PSA",
            "description": "Product, SKU, Availability in Big-Catalog"
          },
          {
            "name": "FulfillmentProductId",
            "value": "FulfillmentProductId",
            "description": "MS Product Identifier (3x5 SKU)"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning State",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Order is pending"
          }
        ]
      }
    },
    "ShipTo": {
      "type": "object",
      "description": "ShipTo Id",
      "properties": {
        "id": {
          "type": "string",
          "description": "ShipTo Id"
        },
        "type": {
          "$ref": "#/definitions/ShipToIdType",
          "description": "ShipTo Type"
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "ShipToIdType": {
      "type": "string",
      "description": "shipToId Type",
      "enum": [
        "BusinessLocation",
        "ExternalId"
      ],
      "x-ms-enum": {
        "name": "ShipToIdType",
        "modelAsString": true,
        "values": [
          {
            "name": "BusinessLocation",
            "value": "BusinessLocation",
            "description": "Modern Commerce API Business Location"
          },
          {
            "name": "ExternalId",
            "value": "ExternalId",
            "description": "Partner External-Id"
          }
        ]
      }
    },
    "ShippingMethod": {
      "type": "string",
      "description": "Shipping Method",
      "enum": [
        "Ground",
        "TwoDay",
        "ThreeDay",
        "Sustainable",
        "StreetDate",
        "ApoFpo"
      ],
      "x-ms-enum": {
        "name": "ShippingMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "Ground",
            "value": "Ground",
            "description": "Ground shipping"
          },
          {
            "name": "TwoDay",
            "value": "TwoDay",
            "description": "Two day shipping"
          },
          {
            "name": "ThreeDay",
            "value": "ThreeDay",
            "description": "Three day shipping"
          },
          {
            "name": "Sustainable",
            "value": "Sustainable",
            "description": "Sustainable shipping"
          },
          {
            "name": "StreetDate",
            "value": "StreetDate",
            "description": "Street date shipping"
          },
          {
            "name": "ApoFpo",
            "value": "ApoFpo",
            "description": "APO FPO shipping"
          }
        ]
      }
    },
    "Tax": {
      "type": "object",
      "description": "Tax model",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Tax charged"
        },
        "type": {
          "$ref": "#/definitions/TaxType",
          "description": "Tax Type"
        },
        "class": {
          "type": "string",
          "description": "Categorization of the taxation system"
        },
        "name": {
          "type": "string",
          "description": "Specific title assigned to the tax entity"
        },
        "jurisdictionEntity": {
          "type": "string",
          "description": "Level of governing authority"
        },
        "jurisdictionName": {
          "type": "string",
          "description": "Name of the jurisdiction"
        },
        "rate": {
          "type": "number",
          "format": "double",
          "description": "Tax Rate"
        }
      },
      "required": [
        "amount",
        "type"
      ]
    },
    "TaxType": {
      "type": "string",
      "description": "Tax Type",
      "enum": [
        "Unit",
        "Shipping"
      ],
      "x-ms-enum": {
        "name": "TaxType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unit",
            "value": "Unit",
            "description": "Tax on Unit amount for Product cost"
          },
          {
            "name": "Shipping",
            "value": "Shipping",
            "description": "Tax on Shipping cost"
          }
        ]
      }
    }
  },
  "parameters": {}
}
