{
  "swagger": "2.0",
  "info": {
    "title": "Oracle Database Resource Manager",
    "version": "2023-09-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DbVersions"
    },
    {
      "name": "GiVersions"
    },
    {
      "name": "DbSystemShapes"
    },
    {
      "name": "CloudVmClusters"
    },
    {
      "name": "CloudExadataInfrastructures"
    },
    {
      "name": "OracleSubscriptions"
    },
    {
      "name": "VirtualMachines"
    }
  ],
  "paths": {
    "/providers/Oracle.Database/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Oracle.Database/dbSystemShapes": {
      "get": {
        "operationId": "DbSystemShapes_ListByLocation",
        "tags": [
          "DbSystemShapes"
        ],
        "description": "List DbSystemShape resources by location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DbSystemShapeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Oracle.Database/dbVersions": {
      "get": {
        "operationId": "DbVersions_ListByLocation",
        "tags": [
          "DbVersions"
        ],
        "description": "List DbVersion resources by location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DbVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Oracle.Database/giVersions": {
      "get": {
        "operationId": "GiVersions_ListByLocation",
        "tags": [
          "GiVersions"
        ],
        "description": "List GiVersion resources by location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GiVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/cloudExadataInfrastructures": {
      "get": {
        "operationId": "CloudExadataInfrastructures_ListBySubscription",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "List CloudExadataInfrastructure resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructureListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/cloudVmClusters": {
      "get": {
        "operationId": "CloudVmClusters_ListBySubscription",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "List CloudVmCluster resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudVmClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/oracleSubscriptions": {
      "get": {
        "operationId": "OracleSubscriptions_ListBySubscription",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "List OracleSubscription resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/oracleSubscriptions/default": {
      "get": {
        "operationId": "OracleSubscriptions_Get",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "Get a OracleSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "OracleSubscriptions_Create",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "Create a OracleSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OracleSubscription' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleSubscription"
            }
          },
          "201": {
            "description": "Resource 'OracleSubscription' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleSubscription"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OracleSubscriptions_Update",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "Update a OracleSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleSubscriptionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleSubscription"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OracleSubscriptions_Delete",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "Delete a OracleSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/oracleSubscriptions/default/createOciAccount": {
      "post": {
        "operationId": "OracleSubscriptions_CreateOciAccount",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "Create a new OCI account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleSubscription"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/oracleSubscriptions/default/createOciAccountValidation": {
      "post": {
        "operationId": "OracleSubscriptions_CreateOciAccountValidation",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "OCI Account Creation Validate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleSubscriptionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/oracleSubscriptions/default/getOciAccountDetails": {
      "post": {
        "operationId": "OracleSubscriptions_GetOciAccountDetails",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "Get OCI Account Details",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OciAccountDetails"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/oracleSubscriptions/default/resourceCreationValidate": {
      "post": {
        "operationId": "OracleSubscriptions_ResourceCreationValidate",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleSubscriptionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/oracleSubscriptions/default/resourceDeletionValidate": {
      "post": {
        "operationId": "OracleSubscriptions_ResourceDeletionValidate",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleSubscriptionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Oracle.Database/oracleSubscriptions/default/resourcePatchValidate": {
      "post": {
        "operationId": "OracleSubscriptions_ResourcePatchValidate",
        "tags": [
          "OracleSubscriptions"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleSubscriptionProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudExadataInfrastructures": {
      "get": {
        "operationId": "CloudExadataInfrastructures_ListByResourceGroup",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "List CloudExadataInfrastructure resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructureListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudExadataInfrastructures/{cloudExadataInfrastructureName}": {
      "get": {
        "operationId": "CloudExadataInfrastructures_Get",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "Get a CloudExadataInfrastructure",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudExadataInfrastructureName",
            "in": "path",
            "description": "CloudExadataInfrastructure name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructure"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CloudExadataInfrastructures_Create",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "Create a CloudExadataInfrastructure",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudExadataInfrastructureName",
            "in": "path",
            "description": "CloudExadataInfrastructure name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructure"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CloudExadataInfrastructure' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructure"
            }
          },
          "201": {
            "description": "Resource 'CloudExadataInfrastructure' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructure"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CloudExadataInfrastructures_Update",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "Update a CloudExadataInfrastructure",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudExadataInfrastructureName",
            "in": "path",
            "description": "CloudExadataInfrastructure name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructureUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructure"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CloudExadataInfrastructures_Delete",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "Delete a CloudExadataInfrastructure",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudExadataInfrastructureName",
            "in": "path",
            "description": "CloudExadataInfrastructure name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudExadataInfrastructures/{cloudExadataInfrastructureName}/getOciAccountName": {
      "post": {
        "operationId": "CloudExadataInfrastructures_GetOciAccountName",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "Get OCI Account Name",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudExadataInfrastructureName",
            "in": "path",
            "description": "CloudExadataInfrastructure name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "type": "string"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudExadataInfrastructures/{cloudExadataInfrastructureName}/resourceCreationValidate": {
      "post": {
        "operationId": "CloudExadataInfrastructures_ResourceCreationValidate",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudExadataInfrastructureName",
            "in": "path",
            "description": "CloudExadataInfrastructure name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructureProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudExadataInfrastructures/{cloudExadataInfrastructureName}/resourceDeletionValidate": {
      "post": {
        "operationId": "CloudExadataInfrastructures_ResourceDeletionValidate",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudExadataInfrastructureName",
            "in": "path",
            "description": "CloudExadataInfrastructure name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructureProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudExadataInfrastructures/{cloudExadataInfrastructureName}/resourcePatchValidate": {
      "post": {
        "operationId": "CloudExadataInfrastructures_ResourcePatchValidate",
        "tags": [
          "CloudExadataInfrastructures"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudExadataInfrastructureName",
            "in": "path",
            "description": "CloudExadataInfrastructure name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudExadataInfrastructureProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters": {
      "get": {
        "operationId": "CloudVmClusters_ListByResourceGroup",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "List CloudVmCluster resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudVmClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}": {
      "get": {
        "operationId": "CloudVmClusters_Get",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "Get a CloudVmCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudVmCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CloudVmClusters_Create",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "Create a CloudVmCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudVmCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CloudVmCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CloudVmCluster"
            }
          },
          "201": {
            "description": "Resource 'CloudVmCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CloudVmCluster"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CloudVmClusters_Update",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "Update a CloudVmCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudVmClusterUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudVmCluster"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CloudVmClusters_Delete",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "Delete a CloudVmCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/addVm": {
      "post": {
        "operationId": "CloudVmClusters_AddVm",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddVirtualMachine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudVmCluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/resourceCreationValidate": {
      "post": {
        "operationId": "CloudVmClusters_ResourceCreationValidate",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudVmClusterProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/resourceDeletionValidate": {
      "post": {
        "operationId": "CloudVmClusters_ResourceDeletionValidate",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudVmClusterProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/resourcePatchValidate": {
      "post": {
        "operationId": "CloudVmClusters_ResourcePatchValidate",
        "tags": [
          "CloudVmClusters"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudVmClusterProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListByCloudVmCluster",
        "tags": [
          "VirtualMachines"
        ],
        "description": "List VirtualMachine resources by CloudVmCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/virtualMachines/{virtualMachineName}": {
      "post": {
        "operationId": "VirtualMachines_Action",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Perform action on virtual machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualMachineName",
            "in": "path",
            "description": "Virtual machine name",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "query",
            "description": "Vm action enum",
            "required": true,
            "type": "string",
            "enum": [
              "Start",
              "Stop",
              "SoftReset"
            ],
            "x-ms-enum": {
              "name": "ActionEnum",
              "modelAsString": true,
              "values": [
                {
                  "name": "Start",
                  "value": "Start",
                  "description": "Start VM"
                },
                {
                  "name": "Stop",
                  "value": "Stop",
                  "description": "Stop VM"
                },
                {
                  "name": "SoftReset",
                  "value": "SoftReset",
                  "description": "Soft reset VM"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualMachines_Delete",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Delete a VirtualMachine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualMachineName",
            "in": "path",
            "description": "Virtual machine name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/virtualNetworkAddress": {
      "get": {
        "operationId": "VirtualNetworkAddresses_ListByCloudVmCluster",
        "description": "List VirtualNetworkAddress resources by CloudVmCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/virtualNetworkAddress/{virtualNetworkAddressName}": {
      "put": {
        "operationId": "VirtualNetworkAddresses_Create",
        "description": "Create a VirtualNetworkAddress",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualNetworkAddressName",
            "in": "path",
            "description": "Virtual IP address hostname.",
            "required": true,
            "type": "string",
            "format": "^[a-zA-Z0-9-]+",
            "minLength": 1,
            "maxLength": 63
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkAddress' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAddress"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkAddress' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAddress"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualNetworkAddresses_Delete",
        "description": "Delete a VirtualNetworkAddress",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualNetworkAddressName",
            "in": "path",
            "description": "Virtual IP address hostname.",
            "required": true,
            "type": "string",
            "format": "^[a-zA-Z0-9-]+",
            "minLength": 1,
            "maxLength": 63
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/virtualNetworkAddress/{virtualNetworkAddressName}/resourceCreationValidate": {
      "post": {
        "operationId": "VirtualNetworkAddresses_ResourceCreationValidate",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualNetworkAddressName",
            "in": "path",
            "description": "Virtual IP address hostname.",
            "required": true,
            "type": "string",
            "format": "^[a-zA-Z0-9-]+",
            "minLength": 1,
            "maxLength": 63
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAddressProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudVmClusters/{cloudVmClusterName}/virtualNetworkAddress/{virtualNetworkAddressName}/resourceDeletionValidate": {
      "post": {
        "operationId": "VirtualNetworkAddresses_ResourceDeletionValidate",
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudVmClusterName",
            "in": "path",
            "description": "CloudVmCluster name",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualNetworkAddressName",
            "in": "path",
            "description": "Virtual IP address hostname.",
            "required": true,
            "type": "string",
            "format": "^[a-zA-Z0-9-]+",
            "minLength": 1,
            "maxLength": 63
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAddressProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccountProperties": {
      "type": "object",
      "description": "Account Properties model",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "The email address used to create the Oracle account.",
          "minLength": 1,
          "maxLength": 320
        },
        "firstName": {
          "type": "string",
          "description": "The first name used to create the Oracle account.",
          "minLength": 1,
          "maxLength": 200
        },
        "lastName": {
          "type": "string",
          "description": "The last name used to create the Oracle account.",
          "minLength": 1,
          "maxLength": 200
        },
        "password": {
          "$ref": "#/definitions/Password",
          "description": "The password name used to create the Oracle account.",
          "minLength": 8,
          "maxLength": 40
        },
        "cloudAccountName": {
          "type": "string",
          "description": "The Cloud Account name used to create the Oracle Tenancy.",
          "minLength": 1,
          "maxLength": 25
        },
        "homeRegion": {
          "$ref": "#/definitions/HomeRegion",
          "description": "The Cloud home region used to create the Oracle Tenancy."
        }
      },
      "required": [
        "emailAddress",
        "firstName",
        "lastName",
        "password",
        "cloudAccountName",
        "homeRegion"
      ]
    },
    "ActionEnum": {
      "type": "string",
      "description": "Vm action enum",
      "enum": [
        "Start",
        "Stop",
        "SoftReset"
      ],
      "x-ms-enum": {
        "name": "ActionEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Start",
            "value": "Start",
            "description": "Start VM"
          },
          {
            "name": "Stop",
            "value": "Stop",
            "description": "Stop VM"
          },
          {
            "name": "SoftReset",
            "value": "SoftReset",
            "description": "Soft reset VM"
          }
        ]
      }
    },
    "AddVirtualMachine": {
      "type": "object",
      "description": "Add virtual machine model",
      "properties": {
        "dbServers": {
          "type": "array",
          "description": "Db servers ocids",
          "items": {
            "$ref": "#/definitions/Ocid"
          }
        }
      },
      "required": [
        "dbServers"
      ]
    },
    "Azure.Core.ipV4Address": {
      "type": "string",
      "format": "ipV4Address",
      "description": "Represent an IP V4 address serialized as a string.\n\nIt is formatted as four 8-bit fields separated by periods."
    },
    "CloudExadataInfrastructure": {
      "type": "object",
      "description": "CloudExadataInfrastructure resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudExadataInfrastructureProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "zones": {
          "type": "array",
          "description": "CloudExadataInfrastructure zones",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "zones"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CloudExadataInfrastructureId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Oracle.Database/cloudExadataInfrastructures"
          }
        ]
      }
    },
    "CloudExadataInfrastructureListResult": {
      "type": "object",
      "description": "The response of a CloudExadataInfrastructure list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CloudExadataInfrastructure items on this page",
          "items": {
            "$ref": "#/definitions/CloudExadataInfrastructure"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CloudExadataInfrastructureProperties": {
      "type": "object",
      "description": "CloudExadataInfrastructure resource model",
      "properties": {
        "ocid": {
          "$ref": "#/definitions/Ocid",
          "description": "Exadata infra ocid",
          "readOnly": true
        },
        "computeCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of compute servers for the cloud Exadata infrastructure.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "storageCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of storage servers for the cloud Exadata infrastructure.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "totalStorageSizeInGbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The total storage allocated to the cloud Exadata infrastructure resource, in gigabytes (GB).",
          "readOnly": true
        },
        "availableStorageSizeInGbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The available storage can be allocated to the cloud Exadata infrastructure resource, in gigabytes (GB).",
          "readOnly": true
        },
        "timeCreated": {
          "type": "string",
          "description": "The date and time the cloud Exadata infrastructure resource was created.",
          "readOnly": true
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Additional information about the current lifecycle state.",
          "readOnly": true
        },
        "maintenanceWindow": {
          "$ref": "#/definitions/MaintenanceWindow",
          "description": "maintenanceWindow property",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "estimatedPatchingTime": {
          "$ref": "#/definitions/EstimatedPatchingTime",
          "description": "The estimated total time required in minutes for all patching operations (database server, storage server, and network switch patching).",
          "readOnly": true
        },
        "customerContacts": {
          "type": "array",
          "description": "The list of customer email addresses that receive information from Oracle about the specified OCI Database service resource. Oracle uses these email addresses to send notifications about planned and unplanned software maintenance updates, information about system hardware, and other information needed by administrators. Up to 10 email addresses can be added to the customer contacts for a cloud Exadata infrastructure instance. ",
          "items": {
            "$ref": "#/definitions/CustomerContact"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/CloudExadataInfrastructureProvisioningState",
          "description": "CloudExadataInfrastructure provisioning state",
          "readOnly": true
        },
        "shape": {
          "$ref": "#/definitions/DbSystemShapeId",
          "description": "The model name of the cloud Exadata infrastructure resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ociUrl": {
          "type": "string",
          "description": "HTTPS link to OCI resources exposed to Azure Customer via Azure Interface.",
          "readOnly": true
        },
        "cpuCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The total number of CPU cores allocated.",
          "readOnly": true
        },
        "maxCpuCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The total number of CPU cores available.",
          "readOnly": true
        },
        "memorySizeInGbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The memory allocated in GBs.",
          "readOnly": true
        },
        "maxMemoryInGbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The total memory available in GBs.",
          "readOnly": true
        },
        "dbNodeStorageSizeInGbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The local node storage to be allocated in GBs.",
          "readOnly": true
        },
        "maxDbNodeStorageSizeInGbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The total local node storage available in GBs.",
          "readOnly": true
        },
        "dataStorageSizeInTbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity of data in the database, in terabytes.",
          "readOnly": true
        },
        "maxDataStorageInTbs": {
          "type": "number",
          "format": "double",
          "description": "The total available DATA disk group size.",
          "readOnly": true
        },
        "dbServerVersion": {
          "type": "string",
          "description": "The software version of the database servers (dom0) in the Exadata infrastructure.",
          "readOnly": true
        },
        "storageServerVersion": {
          "type": "string",
          "description": "The software version of the storage servers (cells) in the Exadata infrastructure.",
          "readOnly": true
        },
        "activatedStorageCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The requested number of additional storage servers activated for the Exadata infrastructure.",
          "readOnly": true
        },
        "additionalStorageCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The requested number of additional storage servers for the Exadata infrastructure.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The name for the Exadata infrastructure.",
          "minLength": 1,
          "maxLength": 255,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "lastMaintenanceRunId": {
          "$ref": "#/definitions/Ocid",
          "description": "The OCID of the last maintenance run.",
          "readOnly": true
        },
        "nextMaintenanceRunId": {
          "$ref": "#/definitions/Ocid",
          "description": "The OCID of the next maintenance run.",
          "readOnly": true
        },
        "definedFileSystemConfigurations": {
          "type": "string",
          "description": "definedFileSystemConfigurations",
          "readOnly": true
        },
        "monthlyDbServerVersion": {
          "type": "string",
          "description": "monthlyDbServerVersion",
          "readOnly": true
        },
        "monthlyStorageServerVersion": {
          "type": "string",
          "description": "monthlyStorageServerVersion",
          "readOnly": true
        }
      },
      "required": [
        "shape",
        "displayName"
      ]
    },
    "CloudExadataInfrastructureProvisioningState": {
      "type": "string",
      "description": "CloudExadataInfrastructureProvisioningState enum",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Available",
        "Updating",
        "Terminating",
        "Terminated",
        "MaintenanceInProgress"
      ],
      "x-ms-enum": {
        "name": "CloudExadataInfrastructureProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning value"
          },
          {
            "name": "Available",
            "value": "Available",
            "description": "Available value"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating value"
          },
          {
            "name": "Terminating",
            "value": "Terminating",
            "description": "Terminating value"
          },
          {
            "name": "Terminated",
            "value": "Terminated",
            "description": "Terminated value"
          },
          {
            "name": "MaintenanceInProgress",
            "value": "MaintenanceInProgress",
            "description": "MaintenanceInProgress value"
          }
        ]
      }
    },
    "CloudExadataInfrastructureUpdate": {
      "type": "object",
      "description": "The type used for update operations of the CloudExadataInfrastructure.",
      "properties": {
        "zones": {
          "type": "array",
          "description": "CloudExadataInfrastructure zones",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CloudVmCluster": {
      "type": "object",
      "description": "CloudVmCluster resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudVmClusterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CloudVmClusterListResult": {
      "type": "object",
      "description": "The response of a CloudVmCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CloudVmCluster items on this page",
          "items": {
            "$ref": "#/definitions/CloudVmCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CloudVmClusterProperties": {
      "type": "object",
      "description": "CloudVmCluster resource model",
      "properties": {
        "ocid": {
          "$ref": "#/definitions/Ocid",
          "description": "Cloud VM Cluster ocid",
          "readOnly": true
        },
        "listenerPort": {
          "type": "integer",
          "format": "int64",
          "description": "The port number configured for the listener on the cloud VM cluster.",
          "readOnly": true
        },
        "nodeCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of nodes in the cloud VM cluster. ",
          "readOnly": true
        },
        "storageSizeInGbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The data disk group size to be allocated in GBs per VM."
        },
        "storageSizeInTbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The data disk group size to be allocated in TBs per storage."
        },
        "nodeStorageSizeInGbs": {
          "type": "integer",
          "format": "uint32",
          "description": "The local node storage to be allocated in GBs per VM."
        },
        "timeCreated": {
          "type": "string",
          "description": "The date and time that the cloud VM cluster was created.",
          "readOnly": true
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Additional information about the current lifecycle state.",
          "readOnly": true
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the cloud VM cluster. For details, see [Exadata Infrastructure Time Zones](/Content/Database/References/timezones.htm).",
          "minLength": 1,
          "maxLength": 255,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "hostname": {
          "type": "string",
          "description": "The hostname for the cloud VM cluster.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "domain": {
          "type": "string",
          "description": "The domain name for the cloud VM cluster.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of CPU cores enabled on the cloud VM cluster."
        },
        "ocpuCount": {
          "type": "number",
          "format": "float",
          "description": "The number of OCPU cores to enable on the cloud VM cluster. Only 1 decimal place is allowed for the fractional part."
        },
        "clusterName": {
          "type": "string",
          "description": "The cluster name for cloud VM cluster. The cluster name must begin with an alphabetic character, and may contain hyphens (-). Underscores (_) are not permitted. The cluster name can be no longer than 11 characters and is not case sensitive. ",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "dataStoragePercentage": {
          "type": "integer",
          "format": "uint32",
          "description": "The percentage assigned to DATA storage (user data and database files). The remaining percentage is assigned to RECO storage (database redo logs, archive logs, and recovery manager backups). Accepted values are 35, 40, 60 and 80. The default is 80 percent assigned to DATA storage. See [Storage Configuration](/Content/Database/Concepts/exaoverview.htm#Exadata) in the Exadata documentation for details on the impact of the configuration settings on storage. ",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "isLocalBackupEnabled": {
          "type": "boolean",
          "description": "If true, database backup on local Exadata storage is configured for the cloud VM cluster. If false, database backup on local Exadata storage is not available in the cloud VM cluster. ",
          "default": false,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "cloudExadataInfrastructureId": {
          "$ref": "#/definitions/CloudExadataInfrastructureId",
          "description": "Cloud Exadata Infrastructure ID",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "isSparseDiskgroupEnabled": {
          "type": "boolean",
          "description": "If true, sparse disk group is configured for the cloud VM cluster. If false, sparse disk group is not created. ",
          "default": false,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "systemVersion": {
          "type": "string",
          "description": "Operating system version of the image.",
          "minLength": 1,
          "maxLength": 255,
          "readOnly": true
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "The public key portion of one or more key pairs used for SSH access to the cloud VM cluster.",
          "items": {
            "type": "string"
          }
        },
        "licenseModel": {
          "$ref": "#/definitions/LicenseModel",
          "description": "The Oracle license model that applies to the cloud VM cluster. The default is LICENSE_INCLUDED. "
        },
        "diskRedundancy": {
          "$ref": "#/definitions/DiskRedundancy",
          "description": "The type of redundancy configured for the cloud Vm cluster. NORMAL is 2-way redundancy. HIGH is 3-way redundancy. ",
          "readOnly": true
        },
        "scanIps": {
          "type": "array",
[...]
