{
  "swagger": "2.0",
  "info": {
    "title": "Cloud for Sovereignty Resource Provider.",
    "version": "2024-07-31-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "LandingZonesConfigurations"
    },
    {
      "name": "LandingZoneRegistrations"
    },
    {
      "name": "TransparencyLogs"
    },
    {
      "name": "LzcProxyOperations"
    },
    {
      "name": "LzcLocationBasedProxyOperations"
    },
    {
      "name": "SovereignAccountOperations"
    },
    {
      "name": "LzcChildProxyOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Sovereign/landingZoneConfigurations": {
      "get": {
        "operationId": "LandingZonesConfigurations_ListByTenant",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "List LandingZoneConfiguration resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{name}": {
      "get": {
        "operationId": "LandingZonesConfigurations_Get",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Get a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "LandingZonesConfigurations_CreateOrUpdate",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Create a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZonesConfigurations_Update",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Update a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "LandingZonesConfigurations_Delete",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Delete a LandingZoneConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{name}/createCopy": {
      "post": {
        "operationId": "LandingZonesConfigurations_CreateCopy",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Provides a mechanism to create a copy of the landing zone configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCopyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateCopyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{name}/generateLandingZone": {
      "post": {
        "operationId": "LandingZonesConfigurations_GenerateLandingZone",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Generate the landing zone.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateLandingZoneResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneConfigurations/{name}/updateAuthoringStatus": {
      "post": {
        "operationId": "LandingZonesConfigurations_UpdateAuthoringStatus",
        "tags": [
          "LandingZonesConfigurations"
        ],
        "description": "Provides a mechanism to update the authoring status.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the landing zone configuration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAuthoringStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateAuthoringStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneRegistrations": {
      "get": {
        "operationId": "LandingZoneRegistrations_ListByTenant",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "List LandingZoneRegistration resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/landingZoneRegistrations/{name}": {
      "get": {
        "operationId": "LandingZoneRegistrations_Get",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Get a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Landing Zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "LandingZoneRegistrations_CreateOrUpdate",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Create a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Landing Zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LandingZoneRegistration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "201": {
            "description": "Resource 'LandingZoneRegistration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LandingZoneRegistrations_Update",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Update a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Landing Zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistrationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LandingZoneRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "LandingZoneRegistrations_Delete",
        "tags": [
          "LandingZoneRegistrations"
        ],
        "description": "Delete a LandingZoneRegistration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Landing Zone registration resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Sovereign/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/transparencyLogs": {
      "get": {
        "operationId": "TransparencyLogs_ListByTenant",
        "tags": [
          "TransparencyLogs"
        ],
        "description": "List TransparencyLog resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TransparencyLogListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Sovereign/transparencyLogs/{name}": {
      "get": {
        "operationId": "TransparencyLogs_Get",
        "tags": [
          "TransparencyLogs"
        ],
        "description": "Get a TransparencyLog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Transparency Log resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TransparencyLog"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "TransparencyLogs_Create",
        "tags": [
          "TransparencyLogs"
        ],
        "description": "Create a TransparencyLog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Transparency Log resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransparencyLog"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TransparencyLog' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TransparencyLog"
            }
          },
          "201": {
            "description": "Resource 'TransparencyLog' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/TransparencyLog"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "TransparencyLogs_Update",
        "tags": [
          "TransparencyLogs"
        ],
        "description": "Update a TransparencyLog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Transparency Log resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransparencyLogUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TransparencyLog"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "TransparencyLogs_Delete",
        "tags": [
          "TransparencyLogs"
        ],
        "description": "Delete a TransparencyLog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Transparency Log resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/lzcProxys": {
      "get": {
        "operationId": "LzcProxyOperations_ListBySubscription",
        "tags": [
          "LzcProxyOperations"
        ],
        "description": "List LzcProxy resources by subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcProxyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/lzcProxys/{name}": {
      "get": {
        "operationId": "LzcProxyOperations_Get",
        "tags": [
          "LzcProxyOperations"
        ],
        "description": "Get a LzcProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The proxy resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "LzcProxyOperations_Create",
        "tags": [
          "LzcProxyOperations"
        ],
        "description": "Create a LzcProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The proxy resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LzcProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LzcProxy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LzcProxy"
            }
          },
          "201": {
            "description": "Resource 'LzcProxy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LzcProxy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LzcProxyOperations_Update",
        "tags": [
          "LzcProxyOperations"
        ],
        "description": "Update a LzcProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The proxy resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LzcProxyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "LzcProxyOperations_Delete",
        "tags": [
          "LzcProxyOperations"
        ],
        "description": "Delete a LzcProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The proxy resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/sovereignaccounts": {
      "get": {
        "operationId": "SovereignAccountOperations_ListBySubscription",
        "tags": [
          "SovereignAccountOperations"
        ],
        "description": "List SovereignAccount resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/locations/{location}/lzclocationbasedproxys": {
      "get": {
        "operationId": "LzcLocationBasedProxyOperations_ListByLocation",
        "tags": [
          "LzcLocationBasedProxyOperations"
        ],
        "description": "List LzcLocationBasedProxy resources by Location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcLocationBasedProxyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/locations/{location}/lzclocationbasedproxys/{lzclocationbasedproxyname}": {
      "get": {
        "operationId": "LzcLocationBasedProxyOperations_Get",
        "tags": [
          "LzcLocationBasedProxyOperations"
        ],
        "description": "Get a LzcLocationBasedProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "lzclocationbasedproxyname",
            "in": "path",
            "description": "The location based proxy.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcLocationBasedProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "LzcLocationBasedProxyOperations_Create",
        "tags": [
          "LzcLocationBasedProxyOperations"
        ],
        "description": "Create a LzcLocationBasedProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "lzclocationbasedproxyname",
            "in": "path",
            "description": "The location based proxy.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LzcLocationBasedProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LzcLocationBasedProxy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LzcLocationBasedProxy"
            }
          },
          "201": {
            "description": "Resource 'LzcLocationBasedProxy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LzcLocationBasedProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "LzcLocationBasedProxyOperations_Update",
        "tags": [
          "LzcLocationBasedProxyOperations"
        ],
        "description": "Update a LzcLocationBasedProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "lzclocationbasedproxyname",
            "in": "path",
            "description": "The location based proxy.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LzcLocationBasedProxyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcLocationBasedProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "LzcLocationBasedProxyOperations_Delete",
        "tags": [
          "LzcLocationBasedProxyOperations"
        ],
        "description": "Delete a LzcLocationBasedProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "lzclocationbasedproxyname",
            "in": "path",
            "description": "The location based proxy.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignaccounts": {
      "get": {
        "operationId": "SovereignAccountOperations_ListByResourceGroup",
        "tags": [
          "SovereignAccountOperations"
        ],
        "description": "List SovereignAccount resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignaccounts/{name}": {
      "get": {
        "operationId": "SovereignAccountOperations_Get",
        "tags": [
          "SovereignAccountOperations"
        ],
        "description": "Get a SovereignAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "SovereignAccountOperations_CreateOrUpdate",
        "tags": [
          "SovereignAccountOperations"
        ],
        "description": "Create a SovereignAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SovereignAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SovereignAccount"
            }
          },
          "201": {
            "description": "Resource 'SovereignAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SovereignAccount"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SovereignAccountOperations_Update",
        "tags": [
          "SovereignAccountOperations"
        ],
        "description": "Update a SovereignAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignAccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "SovereignAccountOperations_Delete",
        "tags": [
          "SovereignAccountOperations"
        ],
        "description": "Delete a SovereignAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignaccounts/{name}/lzcchildproxys": {
      "get": {
        "operationId": "LzcChildProxyOperations_ListBySovereignAccount",
        "tags": [
          "LzcChildProxyOperations"
        ],
        "description": "List LzcChildProxy resources by SovereignAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcChildProxyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignaccounts/{name}/lzcchildproxys/{childName}": {
      "get": {
        "operationId": "LzcChildProxyOperations_Get",
        "tags": [
          "LzcChildProxyOperations"
        ],
        "description": "Get a LzcChildProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "childName",
            "in": "path",
            "description": "The job name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcChildProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "LzcChildProxyOperations_Create",
        "tags": [
          "LzcChildProxyOperations"
        ],
        "description": "Create a LzcChildProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "childName",
            "in": "path",
            "description": "The job name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LzcChildProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LzcChildProxy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LzcChildProxy"
            }
          },
          "201": {
            "description": "Resource 'LzcChildProxy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LzcChildProxy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LzcChildProxyOperations_Update",
        "tags": [
          "LzcChildProxyOperations"
        ],
        "description": "Update a LzcChildProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "childName",
            "in": "path",
            "description": "The job name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LzcChildProxyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LzcChildProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "LzcChildProxyOperations_Delete",
        "tags": [
          "LzcChildProxyOperations"
        ],
        "description": "Delete a LzcChildProxy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The parent sovereign account",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "childName",
            "in": "path",
            "description": "The job name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AuthoringStatus": {
      "type": "string",
      "description": "The authoring status for a landing zone configuration.",
      "enum": [
        "Authoring",
        "ReadyForUse",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AuthoringStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Authoring",
            "value": "Authoring",
            "description": "This is the default status when a create configuration request is made. In this state, the Landing Zone configuration can be updated."
          },
          {
            "name": "ReadyForUse",
            "value": "ReadyForUse",
            "description": "This status is set when the configuration changes are complete and the configuration is ready for code generation"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "This status is set when the landing zone configuration is no longer in use."
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CreateCopyRequest": {
      "type": "object",
      "description": "The request for the create copy action of landing zone configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the new landing zone configuration resource.",
          "pattern": "^[a-zA-Z0-9-]{3,24}$"
        }
      },
      "required": [
        "name"
      ]
    },
    "CreateCopyResponse": {
      "type": "object",
      "description": "The response of the create copy action of landing zone configuration.",
      "properties": {
        "copiedLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The id of the copied landing zone configuration resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "copiedLandingZoneConfigurationId"
      ]
    },
    "Culture": {
      "type": "string",
      "description": "Supported cultures.",
      "enum": [
        "cs-CZ",
        "de-DE",
        "en-GB",
        "en-US",
        "es-ES",
        "fr-FR",
        "hu-HU",
        "id-ID",
        "it-IT",
        "ja-JP",
        "ko-KR",
        "nl-NL",
        "pl-PL",
        "pt-BR",
        "pt-PT",
        "ru-RU",
        "sv-SE",
        "tr-TR",
        "zh-CN",
        "zh-TW"
      ],
      "x-ms-enum": {
        "name": "Culture",
        "modelAsString": true,
        "values": [
          {
            "name": "cs_CZ",
            "value": "cs-CZ",
            "description": "Czech (Czechia)"
          },
          {
            "name": "de_DE",
            "value": "de-DE",
            "description": "German (Germany)"
          },
          {
            "name": "en_GB",
            "value": "en-GB",
            "description": "English (United Kingdom)"
          },
          {
            "name": "en_US",
            "value": "en-US",
            "description": "English (United States)"
          },
          {
            "name": "es_ES",
            "value": "es-ES",
            "description": "Spanish (Spain)"
          },
          {
            "name": "fr_FR",
            "value": "fr-FR",
            "description": "French (France)"
          },
          {
            "name": "hu_HU",
            "value": "hu-HU",
            "description": "Hungarian (Hungary)"
          },
          {
            "name": "id_ID",
            "value": "id-ID",
            "description": "Indonesian (Indonesia)"
          },
          {
            "name": "it_IT",
            "value": "it-IT",
            "description": "Italian (Italy)"
          },
          {
            "name": "ja_JP",
            "value": "ja-JP",
            "description": "Japanese (Japan)"
          },
          {
            "name": "ko_KR",
            "value": "ko-KR",
            "description": "Korean (Korea)"
          },
          {
            "name": "nl_NL",
            "value": "nl-NL",
            "description": "Dutch (Netherlands)"
          },
          {
            "name": "pl_PL",
            "value": "pl-PL",
            "description": "Polish (Poland)"
          },
          {
            "name": "pt_BR",
            "value": "pt-BR",
            "description": "Portuguese (Brazil)"
          },
          {
            "name": "pt_PT",
            "value": "pt-PT",
            "description": "Portuguese (Portugal)"
          },
          {
            "name": "ru_RU",
            "value": "ru-RU",
            "description": "Russian (Russia)"
          },
          {
            "name": "sv_SE",
            "value": "sv-SE",
            "description": "Swedish (Sweden)"
          },
          {
            "name": "tr_TR",
            "value": "tr-TR",
            "description": "Turkish (Türkiye)"
          },
          {
            "name": "zh_CN",
            "value": "zh-CN",
            "description": "Chinese (Simplified)"
          },
          {
            "name": "zh_TW",
            "value": "zh-TW",
            "description": "Chinese (Traditional)"
          }
        ]
      }
    },
    "DecommissionedManagementGroupProperties": {
      "type": "object",
      "description": "Decommissioned management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false, this management group will not be created. The default value is false."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "DecommissionedManagementGroupPropertiesUpdate": {
      "type": "object",
      "description": "Decommissioned management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false, this management group will not be created. The default value is false."
        }
      }
    },
    "FileFormat": {
      "type": "string",
      "description": "Supported file formats.",
      "enum": [
        "None",
        "CSV"
      ],
      "x-ms-enum": {
        "name": "FileFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No file requested."
          },
          {
            "name": "CSV",
            "value": "CSV",
            "description": "Comma separated values."
          }
        ]
      }
    },
    "FirewallCreationOptions": {
      "type": "string",
      "description": "The input values for creating or using an existing firewall resource.",
      "enum": [
        "None",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "FirewallCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Value when a firewall resource is not created."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Value when the firewall creation is based on the standard SKU."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Value when the firewall creation is based on the premium SKU."
          }
        ]
      }
    },
    "GenerateLandingZoneRequest": {
      "type": "object",
      "description": "The request to generate code for a landing zone.",
      "properties": {
        "infrastructureAsCodeOutputOptions": {
          "$ref": "#/definitions/InfrastructureAsCodeOutputOptions",
          "description": "The export options available for code generation."
        },
        "existingManagementSubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Management subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "existingIdentitySubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Identity subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "existingConnectivitySubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Connectivity subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "subscriptionBillingScope": {
          "type": "string",
          "description": "The full resource ID of billing scope associated to the EA, MCA or MPA account you wish to create the subscription in."
        },
        "existingTopLevelMgParentId": {
          "type": "string",
          "format": "arm-id",
          "description": "Optional parent for management group hierarchy, used as intermediate root management group parent, if specified. If empty, default will deploy beneath tenant toot management group.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "deploymentPrefix": {
          "type": "string",
          "description": "The prefix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5,
          "pattern": "^([a-zA-Z0-9-]*)$"
        },
        "deploymentSuffix": {
          "type": "string",
          "description": "The suffix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5
        },
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level management group display name.",
          "minLength": 1,
          "maxLength": 90
        },
        "deploymentLocation": {
          "type": "string",
          "description": "Location to run deployment(s) from the list of azure regions.",
          "pattern": "^([a-zA-Z0-9]+)$"
        },
        "organization": {
          "type": "string",
          "description": "The name of the country/region or agency the landing zone is being deployed for"
        }
      },
      "required": [
        "infrastructureAsCodeOutputOptions",
        "deploymentPrefix",
        "topLevelMgDisplayName",
        "deploymentLocation"
      ]
    },
    "GenerateLandingZoneResponse": {
      "type": "object",
      "description": "The response for the request to generate landing zone code.",
      "properties": {
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level Management Group display name."
        },
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the Landing Zone configuration resource."
        },
        "generatedCodeUrl": {
          "type": "string",
          "format": "password",
          "description": "The url to access the generated code..",
          "x-ms-secret": true
        }
      },
      "required": [
        "topLevelMgDisplayName",
        "landingZoneConfigurationName",
        "generatedCodeUrl"
      ]
    },
    "InfrastructureAsCodeOutputOptions": {
      "type": "string",
      "description": "Output options for landing zone code generation.",
      "enum": [
        "Bicep",
        "ARM"
      ],
      "x-ms-enum": {
        "name": "InfrastructureAsCodeOutputOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Bicep",
            "value": "Bicep",
            "description": "Value when generating Landing Zone code in Bicep."
          },
          {
            "name": "ARM",
            "value": "ARM",
            "description": "Value when generating landing zone code in Arm."
          }
        ]
      }
    },
    "LandingZoneConfiguration": {
      "type": "object",
      "description": "The Landing Zone configuration resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneConfigurationListResult": {
      "type": "object",
      "description": "The response of a LandingZoneConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneConfigurationProperties": {
      "type": "object",
      "description": "The properties of landing zone configuration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing zone configuration.",
          "readOnly": true
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The status for the landing zone configuration workflow.",
          "readOnly": true
        },
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy ddos, choose Yes, otherwise No. Select Existing to provide an existing ddos protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the ddos protection plan.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/ddosProtectionPlans"
              }
            ]
          }
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy log analytics workspace, choose Yes, otherwise No. Select UseExisting to provide an existing log analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the log analytics workspace that was created to centralize log ingestion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}.",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall, choose the Standard/Premium based on the desired SKU. Choose None for no firewall and UseExisting for a pre existing one."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR block."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the bastion service, choose Yes, otherwise No. Choose UseExisting for existing bastion service."
        },
        "existingAzureBastionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of azure bastion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/bastionHosts"
              }
            ]
          }
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure bastion subnet. IP v4 CIDR block."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone children management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the root of the landing zone deployment."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the landing zone management groups."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the platform management group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the management management group under platform."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the connectivity management group under platform."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the identity management group under platform."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedManagementGroupProperties",
          "description": "This will be applied to the decommissioned management group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxManagementGroupProperties",
          "description": "This will be applied to the sandbox management group."
        }
      },
      "required": [
        "ddosProtectionCreationOption",
        "logAnalyticsWorkspaceCreationOption",
        "firewallCreationOption",
        "gatewaySubnetCidrBlock",
        "logRetentionInDays",
        "hubNetworkCidrBlock",
        "azureBastionCreationOption"
      ]
    },
    "LandingZoneConfigurationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LandingZoneConfiguration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneConfigurationUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "LandingZoneConfigurationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LandingZoneConfiguration.",
      "properties": {
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy ddos, choose Yes, otherwise No. Select Existing to provide an existing ddos protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the ddos protection plan.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/ddosProtectionPlans"
              }
            ]
          }
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy log analytics workspace, choose Yes, otherwise No. Select UseExisting to provide an existing log analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the log analytics workspace that was created to centralize log ingestion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}.",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall, choose the Standard/Premium based on the desired SKU. Choose None for no firewall and UseExisting for a pre existing one."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR block."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the bastion service, choose Yes, otherwise No. Choose UseExisting for existing bastion service."
        },
        "existingAzureBastionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of azure bastion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/bastionHosts"
              }
            ]
          }
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure bastion subnet. IP v4 CIDR block."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone children management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the root of the landing zone deployment."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the landing zone management groups."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the platform management group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the management management group under platform."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the connectivity management group under platform."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupPropertiesUpdate",
          "description": "This will be applied to the identity management group under platform."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedManagementGroupPropertiesUpdate",
          "description": "This will be applied to the decommissioned management group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxManagementGroupPropertiesUpdate",
          "description": "This will be applied to the sandbox management group."
        }
      }
    },
    "LandingZoneManagementGroupProperties": {
      "type": "object",
      "description": "Landing zone management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Management group name."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "name"
      ]
    },
    "LandingZoneRegistration": {
      "type": "object",
      "description": "The Landing Zone registration resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LandingZoneRegistrationListResult": {
      "type": "object",
      "description": "The response of a LandingZoneRegistration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LandingZoneRegistration items on this page",
          "items": {
            "$ref": "#/definitions/LandingZoneRegistration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LandingZoneRegistrationProperties": {
      "type": "object",
      "description": "The properties of the Landing Zone registration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of a user-initiated, control-plane operation on the Landing Zone registration resource type.",
          "readOnly": true
        },
        "existingTopLevelMgId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the top level management group",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the associated landing zone configuration.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "existingTopLevelMgId",
        "existingLandingZoneConfigurationId"
      ]
    },
    "LandingZoneRegistrationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LandingZoneRegistration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LandingZoneRegistrationUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "LandingZoneRegistrationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LandingZoneRegistration.",
      "properties": {
        "existingTopLevelMgId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the top level management group",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the associated landing zone configuration.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneConfigurations"
              }
            ]
          }
        }
      }
    },
    "LzcChildProxy": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LzcProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LzcChildProxyListResult": {
      "type": "object",
      "description": "The response of a LzcChildProxy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LzcChildProxy items on this page",
          "items": {
            "$ref": "#/definitions/LzcChildProxy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LzcChildProxyUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LzcChildProxy.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LzcChildProxyUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "LzcChildProxyUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LzcChildProxy.",
      "properties": {
        "testProxyProperty": {
          "type": "string",
          "description": "Test property."
        }
      }
    },
    "LzcLocationBasedProxy": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LzcProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LzcLocationBasedProxyListResult": {
      "type": "object",
      "description": "The response of a LzcLocationBasedProxy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LzcLocationBasedProxy items on this page",
          "items": {
            "$ref": "#/definitions/LzcLocationBasedProxy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LzcLocationBasedProxyUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LzcLocationBasedProxy.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LzcLocationBasedProxyUpdateProperties",
          "x-ms-client-flatten": true
        }
[...]
