{
    "swagger": "2.0",
    "info": {
      "title": "WatchListOperator",
      "description": "The Microsoft.WatchListOperator Rest API spec.",
      "version": "2021-05-31-privatepreview",
      "x-ms-code-generation-settings": {
        "name": "WatchListOperatorClient"
      }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WatchListOperator/MyWatchlist/{MyWatchlistName}": {
        "get": {
          "operationId": "MyWatchlist_Retrieve",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/MyWatchlistNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the MyWatchlist resource.",
              "schema": {
                "$ref": "#/definitions/MyWatchlist"
              }
            }
          }
        },
        "put": {
          "operationId": "MyWatchlist_CreateOrUpdate",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/MyWatchlistNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "MyWatchlist",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MyWatchlist"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the MyWatchlist resource.",
              "schema": {
                "$ref": "#/definitions/MyWatchlist"
              }
            },
            "201": {
              "description": "Creates the MyWatchlist resource.",
              "schema": {
                "$ref": "#/definitions/MyWatchlist"
              }
            }
          }
        },
        "delete": {
          "operationId": "MyWatchlist_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/MyWatchlistNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the MyWatchlist resource."
            }
          }
        },
        "patch": {
          "operationId": "MyWatchlist_Update",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/MyWatchlistNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "MyWatchlist",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MyWatchlistPatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the MyWatchlist resource.",
              "schema": {
                "$ref": "#/definitions/MyWatchlist"
              }
            },
            "201": {
              "description": "Updates the MyWatchlist resource.",
              "schema": {
                "$ref": "#/definitions/MyWatchlist"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WatchListOperator/MyWatchlist": {
        "get": {
          "operationId": "MyWatchlist_ListByResourceGroup",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all MyWatchlist under the resouce group.",
              "schema": {
                "$ref": "#/definitions/MyWatchlistListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.WatchListOperator/MyWatchlist": {
        "get": {
          "operationId": "MyWatchlist_ListBySubscription",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all MyWatchlist under the subscription.",
              "schema": {
                "$ref": "#/definitions/MyWatchlistListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/providers/Microsoft.WatchListOperator/operations": {
        "get": {
          "operationId": "Operations_List",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Describe the result of a successful operation.",
              "schema": {
                "$ref": "#/definitions/ResourceProviderOperationList"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "MyWatchlistProperties": {
        "type": "object",
        "properties": {
          "frontend": {
            "type": "object",
            "properties": {
              "replicas": {
                "type": "integer",
                "format": "int32",
                "default": 1,
                "minimum": 0.0
              },
              "resources": {
                "type": "object",
                "properties": {
                  "limits": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Limits describes the maximum amount of compute resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/"
                  },
                  "requests": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Requests describes the minimum amount of compute resources required. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/"
                  }
                },
                "description": "ResourceRequirements describes the compute resource requirements."
              },
              "servingPort": {
                "type": "integer",
                "format": "int32",
                "default": 8080,
                "minimum": 0.0
              }
            },
            "description": "FrontendSpec speficies the frontend container spec"
          },
          "redisName": {
            "type": "string"
          },
          "provisioningState": {
            "type": "string"
          },
          "status": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            },
            "required": [
              "url"
            ],
            "description": "MyWatchlistStatus defines the observed state of MyWatchlist"
          }
        },
        "required": [
          "frontend"
        ],
        "description": "MyWatchlistSpec defines the desired state of MyWatchlist"
      },
      "MyWatchlist": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/MyWatchlistProperties"
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Id"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Type"
          },
          "location": {
            "type": "string",
            "description": "The resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "extendedLocation": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The extended location type."
              },
              "name": {
                "type": "string",
                "description": "The extended location name."
              }
            }
          }
        },
        "required": [
          "location"
        ],
        "description": "The MyWatchlist resource definition."
      },
      "MyWatchlistPatch": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "description": "The MyWatchlist resource patch definition."
      },
      "MyWatchlistListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/MyWatchlist"
            }
          },
          "nextLink": {
            "type": "string"
          }
        }
      },
      "ResourceProviderOperationList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ResourceProviderOperation"
            }
          },
          "nextLink": {
            "type": "string"
          }
        },
        "description": "Results of the request to list operations."
      },
      "ResourceProviderOperation": {
        "type": "object",
        "properties": {
          "isDataAction": {
            "type": "string",
            "description": "Indicates whether the operation applies to data-plane."
          },
          "name": {
            "type": "string",
            "description": "Operation name, in format of {provider}/{resource}/{operation}"
          },
          "display": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "description": "The resource provider."
              },
              "resource": {
                "type": "string",
                "description": "Resource on which the operation is performed."
              },
              "operation": {
                "type": "string",
                "description": "Type of operation: get, read, delete, etc."
              },
              "description": {
                "type": "string",
                "description": "Description of this operation."
              }
            },
            "description": "Display metadata associated with the operation."
          }
        },
        "description": "Results of the request to list operations."
      }
    },
    "parameters": {
      "MyWatchlistNameParameter": {
        "name": "MyWatchlistName",
        "in": "path",
        "required": true,
        "type": "string",
        "maxLength": 64,
        "minLength": 3
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
      }
    }
  }
