{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "version": "2023-10-01-preview",
    "description": "Private.Workloads Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "WorkloadResourceDefinitions"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Private.Workloads/workloadResourceDefinitions": {
      "get": {
        "operationId": "WorkloadResourceDefinitions_ListBySubscription",
        "tags": [
          "WorkloadResourceDefinitions"
        ],
        "description": "List WorkloadResourceDefinition resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadResourceDefinitions_ListBySubscription": {
            "$ref": "./examples/WorkloadResourceDefinitions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Workloads/workloadResourceDefinitions": {
      "get": {
        "operationId": "WorkloadResourceDefinitions_ListByResourceGroup",
        "tags": [
          "WorkloadResourceDefinitions"
        ],
        "description": "List WorkloadResourceDefinition resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadResourceDefinitions_ListByResourceGroup": {
            "$ref": "./examples/WorkloadResourceDefinitions_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Workloads/workloadResourceDefinitions/{workloadResourceDefinitionName}": {
      "get": {
        "operationId": "WorkloadResourceDefinitions_Get",
        "tags": [
          "WorkloadResourceDefinitions"
        ],
        "description": "Get a WorkloadResourceDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workloadResourceDefinitionName",
            "in": "path",
            "description": "The name of the WorkloadResourceDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadResourceDefinitions_Get": {
            "$ref": "./examples/WorkloadResourceDefinitions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "WorkloadResourceDefinitions_CreateOrUpdate",
        "tags": [
          "WorkloadResourceDefinitions"
        ],
        "description": "Create a WorkloadResourceDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workloadResourceDefinitionName",
            "in": "path",
            "description": "The name of the WorkloadResourceDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadResourceDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'WorkloadResourceDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceDefinition"
            }
          },
          "201": {
            "description": "Resource 'WorkloadResourceDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceDefinition"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadResourceDefinitions_CreateOrUpdate": {
            "$ref": "./examples/WorkloadResourceDefinitions_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "WorkloadResourceDefinitions_Update",
        "tags": [
          "WorkloadResourceDefinitions"
        ],
        "description": "Update a WorkloadResourceDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workloadResourceDefinitionName",
            "in": "path",
            "description": "The name of the WorkloadResourceDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadResourceDefinitionTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadResourceDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadResourceDefinitions_Update": {
            "$ref": "./examples/WorkloadResourceDefinitions_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "WorkloadResourceDefinitions_Delete",
        "tags": [
          "WorkloadResourceDefinitions"
        ],
        "description": "Delete a WorkloadResourceDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workloadResourceDefinitionName",
            "in": "path",
            "description": "The name of the WorkloadResourceDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Nodes": {
      "type": "object",
      "description": "Node model representing the resources to be created.",
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "The node ID."
        },
        "nodename": {
          "type": "string",
          "description": "The name of the node."
        },
        "component": {
          "type": "string",
          "description": "The name of the component (or) application layer"
        },
        "role": {
          "type": "string",
          "description": "The name of the role within the application (or) component."
        },
        "nodetype": {
          "type": "string",
          "description": "Defines the type of the node."
        },
        "resourceType": {
          "type": "string",
          "description": "The Azure resource type to be linked."
        },
        "resourceSku": {
          "type": "string",
          "description": "The resource SKU."
        },
        "minResourceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of resources that the user can create.",
          "minimum": 1
        },
        "additionalDetails": {
          "type": "object",
          "description": "The key-value pair for storing node specific custom (or) additional details.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "nodename",
        "component",
        "role",
        "nodetype",
        "resourceType",
        "additionalDetails"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Routes": {
      "type": "object",
      "description": "Route model represening the linkage between nodes.",
      "properties": {
        "routeId": {
          "type": "string",
          "description": "The route ID (Unique GUID)."
        },
        "sourceNodeId": {
          "type": "string",
          "description": "The Id of the source node."
        },
        "targetNodeId": {
          "type": "string",
          "description": "The Id of the target node."
        },
        "relationShip": {
          "type": "string",
          "description": "The relation ship between source and target node."
        }
      }
    },
    "WorkloadResourceDefinition": {
      "type": "object",
      "description": "WorkloadResourceDefinition resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadResourceDefinitionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WorkloadResourceDefinitionListResult": {
      "type": "object",
      "description": "The response of a WorkloadResourceDefinition list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The WorkloadResourceDefinition items on this page",
          "items": {
            "$ref": "#/definitions/WorkloadResourceDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "WorkloadResourceDefinitionProperties": {
      "type": "object",
      "description": "WorkloadResourceDefinition properties",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the workload definition."
        },
        "workloadSpecification": {
          "$ref": "#/definitions/WorkloadSpecification",
          "description": "The workload specification."
        },
        "annotations": {
          "type": "object",
          "description": "Mutable key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "workloadSpecification"
      ]
    },
    "WorkloadResourceDefinitionTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in WorkloadResourceDefinition resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WorkloadSpecification": {
      "type": "object",
      "description": "WorkloadSpecification model representing the workload definition.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the workload definition."
        },
        "definitionId": {
          "type": "string",
          "description": "The definition ID (GUID) of the workload."
        },
        "scope": {
          "type": "string",
          "description": "The name of the workload."
        },
        "nodes": {
          "type": "array",
          "description": "The nodes to be created.",
          "items": {
            "$ref": "#/definitions/Nodes"
          },
          "x-ms-identifiers": []
        },
        "routes": {
          "type": "array",
          "description": "The routes between the nodes.",
          "items": {
            "$ref": "#/definitions/Routes"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "nodes"
      ]
    }
  },
  "parameters": {}
}
