emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    emitter-output-dir: "{project-root}/.."
    azure-resource-provider-folder: "resource-manager"
    output-file: "{azure-resource-provider-folder}/{service-name}/disconnectedOperationss/{version-status}/{version}/disconnectedOperations.json"
    examples-dir: "{project-root}/examples"
    arm-types-dir: "{project-root}/../../common-types/resource-management"
  "@azure-tools/typespec-csharp":
    flavor: azure
    package-dir: "Azure.ResourceManager.DisconnectedOperationsManagement"
    clear-output-folder: true
    model-namespace: false
    namespace: "{package-dir}"
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/resource-manager"
