{
 "swagger": "2.0",
  "info": {
    "version": "2022-04-04-preview",
    "title": "DeviceRegistry",
    "description": "Device registry for IoT devices"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
     "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Devices/registries/{registryName}": {
      "put": {
        "tags": [
          "registries"
        ],
        "operationId": "Registries_CreateOrUpdate",
        "description": "The operation to create or update a device registry in Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device registry."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Registry"
            },
            "description": "Parameters supplied to the Create device registry operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a Device Registry": {
            "$ref": "./examples/Registries_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "registries"
        ],
        "operationId": "Registries_Update",
        "description": "The operation to update a device registry.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device registry."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryUpdate"
            },
            "description": "Parameters supplied to the Update device registry operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a Device Registry": {
            "$ref": "./examples/Registries_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "registries"
        ],
        "operationId": "Registries_Delete",
        "description": "The operation to remove a device registry in Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device registry."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Device Registry": {
            "$ref": "./examples/Registries_Delete.json"
          }
        }
      },
      "get": {
        "tags": [
          "registries"
        ],
        "operationId": "Registries_Get",
        "description": "Retrieves information about the device registry.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device registry."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Device Registry": {
            "$ref": "./examples/Registries_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Devices/registries": {
      "get": {
        "tags": [
          "registries"
        ],
        "operationId": "Registries_ListByResourceGroup",
        "description": "Lists all the device registries in the specified resource group. Use the nextLink property in the response to get the next page of device registries.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Device Registries by resource group": {
            "$ref": "./examples/Registries_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.Devices/registries": {
      "get": {
        "tags": [
          "registries"
        ],
        "operationId": "Registries_ListBySubscription",
        "description": "Lists all the device registries in the specified subscription. Use the nextLink property in the response to get the next page of device registries.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Device Registries by subscription": {
            "$ref": "./examples/Registries_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Devices/registries/{registryName}/devices/{deviceName}": {
      "put": {
        "tags": [
          "devices"
        ],
        "operationId": "Devices_CreateOrUpdate",
        "description": "The operation to create or update a device.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device registry where the device should be created or updated."
          },
          {
            "name": "deviceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            },
            "description": "Parameters supplied to the Create device operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a device": {
            "$ref": "./examples/Devices_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "devices"
        ],
        "operationId": "Devices_Update",
        "description": "The operation to create or update the device.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device registry where the device should be created or updated."
          },
          {
            "name": "deviceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceUpdate"
            },
            "description": "Parameters supplied to the Update device operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a device": {
            "$ref": "./examples/Devices_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "devices"
        ],
        "operationId": "Devices_Delete",
        "description": "The operation to delete the device.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the registry where the device should be deleted."
          },
          {
            "name": "deviceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a device": {
            "$ref": "./examples/Devices_Delete.json"
          }
        }
      },
      "get": {
        "tags": [
          "devices"
        ],
        "operationId": "Devices_Get",
        "description": "The operation to get the device.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device registry containing the device."
          },
          {
            "name": "deviceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get device": {
            "$ref": "./examples/Devices_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Devices/registries/{registryName}/devices": {
      "get": {
        "tags": [
          "devices"
        ],
        "operationId": "Registries_ListDevices",
        "description": "The operation to get all devices in a device registry.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the device registry containing the devices."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeviceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get all devices": {
            "$ref": "./examples/Registries_ListDevices.json"
          }
        }
      }
    },
    "/providers/Private.Devices/operations": {
      "get": {
        "tags": [
          "operations"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of device registry operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Registry": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RegistryProperties",
          "description": "Device Registry properties"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Describes a device registry."
    },
    "RegistryProperties": {
      "properties": {
        "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "The provisioning state, which only appears in the response."
        }
      },
      "description": "Describes the properties of a Device Registry."
    },
    "RegistryUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RegistryUpdateProperties",
          "description": "Device Registry properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceUpdate"
        }
      ],
      "description": "Describes a device registry Update."
    },
    "RegistryUpdateProperties": {
      "properties": {},
      "description": "Describes the properties of a device registry Update."
    },
    "RegistryListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Registry"
          },
          "description": "The list of device registries."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of Device Registries. Call ListNext() with this URI to fetch the next page of device registries."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List device registry operation response."
    },
    "Device": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DeviceProperties",
          "description": "Describes the Device properties."
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Describes a Device."
    },
    "DeviceProperties": {
      "properties": {
        "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "The provisioning state, which only appears in the response."
        }
      },
      "description": "Describes the properties of a Device."
    },
    "DeviceUpdate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DeviceUpdateProperties",
          "description": "Device properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceUpdate"
        }
      ],
      "description": "Describes a device Update."
    },
    "DeviceUpdateProperties": {
      "properties": {},
      "description": "Describes the properties of a device Update."
    },
    "DeviceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Device"
          },
          "description": "The list of devices."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of devices. Call ListNext() with this URI to fetch the next page of devices."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List device operation response."
    },
    "ResourceUpdate": {
      "description": "The Update Resource model definition.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      }
    }
  },
  "parameters": {}
}
