{
    "swagger": "2.0",
    "info": {
      "title": "VPTest",
      "description": "The Private.VPTest Rest API spec.",
      "version": "2023-04-01-preview",
      "x-ms-code-generation-settings": {
        "name": "VPTestClient"
      }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.VPTest/typeOne/{typeOneName}": {
        "get": {
          "operationId": "typeOne_Retrieve",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/typeOneNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the typeOne resource.",
              "schema": {
                "$ref": "#/definitions/typeOne"
              }
            }
          }
        },
        "put": {
          "operationId": "typeOne_CreateOrUpdate",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/typeOneNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "typeOne",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/typeOne"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the typeOne resource.",
              "schema": {
                "$ref": "#/definitions/typeOne"
              }
            },
            "201": {
              "description": "Creates the typeOne resource.",
              "schema": {
                "$ref": "#/definitions/typeOne"
              }
            }
          }
        },
        "delete": {
          "operationId": "typeOne_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/typeOneNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the typeOne resource."
            }
          }
        },
        "patch": {
          "operationId": "typeOne_Update",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/typeOneNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "typeOne",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/typeOnePatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the typeOne resource.",
              "schema": {
                "$ref": "#/definitions/typeOne"
              }
            },
            "201": {
              "description": "Updates the typeOne resource.",
              "schema": {
                "$ref": "#/definitions/typeOne"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.VPTest/typeOne": {
        "get": {
          "operationId": "typeOne_ListByResourceGroup",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all typeOne under the resouce group.",
              "schema": {
                "$ref": "#/definitions/typeOneListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Private.VPTest/typeOne": {
        "get": {
          "operationId": "typeOne_ListBySubscription",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all typeOne under the subscription.",
              "schema": {
                "$ref": "#/definitions/typeOneListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/providers/Private.VPTest/operations": {
        "get": {
          "operationId": "Operations_List",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Describe the result of a successful operation.",
              "schema": {
                "$ref": "#/definitions/ResourceProviderOperationList"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "typeOneProperties": {
        "properties": {
          "cronSpec": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "replicas": {
            "type": "integer"
          },
          "myObject": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "provisioningState": {
            "type": "string"
          }
        }
      },
      "typeOne": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/typeOneProperties"
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Id"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Type"
          },
          "location": {
            "type": "string",
            "description": "The resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "extendedLocation": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The extended location type."
              },
              "name": {
                "type": "string",
                "description": "The extended location name."
              }
            }
          }
        },
        "required": [
          "location"
        ],
        "description": "The typeOne resource definition."
      },
      "typeOnePatch": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "description": "The typeOne resource patch definition."
      },
      "typeOneListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/typeOne"
            }
          },
          "nextLink": {
            "type": "string"
          }
        }
      },
      "ResourceProviderOperationList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ResourceProviderOperation"
            }
          },
          "nextLink": {
            "type": "string"
          }
        },
        "description": "Results of the request to list operations."
      },
      "ResourceProviderOperation": {
        "type": "object",
        "properties": {
          "isDataAction": {
            "type": "string",
            "description": "Indicates whether the operation applies to data-plane."
          },
          "name": {
            "type": "string",
            "description": "Operation name, in format of {provider}/{resource}/{operation}"
          },
          "display": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "description": "The resource provider."
              },
              "resource": {
                "type": "string",
                "description": "Resource on which the operation is performed."
              },
              "operation": {
                "type": "string",
                "description": "Type of operation: get, read, delete, etc."
              },
              "description": {
                "type": "string",
                "description": "Description of this operation."
              }
            },
            "description": "Display metadata associated with the operation."
          }
        },
        "description": "Results of the request to list operations."
      }
    },
    "parameters": {
      "typeOneNameParameter": {
        "name": "typeOneName",
        "in": "path",
        "required": true,
        "type": "string",
        "maxLength": 64,
        "minLength": 3
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
      }
    }
  }