{
	"swagger": "2.0",
	"info": {
		"title": "HybridNetworkManagementClient",
		"description": "The resources in this swagger specification will be used to manage the hybrid network site.",
		"version": "2022-02-01-preview"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow.",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/sites/{siteName}": {
			"delete": {
				"tags": [
					"Sites"
				],
				"operationId": "Sites_Delete",
				"description": "Deletes the specified network site.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "Delete successful."
					},
					"202": {
						"description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
					},
					"204": {
						"description": "Request successful. Resource does not exist."
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"Delete network site": {
						"$ref": "./examples/SiteDelete.json"
					}
				},
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "location"
				}
			},
			"get": {
				"tags": [
					"Sites"
				],
				"operationId": "Sites_Get",
				"description": "Gets information about the specified network site.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "Request successful. The operation returns the resulting network site resource.",
						"schema": {
							"$ref": "#/definitions/Site"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get network site": {
						"$ref": "./examples/SiteGet.json"
					}
				}
			},
			"put": {
				"tags": [
					"Sites"
				],
				"operationId": "Sites_CreateOrUpdate",
				"description": "Creates or updates a network site.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					},
					{
						"name": "parameters",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Site"
						},
						"description": "Parameters supplied to the create or update network site operation."
					}
				],
				"responses": {
					"200": {
						"description": "Update successful. The operation returns the resulting network site resource.",
						"schema": {
							"$ref": "#/definitions/Site"
						}
					},
					"201": {
						"description": "Create successful. The operation returns the resulting network site resource.",
						"schema": {
							"$ref": "#/definitions/Site"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"Create network site": {
						"$ref": "./examples/SiteCreate.json"
					}
				},
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "azure-async-operation"
				}
			},
			"patch": {
				"tags": [
					"Sites"
				],
				"operationId": "Sites_UpdateTags",
				"description": "Updates a site update tags.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					},
					{
						"name": "parameters",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "./common.json#/definitions/TagsObject"
						},
						"description": "Parameters supplied to update network site tags."
					}
				],
				"responses": {
					"200": {
						"description": "Update successful. The operation returns the resulting network site resource.",
						"schema": {
							"$ref": "#/definitions/Site"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"Update network site tags": {
						"$ref": "./examples/SiteUpdateTags.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/sites": {
			"get": {
				"tags": [
					"Sites"
				],
				"operationId": "Sites_ListBySubscription",
				"description": "Lists all sites in the network service in a subscription.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					}
				],
				"responses": {
					"200": {
						"description": "Request is successful. The operation returns a list of hybrid network site resources.",
						"schema": {
							"$ref": "#/definitions/SiteListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"List all hybrid network sites in a subscription.": {
						"$ref": "./examples/SitesListBySubscription.json"
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/sites": {
			"get": {
				"tags": [
					"Sites"
				],
				"operationId": "Sites_ListByResourceGroup",
				"description": "Lists all sites in the network service.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "Request successful. The operation returns a list of network site resources.",
						"schema": {
							"$ref": "#/definitions/SiteListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"List all network sites": {
						"$ref": "./examples/SiteListByResourceGroup.json"
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/sites/{siteName}/siteNetworkServices/{siteNetworkServiceName}": {
			"delete": {
				"tags": [
					"SiteNetworkServices"
				],
				"operationId": "SiteNetworkServices_Delete",
				"description": "Deletes the specified site network service.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNetworkServiceNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "Delete successful."
					},
					"202": {
						"description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
					},
					"204": {
						"description": "Request successful. Resource does not exist."
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"Delete network site": {
						"$ref": "./examples/SiteNetworkServiceDelete.json"
					}
				},
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "location"
				}
			},
			"get": {
				"tags": [
					"SiteNetworkServices"
				],
				"operationId": "SiteNetworkServices_Get",
				"description": "Gets information about the specified site network service.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNetworkServiceNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "Request successful. The operation returns the resulting network site resource.",
						"schema": {
							"$ref": "#/definitions/SiteNetworkService"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"Get network site": {
						"$ref": "./examples/SiteNetworkServiceGet.json"
					}
				}
			},
			"put": {
				"tags": [
					"SiteNetworkServices"
				],
				"operationId": "SiteNetworkServices_CreateOrUpdate",
				"description": "Creates or updates a network site.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNetworkServiceNameParameter"
					},
					{
						"name": "parameters",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/SiteNetworkService"
						},
						"description": "Parameters supplied to the create or update site network service operation."
					}
				],
				"responses": {
					"200": {
						"description": "Update successful. The operation returns the resulting site network service resource.",
						"schema": {
							"$ref": "#/definitions/SiteNetworkService"
						}
					},
					"201": {
						"description": "Create successful. The operation returns the resulting site network service resource.",
						"schema": {
							"$ref": "#/definitions/SiteNetworkService"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"Create network site": {
						"$ref": "./examples/SiteNetworkServiceCreate.json"
					}
				},
				"x-ms-long-running-operation": true,
				"x-ms-long-running-operation-options": {
					"final-state-via": "azure-async-operation"
				}
			},
			"patch": {
				"tags": [
					"SiteNetworkServices"
				],
				"operationId": "SiteNetworkServices_UpdateTags",
				"description": "Updates a site update tags.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNetworkServiceNameParameter"
					},
					{
						"name": "parameters",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "./common.json#/definitions/TagsObject"
						},
						"description": "Parameters supplied to update network site tags."
					}
				],
				"responses": {
					"200": {
						"description": "Update successful. The operation returns the resulting site network service resource.",
						"schema": {
							"$ref": "#/definitions/SiteNetworkService"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"Update network site tags": {
						"$ref": "./examples/SiteNetworkServiceUpdateTags.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/sites/{siteName}/siteNetworkServices": {
			"get": {
				"tags": [
					"SiteNetworkServices"
				],
				"operationId": "SiteNetworkServices_ListByResourceGroup",
				"description": "Lists all site network services.",
				"parameters": [
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
					},
					{
						"$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
					},
					{
						"$ref": "./common.json#/parameters/SiteNameParameter"
					}
				],
				"responses": {
					"200": {
						"description": "Request successful. The operation returns a list of network site resources.",
						"schema": {
							"$ref": "#/definitions/SiteNetworkServiceListResult"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
						}
					}
				},
				"x-ms-examples": {
					"List all network sites": {
						"$ref": "./examples/SiteNetworkServiceListByResourceGroup.json"
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		}
	},
	"definitions": {
		"Site": {
			"type": "object",
			"properties": {
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SitePropertiesFormat",
					"description": "Site properties."
				},
				"systemData": {
					"x-ms-client-flatten": true,
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
					"readOnly": true,
					"description": "Metadata pertaining to creation and last modification of the resource."
				}
			},
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
				}
			],
			"description": "Site resource."
		},
		"SitePropertiesFormat": {
			"type": "object",
			"description": "Site properties.",
			"properties": {
				"provisioningState": {
					"readOnly": true,
					"$ref": "./common.json#/definitions/ProvisioningState",
					"description": "The provisioning state of the site resource. **TODO**: Confirm if this is needed."
				},
				"nfvis": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/NFVIs"
					},
					"description": "List of NFVIs"
				}
			}
		},
		"SiteListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Site"
					},
					"description": "A list of sites in a resource group."
				},
				"nextLink": {
					"type": "string",
					"readOnly": true,
					"description": "The URL to get the next set of results."
				}
			},
			"description": "Response for sites API service call."
		},
		"NFVIs": {
			"required": [
				"nfviType"
			],
			"discriminator": "nfviType",
			"type": "object",
			"properties": {
				"nfviType": {
					"$ref": "./common.json#/definitions/NFVIType",
					"description": "The NFVI type."
				}
			},
			"description": "The NFVI object."
		},
		"AzureCoreNFVIList": {
			"description": "The Azure core NFVI object.",
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/NFVIs"
				}
			],
			"properties": {
				"nfviDetails": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/AzureCoreNFVIDetails"
					},
					"description": "List of NFVIs"
				}
			},
			"x-ms-discriminator-value": "AzureCore"
		},
		"AzureCoreNFVIDetails": {
			"properties": {
				"name": {
					"type": "string",
					"description": "Name of the nfvi."
				},
				"location": {
					"type": "string",
					"description": "Location of the Azure core."
				}
			},
			"description": "The Azure Core NFVI detail."
		},
		"AzureArcK8sClusterNFVIList": {
			"description": "The AzureArcK8sCluster NFVI object.",
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/NFVIs"
				}
			],
			"properties": {
				"nfviDetails": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/AzureArcK8sClusterNFVIDetails"
					},
					"description": "List of NFVIs"
				}
			},
			"x-ms-discriminator-value": "AzureArcK8sCluster"
		},
		"AzureArcK8sClusterNFVIDetails": {
			"properties": {
				"name": {
					"type": "string",
					"description": "Name of the nfvi."
				},
				"customLocation": {
					"$ref": "./common.json#/definitions/SubResource",
					"description": "The reference to the custome location."
				},
				"isSelfManaged": {
					"type": "boolean",
					"description": "Is this NFVI self managed or not"
				}
			},
			"description": "The AzureArcK8sCluster NFVI detail."
		},
		"SiteNetworkService": {
			"type": "object",
			"properties": {
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SiteNetworkServicePropertiesFormat",
					"description": "Site network service properties."
				},
				"systemData": {
					"x-ms-client-flatten": true,
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
					"readOnly": true,
					"description": "Metadata pertaining to creation and last modification of the resource."
				}
			},
			"allOf": [
				{
					"$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
				}
			],
			"description": "Site network service resource."
		},
		"SiteNetworkServicePropertiesFormat": {
			"type": "object",
			"description": "Site network service properties.",
			"properties": {
				"provisioningState": {
					"readOnly": true,
					"$ref": "./common.json#/definitions/ProvisioningState",
					"description": "The provisioning state of the site network service resource."
				},
				"networkServiceDesign": {
					"$ref": "./common.json#/definitions/NetworkServiceDesign",
					"description": "The network function design details"
				},
				"deployNetworkFunctionList": {
					"description": "The list of deployable network functions",
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"desiredStateConfigurationGroups": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/ConfigurationGroup"
					},
					"description": "The goal state of the site network service resource."
				},
				"currentStateConfigurationGroups": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/ConfigurationGroup"
					},
					"description": "The current state of the site network service resource."
				},
				"convergenceStatus": {
					"$ref": "./common.json#/definitions/ConvergenceStatus",
					"description": "The convergence state of the site network service resource."
				}
			}
		},
		"ConfigurationGroup": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string",
					"description": "The name for the Configuration group."
				},
				"version": {
					"type": "string",
					"pattern": "(^[0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+$)",
					"description": "A 4 number format for the version number of this template file. For example, 1.0.0.0"
				}
			},
			"description": "The configuration group."
		},
		"SiteNetworkServiceListResult": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SiteNetworkService"
					},
					"description": "A list of site network services in a resource group."
				},
				"nextLink": {
					"type": "string",
					"readOnly": true,
					"description": "The URL to get the next set of results."
				}
			},
			"description": "Response for site network services API service call."
		}
	}
}