{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Standards",
    "version": "2023-10-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Deployments"
    },
    {
      "name": "DeploymentRollbacks"
    }
  ],
  "paths": {
    "/providers/Microsoft.Standards/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Standards/deployments": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_ListBySubscription",
        "description": "List Deployment resources by subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Standards/deployments/{deploymentName}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Get",
        "description": "Get a Deployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_CreateOrUpdate",
        "description": "Create a Deployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Delete",
        "description": "Delete a Deployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Standards/deployments/{deploymentName}/rollbacks": {
      "get": {
        "tags": [
          "DeploymentRollbacks"
        ],
        "operationId": "DeploymentRollbacks_ListByDeployment",
        "description": "List DeploymentRollback resources by Deployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentRollbackListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Standards/deployments/{deploymentName}/rollbacks/{rollbackName}": {
      "get": {
        "tags": [
          "DeploymentRollbacks"
        ],
        "operationId": "DeploymentRollbacks_Get",
        "description": "Get a DeploymentRollback",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          },
          {
            "name": "rollbackName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentRollback"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DeploymentRollbacks"
        ],
        "operationId": "DeploymentRollbacks_CreateOrUpdate",
        "description": "Create a DeploymentRollback",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          },
          {
            "name": "rollbackName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/DeploymentRollback"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentRollback"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/DeploymentRollback"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "DeploymentRollbacks"
        ],
        "operationId": "DeploymentRollbacks_Delete",
        "description": "Delete a DeploymentRollback",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          },
          {
            "name": "rollbackName",
            "in": "path",
            "required": true,
            "description": "The name of the standard deployment",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]*$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Deployment": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Deployment"
          },
          "x-typespec-name": "Deployment[]",
          "description": "The Deployment items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a Deployment list operation.",
      "required": [
        "value"
      ]
    },
    "DeploymentProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "region": {
          "type": "string",
          "description": "The region of the deployment"
        },
        "data": {
          "type": "string",
          "description": "Signed data blob."
        },
        "statusHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentStatus"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "DeploymentStatus[]",
          "description": "The deployment status history",
          "readOnly": true
        }
      },
      "description": "Details of the Standard deployment.",
      "required": [
        "region",
        "data"
      ]
    },
    "DeploymentRollback": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentRollbackProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A rollback of a deployment",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeploymentRollbackListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentRollback"
          },
          "x-typespec-name": "DeploymentRollback[]",
          "description": "The DeploymentRollback items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a DeploymentRollback list operation.",
      "required": [
        "value"
      ]
    },
    "DeploymentRollbackProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "statusHistory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentStatus"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "DeploymentStatus[]",
          "description": "The deployment status history",
          "readOnly": true
        }
      },
      "description": "Deployment rollback details"
    },
    "DeploymentStatus": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "The timestamp"
        },
        "level": {
          "$ref": "#/definitions/DeploymentStatusLevel",
          "description": "Status level"
        },
        "code": {
          "type": "string",
          "description": "Status code"
        },
        "message": {
          "type": "string",
          "description": "Status message"
        }
      },
      "description": "Deployment status",
      "required": [
        "timestamp",
        "level",
        "code",
        "message"
      ]
    },
    "DeploymentStatusLevel": {
      "type": "string",
      "description": "The deployment status level",
      "enum": [
        "Info",
        "Error"
      ],
      "x-ms-enum": {
        "name": "DeploymentStatusLevel",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Versions": {
      "type": "string",
      "enum": [
        "2023-10-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v1",
            "value": "2023-10-01-preview"
          }
        ]
      }
    }
  },
  "parameters": {}
}
