{
  "swagger": "2.0",
  "info": {
    "title": "JabraDeviceManagementClient",
    "description": "Jabra Devices provider",
    "version": "2020-07-23-preview"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Jabra.DeviceManager/jabraEvolve240": {
      "get": {
        "description": "Returns list of Jabra_Evolve2_40 resources.",
        "operationId": "JabraEvolve240s_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Jabra_Evolve2_40 details.",
            "schema": {
              "$ref": "#/definitions/JabraEvolve240List"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Jabra.DeviceManager/jabraEvolve240": {
      "get": {
        "description": "Returns list of Jabra_Evolve2_40.",
        "operationId": "JabraEvolve240s_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Jabra_Evolve2_40 details.",
            "schema": {
              "$ref": "#/definitions/JabraEvolve240List"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Jabra.DeviceManager/jabraEvolve240/{deviceName}": {
      "get": {
        "description": "Returns Jabra_Evolve2_40 resource for a given name.",
        "operationId": "JabraEvolve240s_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Jabra_Evolve2_40 details.",
            "schema": {
              "$ref": "#/definitions/JabraEvolve240"
            }
          },
          "404": {
            "description": "Jabra_Evolve2_40 not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update Jabra_Evolve2_40 resource.",
        "operationId": "JabraEvolve240s_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          },
          {
            "name": "Jabra_Evolve2_40",
            "description": "Jabra_Evolve2_40 details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JabraEvolve240"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/JabraEvolve240"
            }
          },
          "201": {
              "description": "Long running operation."
           },
           "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Update Jabra_Evolve2_40 resource.",
        "operationId": "JabraEvolve240s_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          },
          {
            "name": "Jabra_Evolve2_40",
            "description": "Jabra_Evolve2_40 details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JabraEvolve240"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the Jabra_Evolve2_40.",
        "operationId": "JabraEvolve240s_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok."
          },
          "204": {
            "description": "No content."
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Jabra.DeviceManager/jabraEvolve240/{deviceName}/scheduleFirmwareUpdate": {
      "post": {
        "description": "This command schedules a firmware update of the Jabra_Evolve2_40 device..",
        "operationId": "JabraEvove240s_ScheduleFirmwareUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          },
          {
            "name": "FirmwareUpdateBody",
            "description": "Firmware update details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JabraEvolve240Firmware"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "default": {
            "description": "Error response describing why firmware update failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Jabra.DeviceManager/thermostats": {
      "get": {
        "description": "Returns list of thermostat.",
        "operationId": "Thermostats_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Thermostat details.",
            "schema": {
              "$ref": "#/definitions/ThermostatList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Jabra.DeviceManager/thermostats": {
      "get": {
        "description": "Returns list of thermostat.",
        "operationId": "Thermostats_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Thermostat details.",
            "schema": {
              "$ref": "#/definitions/ThermostatList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Jabra.DeviceManager/thermostats/{deviceName}": {
      "get": {
        "description": "Returns thermostat resource for a given name.",
        "operationId": "Thermostats_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Thermostat details.",
            "schema": {
              "$ref": "#/definitions/Thermostat"
            }
          },
          "404": {
            "description": "Thermostat not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Create or update thermostat resource.",
        "operationId": "Thermostats_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          },
          {
            "name": "Thermostat",
            "description": "Thermostat details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Thermostat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Thermostat"
            }
          },
          "201": {
              "description": "Long running operation."
           },
           "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Update thermostat resource.",
        "operationId": "Thermostats_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          },
          {
            "name": "Thermostat",
            "description": "Thermostat details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Thermostat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "default": {
           "description": "Error response describing why the operation failed.",
           "schema": {
             "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
           }
         }
        }
      },
      "delete": {
        "description": "Deletes the thermostat.",
        "operationId": "Thermostats_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok."
          },
          "204": {
            "description": "No content."
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Jabra.DeviceManager/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Jabra_ListOperations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "JabraEvolve240Firmware": {
      "description": "Jabra Evolve2 40 firmware details.",
      "properties": {
        "version": {
          "description": "Firmware version.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Download url.",
          "type": "string"
        },
        "allowDowngrade": {
          "description": "Allow downgrade.",
          "type": "boolean"
        }
      }
    },
    "ExtendedLocations": {
      "description": "An extended location.",
      "properties": {
        "extendedLocation": {
          "description": "The extended locations.",
          "type": "object"
        }
      }
    },
    "JabraEvolve240": {
      "type": "object",
      "description": "The JabraEvolve240 resource.",
       "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        },
        {
          "$ref": "#/definitions/ExtendedLocations"
        }
      ],
      "properties":{
        "properties": {
          "type":"object",
            "$ref": "#/definitions/JabraEvolve240Properties",
            "description": "The JabraEvolve240 properties.",
            "x-ms-client-flatten": true
      }
    }
    },
    "JabraEvolve240List": {
      "description": "The list of JabraEvolve240 resource.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of JabraEvolve240 list.",
          "type": "string"
        },
        "value": {
          "description": "The list of JabraEvolve240.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JabraEvolve240"
          }
        }
      }
    },
    "JabraEvolve240Properties": {
      "description": "Properties for JabraEvolve240.",
      "type": "object",
      "properties": {
        "firmwareVersion": {
          "description": "The firmware version.",
          "type": "string"
        },
        "voiceAnnouncementsLanguage3": {
          "description": "Language that is used for voice announcements. (English, etc...).",
          "type": "object"
        },
        "audioProtection": {
          "description": "Select to automatically adjust the volume level in the headset to limit your daily exposure to excessive audio volume. The headset always provides protection against sound spikes. (basicPeakStop, etc...).",
          "type": "object"
        }
      }
    },
    "Thermostat": {
      "type": "object",
      "description": "The thermostat resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        },
        {
          "$ref": "#/definitions/ExtendedLocations"
        }
      ],
      "properties":{
        "properties": {
          "type":"object",
          "description":"The properties",
          "properties":{
            "maxTempSinceLastReboot": {
              "type": "string",
              "description": "The max temperature since last reboot."
            },
            "thermoStatVersion": {
              "type": "string",
              "description": "The thermostat version."
            }
        }
      }
    }
    },
    "ThermostatList": {
      "description": "The list of thermostats.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of thermostat list.",
          "type": "string"
        },
        "value": {
          "description": "The list of thermostats.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thermostat"
          }
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider.",
      "properties": {
        "display": {
          "$ref": "#/definitions/operationValueDisplay",
          "description": "Describes the properties of an Operation Value Display.",
          "x-ms-client-flatten": true
        },
        "isDataAction": {
          "description": "Is this Operation a data plane operation",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "The name of the compute operation.",
          "type": "string",
          "readOnly": true
        },
        "origin": {
          "description": "The origin of the compute operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "operationValueDisplay": {
      "description": "Describes the properties of an Operation Value Display.",
      "properties": {
        "description": {
          "description": "The description of the operation.",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "description": "The display name of the operation.",
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "description": "The resource provider for the operation.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "The display name of the resource the operation applies to.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": ["value"]
    }
  },
  "parameters": {
    "DeviceNameParameter": {
      "name": "deviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the device.",
      "x-ms-parameter-location": "method"
    }
  }
}
