{
  "swagger": "2.0",
  "info": {
    "version": "2023-03-27-preview",
    "title": "Azure Software Inventory API",
    "description": "Azure Software Inventory API",
    "x-ms-code-generation-settings": {
      "name": "softwareinventoryClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareInventory/inventoryinstances/{inventoryInstanceName}": {
        "put": {
          "tags": [
            "InventoryInstances"
          ],
          "operationId": "InventoryInstances_Create",
          "description": "Create Or Update InventoryInstance.",
          "summary": "Implements InventoryInstance PUT method.",
          "x-ms-examples": {
            "CreateInventoryInstance": {
              "$ref": "./examples/CreateInventoryInstance.json"
            }
          },
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "#/parameters/InventoryInstanceNameParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
              },
            {
              "in": "body",
              "name": "body",
              "description": "Request payload.",
              "schema": {
                "$ref": "#/definitions/InventoryInstance"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/InventoryInstance"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/InventoryInstance"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          }
        },
        "get": {
          "tags": [
            "InventoryInstances"
          ],
          "operationId": "InventoryInstances_Get",
          "summary": "Gets a InventoryInstance.",
          "description": "Implements InventoryInstance GET method.",
          "x-ms-examples": {
            "GetInventoryInstance": {
              "$ref": "./examples/GetInventoryInstance.json"
            }
          },
          "produces": [
            "application/json"
          ],
          "parameters": [
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "#/parameters/InventoryInstanceNameParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
              }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/InventoryInstance"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "InventoryInstances"
          ],
          "operationId": "InventoryInstances_Update",
          "summary": "Updates a InventoryInstance.",
          "description": "API to update certain properties of the InventoryInstance resource.",
          "x-ms-examples": {
            "UpdateInventoryInstance": {
              "$ref": "./examples/UpdateInventoryInstance.json"
            }
          },
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "#/parameters/InventoryInstanceNameParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
              },
              {
                "in": "body",
                "name": "body",
                "description": "Resource properties to update.",
                "schema": {
                  "$ref": "./commonTypes.json#/definitions/ResourceTags"
                }
              }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/InventoryInstance"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "InventoryInstances"
          ],
          "operationId": "InventoryInstances_Delete",
          "summary": "Deletes an InventoryInstance.",
          "description": "Implements InventoryInstance DELETE method.",
          "x-ms-examples": {
            "DeleteInventoryInstance": {
              "$ref": "./examples/DeleteInventoryInstance.json"
            }
          },
          "produces": [
            "application/json"
          ],
          "parameters": [
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "#/parameters/InventoryInstanceNameParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
              }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "202": {
              "description": "Accepted"
            },
            "204": {
              "description": "No Content"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.SoftwareInventory/inventoryinstances": {
        "get": {
          "tags": [
            "InventoryInstances"
          ],
          "operationId": "InventoryInstances_List",
          "summary": "Implements GET InventoryInstances in a subscription.",
          "description": "List of InventoryInstances in a subscription.",
          "x-ms-examples": {
            "ListInventoryInstances": {
              "$ref": "./examples/ListInventoryInstances.json"
            }
          },
          "produces": [
            "application/json"
          ],
          "parameters": [
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
              }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/InventoryInstancesList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SoftwareInventory/inventoryinstances": {
        "get": {
          "tags": [
            "InventoryInstances"
          ],
          "operationId": "InventoryInstances_ListByResourceGroup",
          "summary": "Implements GET InventoryInstances in a resource group.",
          "description": "List of InventoryInstances in a resource group.",
          "x-ms-examples": {
            "ListInventoryInstancesByResourceGroup": {
              "$ref": "./examples/ListInventoryInstancesByResourceGroup.json"
            }
          },
          "produces": [
            "application/json"
          ],
          "parameters": [
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
              },
              {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
              }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/InventoryInstancesList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "InventoryInstanceProperties": {
        "description": "Defines the resource properties.",
        "required": [
          "targetResourceId"
        ],
        "type": "object",
        "properties": {
          "targetResourceId": {
            "description": "Gets or sets the ARM Id for the target resource.",
            "type": "string"
          },
          "provisioningState": {
            "description": "Gets or sets the provisioning state.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "InventoryInstance": {
        "description": "Defines the InventoryInstance.",
        "required": [
          "location",
          "properties"
        ],
        "type": "object",
        "x-ms-azure-resource": true,
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "description": "Resource properties.",
            "$ref": "#/definitions/InventoryInstanceProperties"
          },
          "location": {
            "description": "Gets or sets the location.",
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "extendedLocation": {
            "$ref": "#/definitions/ExtendedLocation",
            "description": "Gets or sets the extended location."
          },
          "systemData": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
            "description": "The system data."
          },
          "tags": {
            "description": "Gets or sets the Resource tags.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "name": {
            "description": "Gets or sets the name.",
            "type": "string",
            "readOnly": true
          },
          "id": {
            "description": "Gets or sets the Id.",
            "type": "string",
            "readOnly": true
          },
          "type": {
            "description": "Gets or sets the type of the resource.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "InventoryInstancesList": {
        "description": "List of InventoryInstances.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "Url to follow for getting next page of InventoryInstances.",
            "type": "string"
          },
          "value": {
            "description": "Array of InventoryInstances",
            "type": "array",
            "items": {
              "$ref": "#/definitions/InventoryInstance"
            },
            "x-ms-identifiers": []          
          }
        },
        "required": [
          "value"
        ]
      },
      "ExtendedLocation": {
        "type": "object",
        "description": "The extended location.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The extended location type."
          },
          "name": {
            "type": "string",
            "description": "The extended location name."
          }
        }
      }
    },
    "parameters": {
        "InventoryInstanceNameParameter": {
          "name": "inventoryInstanceName",
          "in": "path",
          "required": true,
          "type": "string",
          "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$",
          "description": "Name of the inventory instance.",
          "x-ms-parameter-location": "method"
        }
    }
}
