{
    "swagger": "2.0",
    "info": {
        "title": "AIOps for Workloads API",
        "description": "AIOps for Workloads APIs",
        "version": "2022-05-25-preview",
        "contact": {
            "email": "aioperations@microsoft.com"
        }
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "type": "oauth2",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            },
            "description": "Azure Active Directory OAuth2 Flow"
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AIOpsWorkloads/instance/{instanceID}": {
            "get": {
                "tags": [
                    "Instance"
                ],
                "operationId": "Instance_Get",
                "summary": "Gets properties of a AIOPsInstance.",
                "description": "Gets properties of a AIOPsInstance for the specified subscription, resource group, and resource name.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "in": "path",
                        "name": "instanceID",
                        "description": "AIOps Account name",
                        "required": true,
                        "type": "string",
                        "maxLength": 255,
                        "pattern": "^[A-Za-z0-9]{3,10}$"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Instance"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Instance"
                ],
                "operationId": "Instance_Create",
                "summary": "Creates a AIOPsInstance.",
                "description": "Creates a AIOPsInstance for the specified subscription, resource group, and resource name.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "in": "path",
                        "name": "instanceID",
                        "description": "AIOps Account name",
                        "required": true,
                        "type": "string",
                        "maxLength": 255,
                        "pattern": "^[A-Za-z0-9]{3,10}$"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Instance"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AIOpsWorkloads/instance2/{instanceID}": {
            "get": {
                "tags": [
                    "Instance"
                ],
                "operationId": "Instance2_Get",
                "summary": "Gets properties of a AIOPsInstance.",
                "description": "Gets properties of a AIOPsInstance for the specified subscription, resource group, and resource name.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "in": "path",
                        "name": "instanceID",
                        "description": "AIOps Account name",
                        "required": true,
                        "type": "string",
                        "maxLength": 255,
                        "pattern": "^[A-Za-z0-9]{3,10}$"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Instance"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Instance"
                ],
                "operationId": "Instance2_Create",
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "azure-async-operation"
                },
                "summary": "Creates a AIOPsInstance.",
                "description": "Creates a AIOPsInstance for the specified subscription, resource group, and resource name.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "in": "path",
                        "name": "instanceID",
                        "description": "AIOps Account name",
                        "required": true,
                        "type": "string",
                        "maxLength": 255,
                        "pattern": "^[A-Za-z0-9]{3,10}$"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Created AIOpsInstance",
                        "schema": {
                            "$ref": "#/definitions/Instance"
                        }
                    },
                    "201": {
                        "description": "Creating AIOpsInstance",
                        "schema": {
                            "$ref": "#/definitions/Instance"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Instance": {
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/InstanceProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
                }
            ],
            "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)"
        },
        "InstanceProperties": {
            "type": "object",
            "properties": {
                "workloadType": {
                    "type": "string"
                },
                "billingType": {
                    "type": "string"
                },
                "customerTenant": {
                    "type": "string"
                },
                "provisioningState": {
                    "type": "string"
                }
            }
        },
        "SystemData": {
            "type": "object"
        }
    }
}