{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.FixMe",
    "version": "2021-08-01-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": ["https"],
  "host": "management.azure.com",
  "produces": ["application/json"],
  "consumes": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Deployments"
    }
  ],
  "paths": {
    "/providers/Microsoft.FixMe/operations": {
      "get": {
        "tags": ["Operations"],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_5": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.FixMe/Deployments": {
      "get": {
        "tags": ["Deployments"],
        "operationId": "Deployments_ListBySubscription",
        "description": "List Deployment resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Deployments_ListBySubscription_1": {
            "$ref": "./examples/Deployments_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FixMe/Deployments": {
      "get": {
        "tags": ["Deployments"],
        "operationId": "Deployments_ListByResourceGroup",
        "description": "List Deployment resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Deployments_ListByResourceGroup_3": {
            "$ref": "./examples/Deployments_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FixMe/Deployments/{DeploymentName}": {
      "get": {
        "tags": ["Deployments"],
        "operationId": "Deployments_Get",
        "description": "Get a Deployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "DeploymentName",
            "in": "path",
            "required": true,
            "description": "Name of Deployment.",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deployments_Get_2": {
            "$ref": "./examples/Deployments_Get.json"
          }
        }
      },
      "put": {
        "tags": ["Deployments"],
        "operationId": "Deployments_CreateOrUpdate",
        "description": "Create a Deployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "DeploymentName",
            "in": "path",
            "required": true,
            "description": "Name of Deployment.",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deployments_CreateOrUpdate_0": {
            "$ref": "./examples/Deployments_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": ["Deployments"],
        "operationId": "Deployments_Update",
        "description": "Update a Deployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "DeploymentName",
            "in": "path",
            "required": true,
            "description": "Name of Deployment.",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/DeploymentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "x-ms-examples": {
        "Deployments_Update_4": {
          "$ref": "./examples/Deployments_Update.json"
        }
      },
      "delete": {
        "tags": ["Deployments"],
        "operationId": "Deployments_Delete",
        "description": "Delete a Deployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "DeploymentName",
            "in": "path",
            "required": true,
            "description": "Name of Deployment.",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deployments_Delete_6": {
            "$ref": "./examples/Deployments_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Deployment": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": ["read", "create"]
        }
      },
      "description": "FixMe Deployment resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Deployment"
          },
          "x-cadl-name": "Deployment[]",
          "description": "The Deployment items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a Deployment list operation.",
      "required": ["value"]
    },
    "DeploymentProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "prefix": {
          "type": "string",
          "description": "Deployment Prefix.",
          "x-ms-mutability": ["update", "create"]
        },
        "publisherName": {
          "type": "string",
          "description": "Name of publisher.",
          "x-ms-mutability": ["update", "create"]
        },
        "publisherEmail": {
          "type": "string",
          "description": "Publisher Email.",
          "x-ms-mutability": ["update", "create"]
        },
        "administratorLoginPassword": {
          "type": "string",
          "description": "The administrator password of the SQL logical server.",
          "x-ms-mutability": ["update", "create"]
        },
        "synapseAdminLogin": {
          "type": "string",
          "description": "Synapse Administrator Login.",
          "x-ms-mutability": ["update", "create"]
        },
        "synapseAdminTenant": {
          "type": "string",
          "description": "Synapse Administrator Tenant.",
          "x-ms-mutability": ["update", "create"]
        },
        "synapseAdminSID": {
          "type": "string",
          "description": "Synapse Admininstrator SID.",
          "x-ms-mutability": ["update", "create"]
        },
        "adminUserName": {
          "type": "string",
          "description": "Power Plaform Admininstrator User Name.",
          "x-ms-mutability": ["update", "create"]
        },
        "adminPassword": {
          "type": "string",
          "description": "Power Plaform Admininstrator Password.",
          "x-ms-mutability": ["update", "create"]
        },
        "accessPolicyUserId": {
          "type": "string",
          "description": "Power Plaform Access Policy User Id.",
          "x-ms-mutability": ["update", "create"]
        },
        "targetTenantId": {
          "type": "string",
          "description": "Power Plaform Access Target Tenant Id.",
          "x-ms-mutability": ["update", "create"]
        },
        "helpDeskUserName": {
          "type": "string",
          "description": "Power Plaform Helpdesk User Name.",
          "x-ms-mutability": ["update", "create"]
        },
        "helpDeskUserPswd": {
          "type": "string",
          "description": "Power Plaform Helpdesk User Password.",
          "x-ms-mutability": ["update", "create"]
        },
        "targetEnvironment": {
          "type": "string",
          "description": "Power Plaform Target Environment.",
          "x-ms-mutability": ["update", "create"]
        },
        "sqlConnectionId": {
          "type": "string",
          "description": "Power Plaform SQL Connection Id.",
          "x-ms-mutability": ["update", "create"]
        },
        "oneDriveConnectionId": {
          "type": "string",
          "description": "Power Plaform One Drive Connection Id.",
          "x-ms-mutability": ["update", "create"]
        },
        "teamsConnectionId": {
          "type": "string",
          "description": "Power Plaform Teams Connection Id.",
          "x-ms-mutability": ["update", "create"]
        }
      },
      "description": "Details of the Deployment resource.",
      "required": [
        "prefix",
        "publisherName",
        "publisherEmail",
        "administratorLoginPassword",
        "synapseAdminLogin",
        "synapseAdminTenant",
        "synapseAdminSID",
        "adminUserName",
        "adminPassword",
        "accessPolicyUserId",
        "targetTenantId",
        "helpDeskUserName",
        "helpDeskUserPswd",
        "targetEnvironment",
        "sqlConnectionId",
        "oneDriveConnectionId",
        "teamsConnectionId"
      ]
    },
    "DeploymentUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the Deployment."
    },
    "DeploymentUpdateProperties": {
      "type": "object",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "Deployment Prefix.",
          "x-ms-mutability": ["update", "create"]
        },
        "publisherName": {
          "type": "string",
          "description": "Name of publisher.",
          "x-ms-mutability": ["update", "create"]
        },
        "publisherEmail": {
          "type": "string",
          "description": "Publisher Email.",
          "x-ms-mutability": ["update", "create"]
        },
        "administratorLoginPassword": {
          "type": "string",
          "description": "The administrator password of the SQL logical server.",
          "x-ms-mutability": ["update", "create"]
        },
        "synapseAdminLogin": {
          "type": "string",
          "description": "Synapse Administrator Login.",
          "x-ms-mutability": ["update", "create"]
        },
        "synapseAdminTenant": {
          "type": "string",
          "description": "Synapse Administrator Tenant.",
          "x-ms-mutability": ["update", "create"]
        },
        "synapseAdminSID": {
          "type": "string",
          "description": "Synapse Admininstrator SID.",
          "x-ms-mutability": ["update", "create"]
        },
        "adminUserName": {
          "type": "string",
          "description": "Power Plaform Admininstrator User Name.",
          "x-ms-mutability": ["update", "create"]
        },
        "adminPassword": {
          "type": "string",
          "description": "Power Plaform Admininstrator Password.",
          "x-ms-mutability": ["update", "create"]
        },
        "accessPolicyUserId": {
          "type": "string",
          "description": "Power Plaform Access Policy User Id.",
          "x-ms-mutability": ["update", "create"]
        },
        "targetTenantId": {
          "type": "string",
          "description": "Power Plaform Access Target Tenant Id.",
          "x-ms-mutability": ["update", "create"]
        },
        "helpDeskUserName": {
          "type": "string",
          "description": "Power Plaform Helpdesk User Name.",
          "x-ms-mutability": ["update", "create"]
        },
        "helpDeskUserPswd": {
          "type": "string",
          "description": "Power Plaform Helpdesk User Password.",
          "x-ms-mutability": ["update", "create"]
        },
        "targetEnvironment": {
          "type": "string",
          "description": "Power Plaform Target Environment.",
          "x-ms-mutability": ["update", "create"]
        },
        "sqlConnectionId": {
          "type": "string",
          "description": "Power Plaform SQL Connection Id.",
          "x-ms-mutability": ["update", "create"]
        },
        "oneDriveConnectionId": {
          "type": "string",
          "description": "Power Plaform One Drive Connection Id.",
          "x-ms-mutability": ["update", "create"]
        },
        "teamsConnectionId": {
          "type": "string",
          "description": "Power Plaform Teams Connection Id.",
          "x-ms-mutability": ["update", "create"]
        }
      },
      "description": "The updatable properties of the Deployment."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {}
}
