{
  "swagger": "2.0",
  "info": {
    "version": "2023-01-01-preview",
    "title": "M365CloudServicesClient",
    "description": "M365 cloud service client provides lifecycle management features to M365 cloud services."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.M365/cloudServices": {
      "get": {
        "tags": [
          "CloudServices"
        ],
        "operationId": "CloudServices_ListBySubscription",
        "description": "Lists the M365 cloud service under the subscription.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/M365/"
        },
        "x-ms-examples": {
          "ListCloudServicesByListBySubscription": {
            "$ref": "./examples/CloudService_List_BySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListCloudServicesResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365/cloudServices": {
      "get": {
        "tags": [
          "CloudServices"
        ],
        "operationId": "CloudServices_ListByResourceGroup",
        "description": "Lists the M365 cloud services under the resource group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/M365/"
        },
        "x-ms-examples": {
          "ListCloudServicesByResourceGroup": {
            "$ref": "./examples/CloudService_List_ByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListCloudServicesResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365/cloudServices/{CloudServiceResourceName}": {
      "get": {
        "tags": [
          "CloudServices"
        ],
        "operationId": "CloudServices_Get",
        "description": "Gets a M365 cloud service by its ID. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/M365/"
        },
        "x-ms-examples": {
          "GetCloudService": {
            "$ref": "./examples/CloudService_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudServiceResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CloudServices"
        ],
        "operationId": "CloudServices_Create",
        "description": "Creates or updates a M365 cloud service.",
        "x-ms-examples": {
          "CreateCloudService": {
            "$ref": "./examples/CloudService_Put.json"
          },
          "CreateCloudServiceWithOriginal": {
            "$ref": "./examples/CloudService_Put_WithOriginal.json"
          },
          "CreateCloudServiceWithCoterminous": {
            "$ref": "./examples/CloudService_Put_Coterminous.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudServiceResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudService"
            },
            "description": "Request parameters that are provided to the create M365 cloud service operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CloudService"
            }
          },
          "201": {
            "description": "Created. The cloud service has been created.",
            "schema": {
              "$ref": "#/definitions/CloudService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CloudServices"
        ],
        "operationId": "CloudServices_Update",
        "description": "Updates the properties of a M365 cloud service.",
        "x-ms-examples": {
          "AutoRenewOn": {
            "$ref": "./examples/CloudService_Patch_AutoRenew_On.json"
          },
          "AutoRenewOff": {
            "$ref": "./examples/CloudService_Patch_AutoRenew_Off.json"
          },
          "AutoRenewOnUpdateRenewalTermDetails": {
            "$ref": "./examples/CloudService_Patch_AutoRenew_On_UpdateRenewalTermDetails.json"
          },
          "ChangeQuantity": {
            "$ref": "./examples/CloudService_Patch_ChangeQuantity.json"
          },
          "TermUpdate": {
            "$ref": "./examples/CloudService_Patch_TermUpdate.json"
          },
          "Coterminous": {
            "$ref": "./examples/CloudService_Patch_Coterminous.json"
          },
          "ExtendTrial": {
            "$ref": "./examples/CloudService_Patch_ExtendTrial.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudServiceResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudService"
            },
            "description": "Request parameters that are provided to the update M365 cloud service operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudService"
            }
          },
          "202": {
            "description": "Accepted. Method completes asynchronously",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CloudServices"
        ],
        "operationId": "CloudServices_Delete",
        "description": "Cancels a M365 cloud service.",
        "x-ms-examples": {
          "DeleteCloudService": {
            "$ref": "./examples/CloudService_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudServiceResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. Method completes asynchronously",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "204": {
            "description": "No Content. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365/cloudServices/{CloudServiceResourceName}/merge": {
      "post": {
        "tags": [
          "CloudServices"
        ],
        "operationId": "CloudServices_Merge",
        "description": "Merges multiple cloud service resources into one target cloud service resource. The resource name in URL is the target, and the list of source cloud service resource and quantity will be specified in request payload",
        "x-ms-examples": {
          "CreateCloudService": {
            "$ref": "./examples/CloudService_Merge.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudServiceResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeCloudServiceRequest"
            },
            "description": "Request parameters that are provided to the merge M365 cloud service operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CloudService"
            }
          },
          "202": {
            "description": "Accepted. Method completes asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ListCloudServicesResult": {
      "description": "The list of M365 cloud service.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of M365 cloud service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/CloudService"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CloudService": {
      "description": "A M365 cloud service.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CloudServiceProperties",
          "title": "M365 cloud service properties"
        }
      }
    },
    "CloudServiceProperties": {
      "description": "The properties of a M365 cloud service.",
      "type": "object",
      "properties": {
        "autoRenew": {
          "description": "Indicates whether auto renewal is turned on or off for a M365 cloud service.",
          "type": "string",
          "enum": [
            "Off",
            "On"
          ],
          "x-ms-enum": {
            "name": "AutoRenew",
            "modelAsString": true
          }
        },
        "systemOverrides": {
          "description": "System imposed policies that regulate behavior of the resource.",
          "type": "object",
          "properties": {
            "cancellation": {
              "description": "The policy override for the resource indicates whether the self-serve cancellation or seat reduction is allowed.",
              "type": "string",
              "x-nullable": true,
              "readOnly": true,
              "enum": [
                "Allowed",
                "NotAllowed"
              ],
              "x-ms-enum": {
                "name": "Cancellation",
                "modelAsString": true
              }
            },
            "cancellationAllowedEndDate": {
              "type": "string",
              "format": "date-time",
              "description": "The end date in UTC time by when the self-serve cancellation ends.",
              "readOnly": true
            }
          }
        },
        "displayName": {
          "description": "The name of the cloud service.",
          "type": "string"
        },
        "productType": {
          "description": "Type of the product for which the cloud service is purchased",
          "type": "string",
          "readOnly": true
        },
        "productCode": {
          "description": "Product Universal Product Number of the product, which can be used to resolve product Id/sku Id/availability Id/term Id",
          "type": "string"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the status of the M365 cloud service at the time the operation was called.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Updating",
            "Unknown"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "quantity": {
          "description": "The number of licenses purchased for the cloud service",
          "type": "integer",
          "format": "int64"
        },
        "renewalTerm": {
          "description": "Renewal term details of the cloud service.",
          "$ref": "#/definitions/RenewalTermDetails"
        },
        "skuDescription": {
          "description": "The SKU description of the product for which the cloud service is purchased.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "The status of the cloud service.",
          "type": "string",
          "enum": [
            "Unknown",
            "Active",
            "Disabled",
            "Deleted",
            "PastDue",
            "Expiring",
            "Expired",
            "AutoRenew",
            "Cancelled",
            "Suspended"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "CloudServiceStatus",
            "modelAsString": true
          }
        },
        "suspensionReasons": {
          "description": "The suspension reason for a cloud service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "term": {
          "description": "Term details of the cloud service.",
          "$ref": "#/definitions/TermDetails"
        },
        "originalResourceName": {
          "description": "The original resource name, if the new resource will be created by splitting part of the licenses from an existing resource",
          "type": "string"
        }
      }
    },
    "TermDetails": {
      "description": "Term details of the cloud service.",
      "type": "object",
      "properties": {
        "billingFrequency": {
          "description": "Billing frequency of the product under the cloud service. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        },
        "termUnit": {
          "description": "The duration for which you can use the cloud service. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date of the term in UTC time.",
          "readOnly": true
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date of the term in UTC time. When there is a value passed in for PUT scenario, it is to support co-term scenario. When there is a value passed in for PATCH scenario, it is to support extend trial scenario. The time part passed in will be ignored"
        }
      }
    },
    "RenewalTermDetails": {
      "description": "Renewal term details of the cloud service.",
      "type": "object",
      "properties": {
        "quantity": {
          "description": "The number of licenses purchased for the cloud service",
          "type": "integer",
          "format": "int64"
        },
        "productCode": {
          "description": "Upn value of the product, which can be used to resolve product Id/sku Id/availability Id/term Id",
          "type": "string"
        },
        "billingFrequency": {
          "description": "Billing frequency of the product under the cloud service. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        },
        "termUnit": {
          "description": "The duration for which you can use the cloud service. Example P1Y and P1M",
          "type": "string",
          "readOnly": true
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date of the term in UTC time. It can be patched for co-term scenario, the time part passed in will be ignored"
        }
      }
    },
    "MergeCloudServiceRequest": {
      "description": "Request to merge multiple cloud service resources into one target cloud service resource",
      "type": "object",
      "properties": {
        "sourceResources": {
          "description": "List of source resources to be merged into target resource. Key is the resource name, value is the quantity to be merged into",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        }
      }
    }
  },
  "parameters": {
    "CloudServiceResourceNameParameter": {
      "name": "CloudServiceResourceName",
      "in": "path",
      "description": "The name that uniquely identifies a M365 cloud service.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "pattern": "^[-_0-9a-zA-Z]{1,50}$",
      "minLength": 1,
      "maxLength": 50
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}