{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PolicyFramework Resource Provider Management Service",
    "version": "2024-06-01-preview",
    "description": "Microsoft.PolicyFramework Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EvaluationEngineOperations"
    },
    {
      "name": "EvaluationEngineAssignmentOperations"
    },
    {
      "name": "PolicyDefinitionOperations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyFramework/evaluationEngines": {
      "get": {
        "operationId": "EvaluationEngineOperations_ListBySubscription",
        "tags": [
          "EvaluationEngineOperations"
        ],
        "description": "List EvaluationEngine resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluationEngineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyFramework/evaluationEngines": {
      "get": {
        "operationId": "EvaluationEngineOperations_ListByResourceGroup",
        "tags": [
          "EvaluationEngineOperations"
        ],
        "description": "List EvaluationEngine resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluationEngineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyFramework/evaluationEngines/{engineName}": {
      "get": {
        "operationId": "EvaluationEngineOperations_Get",
        "tags": [
          "EvaluationEngineOperations"
        ],
        "description": "Get a EvaluationEngine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluationEngine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EvaluationEngineOperations_CreateOrUpdate",
        "tags": [
          "EvaluationEngineOperations"
        ],
        "description": "Create a EvaluationEngine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EvaluationEngine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EvaluationEngine' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EvaluationEngine"
            }
          },
          "201": {
            "description": "Resource 'EvaluationEngine' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EvaluationEngine"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EvaluationEngineOperations_Delete",
        "tags": [
          "EvaluationEngineOperations"
        ],
        "description": "Delete a EvaluationEngine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyFramework/evaluationEngines/{engineName}/policyAssignments": {
      "get": {
        "operationId": "EvaluationEngineAssignmentOperations_ListByEvaluationEngine",
        "tags": [
          "EvaluationEngineAssignmentOperations"
        ],
        "description": "List EvaluationEngineAssignment resources by EvaluationEngine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluationEngineAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyFramework/evaluationEngines/{engineName}/policyAssignments/{assignmentName}": {
      "get": {
        "operationId": "EvaluationEngineAssignmentOperations_Get",
        "tags": [
          "EvaluationEngineAssignmentOperations"
        ],
        "description": "Get a EvaluationEngineAssignment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "assignmentName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluationEngineAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EvaluationEngineAssignmentOperations_Create",
        "tags": [
          "EvaluationEngineAssignmentOperations"
        ],
        "description": "Create a EvaluationEngineAssignment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "assignmentName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EvaluationEngineAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EvaluationEngineAssignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EvaluationEngineAssignment"
            }
          },
          "201": {
            "description": "Resource 'EvaluationEngineAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EvaluationEngineAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "EvaluationEngineAssignmentOperations_Update",
        "tags": [
          "EvaluationEngineAssignmentOperations"
        ],
        "description": "Update a EvaluationEngineAssignment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "assignmentName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EvaluationEngineAssignmentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluationEngineAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "EvaluationEngineAssignmentOperations_Delete",
        "tags": [
          "EvaluationEngineAssignmentOperations"
        ],
        "description": "Delete a EvaluationEngineAssignment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "assignmentName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyFramework/evaluationEngines/{engineName}/policyDefinitions": {
      "get": {
        "operationId": "PolicyDefinitionOperations_ListByEvaluationEngine",
        "tags": [
          "PolicyDefinitionOperations"
        ],
        "description": "List PolicyDefinition resources by EvaluationEngine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyFramework/evaluationEngines/{engineName}/policyDefinitions/{policyName}": {
      "get": {
        "operationId": "PolicyDefinitionOperations_Get",
        "tags": [
          "PolicyDefinitionOperations"
        ],
        "description": "Get a PolicyDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "PolicyDefinitionOperations_Create",
        "tags": [
          "PolicyDefinitionOperations"
        ],
        "description": "Create a PolicyDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PolicyDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "201": {
            "description": "Resource 'PolicyDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "PolicyDefinitionOperations_Update",
        "tags": [
          "PolicyDefinitionOperations"
        ],
        "description": "Update a PolicyDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "PolicyDefinitionOperations_Delete",
        "tags": [
          "PolicyDefinitionOperations"
        ],
        "description": "Delete a PolicyDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "engineName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EvaluationEngine": {
      "type": "object",
      "description": "The evaluation engine",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EvaluationEngineProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EvaluationEngineAssignment": {
      "type": "object",
      "description": "The evaluation engine assignment",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EvaluationEngineAssignmentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "Microsoft.PolicyFramework/evaluationEngines/Assignments"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      },
      "required": [
        "type"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EvaluationEngineAssignmentListResult": {
      "type": "object",
      "description": "The response of a EvaluationEngineAssignment list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EvaluationEngineAssignment items on this page",
          "items": {
            "$ref": "#/definitions/EvaluationEngineAssignment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EvaluationEngineAssignmentProperties": {
      "type": "object",
      "description": "The evaluation engine assignment properties.",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "EvaluationEngineAssignmentUpdate": {
      "type": "object",
      "description": "The type used for update operations of the EvaluationEngineAssignment.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Microsoft.PolicyFramework/evaluationEngines/Assignments"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EvaluationEngineAssignmentUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EvaluationEngineAssignmentUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the EvaluationEngineAssignment.",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "EvaluationEngineListResult": {
      "type": "object",
      "description": "The response of a EvaluationEngine list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EvaluationEngine items on this page",
          "items": {
            "$ref": "#/definitions/EvaluationEngine"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EvaluationEngineProperties": {
      "type": "object",
      "description": "The evaluation engine properties.",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "PolicyDefinition": {
      "type": "object",
      "description": "The evaluation engine policy definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PolicyDefinitionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "Microsoft.PolicyFramework/evaluationEngines/Definitions"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      },
      "required": [
        "type"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PolicyDefinitionListResult": {
      "type": "object",
      "description": "The response of a PolicyDefinition list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PolicyDefinition items on this page",
          "items": {
            "$ref": "#/definitions/PolicyDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PolicyDefinitionProperties": {
      "type": "object",
      "description": "The evaluation engine policy definition properties.",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "PolicyDefinitionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the PolicyDefinition.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "Microsoft.PolicyFramework/evaluationEngines/Definitions"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/PolicyDefinitionUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "PolicyDefinitionUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the PolicyDefinition.",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {}
}
