{
  "swagger": "2.0",
  "info": {
    "title": "CodeSigningManagementClient",
    "version": "2024-02-05-preview",
    "description": "Code Signing Resource Provider Account and Certificate Profile management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "CodeSigningAccounts"
    },
    {
      "name": "CertificateProfiles"
    }
  ],
  "paths": {
    "/providers/Microsoft.CodeSigning/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Code Signing Account operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CodeSigning/checkNameAvailability": {
      "post": {
        "operationId": "CodeSigningAccounts_CheckNameAvailability",
        "tags": [
          "CodeSigningAccounts"
        ],
        "description": "Checks that the code signing account name is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailability"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate a code signing account name": {
            "$ref": "./examples/CodeSigningAccounts_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CodeSigning/codeSigningAccounts": {
      "get": {
        "operationId": "CodeSigningAccounts_ListBySubscription",
        "tags": [
          "CodeSigningAccounts"
        ],
        "description": "Lists Code Signing Accounts within a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeSigningAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Code Signing Accounts by Subscription": {
            "$ref": "./examples/CodeSigningAccounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSigningAccounts": {
      "get": {
        "operationId": "CodeSigningAccounts_ListByResourceGroup",
        "tags": [
          "CodeSigningAccounts"
        ],
        "description": "List Code Signing Accounts within a resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeSigningAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Code Signing Accounts by Resource Group": {
            "$ref": "./examples/CodeSigningAccounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSigningAccounts/{accountName}": {
      "get": {
        "operationId": "CodeSigningAccounts_Get",
        "tags": [
          "CodeSigningAccounts"
        ],
        "description": "Get a Code Signing Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeSigningAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Code Signing Account": {
            "$ref": "./examples/CodeSigningAccounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CodeSigningAccounts_Create",
        "tags": [
          "CodeSigningAccounts"
        ],
        "description": "Create a Code Signing Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters to create the code signing account",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeSigningAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CodeSigningAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeSigningAccount"
            }
          },
          "201": {
            "description": "Resource 'CodeSigningAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeSigningAccount"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Code Signing Account": {
            "$ref": "./examples/CodeSigningAccounts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CodeSigningAccounts_Update",
        "tags": [
          "CodeSigningAccounts"
        ],
        "description": "Update a code signing account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Parameters supplied to update code signing account",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeSigningAccountPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeSigningAccount"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Code Signing Account": {
            "$ref": "./examples/CodeSigningAccounts_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CodeSigningAccounts_Delete",
        "tags": [
          "CodeSigningAccounts"
        ],
        "description": "Delete Code Signing Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Code Signing Account": {
            "$ref": "./examples/CodeSigningAccounts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSigningAccounts/{accountName}/certificateProfiles": {
      "get": {
        "operationId": "CertificateProfiles_ListByCodeSigningAccount",
        "tags": [
          "CertificateProfiles"
        ],
        "description": "List certificate profiles within a code signing account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Certificate Profiles": {
            "$ref": "./examples/CertificateProfiles_ListByCodeSigningAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSigningAccounts/{accountName}/certificateProfiles/{profileName}": {
      "get": {
        "operationId": "CertificateProfiles_Get",
        "tags": [
          "CertificateProfiles"
        ],
        "description": "Get details of a certificate profile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Certificate profile name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{5,100}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Certificate Profile": {
            "$ref": "./examples/CertificateProfiles_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CertificateProfiles_Create",
        "tags": [
          "CertificateProfiles"
        ],
        "description": "Create a certificate profile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Certificate profile name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{5,100}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters to create the certificate profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CertificateProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "201": {
            "description": "Resource 'CertificateProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Certificate Profile": {
            "$ref": "./examples/CertificateProfiles_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CertificateProfiles_Delete",
        "tags": [
          "CertificateProfiles"
        ],
        "description": "Delete a Certificate Profile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Certificate profile name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{5,100}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Certificate Profile": {
            "$ref": "./examples/CertificateProfiles_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSigningAccounts/{accountName}/certificateProfiles/{profileName}/revokeCertificate": {
      "post": {
        "operationId": "CertificateProfiles_RevokeCertificate",
        "tags": [
          "CertificateProfiles"
        ],
        "description": "Revoke certificate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Code Signing account name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Certificate profile name",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{5,100}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Parameters to revoke the certificate profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RevokeCertificate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Revoke Certificate": {
            "$ref": "./examples/CertificateProfiles_RevokeCertificate.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountSku": {
      "type": "object",
      "description": "SKU of the code signing account",
      "properties": {
        "name": {
          "$ref": "#/definitions/SkuName",
          "description": "Name of this SKU"
        }
      },
      "required": [
        "name"
      ]
    },
    "AccountSkuUpdate": {
      "type": "object",
      "description": "SKU of the code signing account",
      "properties": {
        "name": {
          "$ref": "#/definitions/SkuName",
          "description": "Name of this SKU"
        }
      }
    },
    "Certificate": {
      "type": "object",
      "description": "Properties of the certificate",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the certificate"
        },
        "subjectName": {
          "type": "string",
          "description": "Subject name of the certificate"
        },
        "thumbprint": {
          "type": "string",
          "description": "Thumbprint of the certificate"
        },
        "createdDate": {
          "type": "string",
          "description": "Certificate created date"
        },
        "expiryDate": {
          "type": "string",
          "description": "Certificate expiry date"
        },
        "status": {
          "$ref": "#/definitions/CertificateStatus",
          "description": "Status of the certificate"
        },
        "revocation": {
          "$ref": "#/definitions/Revocation",
          "description": "Revocations history of a certificate"
        }
      }
    },
    "CertificateProfile": {
      "type": "object",
      "description": "Certificate profile resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CertificateProfileProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CertificateProfileListResult": {
      "type": "object",
      "description": "The response of a CertificateProfile list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CertificateProfile items on this page",
          "items": {
            "$ref": "#/definitions/CertificateProfile"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CertificateProfileProperties": {
      "type": "object",
      "description": "Properties of the certificate profile",
      "properties": {
        "profileType": {
          "$ref": "#/definitions/ProfileType",
          "description": "Profile type of the certificate"
        },
        "commonName": {
          "type": "string",
          "description": "Used as CN in the subject name of the certificate"
        },
        "organization": {
          "type": "string",
          "description": "Used as O in the subject name of the certificate"
        },
        "organizationUnit": {
          "type": "string",
          "description": "Used as OU in the subject name of the private trust certificate"
        },
        "streetAddress": {
          "type": "string",
          "readOnly": true
        },
        "includeStreetAddress": {
          "type": "boolean",
          "description": "Whether to include in the public trust certificate subject name",
          "default": false
        },
        "state": {
          "type": "string",
          "readOnly": true
        },
        "includeState": {
          "type": "boolean",
          "description": "Whether to include in the public trust or private trust certificate subject name",
          "default": false
        },
        "city": {
          "type": "string",
          "readOnly": true
        },
        "includeCity": {
          "type": "boolean",
          "description": "Whether to include in the public trust or private trust certificate subject name",
          "default": false
        },
        "postalCode": {
          "type": "string",
          "readOnly": true
        },
        "includePostalCode": {
          "type": "boolean",
          "description": "Whether to include in the public trust certificate subject name",
          "default": false
        },
        "country": {
          "type": "string",
          "readOnly": true
        },
        "includeCountry": {
          "type": "boolean",
          "description": "Whether to include in the public trust or private trust certificate subject name",
          "default": false
        },
        "enhancedKeyUsage": {
          "type": "string",
          "description": "Enhanced key usage of the certificate",
          "readOnly": true
        },
        "identityValidationId": {
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the code signing account",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/CertificateProfileStatus",
          "description": "Status of the certificate profiles",
          "readOnly": true
        },
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Certificate"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "required": [
        "profileType",
        "commonName",
        "organization"
      ]
    },
    "CertificateProfileStatus": {
      "type": "string",
      "description": "Status of the certificate profiles",
      "enum": [
        "Active",
        "Disabled",
        "Suspended"
      ],
      "x-ms-enum": {
        "name": "CertificateProfileStatus",
        "modelAsString": true
      }
    },
    "CertificateStatus": {
      "type": "string",
      "description": "Status of the certificate",
      "enum": [
        "Active",
        "Expired",
        "Revoked",
        "RevocationInProgress",
        "RevocationFailed"
      ],
      "x-ms-enum": {
        "name": "CertificateStatus",
        "modelAsString": true
      }
    },
    "CheckNameAvailability": {
      "type": "object",
      "description": "The parameters used to check the availability of the code signing account name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Code signing account name."
        }
      },
      "required": [
        "name"
      ]
    },
    "CheckNameAvailabilityResult": {
      "type": "object",
      "description": "The CheckNameAvailability operation response.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "A boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or is invalid and cannot be used.",
          "readOnly": true
        },
        "reason": {
          "$ref": "#/definitions/Reason",
          "description": "The reason that a code signing account name could not be used. The Reason element is only returned if nameAvailable is false.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "An error message explaining the Reason value in more detail.",
          "readOnly": true
        }
      }
    },
    "CodeSigningAccount": {
      "type": "object",
      "description": "Code signing account resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeSigningAccountProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CodeSigningAccountListResult": {
      "type": "object",
      "description": "The response of a CodeSigningAccount list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CodeSigningAccount items on this page",
          "items": {
            "$ref": "#/definitions/CodeSigningAccount"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CodeSigningAccountPatch": {
      "type": "object",
      "description": "Parameters for creating or updating a code signing account",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/CodeSigningAccountPatchProperties",
          "description": "Properties of the code signing account"
        }
      }
    },
    "CodeSigningAccountPatchProperties": {
      "type": "object",
      "description": "Properties of the code signing account",
      "properties": {
        "sku": {
          "$ref": "#/definitions/AccountSkuUpdate",
          "description": "SKU of the code signing account"
        }
      }
    },
    "CodeSigningAccountProperties": {
      "type": "object",
      "description": "Properties of the code signing account",
      "properties": {
        "accountUri": {
          "type": "string",
          "description": "The URI of the code signing account for performing operations on certificate profiles. This property is readonly",
          "readOnly": true
        },
        "sku": {
          "$ref": "#/definitions/AccountSku",
          "description": "SKU of the code signing account"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the code signing account",
          "readOnly": true
        }
      }
    },
    "ProfileType": {
      "type": "string",
      "description": "Profile type of the certificate",
      "enum": [
        "PublicTrust",
        "PrivateTrust",
        "PrivateTrustCIPolicy",
        "VBSEnclave",
        "PublicTrustTest"
      ],
      "x-ms-enum": {
        "name": "ProfileType",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the code signing account",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      },
      "readOnly": true
    },
    "Reason": {
      "type": "string",
      "description": "The reason that a code signing account name could not be used. The Reason element is only returned if nameAvailable is false.",
      "enum": [
        "AccountNameInvalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "Reason",
        "modelAsString": false
      }
    },
    "Revocation": {
      "type": "object",
      "description": "Revocations history of a certificate",
      "properties": {
        "requestedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the revocation is requested"
        },
        "effectiveAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the revocation is effective"
        },
        "reason": {
          "type": "string",
          "description": "Reason for revocation"
        },
        "remarks": {
          "type": "string",
          "description": "Remarks for the revocation"
        }
      }
    },
    "RevokeCertificate": {
      "type": "object",
      "description": "Defines the certificate revoke properties.",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the certificate"
        },
        "thumbprint": {
          "type": "string",
          "description": "Thumbprint of the certificate"
        },
        "effectiveAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the revocation is effective"
        },
        "reason": {
          "type": "string",
          "description": "Reason for revocation"
        },
        "remarks": {
          "type": "string",
          "description": "Remarks for the revocation"
        }
      },
      "required": [
        "serialNumber",
        "thumbprint",
        "effectiveAt",
        "reason"
      ]
    },
    "SkuName": {
      "type": "string",
      "description": "Name of this SKU",
      "enum": [
        "Basic",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "SkuName",
        "modelAsString": false
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-02-05-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_02_05_preview",
            "value": "2024-02-05-preview",
            "description": "The 2024-02-05-preview API version."
          }
        ]
      }
    }
  },
  "parameters": {}
}
