{
  "swagger": "2.0",
  "info": {
    "title": "RPaaSLiveTestManagementClient",
    "description": "RPaaSLiveTest provider",
    "version": "2022-01-01-alpha"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.RPaaSLiveTest/ATests": {
      "get": {
        "description": "Returns list of ATests.",
        "operationId": "ATest_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ATest details.",
            "schema": {
              "$ref": "#/definitions/ATestResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RPaaSLiveTest/ATests": {
      "get": {
        "description": "Returns list of ATests.",
        "operationId": "ATest_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ATest details.",
            "schema": {
              "$ref": "#/definitions/ATestResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RPaaSLiveTest/ATests/{aTestName}": {
      "get": {
        "description": "Returns ATest resource for a given name.",
        "operationId": "ATest_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ATestNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ATest details.",
            "schema": {
              "$ref": "#/definitions/ATestResource"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes ATest resource for a given name.",
        "operationId": "ATest_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ATestNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the ATest details."
          }
        }
      },
      "put": {
        "description": "Create or update ATest resource.",
        "operationId": "ATest_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ATestNameParameter"
          },
          {
            "name": "ATestResource",
            "description": "ATest details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ATestResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ATestResource"
            }
          },
          "201": {
            "description": "Long running operation."
          }
        }
      },
      "patch": {
        "description": "Update ATest details.",
        "operationId": "ATests_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ATestNameParameter"
          },
          {
            "name": "ATestPatchResource",
            "description": "ATest patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ATestPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ATestResource"
            }
          }
        }
      }
    },
    "/providers/Microsoft.RPaaSLiveTest/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "ATestResource": {
      "type": "object",
      "description": "ATest details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [
            "propertyA"
          ],
          "properties": {
            "propertyA": {
              "type": "string",
              "description": "Property A.",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "propertyB": {
              "type": "string",
              "description": "Property B.",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "managedResourceGroupConfiguration": {
              "$ref": "#/definitions/managedResourceGroupConfiguration"
            }
          }
        }
      }
    },
    "ATestResourceList": {
      "description": "The list of ATest resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of ATest list.",
          "type": "string"
        },
        "value": {
          "description": "The list of ATest resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ATestResource"
          }
        }
      }
    },
    "ATestPatchResource": {
      "type": "object",
      "description": "ATest patch properties",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "properties": {
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc..."
            }
          }
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "managedResourceGroupConfiguration": {
      "type":"object",
      "description": "Managed resource group configuration.",
      "properties": {
        "name": {
          "description": "The name of the managed resource group",
          "type":"string"
        },
        "location": {
          "description": "The location of the managed resource group",
          "type":"string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ATestNameParameter": {
      "name": "aTestName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name aTest resource.",
      "x-ms-parameter-location": "method"
    }
  }
}