parameters:
  "service-dir":
    default: "sdk/private.healthcareInterop.int.cloud"
  "dependencies":
    default: ""
emit:
  - "@azure-tools/typespec-autorest"
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/resource-manager"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    emitter-output-dir: "{project-root}/.."
    azure-resource-provider-folder: "resource-manager"
    output-file: "{azure-resource-provider-folder}/{service-name}/cloud/{version-status}/{version}/cloud.json"
  "@azure-tools/typespec-java":
    package-dir: "azure-resourcemanager-privatehealthcareinteropint"
    namespace: "com.azure.resourcemanager.privatehealthcareinteropint"
    service-name: "cloud"
    flavor: azure
