{
  "swagger": "2.0",
  "info": {
    "title": "Profiles",
    "version": "2024-07-10-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Profiles"
    },
    {
      "name": "MeasurementEndpoints"
    },
    {
      "name": "MeasurementEndpointConditions"
    },
    {
      "name": "Experiments"
    }
  ],
  "paths": {
    "/providers/Microsoft.FootprintMonitoring/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to be used with the HTTP request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all operations available": {
            "$ref": "../../examples/operationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.FootprintMonitoring/profiles": {
      "get": {
        "operationId": "Profiles_ListBySubscriptionId",
        "tags": [
          "Profiles"
        ],
        "summary": "Get all Footprint profiles under a subscription.",
        "description": "Retrieves the information about all Footprint profiles under a subscription.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to be used with the HTTP request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProfileList"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all profiles": {
            "$ref": "../../examples/profilesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FootprintMonitoring/profiles": {
      "get": {
        "operationId": "Profiles_ListByResourceGroup",
        "tags": [
          "Profiles"
        ],
        "summary": "Get all Footprint profiles under a resource group.",
        "description": "Retrieves the information about all Footprint profiles under a resource group.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to be used with the HTTP request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProfileList"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all profiles": {
            "$ref": "../../examples/profilesListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FootprintMonitoring/profiles/{profileName}": {
      "get": {
        "operationId": "Profiles_Get",
        "tags": [
          "Profiles"
        ],
        "summary": "Get a Footprint profile resource.",
        "description": "Retrieves the information about a single Footprint profile.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to be used with the HTTP request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The profile name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a profile": {
            "$ref": "../../examples/profilesGet.json"
          }
        }
      },
      "put": {
        "operationId": "Profiles_CreateOrUpdate",
        "tags": [
          "Profiles"
        ],
        "summary": "Creates or updates a Footprint profile resource.",
        "description": "Creates or updates a Footprint profile with the specified properties.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to be used with the HTTP request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The profile name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profile",
            "in": "body",
            "description": "Footprint profile update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a profile.": {
            "$ref": "../../examples/profilesCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Profiles_Update",
        "tags": [
          "Profiles"
        ],
        "summary": "Updates a Footprint profile resource.",
        "description": "Updates an existing Footprint profile.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to be used with the HTTP request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The profile name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profile",
            "in": "body",
            "description": "The profile properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a profile": {
            "$ref": "../../examples/profilesUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Profiles_Delete",
        "tags": [
          "Profiles"
        ],
        "summary": "Deletes a Footprint profile resource.",
        "description": "Deletes an existing Footprint profile.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to be used with the HTTP request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The subscription id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "The profile name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a profile": {
            "$ref": "../../examples/profilesDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FootprintMonitoring/profiles/{profileName}/experiments": {
      "get": {
        "operationId": "Experiments_ListByProfile",
        "tags": [
          "Experiments"
        ],
        "summary": "Get all experiments under a Footprint profile.",
        "description": "Retrieves the information about all experiments under a Footprint profile.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExperimentList"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all experiments under a Footprint profile": {
            "$ref": "../../examples/experimentsListByProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FootprintMonitoring/profiles/{profileName}/experiments/{experimentName}": {
      "get": {
        "operationId": "Experiments_Get",
        "tags": [
          "Experiments"
        ],
        "summary": "Get an experiment under a Footprint profile resource.",
        "description": "Retrieves the information about a single experiment under a Footprint profile.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "experimentName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an experiment": {
            "$ref": "../../examples/experimentsGet.json"
          }
        }
      },
      "put": {
        "operationId": "Experiments_CreateOrUpdate",
        "tags": [
          "Experiments"
        ],
        "summary": "Creates or updates an experiment under a Footprint profile resource.",
        "description": "Creates or updates an experiment under a Footprint profile with the specified properties.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "experimentName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "experiment",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          },
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an experiment": {
            "$ref": "../../examples/experimentsCreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Experiments_Delete",
        "tags": [
          "Experiments"
        ],
        "summary": "Deletes a Footprint experiment resource.",
        "description": "Deletes an existing Footprint experiment.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "experimentName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an experiment": {
            "$ref": "../../examples/experimentsDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FootprintMonitoring/profiles/{profileName}/measurementEndpoints": {
      "get": {
        "operationId": "MeasurementEndpoints_ListByProfile",
        "tags": [
          "MeasurementEndpoints"
        ],
        "summary": "Get all measurement endpoints under a profile.",
        "description": "Retrieves the information about all measurement endpoints under a Footprint profile.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to be used with the HTTP request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MeasurementEndpointList"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all measurement endpoints under a Footprint profile": {
            "$ref": "../../examples/measurementEndpointsListByProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FootprintMonitoring/profiles/{profileName}/measurementEndpoints/{measurementEndpointName}": {
      "get": {
        "operationId": "MeasurementEndpoints_Get",
        "tags": [
          "MeasurementEndpoints"
        ],
        "summary": "Get a measurement endpoint under a Footprint profile resource.",
        "description": "Retrieves the information about a single measurement endpoint under a Footprint profile.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "measurementEndpointName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MeasurementEndpoint"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a measurement endpoint": {
            "$ref": "../../examples/measurementEndpointsGet.json"
          }
        }
      },
      "put": {
        "operationId": "MeasurementEndpoints_CreateOrUpdate",
        "tags": [
          "MeasurementEndpoints"
        ],
        "summary": "Creates or updates a single measurement endpoint under a Footprint profile resource.",
        "description": "Creates or updates a single measurement endpoint under a Footprint profile with the specified properties.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "measurementEndpointName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "measurementEndpoint",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeasurementEndpoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MeasurementEndpoint"
            }
          },
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "schema": {
              "$ref": "#/definitions/MeasurementEndpoint"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a measurement endpoint": {
            "$ref": "../../examples/measurementEndpointsCreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "MeasurementEndpoints_Delete",
        "tags": [
          "MeasurementEndpoints"
        ],
        "summary": "Deletes a measurement endpoint under a Footprint profile resource.",
        "description": "Deletes an existing measurement endpoint under a Footprint profile.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "measurementEndpointName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a measurement endpoint": {
            "$ref": "../../examples/measurementEndpointsDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FootprintMonitoring/profiles/{profileName}/measurementEndpoints/{measurementEndpointName}/conditions": {
      "get": {
        "operationId": "MeasurementEndpoints_ListByMeasurementEndpoint",
        "tags": [
          "MeasurementEndpointConditions"
        ],
        "summary": "Get all measurement endpoint conditions under a measurement endpoint.",
        "description": "Retrieves the information about all measurement endpoint conditions under a Footprint measurement endpoint.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "measurementEndpointName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MeasurementEndpointConditionList"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all measurement endpoint conditions under a measurement endpoint": {
            "$ref": "../../examples/measurementEndpointConditionsListByEndpoint.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FootprintMonitoring/profiles/{profileName}/measurementEndpoints/{measurementEndpointName}/conditions/{conditionName}": {
      "get": {
        "operationId": "MeasurementEndpoints_GetCondition",
        "tags": [
          "MeasurementEndpointConditions"
        ],
        "summary": "Get a measurement endpoint condition under a Footprint measurement endpoint resource.",
        "description": "Retrieves the information about a single measurement endpoint condition under a Footprint measurement endpoint.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "measurementEndpointName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "conditionName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MeasurementEndpointCondition"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a measurement endpoint condition": {
            "$ref": "../../examples/measurementEndpointConditionGet.json"
          }
        }
      },
      "put": {
        "operationId": "MeasurementEndpoints_CreateOrUpdateCondition",
        "tags": [
          "MeasurementEndpointConditions"
        ],
        "summary": "Creates or updates a single measurement endpoint condition under a Footprint measurement endpoint resource.",
        "description": "Creates or updates a single measurement endpoint condition under a Footprint measurement endpoint with the specified properties.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "measurementEndpointName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "conditionName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "condition",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeasurementEndpointCondition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MeasurementEndpointCondition"
            }
          },
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "schema": {
              "$ref": "#/definitions/MeasurementEndpointCondition"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a measurement endpoint condition": {
            "$ref": "../../examples/measurementEndpointConditionCreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "MeasurementEndpoints_DeleteCondition",
        "tags": [
          "MeasurementEndpointConditions"
        ],
        "summary": "Deletes a measurement endpoint condition under a Footprint measurement resource.",
        "description": "Deletes an existing measurement endpoint condition under a Footprint measurement.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "measurementEndpointName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "conditionName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "string",
                  "enum": [
                    "The request was successful. The resource was deleted."
                  ],
                  "x-ms-enum": {
                    "modelAsString": false
                  }
                }
              },
              "required": [
                "docs"
              ]
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. ",
            "schema": {
              "type": "object",
              "properties": {
                "docs": {
                  "type": "string",
                  "enum": [
                    "The request was successful. The resource was deleted."
                  ],
                  "x-ms-enum": {
                    "modelAsString": false
                  }
                }
              },
              "required": [
                "docs"
              ]
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "500": {
            "description": "Server error",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          },
          "503": {
            "description": "Service unavailable.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a measurement endpoint condition": {
            "$ref": "../../examples/measurementEndpointConditionDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApiVersionParameter": {
      "type": "object",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version to be used with the HTTP request.",
          "readOnly": true
        }
      },
      "required": [
        "apiVersion"
      ]
    },
    "DefaultErrorResponse": {
      "type": "object",
      "title": "Default Error Response",
      "description": "The base response with an error.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details, if any."
        }
      }
    },
    "ErrorDefinition": {
      "type": "object",
      "title": "Error Definition",
      "description": "The details of an error.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Description of the error.",
          "readOnly": true
        }
      }
    },
    "Experiment": {
      "type": "object",
      "description": "A model representing the Footprint experiment.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Footprint experiment resource.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ExperimentProperties",
          "title": "Footprint experiment additional properties.",
          "description": "Additional Footprint experiment properties.",
          "x-ms-client-flatten": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ExperimentList": {
      "type": "object",
      "description": "Result of the request to list Footprint experiments. It contains a list of Footprint experiments objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A collection of Footprint experiments.",
          "items": {
            "$ref": "#/definitions/Experiment"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of Footprint experiment objects."
        }
      }
    },
    "ExperimentNameParameter": {
      "type": "object",
      "properties": {
        "experimentName": {
          "type": "string",
          "description": "Name of the Footprint experiment resource.",
          "minLength": 5,
          "maxLength": 64,
          "pattern": "^[a-zA-Z0-9]",
          "readOnly": true,
          "x-ms-parameter-location": "method"
        }
      },
      "required": [
        "experimentName"
      ]
    },
    "ExperimentProperties": {
      "type": "object",
      "description": "A model representing the Footprint Experiment resource.",
      "properties": {
        "experimentId": {
          "type": "string",
          "title": "Footprint Experiment Id",
          "description": "The id of a Footprint experiment.",
          "minLength": 32,
          "maxLength": 32,
          "pattern": "[a-f0-9]{32}",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "title": "Footprint Experiment Description",
          "description": "The description of a Footprint experiment."
        },
        "status": {
          "type": "string",
          "title": "Footprint Experiment Status",
          "description": "The status of a Footprint experiment.",
          "readOnly": true
        }
      }
    },
    "MeasurementEndpoint": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MeasurementEndpointProperties",
          "title": "Footprint measurement endpoint additional properties.",
          "description": "Additional Footprint measurement endpoint properties.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "required": [
        "properties",
        "name",
        "type"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "MeasurementEndpointCondition": {
      "type": "object",
      "title": "Footprint Measurement Endpoint Condition",
      "description": "A model representing the Footprint Measurement Endpoint Condition resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Footprint measurement endpoint condition resource."
        },
        "properties": {
          "$ref": "#/definitions/MeasurementEndpointConditionProperties",
          "title": "Footprint measurement endpoint condition additional properties.",
          "description": "Additional Footprint measurement endpoint condition properties.",
          "x-ms-client-flatten": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "MeasurementEndpointConditionList": {
      "type": "object",
      "description": "Result of the request to list Footprint measurement endpoint conditions. It contains a list of Footprint measurement endpoint conditions objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MeasurementEndpointCondition"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of Footprint measurement endpoint condition objects."
        }
      }
    },
    "MeasurementEndpointConditionNameParameter": {
      "type": "object",
      "properties": {
        "conditionName": {
          "type": "string",
          "description": "Name of the Footprint measurement endpoint condition resource.",
          "minLength": 5,
          "maxLength": 64,
          "pattern": "^[a-zA-Z0-9]",
          "readOnly": true,
          "x-ms-parameter-location": "method"
        }
      },
      "required": [
        "conditionName"
      ]
    },
    "MeasurementEndpointConditionProperties": {
      "type": "object",
      "title": "Footprint Measurement Endpoint Condition Properties",
      "description": "A model representing the Footprint Measurement Endpoint Condition resource.",
      "properties": {
        "conditionId": {
          "type": "string",
          "title": "Footprint Measurement Endpoint Condition Id",
          "description": "The id of a Footprint measurement endpoint condition.",
          "minLength": 32,
          "maxLength": 32,
          "pattern": "[a-f0-9]{32}",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Type",
          "title": "Footprint Measurement Endpoint Condition Type",
          "description": "The type of a Footprint measurement endpoint condition.",
          "x-ms-enum": {
            "name": "Type",
            "modelAsString": true
          }
        },
        "variable": {
          "type": "string",
          "title": "Footprint Measurement Endpoint Condition Variable",
          "description": "The variable of a Footprint measurement endpoint condition."
        },
        "operator": {
          "$ref": "#/definitions/Operator",
          "title": "Footprint Measurement Endpoint Condition Operator",
          "description": "The operator of a Footprint measurement endpoint condition.",
          "x-ms-enum": {
            "name": "Operator",
            "modelAsString": true
          }
        },
        "constant": {
          "type": "string",
          "title": "Footprint Measurement Endpoint Condition Constant",
          "description": "The constant of a Footprint measurement endpoint condition."
        }
      },
      "required": [
        "type",
        "variable",
        "operator",
        "constant"
      ]
    },
    "MeasurementEndpointList": {
      "type": "object",
      "description": "Result of the request to list Footprint measurement endpoints. It contains a list of Footprint measurement endpoints objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A collection of Footprint measurement endpoints.",
          "items": {
            "$ref": "#/definitions/MeasurementEndpoint"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of Footprint measurement endpoint objects."
        }
      }
    },
    "MeasurementEndpointNameParameter": {
      "type": "object",
      "properties": {
        "measurementEndpointName": {
          "type": "string",
          "description": "Name of the Footprint measurement endpoint resource.",
          "minLength": 5,
          "maxLength": 64,
          "pattern": "^[a-zA-Z0-9]",
          "readOnly": true,
          "x-ms-parameter-location": "method"
        }
      },
      "required": [
        "measurementEndpointName"
      ]
    },
    "MeasurementEndpointProperties": {
      "type": "object",
      "title": "Footprint Measurement Endpoint Properties",
      "description": "A model representing the Footprint Measurement Endpoint resource.",
      "properties": {
        "endpointId": {
          "type": "string",
          "description": "The id of a measurement endpoint.",
          "minLength": 32,
          "maxLength": 32,
          "pattern": "[a-f0-9]{32}",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "title": "Measurement Endpoint Description",
          "description": "The description of a measurement endpoint."
        },
        "endpoint": {
          "type": "string",
          "title": "Measurement Endpoint",
          "description": "The value of a measurement endpoint.",
          "minLength": 0,
          "maxLength": 1024,
          "pattern": "^[a-z0-9\\*]+([\\-\\.]{1}[a-z0-9]+)*\\.[a-z]{2,5}(:[0-9]{1,5})?$"
        },
        "measurementType": {
          "type": "integer",
          "format": "int32",
          "title": "Measurement Endpoint Type",
          "description": "The type of a measurement endpoint."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "title": "Measurement Endpoint Weight",
          "description": "The weight of a measurement endpoint, higher weight means higher priority.",
          "minimum": 0,
          "maximum": 2147483647
        },
        "experimentId": {
          "type": "string",
          "title": "Measurement Endpoint Experiment Id",
          "description": "The id of an experiment that a measurement endpoint is part of.",
          "minLength": 32,
          "maxLength": 32,
          "pattern": "[a-f0-9]{32}"
        },
        "objectPath": {
          "type": "string",
          "title": "Measurement Endpoint Object Path",
          "description": "The path of the object that a measurement endpoint points to.",
          "minLength": 0,
          "maxLength": 1024,
          "pattern": "^/[a-zA-Z0-9-._~%!$&()*+,;=@/]*$"
        },
        "conditions": {
          "type": "array",
          "title": "Measurement Endpoint Conditions",
          "description": "The conditions of a measurement endpoint.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        },
        "startTimeUTC": {
          "type": "string",
          "format": "date-time",
          "title": "Measurement Endpoint Start Time",
          "description": "The start time that a measurement endpoint should be served."
        },
        "endTimeUTC": {
          "type": "string",
          "format": "date-time",
          "title": "Measurement Endpoint End Time",
          "description": "The end time that a measurement endpoint should be served."
        },
        "hotPathSamplingPercentageRate": {
          "type": "number",
          "format": "float",
          "title": "Measurement Endpoint Hot Path Sampling Rate",
          "description": "The sampling rate percentage for the hot path logging of a measurement endpoint.",
          "minimum": 0,
          "maximum": 100
        },
        "warmPathSamplingPercentageRate": {
          "type": "number",
          "format": "float",
          "title": "Measurement Endpoint Warm Path Sampling Rate",
          "description": "The sampling rate percentage for the warm path logging of a measurement endpoint.",
          "minimum": 0,
          "maximum": 100
        },
        "coldPathSamplingPercentageRateOverride": {
          "type": "number",
          "format": "float",
          "title": "Measurement Endpoint Cold Path Sampling Rate",
          "description": "The sampling rate percentage for the cold path logging of a measurement endpoint.",
          "minimum": 0,
          "maximum": 100
        },
        "metadata": {
          "type": "string",
          "title": "Measurement Endpoint Metadata",
          "description": "The metadata of a measurement endpoint."
        }
      },
      "required": [
        "endpoint",
        "measurementType",
        "weight"
      ]
    },
    "Operator": {
      "type": "string",
      "description": "The operator of a Footprint measurement endpoint condition.",
      "enum": [
        "IsExactValue",
        "MatchValueIgnoreCasing",
        "ContainsValue",
        "ContainsValueIgnoreCasing",
        "DoesNotContainValue",
        "DoesNotContainValueIgnoreCasing"
      ],
      "x-ms-enum": {
        "name": "Operator",
        "modelAsString": false
      }
    },
    "Profile": {
      "type": "object",
      "title": "Footprint profile.",
      "description": "The Footprint profile resource.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Name of the Footprint profile resource."
        },
        "properties": {
          "$ref": "#/definitions/ProfileProperties",
          "title": "Footprint profile additional properties.",
          "description": "Additional Footprint profile properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProfileList": {
      "type": "object",
      "description": "Result of the request to list Footprint profiles. It contains a list of Footprint profiles and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "A collection of Footprint profiles.",
          "items": {
            "$ref": "#/definitions/Profile"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of Footprint profile objects."
        }
      }
    },
    "ProfileNameParameter": {
      "type": "object",
      "properties": {
        "profileName": {
          "type": "string",
          "description": "The name of the Footprint profile.",
          "minLength": 3,
          "maxLength": 64,
          "pattern": "^[a-zA-Z0-9]",
          "readOnly": true,
          "x-ms-parameter-location": "method"
        }
      },
      "required": [
        "profileName"
      ]
    },
    "ProfilePatch": {
      "type": "object",
      "title": "Footprint Profile Update Model",
      "description": "The model for patches on Footprint profile resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "The tags for this resource.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProfileProperties": {
      "type": "object",
      "description": "A model representing the Footprint profile resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioned state of the resource",
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "readOnly": true
        },
        "profileId": {
          "type": "string",
          "title": "The id of the Footprint profile.",
          "description": "The id of the Footprint profile.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "title": "Profile Description",
          "description": "The description of the Footprint profile."
        },
        "startDelayMilliseconds": {
          "type": "integer",
          "format": "int32",
          "title": "Start Delay (ms)",
          "description": "The delay in milliseconds that the clients should wait for until they start performing measurements.",
          "minimum": 0,
          "maximum": 3600000
        },
        "scriptUri": {
          "type": "string",
          "title": "Profile Script URL",
          "description": "The URL where the script for the Footprint profile.",
          "readOnly": true
        },
        "measurementCount": {
          "type": "integer",
          "format": "int32",
          "title": "Count of Measurements",
          "description": "The number of measurements to perform.",
          "minimum": 0
        },
        "coldPathSamplingPercentageRate": {
          "type": "number",
          "format": "float",
          "title": "Cold Path Sampling Percentage",
          "description": "The default sampling percentage for cold path measurement storage.",
          "minimum": 0,
          "maximum": 100
        },
        "measurementEndpoints": {
          "type": "array",
          "title": "MeasurementEndpoints",
          "description": "The endpoints which to perform measurements to.",
          "items": {
            "$ref": "#/definitions/MeasurementEndpoint"
          },
          "readOnly": true
        },
        "reportingEndpoints": {
          "type": "array",
          "title": "Reporting Endpoings",
          "description": "The endpoints which to upload measurements to.",
          "items": {
            "type": "string"
          }
        },
        "experiments": {
          "type": "array",
          "title": "Experiments",
          "description": "The experiments currently associated to this Footprint profile.",
          "items": {
            "$ref": "#/definitions/SubResource"
          },
          "readOnly": true
        }
      },
      "required": [
        "startDelayMilliseconds",
        "measurementCount"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "ResourceProvisioningState",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false,
        "values": [
          {
            "name": "ResourceProvisioningState",
            "value": "ResourceProvisioningState"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource create request has been completed"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource create request has failed"
          }
        ]
      }
    },
    "Resource": {
      "type": "object",
      "title": "Azure Resource",
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource Id for the resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Tags for the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "location": {
          "type": "string",
          "description": "Region where the Azure resource is located.",
          "x-ms-mutable": [
            "read",
            "create"
          ]
        }
      },
      "x-ms-azure-resource": true
    },
    "ResourceGroupNameParameter": {
      "type": "object",
      "properties": {
        "resourceGroupName": {
          "type": "string",
          "description": "The name of the resource group.",
          "minLength": 1,
          "maxLength": 90,
          "readOnly": true,
          "x-ms-parameter-location": "method"
        }
      },
      "required": [
        "resourceGroupName"
      ]
    },
    "ResourceProviderOperationDefinition": {
      "type": "object",
      "title": "Resource Provider Operation",
      "description": "Describes the Resource Provider Operation.",
      "properties": {
        "name": {
          "type": "string",
          "title": "The operation's name.",
          "description": "Resource provider operation name."
        },
        "display": {
          "$ref": "#/definitions/ResourceProviderOperationDisplay",
          "title": "The operation's properties.",
          "description": "Resource provider display properties."
        }
      }
    },
    "ResourceProviderOperationDisplay": {
      "type": "object",
      "title": "Resource Provider Operation Properties",
      "description": "Describes the properties of the Operation.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Name of the resource provider."
        },
        "resource": {
          "type": "string",
          "description": "Name of the resource type."
        },
        "operation": {
          "type": "string",
          "description": "Name of the resource provider operation."
        },
        "description": {
          "type": "string",
          "description": "Description of the resource provider operation."
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "title": "Resource Provider's Available Operations",
      "description": "A list of operations and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Resource provider operations list.",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperationDefinition"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "description": "The URI that can be used to request the next page for list of Azure operations.",
          "readOnly": true
        }
      }
    },
    "SubResource": {
      "type": "object",
      "description": "An Azure resource that is child to another Azure resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource Id for the resource.",
          "readOnly": true
        }
      },
      "required": [
        "id"
      ],
      "x-ms-azure-resource": true
    },
    "SubscriptionIdParameter": {
      "type": "object",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
          "readOnly": true
        }
      },
      "required": [
        "subscriptionId"
      ]
    },
    "Type": {
      "type": "string",
      "description": "The type of a Footprint measurement endpoint condition.",
      "enum": [
        "RequestHeader"
      ],
      "x-ms-enum": {
        "name": "Type",
        "modelAsString": false
      }
    }
  },
  "parameters": {}
}
