{
  "swagger": "2.0",
  "info": {
    "title": "ResourcePoolClient",
    "version": "2022-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourcePool/virtualMachinePools/{poolName}": {
      "put": {
        "operationId": "VirtualMachinePools_Put",
        "tags": [
          "Pool"
        ],
        "summary": "Create a Pool",
        "description": "Creates a Pool.",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "Customer subscription id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Resource group of the pool.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "poolName",
            "description": "Pool Name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "VM Pool request.",
            "schema": {
              "$ref": "#/definitions/PMaaS.ExternalContracts.VMPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "operationId": "VirtualMachinePools_Patch",
        "tags": [
          "Pool"
        ],
        "summary": "Patch a Pool",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "Customer subscription id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Resource group of the pool.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "poolName",
            "description": "Pool Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "operationId": "VirtualMachinePools_Get",
        "tags": [
          "Pool"
        ],
        "summary": "Get a Pool",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "Customer subscription id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Resource group of the pool.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "poolName",
            "description": "Pool Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PMaaS.ExternalContracts.VMPool"
            }
          }
        }
      },
      "delete": {
        "operationId": "VirtualMachinePools_Delete",
        "tags": [
          "Pool"
        ],
        "summary": "Delete a Pool",
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "Customer subscription id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Resource group of the pool.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "poolName",
            "description": "Pool Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourcePool/virtualMachinePools": {
      "get": {
        "operationId": "VirtualMachinePools_ListByResourceGroup",
        "tags": [
          "Pool"
        ],
        "summary": "List all Pools under the resource group.",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "Customer subscription id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "description": "Resource group of the pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PMaaS.ExternalContracts.VMPool"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourcePool/virtualMachinePools": {
      "get": {
        "operationId": "VirtualMachinePools_ListBySubscription",
        "tags": [
          "Pool"
        ],
        "summary": "List all Pools under the subscription.",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "description": "Customer subscription id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PMaaS.ExternalContracts.VMPool"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PMaaS.ExternalContracts.Properties": {
      "type": "object",
      "properties": {
        "virtualMachineProfile": {
          "type": "string"
        }
      }
    },
    "PMaaS.ExternalContracts.VMPool": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/PMaaS.ExternalContracts.VMPool.VirtualMachineProperties"
        }
      }
    },
    "PMaaS.ExternalContracts.VMPool.VirtualMachineProperties": {
      "type": "object",
      "properties": {
        "virtualMachineProfile": {
          "type": "string"
        }
      }
    }
  }
}