{
  "swagger": "2.0",
  "info": {
    "title": "Carbon",
    "version": "2024-02-01-preview",
    "description": "Carbon Report Resource Provider query API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Carbon/carbonEmissionReports": {
      "post": {
        "operationId": "CarbonService_QueryCarbonEmissionReports",
        "description": "API for Carbon Emissions Reports",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "queryParameters",
            "in": "body",
            "description": "Query parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CarbonEmissionDataListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "QueryCarbonEmission Monthly Summary Report with optional filter - locationList, resourceTypeList, resourceGroupUrlList": {
            "$ref": "./examples/queryCarbonEmissionsMonthlySummaryReportWithOtherOptionalFilter.json"
          },
          "QueryCarbonEmission Overall Monthly Summary Report": {
            "$ref": "./examples/queryCarbonEmissionsMonthlySummaryReport.json"
          },
          "QueryCarbonEmission Overall Summary Report": {
            "$ref": "./examples/queryCarbonEmissionsOverallSummaryReport.json"
          },
          "QueryCarbonEmission Overall Summary Report with optional filter - locationList, resourceTypeList, resourceGroupUrlList": {
            "$ref": "./examples/queryCarbonEmissionsOverallSummaryReportWithOtherOptionalFilter.json"
          }
        }
      }
    },
    "/providers/Microsoft.Carbon/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/listOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Carbon/queryCarbonEmissionDataAvailableDateRange": {
      "post": {
        "operationId": "CarbonService_QueryCarbonEmissionDataAvailableDateRange",
        "description": "API for query carbon emission data available date range",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CarbonEmissionDataAvailableDateRange"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CarbonService_QueryCarbonEmissionDataAvailableDateRange": {
            "$ref": "./examples/carbonEmissionsDataAvailableDateRange.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessDecisionEnum": {
      "type": "string",
      "description": "Enum for Access Decision",
      "enum": [
        "Allowed",
        "Denied"
      ],
      "x-ms-enum": {
        "name": "AccessDecisionEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Allowed",
            "value": "Allowed",
            "description": "Access allowed"
          },
          {
            "name": "Denied",
            "value": "Denied",
            "description": "Access denied"
          }
        ]
      }
    },
    "CarbonEmissionData": {
      "type": "object",
      "description": "The basic response for different query report, all query report result will have these information",
      "properties": {
        "dataType": {
          "$ref": "#/definitions/ResponseDataTypeEnum",
          "description": "Query result data type name"
        },
        "totalCarbonEmission": {
          "type": "number",
          "format": "double",
          "description": "Total carbon emissions for given query parameters, the value unit is kgCO2E"
        },
        "totalCarbonEmissionLastMonth": {
          "type": "number",
          "format": "double",
          "description": "Total carbon emission of previous month"
        },
        "changeRatioForLastMonth": {
          "type": "number",
          "format": "double",
          "description": "Change ratio between totalCarbonEmission and totalCarbonEmissionLastMonth"
        },
        "changeValueMonthOverMonth": {
          "type": "number",
          "format": "double",
          "description": "Change Value between totalCarbonEmission and totalCarbonEmissionLastMonth"
        }
      },
      "discriminator": "dataType",
      "required": [
        "dataType",
        "totalCarbonEmission",
        "totalCarbonEmissionLastMonth",
        "changeRatioForLastMonth"
      ]
    },
    "CarbonEmissionDataAvailableDateRange": {
      "type": "object",
      "description": "Response for available date range of carbon emission data",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "Start date parameter, format is yyyy-MM-dd"
        },
        "endDate": {
          "type": "string",
          "description": "End date parameter, format is yyyy-MM-dd"
        }
      },
      "required": [
        "startDate",
        "endDate"
      ]
    },
    "CarbonEmissionDataListResult": {
      "type": "object",
      "description": "List of carbon emission results",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CarbonEmissionData items on this page",
          "items": {
            "$ref": "#/definitions/CarbonEmissionData"
          },
          "x-ms-identifiers": []
        },
        "skipToken": {
          "type": "string",
          "description": "The pagination token to fetch next page data, it's null or empty if it doesn't have next page data"
        },
        "nextLink": {
          "type": "string",
          "description": "If next page data available, the nextLink will return back with value like: {refererHeaderUrl}?$skipToken={opaqueString}"
        },
        "subscriptionAccessDecisionList": {
          "type": "array",
          "description": "The access decision list for each input subscription ",
          "items": {
            "$ref": "#/definitions/SubscriptionAccessDecision"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "value"
      ]
    },
    "CarbonEmissionItemDetailData": {
      "type": "object",
      "description": "Response for detailed carbon emissions",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "Item name, it can be resource name, resource type name, location, resource group name or subscriptionId. It depends on category type."
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Item category, see supported type value defined in CategoryTypeEnum"
        }
      },
      "required": [
        "itemName",
        "categoryType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "ItemDetailsData"
    },
    "CarbonEmissionMonthlySummaryData": {
      "type": "object",
      "description": "Response for Monthly Carbon Emissions Summary",
      "properties": {
        "date": {
          "type": "string",
          "description": "Monthly date string, format is yyyy-MM-dd"
        },
        "carbonIntensity": {
          "type": "number",
          "format": "double",
          "description": "Carbon Intensity"
        }
      },
      "required": [
        "date",
        "carbonIntensity"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "MonthlySummaryData"
    },
    "CarbonEmissionOverallSummaryData": {
      "type": "object",
      "description": "Response for Overall Carbon Emissions Summary",
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "OverallSummaryData"
    },
    "CarbonEmissionTopItemMonthlySummaryData": {
      "type": "object",
      "description": "Response for Top Items Carbon Emissions by Month",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "Item name, it can be resource name, resource type name, location, resource group name or subscriptionId. It depends on category type."
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Item category, see supported type value defined in CategoryTypeEnum"
        },
        "date": {
          "type": "string",
          "description": "Month date"
        }
      },
      "required": [
        "itemName",
        "categoryType",
        "date"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "TopItemsMonthlySummaryData"
    },
    "CarbonEmissionTopItemsSummaryData": {
      "type": "object",
      "description": "Response for Top Items by Category Type",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "Item name, it can be resource name, resource type name, location, resource group name or subscriptionId. It depends on category type."
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Item category, see supported type value defined in CategoryTypeEnum"
        }
      },
      "required": [
        "itemName",
        "categoryType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "TopItemsSummaryData"
    },
    "CategoryTypeEnum": {
      "type": "string",
      "description": "Supported category types to be used with QueryParameter",
      "enum": [
        "Subscription",
        "ResourceGroup",
        "Location",
        "Resource",
        "ResourceType"
      ],
      "x-ms-enum": {
        "name": "CategoryTypeEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Subscription",
            "value": "Subscription",
            "description": "Subscription level aggregation granularity"
          },
          {
            "name": "ResourceGroup",
            "value": "ResourceGroup",
            "description": "ResourceGroup level aggregation granularity"
          },
          {
            "name": "Location",
            "value": "Location",
            "description": "Location level aggregation granularity"
          },
          {
            "name": "Resource",
            "value": "Resource",
            "description": "Resource level aggregation granularity"
          },
          {
            "name": "ResourceType",
            "value": "ResourceType",
            "description": "ResourceType level aggregation granularity"
          }
        ]
      }
    },
    "DateRange": {
      "type": "object",
      "description": "Date range to be used with QueryParameter",
      "properties": {
        "start": {
          "type": "string",
          "format": "date",
          "description": "Start date parameter, format is yyyy-MM-01, it should first day of each month"
        },
        "end": {
          "type": "string",
          "format": "date",
          "description": "End date parameter, format is yyyy-MM-01, it should first day of each month"
        }
      },
      "required": [
        "start",
        "end"
      ]
    },
    "EmissionScopeEnum": {
      "type": "string",
      "description": "Supported carbon emission scopes to be used with QueryParameter",
      "enum": [
        "Scope1",
        "Scope2",
        "Scope3"
      ],
      "x-ms-enum": {
        "name": "EmissionScopeEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Scope1",
            "value": "Scope1",
            "description": "Scope1 carbon emission"
          },
          {
            "name": "Scope2",
            "value": "Scope2",
            "description": "Scope2 carbon emission"
          },
          {
            "name": "Scope3",
            "value": "Scope3",
            "description": "Scope3 carbon emission"
          }
        ]
      }
    },
    "ItemDetailsQueryFilter": {
      "type": "object",
      "description": "Query Parameters for Detailed carbon emissions by pageSize",
      "properties": {
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Item Category type, see supported type value defined in CategoryTypeEnum"
        },
        "orderBy": {
          "type": "string",
          "description": "Order by column name"
        },
        "sortDirection": {
          "type": "string",
          "description": "Direction for sorting"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Number of items to return in one request, max value is 5000.",
          "minimum": 1,
          "maximum": 5000
        },
        "skipToken": {
          "type": "string",
          "description": "The pagination token to fetch next page data, nullable. It's return back in previous request's response if next page data is available"
        }
      },
      "required": [
        "categoryType",
        "orderBy",
        "sortDirection",
        "pageSize"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/QueryFilter"
        }
      ],
      "x-ms-discriminator-value": "ItemDetailsReport"
    },
    "MonthlySummaryReportQueryFilter": {
      "type": "object",
      "description": "Query Parameters for Monthly Carbon Emissions Summary",
      "allOf": [
        {
          "$ref": "#/definitions/QueryFilter"
        }
      ],
      "x-ms-discriminator-value": "MonthlySummaryReport"
    },
    "OverallSummaryReportQueryFilter": {
      "type": "object",
      "description": "Query Parameters for Overall Carbon Emissions Summary",
      "allOf": [
        {
          "$ref": "#/definitions/QueryFilter"
        }
      ],
      "x-ms-discriminator-value": "OverallSummaryReport"
    },
    "QueryFilter": {
      "type": "object",
      "description": "Query filter parameter specified by users",
      "properties": {
        "reportType": {
          "$ref": "#/definitions/ReportTypeEnum",
          "description": "Report type"
        },
        "dateRange": {
          "$ref": "#/definitions/DateRange",
          "description": "The start date and end date for carbon emissions data, for ItemDetailsReport and TopItemsSummaryReport, it only support one month data, the startDate and endDate should be equal."
        },
        "subscriptionList": {
          "type": "array",
          "description": "SubscriptionId list for carbon emissions data, subscriptionId should be all lower",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "resourceGroupUrlList": {
          "type": "array",
          "description": "resourceGroupUrl list for carbon emissions data, resourceGroupUrl value format is '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}', all lower ",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "resourceTypeList": {
          "type": "array",
          "description": "resource type list for carbon emissions data, resource type value is like 'microsoft.storage/storageaccounts', all lower",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "locationList": {
          "type": "array",
          "description": "Location list for carbon emissions data, for example 'east us', all lower",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "carbonScopeList": {
          "type": "array",
          "description": "Carbon emission scope for carbon emissions data",
          "items": {
            "$ref": "#/definitions/EmissionScopeEnum"
          },
          "x-ms-identifiers": []
        }
      },
      "discriminator": "reportType",
      "required": [
        "reportType",
        "dateRange",
        "subscriptionList",
        "carbonScopeList"
      ]
    },
    "ReportTypeEnum": {
      "type": "string",
      "description": "Enum for Report Type",
      "enum": [
        "OverallSummaryReport",
        "MonthlySummaryReport",
        "TopItemsSummaryReport",
        "TopItemsMonthlySummaryReport",
        "ItemDetailsReport"
      ],
      "x-ms-enum": {
        "name": "ReportTypeEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "OverallSummaryReport",
            "value": "OverallSummaryReport",
            "description": "OverallSummaryReport provide summary carbon emission for given query filter"
          },
          {
            "name": "MonthlySummaryReport",
            "value": "MonthlySummaryReport",
            "description": "MonthlySummaryReport provide summary carbon emission by monthly for given query filter"
          },
          {
            "name": "TopItemsSummaryReport",
            "value": "TopItemsSummaryReport",
            "description": "TopItemsSummaryReport provide Top N items summary report for given query filter"
          },
          {
            "name": "TopItemsMonthlySummaryReport",
            "value": "TopItemsMonthlySummaryReport",
            "description": "TopItemsMonthlySummaryReport provide Top N items report by monthly for given query filter"
          },
          {
            "name": "ItemDetailsReport",
            "value": "ItemDetailsReport",
            "description": "ItemDetailsReport provide item (like Resource/ResourceGroup/ResourceType/Location/Subscription) detail list for given query filter"
          }
        ]
      }
    },
    "ResourceCarbonEmissionItemDetailData": {
      "type": "object",
      "description": "Response for Resource detailed carbon emissions",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "It's resource name."
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Resource Item category"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id"
        },
        "resourceGroup": {
          "type": "string",
          "description": "Resource Group"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource Id Url"
        },
        "location": {
          "type": "string",
          "description": "Resource Location"
        },
        "resourceType": {
          "type": "string",
          "description": "Resource Type"
        }
      },
      "required": [
        "itemName",
        "categoryType",
        "subscriptionId",
        "resourceGroup",
        "resourceId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "ResourceItemDetailsData"
    },
    "ResourceCarbonEmissionTopItemMonthlySummaryData": {
      "type": "object",
      "description": "Response for Top Items Carbon Emissions by Month for ResourceType",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "It's resource name for Resource Category"
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Resource Item category"
        },
        "date": {
          "type": "string",
          "description": "Monthly date string, format is yyyy-MM-dd"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id"
        },
        "resourceGroup": {
          "type": "string",
          "description": "Resource Group"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "required": [
        "itemName",
        "categoryType",
        "date",
        "subscriptionId",
        "resourceGroup",
        "resourceId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "ResourceTopItemsMonthlySummaryData"
    },
    "ResourceCarbonEmissionTopItemsSummaryData": {
      "type": "object",
      "description": "Response for Top Items For Resource Category",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "It's resource name for Resource Category"
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Resource Item category"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id"
        },
        "resourceGroup": {
          "type": "string",
          "description": "Resource Group"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "required": [
        "itemName",
        "categoryType",
        "subscriptionId",
        "resourceGroup",
        "resourceId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "ResourceTopItemsSummaryData"
    },
    "ResourceGroupCarbonEmissionItemDetailData": {
      "type": "object",
      "description": "Response for Resource Group detailed carbon emissions",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "It's resource group name"
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "ResourceGroup Item category"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id"
        },
        "resourceGroupUrl": {
          "type": "string",
          "description": "Resource Group url, value format is '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}'"
        }
      },
      "required": [
        "itemName",
        "categoryType",
        "subscriptionId",
        "resourceGroupUrl"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "ResourceGroupItemDetailsData"
    },
    "ResourceGroupCarbonEmissionTopItemMonthlySummaryData": {
      "type": "object",
      "description": "Response for Top Items Carbon Emissions by Month for ResourceGroupType",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "It's resource group name for ResourceGroup category"
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "ResourceGroup Item category"
        },
        "date": {
          "type": "string",
          "description": "Monthly date string, format is yyyy-MM-dd"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id"
        },
        "resourceGroupUrl": {
          "type": "string",
          "description": "Resource Group url, value format is '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}'"
        }
      },
      "required": [
        "itemName",
        "categoryType",
        "date",
        "subscriptionId",
        "resourceGroupUrl"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "ResourceGroupTopItemsMonthlySummaryData"
    },
    "ResourceGroupCarbonEmissionTopItemsSummaryData": {
      "type": "object",
      "description": "Response for Top Items For ResourceGroup",
      "properties": {
        "itemName": {
          "type": "string",
          "description": "It's resourceGroup name for ResourceGroup Category"
        },
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "ResourceGroup Item category"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id"
        },
        "resourceGroupUrl": {
          "type": "string",
          "description": "Resource Group url, value format is '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}'"
        }
      },
      "required": [
        "itemName",
        "categoryType",
        "subscriptionId",
        "resourceGroupUrl"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/CarbonEmissionData"
        }
      ],
      "x-ms-discriminator-value": "ResourceGroupTopItemsSummaryData"
    },
    "ResponseDataTypeEnum": {
      "type": "string",
      "description": "The response data type of Carbon emission data",
      "enum": [
        "OverallSummaryData",
        "MonthlySummaryData",
        "TopItemsSummaryData",
        "ResourceTopItemsSummaryData",
        "ResourceGroupTopItemsSummaryData",
        "TopItemsMonthlySummaryData",
        "ResourceTopItemsMonthlySummaryData",
        "ResourceGroupTopItemsMonthlySummaryData",
        "ItemDetailsData",
        "ResourceItemDetailsData",
        "ResourceGroupItemDetailsData"
      ],
      "x-ms-enum": {
        "name": "ResponseDataTypeEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "OverallSummaryData",
            "value": "OverallSummaryData",
            "description": "The response data type for OverallSummaryReport"
          },
          {
            "name": "MonthlySummaryData",
            "value": "MonthlySummaryData",
            "description": "The response data type for MonthlySummaryReport"
          },
          {
            "name": "TopItemsSummaryData",
            "value": "TopItemsSummaryData",
            "description": "The response data type for TopItemsSummaryReport"
          },
          {
            "name": "ResourceTopItemsSummaryData",
            "value": "ResourceTopItemsSummaryData",
            "description": "The response data type for Resource's TopItemsSummaryReport"
          },
          {
            "name": "ResourceGroupTopItemsSummaryData",
            "value": "ResourceGroupTopItemsSummaryData",
            "description": "The response data type for ResourceGroup's TopItemsSummaryReport"
          },
          {
            "name": "TopItemsMonthlySummaryData",
            "value": "TopItemsMonthlySummaryData",
            "description": "The response data type for TopItemsMonthlySummaryReport"
          },
          {
            "name": "ResourceTopItemsMonthlySummaryData",
            "value": "ResourceTopItemsMonthlySummaryData",
            "description": "The response data type for Resource's TopItemsMonthlySummaryReport"
          },
          {
            "name": "ResourceGroupTopItemsMonthlySummaryData",
            "value": "ResourceGroupTopItemsMonthlySummaryData",
            "description": "The response data type for ResourceGroup's TopItemsMonthlySummaryReport"
          },
          {
            "name": "ItemDetailsData",
            "value": "ItemDetailsData",
            "description": "The response data type for ItemDetailsReport"
          },
          {
            "name": "ResourceItemDetailsData",
            "value": "ResourceItemDetailsData",
            "description": "The response data type for Resource's ItemDetailsReport"
          },
          {
            "name": "ResourceGroupItemDetailsData",
            "value": "ResourceGroupItemDetailsData",
            "description": "The response data type for ResourceGroup's ItemDetailsReport"
          }
        ]
      }
    },
    "SubscriptionAccessDecision": {
      "type": "object",
      "description": "Access Decision for each Subscription",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Id of Subscription"
        },
        "decision": {
          "$ref": "#/definitions/AccessDecisionEnum",
          "description": "Access decision to subscription"
        }
      },
      "required": [
        "subscriptionId",
        "decision"
      ]
    },
    "TopItemsMonthlySummaryReportQueryFilter": {
      "type": "object",
      "description": "Query Parameters for Top Items Carbon Emissions by Month",
      "properties": {
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Item Category type, see supported type value defined in CategoryTypeEnum"
        },
        "topItems": {
          "type": "integer",
          "format": "int32",
          "description": "Number of top items to return. The value should be between 1 and 10",
          "minimum": 1,
          "maximum": 10
        }
      },
      "required": [
        "categoryType",
        "topItems"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/QueryFilter"
        }
      ],
      "x-ms-discriminator-value": "TopItemsMonthlySummaryReport"
    },
    "TopItemsSummaryReportQueryFilter": {
      "type": "object",
      "description": "Query Parameters for Top Items Carbon Emission by Category Type",
      "properties": {
        "categoryType": {
          "$ref": "#/definitions/CategoryTypeEnum",
          "description": "Item Category type, see supported type value defined in CategoryTypeEnum"
        },
        "topItems": {
          "type": "integer",
          "format": "int32",
          "description": "Number of top items to return. The value should be between 1 and 10",
          "minimum": 1,
          "maximum": 10
        }
      },
      "required": [
        "categoryType",
        "topItems"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/QueryFilter"
        }
      ],
      "x-ms-discriminator-value": "TopItemsSummaryReport"
    }
  },
  "parameters": {}
}
