{
    "swagger": "2.0",
    "info": {
        "title": "DataSciencePlatformManagementClient",
        "description": "The DataSciencePlatform Management Client.",
        "version": "2021-05-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Iguazio.MachineLearning/dataSciencePlatforms/{dataSciencePlatformName}": {
            "put": {
                "tags": [
                    "DataSciencePlatforms"
                ],
                "operationId": "DataSciencePlatforms_Create",
                "description": "Create a data science platform.",
                "parameters": [
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "dataSciencePlatformName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the data science platform."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DataSciencePlatform"
                        },
                        "description": "Parameters supplied to the Create Data Science Platform operation."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataSciencePlatform"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/DataSciencePlatform"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "DataSciencePlatforms"
                ],
                "operationId": "DataSciencePlatforms_Update",
                "description": "Update a data science platform.",
                "parameters": [
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "dataSciencePlatformName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the data science platform."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DataSciencePlatformUpdate"
                        },
                        "description": "Parameters supplied to the Update Data Science Platform operation."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataSciencePlatform"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "DataSciencePlatforms"
                ],
                "operationId": "DataSciencePlatforms_Delete",
                "description": "Delete a data science platform.",
                "parameters": [
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "dataSciencePlatformName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the data science platform."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "get": {
                "tags": [
                    "DataSciencePlatforms"
                ],
                "operationId": "DataSciencePlatforms_Get",
                "description": "Retrieves information about a data science platform.",
                "parameters": [
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "dataSciencePlatformName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the data science platform."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataSciencePlatform"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Iguazio.MachineLearning/dataSciencePlatforms": {
            "get": {
                "tags": [
                    "DataSciencePlatforms"
                ],
                "operationId": "DataSciencePlatforms_List",
                "description": "Lists all data science platforms in a resource group.",
                "parameters": [
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataSciencePlatformsListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Iguazio.MachineLearning/dataSciencePlatforms": {
            "get": {
                "tags": [
                    "DataSciencePlatforms"
                ],
                "operationId": "DataSciencePlatforms_ListAll",
                "description": "Lists all data science platforms in the specified subscription.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DataSciencePlatformsListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "definitions": {
        "Sku": {
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The sku name."
                },
                "tier": {
                    "type": "string",
                    "description": ""
                },
                "capacity": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                }
            },
            "description": ""
        },
        "Resource": {
            "description": "The Resource model definition.",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                },
                "location": {
                    "type": "string",
                    "description": "Resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "required": [
                "location"
            ],
            "x-ms-azure-resource": true
        },
        "UpdateResource": {
            "description": "The Update Resource model definition.",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            }
        },
        "RootBlockDevice": {
            "properties": {
                "size": {
                    "type": "number"
                }
            },
            "required": ["size"]
        },
        "ScaleGroup": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "instances": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "count": {
                                "type": "number",
                                "description": "Number of initial instances"
                            },
                            "minCount": {
                                "type": "number",
                                "description": "Minimum number of instances"
                            },
                            "maxCount": {
                                "type": "number",
                                "description": "Maximum number of instances"
                            },
                            "size": {
                                "type": "string",
                                "description": "Size of instance (e.g. Standard_D16s_v3)"
                            }
                        },
                        "required": ["count", "size"]
                    }
                }
            },
            "required": ["name", "instances"],
            "description": "A scalable group of managed or unmanaged instances"
        },
        "Kubernetes": {
            "properties": {
                "kind": {
                    "type": "string",
                    "enum": [
                        "",
                        "vanilla",
                        "aks"
                    ],
                    "description": "The kind of Kubernetes cluster"
                }
            },
            "required": ["kind"],
            "description": "Kubernetes cluster"
        },
        "Tenant": {
            "properties": {
                "name": {
                    "type": "string"
                },
                "users": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "username": {
                                "type": "string",
                                "description": "Unique username with which the user logs in"
                            },
                            "password": {
                                "type": "string",
                                "format": "password",
                                "x-ms-secret": true,
                                "description": "Password with which the user logs in"
                            }
                        }
                    }
                }
            },
            "required": ["name"],
            "description": "A tenant in the platform, containing various users and resources"
        },
        "DataSciencePlatformProperties": {
            "properties": {
                "version": {
                    "type": "string",
                    "description": "The software version of the Data Science Platform (e.g. 3.2.0-b6772.20210619002231)"
                },
                "domain": {
                    "type": "string",
                    "description": "The top level domain name (e.g. iguazio-cd0.com)"
                },
                "description": {
                    "type": "string",
                    "description": "An opaque description of the platform"
                },
                "dataCluster": {
                    "type": "object",
                    "properties": {
                        "rootBlockDevice": {
                            "$ref": "#/definitions/RootBlockDevice",
                            "description": "OS root block device of instances in the data cluster"
                        },
                        "scaleGroups": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ScaleGroup",
                                "description": "Instance scale groups in the data cluster"
                            }
                        }
                    },
                    "required": ["rootBlockDevice", "scaleGroups"]
                },
                "appCluster": {
                    "type": "object",
                    "properties": {
                        "rootBlockDevice": {
                            "$ref": "#/definitions/RootBlockDevice",
                            "description": "OS root block device of instances in the app cluster"
                        },
                        "scaleGroups": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ScaleGroup",
                                "description": "Instance scale groups in the app cluster"
                            }
                        },
                        "kubernetes": {
                            "$ref": "#/definitions/Kubernetes",
                            "description": "App cluster Kubernetes"
                        }
                    },
                    "required": ["rootBlockDevice", "scaleGroups"]
                },
                "tenants": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Tenant",
                        "description": "Platform tenants"
                    }
                },
                "cloud": {
                    "type": "object",
                    "properties": {
                        "region": {
                            "type": "string",
                            "description": "Azure region"
                        }
                    },
                    "required": ["region"]
                }
            },
            "required": ["version", "domain", "dataCluster", "appCluster", "cloud"]
        },
        "DataSciencePlatformUpdateProperties": {
            "properties": {
                "tenants": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Tenant",
                        "description": "Platform tenants"
                    }
                }
            }
        },
        "DataSciencePlatform": {
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/DataSciencePlatformProperties"
                },
                "sku": {
                    "$ref": "#/definitions/Sku",
                    "description": ""
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": ""
        },
        "DataSciencePlatformUpdate": {
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/DataSciencePlatformUpdateProperties"
                },
                "sku": {
                    "$ref": "#/definitions/Sku",
                    "description": ""
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/UpdateResource"
                }
            ],
            "description": ""
        },
        "DataSciencePlatformsListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DataSciencePlatform"
                    },
                    "description": "The list of data science platforms."
                },
                "nextLink": {
                    "type": "string",
                    "description": "The URI to fetch the next page of DataSciencePlatforms. Call ListNext() with this URI to fetch the next page of Data Science Platforms."
                }
            },
            "description": "The List Data Science Platform operation response."
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        }
    }
}
