{
  "swagger": "2.0",
  "info": {
      "title": "WillisTowersWatson.ICT",
      "version": "2021-11-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
      "https"
  ],
  "consumes": [
      "application/json"
  ],
  "produces": [
      "application/json"
  ],
  "security": [
      {
          "azure_auth": [
              "user_impersonation"
          ]
      }
  ],
  "securityDefinitions": {
      "azure_auth": {
          "type": "oauth2",
          "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
          "flow": "implicit",
          "description": "Azure Active Directory OAuth2 Flow.",
          "scopes": {
              "user_impersonation": "impersonate your user account"
          }
      }
  },
  "paths": {
      "/subscriptions/{subscriptionId}/providers/WillisTowersWatson.ICT/SimpleNGIT": {
          "get": {
              "tags": [
                  "SimpleNgit"
              ],
              "description": "Returns list of Simple NGIT Resources.",
              "operationId": "SimpleNGIT_List",
              "parameters": [
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "SimpleNGITList details.",
                      "schema": {
                          "$ref": "#/definitions/SimpleNGITTypeResourceList"
                      }
                  }
              },
              "deprecated": false,
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/SimpleNGIT": {
          "get": {
              "tags": [
                  "SimpleNgit"
              ],
              "description": "Returns list of SimpleNgit.",
              "operationId": "SimpleNgit_ListByResourceGroup",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "SimpleNgit details.",
                      "schema": {
                          "$ref": "#/definitions/SimpleNGITTypeResourceList"
                      }
                  }
              },
              "deprecated": false,
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}": {
          "get": {
              "tags": [
                  "SimpleNgit"
              ],
              "description": "Returns SimpleNgit resource for a given name.",
              "operationId": "SimpleNgit_Get",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "SimpleNgit details.",
                      "schema": {
                          "$ref": "#/definitions/SimpleNgitResource"
                      }
                  }
              }
          },
          "delete": {
              "tags": [
                  "SimpleNgit"
              ],
              "description": "Delete Sample resource for a given name.",
              "operationId": "SimpleNgit_Delete",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Sample Resource details.",
                      "schema": {
                          "$ref": "#/definitions/SimpleNgitResource"
                      }
                  },
                  "201": {
                      "description": "Long running operation."
                  }
              }
          },
          "put": {
              "tags": [
                  "SimpleNgit"
              ],
              "description": "Create or update SimpleNgit resource.",
              "operationId": "SimpleNgit_CreateAndUpdate",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  },
                  {
                      "name": "SimpleNgitResource",
                      "description": "SimpleNgit details.",
                      "in": "body",
                      "required": true,
                      "schema": {
                          "$ref": "#/definitions/SimpleNgitResource"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/SimpleNgitResource"
                      }
                  },
                  "201": {
                      "description": "Long running operation."
                  }
              }
          },
          "patch": {
              "tags": [
                  "SimpleNgit"
              ],
              "description": "Update SimpleNgit details.",
              "operationId": "SimpleNgit_Update",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  },
                  {
                      "name": "SimpleNgitPatchResource",
                      "description": "SimpleNgit patch details.",
                      "in": "body",
                      "required": true,
                      "schema": {
                          "$ref": "#/definitions/SimpleNgitPatchResource"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/SimpleNgitResource"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}/ResourceCreationValidate": {
          "post": {
              "tags": [
                  "SimpleNgit"
              ],
              "operationId": "SimpleNGIT_CreateValidate",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/SimpleNgitResource"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}/ResourceCreationCompleted": {
          "post": {
              "tags": [
                  "SimpleNgit"
              ],
              "operationId": "SimpleNGIT_CreateComplete",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/SimpleNgitResource"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}/ResourceDeletionValidate": {
          "post": {
              "tags": [
                  "SimpleNgit"
              ],
              "operationId": "SimpleNGIT_DeleteValidate",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success"
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/SimpleNGIT/{resourceName}/ResourceDeletionCompleted": {
          "post": {
              "tags": [
                  "SimpleNgit"
              ],
              "operationId": "SimpleNGIT_DeleteComplete",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success"
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/providers/WillisTowersWatson.ICT/NGIT": {
          "get": {
              "tags": [
                  "NGIT"
              ],
              "description": "Returns list of Simple NGIT Resources.",
              "operationId": "NGIT_List",
              "parameters": [
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "NGITList details.",
                      "schema": {
                          "$ref": "#/definitions/NGITTypeResourceList"
                      }
                  }
              },
              "deprecated": false,
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/NGIT": {
          "get": {
              "tags": [
                  "NGIT"
              ],
              "description": "Returns list of NGIT.",
              "operationId": "NGIT_ListByResourceGroup",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "NGIT details.",
                      "schema": {
                          "$ref": "#/definitions/NGITTypeResourceList"
                      }
                  }
              },
              "deprecated": false,
              "x-ms-pageable": {
                  "nextLinkName": "nextLink"
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}": {
          "get": {
              "tags": [
                  "NGIT"
              ],
              "description": "Returns NGIT resource for a given name.",
              "operationId": "NGIT_Get",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "NGIT details.",
                      "schema": {
                          "$ref": "#/definitions/NGITResource"
                      }
                  }
              }
          },
          "delete": {
              "tags": [
                  "NGIT"
              ],
              "description": "Delete Sample resource for a given name.",
              "operationId": "NGIT_Delete",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Sample Resource details.",
                      "schema": {
                          "$ref": "#/definitions/NGITResource"
                      }
                  },
                  "201": {
                      "description": "Long running operation."
                  }
              }
          },
          "put": {
              "tags": [
                  "NGIT"
              ],
              "description": "Create or update NGIT resource.",
              "operationId": "NGIT_CreateAndUpdate",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  },
                  {
                      "name": "NGITResource",
                      "description": "NGIT details.",
                      "in": "body",
                      "required": true,
                      "schema": {
                          "$ref": "#/definitions/NGITResource"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/NGITResource"
                      }
                  },
                  "201": {
                      "description": "Long running operation."
                  }
              }
          },
          "patch": {
              "tags": [
                  "NGIT"
              ],
              "description": "Update NGIT details.",
              "operationId": "NGIT_Update",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  },
                  {
                      "name": "NGITPatchResource",
                      "description": "NGIT patch details.",
                      "in": "body",
                      "required": true,
                      "schema": {
                          "$ref": "#/definitions/NGITPatchResource"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/NGITResource"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/ResourceCreationValidate": {
          "post": {
              "tags": [
                  "NGIT"
              ],
              "operationId": "NGIT_CreateValidate",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/NGITResource"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/ResourceCreationCompleted": {
          "post": {
              "tags": [
                  "NGIT"
              ],
              "operationId": "NGIT_CreateComplete",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Successful.",
                      "schema": {
                          "$ref": "#/definitions/NGITResource"
                      }
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/ResourceDeletionValidate": {
          "post": {
              "tags": [
                  "NGIT"
              ],
              "operationId": "NGIT_DeleteValidate",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success"
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/ResourceDeletionCompleted": {
          "post": {
              "tags": [
                  "NGIT"
              ],
              "operationId": "NGIT_DeleteComplete",
              "parameters": [
                  {
                      "$ref": "#/parameters/ResourceGroupNameParameter"
                  },
                  {
                      "$ref": "#/parameters/ApiVersionParameter"
                  },
                  {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                  },
                  {
                      "$ref": "#/parameters/ResourceNameParameter"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success"
                  }
              }
          }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/Stop": {
        "post": {
          "tags": [
            "NGIT"
          ],
          "operationId": "NGIT_Stop",
          "parameters": [
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/WillisTowersWatson.ICT/NGIT/{resourceName}/Start": {
        "post": {
          "tags": [
            "NGIT"
          ],
          "operationId": "NGIT_Start",
          "parameters": [
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      }
  },
  "definitions": {
      "SimpleNGITTypeResourceList": {
          "description": "The list of Simple NGIT Resources.",
          "type": "object",
          "properties": {
              "nextLink": {
                  "description": "The link used to get the next page of SimpleNgit list.",
                  "type": "string"
              },
              "value": {
                  "description": "The list of recommendations.",
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/SimpleNgitResource"
                  }
              }
          }
      },
      "NGITTypeResourceList": {
          "description": "The list of Simple NGIT Resources.",
          "type": "object",
          "properties": {
              "nextLink": {
                  "description": "The link used to get the next page of SimpleNgit list.",
                  "type": "string"
              },
              "value": {
                  "description": "The list of recommendations.",
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/NGITResource"
                  }
              }
          }
      },
      "Resource": {
          "description": "An Azure resource.",
          "properties": {
              "id": {
                  "description": "Azure resource Id.",
                  "type": "string",
                  "readOnly": true
              },
              "name": {
                  "description": "Azure resource name.",
                  "type": "string",
                  "readOnly": true
              },
              "type": {
                  "description": "Azure resource type.",
                  "type": "string",
                  "readOnly": true
              },
              "location": {
                  "description": "Location of the resource.",
                  "type": "string",
                  "readOnly": false
              },
              "tags": {
                  "description": "resource tags.",
                  "type": "object",
                  "readOnly": false,
                  "additionalProperties": {
                      "type": "string"
                  }
              }
          },
          "x-ms-azure-resource": true
      },
      "SimpleNgitResource": {
          "type": "object",
          "description": "Simple NGIT details",
          "allOf": [
              {
                  "$ref": "#/definitions/Resource"
              }
          ],
          "required": [
              "properties"
          ],
          "properties": {
              "properties": {
                  "type": "object",
                  "required": [
                      "storageAccountType"
                  ],
                  "properties": {
                      "storageAccountType": {
                          "type": "string",
                          "description": "SKU of Storage Account to deploy",
                          "minLength": 1,
                          "maxLength": 20,
                          "pattern": "^[A-Za-z0-9-._]+$"
                      }
                  }
              }
          }
      },
      "SimpleNgitPatchResource": {
          "type": "object",
          "description": "SimpleNgit patch properties",
          "properties": {
              "tags": {
                  "description": "resource tags.",
                  "type": "object",
                  "readOnly": false,
                  "additionalProperties": {
                      "type": "string"
                  }
              },
              "properties": {
                  "type": "object",
                  "properties": {
                      "storageAccountType": {
                          "type": "string",
                          "description": "SKU of Storage Account to deploy"
                      }
                  }
              }
          }
      },
      "NGITResource": {
          "type": "object",
          "description": "NGIT details",
          "allOf": [
              {
                  "$ref": "#/definitions/Resource"
              }
          ],
          "required": [
              "properties"
          ],
          "properties": {
              "properties": {
                  "type": "object",
                  "required": [
                      "storageAccountType"
                  ],
                  "properties": {
                      "state": {
                          "type": "string",
                          "description": "Current Power State of Resource",
                          "readOnly": true,
                          "minLength": 1,
                          "maxLength": 20,
                          "pattern": "^[A-Za-z0-9-._]+$"
                        },
                      "storageAccountType": {
                          "type": "string",
                          "description": "SKU of Storage Account to deploy",
                          "minLength": 1,
                          "maxLength": 20,
                          "pattern": "^[A-Za-z0-9-._]+$"
                      },
                      "planName": {
                          "type": "string",
                          "description": "Name of Plan",
                          "minLength": 1,
                          "maxLength": 20,
                          "pattern": "^[A-Za-z0-9-._]+$"
                      },
                      "vNetConfig": {
                          "type": "object",
                          "properties": {
                              "vNetAddressSpace": {
                                  "type": "array",
                                  "items": {
                                      "type": "string"
                                  }
                              },
                              "subnets": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "minItems": 1,
                                  "required": [
                                    "Name",
                                    "AddressPrefixes",
                                    "Delegations"
                                  ],
                                                                 
                                  "properties": {
                                      "AddressPrefixes": {
                                          "type": "array",
                                          "items": {
                                              "type": "string"
                                          }
                                      },
                                      "Name": {
                                          "type": "string"
                                      },
                                      "ServiceEndpoints": {
                                          "type": "array",
                                          "items": {
                                              "type": "string"
                                          }
                                      },
                                      "Delegations": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                  }
                              }
                              }
                          }
                      }
                  }
              }
          }
      },
      "NGITPatchResource": {
          "type": "object",
          "description": "Ngit patch properties",
          "properties": {
              "tags": {
                  "description": "resource tags.",
                  "type": "object",
                  "readOnly": false,
                  "additionalProperties": {
                      "type": "string"
                  }
              },
              "properties": {
                  "type": "object",
                  "properties": {
                      "storageAccountType": {
                          "type": "string",
                          "description": "SKU of Storage Account to deploy"
                      },
                      "planName": {
                          "type": "string",
                          "description": "Name of Plan",
                          "minLength": 1,
                          "maxLength": 20,
                          "pattern": "^[A-Za-z0-9-._]+$"
                      }
                  }
              }
          }
      }
  },
  "parameters": {
      "SubscriptionIdParameter": {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The Azure subscription ID."
      },
      "ApiVersionParameter": {
          "name": "api-version",
          "in": "query",
          "required": true,
          "type": "string",
          "description": "Client Api Version."
      },
      "ResourceGroupNameParameter": {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The name of the resource group.",
          "x-ms-parameter-location": "method"
      },
      "ResourceNameParameter": {
          "name": "resourceName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The resource name.",
          "x-ms-parameter-location": "method"
      }
  }
}