{
  "swagger": "2.0",
  "info": {
    "title": "NonAcrConnector",
    "description": "SHA VSA Non-ACR Connectors",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/nonAcrConnector": {
      "get": {
        "description": "Returns list of connectors by subscription id",
        "operationId": "Connectors_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of connectors",
            "schema": {
              "$ref": "#/definitions/ConnectorResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List connectors by subscription": {
            "$ref": "./examples/Connectors_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/nonAcrConnector/{connectorName}": {
      "get": {
        "description": "Returns connector resource for given connectorName.",
        "operationId": "Connector_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ConnectorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Connector resource.",
            "schema": {
              "$ref": "#/definitions/ConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get connector": {
            "$ref": "./examples/Connector_Get.json"
          }
        }
      },
      "put": {
        "description": "Create or update connector resource.",
        "operationId": "Connector_Put",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ConnectorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put connector": {
            "$ref": "./examples/Connector_Put.json"
          }
        }
      },
      "delete": {
        "description": "Delete connector resource.",
        "operationId": "Connector_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ConnectorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ConnectorResource"
            }
          },
          "204": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete connector": {
            "$ref": "./examples/Connector_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/nonAcrConnector/{connectorName}/resourceReadBegin": {
      "post": {
        "description": "Extension required to GET resource.",
        "operationId": "Connector_ResourceReadBegin",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ConnectorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Connector resource.",
            "schema": {
              "$ref": "#/definitions/ConnectorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get connector": {
            "$ref": "./examples/Connector_ResourceReadBegin.json"
          }
        }
      }
    },
    "/providers/Microsoft.Security/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operation_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectorResource": {
      "type": "object",
      "description": "Connector details",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "properties": {
          "type": "object",
          "required": [
            "username",
            "password",
            "containerRegistryType"
          ],
          "properties": {
            "username": {
              "type": "string",
              "description": "username to log into container registry"
            },
            "password": {
              "type": "string",
              "description": "password for container registry",
              "x-ms-secret": true
            },
            "containerRegistryType": {
              "type": "string",
              "description": "type of container registry",
              "enum": [
                "dockerhub"
              ],
              "x-ms-enum": {
                "name": "containerRegistryType",
                "modelAsString": true
              }
            },
            "provisioningState": {
              "description": "Provisioning state of the resource",
              "type": "string",
              "enum": [
                "Succeeded",
                "Failed",
                "Canceled"
              ],
              "x-ms-enum": {
                "name": "provisioningState",
                "modelAsString": true
              },
              "readOnly": true
            }
          }
        }
      }
    },
    "ConnectorResourceList": {
      "description": "List of connectors",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of connectors list.",
          "type": "string"
        },
        "value": {
          "description": "The list of connectors.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectorResource"
          }
        }
      }
    }
  },
  "parameters": {
    "ConnectorNameParameter": {
      "name": "connectorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The connector resource name.",
      "x-ms-parameter-location": "method"
    }
  }
}
