{
  "swagger": "2.0",
  "info": {
    "title": "SecurityCopilotClient",
    "version": "2023-11-27-preview",
    "description": "SecurityCopilot Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SecurityCopilotUnits"
    }
  ],
  "paths": {
    "/providers/Private.SecurityCopilot/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.SecurityCopilot/checkNameAvailability": {
      "post": {
        "operationId": "SecurityCopilotUnits_CheckGlobalNameAvailability",
        "tags": [
          "SecurityCopilotUnits"
        ],
        "description": "Adds check global name availability operation, normally used if\na resource name must be globally unique (for example, if the resource\nexposes and endpoint that uses the resource name in the url)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityCopilotUnits_CheckGlobalNameAvailability_MaximumSet_Gen": {
            "$ref": "./examples/SecurityCopilotUnits_CheckGlobalNameAvailability_MaximumSet_Gen.json"
          },
          "SecurityCopilotUnits_CheckGlobalNameAvailability_MinimumSet_Gen": {
            "$ref": "./examples/SecurityCopilotUnits_CheckGlobalNameAvailability_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.SecurityCopilot/scu": {
      "get": {
        "operationId": "SecurityCopilotUnits_ListBySubscription",
        "tags": [
          "SecurityCopilotUnits"
        ],
        "description": "List SecurityCopilotUnit resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityCopilotUnitListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityCopilotUnits_ListBySubscription": {
            "$ref": "./examples/SecurityCopilotUnits_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.SecurityCopilot/scu": {
      "get": {
        "operationId": "SecurityCopilotUnits_ListByResourceGroup",
        "tags": [
          "SecurityCopilotUnits"
        ],
        "description": "List SecurityCopilotUnit resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityCopilotUnitListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityCopilotUnits_ListByResourceGroup": {
            "$ref": "./examples/SecurityCopilotUnits_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.SecurityCopilot/scu/{name}": {
      "get": {
        "operationId": "SecurityCopilotUnits_Get",
        "tags": [
          "SecurityCopilotUnits"
        ],
        "description": "Get a SecurityCopilotUnit",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of capacity unit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityCopilotUnit"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityCopilotUnits_Get": {
            "$ref": "./examples/SecurityCopilotUnits_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SecurityCopilotUnits_CreateOrUpdate",
        "tags": [
          "SecurityCopilotUnits"
        ],
        "description": "Create a SecurityCopilotUnit",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of capacity unit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityCopilotUnit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityCopilotUnit' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityCopilotUnit"
            }
          },
          "201": {
            "description": "Resource 'SecurityCopilotUnit' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityCopilotUnit"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityCopilotUnits_CreateOrUpdate": {
            "$ref": "./examples/SecurityCopilotUnits_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SecurityCopilotUnits_Update",
        "tags": [
          "SecurityCopilotUnits"
        ],
        "description": "Update a SecurityCopilotUnit",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of capacity unit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,63}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityCopilotUnitUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityCopilotUnit"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityCopilotUnits_Update": {
            "$ref": "./examples/SecurityCopilotUnits_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SecurityCopilotUnits_Delete",
        "tags": [
          "SecurityCopilotUnits"
        ],
        "description": "Delete a SecurityCopilotUnit",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of capacity unit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SecurityCopilotUnits_Delete_MaximumSet_Gen": {
            "$ref": "./examples/SecurityCopilotUnits_Delete_MaximumSet_Gen.json"
          },
          "SecurityCopilotUnits_Delete_MinimumSet_Gen": {
            "$ref": "./examples/SecurityCopilotUnits_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "SecurityCopilotUnit": {
      "type": "object",
      "description": "A Security Copilot Unit resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityCopilotUnitProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SecurityCopilotUnitListResult": {
      "type": "object",
      "description": "The response of a SecurityCopilotUnit list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SecurityCopilotUnit items on this page",
          "items": {
            "$ref": "#/definitions/SecurityCopilotUnit"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SecurityCopilotUnitProperties": {
      "type": "object",
      "description": "Security Copilots Unit properties",
      "properties": {
        "noOfUnits": {
          "type": "integer",
          "format": "int64",
          "description": "No of Units",
          "minimum": 1
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "capacityLocation": {
          "type": "string",
          "description": "Location of Capacity Unit",
          "readOnly": true
        },
        "workspace": {
          "type": "string",
          "description": "Name of the workspace",
          "pattern": "^[a-zA-Z0-9-]{3,63}$"
        }
      },
      "required": [
        "capacityLocation",
        "workspace"
      ]
    },
    "SecurityCopilotUnitUpdate": {
      "type": "object",
      "description": "The type used for update operations of the SecurityCopilotUnit.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/SecurityCopilotUnitUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "SecurityCopilotUnitUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the SecurityCopilotUnit.",
      "properties": {
        "noOfUnits": {
          "type": "integer",
          "format": "int64",
          "description": "No of Units",
          "minimum": 1
        },
        "workspace": {
          "type": "string",
          "description": "Name of the workspace",
          "pattern": "^[a-zA-Z0-9-]{3,63}$"
        }
      }
    }
  },
  "parameters": {}
}
