{
    "swagger": "2.0",
    "info": {
      "title": "AzureDataShul",
      "description": "The Microsoft.AzureDataShul Rest API spec.",
      "version": "2020-09-21-preview",
      "x-ms-code-generation-settings": {
        "name": "AzureDataShulClient"
      }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataShul/datacontrollers/{datacontrollersName}": {
        "get": {
          "operationId": "datacontrollers_Retrieve",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/datacontrollersNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the datacontrollers resource.",
              "schema": {
                "$ref": "#/definitions/datacontrollers"
              }
            }
          }
        },
        "put": {
          "operationId": "datacontrollers_CreateOrUpdate",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/datacontrollersNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "datacontrollers",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/datacontrollers"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the datacontrollers resource.",
              "schema": {
                "$ref": "#/definitions/datacontrollers"
              }
            },
            "201": {
              "description": "Creates the datacontrollers resource.",
              "schema": {
                "$ref": "#/definitions/datacontrollers"
              }
            }
          }
        },
        "delete": {
          "operationId": "datacontrollers_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/datacontrollersNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the datacontrollers resource."
            }
          }
        },
        "patch": {
          "operationId": "datacontrollers_Update",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/datacontrollersNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "datacontrollers",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/datacontrollersPatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the datacontrollers resource.",
              "schema": {
                "$ref": "#/definitions/datacontrollers"
              }
            },
            "201": {
              "description": "Updates the datacontrollers resource.",
              "schema": {
                "$ref": "#/definitions/datacontrollers"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataShul/datacontrollers": {
        "get": {
          "operationId": "datacontrollers_ListByResourceGroup",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all datacontrollers under the resouce group.",
              "schema": {
                "$ref": "#/definitions/datacontrollersListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.AzureDataShul/datacontrollers": {
        "get": {
          "operationId": "datacontrollers_ListBySubscription",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all datacontrollers under the subscription.",
              "schema": {
                "$ref": "#/definitions/datacontrollersListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/providers/Microsoft.AzureDataShul/operations": {
        "get": {
          "operationId": "Operations_List",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Describe the result of a successful operation.",
              "schema": {
                "$ref": "#/definitions/ResourceProviderOperationList"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "datacontrollersProperties": {
        "type": "object",
        "properties": {
          "credentials": {
            "type": "object",
            "properties": {
              "serviceAccount": {
                "type": "string"
              },
              "controllerAdmin": {
                "type": "string"
              },
              "dockerRegistry": {
                "type": "string"
              }
            }
          },
          "docker": {
            "type": "object",
            "properties": {
              "registry": {
                "type": "string"
              },
              "repository": {
                "type": "string"
              },
              "imageTag": {
                "type": "string"
              },
              "imagePullPolicy": {
                "type": "string"
              }
            }
          },
          "storage": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "className": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string"
                  },
                  "accessMode": {
                    "type": "string"
                  }
                }
              },
              "logs": {
                "type": "object",
                "properties": {
                  "className": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string"
                  },
                  "accessMode": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "security": {
            "type": "object",
            "properties": {
              "allowRunAsRoot": {
                "type": "boolean"
              },
              "allowDumps": {
                "type": "boolean"
              },
              "allowNodeMetrics": {
                "type": "boolean"
              },
              "allowPodMetrics": {
                "type": "boolean"
              }
            }
          },
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "port": {
                  "type": "integer"
                }
              }
            }
          },
          "settings": {
            "type": "object",
            "properties": {
              "controller": {
                "type": "object",
                "properties": {
                  "logs.rotation.size": {
                    "type": "string"
                  },
                  "logs.rotation.days": {
                    "type": "string"
                  }
                }
              },
              "ElasticSearch": {
                "type": "object",
                "properties": {
                  "vm.max_map_count": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "provisioningState": {
            "type": "string"
          },
          "status": {
            "properties": {}
          }
        }
      },
      "ResourceProviderOperationList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ResourceProviderOperation"
            }
          },
          "nextLink": {
            "type": "string"
          }
        },
        "description": "Results of the request to list operations."
      },
      "ResourceProviderOperation": {
        "type": "object",
        "properties": {
          "isDataAction": {
            "type": "string",
            "description": "Indicates whether the operation applies to data-plane."
          },
          "name": {
            "type": "string",
            "description": "Operation name, in format of {provider}/{resource}/{operation}"
          },
          "display": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "description": "The resource provider."
              },
              "resource": {
                "type": "string",
                "description": "Resource on which the operation is performed."
              },
              "operation": {
                "type": "string",
                "description": "Type of operation: get, read, delete, etc."
              },
              "description": {
                "type": "string",
                "description": "Description of this operation."
              }
            },
            "description": "Display metadata associated with the operation."
          }
        },
        "description": "Results of the request to list operations."
      },
      "datacontrollers": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/datacontrollersProperties"
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Id"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Type"
          },
          "location": {
            "type": "string",
            "description": "The resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "extendedLocation": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The extended location type."
              },
              "name": {
                "type": "string",
                "description": "The extended location name."
              }
            }
          }
        },
        "required": [
          "location"
        ],
        "description": "The datacontrollers resource definition."
      },
      "datacontrollersPatch": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "description": "The datacontrollers resource patch definition."
      },
      "datacontrollersListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/datacontrollers"
            }
          },
          "nextLink": {
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "datacontrollersNameParameter": {
        "name": "datacontrollersName",
        "in": "path",
        "required": true,
        "type": "string",
        "maxLength": 64,
        "minLength": 3
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
      }
    }
  }