{
  "swagger": "2.0",
  "info": {
    "title": "Private.AszLabHardware",
    "version": "2023-09-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Servers"
    }
  ],
  "paths": {
    "/providers/Private.AszLabHardware/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.AszLabHardware/servers": {
      "get": {
        "operationId": "Servers_ListBySubscription",
        "tags": [
          "Servers"
        ],
        "description": "List Server resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/servers": {
      "get": {
        "operationId": "Servers_ListByResourceGroup",
        "tags": [
          "Servers"
        ],
        "description": "List Server resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/servers/{serverName}": {
      "get": {
        "operationId": "Servers_Get",
        "tags": [
          "Servers"
        ],
        "description": "Get a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Servers_CreateOrUpdate",
        "tags": [
          "Servers"
        ],
        "description": "Create a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerCreateOrUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Server' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "201": {
            "description": "Resource 'Server' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Server"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Servers_Update",
        "tags": [
          "Servers"
        ],
        "description": "Update a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Servers_Delete",
        "tags": [
          "Servers"
        ],
        "description": "Delete a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AszLabHardwareSystem": {
      "type": "object",
      "description": "Details of the physical properties of the AszLabHw Server System",
      "properties": {
        "id": {
          "type": "string",
          "description": "The IP Address of the server to be used as unique identifer. Typespec requires this per https://azure.github.io/typespec-azure/docs/howtos/ARM/resource-type#modeling-arrays-of-complex-types"
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "The IP Address of the server"
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of the server"
        },
        "aszLabHardwareSystemModel": {
          "type": "string",
          "description": "The model of the server"
        },
        "partNumber": {
          "type": "string",
          "description": "The part number of the server"
        },
        "serviceTag": {
          "type": "string",
          "description": "The service tag of the server"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the server"
        },
        "assetTag": {
          "type": "string",
          "description": "The asset tag of the server"
        },
        "hostName": {
          "type": "string",
          "description": "The host name of the server"
        },
        "biosVersion": {
          "type": "string",
          "description": "The BIOS version of the server"
        },
        "cpldVersion": {
          "type": "string",
          "description": "The complex programmable logic device version of the server"
        },
        "tpm": {
          "type": "string",
          "description": "The TPM of the server"
        },
        "tpmFirmware": {
          "type": "string",
          "description": "The firmware of the TPM"
        },
        "processorInventory": {
          "$ref": "#/definitions/ProcessorCollection",
          "description": "The CPUs of the server"
        },
        "memoryInventory": {
          "$ref": "#/definitions/MemoryCollection",
          "description": "The memory information of the server"
        },
        "storageInventory": {
          "$ref": "#/definitions/StorageCollection",
          "description": "The disk information of the server"
        },
        "networkInventory": {
          "$ref": "#/definitions/NetworkCollection",
          "description": "The network information of the server"
        }
      },
      "required": [
        "networkInventory"
      ]
    },
    "Drive": {
      "type": "object",
      "description": "Information regarding individual Disk Drives",
      "properties": {
        "id": {
          "type": "string",
          "description": "The Id of the disk drive"
        },
        "description": {
          "type": "string",
          "description": "Description of the disk drive"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the disk drive"
        },
        "driveModel": {
          "type": "string",
          "description": "Disk drive model"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the disk drive"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the disk drive"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "Firmware version of the disk drive"
        },
        "mediaType": {
          "type": "string",
          "description": "Media type of the disk drive"
        },
        "capacityBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Capacity of the disk drive in bytes"
        }
      }
    },
    "Inventory": {
      "type": "object",
      "description": "Details of the physical properties of the AszLabHw Server",
      "properties": {
        "systems": {
          "type": "array",
          "description": "The processor of the Server",
          "items": {
            "$ref": "#/definitions/AszLabHardwareSystem"
          }
        }
      },
      "required": [
        "systems"
      ]
    },
    "MemoryCollection": {
      "type": "object",
      "description": "Information regarding the RAM of the server",
      "properties": {
        "memoryModuleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of memory modules"
        },
        "totalSystemMemoryGiB": {
          "type": "integer",
          "format": "int64",
          "description": "Total memory of server in GiB"
        },
        "memoryModules": {
          "type": "array",
          "description": "Information of individual memory modules",
          "items": {
            "$ref": "#/definitions/MemoryModule"
          }
        }
      }
    },
    "MemoryModule": {
      "type": "object",
      "description": "Information about the individual memory modules of the server",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of memory module"
        },
        "name": {
          "type": "string",
          "description": "Name of the memory module"
        },
        "location": {
          "type": "string",
          "description": "Location of the memory module"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the memory module"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the memory module"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the memory module"
        },
        "capacityMib": {
          "type": "integer",
          "format": "int64",
          "description": "Capacity of memory module in MiB"
        },
        "memoryDeviceType": {
          "type": "string",
          "description": "Device type of memory module"
        },
        "moduleProductId": {
          "type": "string",
          "description": "Product ID of memory module"
        }
      }
    },
    "NetDevice": {
      "type": "object",
      "description": "Information about a network device",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of network device"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the network device"
        },
        "netDeviceModel": {
          "type": "string",
          "description": "Model of the network device"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the network device"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the network device"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "Firmware version of the network device"
        },
        "portCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of ports on the network device"
        },
        "netDeviceMacs": {
          "type": "array",
          "description": "List of MACs for network device",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "type": "array",
          "description": "Information of individual ports on network device",
          "items": {
            "$ref": "#/definitions/Port"
          }
        }
      },
      "required": [
        "id",
        "portCount",
        "netDeviceMacs",
        "ports"
      ]
    },
    "NetworkCollection": {
      "type": "object",
      "description": "Information regarding the network of the server",
      "properties": {
        "systemMacs": {
          "type": "array",
          "description": "The list of MAC addresses",
          "items": {
            "type": "string"
          }
        },
        "netDevices": {
          "type": "array",
          "description": "Information about the individual network devices of the server",
          "items": {
            "$ref": "#/definitions/NetDevice"
          }
        }
      }
    },
    "Port": {
      "type": "object",
      "description": "Information regarding an individual port",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of port"
        },
        "linkType": {
          "type": "string",
          "description": "Link type of port"
        },
        "linkSpeedMbps": {
          "type": "integer",
          "format": "int64",
          "description": "Link speed of port in Mbps"
        },
        "linkStatus": {
          "type": "string",
          "description": "Link status of port"
        },
        "associatedMacs": {
          "type": "array",
          "description": "Associated MACs of port",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "id"
      ]
    },
    "Processor": {
      "type": "object",
      "description": "Information regarding the processor of the server",
      "properties": {
        "id": {
          "type": "string",
          "description": "id of processor"
        },
        "name": {
          "type": "string",
          "description": "The processor name"
        },
        "manufacturer": {
          "type": "string",
          "description": "The processor manufacturer"
        },
        "processorModel": {
          "type": "string",
          "description": "The processor model"
        },
        "version": {
          "type": "string",
          "description": "The processor version"
        },
        "microCodeInfo": {
          "type": "string",
          "description": "The microcode information"
        },
        "maxSpeedMhz": {
          "type": "integer",
          "format": "int64",
          "description": "The max clock speed"
        },
        "operatingSpeedMhz": {
          "type": "integer",
          "format": "int64",
          "description": "The operating clock speed"
        },
        "totalCores": {
          "type": "integer",
          "format": "int64",
          "description": "The number of cores"
        },
        "totalEnabledCores": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of enabled cores"
        },
        "totalThreads": {
          "type": "integer",
          "format": "int64",
          "description": "The total threads of the processor"
        },
        "turboState": {
          "type": "string",
          "description": "The turbo state of the processor"
        }
      }
    },
    "ProcessorCollection": {
      "type": "object",
      "description": "Information regarding the processors of the server",
      "properties": {
        "processorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Processor count total"
        },
        "logicalProcessorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Logical core count"
        },
        "processors": {
          "type": "array",
          "description": "The processors of the server",
          "items": {
            "$ref": "#/definitions/Processor"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "Server": {
      "type": "object",
      "description": "A physical computer which can be reserved for use by a user",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ServerCreateOrUpdate": {
      "type": "object",
      "description": "A physical computer which can be reserved for use by a user",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerPropertiesCreateOrUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ServerListResult": {
      "type": "object",
      "description": "The response of a Server list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Server items on this page",
          "items": {
            "$ref": "#/definitions/Server"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServerProperties": {
      "type": "object",
      "description": "Details of the AszLabHw Server.",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the server",
          "x-ms-mutability": [
            "read"
          ]
        },
        "goalStateStatus": {
          "type": "string",
          "description": "The current status of the GoalState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "assetTag": {
          "type": "string",
          "description": "The OneAsset ID of the server.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "IP address of the server's BMC.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "inventory": {
          "$ref": "#/definitions/Inventory",
          "description": "Server Inventory Information",
          "x-ms-mutability": [
            "read"
          ]
        }
      },
      "required": [
        "status",
        "goalStateStatus",
        "assetTag",
        "bmcIpAddress"
      ]
    },
    "ServerPropertiesCreateOrUpdate": {
      "type": "object",
      "description": "Details of the AszLabHw Server.",
      "properties": {
        "assetTag": {
          "type": "string",
          "description": "The OneAsset ID of the server.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "IP address of the server's BMC.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "assetTag",
        "bmcIpAddress"
      ]
    },
    "ServerUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Server.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "StorageCollection": {
      "type": "object",
      "description": "Information regarding the storage of the server",
      "properties": {
        "totalDriveCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of disk drives"
        },
        "drives": {
          "type": "array",
          "description": "Information about individual disk drives",
          "items": {
            "$ref": "#/definitions/Drive"
          }
        }
      }
    }
  },
  "parameters": {}
}
