{
  "swagger": "2.0",
  "info": {
    "title": "Private.AszLabHardware",
    "version": "2023-09-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Servers"
    },
    {
      "name": "LabServers"
    }
  ],
  "paths": {
    "/providers/Private.AszLabHardware/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.AszLabHardware/labservers": {
      "get": {
        "tags": [
          "LabServers"
        ],
        "operationId": "LabServers_ListBySubscription",
        "description": "List LabServer resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.AszLabHardware/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_ListBySubscription",
        "description": "List Server resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/labservers": {
      "get": {
        "tags": [
          "LabServers"
        ],
        "operationId": "LabServers_ListByResourceGroup",
        "description": "List LabServer resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/labservers/{serverName}": {
      "get": {
        "tags": [
          "LabServers"
        ],
        "operationId": "LabServers_Get",
        "description": "Get a LabServer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "description": "The name of the server",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "LabServers"
        ],
        "operationId": "LabServers_CreateOrUpdate",
        "description": "Create a LabServer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "description": "The name of the server",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/LabServerCreateOrUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServer"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/LabServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "LabServers"
        ],
        "operationId": "LabServers_Update",
        "description": "Update a LabServer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "description": "The name of the server",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/LabServerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "LabServers"
        ],
        "operationId": "LabServers_Delete",
        "description": "Delete a LabServer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "description": "The name of the server",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_ListByResourceGroup",
        "description": "List Server resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/servers/{serverName}": {
      "get": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Get",
        "description": "Get a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "description": "The name of the server",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_CreateOrUpdate",
        "description": "Create a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "description": "The name of the server",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ServerCreateOrUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Update",
        "description": "Update a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "description": "The name of the server",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ServerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_Delete",
        "description": "Delete a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "description": "The name of the server",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AszLabHardwareSystem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The IP Address of the server to be used as unique identifier. Typespec requires this per https://azure.github.io/typespec-azure/docs/howtos/ARM/resource-type#modeling-arrays-of-complex-types"
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "The IP Address of the server"
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of the server"
        },
        "aszLabHardwareSystemModel": {
          "type": "string",
          "description": "The model of the server"
        },
        "partNumber": {
          "type": "string",
          "description": "The part number of the server"
        },
        "serviceTag": {
          "type": "string",
          "description": "The service tag of the server"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the server"
        },
        "assetTag": {
          "type": "string",
          "description": "The asset tag of the server"
        },
        "hostName": {
          "type": "string",
          "description": "The host name of the server"
        },
        "biosVersion": {
          "type": "string",
          "description": "The BIOS version of the server"
        },
        "cpldVersion": {
          "type": "string",
          "description": "The complex programmable logic device version of the server"
        },
        "tpm": {
          "type": "string",
          "description": "The TPM of the server"
        },
        "tpmFirmware": {
          "type": "string",
          "description": "The firmware of the TPM"
        },
        "processorInventory": {
          "$ref": "#/definitions/ProcessorCollection",
          "description": "The CPUs of the server"
        },
        "memoryInventory": {
          "$ref": "#/definitions/MemoryCollection",
          "description": "The memory information of the server"
        },
        "storageInventory": {
          "$ref": "#/definitions/StorageCollection",
          "description": "The disk information of the server"
        },
        "networkInventory": {
          "$ref": "#/definitions/NetworkCollection",
          "description": "The network information of the server"
        }
      },
      "description": "Details of the physical properties of the AszLabHw Server System",
      "required": [
        "networkInventory"
      ]
    },
    "Drive": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The Id of the disk drive"
        },
        "description": {
          "type": "string",
          "description": "Description of the disk drive"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the disk drive"
        },
        "driveModel": {
          "type": "string",
          "description": "Disk drive model"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the disk drive"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the disk drive"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "Firmware version of the disk drive"
        },
        "mediaType": {
          "type": "string",
          "description": "Media type of the disk drive"
        },
        "capacityBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Capacity of the disk drive in bytes"
        }
      },
      "description": "Information regarding individual Disk Drives"
    },
    "DriveCollection": {
      "type": "object",
      "properties": {
        "totalDriveCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total count of drives"
        },
        "totalDriveCapacityBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The total capacity in bytes"
        },
        "drives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Drive"
          },
          "x-typespec-name": "Drive[]",
          "description": "Information about individual disk drives"
        }
      },
      "description": "Information regarding collection of disk drives"
    },
    "Inventory": {
      "type": "object",
      "properties": {
        "systems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AszLabHardwareSystem"
          },
          "x-typespec-name": "AszLabHardwareSystem[]",
          "description": "The processor of the Server"
        }
      },
      "description": "Details of the physical properties of the AszLabHw Server",
      "required": [
        "systems"
      ]
    },
    "LabServer": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LabServerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A physical computer which can be reserved for use by a user",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LabServerCreateOrUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LabServerPropertiesCreateOrUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A physical computer which can be reserved for use by a user",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LabServerListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LabServer"
          },
          "x-typespec-name": "LabServer[]",
          "description": "The LabServer items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a LabServer list operation.",
      "required": [
        "value"
      ]
    },
    "LabServerProperties": {
      "type": "object",
      "properties": {
        "resourceManager": {
          "$ref": "#/definitions/ResourceManager",
          "description": "The current status of the GoalState",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The status of the server",
          "x-ms-mutability": [
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "assetTag": {
          "type": "string",
          "description": "The OneAsset ID of the server.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "IP address of the server's BMC.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "inventory": {
          "$ref": "#/definitions/Inventory",
          "description": "Server Inventory Information",
          "x-ms-mutability": [
            "read"
          ]
        },
        "banner": {
          "type": "string",
          "description": "Server banner. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "nickname": {
          "type": "string",
          "description": "Server nickname. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "physicalLocation": {
          "type": "string",
          "description": "Physical location of the server.",
          "x-ms-mutability": [
            "read"
          ]
        }
      },
      "description": "Details of the AszLabHw LabServer.",
      "required": [
        "assetTag",
        "bmcIpAddress"
      ]
    },
    "LabServerPropertiesCreateOrUpdate": {
      "type": "object",
      "properties": {
        "assetTag": {
          "type": "string",
          "description": "The OneAsset ID of the server.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "IP address of the server's BMC.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "banner": {
          "type": "string",
          "description": "Server banner. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "nickname": {
          "type": "string",
          "description": "Server nickname. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Details of the AszLabHw LabServer.",
      "required": [
        "assetTag",
        "bmcIpAddress"
      ]
    },
    "LabServerUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/LabServerUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the LabServer."
    },
    "LabServerUpdateProperties": {
      "type": "object",
      "properties": {
        "banner": {
          "type": "string",
          "description": "Server banner. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "nickname": {
          "type": "string",
          "description": "Server nickname. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "The updatable properties of the LabServer."
    },
    "MemoryCollection": {
      "type": "object",
      "properties": {
        "memoryModuleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of memory modules"
        },
        "totalSystemMemoryGiB": {
          "type": "integer",
          "format": "int64",
          "description": "Total memory of server in GiB"
        },
        "memoryModules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MemoryModule"
          },
          "x-typespec-name": "MemoryModule[]",
          "description": "Information of individual memory modules"
        }
      },
      "description": "Information regarding the RAM of the server"
    },
    "MemoryModule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of memory module"
        },
        "name": {
          "type": "string",
          "description": "Name of the memory module"
        },
        "location": {
          "type": "string",
          "description": "Location of the memory module"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the memory module"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the memory module"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the memory module"
        },
        "capacityMib": {
          "type": "integer",
          "format": "int64",
          "description": "Capacity of memory module in MiB"
        },
        "memoryDeviceType": {
          "type": "string",
          "description": "Device type of memory module"
        },
        "moduleProductId": {
          "type": "string",
          "description": "Product ID of memory module"
        }
      },
      "description": "Information about the individual memory modules of the server"
    },
    "NetDevice": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of network device"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the network device"
        },
        "netDeviceModel": {
          "type": "string",
          "description": "Model of the network device"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the network device"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the network device"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "Firmware version of the network device"
        },
        "portCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of ports on the network device"
        },
        "netDeviceMacs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-typespec-name": "string[]",
          "description": "List of MACs for network device"
        },
        "ports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-typespec-name": "Port[]",
          "description": "Information of individual ports on network device"
        }
      },
      "description": "Information about a network device",
      "required": [
        "id",
        "portCount",
        "netDeviceMacs",
        "ports"
      ]
    },
    "NetworkCollection": {
      "type": "object",
      "properties": {
        "systemMacs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-typespec-name": "string[]",
          "description": "The list of MAC addresses"
        },
        "netDevices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetDevice"
          },
          "x-typespec-name": "NetDevice[]",
          "description": "Information about the individual network devices of the server"
        }
      },
      "description": "Information regarding the network of the server"
    },
    "Port": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of port"
        },
        "linkType": {
          "type": "string",
          "description": "Link type of port"
        },
        "linkSpeedMbps": {
          "type": "integer",
          "format": "int64",
          "description": "Link speed of port in Mbps"
        },
        "linkStatus": {
          "type": "string",
          "description": "Link status of port"
        },
        "associatedMacs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-typespec-name": "string[]",
          "description": "Associated MACs of port"
        }
      },
      "description": "Information regarding an individual port",
      "required": [
        "id"
      ]
    },
    "Processor": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id of processor"
        },
        "name": {
          "type": "string",
          "description": "The processor name"
        },
        "manufacturer": {
          "type": "string",
          "description": "The processor manufacturer"
        },
        "processorModel": {
          "type": "string",
          "description": "The processor model"
        },
        "version": {
          "type": "string",
          "description": "The processor version"
        },
        "microCodeInfo": {
          "type": "string",
          "description": "The microcode information"
        },
        "maxSpeedMhz": {
          "type": "integer",
          "format": "int64",
          "description": "The max clock speed"
        },
        "operatingSpeedMhz": {
          "type": "integer",
          "format": "int64",
          "description": "The operating clock speed"
        },
        "totalCores": {
          "type": "integer",
          "format": "int64",
          "description": "The number of cores"
        },
        "totalEnabledCores": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of enabled cores"
        },
        "totalThreads": {
          "type": "integer",
          "format": "int64",
          "description": "The total threads of the processor"
        },
        "turboState": {
          "type": "string",
          "description": "The turbo state of the processor"
        }
      },
      "description": "Information regarding the processor of the server"
    },
    "ProcessorCollection": {
      "type": "object",
      "properties": {
        "processorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Processor count total"
        },
        "logicalProcessorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Logical core count"
        },
        "processors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Processor"
          },
          "x-typespec-name": "Processor[]",
          "description": "The processors of the server"
        }
      },
      "description": "Information regarding the processors of the server"
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ResourceManager": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/ResourceManagerStatus",
          "description": "The current status of the ResourceManager"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message of the ResourceManager (if in failed state)"
        }
      },
      "description": "The properties of the resource manager.",
      "required": [
        "status"
      ]
    },
    "ResourceManagerStatus": {
      "type": "string",
      "description": "The status of the resource manager.",
      "enum": [
        "Creating",
        "Converging",
        "Converged",
        "Deleting",
        "FailedToCreate",
        "FailedToConverge",
        "FailedToDelete"
      ],
      "x-ms-enum": {
        "name": "ResourceManagerStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Converging",
            "value": "Converging",
            "description": "The resource is being converged."
          },
          {
            "name": "Converged",
            "value": "Converged",
            "description": "The resource is converged."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "FailedToCreate",
            "value": "FailedToCreate",
            "description": "The resource failed to create."
          },
          {
            "name": "FailedToConverge",
            "value": "FailedToConverge",
            "description": "The resource failed to converge."
          },
          {
            "name": "FailedToDelete",
            "value": "FailedToDelete",
            "description": "The resource failed to delete."
          }
        ]
      }
    },
    "Server": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A physical computer which can be reserved for use by a user",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ServerCreateOrUpdate": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerPropertiesCreateOrUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A physical computer which can be reserved for use by a user",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ServerListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Server"
          },
          "x-typespec-name": "Server[]",
          "description": "The Server items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a Server list operation.",
      "required": [
        "value"
      ]
    },
    "ServerProperties": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the server",
          "x-ms-mutability": [
            "read"
          ]
        },
        "goalStateStatus": {
          "type": "string",
          "description": "The current status of the GoalState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "assetTag": {
          "type": "string",
          "description": "The OneAsset ID of the server.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "IP address of the server's BMC.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "inventory": {
          "$ref": "#/definitions/Inventory",
          "description": "Server Inventory Information",
          "x-ms-mutability": [
            "read"
          ]
        }
      },
      "description": "Details of the AszLabHw Server.",
      "required": [
        "status",
        "goalStateStatus",
        "assetTag",
        "bmcIpAddress"
      ]
    },
    "ServerPropertiesCreateOrUpdate": {
      "type": "object",
      "properties": {
        "assetTag": {
          "type": "string",
          "description": "The OneAsset ID of the server.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "IP address of the server's BMC.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Details of the AszLabHw Server.",
      "required": [
        "assetTag",
        "bmcIpAddress"
      ]
    },
    "ServerUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        }
      },
      "description": "The type used for update operations of the Server."
    },
    "StorageCollection": {
      "type": "object",
      "properties": {
        "totalDriveCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of disk drives"
        },
        "totalDriveCapacityBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The total capacity in bytes"
        },
        "ssdSata": {
          "$ref": "#/definitions/DriveCollection",
          "description": "SSD_SATA Disk drive collections"
        },
        "hdd": {
          "$ref": "#/definitions/DriveCollection",
          "description": "HDD Disk drive collections"
        },
        "ssdNvme": {
          "$ref": "#/definitions/DriveCollection",
          "description": "SSD_NVMe Disk drive collections"
        }
      },
      "description": "Information regarding the storage of the server"
    }
  },
  "parameters": {}
}
