{
  "swagger": "2.0",
  "info": {
    "title": "PureStorage.Krypton",
    "version": "2023-06-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "VolumePools"
    }
  ],
  "paths": {
    "/providers/PureStorage.Krypton/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PureStorage.Krypton/volumePools": {
      "get": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_ListBySubscription",
        "description": "List VolumePool resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VolumePools_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_ListBySubscription_MaximumSet_Gen.json"
          },
          "VolumePools_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PureStorage.Krypton/volumePools": {
      "get": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_ListByResourceGroup",
        "description": "List VolumePool resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VolumePools_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "VolumePools_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PureStorage.Krypton/volumePools/{volumePoolName}": {
      "get": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_Get",
        "description": "Get a VolumePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "volumePoolName",
            "in": "path",
            "required": true,
            "description": "Name of the volume pool.",
            "pattern": "[a-z]+",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VolumePools_Get_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_Get_MaximumSet_Gen.json"
          },
          "VolumePools_Get_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_CreateOrUpdate",
        "description": "Create a VolumePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "volumePoolName",
            "in": "path",
            "required": true,
            "description": "Name of the volume pool.",
            "pattern": "[a-z]+",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VolumePools_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VolumePools_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_Update",
        "description": "Update a VolumePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "volumePoolName",
            "in": "path",
            "required": true,
            "description": "Name of the volume pool.",
            "pattern": "[a-z]+",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/VolumePoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VolumePools_Update_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_Update_MaximumSet_Gen.json"
          },
          "VolumePools_Update_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_Delete",
        "description": "Delete a VolumePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "volumePoolName",
            "in": "path",
            "required": true,
            "description": "Name of the volume pool.",
            "pattern": "[a-z]+",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VolumePools_Delete_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_Delete_MaximumSet_Gen.json"
          },
          "VolumePools_Delete_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "Versions": {
      "type": "string",
      "enum": [
        "2023-06-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v1_preview",
            "value": "2023-06-01-preview"
          }
        ]
      }
    },
    "VolumePool": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VolumePoolProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A volume pool resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "VolumePoolListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VolumePool"
          },
          "x-typespec-name": "VolumePool[]",
          "description": "The VolumePool items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a VolumePool list operation.",
      "required": [
        "value"
      ]
    },
    "VolumePoolProperties": {
      "type": "object",
      "properties": {
        "sampleField": {
          "type": "string",
          "description": "Sample field for testing."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State of the resource",
          "readOnly": true
        }
      },
      "description": "Volume pool properties.",
      "required": [
        "sampleField"
      ]
    },
    "VolumePoolUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/VolumePoolUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the VolumePool."
    },
    "VolumePoolUpdateProperties": {
      "type": "object",
      "properties": {
        "sampleField": {
          "type": "string",
          "description": "Sample field for testing."
        }
      },
      "description": "The updatable properties of the VolumePool."
    }
  },
  "parameters": {}
}