{
  "swagger": "2.0",
  "info": {
    "title": "ContosoWorkbench Control Plane API",
    "version": "2021-03-01-preview",
    "description": "Provides operations for working with ContosoWorkbench",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ContosoWorkbenches"
    }
  ],
  "paths": {
    "/providers/Private.ContosoWorkbench/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.ContosoWorkbench/contosoWorkbenches": {
      "get": {
        "operationId": "ContosoWorkbenches_ListBySubscription",
        "tags": [
          "ContosoWorkbenches"
        ],
        "description": "List ContosoWorkbench resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoWorkbenchListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContosoWorkbenches_ListBySubscription": {
            "$ref": "./examples/ContosoWorkbenches_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.ContosoWorkbench/contosoWorkbenches": {
      "get": {
        "operationId": "ContosoWorkbenches_ListByResourceGroup",
        "tags": [
          "ContosoWorkbenches"
        ],
        "description": "List ContosoWorkbench resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoWorkbenchListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContosoWorkbenches_ListByResourceGroup": {
            "$ref": "./examples/ContosoWorkbenches_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.ContosoWorkbench/contosoWorkbenches/{workbenchName}": {
      "get": {
        "operationId": "ContosoWorkbenches_Get",
        "tags": [
          "ContosoWorkbenches"
        ],
        "description": "Get a ContosoWorkbench",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workbenchName",
            "in": "path",
            "description": "The name of the ContosoWorkbench",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)(?!.*--)[a-zA-Z][A-Za-z0-9-]{0,63}(?<!-)$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoWorkbench"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContosoWorkbenches_Get": {
            "$ref": "./examples/ContosoWorkbenches_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ContosoWorkbenches_CreateOrUpdate",
        "tags": [
          "ContosoWorkbenches"
        ],
        "description": "Creates ContosoWorkbench and associated MSWB workload",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workbenchName",
            "in": "path",
            "description": "The name of the ContosoWorkbench",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)(?!.*--)[a-zA-Z][A-Za-z0-9-]{0,63}(?<!-)$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContosoWorkbench"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContosoWorkbench' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContosoWorkbench"
            }
          },
          "201": {
            "description": "Resource 'ContosoWorkbench' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContosoWorkbench"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContosoWorkbenches_CreateOrUpdate": {
            "$ref": "./examples/ContosoWorkbenches_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ContosoWorkbenches_Update",
        "tags": [
          "ContosoWorkbenches"
        ],
        "description": "Update a ContosoWorkbench",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workbenchName",
            "in": "path",
            "description": "The name of the ContosoWorkbench",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)(?!.*--)[a-zA-Z][A-Za-z0-9-]{0,63}(?<!-)$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContosoWorkbenchUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContosoWorkbench"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ContosoWorkbenches_Delete",
        "tags": [
          "ContosoWorkbenches"
        ],
        "description": "Delete a ContosoWorkbench",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workbenchName",
            "in": "path",
            "description": "The name of the ContosoWorkbench",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)(?!.*--)[a-zA-Z][A-Za-z0-9-]{0,63}(?<!-)$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Applications": {
      "type": "string",
      "description": "Application set to be installed on workload",
      "enum": [
        "AiAndDataScience",
        "SignalProcessing",
        "ControlSystems"
      ],
      "x-ms-enum": {
        "name": "Applications",
        "modelAsString": true,
        "values": [
          {
            "name": "AiAndDataScience",
            "value": "AiAndDataScience",
            "description": "AI & Data Science"
          },
          {
            "name": "SignalProcessing",
            "value": "SignalProcessing",
            "description": "Signal Processing"
          },
          {
            "name": "ControlSystems",
            "value": "ControlSystems",
            "description": "Control Systems"
          }
        ]
      }
    },
    "ContosoWorkbench": {
      "type": "object",
      "description": "ContosoWorkbench tracked resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContosoWorkbenchProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ContosoWorkbenchListResult": {
      "type": "object",
      "description": "The response of a ContosoWorkbench list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContosoWorkbench items on this page",
          "items": {
            "$ref": "#/definitions/ContosoWorkbench"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContosoWorkbenchProperties": {
      "type": "object",
      "description": "ContosoWorkbench properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "modSimWorkbenchId": {
          "type": "string",
          "format": "arm-id",
          "description": "ModsimWorkbench id.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Private.DevModSimWorkbench/workbenches"
              }
            ]
          }
        },
        "applications": {
          "$ref": "#/definitions/Applications",
          "description": "Application set to be installed on workload",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "toolbox": {
          "$ref": "#/definitions/Toolbox",
          "description": "Toolbox for workload",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "parameterSet": {
          "$ref": "#/definitions/ParameterSet",
          "description": "Parameter set for workload",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "userLicenseText": {
          "type": "string",
          "description": "Text of user license to be uploaded from local file",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "ContosoWorkbenchUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ContosoWorkbench.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ParameterSet": {
      "type": "string",
      "description": "Parameter sets available for workload",
      "enum": [
        "BlockParameter1"
      ],
      "x-ms-enum": {
        "name": "ParameterSet",
        "modelAsString": true,
        "values": [
          {
            "name": "BlockParameter1",
            "value": "BlockParameter1",
            "description": "Block Parameter 1"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Unknown",
        "Validating",
        "Processing",
        "Deleting",
        "Accepted",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Resource has unknown state."
          },
          {
            "name": "Validating",
            "value": "Validating",
            "description": "Resource is being validated."
          },
          {
            "name": "Processing",
            "value": "Processing",
            "description": "Resource provisioning in progress."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource provisioning action accepted."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Resource has been deleted."
          }
        ]
      },
      "readOnly": true
    },
    "Toolbox": {
      "type": "string",
      "description": "Toolboxes available for workload",
      "enum": [
        "DeepLearning",
        "CurveFitting",
        "Statistics"
      ],
      "x-ms-enum": {
        "name": "Toolbox",
        "modelAsString": true,
        "values": [
          {
            "name": "DeepLearning",
            "value": "DeepLearning",
            "description": "Deep Learning Toolbox"
          },
          {
            "name": "CurveFitting",
            "value": "CurveFitting",
            "description": "Curve Fitting Toolbox"
          },
          {
            "name": "Statistics",
            "value": "Statistics",
            "description": "Statistics Toolbox"
          }
        ]
      }
    }
  },
  "parameters": {}
}
