{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AgriculturePlatform",
    "version": "2024-05-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AgriService"
    }
  ],
  "paths": {
    "/providers/Microsoft.AgriculturePlatform/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AgriculturePlatform/agriService": {
      "get": {
        "operationId": "AgriService_ListBySubscription",
        "tags": [
          "AgriService"
        ],
        "description": "List AgriServiceResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgriServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AgriService_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/AgriService_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgriculturePlatform/agriService": {
      "get": {
        "operationId": "AgriService_ListByResourceGroup",
        "tags": [
          "AgriService"
        ],
        "description": "List AgriServiceResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgriServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AgriService_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/AgriService_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgriculturePlatform/agriService/{agriServiceResourceName}": {
      "get": {
        "operationId": "AgriService_Get",
        "tags": [
          "AgriService"
        ],
        "description": "Get a AgriServiceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agriServiceResourceName",
            "in": "path",
            "description": "The name of the AgriService resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgriServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AgriService_Get_MaximumSet_Gen": {
            "$ref": "./examples/AgriService_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AgriService_CreateOrUpdate",
        "tags": [
          "AgriService"
        ],
        "description": "Create a AgriServiceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agriServiceResourceName",
            "in": "path",
            "description": "The name of the AgriService resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgriServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AgriServiceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AgriServiceResource"
            }
          },
          "201": {
            "description": "Resource 'AgriServiceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AgriServiceResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AgriService_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/AgriService_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "AgriService_Update",
        "tags": [
          "AgriService"
        ],
        "description": "Update a AgriServiceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agriServiceResourceName",
            "in": "path",
            "description": "The name of the AgriService resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgriServiceResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgriServiceResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AgriService_Update_MaximumSet_Gen": {
            "$ref": "./examples/AgriService_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AgriService_Delete",
        "tags": [
          "AgriService"
        ],
        "description": "Delete a AgriServiceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agriServiceResourceName",
            "in": "path",
            "description": "The name of the AgriService resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "AgriService_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AgriService_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AgriServiceResource": {
      "type": "object",
      "description": "A AgriculturePlatform resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgriServiceResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "systemData": {
          "$ref": "#/definitions/AgriServiceResourceSystemData",
          "description": "System data pertaining to the resource",
          "readOnly": true
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AgriServiceResourceListResult": {
      "type": "object",
      "description": "The response of a AgriServiceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AgriServiceResource items on this page",
          "items": {
            "$ref": "#/definitions/AgriServiceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AgriServiceResourceProperties": {
      "type": "object",
      "description": "Details of the Agriculture AgriDataManager.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "AgriService resource version.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "instanceUri": {
          "type": "string",
          "description": "Uri of the AgriService instance.",
          "readOnly": true
        }
      }
    },
    "AgriServiceResourceSystemData": {
      "type": "object",
      "description": "System metadata pertaining to the AgriService resource.",
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource.",
          "readOnly": true
        },
        "createdByType": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.createdByType",
          "description": "The type of identity that created the resource.",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date",
          "description": "The type of identity that created the resource.",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource.",
          "readOnly": true
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.createdByType",
          "description": "The type of identity that last modified the resource.",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date",
          "description": "The timestamp of resource last modification (UTC)",
          "readOnly": true
        }
      }
    },
    "AgriServiceResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the AgriServiceResource.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "properties": {
          "$ref": "#/definitions/AgriServiceResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "AgriServiceResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the AgriServiceResource.",
      "properties": {
        "version": {
          "type": "string",
          "description": "AgriService resource version.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "Azure.ResourceManager.Foundations.createdByType": {
      "type": "string",
      "description": "The kind of entity that created the resource.",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "createdByType",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User",
            "description": "The entity was created by a user."
          },
          {
            "name": "Application",
            "value": "Application",
            "description": "The entity was created by an application."
          },
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity",
            "description": "The entity was created by a managed identity."
          },
          {
            "name": "Key",
            "value": "Key",
            "description": "The entity was created by a key."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Initial provisioning in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      }
    },
    "Versions": {
      "type": "string",
      "description": "Supported API versions for the Microsoft.AgriculturePlatform resource provider.",
      "enum": [
        "2024-05-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_05_01_preview",
            "value": "2024-05-01-preview",
            "description": "The 2024-05-01-preview version."
          }
        ]
      }
    }
  },
  "parameters": {}
}