{
  "swagger": "2.0",
  "info": {
    "title": "Private.BbeeDev3",
    "version": "2023-12-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ConlvProvisioningResources"
    },
    {
      "name": "ProvisioningPolicies"
    }
  ],
  "paths": {
    "/providers/Private.BbeeDev3/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.BbeeDev3/conlvProvisioningResources": {
      "get": {
        "operationId": "ConlvProvisioningResources_ListBySubscription",
        "tags": [
          "ConlvProvisioningResources"
        ],
        "description": "List ProvisioningResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.BbeeDev3/conlvProvisioningResources": {
      "get": {
        "operationId": "ConlvProvisioningResources_ListByResourceGroup",
        "tags": [
          "ConlvProvisioningResources"
        ],
        "description": "List ProvisioningResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.BbeeDev3/conlvProvisioningResources/{provisioningResourceName}": {
      "get": {
        "operationId": "ConlvProvisioningResources_Get",
        "tags": [
          "ConlvProvisioningResources"
        ],
        "description": "Get a ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ConlvProvisioningResources_CreateOrUpdate",
        "tags": [
          "ConlvProvisioningResources"
        ],
        "description": "Create a ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConlvProvisioningResources_Update",
        "tags": [
          "ConlvProvisioningResources"
        ],
        "description": "Update a ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisioningResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ConlvProvisioningResources_Delete",
        "tags": [
          "ConlvProvisioningResources"
        ],
        "description": "Delete a ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.BbeeDev3/conlvProvisioningResources/{provisioningResourceName}/provisioningPolicies": {
      "get": {
        "operationId": "ProvisioningPolicies_ListByProvisioningResource",
        "tags": [
          "ProvisioningPolicies"
        ],
        "description": "List ProvisioningPolicy resources by ProvisioningResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.BbeeDev3/conlvProvisioningResources/{provisioningResourceName}/provisioningPolicies/{provisioningPolicyName}": {
      "get": {
        "operationId": "ProvisioningPolicies_Get",
        "tags": [
          "ProvisioningPolicies"
        ],
        "description": "Get a ProvisioningPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "provisioningPolicyName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ProvisioningPolicies_CreateOrUpdate",
        "tags": [
          "ProvisioningPolicies"
        ],
        "description": "Create a ProvisioningPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "provisioningPolicyName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ProvisioningPolicies_Update",
        "tags": [
          "ProvisioningPolicies"
        ],
        "description": "Update a ProvisioningPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "provisioningPolicyName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProvisioningPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ProvisioningPolicies_Delete",
        "tags": [
          "ProvisioningPolicies"
        ],
        "description": "Delete a ProvisioningPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "provisioningResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "provisioningPolicyName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AllocationEndpoint": {
      "type": "object",
      "description": "Endpoint",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the endpoint"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource id of the endpoint"
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "Weight of the endpoint"
        },
        "region": {
          "type": "string",
          "description": "Region of the endpoint"
        }
      },
      "required": [
        "name",
        "resourceId"
      ]
    },
    "AllocationRule": {
      "type": "object",
      "description": "The allocation rule",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the allocation rule"
        },
        "type": {
          "$ref": "#/definitions/AllocationType",
          "description": "Type of the allocation rule"
        },
        "endpointType": {
          "$ref": "#/definitions/EndpointType",
          "description": "Type of endpoint"
        },
        "endpoints": {
          "type": "array",
          "description": "List of endpoints",
          "items": {
            "$ref": "#/definitions/AllocationEndpoint"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "name",
        "type",
        "endpointType"
      ]
    },
    "AllocationType": {
      "type": "string",
      "description": "Type of allocation rule",
      "enum": [
        "Static",
        "GeoBased",
        "Weighted"
      ],
      "x-ms-enum": {
        "name": "AllocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Static",
            "value": "Static",
            "description": "Static allocation of a single endpoint."
          },
          {
            "name": "GeoBased",
            "value": "GeoBased",
            "description": "Allocation based on geo-location."
          },
          {
            "name": "Weighted",
            "value": "Weighted",
            "description": "Allocation based on weight."
          }
        ]
      }
    },
    "BootstrapAuthenticationDetails": {
      "type": "object",
      "description": "The authentication details for bootstrap",
      "properties": {
        "primaryCert": {
          "type": "string",
          "format": "password",
          "description": "The primary certificate",
          "x-ms-secret": true
        },
        "secondaryCert": {
          "type": "string",
          "format": "password",
          "description": "The secondary certificate",
          "x-ms-secret": true
        }
      },
      "required": [
        "primaryCert"
      ]
    },
    "BootstrapAuthenticationDetailsUpdate": {
      "type": "object",
      "description": "The authentication details for bootstrap",
      "properties": {
        "primaryCert": {
          "type": "string",
          "format": "password",
          "description": "The primary certificate",
          "x-ms-secret": true
        },
        "secondaryCert": {
          "type": "string",
          "format": "password",
          "description": "The secondary certificate",
          "x-ms-secret": true
        }
      }
    },
    "BootstrapAuthenticationRule": {
      "type": "object",
      "description": "The authentication rule for bootstrap",
      "properties": {
        "type": {
          "$ref": "#/definitions/BootstrapAuthenticationType",
          "description": "The type of authentication rule"
        },
        "details": {
          "$ref": "#/definitions/BootstrapAuthenticationDetails",
          "description": "The authentication details"
        }
      },
      "required": [
        "type"
      ]
    },
    "BootstrapAuthenticationRuleUpdate": {
      "type": "object",
      "description": "The authentication rule for bootstrap",
      "properties": {
        "type": {
          "$ref": "#/definitions/BootstrapAuthenticationType",
          "description": "The type of authentication rule"
        },
        "details": {
          "$ref": "#/definitions/BootstrapAuthenticationDetailsUpdate",
          "description": "The authentication details"
        }
      }
    },
    "BootstrapAuthenticationType": {
      "type": "string",
      "description": "The authentication type for bootstrap.",
      "enum": [
        "X509",
        "Discovery"
      ],
      "x-ms-enum": {
        "name": "BootstrapAuthenticationType",
        "modelAsString": true,
        "values": [
          {
            "name": "X509",
            "value": "X509",
            "description": "The X509 authentication type."
          },
          {
            "name": "Discovery",
            "value": "Discovery",
            "description": "The discovery authentication type."
          }
        ]
      }
    },
    "CertificateIssuanceRule": {
      "type": "object",
      "description": "Certificate issuance configurations",
      "properties": {
        "intermediateCertificateAuthority": {
          "type": "string",
          "description": "ICA - IntermediateCertificateAuthority name"
        },
        "renewalInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Cert renewal interval"
        }
      },
      "required": [
        "intermediateCertificateAuthority",
        "renewalInterval"
      ]
    },
    "CertificateIssuanceRuleUpdate": {
      "type": "object",
      "description": "Certificate issuance configurations",
      "properties": {
        "intermediateCertificateAuthority": {
          "type": "string",
          "description": "ICA - IntermediateCertificateAuthority name"
        },
        "renewalInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Cert renewal interval"
        }
      }
    },
    "DeviceEndpoint": {
      "type": "object",
      "description": "The device endpoint",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the Endpoint",
          "readOnly": true
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the Endpoint",
          "readOnly": true
        }
      }
    },
    "DeviceEndpoints": {
      "type": "object",
      "description": "Device endpoints.",
      "properties": {
        "default": {
          "$ref": "#/definitions/DeviceEndpoint",
          "description": "The default endpoint"
        }
      },
      "required": [
        "default"
      ]
    },
    "DeviceIdentityInfo": {
      "type": "object",
      "description": "The identity info to return to device",
      "properties": {
        "uuid": {
          "type": "boolean",
          "description": "If uuid need to be returned"
        },
        "accessTokenUrl": {
          "type": "boolean",
          "description": "If accessTokenUrl need to be returned"
        },
        "externalDeviceId": {
          "type": "boolean",
          "description": "If externalDeviceId need to be returned"
        }
      },
      "required": [
        "uuid",
        "accessTokenUrl",
        "externalDeviceId"
      ]
    },
    "DeviceIdentityInfoUpdate": {
      "type": "object",
      "description": "The identity info to return to device",
      "properties": {
        "uuid": {
          "type": "boolean",
          "description": "If uuid need to be returned"
        },
        "accessTokenUrl": {
          "type": "boolean",
          "description": "If accessTokenUrl need to be returned"
        },
        "externalDeviceId": {
          "type": "boolean",
          "description": "If externalDeviceId need to be returned"
        }
      }
    },
    "EndpointType": {
      "type": "string",
      "description": "Type of the endpoint",
      "enum": [
        "AzureEventGridBroker"
      ],
      "x-ms-enum": {
        "name": "EndpointType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureEventGridBroker",
            "value": "AzureEventGridBroker",
            "description": "Azure event grid broker"
          }
        ]
      }
    },
    "IdentityInfo": {
      "type": "object",
      "description": "The information related to device identity",
      "properties": {
        "certificateIssuance": {
          "$ref": "#/definitions/CertificateIssuanceRule",
          "description": "Certificate issuance settings"
        },
        "deviceTemplateId": {
          "type": "string",
          "description": "Device template id"
        },
        "staticGroup": {
          "type": "string",
          "description": "AAD group name for static group"
        },
        "identityInfoForDevice": {
          "$ref": "#/definitions/DeviceIdentityInfo",
          "description": "The identity info to return to device"
        }
      }
    },
    "IdentityInfoUpdate": {
      "type": "object",
      "description": "The information related to device identity",
      "properties": {
        "certificateIssuance": {
          "$ref": "#/definitions/CertificateIssuanceRuleUpdate",
          "description": "Certificate issuance settings"
        },
        "deviceTemplateId": {
          "type": "string",
          "description": "Device template id"
        },
        "staticGroup": {
          "type": "string",
          "description": "AAD group name for static group"
        },
        "identityInfoForDevice": {
          "$ref": "#/definitions/DeviceIdentityInfoUpdate",
          "description": "The identity info to return to device"
        }
      }
    },
    "JitRule": {
      "type": "object",
      "description": "The rule for Just-in-time connection",
      "properties": {
        "region": {
          "type": "string",
          "description": "The region",
          "minLength": 1
        },
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the target subscription.",
          "minLength": 1
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The name of the resource group. The name is case insensitive.",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^[-\\w\\._\\(\\)]+$"
        }
      },
      "required": [
        "region",
        "subscriptionId",
        "resourceGroupName"
      ]
    },
    "JitRuleUpdate": {
      "type": "object",
      "description": "The rule for Just-in-time connection",
      "properties": {
        "region": {
          "type": "string",
          "description": "The region",
          "minLength": 1
        },
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the target subscription.",
          "minLength": 1
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The name of the resource group. The name is case insensitive.",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^[-\\w\\._\\(\\)]+$"
        }
      }
    },
    "ProvisioningPolicy": {
      "type": "object",
      "description": "A provisioning policy resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProvisioningPolicyProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ProvisioningPolicyListResult": {
      "type": "object",
      "description": "The response of a ProvisioningPolicy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ProvisioningPolicy items on this page",
          "items": {
            "$ref": "#/definitions/ProvisioningPolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProvisioningPolicyProperties": {
      "type": "object",
      "description": "Details of the ProvisioningService ProvisioningPolicy.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the policy. Should be greater than 0."
        },
        "bootstrapAuthentication": {
          "$ref": "#/definitions/BootstrapAuthenticationRule",
          "description": "The bootstrap authentication rule."
        },
        "allocations": {
          "type": "array",
          "description": "Allocation rules.",
          "items": {
            "$ref": "#/definitions/AllocationRule"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "provisioning": {
          "$ref": "#/definitions/ProvisioningRule",
          "description": "The device provisioning rule."
        }
      },
      "required": [
        "priority",
        "bootstrapAuthentication",
        "provisioning"
      ]
    },
    "ProvisioningPolicyUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ProvisioningPolicy.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ProvisioningPolicyUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ProvisioningPolicyUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ProvisioningPolicy.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the policy. Should be greater than 0."
        },
        "bootstrapAuthentication": {
          "$ref": "#/definitions/BootstrapAuthenticationRuleUpdate",
          "description": "The bootstrap authentication rule."
        },
        "allocations": {
          "type": "array",
          "description": "Allocation rules.",
          "items": {
            "$ref": "#/definitions/AllocationRule"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "provisioning": {
          "$ref": "#/definitions/ProvisioningRuleUpdate",
          "description": "The device provisioning rule."
        }
      }
    },
    "ProvisioningResource": {
      "type": "object",
      "description": "A provisioning resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProvisioningResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ProvisioningResourceListResult": {
      "type": "object",
      "description": "The response of a ProvisioningResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ProvisioningResource items on this page",
          "items": {
            "$ref": "#/definitions/ProvisioningResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProvisioningResourceProperties": {
      "type": "object",
      "description": "Details of the EdgeProvisioning ProvisioningResource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "deviceEndpoints": {
          "$ref": "#/definitions/DeviceEndpoints",
          "description": "The provisioning service endpoints",
          "readOnly": true
        }
      }
    },
    "ProvisioningResourceType": {
      "type": "string",
      "description": "Type of resource being provisioned",
      "enum": [
        "AzureIoTDevice",
        "ArcEnabledDevice"
      ],
      "x-ms-enum": {
        "name": "ProvisioningResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureIoTDevice",
            "value": "AzureIoTDevice",
            "description": "Azure device registry device"
          },
          {
            "name": "ArcEnabledDevice",
            "value": "ArcEnabledDevice",
            "description": "Arc enabled device."
          }
        ]
      }
    },
    "ProvisioningResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ProvisioningResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningRule": {
      "type": "object",
      "description": "The provisioning rule",
      "properties": {
        "type": {
          "$ref": "#/definitions/ProvisioningResourceType",
          "description": "Type of the resource being provisioned"
        },
        "jit": {
          "$ref": "#/definitions/JitRule",
          "description": "Just-in-time rule to create the device resource."
        },
        "identityInfo": {
          "$ref": "#/definitions/IdentityInfo",
          "description": "Identity information"
        },
        "resourceMetadata": {
          "type": "string",
          "description": "Resource metadata",
          "maxLength": 200
        }
      },
      "required": [
        "type"
      ]
    },
    "ProvisioningRuleUpdate": {
      "type": "object",
      "description": "The provisioning rule",
      "properties": {
        "type": {
          "$ref": "#/definitions/ProvisioningResourceType",
          "description": "Type of the resource being provisioned"
        },
        "jit": {
          "$ref": "#/definitions/JitRuleUpdate",
          "description": "Just-in-time rule to create the device resource."
        },
        "identityInfo": {
          "$ref": "#/definitions/IdentityInfoUpdate",
          "description": "Identity information"
        },
        "resourceMetadata": {
          "type": "string",
          "description": "Resource metadata",
          "maxLength": 200
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Activating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Activating",
            "value": "Activating",
            "description": "The activating state"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The updating state"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The deleting state"
          }
        ]
      }
    }
  },
  "parameters": {}
}
