{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used by publishers to on-board offerings and manage network functions.",
    "version": "2022-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkFunctionDefinitionGroups": {
      "get": {
        "tags": [
          "NetworkFunctionDefinitionGroups"
        ],
        "operationId": "networkFunctionDefinitionGroups_ListBySubscription",
        "description": "Gets network function definition groups under a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting list of networkFunctionDefinition group resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network function definition groups under a subscription": {
            "$ref": "./examples/NetworkFunctionDefinitionGroupsListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctionDefinitionGroups": {
      "get": {
        "tags": [
          "NetworkFunctionDefinitionGroups"
        ],
        "operationId": "NetworkFunctionDefinitionGroups_ListByResourcegroup",
        "description": "Gets information of the network function definition groups under a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting networkFunctionDefinition group resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network function definition groups under a resource group": {
            "$ref": "./examples/NetworkFunctionDefinitionGroupsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/networkFunctionDefinitionGroups": {
      "get": {
        "tags": [
          "NetworkFunctionDefinitionGroups"
        ],
        "operationId": "NetworkFunctionDefinitionGroups_ListByPublisher",
        "description": "Gets information of the network function definition groups under a publisher.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting networkFunctionDefinition group resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get networkFunctionDefinition groups under publisher resource": {
            "$ref": "./examples/NetworkFunctionDefinitionGroupsListByPublisherName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/networkFunctionDefinitionGroups/{networkFunctionDefinitionGroupName}": {
      "delete": {
        "tags": [
          "NetworkFunctionDefinitionGroups"
        ],
        "operationId": "NetworkFunctionDefinitionGroups_Delete",
        "description": "Deletes a specified network function definition group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher network function definition group."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful."
          },
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a network function group resource": {
            "$ref": "./examples/NetworkFunctionDefinitionGroupDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "put": {
        "tags": [
          "NetworkFunctionDefinitionGroups"
        ],
        "operationId": "NetworkFunctionDefinitionGroups_CreateOrUpdate",
        "description": "Creates or updates a network function definition group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher network function definition group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionGroup"
            },
            "description": "Parameters supplied to the create or update publisher network function definition group operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting NetworkFunctionDefinitionGroup sub resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionGroup"
            }
          },
          "201": {
            "description": "Created. The operation returns the resulting NetworkFunctionDefinitionGroup sub resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the network function definition group": {
            "$ref": "./examples/NetworkFunctionDefinitionGroupCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NetworkFunctionDefinitionGroups"
        ],
        "operationId": "networkFunctionDefinitionGroups_Get",
        "description": "Gets information about the specified networkFunctionDefinition group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher network function definition group."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting publisher network function definition group resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a networkFunctionDefinition group resource": {
            "$ref": "./examples/NetworkFunctionDefinitionGroupGet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkFunctionDefinitionGroups"
        ],
        "operationId": "NetworkFunctionDefinitionGroups_UpdateTags",
        "description": "Updates a network function definition groups tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher network function definition group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the create or update publisher network function definition group operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting network function definition group resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the network function definition group resource": {
            "$ref": "./examples/NetworkFunctionDefinitionGroupUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/networkFunctionDefinitionGroups/{networkFunctionDefinitionGroupName}/networkFunctionDefinitionVersions/{networkFunctionDefinitionVersionName}": {
      "delete": {
        "tags": [
          "NetworkFunctionDefinitionVersions"
        ],
        "operationId": "NetworkFunctionDefinitionVersions_Delete",
        "description": "Deletes the specified network function definition version.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition version."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful."
          },
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a network function definition version": {
            "$ref": "./examples/NetworkFunctionDefinitionVersionDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "put": {
        "tags": [
          "NetworkFunctionDefinitionVersions"
        ],
        "operationId": "NetworkFunctionDefinitionVersions_CreateOrUpdate",
        "description": "Creates or updates a network function definition version.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition version."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersion"
            },
            "description": "Parameters supplied to the create or update network function definition version operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting network function definition sub resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersion"
            }
          },
          "201": {
            "description": "Created. The operation returns the resulting network function definition sub resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a network function definition version resource": {
            "$ref": "./examples/NetworkFunctionDefinitionVersionCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NetworkFunctionDefinitionVersions"
        ],
        "operationId": "NetworkFunctionDefinitionVersions_Get",
        "description": "Gets information about a network function definition version.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition version."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting NetworkFunctionDefinitionVersion resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a network function definition version resource": {
            "$ref": "./examples/NetworkFunctionDefinitionVersionGet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkFunctionDefinitionVersions"
        ],
        "operationId": "NetworkFunctionDefinitionVersions_UpdateTags",
        "description": "Updates a network function definition version tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition version."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the create or update network function definition version operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting network function definition sub resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersion"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update the network function definition version tags": {
            "$ref": "./examples/NetworkFunctionDefinitionVersionUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkFunctionDefinitionVersions": {
      "get": {
        "tags": [
          "NetworkFunctionDefinitionVersions"
        ],
        "operationId": "NetworkFunctionDefinitionVersions_ListBySubscription",
        "description": "Gets information about the specified network function definition version in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting list of network function definition version resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network function definition version under a subscription": {
            "$ref": "./examples/NetworkFunctionDefinitionVersionListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctionDefinitionVersions": {
      "get": {
        "tags": [
          "NetworkFunctionDefinitionVersions"
        ],
        "operationId": "NetworkFunctionDefinitionVersions_ListByResourceGroup",
        "description": "Gets information about the specified network function definition version in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting NetworkFunctionDefinitionVersion resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network function definition version list under a resource group": {
            "$ref": "./examples/NetworkFunctionDefinitionVersionListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/networkFunctionDefinitionGroups/{networkFunctionDefinitionGroupName}/networkFunctionDefinitionVersions": {
      "get": {
        "tags": [
          "NetworkFunctionDefinitionVersions"
        ],
        "operationId": "NetworkFunctionDefinitionVersions_ListByNetworkFunctionDefinitionGroup",
        "description": "Gets information about a list of network function definition versions under a network function definition group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group name."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting NetworkFunctionDefinitionVersion resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Publisher resource": {
            "$ref": "./examples/NetworkFunctionDefinitionVersionListByNetworkFunctionDefinitionGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/networkFunctionDefinitionGroups/{networkFunctionDefinitionGroupName}/networkFunctionDefinitionVersions/{networkFunctionDefinitionVersionName}/updateState": {
      "post": {
        "tags": [
          "NetworkFunctionDefinitionVersions"
        ],
        "operationId": "NetworkFunctionDefinitionVersions_updateState",
        "description": "Update network function definition version state.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of network function definition version."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersionUpdateState"
            },
            "description": "Parameters supplied to update the state of network function definition version."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated network function definition version state.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersionUpdateState"
            }
          },
          "201": {
            "description": "The updated network function definition version state.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionDefinitionVersionUpdateState"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update network function definition version state": {
            "$ref": "./examples/NetworkFunctionDefinitionVersionUpdateState.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/previewSubscriptions": {
      "get": {
        "tags": [
          "PreviewSubscriptions"
        ],
        "operationId": "PreviewSubscriptions_ListBySubscription",
        "description": "Lists all the preview subscriptions under a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the preview subscription list.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscriptionsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all preview subscriptions of a subscription": {
            "$ref": "./examples/PreviewSubscriptionListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/previewSubscriptions": {
      "get": {
        "tags": [
          "PreviewSubscriptions"
        ],
        "operationId": "PreviewSubscriptions_ListByResourceGroup",
        "description": "Lists all the preview subscriptions under a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the preview subscription list.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscriptionsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all preview subscriptions of a resource group": {
            "$ref": "./examples/PreviewSubscriptionListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/networkFunctionDefinitionGroups/{networkFunctionDefinitionGroupName}/networkFunctionDefinitionVersions/{networkFunctionDefinitionVersionName}/previewSubscriptions": {
      "get": {
        "tags": [
          "PreviewSubscriptions"
        ],
        "operationId": "PreviewSubscriptions_ListByNetworkFunctionDefinitionVersion",
        "description": "Lists all the preview subscriptions of a network function definition version.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group name."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition version name."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the preview subscription list.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscriptionsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all preview subscriptions of a network function definition version": {
            "$ref": "./examples/PreviewSubscriptionListByNetworkFunctionDefinitionVersion.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/networkFunctionDefinitionGroups/{networkFunctionDefinitionGroupName}/networkFunctionDefinitionVersions/{networkFunctionDefinitionVersionName}/previewSubscriptions/{previewSubscription}": {
      "delete": {
        "tags": [
          "PreviewSubscriptions"
        ],
        "operationId": "PreviewSubscriptions_Delete",
        "description": "Deletes a preview subscription resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition version."
          },
          {
            "name": "previewSubscription",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Preview subscription ID."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation deleted the preview subscription resource."
          },
          "202": {
            "description": "Request is accepted. The operation is deleting the preview subscription resource."
          },
          "204": {
            "description": "Request is successful. The preview subscription resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete preview subscription resource": {
            "$ref": "./examples/PreviewSubscriptionDelete.json"
          }
        }
      },
      "put": {
        "tags": [
          "PreviewSubscriptions"
        ],
        "operationId": "PreviewSubscriptions_CreateOrUpdate",
        "description": "Creates or updates preview subscription resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group version."
          },
          {
            "name": "previewSubscription",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Preview subscription ID."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            },
            "description": "Parameters supplied to the create or update publisher preview subscription operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Request is accepted. The operation is updating or creating the preview subscription resource.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            }
          },
          "200": {
            "description": "Request is successful. The operation updated the preview subscription resource.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update preview subscription of network function definition sub resource": {
            "$ref": "./examples/PreviewSubscriptionCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "PreviewSubscriptions"
        ],
        "operationId": "PreviewSubscriptions_Get",
        "description": "Gets the preview subscription resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition version."
          },
          {
            "name": "previewSubscription",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Preview subscription ID."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the preview subscription resource.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a preview subscription resource": {
            "$ref": "./examples/PreviewSubscriptionGet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "PreviewSubscriptions"
        ],
        "operationId": "PreviewSubscriptions_UpdateTags",
        "description": "Update a preview subscription tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the publisher."
          },
          {
            "name": "networkFunctionDefinitionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group."
          },
          {
            "name": "networkFunctionDefinitionVersionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network function definition group version."
          },
          {
            "name": "previewSubscription",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Preview subscription ID."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the create or update publisher preview subscription operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation updated the preview subscription resource.",
            "schema": {
              "$ref": "#/definitions/PreviewSubscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update preview subscription tags": {
            "$ref": "./examples/PreviewSubscriptionUpdateTags.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkFunctionDefinitionGroup": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkFunctionDefinitionGroupPropertiesFormat",
          "description": "Network function definition group properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Network function definition group resource."
    },
    "NetworkFunctionDefinitionGroupPropertiesFormat": {
      "description": "Network function definition group properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the network function definition groups resource."
        }
      }
    },
    "NetworkFunctionDefinitionGroupListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkFunctionDefinitionGroup"
          },
          "description": "A list of network function definition group."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of network function definition group resources."
    },
    "NetworkFunctionDefinitionVersionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkFunctionDefinitionVersion"
          },
          "description": "A list of network function definition versions."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to get the next set of results."
        }
      },
      "description": "A list of network function definition versions."
    },
    "NetworkFunctionDefinitionVersion": {
      "description": "Network function definition version.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkFunctionDefinitionVersionPropertiesFormat",
          "description": "Network function definition version properties."
        },
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "NetworkFunctionDefinitionVersionPropertiesFormat": {
      "description": "Network function definition version properties.",
      "discriminator": "networkFunctionType",
      "required": [
        "networkFunctionType"
      ],
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the network function definition version resource."
        },
        "versionState": {
          "type": "string",
          "readOnly": true,
          "description": "The network function definition version state.",
          "$ref": "#/definitions/VersionState"
        },
        "deployParameters": {
          "type": "object",
          "description": "The required parameters for deploying this network function definition version as network function."
        },
        "networkFunctionType": {
          "type": "string",
          "description": "The network function type.",
          "enum": [
            "Unknown",
            "VirtualNetworkFunction",
            "ContainerizedNetworkFunction"
          ],
          "x-ms-enum": {
            "name": "NetworkFunctionType",
            "modelAsString": true
          }
        }
      }
    },
    "ContainerizedNetworkFunctionDefinitionVersion": {
      "description": "Containerized network function network function definition version properties.",
      "x-ms-discriminator-value": "ContainerizedNetworkFunction",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NetworkFunctionDefinitionVersionPropertiesFormat"
        }
      ],
      "properties": {
        "networkFunctionTemplate": {
          "description": "Containerized network function template.",
          "$ref": "#/definitions/ContainerizedNetworkFunctionTemplate"
        }
      }
    },
    "VirtualNetworkFunctionNetworkFunctionDefinitionVersion": {
      "description": "Virtual network function network function definition version properties        .",
      "x-ms-discriminator-value": "VirtualNetworkFunction",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NetworkFunctionDefinitionVersionPropertiesFormat"
        }
      ],
      "properties": {
        "networkFunctionTemplate": {
          "description": "Virtual network function template.",
          "$ref": "#/definitions/VirtualNetworkFunctionTemplate"
        }
      }
    },
    "ContainerizedNetworkFunctionTemplate": {
      "description": "Containerized network function template.",
      "discriminator": "nfviType",
      "required": [
        "nfviType"
      ],
      "type": "object",
      "properties": {
        "nfviType": {
          "type": "string",
          "description": "The network function type.",
          "enum": [
            "Unknown",
            "AzureArcKubernetes"
          ],
          "x-ms-enum": {
            "name": "ContainerizedNetworkFunctionNfviType",
            "modelAsString": true
          }
        }
      }
    },
    "VirtualNetworkFunctionTemplate": {
      "description": "Virtual network function template.",
      "discriminator": "nfviType",
      "required": [
        "nfviType"
      ],
      "type": "object",
      "properties": {
        "nfviType": {
          "type": "string",
          "description": "The network function type.",
          "enum": [
            "Unknown",
            "AzureStackEdge",
            "Azure"
          ],
          "x-ms-enum": {
            "name": "VirtualNetworkFunctionNfviType",
            "modelAsString": true
          }
        }
      }
    },
    "PreviewSubscription": {
      "x-ms-azure-resource": true,
      "description": "Customer subscription which can use a preview network function definition version.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "type": "object",
      "properties": {
        "systemData": {
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "PreviewSubscriptionsList": {
      "description": "A list of customer subscriptions which can use a preview network function definition version.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PreviewSubscription"
          },
          "description": "A list of preview subscriptions."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      }
    },
    "AzureArcKubernetesNetworkFunctionTemplate": {
      "description": "Azure Arc kubernetes network function template.",
      "x-ms-discriminator-value": "AzureArcKubernetes",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ContainerizedNetworkFunctionTemplate"
        }
      ],
      "properties": {
        "networkFunctionApplications": {
          "type": "array",
          "description": "Network function applications.",
          "items": {
            "$ref": "#/definitions/AzureArcKubernetesNetworkFunctionApplication"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "AzureArcKubernetesNetworkFunctionApplication": {
      "description": "Azure arc kubernetes network function application definition.",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/NetworkFunctionApplication"
        }
      ],
      "type": "object",
      "discriminator": "artifactType",
      "required": [
        "artifactType"
      ],
      "properties": {
        "artifactType": {
          "type": "string",
          "description": "The artifact type.",
          "enum": [
            "Unknown",
            "HelmPackage"
          ],
          "x-ms-enum": {
            "name": "ArtifactType",
            "modelAsString": true
          }
        }
      }
    },
    "AzureArcKubernetesHelmApplication": {
      "description": "Azure arc kubernetes helm application configurations.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureArcKubernetesNetworkFunctionApplication"
        }
      ],
      "x-ms-discriminator-value": "HelmPackage",
      "type": "object",
      "properties": {
        "artifactProfile": {
          "description": "Azure arc kubernetes artifact profile.",
          "$ref": "#/definitions/AzureArcKubernetesArtifactProfile"
        },
        "deployParametersMappingRuleProfile": {
          "description": "Deploy mapping rule profile.",
          "$ref": "#/definitions/AzureArcKubernetesDeployMappingRuleProfile"
        }
      }
    },
    "AzureArcKubernetesArtifactProfile": {
      "description": "Azure arc kubernetes artifact profile properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/ArtifactProfile"
        }
      ],
      "properties": {
        "helmArtifactProfile": {
          "description": "Helm artifact profile.",
          "$ref": "#/definitions/HelmArtifactProfile"
        }
      }
    },
    "HelmArtifactProfile": {
      "description": "Helm artifact profile.",
      "type": "object",
      "properties": {
        "helmPackageName": {
          "type": "string",
          "description": "Helm package name."
        },
        "helmPackageVersionRange": {
          "type": "string",
          "description": "Helm package version range. Only helm package pined version and patch version range (~1.0.0) supported."
        },
        "registryValuesPaths": {
          "type": "array",
          "description": "The registry values path list.",
          "items": {
            "description": "The registry values path.",
            "type": "string"
          }
        },
        "imagePullSecretesValuesPaths": {
          "type": "array",
          "description": "The image pull secrets values path list.",
          "items": {
            "description": "The image pull secrets values path.",
            "type": "string"
          }
        }
      }
    },
    "AzureArcKubernetesDeployMappingRuleProfile": {
      "description": "Azure arc kubernetes deploy mapping rule profile.",
      "type": "object",
      "properties": {
        "helmMappingRuleProfile": {
          "description": "The helm mapping rule profile.",
          "$ref": "#/definitions/HelmMappingRuleProfile"
        }
      }
    },
    "HelmMappingRuleProfile": {
      "description": "Helm mapping rule profile",
      "type": "object",
      "properties": {
        "releaseNamespace": {
          "description": "Helm release namespace.",
          "type": "string"
        },
        "releaseName": {
          "description": "Helm release name.",
          "type": "string"
        },
        "enablement": {
          "description": "Flag to show if the application deployment is enabled.",
          "type": "string",
          "enum": [
            "Unknown",
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "Enablement",
            "modelAsString": true
          }
        },
        "helmPackageVersion": {
          "description": "Helm package version.",
          "type": "string"
        },
        "values": {
          "description": "Helm release values.",
          "type": "object"
        }
      }
    },
    "VersionState": {
      "type": "string",
      "description": "The network function definition version state.",
      "enum": [
        "Unknown",
        "Preview",
        "Active",
        "Deprecated"
      ],
      "x-ms-enum": {
        "name": "versionState",
        "modelAsString": true
      }
    },
    "NetworkFunctionDefinitionVersionUpdateState": {
      "type": "object",
      "description": "Publisher network function definition version update request definition.",
      "properties": {
        "versionState": {
          "description": "The network function definition version state.",
          "$ref": "#/definitions/VersionState"
        }
      }
    }
  }
}
