{
    "swagger": "2.0",
    "info": {
      "title": "MySecondRP",
      "description": "The Microsoft.MySecondRP Rest API spec.",
      "version": "2020-06-01-preview",
      "x-ms-code-generation-settings": {
        "name": "MySecondRPClient"
      }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySecondRP/resourceType/{resourceName}": {
        "get": {
          "operationId": "resourceType_Retrieve",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the resourceType resource.",
              "schema": {
                "$ref": "#/definitions/resourceType"
              }
            }
          },
          "x-ms-examples": {
            "resourceType_Retrieve": {
              "$ref": "./examples/resourceType_Retrieve.json"
            }
          }
        },
        "put": {
          "operationId": "resourceType_CreateOrUpdate",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "resourceType",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/resourceType"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the resourceType resource.",
              "schema": {
                "$ref": "#/definitions/resourceType"
              }
            },
            "201": {
              "description": "Creates the resourceType resource.",
              "schema": {
                "$ref": "#/definitions/resourceType"
              }
            }
          },
          "x-ms-examples": {
            "resourceType_CreateOrUpdate": {
              "$ref": "./examples/resourceType_CreateOrUpdate.json"
            }
          }
        },
        "delete": {
          "operationId": "resourceType_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the resourceType resource.",
              "schema": {
                "$ref": "#/definitions/resourceType"
              }
            }
          },
          "x-ms-examples": {
            "resourceType_Delete": {
              "$ref": "./examples/resourceType_Delete.json"
            }
          }
        },
        "patch": {
          "operationId": "resourceType_Update",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ResourceNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "resourceType",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/resourceTypePatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the resourceType resource.",
              "schema": {
                "$ref": "#/definitions/resourceType"
              }
            },
            "201": {
              "description": "Updates the resourceType resource.",
              "schema": {
                "$ref": "#/definitions/resourceType"
              }
            }
          },
          "x-ms-examples": {
            "resourceType_Update": {
              "$ref": "./examples/resourceType_Update.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySecondRP/resourceType": {
        "get": {
          "operationId": "resourceType_ListByResourceGroup",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all resourceType under the resource group.",
              "schema": {
                "$ref": "#/definitions/resourceTypeListResult"
              }
            }
          },
          "x-ms-examples": {
            "resourceType_ListByResourceGroup": {
              "$ref": "./examples/resourceType_ListByResourceGroup.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.MySecondRP/resourceType": {
        "get": {
          "operationId": "resourceType_ListBySubscription",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all resourceType under the subscription.",
              "schema": {
                "$ref": "#/definitions/resourceTypeListResult"
              }
            }
          },
          "x-ms-examples": {
            "resourceType_ListBySubscription": {
              "$ref": "./examples/resourceType_ListBySubscription.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/providers/Microsoft.MySecondRP/operations": {
        "get": {
          "operationId": "Operations_List",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Describe the result of a successful operation.",
              "schema": {
                "$ref": "#/definitions/ResourceProviderOperationList"
              }
            }
          },
          "x-ms-examples": {
            "Operations_List": {
              "$ref": "./examples/operations_List.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "resourceTypeProperties": {
        "properties": {
          "cronSpec": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "replicas": {
            "type": "integer"
          },
          "myObject": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "provisioningState": {
            "type": "string"
          }
        }
      },
      "resourceType": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/resourceTypeProperties"
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Id"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Type"
          },
          "location": {
            "type": "string",
            "description": "The resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "extendedLocation": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The extended location type."
              },
              "name": {
                "type": "string",
                "description": "The extended location name."
              }
            }
          }
        },
        "required": [
          "location"
        ],
        "description": "The resourceType resource definition."
      },
      "resourceTypePatch": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "description": "The resourceType resource patch definition."
      },
      "resourceTypeListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/resourceType"
            }
          },
          "nextLink": {
            "type": "string"
          }
        }
      },
      "ResourceProviderOperationList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ResourceProviderOperation"
            }
          },
          "nextLink": {
            "type": "string"
          }
        },
        "description": "Results of the request to list operations."
      },
      "ResourceProviderOperation": {
        "type": "object",
        "properties": {
          "isDataAction": {
            "type": "string",
            "description": "Indicates whether the operation applies to data-plane."
          },
          "name": {
            "type": "string",
            "description": "Operation name, in format of {provider}/{resource}/{operation}"
          },
          "display": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "description": "The resource provider."
              },
              "resource": {
                "type": "string",
                "description": "Resource on which the operation is performed."
              },
              "operation": {
                "type": "string",
                "description": "Type of operation: get, read, delete, etc."
              },
              "description": {
                "type": "string",
                "description": "Description of this operation."
              }
            },
            "description": "Display metadata associated with the operation."
          }
        },
        "description": "Results of the request to list operations."
      }
    },
    "parameters": {
      "ResourceNameParameter": {
        "name": "resourceName",
        "in": "path",
        "required": true,
        "type": "string",
        "maxLength": 64,
        "minLength": 3
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD).",
        "x-ms-parameter-location": "method"
      }
    }
  }