{
  "swagger": "2.0",
  "info": {
    "version": "2021-01-01-preview",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{providerResourceType}/{providerResourceName}/providers/Private.AzureStackHCI/clusters": {
      "get": {
        "tags": [
          "clusters"
        ],
        "operationId": "clusters_ListByResourceGroup",
        "x-ms-examples": {
          "List clusters in a given resource group": {
            "$ref": "./examples/ListClustersByResourceGroup.json"
          }
        },
        "description": "List all HCI clusters in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/providerNamespaceParameter"
          },
          {
            "$ref": "#/parameters/providerResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/providerResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/clusterList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{providerResourceType}/{providerResourceName}/providers/Private.AzureStackHCI/clusters/{clusterName}": {
      "get": {
        "tags": [
          "clusters"
        ],
        "operationId": "clusters_Get",
        "x-ms-examples": {
          "Get cluster": {
            "$ref": "./examples/GetCluster.json"
          }
        },
        "description": "Get HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/providerNamespaceParameter"
          },
          {
            "$ref": "#/parameters/providerResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/providerResourceNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "clusters"
        ],
        "operationId": "clusters_Create",
        "x-ms-examples": {
          "Create cluster": {
            "$ref": "./examples/CreateCluster.json"
          }
        },
        "description": "Create an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/providerNamespaceParameter"
          },
          {
            "$ref": "#/parameters/providerResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/providerResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cluster",
            "in": "body",
            "description": "Details of the HCI cluster.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "clusters"
        ],
        "operationId": "clusters_Update",
        "x-ms-examples": {
          "Update cluster": {
            "$ref": "./examples/UpdateCluster.json"
          }
        },
        "description": "Update an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/providerNamespaceParameter"
          },
          {
            "$ref": "#/parameters/providerResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/providerResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cluster",
            "in": "body",
            "description": "Details of the HCI cluster.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clusterPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "clusters"
        ],
        "operationId": "clusters_Delete",
        "x-ms-examples": {
          "Delete cluster": {
            "$ref": "./examples/DeleteCluster.json"
          }
        },
        "description": "Delete an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/providerNamespaceParameter"
          },
          {
            "$ref": "#/parameters/providerResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/providerResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "clusterList": {
      "description": "List of clusters.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of clusters.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/cluster"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "cluster": {
      "description": "cluster details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "systemData": {
          "description": "System data of cluster resource",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "x-ms-client-flatten": true,
          "readOnly": true
        },
        "properties": {
          "description": "cluster properties.",
          "$ref": "#/definitions/clusterProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "clusterPatch": {
      "description": "cluster details to update.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "cluster properties.",
          "$ref": "#/definitions/clusterPatchProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "clusterProperties": {
      "description": "cluster properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "readOnly": true
        }
      }
    },
    "clusterPatchProperties": {
      "description": "cluster properties.",
      "type": "object",
      "properties": {
      }
    }
  },
  "parameters": {
    "clusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "providerResourceNameParameter": {
      "name": "providerResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "providerNamespaceParameter": {
      "name": "providerNamespace",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "providerResourceTypeParameter": {
      "name": "providerResourceType",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
