{
    "swagger": "2.0",
    "info": {
      "version": "2021-01-01-preview",
      "title": "AzureStackHCI",
      "description": "Azure Stack HCI management service"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{providerResourceType}/{providerResourceName}/providers/Private.AzureStackHCI/clusters/{clusterName}/nodes": {
        "get": {
          "tags": [
            "nodes"
          ],
          "operationId": "Nodes_ListByResourceGroup",
          "x-ms-examples": {
            "List nodes in a given resource group": {
              "$ref": "./examples/ListNodesByResourceGroup.json"
            }
          },
          "description": "List all HCI nodes in a resource group.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "#/parameters/clusterNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/nodeList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{providerResourceType}/{providerResourceName}/providers/Private.AzureStackHCI/clusters/{clusterName}/nodes/{nodeName}": {
        "get": {
          "tags": [
            "nodes"
          ],
          "operationId": "NodeDevices_Get",
          "x-ms-examples": {
            "Get Node": {
              "$ref": "./examples/GetNode.json"
            }
          },
          "description": "Get HCI Node.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "#/parameters/clusterNameParameter"
            },
            {
              "$ref": "#/parameters/nodeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/nodeList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "nodes"
          ],
          "operationId": "Nodes_Create",
          "x-ms-examples": {
            "Create node": {
              "$ref": "./examples/CreateNode.json"
            }
          },
          "description": "Create an HCI Node.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "#/parameters/clusterNameParameter"
            },
            {
              "$ref": "#/parameters/nodeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "node",
              "in": "body",
              "description": "Details of the HCI node.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/node"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/node"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "nodes"
          ],
          "operationId": "nodes_Update",
          "x-ms-examples": {
            "Update node": {
              "$ref": "./examples/UpdateNode.json"
            }
          },
          "description": "Update an HCI node.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "#/parameters/clusterNameParameter"
            },
            {
              "$ref": "#/parameters/nodeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "node",
              "in": "body",
              "description": "Details of the HCI node.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/nodePatch"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/node"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "nodes"
          ],
          "operationId": "nodes_Delete",
          "x-ms-examples": {
            "Delete Node": {
              "$ref": "./examples/DeleteNode.json"
            }
          },
          "description": "Delete an HCI node.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/providerNamespaceParameter"
            },
            {
              "$ref": "#/parameters/providerResourceTypeParameter"
            },
            {
              "$ref": "#/parameters/providerResourceNameParameter"
            },
            {
              "$ref": "#/parameters/clusterNameParameter"
            },
            {
              "$ref": "#/parameters/nodeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "204": {
              "description": "No content"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "nodeList": {
        "description": "List of nodes.",
        "type": "object",
        "properties": {
          "value": {
            "description": "List of nodes.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/node"
            }
          },
          "nextLink": {
            "description": "Link to the next set of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "node": {
        "description": "node details.",
        "type": "object",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "properties": {
          "systemData": {
            "description": "System data of node resource",
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
            "x-ms-client-flatten": true,
            "readOnly": true
          },
          "properties": {
            "description": "node properties.",
            "$ref": "#/definitions/nodeProperties",
            "x-ms-client-flatten": true
          }
        }
      },
      "nodePatch": {
        "description": "node details to update.",
        "type": "object",
        "properties": {
          "tags": {
            "description": "Resource tags.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "properties": {
            "description": "node properties.",
            "$ref": "#/definitions/nodePatchProperties",
            "x-ms-client-flatten": true
          }
        }
      },
      "nodeProperties": {
        "description": "node properties.",
        "type": "object",
        "properties": {
          "manufacturer": {
            "type": "string"
          },
          "osName": {
            "type": "string",
            "readOnly": true
          },
          "osVersion": {
            "type": "string"
          },
          "coreCount": {
            "type": "string"
          },
          "memoryInGiB": {
            "type": "string",
            "readOnly": true
          },
          "nicDetails": {
            "description": "nicDetails",
            "$ref": "#/definitions/nicDetails"
          }
        }
      },
      "nicDetails": {
        "description": "nicDetails",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "privateIPAddress": {
            "type": "string"
          },
          "privateIPAllocationMethod": {
            "type": "string"
          },
          "primary": {
            "type": "string"
          }
        }
      },
      "nodePatchProperties": {
        "description": "node properties.",
        "type": "object",
        "properties": {
          "cloudManagementEndpoint": {
            "type": "string",
            "description": "Endpoint configured for management from the Azure portal"
          }
        }
      }
    },
    "parameters": {
      "clusterNameParameter": {
        "name": "clusterName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the cluster.",
        "x-ms-parameter-location": "method"
      },
      "nodeNameParameter": {
        "name": "nodeName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the nodeDevice.",
        "x-ms-parameter-location": "method"
      },
      "providerResourceNameParameter": {
        "name": "providerResourceName",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
      },
      "providerNamespaceParameter": {
        "name": "providerNamespace",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
      },
      "providerResourceTypeParameter": {
        "name": "providerResourceType",
        "in": "path",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
      }
    }
  }
  