{
    "swagger": "2.0",
    "info": {
        "title": "HybridNetworkManagementClient",
        "description": "The resources in this swagger specification will be used to manage the network function infra deployment in a Hybrid Network resource provider.",
        "version": "2022-01-01-privatepreview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow.",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctionsInfra/{networkFunctionInfraName}": {
            "delete": {
                "tags": [
                    "NetworkFunctionsInfra"
                ],
                "operationId": "NetworkFunctionsInfra_Delete",
                "description": "Deletes the specified network function infra resource(s).",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "name": "networkFunctionInfraName",
                        "description": "The name of the network function infra.",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The operation is completed successfully."
                    },
                    "202": {
                        "description": "Accepted. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation."
                    },
                    "204": {
                        "description": "Request is successful. Resource with the specified name does not exist."
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Delete network function infra resource": {
                        "$ref": "./examples/NetworkFunctionInfraDelete.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "location"
                }
            },
            "get": {
                "tags": [
                    "NetworkFunctionsInfra"
                ],
                "operationId": "NetworkFunctionsInfra_Get",
                "description": "Gets information about the specified network function infra resource.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "name": "networkFunctionInfraName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the network function infra resource."
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation is successful. The operation returns the resulting network function infra resource.",
                        "schema": {
                            "$ref": "#/definitions/NetworkFunctionInfra"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Get network function infra resource": {
                        "$ref": "./examples/NetworkFunctionInfraGet.json"
                    }
                }
            },
            "put": {
                "tags": [
                    "NetworkFunctionsInfra"
                ],
                "operationId": "NetworkFunctionsInfra_CreateOrUpdate",
                "description": "Creates or updates a network function infra resource.",
                "parameters": [
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "name": "networkFunctionInfraName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Resource name for the network function infra resource."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NetworkFunctionInfra"
                        },
                        "description": "Parameters supplied in the body to the create or update network function infra operation."
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The operation is completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/NetworkFunctionInfra"
                        }
                    },
                    "201": {
                        "description": "Created or Updated. The header contains 'Azure-AsyncOperation' header pointing to an operation resource. The operation URI can be queried to find the current state of the operation.",
                        "schema": {
                            "$ref": "#/definitions/NetworkFunctionInfra"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-examples": {
                    "Create network function infra resource": {
                        "$ref": "./examples/NetworkFunctionInfraCreate.json"
                    }
                },
                "x-ms-long-running-operation": true,
                "x-ms-long-running-operation-options": {
                    "final-state-via": "azure-async-operation"
                }
            }
        }
    },
    "definitions": {
        "NetworkFunctionInfra": {
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/NetworkFunctionInfraPropertiesFormat",
                    "description": "Network function infra properties."
                },
                "etag": {
                    "type": "string",
                    "description": "A unique read-only string that changes whenever the resource is updated."
                }
            },
            "allOf": [
                {
                    "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
                }
            ],
            "description": "Network function infra resource response."
        },
        "NetworkFunctionInfraPropertiesFormat": {
            "description": "Network function infra properties.",
            "properties": {
                "provisioningState": {
                    "readOnly": true,
                    "$ref": "./common.json#/definitions/ProvisioningState",
                    "description": "The provisioning state of the network function resource."
                },
                "infraType": {
                    "$ref": "#/definitions/InfraType",
                    "description": "The infra type for the network function infra."
                },
                "managedResourceGroupConfiguration": {
                    "$ref": "#/definitions/ManagedResourceGroupConfiguration",
                    "description": "The infra type for the network function infra."
                }
            }
        },
        "InfraType": {
            "type": "string",
            "description": "Infra type.",
            "enum": [
                "Unknown",
                "AKSCluster",
                "AzureVM"
            ],
            "x-ms-enum": {
                "name": "InfraType",
                "modelAsString": true
            }
        },
        "ManagedResourceGroupConfiguration": {
            "description": "Managed resource group properties.",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "resource group name"
                },
                "location": {
                    "type": "string",
                    "description": "resource group location"
                }
            }
        }
    }
}