{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AppSyncGraphQLApis"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/appSyncGraphQLApis": {
      "get": {
        "operationId": "AppSyncGraphQlApis_ListBySubscription",
        "tags": [
          "AppSyncGraphQLApis"
        ],
        "description": "List AppSyncGraphQLApi resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppSyncGraphQLApiListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppSyncGraphQlApis_ListBySubscription": {
            "$ref": "./examples/AppSyncGraphQlApis_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/appSyncGraphQLApis": {
      "get": {
        "operationId": "AppSyncGraphQlApis_ListByResourceGroup",
        "tags": [
          "AppSyncGraphQLApis"
        ],
        "description": "List AppSyncGraphQLApi resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppSyncGraphQLApiListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppSyncGraphQlApis_ListByResourceGroup": {
            "$ref": "./examples/AppSyncGraphQlApis_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/appSyncGraphQLApis/{name}": {
      "get": {
        "operationId": "AppSyncGraphQlApis_Get",
        "tags": [
          "AppSyncGraphQLApis"
        ],
        "description": "Get a AppSyncGraphQLApi",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of AppSyncGraphQLApi",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppSyncGraphQLApi"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppSyncGraphQlApis_Get": {
            "$ref": "./examples/AppSyncGraphQlApis_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AppSyncGraphQlApis_CreateOrUpdate",
        "tags": [
          "AppSyncGraphQLApis"
        ],
        "description": "Create a AppSyncGraphQLApi. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of AppSyncGraphQLApi",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppSyncGraphQLApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AppSyncGraphQLApi' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AppSyncGraphQLApi"
            }
          },
          "201": {
            "description": "Resource 'AppSyncGraphQLApi' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AppSyncGraphQLApi"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppSyncGraphQlApis_CreateOrUpdate": {
            "$ref": "./examples/AppSyncGraphQlApis_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AppSyncGraphQlApis_Update",
        "tags": [
          "AppSyncGraphQLApis"
        ],
        "description": "Update a AppSyncGraphQLApi",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of AppSyncGraphQLApi",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppSyncGraphQLApiTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppSyncGraphQLApi"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppSyncGraphQlApis_Update": {
            "$ref": "./examples/AppSyncGraphQlApis_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AppSyncGraphQlApis_Delete",
        "tags": [
          "AppSyncGraphQLApis"
        ],
        "description": "Delete a AppSyncGraphQLApi",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of AppSyncGraphQLApi",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppSyncGraphQlApis_Delete": {
            "$ref": "./examples/AppSyncGraphQlApis_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AdditionalAuthenticationProvider": {
      "type": "object",
      "description": "Definition of AdditionalAuthenticationProvider",
      "properties": {
        "authenticationType": {
          "type": "string",
          "description": "Property authenticationType"
        },
        "lambdaAuthorizerConfig": {
          "$ref": "#/definitions/LambdaAuthorizerConfig",
          "description": "Property lambdaAuthorizerConfig"
        },
        "openIDConnectConfig": {
          "$ref": "#/definitions/OpenIDConnectConfig",
          "description": "Property openIDConnectConfig"
        },
        "userPoolConfig": {
          "$ref": "#/definitions/CognitoUserPoolConfig",
          "description": "Property userPoolConfig"
        }
      }
    },
    "AppSyncGraphQLApi": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AppSyncGraphQLApiProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AppSyncGraphQLApiListResult": {
      "type": "object",
      "description": "The response of a AppSyncGraphQLApi list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AppSyncGraphQLApi items on this page",
          "items": {
            "$ref": "#/definitions/AppSyncGraphQLApi"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AppSyncGraphQLApiProperties": {
      "type": "object",
      "description": "Definition of AppSyncGraphQLApi",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsAppSyncGraphQLApiProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "AppSyncGraphQLApiTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in AppSyncGraphQLApi resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AwsAppSyncGraphQLApiProperties": {
      "type": "object",
      "description": "Definition of awsAppSyncGraphQLApi",
      "properties": {
        "additionalAuthenticationProviders": {
          "type": "array",
          "description": "Property additionalAuthenticationProviders",
          "items": {
            "$ref": "#/definitions/AdditionalAuthenticationProvider"
          },
          "x-ms-identifiers": []
        },
        "apiId": {
          "type": "string",
          "description": "Property apiId"
        },
        "apiType": {
          "type": "string",
          "description": "Property apiType"
        },
        "arn": {
          "type": "string",
          "description": "Property arn"
        },
        "authenticationType": {
          "type": "string",
          "description": "Property authenticationType"
        },
        "enhancedMetricsConfig": {
          "$ref": "#/definitions/EnhancedMetricsConfig",
          "description": "Property enhancedMetricsConfig"
        },
        "environmentVariables": {
          "description": "Property environmentVariables"
        },
        "graphQLDns": {
          "type": "string",
          "description": "Property graphQLDns"
        },
        "graphQLEndpointArn": {
          "type": "string",
          "description": "Property graphQLEndpointArn"
        },
        "graphQLUrl": {
          "type": "string",
          "description": "Property graphQLUrl"
        },
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "introspectionConfig": {
          "type": "string",
          "description": "Property introspectionConfig"
        },
        "lambdaAuthorizerConfig": {
          "$ref": "#/definitions/LambdaAuthorizerConfig",
          "description": "Property lambdaAuthorizerConfig"
        },
        "logConfig": {
          "$ref": "#/definitions/LogConfig",
          "description": "Property logConfig"
        },
        "mergedApiExecutionRoleArn": {
          "type": "string",
          "description": "Property mergedApiExecutionRoleArn"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "openIDConnectConfig": {
          "$ref": "#/definitions/OpenIDConnectConfig",
          "description": "Property openIDConnectConfig"
        },
        "ownerContact": {
          "type": "string",
          "description": "Property ownerContact"
        },
        "queryDepthLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Property queryDepthLimit"
        },
        "realtimeDns": {
          "type": "string",
          "description": "Property realtimeDns"
        },
        "realtimeUrl": {
          "type": "string",
          "description": "Property realtimeUrl"
        },
        "resolverCountLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Property resolverCountLimit"
        },
        "tags": {
          "type": "array",
          "description": "Property tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "userPoolConfig": {
          "$ref": "#/definitions/UserPoolConfig",
          "description": "Property userPoolConfig"
        },
        "visibility": {
          "type": "string",
          "description": "Property visibility"
        },
        "xrayEnabled": {
          "type": "boolean",
          "description": "Property xrayEnabled"
        }
      }
    },
    "CognitoUserPoolConfig": {
      "type": "object",
      "description": "Definition of CognitoUserPoolConfig",
      "properties": {
        "appIdClientRegex": {
          "type": "string",
          "description": "Property appIdClientRegex"
        },
        "awsRegion": {
          "type": "string",
          "description": "Property awsRegion"
        },
        "userPoolId": {
          "type": "string",
          "description": "Property userPoolId"
        }
      }
    },
    "EnhancedMetricsConfig": {
      "type": "object",
      "description": "Definition of EnhancedMetricsConfig",
      "properties": {
        "dataSourceLevelMetricsBehavior": {
          "type": "string",
          "description": "Property dataSourceLevelMetricsBehavior"
        },
        "operationLevelMetricsConfig": {
          "type": "string",
          "description": "Property operationLevelMetricsConfig"
        },
        "resolverLevelMetricsBehavior": {
          "type": "string",
          "description": "Property resolverLevelMetricsBehavior"
        }
      }
    },
    "LambdaAuthorizerConfig": {
      "type": "object",
      "description": "Definition of LambdaAuthorizerConfig",
      "properties": {
        "authorizerResultTtlInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Property authorizerResultTtlInSeconds"
        },
        "authorizerUri": {
          "type": "string",
          "description": "Property authorizerUri"
        },
        "identityValidationExpression": {
          "type": "string",
          "description": "Property identityValidationExpression"
        }
      }
    },
    "LogConfig": {
      "type": "object",
      "description": "Definition of LogConfig",
      "properties": {
        "cloudWatchLogsRoleArn": {
          "type": "string",
          "description": "Property cloudWatchLogsRoleArn"
        },
        "excludeVerboseContent": {
          "type": "boolean",
          "description": "Property excludeVerboseContent"
        },
        "fieldLogLevel": {
          "type": "string",
          "description": "Property fieldLogLevel"
        }
      }
    },
    "OpenIDConnectConfig": {
      "type": "object",
      "description": "Definition of OpenIDConnectConfig",
      "properties": {
        "authTTL": {
          "type": "integer",
          "format": "int32",
          "description": "Property authTTL"
        },
        "clientId": {
          "type": "string",
          "description": "Property clientId"
        },
        "iatTTL": {
          "type": "integer",
          "format": "int32",
          "description": "Property iatTTL"
        },
        "issuer": {
          "type": "string",
          "description": "Property issuer"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "UserPoolConfig": {
      "type": "object",
      "description": "Definition of UserPoolConfig",
      "properties": {
        "appIdClientRegex": {
          "type": "string",
          "description": "Property appIdClientRegex"
        },
        "awsRegion": {
          "type": "string",
          "description": "Property awsRegion"
        },
        "defaultAction": {
          "type": "string",
          "description": "Property defaultAction"
        },
        "userPoolId": {
          "type": "string",
          "description": "Property userPoolId"
        }
      }
    }
  },
  "parameters": {}
}
