{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "CodeBuildProjects"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/codeBuildProjects": {
      "get": {
        "operationId": "CodeBuildProjects_ListBySubscription",
        "tags": [
          "CodeBuildProjects"
        ],
        "description": "List CodeBuildProject resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeBuildProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildProjects_ListBySubscription": {
            "$ref": "./examples/CodeBuildProjects_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/codeBuildProjects": {
      "get": {
        "operationId": "CodeBuildProjects_ListByResourceGroup",
        "tags": [
          "CodeBuildProjects"
        ],
        "description": "List CodeBuildProject resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeBuildProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildProjects_ListByResourceGroup": {
            "$ref": "./examples/CodeBuildProjects_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/codeBuildProjects/{name}": {
      "get": {
        "operationId": "CodeBuildProjects_Get",
        "tags": [
          "CodeBuildProjects"
        ],
        "description": "Get a CodeBuildProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CodeBuildProject",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeBuildProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildProjects_Get": {
            "$ref": "./examples/CodeBuildProjects_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CodeBuildProjects_CreateOrUpdate",
        "tags": [
          "CodeBuildProjects"
        ],
        "description": "Create a CodeBuildProject. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CodeBuildProject",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeBuildProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CodeBuildProject' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeBuildProject"
            }
          },
          "201": {
            "description": "Resource 'CodeBuildProject' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeBuildProject"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildProjects_CreateOrUpdate": {
            "$ref": "./examples/CodeBuildProjects_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CodeBuildProjects_Update",
        "tags": [
          "CodeBuildProjects"
        ],
        "description": "Update a CodeBuildProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CodeBuildProject",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeBuildProjectTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeBuildProject"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildProjects_Update": {
            "$ref": "./examples/CodeBuildProjects_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CodeBuildProjects_Delete",
        "tags": [
          "CodeBuildProjects"
        ],
        "description": "Delete a CodeBuildProject",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CodeBuildProject",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildProjects_Delete": {
            "$ref": "./examples/CodeBuildProjects_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Artifacts": {
      "type": "object",
      "description": "Definition of Artifacts",
      "properties": {
        "artifactIdentifier": {
          "type": "string",
          "description": "Property artifactIdentifier"
        },
        "encryptionDisabled": {
          "type": "boolean",
          "description": "Property encryptionDisabled"
        },
        "location": {
          "type": "string",
          "description": "Property location"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "namespaceType": {
          "type": "string",
          "description": "Property namespaceType"
        },
        "overrideArtifactName": {
          "type": "boolean",
          "description": "Property overrideArtifactName"
        },
        "packaging": {
          "type": "string",
          "description": "Property packaging"
        },
        "path": {
          "type": "string",
          "description": "Property path"
        },
        "type": {
          "type": "string",
          "description": "Property type"
        }
      }
    },
    "AwsCodeBuildProjectProperties": {
      "type": "object",
      "description": "Definition of awsCodeBuildProject",
      "properties": {
        "arn": {
          "type": "string",
          "description": "Property arn"
        },
        "artifacts": {
          "$ref": "#/definitions/Artifacts",
          "description": "Property artifacts"
        },
        "badgeEnabled": {
          "type": "boolean",
          "description": "Property badgeEnabled"
        },
        "buildBatchConfig": {
          "$ref": "#/definitions/ProjectBuildBatchConfig",
          "description": "Property buildBatchConfig"
        },
        "cache": {
          "$ref": "#/definitions/ProjectCache",
          "description": "Property cache"
        },
        "concurrentBuildLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Property concurrentBuildLimit"
        },
        "description": {
          "type": "string",
          "description": "Property description"
        },
        "encryptionKey": {
          "type": "string",
          "description": "Property encryptionKey"
        },
        "environment": {
          "$ref": "#/definitions/Environment",
          "description": "Property environment"
        },
        "fileSystemLocations": {
          "type": "array",
          "description": "Property fileSystemLocations",
          "items": {
            "$ref": "#/definitions/ProjectFileSystemLocation"
          },
          "x-ms-identifiers": []
        },
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "logsConfig": {
          "$ref": "#/definitions/LogsConfig",
          "description": "Property logsConfig"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "queuedTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Property queuedTimeoutInMinutes"
        },
        "resourceAccessRole": {
          "type": "string",
          "description": "Property resourceAccessRole"
        },
        "secondaryArtifacts": {
          "type": "array",
          "description": "Property secondaryArtifacts",
          "items": {
            "$ref": "#/definitions/Artifacts"
          },
          "x-ms-identifiers": []
        },
        "secondarySourceVersions": {
          "type": "array",
          "description": "Property secondarySourceVersions",
          "items": {
            "$ref": "#/definitions/ProjectSourceVersion"
          },
          "x-ms-identifiers": []
        },
        "secondarySources": {
          "type": "array",
          "description": "Property secondarySources",
          "items": {
            "$ref": "#/definitions/Source"
          },
          "x-ms-identifiers": []
        },
        "serviceRole": {
          "type": "string",
          "description": "Property serviceRole"
        },
        "source": {
          "$ref": "#/definitions/Source",
          "description": "Property source"
        },
        "sourceVersion": {
          "type": "string",
          "description": "Property sourceVersion"
        },
        "tags": {
          "type": "array",
          "description": "Property tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "timeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Property timeoutInMinutes"
        },
        "triggers": {
          "$ref": "#/definitions/ProjectTriggers",
          "description": "Property triggers"
        },
        "visibility": {
          "type": "string",
          "description": "Property visibility"
        },
        "vpcConfig": {
          "$ref": "#/definitions/VpcConfig",
          "description": "Property vpcConfig"
        }
      }
    },
    "BatchRestrictions": {
      "type": "object",
      "description": "Definition of BatchRestrictions",
      "properties": {
        "computeTypesAllowed": {
          "type": "array",
          "description": "Property computeTypesAllowed",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "maximumBuildsAllowed": {
          "type": "integer",
          "format": "int32",
          "description": "Property maximumBuildsAllowed"
        }
      }
    },
    "BuildStatusConfig": {
      "type": "object",
      "description": "Definition of BuildStatusConfig",
      "properties": {
        "context": {
          "type": "string",
          "description": "Property context"
        },
        "targetUrl": {
          "type": "string",
          "description": "Property targetUrl"
        }
      }
    },
    "CloudWatchLogsConfig": {
      "type": "object",
      "description": "Definition of CloudWatchLogsConfig",
      "properties": {
        "groupName": {
          "type": "string",
          "description": "Property groupName"
        },
        "status": {
          "type": "string",
          "description": "Property status"
        },
        "streamName": {
          "type": "string",
          "description": "Property streamName"
        }
      }
    },
    "CodeBuildProject": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeBuildProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CodeBuildProjectListResult": {
      "type": "object",
      "description": "The response of a CodeBuildProject list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CodeBuildProject items on this page",
          "items": {
            "$ref": "#/definitions/CodeBuildProject"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CodeBuildProjectProperties": {
      "type": "object",
      "description": "Definition of CodeBuildProject",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsCodeBuildProjectProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "CodeBuildProjectTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in CodeBuildProject resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Environment": {
      "type": "object",
      "description": "Definition of Environment",
      "properties": {
        "certificate": {
          "type": "string",
          "description": "Property certificate"
        },
        "computeType": {
          "type": "string",
          "description": "Property computeType"
        },
        "environmentVariables": {
          "type": "array",
          "description": "Property environmentVariables",
          "items": {
            "$ref": "#/definitions/EnvironmentVariable"
          },
          "x-ms-identifiers": []
        },
        "fleet": {
          "$ref": "#/definitions/ProjectFleet",
          "description": "Property fleet"
        },
        "image": {
          "type": "string",
          "description": "Property image"
        },
        "imagePullCredentialsType": {
          "type": "string",
          "description": "Property imagePullCredentialsType"
        },
        "privilegedMode": {
          "type": "boolean",
          "description": "Property privilegedMode"
        },
        "registryCredential": {
          "$ref": "#/definitions/RegistryCredential",
          "description": "Property registryCredential"
        },
        "type": {
          "type": "string",
          "description": "Property type"
        }
      }
    },
    "EnvironmentVariable": {
      "type": "object",
      "description": "Definition of EnvironmentVariable",
      "properties": {
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "type": {
          "type": "string",
          "description": "Property type"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "GitSubmodulesConfig": {
      "type": "object",
      "description": "Definition of GitSubmodulesConfig",
      "properties": {
        "fetchSubmodules": {
          "type": "boolean",
          "description": "Property fetchSubmodules"
        }
      }
    },
    "LogsConfig": {
      "type": "object",
      "description": "Definition of LogsConfig",
      "properties": {
        "cloudWatchLogs": {
          "$ref": "#/definitions/CloudWatchLogsConfig",
          "description": "Property cloudWatchLogs"
        },
        "s3Logs": {
          "$ref": "#/definitions/S3LogsConfig",
          "description": "Property s3Logs"
        }
      }
    },
    "ProjectBuildBatchConfig": {
      "type": "object",
      "description": "Definition of ProjectBuildBatchConfig",
      "properties": {
        "batchReportMode": {
          "type": "string",
          "description": "Property batchReportMode"
        },
        "combineArtifacts": {
          "type": "boolean",
          "description": "Property combineArtifacts"
        },
        "restrictions": {
          "$ref": "#/definitions/BatchRestrictions",
          "description": "Property restrictions"
        },
        "serviceRole": {
          "type": "string",
          "description": "Property serviceRole"
        },
        "timeoutInMins": {
          "type": "integer",
          "format": "int32",
          "description": "Property timeoutInMins"
        }
      }
    },
    "ProjectCache": {
      "type": "object",
      "description": "Definition of ProjectCache",
      "properties": {
        "location": {
          "type": "string",
          "description": "Property location"
        },
        "modes": {
          "type": "array",
          "description": "Property modes",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "type": {
          "type": "string",
          "description": "Property type"
        }
      }
    },
    "ProjectFileSystemLocation": {
      "type": "object",
      "description": "Definition of ProjectFileSystemLocation",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "Property identifier"
        },
        "location": {
          "type": "string",
          "description": "Property location"
        },
        "mountOptions": {
          "type": "string",
          "description": "Property mountOptions"
        },
        "mountPoint": {
          "type": "string",
          "description": "Property mountPoint"
        },
        "type": {
          "type": "string",
          "description": "Property type"
        }
      }
    },
    "ProjectFleet": {
      "type": "object",
      "description": "Definition of ProjectFleet",
      "properties": {
        "fleetArn": {
          "type": "string",
          "description": "Property fleetArn"
        }
      }
    },
    "ProjectSourceVersion": {
      "type": "object",
      "description": "Definition of ProjectSourceVersion",
      "properties": {
        "sourceIdentifier": {
          "type": "string",
          "description": "Property sourceIdentifier"
        },
        "sourceVersion": {
          "type": "string",
          "description": "Property sourceVersion"
        }
      }
    },
    "ProjectTriggers": {
      "type": "object",
      "description": "Definition of ProjectTriggers",
      "properties": {
        "buildType": {
          "type": "string",
          "description": "Property buildType"
        },
        "filterGroups": {
          "type": "array",
          "description": "Property filterGroups",
          "items": {
            "type": "object",
            "additionalProperties": {}
          },
          "x-ms-identifiers": []
        },
        "webhook": {
          "type": "boolean",
          "description": "Property webhook"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "RegistryCredential": {
      "type": "object",
      "description": "Definition of RegistryCredential",
      "properties": {
        "credential": {
          "type": "string",
          "description": "Property credential"
        },
        "credentialProvider": {
          "type": "string",
          "description": "Property credentialProvider"
        }
      }
    },
    "S3LogsConfig": {
      "type": "object",
      "description": "Definition of S3LogsConfig",
      "properties": {
        "encryptionDisabled": {
          "type": "boolean",
          "description": "Property encryptionDisabled"
        },
        "location": {
          "type": "string",
          "description": "Property location"
        },
        "status": {
          "type": "string",
          "description": "Property status"
        }
      }
    },
    "Source": {
      "type": "object",
      "description": "Definition of Source",
      "properties": {
        "auth": {
          "$ref": "#/definitions/SourceAuth",
          "description": "Property auth"
        },
        "buildSpec": {
          "type": "string",
          "description": "Property buildSpec"
        },
        "buildStatusConfig": {
          "$ref": "#/definitions/BuildStatusConfig",
          "description": "Property buildStatusConfig"
        },
        "gitCloneDepth": {
          "type": "integer",
          "format": "int32",
          "description": "Property gitCloneDepth"
        },
        "gitSubmodulesConfig": {
          "$ref": "#/definitions/GitSubmodulesConfig",
          "description": "Property gitSubmodulesConfig"
        },
        "insecureSsl": {
          "type": "boolean",
          "description": "Property insecureSsl"
        },
        "location": {
          "type": "string",
          "description": "Property location"
        },
        "reportBuildStatus": {
          "type": "boolean",
          "description": "Property reportBuildStatus"
        },
        "sourceIdentifier": {
          "type": "string",
          "description": "Property sourceIdentifier"
        },
        "type": {
          "type": "string",
          "description": "Property type"
        }
      }
    },
    "SourceAuth": {
      "type": "object",
      "description": "Definition of SourceAuth",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Property resource"
        },
        "type": {
          "type": "string",
          "description": "Property type"
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "VpcConfig": {
      "type": "object",
      "description": "Definition of VpcConfig",
      "properties": {
        "securityGroupIds": {
          "type": "array",
          "description": "Property securityGroupIds",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "subnets": {
          "type": "array",
          "description": "Property subnets",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "vpcId": {
          "type": "string",
          "description": "Property vpcId"
        }
      }
    }
  },
  "parameters": {}
}
