{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ConfigConfigurationRecorders"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/configConfigurationRecorders": {
      "get": {
        "operationId": "ConfigConfigurationRecorders_ListBySubscription",
        "tags": [
          "ConfigConfigurationRecorders"
        ],
        "description": "List ConfigConfigurationRecorder resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigConfigurationRecorderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigConfigurationRecorders_ListBySubscription": {
            "$ref": "./examples/ConfigConfigurationRecorders_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/configConfigurationRecorders": {
      "get": {
        "operationId": "ConfigConfigurationRecorders_ListByResourceGroup",
        "tags": [
          "ConfigConfigurationRecorders"
        ],
        "description": "List ConfigConfigurationRecorder resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigConfigurationRecorderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigConfigurationRecorders_ListByResourceGroup": {
            "$ref": "./examples/ConfigConfigurationRecorders_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/configConfigurationRecorders/{name}": {
      "get": {
        "operationId": "ConfigConfigurationRecorders_Get",
        "tags": [
          "ConfigConfigurationRecorders"
        ],
        "description": "Get a ConfigConfigurationRecorder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ConfigConfigurationRecorder",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigConfigurationRecorder"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigConfigurationRecorders_Get": {
            "$ref": "./examples/ConfigConfigurationRecorders_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigConfigurationRecorders_CreateOrUpdate",
        "tags": [
          "ConfigConfigurationRecorders"
        ],
        "description": "Create a ConfigConfigurationRecorder. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ConfigConfigurationRecorder",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigConfigurationRecorder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConfigConfigurationRecorder' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigConfigurationRecorder"
            }
          },
          "201": {
            "description": "Resource 'ConfigConfigurationRecorder' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigConfigurationRecorder"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigConfigurationRecorders_CreateOrUpdate": {
            "$ref": "./examples/ConfigConfigurationRecorders_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConfigConfigurationRecorders_Update",
        "tags": [
          "ConfigConfigurationRecorders"
        ],
        "description": "Update a ConfigConfigurationRecorder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ConfigConfigurationRecorder",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigConfigurationRecorderTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigConfigurationRecorder"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigConfigurationRecorders_Update": {
            "$ref": "./examples/ConfigConfigurationRecorders_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ConfigConfigurationRecorders_Delete",
        "tags": [
          "ConfigConfigurationRecorders"
        ],
        "description": "Delete a ConfigConfigurationRecorder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ConfigConfigurationRecorder",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigConfigurationRecorders_Delete": {
            "$ref": "./examples/ConfigConfigurationRecorders_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsConfigConfigurationRecorderProperties": {
      "type": "object",
      "description": "Definition of awsConfigConfigurationRecorder",
      "properties": {
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "recordingGroup": {
          "$ref": "#/definitions/RecordingGroup",
          "description": "Property recordingGroup"
        },
        "recordingMode": {
          "$ref": "#/definitions/RecordingMode",
          "description": "Property recordingMode"
        },
        "roleARN": {
          "type": "string",
          "description": "Property roleARN"
        }
      }
    },
    "ConfigConfigurationRecorder": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigConfigurationRecorderProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConfigConfigurationRecorderListResult": {
      "type": "object",
      "description": "The response of a ConfigConfigurationRecorder list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConfigConfigurationRecorder items on this page",
          "items": {
            "$ref": "#/definitions/ConfigConfigurationRecorder"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConfigConfigurationRecorderProperties": {
      "type": "object",
      "description": "Definition of ConfigConfigurationRecorder",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsConfigConfigurationRecorderProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ConfigConfigurationRecorderTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in ConfigConfigurationRecorder resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExclusionByResourceTypes": {
      "type": "object",
      "description": "Definition of ExclusionByResourceTypes",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "description": "Property resourceTypes",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "RecordingGroup": {
      "type": "object",
      "description": "Definition of RecordingGroup",
      "properties": {
        "allSupported": {
          "type": "boolean",
          "description": "Property allSupported"
        },
        "exclusionByResourceTypes": {
          "$ref": "#/definitions/ExclusionByResourceTypes",
          "description": "Property exclusionByResourceTypes"
        },
        "includeGlobalResourceTypes": {
          "type": "boolean",
          "description": "Property includeGlobalResourceTypes"
        },
        "recordingStrategy": {
          "$ref": "#/definitions/RecordingStrategy",
          "description": "Property recordingStrategy"
        },
        "resourceTypes": {
          "type": "array",
          "description": "Property resourceTypes",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RecordingMode": {
      "type": "object",
      "description": "Definition of RecordingMode",
      "properties": {
        "recordingFrequency": {
          "type": "string",
          "description": "Property recordingFrequency"
        },
        "recordingModeOverrides": {
          "type": "array",
          "description": "Property recordingModeOverrides",
          "items": {
            "$ref": "#/definitions/RecordingModeOverride"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RecordingModeOverride": {
      "type": "object",
      "description": "Definition of RecordingModeOverride",
      "properties": {
        "description": {
          "type": "string",
          "description": "Property description"
        },
        "recordingFrequency": {
          "type": "string",
          "description": "Property recordingFrequency"
        },
        "resourceTypes": {
          "type": "array",
          "description": "Property resourceTypes",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RecordingStrategy": {
      "type": "object",
      "description": "Definition of RecordingStrategy",
      "properties": {
        "useOnly": {
          "type": "string",
          "description": "Property useOnly"
        }
      }
    }
  },
  "parameters": {}
}
