{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ElasticLoadBalancingLoadBalancers"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/elasticLoadBalancingLoadBalancers": {
      "get": {
        "operationId": "ElasticLoadBalancingLoadBalancers_ListBySubscription",
        "tags": [
          "ElasticLoadBalancingLoadBalancers"
        ],
        "description": "List ElasticLoadBalancingLoadBalancer resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingLoadBalancerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingLoadBalancers_ListBySubscription": {
            "$ref": "./examples/ElasticLoadBalancingLoadBalancers_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingLoadBalancers": {
      "get": {
        "operationId": "ElasticLoadBalancingLoadBalancers_ListByResourceGroup",
        "tags": [
          "ElasticLoadBalancingLoadBalancers"
        ],
        "description": "List ElasticLoadBalancingLoadBalancer resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingLoadBalancerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingLoadBalancers_ListByResourceGroup": {
            "$ref": "./examples/ElasticLoadBalancingLoadBalancers_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/elasticLoadBalancingLoadBalancers/{name}": {
      "get": {
        "operationId": "ElasticLoadBalancingLoadBalancers_Get",
        "tags": [
          "ElasticLoadBalancingLoadBalancers"
        ],
        "description": "Get a ElasticLoadBalancingLoadBalancer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticLoadBalancingLoadBalancer",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingLoadBalancer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingLoadBalancers_Get": {
            "$ref": "./examples/ElasticLoadBalancingLoadBalancers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ElasticLoadBalancingLoadBalancers_CreateOrUpdate",
        "tags": [
          "ElasticLoadBalancingLoadBalancers"
        ],
        "description": "Create a ElasticLoadBalancingLoadBalancer. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticLoadBalancingLoadBalancer",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingLoadBalancer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ElasticLoadBalancingLoadBalancer' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingLoadBalancer"
            }
          },
          "201": {
            "description": "Resource 'ElasticLoadBalancingLoadBalancer' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingLoadBalancer"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingLoadBalancers_CreateOrUpdate": {
            "$ref": "./examples/ElasticLoadBalancingLoadBalancers_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ElasticLoadBalancingLoadBalancers_Update",
        "tags": [
          "ElasticLoadBalancingLoadBalancers"
        ],
        "description": "Update a ElasticLoadBalancingLoadBalancer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticLoadBalancingLoadBalancer",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingLoadBalancerTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ElasticLoadBalancingLoadBalancer"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingLoadBalancers_Update": {
            "$ref": "./examples/ElasticLoadBalancingLoadBalancers_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ElasticLoadBalancingLoadBalancers_Delete",
        "tags": [
          "ElasticLoadBalancingLoadBalancers"
        ],
        "description": "Delete a ElasticLoadBalancingLoadBalancer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of ElasticLoadBalancingLoadBalancer",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ElasticLoadBalancingLoadBalancers_Delete": {
            "$ref": "./examples/ElasticLoadBalancingLoadBalancers_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AccessLoggingPolicy": {
      "type": "object",
      "description": "Definition of AccessLoggingPolicy",
      "properties": {
        "emitInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Property emitInterval"
        },
        "enabled": {
          "type": "boolean",
          "description": "Property enabled"
        },
        "s3BucketName": {
          "type": "string",
          "description": "Property s3BucketName"
        },
        "s3BucketPrefix": {
          "type": "string",
          "description": "Property s3BucketPrefix"
        }
      }
    },
    "AppCookieStickinessPolicy": {
      "type": "object",
      "description": "Definition of AppCookieStickinessPolicy",
      "properties": {
        "cookieName": {
          "type": "string",
          "description": "Property cookieName"
        },
        "policyName": {
          "type": "string",
          "description": "Property policyName"
        }
      }
    },
    "AwsElasticLoadBalancingLoadBalancerProperties": {
      "type": "object",
      "description": "Definition of awsElasticLoadBalancingLoadBalancer",
      "properties": {
        "accessLoggingPolicy": {
          "$ref": "#/definitions/AccessLoggingPolicy",
          "description": "Property accessLoggingPolicy"
        },
        "appCookieStickinessPolicy": {
          "type": "array",
          "description": "Property appCookieStickinessPolicy",
          "items": {
            "$ref": "#/definitions/AppCookieStickinessPolicy"
          },
          "x-ms-identifiers": []
        },
        "availabilityZones": {
          "type": "array",
          "description": "Property availabilityZones",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "canonicalHostedZoneName": {
          "type": "string",
          "description": "Property canonicalHostedZoneName"
        },
        "canonicalHostedZoneNameID": {
          "type": "string",
          "description": "Property canonicalHostedZoneNameID"
        },
        "connectionDrainingPolicy": {
          "$ref": "#/definitions/ConnectionDrainingPolicy",
          "description": "Property connectionDrainingPolicy"
        },
        "connectionSettings": {
          "$ref": "#/definitions/ConnectionSettings",
          "description": "Property connectionSettings"
        },
        "crossZone": {
          "type": "boolean",
          "description": "Property crossZone"
        },
        "dnsName": {
          "type": "string",
          "description": "Property dnsName"
        },
        "healthCheck": {
          "$ref": "#/definitions/HealthCheck",
          "description": "Property healthCheck"
        },
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "instances": {
          "type": "array",
          "description": "Property instances",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "lbCookieStickinessPolicy": {
          "type": "array",
          "description": "Property lbCookieStickinessPolicy",
          "items": {
            "$ref": "#/definitions/LBCookieStickinessPolicy"
          },
          "x-ms-identifiers": []
        },
        "listeners": {
          "type": "array",
          "description": "Property listeners",
          "items": {
            "$ref": "#/definitions/Listeners"
          },
          "x-ms-identifiers": []
        },
        "loadBalancerName": {
          "type": "string",
          "description": "Property loadBalancerName"
        },
        "policies": {
          "type": "array",
          "description": "Property policies",
          "items": {
            "$ref": "#/definitions/Policies"
          },
          "x-ms-identifiers": []
        },
        "scheme": {
          "type": "string",
          "description": "Property scheme"
        },
        "securityGroups": {
          "type": "array",
          "description": "Property securityGroups",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "sourceSecurityGroupGroupName": {
          "type": "string",
          "description": "Property sourceSecurityGroupGroupName"
        },
        "sourceSecurityGroupOwnerAlias": {
          "type": "string",
          "description": "Property sourceSecurityGroupOwnerAlias"
        },
        "subnets": {
          "type": "array",
          "description": "Property subnets",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "tags": {
          "type": "array",
          "description": "Property tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ConnectionDrainingPolicy": {
      "type": "object",
      "description": "Definition of ConnectionDrainingPolicy",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Property enabled"
        },
        "timeout": {
          "type": "integer",
          "format": "int32",
          "description": "Property timeout"
        }
      }
    },
    "ConnectionSettings": {
      "type": "object",
      "description": "Definition of ConnectionSettings",
      "properties": {
        "idleTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "Property idleTimeout"
        }
      }
    },
    "ElasticLoadBalancingLoadBalancer": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticLoadBalancingLoadBalancerProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ElasticLoadBalancingLoadBalancerListResult": {
      "type": "object",
      "description": "The response of a ElasticLoadBalancingLoadBalancer list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ElasticLoadBalancingLoadBalancer items on this page",
          "items": {
            "$ref": "#/definitions/ElasticLoadBalancingLoadBalancer"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ElasticLoadBalancingLoadBalancerProperties": {
      "type": "object",
      "description": "Definition of ElasticLoadBalancingLoadBalancer",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsElasticLoadBalancingLoadBalancerProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ElasticLoadBalancingLoadBalancerTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in ElasticLoadBalancingLoadBalancer resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "HealthCheck": {
      "type": "object",
      "description": "Definition of HealthCheck",
      "properties": {
        "healthyThreshold": {
          "type": "string",
          "description": "Property healthyThreshold"
        },
        "interval": {
          "type": "string",
          "description": "Property interval"
        },
        "target": {
          "type": "string",
          "description": "Property target"
        },
        "timeout": {
          "type": "string",
          "description": "Property timeout"
        },
        "unhealthyThreshold": {
          "type": "string",
          "description": "Property unhealthyThreshold"
        }
      }
    },
    "LBCookieStickinessPolicy": {
      "type": "object",
      "description": "Definition of LBCookieStickinessPolicy",
      "properties": {
        "cookieExpirationPeriod": {
          "type": "string",
          "description": "Property cookieExpirationPeriod"
        },
        "policyName": {
          "type": "string",
          "description": "Property policyName"
        }
      }
    },
    "Listeners": {
      "type": "object",
      "description": "Definition of Listeners",
      "properties": {
        "instancePort": {
          "type": "string",
          "description": "Property instancePort"
        },
        "instanceProtocol": {
          "type": "string",
          "description": "Property instanceProtocol"
        },
        "loadBalancerPort": {
          "type": "string",
          "description": "Property loadBalancerPort"
        },
        "policyNames": {
          "type": "array",
          "description": "Property policyNames",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "protocol": {
          "type": "string",
          "description": "Property protocol"
        },
        "sslCertificateId": {
          "type": "string",
          "description": "Property sslCertificateId"
        }
      }
    },
    "Policies": {
      "type": "object",
      "description": "Definition of Policies",
      "properties": {
        "attributes": {
          "type": "array",
          "description": "Property attributes",
          "items": {}
        },
        "instancePorts": {
          "type": "array",
          "description": "Property instancePorts",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "loadBalancerPorts": {
          "type": "array",
          "description": "Property loadBalancerPorts",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "policyName": {
          "type": "string",
          "description": "Property policyName"
        },
        "policyType": {
          "type": "string",
          "description": "Property policyType"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    }
  },
  "parameters": {}
}
