{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EmrClusters"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/emrClusters": {
      "get": {
        "operationId": "EmrClusters_ListBySubscription",
        "tags": [
          "EmrClusters"
        ],
        "description": "List EmrCluster resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmrClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmrClusters_ListBySubscription": {
            "$ref": "./examples/EmrClusters_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/emrClusters": {
      "get": {
        "operationId": "EmrClusters_ListByResourceGroup",
        "tags": [
          "EmrClusters"
        ],
        "description": "List EmrCluster resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmrClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmrClusters_ListByResourceGroup": {
            "$ref": "./examples/EmrClusters_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/emrClusters/{name}": {
      "get": {
        "operationId": "EmrClusters_Get",
        "tags": [
          "EmrClusters"
        ],
        "description": "Get a EmrCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EmrCluster",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmrCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmrClusters_Get": {
            "$ref": "./examples/EmrClusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EmrClusters_CreateOrUpdate",
        "tags": [
          "EmrClusters"
        ],
        "description": "Create a EmrCluster. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EmrCluster",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmrCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EmrCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmrCluster"
            }
          },
          "201": {
            "description": "Resource 'EmrCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EmrCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmrClusters_CreateOrUpdate": {
            "$ref": "./examples/EmrClusters_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EmrClusters_Update",
        "tags": [
          "EmrClusters"
        ],
        "description": "Update a EmrCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EmrCluster",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmrClusterTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EmrCluster"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmrClusters_Update": {
            "$ref": "./examples/EmrClusters_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EmrClusters_Delete",
        "tags": [
          "EmrClusters"
        ],
        "description": "Delete a EmrCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of EmrCluster",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmrClusters_Delete": {
            "$ref": "./examples/EmrClusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Application": {
      "type": "object",
      "description": "Definition of Application",
      "properties": {
        "additionalInfo": {
          "type": "object",
          "description": "Property additionalInfo",
          "additionalProperties": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "description": "Property args",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "version": {
          "type": "string",
          "description": "Property version"
        }
      }
    },
    "AutoScalingPolicy": {
      "type": "object",
      "description": "Definition of AutoScalingPolicy",
      "properties": {
        "constraints": {
          "$ref": "#/definitions/ScalingConstraints",
          "description": "Property constraints"
        },
        "rules": {
          "type": "array",
          "description": "Property rules",
          "items": {
            "$ref": "#/definitions/ScalingRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AutoTerminationPolicy": {
      "type": "object",
      "description": "Definition of AutoTerminationPolicy",
      "properties": {
        "idleTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "Property idleTimeout"
        }
      }
    },
    "AwsEmrClusterProperties": {
      "type": "object",
      "description": "Definition of awsEmrCluster",
      "properties": {
        "additionalInfo": {
          "description": "Property additionalInfo"
        },
        "applications": {
          "type": "array",
          "description": "Property applications",
          "items": {
            "$ref": "#/definitions/Application"
          },
          "x-ms-identifiers": []
        },
        "autoScalingRole": {
          "type": "string",
          "description": "Property autoScalingRole"
        },
        "autoTerminationPolicy": {
          "$ref": "#/definitions/AutoTerminationPolicy",
          "description": "Property autoTerminationPolicy"
        },
        "bootstrapActions": {
          "type": "array",
          "description": "Property bootstrapActions",
          "items": {
            "$ref": "#/definitions/BootstrapActionConfig"
          },
          "x-ms-identifiers": []
        },
        "configurations": {
          "type": "array",
          "description": "Property configurations",
          "items": {
            "$ref": "#/definitions/Configuration"
          },
          "x-ms-identifiers": []
        },
        "customAmiId": {
          "type": "string",
          "description": "Property customAmiId"
        },
        "ebsRootVolumeIops": {
          "type": "integer",
          "format": "int32",
          "description": "Property ebsRootVolumeIops"
        },
        "ebsRootVolumeSize": {
          "type": "integer",
          "format": "int32",
          "description": "Property ebsRootVolumeSize"
        },
        "ebsRootVolumeThroughput": {
          "type": "integer",
          "format": "int32",
          "description": "Property ebsRootVolumeThroughput"
        },
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "instances": {
          "$ref": "#/definitions/JobFlowInstancesConfig",
          "description": "Property instances"
        },
        "jobFlowRole": {
          "type": "string",
          "description": "Property jobFlowRole"
        },
        "kerberosAttributes": {
          "$ref": "#/definitions/KerberosAttributes",
          "description": "Property kerberosAttributes"
        },
        "logEncryptionKmsKeyId": {
          "type": "string",
          "description": "Property logEncryptionKmsKeyId"
        },
        "logUri": {
          "type": "string",
          "description": "Property logUri"
        },
        "managedScalingPolicy": {
          "$ref": "#/definitions/ManagedScalingPolicy",
          "description": "Property managedScalingPolicy"
        },
        "masterPublicDNS": {
          "type": "string",
          "description": "Property masterPublicDNS"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "osReleaseLabel": {
          "type": "string",
          "description": "Property osReleaseLabel"
        },
        "placementGroupConfigs": {
          "type": "array",
          "description": "Property placementGroupConfigs",
          "items": {
            "$ref": "#/definitions/PlacementGroupConfig"
          },
          "x-ms-identifiers": []
        },
        "releaseLabel": {
          "type": "string",
          "description": "Property releaseLabel"
        },
        "scaleDownBehavior": {
          "type": "string",
          "description": "Property scaleDownBehavior"
        },
        "securityConfiguration": {
          "type": "string",
          "description": "Property securityConfiguration"
        },
        "serviceRole": {
          "type": "string",
          "description": "Property serviceRole"
        },
        "stepConcurrencyLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Property stepConcurrencyLevel"
        },
        "steps": {
          "type": "array",
          "description": "Property steps",
          "items": {
            "$ref": "#/definitions/StepConfig"
          },
          "x-ms-identifiers": []
        },
        "tags": {
          "type": "array",
          "description": "Property tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "visibleToAllUsers": {
          "type": "boolean",
          "description": "Property visibleToAllUsers"
        }
      }
    },
    "BootstrapActionConfig": {
      "type": "object",
      "description": "Definition of BootstrapActionConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "scriptBootstrapAction": {
          "$ref": "#/definitions/ScriptBootstrapActionConfig",
          "description": "Property scriptBootstrapAction"
        }
      }
    },
    "CloudWatchAlarmDefinition": {
      "type": "object",
      "description": "Definition of CloudWatchAlarmDefinition",
      "properties": {
        "comparisonOperator": {
          "type": "string",
          "description": "Property comparisonOperator"
        },
        "dimensions": {
          "type": "array",
          "description": "Property dimensions",
          "items": {
            "$ref": "#/definitions/MetricDimension"
          },
          "x-ms-identifiers": []
        },
        "evaluationPeriods": {
          "type": "integer",
          "format": "int32",
          "description": "Property evaluationPeriods"
        },
        "metricName": {
          "type": "string",
          "description": "Property metricName"
        },
        "namespace": {
          "type": "string",
          "description": "Property `namespace`"
        },
        "period": {
          "type": "integer",
          "format": "int32",
          "description": "Property period"
        },
        "statistic": {
          "type": "string",
          "description": "Property statistic"
        },
        "threshold": {
          "type": "integer",
          "format": "int32",
          "description": "Property threshold"
        },
        "unit": {
          "type": "string",
          "description": "Property unit"
        }
      }
    },
    "ComputeLimits": {
      "type": "object",
      "description": "Definition of ComputeLimits",
      "properties": {
        "maximumCapacityUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Property maximumCapacityUnits"
        },
        "maximumCoreCapacityUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Property maximumCoreCapacityUnits"
        },
        "maximumOnDemandCapacityUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Property maximumOnDemandCapacityUnits"
        },
        "minimumCapacityUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Property minimumCapacityUnits"
        },
        "unitType": {
          "type": "string",
          "description": "Property unitType"
        }
      }
    },
    "Configuration": {
      "type": "object",
      "description": "Definition of Configuration",
      "properties": {
        "classification": {
          "type": "string",
          "description": "Property classification"
        },
        "configurationProperties": {
          "type": "object",
          "description": "Property configurationProperties",
          "additionalProperties": {
            "type": "string"
          }
        },
        "configurations": {
          "type": "array",
          "description": "Property configurations",
          "items": {
            "$ref": "#/definitions/Configuration"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "EbsBlockDeviceConfig": {
      "type": "object",
      "description": "Definition of EbsBlockDeviceConfig",
      "properties": {
        "volumeSpecification": {
          "$ref": "#/definitions/VolumeSpecification",
          "description": "Property volumeSpecification"
        },
        "volumesPerInstance": {
          "type": "integer",
          "format": "int32",
          "description": "Property volumesPerInstance"
        }
      }
    },
    "EbsConfiguration": {
      "type": "object",
      "description": "Definition of EbsConfiguration",
      "properties": {
        "ebsBlockDeviceConfigs": {
          "type": "array",
          "description": "Property ebsBlockDeviceConfigs",
          "items": {
            "$ref": "#/definitions/EbsBlockDeviceConfig"
          },
          "x-ms-identifiers": []
        },
        "ebsOptimized": {
          "type": "boolean",
          "description": "Property ebsOptimized"
        }
      }
    },
    "EmrCluster": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EmrClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EmrClusterListResult": {
      "type": "object",
      "description": "The response of a EmrCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EmrCluster items on this page",
          "items": {
            "$ref": "#/definitions/EmrCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EmrClusterProperties": {
      "type": "object",
      "description": "Definition of EmrCluster",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEmrClusterProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "EmrClusterTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in EmrCluster resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "HadoopJarStepConfig": {
      "type": "object",
      "description": "Definition of HadoopJarStepConfig",
      "properties": {
        "args": {
          "type": "array",
          "description": "Property args",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "jar": {
          "type": "string",
          "description": "Property jar"
        },
        "mainClass": {
          "type": "string",
          "description": "Property mainClass"
        },
        "stepProperties": {
          "type": "array",
          "description": "Property stepProperties",
          "items": {
            "$ref": "#/definitions/KeyValue"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "InstanceFleetConfig": {
      "type": "object",
      "description": "Definition of InstanceFleetConfig",
      "properties": {
        "instanceTypeConfigs": {
          "type": "array",
          "description": "Property instanceTypeConfigs",
          "items": {
            "$ref": "#/definitions/InstanceTypeConfig"
          },
          "x-ms-identifiers": []
        },
        "launchSpecifications": {
          "$ref": "#/definitions/InstanceFleetProvisioningSpecifications",
          "description": "Property launchSpecifications"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "targetOnDemandCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Property targetOnDemandCapacity"
        },
        "targetSpotCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Property targetSpotCapacity"
        }
      }
    },
    "InstanceFleetProvisioningSpecifications": {
      "type": "object",
      "description": "Definition of InstanceFleetProvisioningSpecifications",
      "properties": {
        "onDemandSpecification": {
          "$ref": "#/definitions/OnDemandProvisioningSpecification",
          "description": "Property onDemandSpecification"
        },
        "spotSpecification": {
          "$ref": "#/definitions/SpotProvisioningSpecification",
          "description": "Property spotSpecification"
        }
      }
    },
    "InstanceGroupConfig": {
      "type": "object",
      "description": "Definition of InstanceGroupConfig",
      "properties": {
        "autoScalingPolicy": {
          "$ref": "#/definitions/AutoScalingPolicy",
          "description": "Property autoScalingPolicy"
        },
        "bidPrice": {
          "type": "string",
          "description": "Property bidPrice"
        },
        "configurations": {
          "type": "array",
          "description": "Property configurations",
          "items": {
            "$ref": "#/definitions/Configuration"
          },
          "x-ms-identifiers": []
        },
        "customAmiId": {
          "type": "string",
          "description": "Property customAmiId"
        },
        "ebsConfiguration": {
          "$ref": "#/definitions/EbsConfiguration",
          "description": "Property ebsConfiguration"
        },
        "instanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Property instanceCount"
        },
        "instanceType": {
          "type": "string",
          "description": "Property instanceType"
        },
        "market": {
          "type": "string",
          "description": "Property market"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        }
      }
    },
    "InstanceTypeConfig": {
      "type": "object",
      "description": "Definition of InstanceTypeConfig",
      "properties": {
        "bidPrice": {
          "type": "string",
          "description": "Property bidPrice"
        },
        "bidPriceAsPercentageOfOnDemandPrice": {
          "type": "integer",
          "format": "int32",
          "description": "Property bidPriceAsPercentageOfOnDemandPrice"
        },
        "configurations": {
          "type": "array",
          "description": "Property configurations",
          "items": {
            "$ref": "#/definitions/Configuration"
          },
          "x-ms-identifiers": []
        },
        "customAmiId": {
          "type": "string",
          "description": "Property customAmiId"
        },
        "ebsConfiguration": {
          "$ref": "#/definitions/EbsConfiguration",
          "description": "Property ebsConfiguration"
        },
        "instanceType": {
          "type": "string",
          "description": "Property instanceType"
        },
        "weightedCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Property weightedCapacity"
        }
      }
    },
    "JobFlowInstancesConfig": {
      "type": "object",
      "description": "Definition of JobFlowInstancesConfig",
      "properties": {
        "additionalMasterSecurityGroups": {
          "type": "array",
          "description": "Property additionalMasterSecurityGroups",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "additionalSlaveSecurityGroups": {
          "type": "array",
          "description": "Property additionalSlaveSecurityGroups",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "coreInstanceFleet": {
          "$ref": "#/definitions/InstanceFleetConfig",
          "description": "Property coreInstanceFleet"
        },
        "coreInstanceGroup": {
          "$ref": "#/definitions/InstanceGroupConfig",
          "description": "Property coreInstanceGroup"
        },
        "ec2KeyName": {
          "type": "string",
          "description": "Property ec2KeyName"
        },
        "ec2SubnetId": {
          "type": "string",
          "description": "Property ec2SubnetId"
        },
        "ec2SubnetIds": {
          "type": "array",
          "description": "Property ec2SubnetIds",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "emrManagedMasterSecurityGroup": {
          "type": "string",
          "description": "Property emrManagedMasterSecurityGroup"
        },
        "emrManagedSlaveSecurityGroup": {
          "type": "string",
          "description": "Property emrManagedSlaveSecurityGroup"
        },
        "hadoopVersion": {
          "type": "string",
          "description": "Property hadoopVersion"
        },
        "keepJobFlowAliveWhenNoSteps": {
          "type": "boolean",
          "description": "Property keepJobFlowAliveWhenNoSteps"
        },
        "masterInstanceFleet": {
          "$ref": "#/definitions/InstanceFleetConfig",
          "description": "Property masterInstanceFleet"
        },
        "masterInstanceGroup": {
          "$ref": "#/definitions/InstanceGroupConfig",
          "description": "Property masterInstanceGroup"
        },
        "placement": {
          "$ref": "#/definitions/PlacementType",
          "description": "Property placement"
        },
        "serviceAccessSecurityGroup": {
          "type": "string",
          "description": "Property serviceAccessSecurityGroup"
        },
        "taskInstanceFleets": {
          "type": "array",
          "description": "Property taskInstanceFleets",
          "items": {
            "$ref": "#/definitions/InstanceFleetConfig"
          },
          "x-ms-identifiers": []
        },
        "taskInstanceGroups": {
          "type": "array",
          "description": "Property taskInstanceGroups",
          "items": {
            "$ref": "#/definitions/InstanceGroupConfig"
          },
          "x-ms-identifiers": []
        },
        "terminationProtected": {
          "type": "boolean",
          "description": "Property terminationProtected"
        },
        "unhealthyNodeReplacement": {
          "type": "boolean",
          "description": "Property unhealthyNodeReplacement"
        }
      }
    },
    "KerberosAttributes": {
      "type": "object",
      "description": "Definition of KerberosAttributes",
      "properties": {
        "adDomainJoinPassword": {
          "type": "string",
          "description": "Property adDomainJoinPassword"
        },
        "adDomainJoinUser": {
          "type": "string",
          "description": "Property adDomainJoinUser"
        },
        "crossRealmTrustPrincipalPassword": {
          "type": "string",
          "description": "Property crossRealmTrustPrincipalPassword"
        },
        "kdcAdminPassword": {
          "type": "string",
          "description": "Property kdcAdminPassword"
        },
        "realm": {
          "type": "string",
          "description": "Property realm"
        }
      }
    },
    "KeyValue": {
      "type": "object",
      "description": "Definition of KeyValue",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "ManagedScalingPolicy": {
      "type": "object",
      "description": "Definition of ManagedScalingPolicy",
      "properties": {
        "computeLimits": {
          "$ref": "#/definitions/ComputeLimits",
          "description": "Property computeLimits"
        }
      }
    },
    "MetricDimension": {
      "type": "object",
      "description": "Definition of MetricDimension",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "OnDemandProvisioningSpecification": {
      "type": "object",
      "description": "Definition of OnDemandProvisioningSpecification",
      "properties": {
        "allocationStrategy": {
          "type": "string",
          "description": "Property allocationStrategy"
        }
      }
    },
    "PlacementGroupConfig": {
      "type": "object",
      "description": "Definition of PlacementGroupConfig",
      "properties": {
        "instanceRole": {
          "type": "string",
          "description": "Property instanceRole"
        },
        "placementStrategy": {
          "type": "string",
          "description": "Property placementStrategy"
        }
      }
    },
    "PlacementType": {
      "type": "object",
      "description": "Definition of PlacementType",
      "properties": {
        "availabilityZone": {
          "type": "string",
          "description": "Property availabilityZone"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ScalingAction": {
      "type": "object",
      "description": "Definition of ScalingAction",
      "properties": {
        "market": {
          "type": "string",
          "description": "Property market"
        },
        "simpleScalingPolicyConfiguration": {
          "$ref": "#/definitions/SimpleScalingPolicyConfiguration",
          "description": "Property simpleScalingPolicyConfiguration"
        }
      }
    },
    "ScalingConstraints": {
      "type": "object",
      "description": "Definition of ScalingConstraints",
      "properties": {
        "maxCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Property maxCapacity"
        },
        "minCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Property minCapacity"
        }
      }
    },
    "ScalingRule": {
      "type": "object",
      "description": "Definition of ScalingRule",
      "properties": {
        "action": {
          "$ref": "#/definitions/ScalingAction",
          "description": "Property action"
        },
        "description": {
          "type": "string",
          "description": "Property description"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "trigger": {
          "$ref": "#/definitions/ScalingTrigger",
          "description": "Property trigger"
        }
      }
    },
    "ScalingTrigger": {
      "type": "object",
      "description": "Definition of ScalingTrigger",
      "properties": {
        "cloudWatchAlarmDefinition": {
          "$ref": "#/definitions/CloudWatchAlarmDefinition",
          "description": "Property cloudWatchAlarmDefinition"
        }
      }
    },
    "ScriptBootstrapActionConfig": {
      "type": "object",
      "description": "Definition of ScriptBootstrapActionConfig",
      "properties": {
        "args": {
          "type": "array",
          "description": "Property args",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "path": {
          "type": "string",
          "description": "Property path"
        }
      }
    },
    "SimpleScalingPolicyConfiguration": {
      "type": "object",
      "description": "Definition of SimpleScalingPolicyConfiguration",
      "properties": {
        "adjustmentType": {
          "type": "string",
          "description": "Property adjustmentType"
        },
        "coolDown": {
          "type": "integer",
          "format": "int32",
          "description": "Property coolDown"
        },
        "scalingAdjustment": {
          "type": "integer",
          "format": "int32",
          "description": "Property scalingAdjustment"
        }
      }
    },
    "SpotProvisioningSpecification": {
      "type": "object",
      "description": "Definition of SpotProvisioningSpecification",
      "properties": {
        "allocationStrategy": {
          "type": "string",
          "description": "Property allocationStrategy"
        },
        "blockDurationMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Property blockDurationMinutes"
        },
        "timeoutAction": {
          "type": "string",
          "description": "Property timeoutAction"
        },
        "timeoutDurationMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Property timeoutDurationMinutes"
        }
      }
    },
    "StepConfig": {
      "type": "object",
      "description": "Definition of StepConfig",
      "properties": {
        "actionOnFailure": {
          "type": "string",
          "description": "Property actionOnFailure"
        },
        "hadoopJarStep": {
          "$ref": "#/definitions/HadoopJarStepConfig",
          "description": "Property hadoopJarStep"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "VolumeSpecification": {
      "type": "object",
      "description": "Definition of VolumeSpecification",
      "properties": {
        "iops": {
          "type": "integer",
          "format": "int32",
          "description": "Property iops"
        },
        "sizeInGB": {
          "type": "integer",
          "format": "int32",
          "description": "Property sizeInGB"
        },
        "throughput": {
          "type": "integer",
          "format": "int32",
          "description": "Property throughput"
        },
        "volumeType": {
          "type": "string",
          "description": "Property volumeType"
        }
      }
    }
  },
  "parameters": {}
}
