{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "LicenseManagerLicenses"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/licenseManagerLicenses": {
      "get": {
        "operationId": "LicenseManagerLicenses_ListBySubscription",
        "tags": [
          "LicenseManagerLicenses"
        ],
        "description": "List LicenseManagerLicense resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseManagerLicenseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LicenseManagerLicenses_ListBySubscription": {
            "$ref": "./examples/LicenseManagerLicenses_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/licenseManagerLicenses": {
      "get": {
        "operationId": "LicenseManagerLicenses_ListByResourceGroup",
        "tags": [
          "LicenseManagerLicenses"
        ],
        "description": "List LicenseManagerLicense resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseManagerLicenseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LicenseManagerLicenses_ListByResourceGroup": {
            "$ref": "./examples/LicenseManagerLicenses_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/licenseManagerLicenses/{name}": {
      "get": {
        "operationId": "LicenseManagerLicenses_Get",
        "tags": [
          "LicenseManagerLicenses"
        ],
        "description": "Get a LicenseManagerLicense",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LicenseManagerLicense",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseManagerLicense"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LicenseManagerLicenses_Get": {
            "$ref": "./examples/LicenseManagerLicenses_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LicenseManagerLicenses_CreateOrUpdate",
        "tags": [
          "LicenseManagerLicenses"
        ],
        "description": "Create a LicenseManagerLicense. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LicenseManagerLicense",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LicenseManagerLicense"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LicenseManagerLicense' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LicenseManagerLicense"
            }
          },
          "201": {
            "description": "Resource 'LicenseManagerLicense' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LicenseManagerLicense"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LicenseManagerLicenses_CreateOrUpdate": {
            "$ref": "./examples/LicenseManagerLicenses_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LicenseManagerLicenses_Update",
        "tags": [
          "LicenseManagerLicenses"
        ],
        "description": "Update a LicenseManagerLicense",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LicenseManagerLicense",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LicenseManagerLicenseTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseManagerLicense"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LicenseManagerLicenses_Update": {
            "$ref": "./examples/LicenseManagerLicenses_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LicenseManagerLicenses_Delete",
        "tags": [
          "LicenseManagerLicenses"
        ],
        "description": "Delete a LicenseManagerLicense",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of LicenseManagerLicense",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LicenseManagerLicenses_Delete": {
            "$ref": "./examples/LicenseManagerLicenses_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsLicenseManagerLicenseProperties": {
      "type": "object",
      "description": "Definition of awsLicenseManagerLicense",
      "properties": {
        "beneficiary": {
          "type": "string",
          "description": "<p>License beneficiary.</p>"
        },
        "consumptionConfiguration": {
          "$ref": "#/definitions/ConsumptionConfiguration",
          "description": "<p>Configuration for consumption of the license.</p>"
        },
        "createTime": {
          "type": "string",
          "description": "<p>License creation time.</p>"
        },
        "entitlements": {
          "type": "array",
          "description": "<p>License entitlements.</p>",
          "items": {
            "$ref": "#/definitions/Entitlement"
          },
          "x-ms-identifiers": []
        },
        "homeRegion": {
          "type": "string",
          "description": "<p>Home Region of the license.</p>"
        },
        "issuer": {
          "$ref": "#/definitions/IssuerDetails",
          "description": "<p>License issuer.</p>"
        },
        "licenseArn": {
          "type": "string",
          "description": "<p>Amazon Resource Name (ARN) of the license.</p>"
        },
        "licenseMetadata": {
          "type": "array",
          "description": "<p>License metadata.</p>",
          "items": {
            "$ref": "#/definitions/Metadata"
          },
          "x-ms-identifiers": []
        },
        "licenseName": {
          "type": "string",
          "description": "<p>License name.</p>"
        },
        "productName": {
          "type": "string",
          "description": "<p>Product name.</p>"
        },
        "productSKU": {
          "type": "string",
          "description": "<p>Product SKU.</p>"
        },
        "status": {
          "$ref": "#/definitions/LicenseStatusEnumValue",
          "description": "<p>License status.</p>"
        },
        "validity": {
          "$ref": "#/definitions/DatetimeRange",
          "description": "<p>Date and time range during which the license is valid, in ISO8601-UTC format.</p>"
        },
        "version": {
          "type": "string",
          "description": "<p>License version.</p>"
        }
      }
    },
    "BorrowConfiguration": {
      "type": "object",
      "description": "Definition of BorrowConfiguration",
      "properties": {
        "allowEarlyCheckIn": {
          "type": "boolean",
          "description": "<p>Indicates whether early check-ins are allowed.</p>"
        },
        "maxTimeToLiveInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "<p>Maximum time for the borrow configuration, in minutes.</p>"
        }
      }
    },
    "ConsumptionConfiguration": {
      "type": "object",
      "description": "Definition of ConsumptionConfiguration",
      "properties": {
        "borrowConfiguration": {
          "$ref": "#/definitions/BorrowConfiguration",
          "description": "<p>Details about a borrow configuration.</p>"
        },
        "provisionalConfiguration": {
          "$ref": "#/definitions/ProvisionalConfiguration",
          "description": "<p>Details about a provisional configuration.</p>"
        },
        "renewType": {
          "$ref": "#/definitions/RenewTypeEnumValue",
          "description": "<p>Renewal frequency.</p>"
        }
      }
    },
    "DatetimeRange": {
      "type": "object",
      "description": "Definition of DatetimeRange",
      "properties": {
        "begin": {
          "type": "string",
          "description": "<p>Start of the time range.</p>"
        },
        "end": {
          "type": "string",
          "description": "<p>End of the time range.</p>"
        }
      }
    },
    "Entitlement": {
      "type": "object",
      "description": "Definition of Entitlement",
      "properties": {
        "allowCheckIn": {
          "type": "boolean",
          "description": "<p>Indicates whether check-ins are allowed.</p>"
        },
        "maxCount": {
          "type": "integer",
          "format": "int64",
          "description": "<p>Maximum entitlement count. Use if the unit is not None.</p>"
        },
        "name": {
          "type": "string",
          "description": "<p>Entitlement name.</p>"
        },
        "overage": {
          "type": "boolean",
          "description": "<p>Indicates whether overages are allowed.</p>"
        },
        "unit": {
          "$ref": "#/definitions/EntitlementUnitEnumValue",
          "description": "<p>Entitlement unit.</p>"
        },
        "value": {
          "type": "string",
          "description": "<p>Entitlement resource. Use only if the unit is None.</p>"
        }
      }
    },
    "EntitlementUnit": {
      "type": "string",
      "description": "EntitlementUnit enum",
      "enum": [
        "Bits",
        "Bits/Second",
        "Bytes",
        "Bytes/Second",
        "Count",
        "Count/Second",
        "Gigabits",
        "Gigabits/Second",
        "Gigabytes",
        "Gigabytes/Second",
        "Kilobits",
        "Kilobits/Second",
        "Kilobytes",
        "Kilobytes/Second",
        "Megabits",
        "Megabits/Second",
        "Megabytes",
        "Megabytes/Second",
        "Microseconds",
        "Milliseconds",
        "None",
        "Percent",
        "Seconds",
        "Terabits",
        "Terabits/Second",
        "Terabytes",
        "Terabytes/Second"
      ],
      "x-ms-enum": {
        "name": "EntitlementUnit",
        "modelAsString": true,
        "values": [
          {
            "name": "Bits",
            "value": "Bits",
            "description": "EntitlementUnit enum Bits"
          },
          {
            "name": "BitsSecond",
            "value": "Bits/Second",
            "description": "EntitlementUnit enum Bits/Second"
          },
          {
            "name": "Bytes",
            "value": "Bytes",
            "description": "EntitlementUnit enum Bytes"
          },
          {
            "name": "BytesSecond",
            "value": "Bytes/Second",
            "description": "EntitlementUnit enum Bytes/Second"
          },
          {
            "name": "Count",
            "value": "Count",
            "description": "EntitlementUnit enum Count"
          },
          {
            "name": "CountSecond",
            "value": "Count/Second",
            "description": "EntitlementUnit enum Count/Second"
          },
          {
            "name": "Gigabits",
            "value": "Gigabits",
            "description": "EntitlementUnit enum Gigabits"
          },
          {
            "name": "GigabitsSecond",
            "value": "Gigabits/Second",
            "description": "EntitlementUnit enum Gigabits/Second"
          },
          {
            "name": "Gigabytes",
            "value": "Gigabytes",
            "description": "EntitlementUnit enum Gigabytes"
          },
          {
            "name": "GigabytesSecond",
            "value": "Gigabytes/Second",
            "description": "EntitlementUnit enum Gigabytes/Second"
          },
          {
            "name": "Kilobits",
            "value": "Kilobits",
            "description": "EntitlementUnit enum Kilobits"
          },
          {
            "name": "KilobitsSecond",
            "value": "Kilobits/Second",
            "description": "EntitlementUnit enum Kilobits/Second"
          },
          {
            "name": "Kilobytes",
            "value": "Kilobytes",
            "description": "EntitlementUnit enum Kilobytes"
          },
          {
            "name": "KilobytesSecond",
            "value": "Kilobytes/Second",
            "description": "EntitlementUnit enum Kilobytes/Second"
          },
          {
            "name": "Megabits",
            "value": "Megabits",
            "description": "EntitlementUnit enum Megabits"
          },
          {
            "name": "MegabitsSecond",
            "value": "Megabits/Second",
            "description": "EntitlementUnit enum Megabits/Second"
          },
          {
            "name": "Megabytes",
            "value": "Megabytes",
            "description": "EntitlementUnit enum Megabytes"
          },
          {
            "name": "MegabytesSecond",
            "value": "Megabytes/Second",
            "description": "EntitlementUnit enum Megabytes/Second"
          },
          {
            "name": "Microseconds",
            "value": "Microseconds",
            "description": "EntitlementUnit enum Microseconds"
          },
          {
            "name": "Milliseconds",
            "value": "Milliseconds",
            "description": "EntitlementUnit enum Milliseconds"
          },
          {
            "name": "None",
            "value": "None",
            "description": "EntitlementUnit enum None"
          },
          {
            "name": "Percent",
            "value": "Percent",
            "description": "EntitlementUnit enum Percent"
          },
          {
            "name": "Seconds",
            "value": "Seconds",
            "description": "EntitlementUnit enum Seconds"
          },
          {
            "name": "Terabits",
            "value": "Terabits",
            "description": "EntitlementUnit enum Terabits"
          },
          {
            "name": "TerabitsSecond",
            "value": "Terabits/Second",
            "description": "EntitlementUnit enum Terabits/Second"
          },
          {
            "name": "Terabytes",
            "value": "Terabytes",
            "description": "EntitlementUnit enum Terabytes"
          },
          {
            "name": "TerabytesSecond",
            "value": "Terabytes/Second",
            "description": "EntitlementUnit enum Terabytes/Second"
          }
        ]
      }
    },
    "EntitlementUnitEnumValue": {
      "type": "object",
      "description": "Definition of EntitlementUnitEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/EntitlementUnit",
          "description": "Property value"
        }
      }
    },
    "IssuerDetails": {
      "type": "object",
      "description": "Definition of IssuerDetails",
      "properties": {
        "keyFingerprint": {
          "type": "string",
          "description": "<p>Issuer key fingerprint.</p>"
        },
        "name": {
          "type": "string",
          "description": "<p>Issuer name.</p>"
        },
        "signKey": {
          "type": "string",
          "description": "<p>Asymmetric KMS key from Key Management Service. The KMS key must have a key usage of sign and verify, and support the RSASSA-PSS SHA-256 signing algorithm.</p>"
        }
      }
    },
    "LicenseManagerLicense": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LicenseManagerLicenseProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LicenseManagerLicenseListResult": {
      "type": "object",
      "description": "The response of a LicenseManagerLicense list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LicenseManagerLicense items on this page",
          "items": {
            "$ref": "#/definitions/LicenseManagerLicense"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LicenseManagerLicenseProperties": {
      "type": "object",
      "description": "Definition of LicenseManagerLicense",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsLicenseManagerLicenseProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "LicenseManagerLicenseTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in LicenseManagerLicense resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LicenseStatus": {
      "type": "string",
      "description": "LicenseStatus enum",
      "enum": [
        "AVAILABLE",
        "DEACTIVATED",
        "DELETED",
        "EXPIRED",
        "PENDING_AVAILABLE",
        "PENDING_DELETE",
        "SUSPENDED"
      ],
      "x-ms-enum": {
        "name": "LicenseStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "AVAILABLE",
            "value": "AVAILABLE",
            "description": "LicenseStatus enum AVAILABLE"
          },
          {
            "name": "DEACTIVATED",
            "value": "DEACTIVATED",
            "description": "LicenseStatus enum DEACTIVATED"
          },
          {
            "name": "DELETED",
            "value": "DELETED",
            "description": "LicenseStatus enum DELETED"
          },
          {
            "name": "EXPIRED",
            "value": "EXPIRED",
            "description": "LicenseStatus enum EXPIRED"
          },
          {
            "name": "PENDING_AVAILABLE",
            "value": "PENDING_AVAILABLE",
            "description": "LicenseStatus enum PENDING_AVAILABLE"
          },
          {
            "name": "PENDING_DELETE",
            "value": "PENDING_DELETE",
            "description": "LicenseStatus enum PENDING_DELETE"
          },
          {
            "name": "SUSPENDED",
            "value": "SUSPENDED",
            "description": "LicenseStatus enum SUSPENDED"
          }
        ]
      }
    },
    "LicenseStatusEnumValue": {
      "type": "object",
      "description": "Definition of LicenseStatusEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/LicenseStatus",
          "description": "Property value"
        }
      }
    },
    "Metadata": {
      "type": "object",
      "description": "Definition of Metadata",
      "properties": {
        "name": {
          "type": "string",
          "description": "<p>The key name.</p>"
        },
        "value": {
          "type": "string",
          "description": "<p>The value.</p>"
        }
      }
    },
    "ProvisionalConfiguration": {
      "type": "object",
      "description": "Definition of ProvisionalConfiguration",
      "properties": {
        "maxTimeToLiveInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "<p>Maximum time for the provisional configuration, in minutes.</p>"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "RenewType": {
      "type": "string",
      "description": "RenewType enum",
      "enum": [
        "Monthly",
        "None",
        "Weekly"
      ],
      "x-ms-enum": {
        "name": "RenewType",
        "modelAsString": true,
        "values": [
          {
            "name": "Monthly",
            "value": "Monthly",
            "description": "RenewType enum Monthly"
          },
          {
            "name": "None",
            "value": "None",
            "description": "RenewType enum None"
          },
          {
            "name": "Weekly",
            "value": "Weekly",
            "description": "RenewType enum Weekly"
          }
        ]
      }
    },
    "RenewTypeEnumValue": {
      "type": "object",
      "description": "Definition of RenewTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/RenewType",
          "description": "Property value"
        }
      }
    }
  },
  "parameters": {}
}
