{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "S3ControlMultiRegionAccessPointReports"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/s3ControlMultiRegionAccessPointReports": {
      "get": {
        "operationId": "S3ControlMultiRegionAccessPointReports_ListBySubscription",
        "tags": [
          "S3ControlMultiRegionAccessPointReports"
        ],
        "description": "List S3ControlMultiRegionAccessPointReport resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3ControlMultiRegionAccessPointReportListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3ControlMultiRegionAccessPointReports_ListBySubscription": {
            "$ref": "./examples/S3ControlMultiRegionAccessPointReports_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3ControlMultiRegionAccessPointReports": {
      "get": {
        "operationId": "S3ControlMultiRegionAccessPointReports_ListByResourceGroup",
        "tags": [
          "S3ControlMultiRegionAccessPointReports"
        ],
        "description": "List S3ControlMultiRegionAccessPointReport resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3ControlMultiRegionAccessPointReportListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3ControlMultiRegionAccessPointReports_ListByResourceGroup": {
            "$ref": "./examples/S3ControlMultiRegionAccessPointReports_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3ControlMultiRegionAccessPointReports/{name}": {
      "get": {
        "operationId": "S3ControlMultiRegionAccessPointReports_Get",
        "tags": [
          "S3ControlMultiRegionAccessPointReports"
        ],
        "description": "Get a S3ControlMultiRegionAccessPointReport",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3ControlMultiRegionAccessPointReport",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3ControlMultiRegionAccessPointReport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3ControlMultiRegionAccessPointReports_Get": {
            "$ref": "./examples/S3ControlMultiRegionAccessPointReports_Get.json"
          }
        }
      },
      "put": {
        "operationId": "S3ControlMultiRegionAccessPointReports_CreateOrUpdate",
        "tags": [
          "S3ControlMultiRegionAccessPointReports"
        ],
        "description": "Create a S3ControlMultiRegionAccessPointReport. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3ControlMultiRegionAccessPointReport",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/S3ControlMultiRegionAccessPointReport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'S3ControlMultiRegionAccessPointReport' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/S3ControlMultiRegionAccessPointReport"
            }
          },
          "201": {
            "description": "Resource 'S3ControlMultiRegionAccessPointReport' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/S3ControlMultiRegionAccessPointReport"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3ControlMultiRegionAccessPointReports_CreateOrUpdate": {
            "$ref": "./examples/S3ControlMultiRegionAccessPointReports_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "S3ControlMultiRegionAccessPointReports_Update",
        "tags": [
          "S3ControlMultiRegionAccessPointReports"
        ],
        "description": "Update a S3ControlMultiRegionAccessPointReport",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3ControlMultiRegionAccessPointReport",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/S3ControlMultiRegionAccessPointReportTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3ControlMultiRegionAccessPointReport"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3ControlMultiRegionAccessPointReports_Update": {
            "$ref": "./examples/S3ControlMultiRegionAccessPointReports_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "S3ControlMultiRegionAccessPointReports_Delete",
        "tags": [
          "S3ControlMultiRegionAccessPointReports"
        ],
        "description": "Delete a S3ControlMultiRegionAccessPointReport",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3ControlMultiRegionAccessPointReport",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3ControlMultiRegionAccessPointReports_Delete": {
            "$ref": "./examples/S3ControlMultiRegionAccessPointReports_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsS3ControlMultiRegionAccessPointReportProperties": {
      "type": "object",
      "description": "Definition of awsS3ControlMultiRegionAccessPointReport",
      "properties": {
        "alias": {
          "type": "string",
          "description": "<p>The alias for the Multi-Region Access Point. For more information about the distinction between the name and the alias of an Multi-Region Access Point, see <a href='https://docs.aws.amazon.com/AmazonS3/latest/userguide/CreatingMultiRegionAccessPoints.html#multi-region-access-point-naming'>Rules for naming Amazon S3 Multi-Region Access Points</a>.</p>"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "<p>When the Multi-Region Access Point create request was received.</p>"
        },
        "name": {
          "type": "string",
          "description": "<p>The name of the Multi-Region Access Point.</p>"
        },
        "publicAccessBlock": {
          "$ref": "#/definitions/PublicAccessBlockConfiguration",
          "description": "Property publicAccessBlock"
        },
        "regions": {
          "type": "array",
          "description": "<p>A collection of the Regions and buckets associated with the Multi-Region Access Point.</p>",
          "items": {
            "$ref": "#/definitions/RegionReport"
          },
          "x-ms-identifiers": []
        },
        "status": {
          "$ref": "#/definitions/MultiRegionAccessPointStatusEnumValue",
          "description": "<p>The current status of the Multi-Region Access Point.</p> <p> <code>CREATING</code> and <code>DELETING</code> are temporary states that exist while the request is propagating and being completed. If a Multi-Region Access Point has a status of <code>PARTIALLY_CREATED</code>, you can retry creation or send a request to delete the Multi-Region Access Point. If a Multi-Region Access Point has a status of <code>PARTIALLY_DELETED</code>, you can retry a delete request to finish the deletion of the Multi-Region Access Point.</p>"
        }
      }
    },
    "MultiRegionAccessPointStatus": {
      "type": "string",
      "description": "MultiRegionAccessPointStatus enum",
      "enum": [
        "CREATING",
        "DELETING",
        "INCONSISTENT_ACROSS_REGIONS",
        "PARTIALLY_CREATED",
        "PARTIALLY_DELETED",
        "READY"
      ],
      "x-ms-enum": {
        "name": "MultiRegionAccessPointStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "CREATING",
            "value": "CREATING",
            "description": "MultiRegionAccessPointStatus enum CREATING"
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "description": "MultiRegionAccessPointStatus enum DELETING"
          },
          {
            "name": "INCONSISTENT_ACROSS_REGIONS",
            "value": "INCONSISTENT_ACROSS_REGIONS",
            "description": "MultiRegionAccessPointStatus enum INCONSISTENT_ACROSS_REGIONS"
          },
          {
            "name": "PARTIALLY_CREATED",
            "value": "PARTIALLY_CREATED",
            "description": "MultiRegionAccessPointStatus enum PARTIALLY_CREATED"
          },
          {
            "name": "PARTIALLY_DELETED",
            "value": "PARTIALLY_DELETED",
            "description": "MultiRegionAccessPointStatus enum PARTIALLY_DELETED"
          },
          {
            "name": "READY",
            "value": "READY",
            "description": "MultiRegionAccessPointStatus enum READY"
          }
        ]
      }
    },
    "MultiRegionAccessPointStatusEnumValue": {
      "type": "object",
      "description": "Definition of MultiRegionAccessPointStatusEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/MultiRegionAccessPointStatus",
          "description": "Property value"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "PublicAccessBlockConfiguration": {
      "type": "object",
      "description": "Definition of PublicAccessBlockConfiguration",
      "properties": {
        "blockPublicAcls": {
          "type": "boolean",
          "description": "<p>Specifies whether Amazon S3 should block public access control lists (ACLs) for buckets in this account. Setting this element to <code>TRUE</code> causes the following behavior:</p> <ul> <li> <p> <code>PutBucketAcl</code> and <code>PutObjectAcl</code> calls fail if the specified ACL is public.</p> </li> <li> <p>PUT Object calls fail if the request includes a public ACL.</p> </li> <li> <p>PUT Bucket calls fail if the request includes a public ACL.</p> </li> </ul> <p>Enabling this setting doesn't affect existing policies or ACLs.</p> <p>This property is not supported for Amazon S3 on Outposts.</p>"
        },
        "blockPublicPolicy": {
          "type": "boolean",
          "description": "<p>Specifies whether Amazon S3 should block public bucket policies for buckets in this account. Setting this element to <code>TRUE</code> causes Amazon S3 to reject calls to PUT Bucket policy if the specified bucket policy allows public access. </p> <p>Enabling this setting doesn't affect existing bucket policies.</p> <p>This property is not supported for Amazon S3 on Outposts.</p>"
        },
        "ignorePublicAcls": {
          "type": "boolean",
          "description": "<p>Specifies whether Amazon S3 should ignore public ACLs for buckets in this account. Setting this element to <code>TRUE</code> causes Amazon S3 to ignore all public ACLs on buckets in this account and any objects that they contain. </p> <p>Enabling this setting doesn't affect the persistence of any existing ACLs and doesn't prevent new public ACLs from being set.</p> <p>This property is not supported for Amazon S3 on Outposts.</p>"
        },
        "restrictPublicBuckets": {
          "type": "boolean",
          "description": "<p>Specifies whether Amazon S3 should restrict public bucket policies for buckets in this account. Setting this element to <code>TRUE</code> restricts access to buckets with public policies to only Amazon Web Service principals and authorized users within this account.</p> <p>Enabling this setting doesn't affect previously stored bucket policies, except that public and cross-account access within any public bucket policy, including non-public delegation to specific accounts, is blocked.</p> <p>This property is not supported for Amazon S3 on Outposts.</p>"
        }
      }
    },
    "RegionReport": {
      "type": "object",
      "description": "Definition of RegionReport",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "<p>The name of the bucket.</p>"
        },
        "bucketAccountId": {
          "type": "string",
          "description": "<p>The Amazon Web Services account ID that owns the Amazon S3 bucket that's associated with this Multi-Region Access Point.</p>"
        },
        "region": {
          "type": "string",
          "description": "<p>The name of the Region.</p>"
        }
      }
    },
    "S3ControlMultiRegionAccessPointReport": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/S3ControlMultiRegionAccessPointReportProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "S3ControlMultiRegionAccessPointReportListResult": {
      "type": "object",
      "description": "The response of a S3ControlMultiRegionAccessPointReport list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The S3ControlMultiRegionAccessPointReport items on this page",
          "items": {
            "$ref": "#/definitions/S3ControlMultiRegionAccessPointReport"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "S3ControlMultiRegionAccessPointReportProperties": {
      "type": "object",
      "description": "Definition of S3ControlMultiRegionAccessPointReport",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsS3ControlMultiRegionAccessPointReportProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "S3ControlMultiRegionAccessPointReportTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in S3ControlMultiRegionAccessPointReport resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
