{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SageMakerNotebookInstances"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/sageMakerNotebookInstances": {
      "get": {
        "operationId": "SageMakerNotebookInstances_ListBySubscription",
        "tags": [
          "SageMakerNotebookInstances"
        ],
        "description": "List SageMakerNotebookInstance resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SageMakerNotebookInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SageMakerNotebookInstances_ListBySubscription": {
            "$ref": "./examples/SageMakerNotebookInstances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/sageMakerNotebookInstances": {
      "get": {
        "operationId": "SageMakerNotebookInstances_ListByResourceGroup",
        "tags": [
          "SageMakerNotebookInstances"
        ],
        "description": "List SageMakerNotebookInstance resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SageMakerNotebookInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SageMakerNotebookInstances_ListByResourceGroup": {
            "$ref": "./examples/SageMakerNotebookInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/sageMakerNotebookInstances/{name}": {
      "get": {
        "operationId": "SageMakerNotebookInstances_Get",
        "tags": [
          "SageMakerNotebookInstances"
        ],
        "description": "Get a SageMakerNotebookInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SageMakerNotebookInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SageMakerNotebookInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SageMakerNotebookInstances_Get": {
            "$ref": "./examples/SageMakerNotebookInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SageMakerNotebookInstances_CreateOrUpdate",
        "tags": [
          "SageMakerNotebookInstances"
        ],
        "description": "Create a SageMakerNotebookInstance. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SageMakerNotebookInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SageMakerNotebookInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SageMakerNotebookInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SageMakerNotebookInstance"
            }
          },
          "201": {
            "description": "Resource 'SageMakerNotebookInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SageMakerNotebookInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SageMakerNotebookInstances_CreateOrUpdate": {
            "$ref": "./examples/SageMakerNotebookInstances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SageMakerNotebookInstances_Update",
        "tags": [
          "SageMakerNotebookInstances"
        ],
        "description": "Update a SageMakerNotebookInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SageMakerNotebookInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SageMakerNotebookInstanceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SageMakerNotebookInstance"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SageMakerNotebookInstances_Update": {
            "$ref": "./examples/SageMakerNotebookInstances_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SageMakerNotebookInstances_Delete",
        "tags": [
          "SageMakerNotebookInstances"
        ],
        "description": "Delete a SageMakerNotebookInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SageMakerNotebookInstance",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SageMakerNotebookInstances_Delete": {
            "$ref": "./examples/SageMakerNotebookInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsSageMakerNotebookInstanceProperties": {
      "type": "object",
      "description": "Definition of awsSageMakerNotebookInstance",
      "properties": {
        "acceleratorTypes": {
          "type": "array",
          "description": "Property acceleratorTypes",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "additionalCodeRepositories": {
          "type": "array",
          "description": "Property additionalCodeRepositories",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "defaultCodeRepository": {
          "type": "string",
          "description": "Property defaultCodeRepository"
        },
        "directInternetAccess": {
          "type": "string",
          "description": "Property directInternetAccess"
        },
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "instanceMetadataServiceConfiguration": {
          "$ref": "#/definitions/InstanceMetadataServiceConfiguration",
          "description": "Property instanceMetadataServiceConfiguration"
        },
        "instanceType": {
          "type": "string",
          "description": "Property instanceType"
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Property kmsKeyId"
        },
        "lifecycleConfigName": {
          "type": "string",
          "description": "Property lifecycleConfigName"
        },
        "notebookInstanceName": {
          "type": "string",
          "description": "Property notebookInstanceName"
        },
        "platformIdentifier": {
          "type": "string",
          "description": "Property platformIdentifier"
        },
        "roleArn": {
          "type": "string",
          "description": "Property roleArn"
        },
        "rootAccess": {
          "type": "string",
          "description": "Property rootAccess"
        },
        "securityGroupIds": {
          "type": "array",
          "description": "Property securityGroupIds",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "subnetId": {
          "type": "string",
          "description": "Property subnetId"
        },
        "tags": {
          "type": "array",
          "description": "Property tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "volumeSizeInGB": {
          "type": "integer",
          "format": "int32",
          "description": "Property volumeSizeInGB"
        }
      }
    },
    "InstanceMetadataServiceConfiguration": {
      "type": "object",
      "description": "Definition of InstanceMetadataServiceConfiguration",
      "properties": {
        "minimumInstanceMetadataServiceVersion": {
          "type": "string",
          "description": "Property minimumInstanceMetadataServiceVersion"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "SageMakerNotebookInstance": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SageMakerNotebookInstanceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SageMakerNotebookInstanceListResult": {
      "type": "object",
      "description": "The response of a SageMakerNotebookInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SageMakerNotebookInstance items on this page",
          "items": {
            "$ref": "#/definitions/SageMakerNotebookInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SageMakerNotebookInstanceProperties": {
      "type": "object",
      "description": "Definition of SageMakerNotebookInstance",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsSageMakerNotebookInstanceProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "SageMakerNotebookInstanceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in SageMakerNotebookInstance resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    }
  },
  "parameters": {}
}
