{
  "swagger": "2.0",
  "info": {
    "title": "ShenaRP",
    "description": "The Microsoft.ShenaRP Rest API spec.",
    "version": "2023-04-01-preview",
    "x-ms-code-generation-settings": {
      "name": "ShenaRPClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ShenaRP/Gadgets/{GadgetsName}": {
      "get": {
        "operationId": "Gadgets_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
            "Gadgets_Retrieve": {
              "$ref": "./examples/Gadgets_Retrieve.json"
            }
        },
        "responses": {
          "200": {
            "description": "Retrieves the Gadgets resource.",
            "schema": {
              "$ref": "#/definitions/Gadgets"
            }
          }
        }
      },
      "put": {
        "operationId": "Gadgets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "Gadgets",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gadgets"
            }
          }
        ],
        "x-ms-examples": {
            "Gadgets_CreateOrUpdate": {
              "$ref": "./examples/Gadgets_CreateOrUpdate.json"
            }
        },
        "responses": {
          "200": {
            "description": "Updates the Gadgets resource.",
            "schema": {
              "$ref": "#/definitions/Gadgets"
            }
          },
          "201": {
            "description": "Creates the Gadgets resource.",
            "schema": {
              "$ref": "#/definitions/Gadgets"
            }
          }
        }
      },
      "delete": {
        "operationId": "Gadgets_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the Gadgets resource."
          }
        }
      },
      "patch": {
        "operationId": "Gadgets_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "Gadgets",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GadgetsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the Gadgets resource.",
            "schema": {
              "$ref": "#/definitions/Gadgets"
            }
          },
          "201": {
            "description": "Updates the Gadgets resource.",
            "schema": {
              "$ref": "#/definitions/Gadgets"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ShenaRP/Gadgets": {
      "get": {
        "operationId": "Gadgets_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all Gadgets under the resouce group.",
            "schema": {
              "$ref": "#/definitions/GadgetsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ShenaRP/Gadgets/{GadgetsName}/NestedThings/{NestedThingsName}": {
      "get": {
        "operationId": "NestedThings_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NestedThingsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the NestedThings resource.",
            "schema": {
              "$ref": "#/definitions/NestedThings"
            }
          }
        }
      },
      "put": {
        "operationId": "NestedThings_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NestedThingsNameParameter"
          },
          {
            "name": "NestedThings",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NestedThings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the NestedThings resource.",
            "schema": {
              "$ref": "#/definitions/NestedThings"
            }
          },
          "201": {
            "description": "Creates the NestedThings resource.",
            "schema": {
              "$ref": "#/definitions/NestedThings"
            }
          }
        }
      },
      "delete": {
        "operationId": "NestedThings_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NestedThingsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the NestedThings resource."
          }
        }
      },
      "patch": {
        "operationId": "NestedThings_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NestedThingsNameParameter"
          },
          {
            "name": "NestedThings",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NestedThingsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the NestedThings resource.",
            "schema": {
              "$ref": "#/definitions/NestedThings"
            }
          },
          "201": {
            "description": "Updates the NestedThings resource.",
            "schema": {
              "$ref": "#/definitions/NestedThings"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ShenaRP/Gadgets/{GadgetsName}/NestedThings": {
      "get": {
        "operationId": "NestedThings_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GadgetsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NestedThings under a Gadget resource type.",
            "schema": {
              "$ref": "#/definitions/NestedThingsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ShenaRP/Gadgets": {
      "get": {
        "operationId": "Gadgets_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all Gadgets under the subscription.",
            "schema": {
              "$ref": "#/definitions/GadgetsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ShenaRP/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "GadgetsProperties": {
      "properties": {
        "cronSpec": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "replicas": {
          "type": "integer"
        },
        "myObject": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string"
            },
            "name": {
              "type": "string"
            }
          }
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "Gadgets": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GadgetsProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The Gadgets resource definition."
    },
    "GadgetsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The Gadgets resource patch definition."
    },
    "GadgetsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Gadgets"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "NestedThingsProperties": {
      "properties": {
        "cronSpec": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "replicas": {
          "type": "integer"
        },
        "myObject": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string"
            },
            "name": {
              "type": "string"
            }
          }
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "NestedThings": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NestedThingsProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The NestedThings resource definition."
    },
    "NestedThingsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The NestedThings resource patch definition."
    },
    "NestedThingsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NestedThings"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "GadgetsNameParameter": {
      "name": "GadgetsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    },
    "NestedThingsNameParameter": {
      "name": "NestedThingsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  }
}