{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.DarmSample",
    "version": "2021-08-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DarmSampleResources"
    }
  ],
  "paths": {
    "/providers/Microsoft.DarmSample/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DarmSample/DarmSampleResources": {
      "get": {
        "operationId": "DarmSampleResources_ListBySubscription",
        "tags": [
          "DarmSampleResources"
        ],
        "description": "List DarmSampleResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DarmSampleResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DarmSampleResources_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_ListBySubscription_MaximumSet_Gen.json"
          },
          "DarmSampleResources_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DarmSample/DarmSampleResources": {
      "get": {
        "operationId": "DarmSampleResources_ListByResourceGroup",
        "tags": [
          "DarmSampleResources"
        ],
        "description": "List DarmSampleResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DarmSampleResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DarmSampleResources_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "DarmSampleResources_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DarmSample/DarmSampleResources/{DarmSampleResourceName}": {
      "get": {
        "operationId": "DarmSampleResources_Get",
        "tags": [
          "DarmSampleResources"
        ],
        "description": "Get a DarmSampleResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "DarmSampleResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DarmSampleResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DarmSampleResources_Get_MaximumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_Get_MaximumSet_Gen.json"
          },
          "DarmSampleResources_Get_MinimumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DarmSampleResources_CreateOrUpdate",
        "tags": [
          "DarmSampleResources"
        ],
        "description": "Create a DarmSampleResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "DarmSampleResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DarmSampleResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DarmSampleResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DarmSampleResource"
            }
          },
          "201": {
            "description": "Resource 'DarmSampleResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DarmSampleResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DarmSampleResources_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "DarmSampleResources_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "DarmSampleResources_Update",
        "tags": [
          "DarmSampleResources"
        ],
        "description": "Update a DarmSampleResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "DarmSampleResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DarmSampleResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DarmSampleResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DarmSampleResources_Update_MaximumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_Update_MaximumSet_Gen.json"
          },
          "DarmSampleResources_Update_MinimumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DarmSampleResources_Delete",
        "tags": [
          "DarmSampleResources"
        ],
        "description": "Delete a DarmSampleResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "DarmSampleResourceName",
            "in": "path",
            "description": "The name of the employee",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DarmSampleResources_Delete_MaximumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_Delete_MaximumSet_Gen.json"
          },
          "DarmSampleResources_Delete_MinimumSet_Gen": {
            "$ref": "./examples/DarmSampleResources_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DarmSampleResource": {
      "type": "object",
      "description": "A DarmSampleProviderHub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DarmSampleResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DarmSampleResourceListResult": {
      "type": "object",
      "description": "The response of a DarmSampleResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DarmSampleResource items on this page",
          "items": {
            "$ref": "#/definitions/DarmSampleResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DarmSampleResourceProperties": {
      "type": "object",
      "description": "Details of the DarmSample Employee.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "DarmSampleResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DarmSampleResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Initial provisioning in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      }
    }
  },
  "parameters": {}
}