{
    "swagger": "2.0",
    "info": {
      "version": "2021-10-01-privatepreview",
      "title": "AzureStackHCI",
      "description": "Azure Stack HCI management service"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/clusters/{clusterName}/arcSettings": {
        "get": {
          "operationId": "ArcSettings_ListByCluster",
          "description": "Get ArcSetting resources of HCI Cluster.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ClusterNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ArcSettingList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "List ArcSetting resources by HCI Cluster": {
              "$ref": "./examples/ListArcSettingsByCluster.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}": {
        "get": {
          "operationId": "ArcSettings_Get",
          "description": "Get ArcSetting resource details of HCI Cluster.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ClusterNameParameter"
            },
            {
              "$ref": "#/parameters/ArcSettingNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ArcSetting"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "Get ArcSetting": {
              "$ref": "./examples/GetArcSetting.json"
            }
          }
        },
        "put": {
          "operationId": "ArcSettings_Create",
          "description": "Create ArcSetting for HCI cluster.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ClusterNameParameter"
            },
            {
              "$ref": "#/parameters/ArcSettingNameParameter"
            },
            {
              "name": "arcSetting",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ArcSetting"
              },
              "description": "Parameters supplied to the Create ArcSetting resource for this HCI cluster."
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ArcSetting"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "Create ArcSetting": {
              "$ref": "./examples/PutArcSetting.json"
            }
          }
        },
        "patch": {
          "operationId": "ArcSettings_Update",
          "description": "Update ArcSettings for HCI cluster.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ClusterNameParameter"
            },
            {
              "$ref": "#/parameters/ArcSettingNameParameter"
            },
            {
              "name": "arcSetting",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ArcSetting"
              },
              "description": "ArcSettings parameters that needs to be updated"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ArcSetting"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "Patch ArcSetting": {
              "$ref": "./examples/PatchArcSetting.json"
            }
          }
        },
        "delete": {
          "operationId": "ArcSettings_Delete",
          "description": "Delete ArcSetting resource details of HCI Cluster.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ClusterNameParameter"
            },
            {
              "$ref": "#/parameters/ArcSettingNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            },
            "202": {
              "description": "Accepted"
            },
            "204": {
              "description": "No content"
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "x-ms-examples": {
            "Delete ArcSetting": {
              "$ref": "./examples/DeleteArcSetting.json"
            }
          }
        }
      }
    },
    "definitions": {
      "ArcSettingList": {
        "description": "List of ArcSetting proxy resources for the HCI cluster.",
        "type": "object",
        "properties": {
          "value": {
            "description": "List of ArcSetting proxy resources.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/ArcSetting"
            },
            "readOnly": true
          },
          "nextLink": {
            "description": "Link to the next set of results.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "ArcSettingsPatch": {
        "description": "ArcSetting details to update.",
        "type": "object",
        "properties": {
          "tags": {
            "description": "Resource tags.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "properties": {
            "description": "ArcSettings properties.",
            "$ref": "#/definitions/ArcSettingsPatchProperties",
            "x-ms-client-flatten": true
          }
        }
      },
      "ArcSettingsPatchProperties": {
        "description": "ArcSettings properties.",
        "type": "object",
        "properties": {
          "connectivityProperties": {
            "description": "contains connectivity related configuration for ARC resources",
            "type": "object"
          }
        }
      },
      "ArcSetting": {
        "description": "ArcSetting details.",
        "type": "object",
        "required": [
            "kind"
        ],
        "allOf": [
            {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
            }
        ],
        "properties": {
            "kind": {
                "description": "Type",
                "enum": [
                    "TypeA",
                    "TypeB",
                    "TypeC"
                ],
                "type": "string",
                "x-ms-enum": {
                    "name": "Types",
                    "modelAsString": true
                }
            },
            "allOf": {
                "$ref": "#/definitions/ArcSettingProperties"
              }
        },
        "discriminator": "kind"
    },
    "ArcSettingProperties": {
      "description": "ArcSetting properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the ArcSetting proxy resource.",
          "type": "string",
          "enum": [
            "NotSpecified",
            "Error",
            "Succeeded",
            "Failed",
            "Canceled",
            "Connected",
            "Disconnected",
            "Deleted",
            "Creating",
            "Updating",
            "Deleting",
            "Moving",
            "PartiallySucceeded",
            "PartiallyConnected",
            "InProgress",
            "Accepted",
            "Provisioning",
            "DisableInProgress"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "readOnly": true
        }
        }
      },
      "TypeAArcSetting": {
        "description": "TypeAArcSetting",
        "required": [
            "kind"
        ],
        "type": "object",
        "allOf": [
            {
                "$ref": "#/definitions/ArcSetting"
            }
        ],
        "properties": {
            "typeAProperty": {
                "description": "TypeAProperty",
                "type": "string"
            }
        },
        "x-ms-discriminator-value": "TypeA"
        },
        "TypeBArcSetting": {
            "description": "TypeBArcSetting",
            "required": [
                "kind"
            ],
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/ArcSetting"
                }
            ],
            "properties": {
                "typeBProperty": {
                    "description": "TypeBProperty",
                    "type": "string"
                }
            },
            "x-ms-discriminator-value": "TypeB"
        },
        "TypeCArcSetting": {
            "description": "TypeCArcSetting",
            "required": [
                "kind"
            ],
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/ArcSetting"
                }
            ],
            "properties": {
                "typeCProperty": {
                    "description": "TypeCProperty",
                    "type": "string"
                }
            },
            "x-ms-discriminator-value": "TypeC"
        }
    },
    "parameters": {
      "ClusterNameParameter": {
        "name": "clusterName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the cluster.",
        "x-ms-parameter-location": "method"
      },
      "ArcSettingNameParameter": {
        "name": "arcSettingName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the proxy resource holding details of HCI ArcSetting information.",
        "x-ms-parameter-location": "method"
      }
    }
  }
