{
  "swagger": "2.0",
  "info": {
    "version": "2023-05-05-alpha",
    "title": "AzureArcDataManagementClient",
    "description": "The AzureArcData management API provides a RESTful set of web APIs to manage Azure Data Services on Azure Arc Resources."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/wombats/{wombatName}": {
      "put": {
        "tags": [
          "SqlServerWombats"
        ],
        "operationId": "SqlServerWombats_Create",
        "description": "Creates or replaces an Arc Sql Server Wombat.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "sqlServerWombatResource",
            "description": "The request body for wombat resource.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SqlServerWombatResource"
            }
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/wombatName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SqlServerWombatResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Arc Sql Server wombat.": {
            "$ref": "./examples/CreateOrUpdateArcSqlServerWombat.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SqlServerWombats"
        ],
        "operationId": "SqlServerWombats_Delete",
        "description": "Deletes an Arc Sql Server wombat resource.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/wombatName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the wombat."
          },
          "204": {
            "description": "The specified wombat does not exist."
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a wombat resource": {
            "$ref": "./examples/DeleteArcSqlServerWombat.json"
          }
        }
      },
      "get": {
        "tags": [
          "SqlServerWombats"
        ],
        "operationId": "SqlServerWombats_Get",
        "description": "Retrieves an Arc Sql Server wombat.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/wombatName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SqlServerWombatResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves an Arc Sql Server wombat resource.": {
            "$ref": "./examples/GetArcSqlServerWombat.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SqlServerWombats"
        ],
        "description": "Updates an existing wombat.",
        "operationId": "SqlServerWombats_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/wombatName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          },
          {
            "name": "sqlServerWombatUpdate",
            "in": "body",
            "description": "The requested wombat resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerWombatUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the wombat.",
            "schema": {
              "$ref": "#/definitions/SqlServerWombatResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a wombat.": {
            "$ref": "./examples/UpdateSqlServerWombat.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/wombats": {
      "get": {
        "tags": [
          "SqlServerWombats"
        ],
        "operationId": "SqlServerWombats_List",
        "summary": "List the wombats associated with the given Arc Sql Server.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcSqlServerWombatListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets all wombats associated with an Arc Enabled Sql server.": {
            "$ref": "./examples/ListBySqlServerInstanceWombat.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ArcSqlServerWombatListResult": {
      "description": "A list of Arc Sql Server wombat.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of  Arc Sql Server wombat.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlServerWombatResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SqlServerWombatResource": {
      "type": "object",
      "description": "Arc Sql Server wombat",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlServerWombatResourceProperties",
          "description": "Properties of Arc Sql Server wombat",
          "x-ms-client-flatten": false
        }
      },
      "required": [
        "properties"
      ]
    },
    "SqlServerWombatResourceProperties": {
      "type": "object",
      "description": "The properties of Arc Sql Server wombat resource",
      "properties": {
        "collationName": {
          "description": "Collation of the wombat.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "wombatCreationDate": {
          "format": "date-time",
          "description": "Creation date of the wombat.",
          "type": "string"
        },
        "compatibilityLevel": {
          "type": "integer",
          "minimum": 80,
          "maximum": 200,
          "format": "int32",
          "description": "Compatibility level of the wombat"
        },
        "sizeMB": {
          "type": "number",
          "format": "float",
          "description": "Size of the wombat."
        },
        "spaceAvailableMB": {
          "type": "number",
          "format": "float",
          "description": "Space left of the wombat."
        },
        "state": {
          "description": "State of the wombat.",
          "enum": [
            "Online",
            "Restoring",
            "Recovering",
            "RecoveryPending",
            "Suspect",
            "Emergency",
            "Offline",
            "Copying",
            "OfflineSecondary"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "WombatState",
            "modelAsString": true
          }
        },
        "isReadOnly": {
          "type": "boolean",
          "description": "Whether the wombat is read only or not."
        },
        "recoveryMode": {
          "description": "Status of the wombat.",
          "enum": [
            "Full",
            "Bulk-logged",
            "Simple"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RecoveryMode",
            "modelAsString": true
          }
        },
        "wombatOptions": {
          "type": "object",
          "description": "List of features that are enabled for the wombat",
          "properties": {
            "isAutoCloseOn": {
              "type": "boolean"
            },
            "isAutoShrinkOn": {
              "type": "boolean"
            },
            "isAutoCreateStatsOn": {
              "type": "boolean"
            },
            "isAutoUpdateStatsOn": {
              "type": "boolean"
            },
            "isRemoteDataArchiveEnabled": {
              "type": "boolean"
            },
            "isMemoryOptimizationEnabled": {
              "type": "boolean"
            },
            "isEncrypted": {
              "type": "boolean"
            },
            "isTrustworthyOn": {
              "type": "boolean"
            }
          }
        },
        "backupInformation": {
          "type": "object",
          "properties": {
            "lastFullBackup": {
              "format": "date-time",
              "description": "Date time of last full backup.",
              "type": "string"
            },
            "lastLogBackup": {
              "format": "date-time",
              "description": "Date time of last log backup.",
              "type": "string"
            }
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the Arc-enabled SQL Server wombat resource.",
          "readOnly": true
        }
      }
    },
    "SqlServerWombatUpdate": {
      "description": "An update to wombat resource.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/SqlServerWombatResourceProperties",
          "description": "The data controller's properties",
          "x-ms-client-flatten": false
        }
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the Azure subscription",
      "x-ms-parameter-location": "client"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure resource group",
      "x-ms-parameter-location": "method"
    },
    "apiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request",
      "x-ms-parameter-location": "client"
    },
    "sqlServerInstanceName": {
      "name": "sqlServerInstanceName",
      "description": "Name of SQL Server Instance",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "wombatName": {
      "name": "wombatName",
      "description": "Name of the wombat",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
