{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "version": "2023-10-01-preview",
    "description": "Private.Workloads Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "WorkloadVirtualInstances"
    }
  ],
  "paths": {
    "/providers/Private.Workloads/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.Workloads/workloadVirtualInstances": {
      "get": {
        "operationId": "WorkloadVirtualInstances_ListBySubscription",
        "tags": [
          "WorkloadVirtualInstances"
        ],
        "description": "List WorkloadVirtualInstance resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadVirtualInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadVirtualInstances_ListBySubscription": {
            "$ref": "./examples/WorkloadVirtualInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Workloads/workloadVirtualInstances": {
      "get": {
        "operationId": "WorkloadVirtualInstances_ListByResourceGroup",
        "tags": [
          "WorkloadVirtualInstances"
        ],
        "description": "List WorkloadVirtualInstance resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadVirtualInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadVirtualInstances_ListByResourceGroup": {
            "$ref": "./examples/WorkloadVirtualInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Workloads/workloadVirtualInstances/{workloadVirtualInstanceName}": {
      "get": {
        "operationId": "WorkloadVirtualInstances_Get",
        "tags": [
          "WorkloadVirtualInstances"
        ],
        "description": "Get a WorkloadVirtualInstance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workloadVirtualInstanceName",
            "in": "path",
            "description": "The name of the WorkloadVirtualInstance",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadVirtualInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadVirtualInstances_Get": {
            "$ref": "./examples/WorkloadVirtualInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "WorkloadVirtualInstances_CreateOrUpdate",
        "tags": [
          "WorkloadVirtualInstances"
        ],
        "description": "Create a WorkloadVirtualInstance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workloadVirtualInstanceName",
            "in": "path",
            "description": "The name of the WorkloadVirtualInstance",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadVirtualInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'WorkloadVirtualInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/WorkloadVirtualInstance"
            }
          },
          "201": {
            "description": "Resource 'WorkloadVirtualInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/WorkloadVirtualInstance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadVirtualInstances_CreateOrUpdate": {
            "$ref": "./examples/WorkloadVirtualInstances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "WorkloadVirtualInstances_Update",
        "tags": [
          "WorkloadVirtualInstances"
        ],
        "description": "Update a WorkloadVirtualInstance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workloadVirtualInstanceName",
            "in": "path",
            "description": "The name of the WorkloadVirtualInstance",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadVirtualInstanceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadVirtualInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadVirtualInstances_Update": {
            "$ref": "./examples/WorkloadVirtualInstances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "WorkloadVirtualInstances_Delete",
        "tags": [
          "WorkloadVirtualInstances"
        ],
        "description": "Delete a WorkloadVirtualInstance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workloadVirtualInstanceName",
            "in": "path",
            "description": "The name of the WorkloadVirtualInstance",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkloadVirtualInstances_Delete": {
            "$ref": "./examples/WorkloadVirtualInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ResourceConfigurations": {
      "type": "object",
      "description": "The configuration of all resources under the workload role.",
      "properties": {
        "resourceCategory": {
          "type": "string",
          "description": "The resource category."
        },
        "resourceType": {
          "type": "string",
          "description": "The type of resource."
        },
        "resourceIds": {
          "type": "array",
          "description": "The resource SKU.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "additionalDetails": {
          "type": "object",
          "description": "The key-value pair for storing node specific custom (or) additional details.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "resourceIds"
      ]
    },
    "RoleConfigurations": {
      "type": "object",
      "description": "Configuration of roles in workload.",
      "properties": {
        "component": {
          "type": "string",
          "description": "The name of the component (or) application layer"
        },
        "role": {
          "type": "string",
          "description": "The name of the role within the application (or) component."
        },
        "nodeId": {
          "type": "string",
          "description": "The Id of node from workload resource definition."
        },
        "resourceConfigurations": {
          "type": "array",
          "description": "The name of the workload.",
          "items": {
            "$ref": "#/definitions/ResourceConfigurations"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "nodeId",
        "resourceConfigurations"
      ]
    },
    "WorkloadVirtualInstance": {
      "type": "object",
      "description": "WorkloadVirtualInstance resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadVirtualInstanceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WorkloadVirtualInstanceListResult": {
      "type": "object",
      "description": "The response of a WorkloadVirtualInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The WorkloadVirtualInstance items on this page",
          "items": {
            "$ref": "#/definitions/WorkloadVirtualInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "WorkloadVirtualInstanceProperties": {
      "type": "object",
      "description": "WorkloadVirtualInstances properties",
      "properties": {
        "workloadResourceDefinitionId": {
          "type": "string",
          "description": "The Arm resource Id for workload resource definition."
        },
        "roleConfigurations": {
          "type": "array",
          "description": "The configuration of workload roles (or) tiers.",
          "items": {
            "$ref": "#/definitions/RoleConfigurations"
          },
          "x-ms-identifiers": []
        },
        "annotations": {
          "type": "object",
          "description": "Mutable key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "workloadResourceDefinitionId",
        "roleConfigurations"
      ]
    },
    "WorkloadVirtualInstancePropertiesUpdate": {
      "type": "object",
      "description": "WorkloadVirtualInstances properties",
      "properties": {
        "workloadResourceDefinitionId": {
          "type": "string",
          "description": "The Arm resource Id for workload resource definition."
        },
        "roleConfigurations": {
          "type": "array",
          "description": "The configuration of workload roles (or) tiers.",
          "items": {
            "$ref": "#/definitions/RoleConfigurations"
          },
          "x-ms-identifiers": []
        },
        "annotations": {
          "type": "object",
          "description": "Mutable key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WorkloadVirtualInstanceUpdate": {
      "type": "object",
      "description": "WorkloadVirtualInstance resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadVirtualInstancePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    }
  },
  "parameters": {}
}
