{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.EncryptedTransport",
    "version": "2024-09-01-preview",
    "description": "Azure Encrypted Transport Management API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EncryptedTransportAccountOperations"
    }
  ],
  "paths": {
    "/providers/Private.EncryptedTransport/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.EncryptedTransport/encryptedTransportAccounts": {
      "get": {
        "operationId": "EncryptedTransportAccountOperations_ListBySubscription",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "List EncryptedTransportAccount resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.EncryptedTransport/encryptedTransportAccounts": {
      "get": {
        "operationId": "EncryptedTransportAccountOperations_ListByResourceGroup",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "List EncryptedTransportAccount resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.EncryptedTransport/encryptedTransportAccounts/{encryptedTransportAccountName}": {
      "get": {
        "operationId": "EncryptedTransportAccountOperations_Get",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "Get a EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EncryptedTransportAccountOperations_CreateOrUpdate",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "Create a EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EncryptedTransportAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            }
          },
          "201": {
            "description": "Resource 'EncryptedTransportAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EncryptedTransportAccountOperations_Update",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "Update a EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptedTransportAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "EncryptedTransportAccountOperations_Delete",
        "tags": [
          "EncryptedTransportAccountOperations"
        ],
        "description": "Delete a EncryptedTransportAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "encryptedTransportAccountName",
            "in": "path",
            "description": "The encrypted transport account name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.Core.ipV4Address": {
      "type": "string",
      "description": "Represent an IP V4 address serialized as a string.\n\nIt is formatted as four 8-bit fields separated by periods."
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "BaseResourceProperties": {
      "type": "object",
      "description": "Properties for a base resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "EncryptedTransportAccount": {
      "type": "object",
      "description": "Encrypted Transport Account Resource Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EncryptedTransportAccountProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EncryptedTransportAccountBandwidthOptions": {
      "type": "string",
      "description": "Encrypted Transport Account bandwidth options in Mbps",
      "enum": [
        "500",
        "1000",
        "2000",
        "5000",
        "10000"
      ],
      "x-ms-enum": {
        "name": "EncryptedTransportAccountBandwidthOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Mbps500",
            "value": "500",
            "description": "500 Mbps"
          },
          {
            "name": "Mbps1000",
            "value": "1000",
            "description": "1000 Mbps"
          },
          {
            "name": "Mbps2000",
            "value": "2000",
            "description": "2000 Mbps"
          },
          {
            "name": "Mbps5000",
            "value": "5000",
            "description": "5000 Mbps"
          },
          {
            "name": "Mbps10000",
            "value": "10000",
            "description": "10000 Mbps"
          }
        ]
      }
    },
    "EncryptedTransportAccountListResult": {
      "type": "object",
      "description": "The response of a EncryptedTransportAccount list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EncryptedTransportAccount items on this page",
          "items": {
            "$ref": "#/definitions/EncryptedTransportAccount"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EncryptedTransportAccountProperties": {
      "type": "object",
      "description": "Encrypted Transport Account Properties",
      "properties": {
        "wifiPsk": {
          "type": "string",
          "description": "Wi-Fi Pre-Shared Key as printable ASCII string",
          "pattern": "^[ -~ ]{8,63}$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "vnet": {
          "$ref": "#/definitions/VirtualNetworkId",
          "description": "Reference to an existing azure virtual network",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bandwidth": {
          "$ref": "#/definitions/EncryptedTransportAccountBandwidthOptions",
          "description": "Bandwidth can only be 500, 1000, 2000, 5000, or 10000 Mbps",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "privateIpAddress": {
          "type": "array",
          "description": "Private IP address of the account, genearted by the service",
          "items": {
            "$ref": "#/definitions/Azure.Core.ipV4Address"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "wifiPsk",
        "vnet",
        "bandwidth",
        "privateIpAddress"
      ]
    },
    "EncryptedTransportAccountPropertiesUpdate": {
      "type": "object",
      "description": "Encrypted Transport Account Properties",
      "properties": {
        "bandwidth": {
          "$ref": "#/definitions/EncryptedTransportAccountBandwidthOptions",
          "description": "Bandwidth can only be 500, 1000, 2000, 5000, or 10000 Mbps",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "EncryptedTransportAccountUpdate": {
      "type": "object",
      "description": "Encrypted Transport Account Resource Type",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EncryptedTransportAccountPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning status of the resource",
      "enum": [
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted",
        "Canceled",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning the resource is in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The change request has been accepted"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The change request has been canceled"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The change request has succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The change request has failed"
          }
        ]
      },
      "readOnly": true
    },
    "ResourceSkuType": {
      "type": "object",
      "description": "The base SKU resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU information of the resource",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "VirtualNetworkId": {
      "type": "string",
      "format": "arm-id",
      "description": "Virtual Network Resource Identifier of customer vnet",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/virtualNetworks"
          }
        ]
      }
    }
  },
  "parameters": {}
}
