{
  "swagger": "2.0",
  "info": {
    "title": "ArcMinio",
    "description": "The Microsoft.Minio Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "ArcMinioClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Minio/minio/{minioName}": {
      "get": {
        "operationId": "minio_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/minioNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the minio resource.",
            "schema": {
              "$ref": "#/definitions/minio"
            }
          }
        }
      },
      "put": {
        "operationId": "minio_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/minioNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "minio",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/minio"
            }
          }
        ],
        "responses": {
          "200": {
          "description": "Updates the minio resource.",
            "schema": {
              "$ref": "#/definitions/minio"
            }
          },
          "201": {
            "description": "Creates the minio resource.",
            "schema": {
              "$ref": "#/definitions/minio"
            }
          }
        }
      },
      "delete": {
        "operationId": "minio_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/minioNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the minio resource."
          }
        }
      },
      "patch": {
        "operationId": "minio_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/minioNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "minio",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/minioPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the minio resource.",
            "schema": {
              "$ref": "#/definitions/minio"
            }
          },
          "201": {
            "description": "Updates the minio resource.",
            "schema": {
              "$ref": "#/definitions/minio"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Minio/minio": {
      "get": {
        "operationId": "minio_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all minio under the resouce group.",
            "schema": {
              "$ref": "#/definitions/minioListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Minio/minio": {
      "get": {
        "operationId": "minio_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all minio under the subscription.",
            "schema": {
              "$ref": "#/definitions/minioListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Minio/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "minioProperties": {
      "type": "object",
      "properties": {
        "certConfig": {
          "type": "object",
          "properties": {
            "commonName": {
              "type": "string"
            },
            "dnsNames": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "organizationName": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "configuration": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            }
          }
        },
        "credsSecret": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            }
          }
        },
        "env": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "valueFrom": {
                "type": "object",
                "properties": {
                  "configMapKeyRef": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "optional": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "key"
                    ]
                  },
                  "fieldRef": {
                    "type": "object",
                    "properties": {
                      "apiVersion": {
                        "type": "string"
                      },
                      "fieldPath": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "fieldPath"
                    ]
                  },
                  "resourceFieldRef": {
                    "type": "object",
                    "properties": {
                      "containerName": {
                        "type": "string"
                      },
                      "divisor": {
                        "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                        "x-kubernetes-int-or-string": "true"
                      },
                      "resource": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "resource"
                    ]
                  },
                  "secretKeyRef": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "optional": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "key"
                    ]
                  }
                }
              }
            },
            "required": [
              "name"
            ]
          }
        },
        "exposeServices": {
          "type": "object",
          "properties": {
            "console": {
              "type": "boolean"
            },
            "minio": {
              "type": "boolean"
            }
          }
        },
        "externalCaCertSecret": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            },
            "required": [
              "name"
            ]
          }
        },
        "externalCertSecret": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            },
            "required": [
              "name"
            ]
          }
        },
        "externalClientCertSecret": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "type": {
              "type": "string"
            }
          },
          "required": [
            "name"
          ]
        },
        "image": {
          "type": "string"
        },
        "imagePullPolicy": {
          "type": "string"
        },
        "imagePullSecret": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            }
          }
        },
        "kes": {
          "type": "object",
          "properties": {
            "affinity": {
              "type": "object",
              "properties": {
                "nodeAffinity": {
                  "type": "object",
                  "properties": {
                    "preferredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "preference": {
                            "type": "object",
                            "properties": {
                              "matchExpressions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              },
                              "matchFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              }
                            }
                          },
                          "weight": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "required": [
                          "preference",
                          "weight"
                        ]
                      }
                    },
                    "requiredDuringSchedulingIgnoredDuringExecution": {
                      "type": "object",
                      "properties": {
                        "nodeSelectorTerms": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "matchExpressions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              },
                              "matchFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "nodeSelectorTerms"
                      ]
                    }
                  }
                },
                "podAffinity": {
                  "type": "object",
                  "properties": {
                    "preferredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "podAffinityTerm": {
                            "type": "object",
                            "properties": {
                              "labelSelector": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  },
                                  "matchLabels": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "namespaces": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "topologyKey": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "topologyKey"
                            ]
                          },
                          "weight": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "required": [
                          "podAffinityTerm",
                          "weight"
                        ]
                      }
                    },
                    "requiredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "labelSelector": {
                            "type": "object",
                            "properties": {
                              "matchExpressions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              },
                              "matchLabels": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "namespaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "topologyKey": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "topologyKey"
                        ]
                      }
                    }
                  }
                },
                "podAntiAffinity": {
                  "type": "object",
                  "properties": {
                    "preferredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "podAffinityTerm": {
                            "type": "object",
                            "properties": {
                              "labelSelector": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  },
                                  "matchLabels": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "namespaces": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "topologyKey": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "topologyKey"
                            ]
                          },
                          "weight": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "required": [
                          "podAffinityTerm",
                          "weight"
                        ]
                      }
                    },
                    "requiredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "labelSelector": {
                            "type": "object",
                            "properties": {
                              "matchExpressions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              },
                              "matchLabels": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "namespaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "topologyKey": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "topologyKey"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "annotations": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "clientCertSecret": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "name"
              ]
            },
            "env": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  },
                  "valueFrom": {
                    "type": "object",
                    "properties": {
                      "configMapKeyRef": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "optional": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "key"
                        ]
                      },
                      "fieldRef": {
                        "type": "object",
                        "properties": {
                          "apiVersion": {
                            "type": "string"
                          },
                          "fieldPath": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "fieldPath"
                        ]
                      },
                      "resourceFieldRef": {
                        "type": "object",
                        "properties": {
                          "containerName": {
                            "type": "string"
                          },
                          "divisor": {
                            "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                            "x-kubernetes-int-or-string": "true"
                          },
                          "resource": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "resource"
                        ]
                      },
                      "secretKeyRef": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "optional": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "key"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            },
            "externalCertSecret": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "required": [
                "name"
              ]
            },
            "image": {
              "type": "string"
            },
            "imagePullPolicy": {
              "type": "string"
            },
            "kesSecret": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            },
            "keyName": {
              "type": "string"
            },
            "labels": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nodeSelector": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "replicas": {
              "type": "integer",
              "format": "int32"
            },
            "resources": {
              "type": "object",
              "properties": {
                "limits": {
                  "type": "object",
                  "additionalProperties": {
                    "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                    "x-kubernetes-int-or-string": "true"
                  }
                },
                "requests": {
                  "type": "object",
                  "additionalProperties": {
                    "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                    "x-kubernetes-int-or-string": "true"
                  }
                }
              }
            },
            "securityContext": {
              "type": "object",
              "properties": {
                "fsGroup": {
                  "type": "integer",
                  "format": "int64"
                },
                "fsGroupChangePolicy": {
                  "type": "string"
                },
                "runAsGroup": {
                  "type": "integer",
                  "format": "int64"
                },
                "runAsNonRoot": {
                  "type": "boolean"
                },
                "runAsUser": {
                  "type": "integer",
                  "format": "int64"
                },
                "seLinuxOptions": {
                  "type": "object",
                  "properties": {
                    "level": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "user": {
                      "type": "string"
                    }
                  }
                },
                "seccompProfile": {
                  "type": "object",
                  "properties": {
                    "localhostProfile": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type"
                  ]
                },
                "supplementalGroups": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int64"
                  }
                },
                "sysctls": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "value"
                    ]
                  }
                },
                "windowsOptions": {
                  "type": "object",
                  "properties": {
                    "gmsaCredentialSpec": {
                      "type": "string"
                    },
                    "gmsaCredentialSpecName": {
                      "type": "string"
                    },
                    "runAsUserName": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "serviceAccountName": {
              "type": "string"
            },
            "tolerations": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "effect": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "operator": {
                    "type": "string"
                  },
                  "tolerationSeconds": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            },
            "topologySpreadConstraints": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "labelSelector": {
                    "type": "object",
                    "properties": {
                      "matchExpressions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string"
                            },
                            "operator": {
                              "type": "string"
                            },
                            "values": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "key",
                            "operator"
                          ]
                        }
                      },
                      "matchLabels": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "maxSkew": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "topologyKey": {
                    "type": "string"
                  },
                  "whenUnsatisfiable": {
                    "type": "string"
                  }
                },
                "required": [
                  "maxSkew",
                  "topologyKey",
                  "whenUnsatisfiable"
                ]
              }
            }
          },
          "required": [
            "kesSecret"
          ]
        },
        "log": {
          "type": "object",
          "properties": {
            "affinity": {
              "type": "object",
              "properties": {
                "nodeAffinity": {
                  "type": "object",
                  "properties": {
                    "preferredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "preference": {
                            "type": "object",
                            "properties": {
                              "matchExpressions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              },
                              "matchFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              }
                            }
                          },
                          "weight": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "required": [
                          "preference",
                          "weight"
                        ]
                      }
                    },
                    "requiredDuringSchedulingIgnoredDuringExecution": {
                      "type": "object",
                      "properties": {
                        "nodeSelectorTerms": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "matchExpressions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              },
                              "matchFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "nodeSelectorTerms"
                      ]
                    }
                  }
                },
                "podAffinity": {
                  "type": "object",
                  "properties": {
                    "preferredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "podAffinityTerm": {
                            "type": "object",
                            "properties": {
                              "labelSelector": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  },
                                  "matchLabels": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "namespaces": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "topologyKey": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "topologyKey"
                            ]
                          },
                          "weight": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "required": [
                          "podAffinityTerm",
                          "weight"
                        ]
                      }
                    },
                    "requiredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "labelSelector": {
                            "type": "object",
                            "properties": {
                              "matchExpressions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              },
                              "matchLabels": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "namespaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "topologyKey": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "topologyKey"
                        ]
                      }
                    }
                  }
                },
                "podAntiAffinity": {
                  "type": "object",
                  "properties": {
                    "preferredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "podAffinityTerm": {
                            "type": "object",
                            "properties": {
                              "labelSelector": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  },
                                  "matchLabels": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "namespaces": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "topologyKey": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "topologyKey"
                            ]
                          },
                          "weight": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "required": [
                          "podAffinityTerm",
                          "weight"
                        ]
                      }
                    },
                    "requiredDuringSchedulingIgnoredDuringExecution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "labelSelector": {
                            "type": "object",
                            "properties": {
                              "matchExpressions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "key",
                                    "operator"
                                  ]
                                }
                              },
                              "matchLabels": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "namespaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "topologyKey": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "topologyKey"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "annotations": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "audit": {
              "type": "object",
              "properties": {
                "diskCapacityGB": {
                  "type": "integer"
                }
              }
            },
            "db": {
              "type": "object",
              "properties": {
                "affinity": {
                  "type": "object",
                  "properties": {
                    "nodeAffinity": {
                      "type": "object",
                      "properties": {
                        "preferredDuringSchedulingIgnoredDuringExecution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "preference": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  },
                                  "matchFields": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  }
                                }
                              },
                              "weight": {
                                "type": "integer",
                                "format": "int32"
                              }
                            },
                            "required": [
                              "preference",
                              "weight"
                            ]
                          }
                        },
                        "requiredDuringSchedulingIgnoredDuringExecution": {
                          "type": "object",
                          "properties": {
                            "nodeSelectorTerms": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  },
                                  "matchFields": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "required": [
                            "nodeSelectorTerms"
                          ]
                        }
                      }
                    },
                    "podAffinity": {
                      "type": "object",
                      "properties": {
                        "preferredDuringSchedulingIgnoredDuringExecution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "podAffinityTerm": {
                                "type": "object",
                                "properties": {
                                  "labelSelector": {
                                    "type": "object",
                                    "properties": {
                                      "matchExpressions": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "key": {
                                              "type": "string"
                                            },
                                            "operator": {
                                              "type": "string"
                                            },
                                            "values": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "required": [
                                            "key",
                                            "operator"
                                          ]
                                        }
                                      },
                                      "matchLabels": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "namespaces": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "topologyKey": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "topologyKey"
                                ]
                              },
                              "weight": {
                                "type": "integer",
                                "format": "int32"
                              }
                            },
                            "required": [
                              "podAffinityTerm",
                              "weight"
                            ]
                          }
                        },
                        "requiredDuringSchedulingIgnoredDuringExecution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "labelSelector": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  },
                                  "matchLabels": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "namespaces": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "topologyKey": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "topologyKey"
                            ]
                          }
                        }
                      }
                    },
                    "podAntiAffinity": {
                      "type": "object",
                      "properties": {
                        "preferredDuringSchedulingIgnoredDuringExecution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "podAffinityTerm": {
                                "type": "object",
                                "properties": {
                                  "labelSelector": {
                                    "type": "object",
                                    "properties": {
                                      "matchExpressions": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "key": {
                                              "type": "string"
                                            },
                                            "operator": {
                                              "type": "string"
                                            },
                                            "values": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "required": [
                                            "key",
                                            "operator"
                                          ]
                                        }
                                      },
                                      "matchLabels": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "namespaces": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "topologyKey": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "topologyKey"
                                ]
                              },
                              "weight": {
                                "type": "integer",
                                "format": "int32"
                              }
                            },
                            "required": [
                              "podAffinityTerm",
                              "weight"
                            ]
                          }
                        },
                        "requiredDuringSchedulingIgnoredDuringExecution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "labelSelector": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "operator": {
                                          "type": "string"
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ]
                                    }
                                  },
                                  "matchLabels": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "namespaces": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "topologyKey": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "topologyKey"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "annotations": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "env": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "valueFrom": {
                        "type": "object",
                        "properties": {
                          "configMapKeyRef": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "optional": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "key"
                            ]
                          },
                          "fieldRef": {
                            "type": "object",
                            "properties": {
                              "apiVersion": {
                                "type": "string"
                              },
                              "fieldPath": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "fieldPath"
                            ]
                          },
                          "resourceFieldRef": {
                            "type": "object",
                            "properties": {
                              "containerName": {
                                "type": "string"
                              },
                              "divisor": {
                                "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                                "x-kubernetes-int-or-string": "true"
                              },
                              "resource": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "resource"
                            ]
                          },
                          "secretKeyRef": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "optional": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "key"
                            ]
                          }
                        }
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "image": {
                  "type": "string"
                },
                "initimage": {
                  "type": "string"
                },
                "labels": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "nodeSelector": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "resources": {
                  "type": "object",
                  "properties": {
                    "limits": {
                      "type": "object",
                      "additionalProperties": {
                        "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                        "x-kubernetes-int-or-string": "true"
                      }
                    },
                    "requests": {
                      "type": "object",
                      "additionalProperties": {
                        "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                        "x-kubernetes-int-or-string": "true"
                      }
                    }
                  }
                },
                "securityContext": {
                  "type": "object",
                  "properties": {
                    "fsGroup": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "fsGroupChangePolicy": {
                      "type": "string"
                    },
                    "runAsGroup": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "runAsNonRoot": {
                      "type": "boolean"
                    },
                    "runAsUser": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "seLinuxOptions": {
                      "type": "object",
                      "properties": {
                        "level": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "user": {
                          "type": "string"
                        }
                      }
                    },
                    "seccompProfile": {
                      "type": "object",
                      "properties": {
                        "localhostProfile": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type"
                      ]
                    },
                    "supplementalGroups": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int64"
                      }
                    },
                    "sysctls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "value"
                        ]
                      }
                    },
                    "windowsOptions": {
                      "type": "object",
                      "properties": {
                        "gmsaCredentialSpec": {
                          "type": "string"
                        },
                        "gmsaCredentialSpecName": {
                          "type": "string"
                        },
                        "runAsUserName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "serviceAccountName": {
                  "type": "string"
                },
                "tolerations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "effect": {
                        "type": "string"
                      },
                      "key": {
                        "type": "string"
                      },
                      "operator": {
                        "type": "string"
                      },
                      "tolerationSeconds": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                },
                "topologySpreadConstraints": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labelSelector": {
                        "type": "object",
                        "properties": {
                          "matchExpressions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "operator": {
                                  "type": "string"
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "required": [
                                "key",
                                "operator"
                              ]
                            }
                          },
                          "matchLabels": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "maxSkew": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "topologyKey": {
                        "type": "string"
                      },
                      "whenUnsatisfiable": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "maxSkew",
                      "topologyKey",
                      "whenUnsatisfiable"
                    ]
                  }
                },
                "volumeClaimTemplate": {
                  "type": "object",
                  "properties": {
                    "apiVersion": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "annotations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "finalizers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "labels": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "namespace": {
                          "type": "string"
                        }
                      }
                    },
                    "spec": {
                      "type": "object",
                      "properties": {
                        "accessModes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "dataSource": {
                          "type": "object",
                          "properties": {
                            "apiGroup": {
                              "type": "string"
                            },
                            "kind": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "kind",
                            "name"
                          ]
                        },
                        "resources": {
                          "type": "object",
                          "properties": {
                            "limits": {
                              "type": "object",
                              "additionalProperties": {
                                "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                                "x-kubernetes-int-or-string": "true"
                              }
                            },
                            "requests": {
                              "type": "object",
                              "additionalProperties": {
                                "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                                "x-kubernetes-int-or-string": "true"
                              }
                            }
                          }
                        },
                        "selector": {
                          "type": "object",
                          "properties": {
                            "matchExpressions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string"
                                  },
                                  "operator": {
                                    "type": "string"
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": [
                                  "key",
                                  "operator"
                                ]
                              }
                            },
                            "matchLabels": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "storageClassName": {
                          "type": "string"
                        },
                        "volumeMode": {
                          "type": "string"
                        },
                        "volumeName": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "accessModes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "capacity": {
                          "type": "object",
                          "additionalProperties": {
                            "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                            "x-kubernetes-int-or-string": "true"
                          }
                        },
                        "conditions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "lastProbeTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lastTransitionTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "message": {
                                "type": "string"
                              },
                              "reason": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "status",
                              "type"
                            ]
                          }
                        },
                        "phase": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "volumeClaimTemplate"
              ]
            },
            "env": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  },
                  "valueFrom": {
                    "type": "object",
                    "properties": {
                      "configMapKeyRef": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "optional": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "key"
                        ]
                      },
                      "fieldRef": {
                        "type": "object",
                        "properties": {
                          "apiVersion": {
                            "type": "string"
                          },
                          "fieldPath": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "fieldPath"
                        ]
                      },
                      "resourceFieldRef": {
                        "type": "object",
                        "properties": {
                          "containerName": {
                            "type": "string"
                          },
                          "divisor": {
                            "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                            "x-kubernetes-int-or-string": "true"
                          },
                          "resource": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "resource"
                        ]
                      },
                      "secretKeyRef": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "optional": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "key"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            },
            "image": {
              "type": "string"
            },
            "labels": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nodeSelector": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "resources": {
              "type": "object",
              "properties": {
                "limits": {
                  "type": "object",
                  "additionalProperties": {
                    "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                    "x-kubernetes-int-or-string": "true"
                  }
                },
                "requests": {
                  "type": "object",
                  "additionalProperties": {
                    "pattern": "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$",
                    "x-kubernetes-int-or-string": "true"
                  }
                }
              }
            },
            "securityContext": {
              "type": "object",
              "properties": {
                "fsGroup": {
                  "type": "integer",
                  "format": "int64"
                },
                "fsGroupChangePolicy": {
                  "type": "string"
                },
                "runAsGroup": {
                  "type": "integer",
                  "format": "int64"
                },
                "runAsNonRoot": {
                  "type": "boolean"
                },
                "runAsUser": {
                  "type": "integer",
                  "format": "int64"
                },
                "seLinuxOptions": {
                  "type": "object",
                  "properties": {
                    "level": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "user": {
                      "type": "string"
                    }
                  }
                },
                "seccompProfile": {
                  "type": "object",
                  "properties": {
                    "localhostProfile": {
                      "type": "string"
[...]
