{
  "swagger": "2.0",
  "info": {
    "title": "Cluster Jobs",
    "version": "2023-12-01-preview",
    "description": "Azure Stack HCI cluster Jobs"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Jobs"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/clusters/{clusterName}/jobs": {
      "get": {
        "operationId": "Jobs_ListByClusters",
        "tags": [
          "Jobs"
        ],
        "description": "List Job resources by Clusters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AzureStackHCI/clusters/{clusterName}/jobs/{jobsName}": {
      "get": {
        "operationId": "Jobs_Get",
        "tags": [
          "Jobs"
        ],
        "description": "Get a Job",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Jobs_CreateOrUpdate",
        "tags": [
          "Jobs"
        ],
        "description": "Create a Job",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Job' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "201": {
            "description": "Resource 'Job' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Job"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Jobs_Delete",
        "tags": [
          "Jobs"
        ],
        "description": "Delete a Job",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AddServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "Ip address of server to be added to cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ]
    },
    "AzureLinuxAddServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "Ip address of server to be added to cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "sshUser": {
          "type": "string",
          "description": "ssh user name."
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address",
        "sshUser"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddServer"
    },
    "AzureLinuxClusterJobProperties": {
      "type": "object",
      "description": "Cluster Job properties",
      "properties": {
        "jobType": {
          "$ref": "#/definitions/AzureLinuxJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ]
    },
    "AzureLinuxJob": {
      "type": "object",
      "description": "Cluster job for Azure Linux solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "AzureLinux"
    },
    "AzureLinuxJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "AddServer",
        "RepairServer",
        "EnableSsh"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "AddServer"
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "RepairServer"
          },
          {
            "name": "EnableSsh",
            "value": "EnableSsh",
            "description": "EnableSsh"
          }
        ]
      }
    },
    "AzureLinuxRepairServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "sshUser": {
          "type": "string",
          "description": "ssh user name."
        }
      },
      "required": [
        "serverName",
        "sshUser"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RepairServer"
    },
    "AzureStackHciJob": {
      "type": "object",
      "description": "Cluster job for Azure Stack HCI solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "AzureStackHCI"
    },
    "ClusterJobProperties": {
      "type": "object",
      "description": "Cluster Job properties",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      }
    },
    "ClusterProperties": {
      "type": "object",
      "description": "A ClusterProperties"
    },
    "Clusters": {
      "type": "object",
      "description": "A Cluster",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of Cluster",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeploymentMode": {
      "type": "string",
      "description": "The deployment mode of ECE action for a cluster.",
      "enum": [
        "Validate",
        "Deploy"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Validate",
            "value": "Validate",
            "description": "Validate ECE action deployment for a cluster."
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy ECE action deployment for a cluster."
          }
        ]
      }
    },
    "EceActionStatus": {
      "type": "object",
      "description": "Validation / deployment status details for Job.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Job status.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of cluster job.",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "EceDeploymentSecrets": {
      "type": "object",
      "description": "Protected parameters list stored in keyvault.",
      "properties": {
        "secretName": {
          "type": "string",
          "description": "Secret name stored in keyvault."
        },
        "eceSecretName": {
          "$ref": "#/definitions/EceSecrets",
          "description": "Secret name expected for job execution."
        },
        "secretLocation": {
          "type": "string",
          "format": "uri",
          "description": "Secret URI stored in keyvault."
        }
      }
    },
    "EceSecrets": {
      "type": "string",
      "description": "Secret names allowed for Enterprise Cloud Engine (ECE) deployment.",
      "enum": [
        "AzureStackLCMUserCredential",
        "DefaultARBApplication",
        "LocalAdminCredential",
        "WitnessStorageKey"
      ],
      "x-ms-enum": {
        "name": "EceSecrets",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureStackLCMUserCredential",
            "value": "AzureStackLCMUserCredential",
            "description": "AzureStackLCMUserCredential used for LCM operations for AzureStackHCI cluster."
          },
          {
            "name": "DefaultARBApplication",
            "value": "DefaultARBApplication",
            "description": "DefaultARBApplication used to manage Azure Arc resource bridge (ARB) for AzureStackHCI cluster."
          },
          {
            "name": "LocalAdminCredential",
            "value": "LocalAdminCredential",
            "description": "LocalAdminCredential used for admin operations for AzureStackHCI cluster."
          },
          {
            "name": "WitnessStorageKey",
            "value": "WitnessStorageKey",
            "description": "WitnessStorageKey used for setting up a cloud witness for AzureStackHCI cluster."
          }
        ]
      }
    },
    "EdgeSolutionType": {
      "type": "string",
      "description": "Edge solution type.",
      "enum": [
        "AzureStackHCI",
        "AzureLinux"
      ],
      "x-ms-enum": {
        "name": "EdgeSolutionType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureStackHCI",
            "value": "AzureStackHCI",
            "description": "Edge solution for Azure stack HCI edge devices."
          },
          {
            "name": "AzureLinux",
            "value": "AzureLinux",
            "description": "Edge solution for Azure linux edge devices."
          }
        ]
      }
    },
    "HciAddNetworkIntentJobProperties": {
      "type": "object",
      "properties": {
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "hostNetwork": {
          "$ref": "#/definitions/HostNetwork",
          "description": "HostNetwork properties to set network intent."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddNetworkIntent"
    },
    "HciAddServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "Ip address of server to be added to cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddServer"
    },
    "HciClusterJobProperties": {
      "type": "object",
      "description": "HCI Cluster Job properties",
      "properties": {
        "jobType": {
          "$ref": "#/definitions/HciJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ]
    },
    "HciJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "AddServer",
        "RepairServer",
        "ResumeServer",
        "PauseServer",
        "AddNetworkIntent",
        "SetInformation",
        "VMConnect"
      ],
      "x-ms-enum": {
        "name": "HciJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "AddServer"
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "RepairServer"
          },
          {
            "name": "ResumeServer",
            "value": "ResumeServer",
            "description": "ResumeServer"
          },
          {
            "name": "PauseServer",
            "value": "PauseServer",
            "description": "PauseServer"
          },
          {
            "name": "AddNetworkIntent",
            "value": "AddNetworkIntent",
            "description": "AddNetworkIntent"
          },
          {
            "name": "SetInformation",
            "value": "SetInformation",
            "description": "SetInformation"
          },
          { 
            "name": "VMConnect", 
            "value": "VMConnect", 
            "description": "Job to RDP to a VM on the cluster." 
          }
        ]
      }
    },
    "HciPauseServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Trigger pause job for given server name in cluster."
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "PauseServer"
    },
    "HciRepairServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RepairServer"
    },
    "HciResumeServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Trigger resume job for given server name in cluster."
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "ResumeServer"
    },
    "HciSetInformationJobProperties": {
      "type": "object",
      "properties": {
        "Switchless": {
          "type": "boolean",
          "description": "Set to represent if the system is configured in a switchless or switched configuration."
        },
        "StorageIntentAdapters": {
          "type": "string",
          "description": "A string with a list of comma-separated name of the network adapters to use for the storage intent."
        },
        "Name": {
          "type": "string",
          "description": "A string with the name of the storage intent. If not provided a default one storage is used."
        },
        "VlanId": {
          "type": "string",
          "description": "A string with a list of comma-separated vlan ids to use which should map exactly and in order to the adapters provided in StorageIntentAdapters. If not provided the system uses the defaults set by Network ATC."
        },
        "JumboPacket": {
          "type": "string",
          "description": "A string with the size to be set for Jumb packet frame size for the storage adapters."
        },
        "NetworkDirect": {
          "type": "string",
          "description": "A string to be set to enabled or disabled to specify if network direct mode should be enabled/disabled."
        },
        "NetworkDirectTechnology": {
          "type": "string",
          "description": "A string that specifies the network direct technology to be used. Possible values are iWARP, RoCE and RoCEv2."
        },
        "PriorityValue8021Action_Cluster": {
          "type": "string",
          "description": "A string to specify the 802.1Q priority for the cluster."
        },
        "PriorityValue8021Action_SMB": {
          "type": "string",
          "description": "A string to specify the 802.1Q priority for SMB."
        },
        "BandwidthPercentage_SMB": {
          "type": "string",
          "description": "A string to specify the bandwidth percentage to be used for SMB."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "SetInformation"
    },
    "HostNetwork": {
      "type": "object"
    },
    "Job": {
      "type": "object",
      "description": "Jobs resource",
      "properties": {
        "kind": {
          "$ref": "#/definitions/EdgeSolutionType",
          "description": "Edge Solution type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "JobListResult": {
      "type": "object",
      "description": "The response of a Job list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Job items on this page",
          "items": {
            "$ref": "#/definitions/Job"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "JobReportedProperties": {
      "type": "object",
      "description": "Reported Properties for cluster job triggered from cloud.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of ob.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        }
      }
    },
    "JobType": {
      "type": "string",
      "description": "Common Job Types supported.",
      "enum": [
        "AddServer",
        "RepairServer"
      ],
      "x-ms-enum": {
        "name": "JobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "AddServer"
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "RepairServer"
          }
        ]
      }
    },
    "PauseServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Trigger pause job for given server name in cluster."
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "NotSpecified",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource provision state is Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource provision state is Failed"
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource provision state is not specified"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "RepairServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ]
    },
    "ResumeServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Trigger resume job for given server name in cluster."
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ]
    },
    "Step": {
      "type": "object",
      "description": "Step details during job execution.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of step.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of step.",
          "readOnly": true
        },
        "fullStepIndex": {
          "type": "string",
          "description": "FullStepIndex of step.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "description": "Start time of step.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "description": "End time of step.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of step. Allowed values are 'Error', 'Success', 'InProgress'",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of nested steps during job execution..",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "exception": {
          "type": "array",
          "description": "List of exceptions in job execution.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "VMConnectJobDetails": { 
      "type": "object", 
      "description": "Details of vm connect job.", 
      "properties": { 
        "vmName": { 
          "type": "string", 
          "description": "Name of the VM." 
        }
      }, 
      "required": [ 
        "vmName"
      ] 
    }
  },
  "parameters": {}
}