{
    "swagger": "2.0",
    "info": {
      "title": "DiagnosticsSettings",
      "version": "2023-12-01-preview",
      "description": "Diagnostics Settings for HCI Cluster",
      "x-typespec-generated": [
        {
          "emitter": "@azure-tools/typespec-autorest"
        }
      ]
    },
    "schemes": [
      "https"
    ],
    "host": "management.azure.com",
    "produces": [
      "application/json"
    ],
    "consumes": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow.",
        "flow": "implicit",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "tags": [
      {
        "name": "DiagnosticsSettings"
      }
    ],
    "paths": {
      "/{resourceUri}/providers/Private.AzureStackHCI/diagnosticsSettings": {
        "get": {
          "operationId": "DiagnosticsSettings_List",
          "tags": [
            "DiagnosticsSettings"
          ],
          "description": "List DiagnosticsSetting resources by parent",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/DiagnosticsSettingListResult"
              }
            },
            "default": {
              "description": "An unexpected error response.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/{resourceUri}/providers/Private.AzureStackHCI/diagnosticsSettings/{diagnosticsSettingName}": {
        "get": {
          "operationId": "DiagnosticsSettings_Get",
          "tags": [
            "DiagnosticsSettings"
          ],
          "description": "Get a DiagnosticsSetting",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
            },
            {
              "name": "diagnosticsSettingName",
              "in": "path",
              "description": "Name of Diagnostics Settings",
              "required": true,
              "type": "string",
              "default": "default",
              "pattern": "^[a-zA-Z0-9-]{3,24}$"
            }
          ],
          "responses": {
            "200": {
              "description": "ARM operation completed successfully.",
              "schema": {
                "$ref": "#/definitions/DiagnosticsSetting"
              }
            },
            "default": {
              "description": "An unexpected error response.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "operationId": "DiagnosticsSettings_CreateOrUpdate",
          "tags": [
            "DiagnosticsSettings"
          ],
          "description": "Create a DiagnosticsSetting",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
            },
            {
              "name": "diagnosticsSettingName",
              "in": "path",
              "description": "Name of Diagnostics Settings",
              "required": true,
              "type": "string",
              "default": "default",
              "pattern": "^[a-zA-Z0-9-]{3,24}$"
            },
            {
              "name": "resource",
              "in": "body",
              "description": "Resource create parameters.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/DiagnosticsSetting"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Resource 'DiagnosticsSetting' update operation succeeded",
              "schema": {
                "$ref": "#/definitions/DiagnosticsSetting"
              }
            },
            "201": {
              "description": "Resource 'DiagnosticsSetting' create operation succeeded",
              "schema": {
                "$ref": "#/definitions/DiagnosticsSetting"
              },
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
                }
              }
            },
            "default": {
              "description": "An unexpected error response.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation-options": {
            "final-state-via": "azure-async-operation"
          },
          "x-ms-long-running-operation": true
        },
        "delete": {
          "operationId": "DiagnosticsSettings_Delete",
          "tags": [
            "DiagnosticsSettings"
          ],
          "description": "Delete a DiagnosticsSetting",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
            },
            {
              "name": "diagnosticsSettingName",
              "in": "path",
              "description": "Name of Diagnostics Settings",
              "required": true,
              "type": "string",
              "default": "default",
              "pattern": "^[a-zA-Z0-9-]{3,24}$"
            }
          ],
          "responses": {
            "200": {
              "description": "Resource deleted successfully."
            },
            "202": {
              "description": "Resource deletion accepted.",
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
                },
                "Location": {
                  "type": "string",
                  "description": "The Location header contains the URL where the status of the long running operation can be checked."
                }
              }
            },
            "204": {
              "description": "Resource deleted successfully."
            },
            "default": {
              "description": "An unexpected error response.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          },
          "x-ms-long-running-operation": true
        }
      }
    },
    "definitions": {
      "AccessLevel": {
        "type": "string",
        "description": "AccessLevel of Remote Support",
        "enum": [
          "Diagnostics",
          "DiagnosticsandRepair"
        ],
        "x-ms-enum": {
          "name": "AccessLevel",
          "modelAsString": true
        }
      },
      "ConnectionStatus": {
        "type": "string",
        "description": "ConnectionStatus of Remote Support",
        "enum": [
          "Connected",
          "Disconnected"
        ],
        "x-ms-enum": {
          "name": "ConnectionStatus",
          "modelAsString": true
        }
      },
      "DiagnosticsSetting": {
        "type": "object",
        "description": "Diagnostics Settings resource",
        "properties": {
          "properties": {
            "$ref": "#/definitions/DiagnosticsSettingsProperties",
            "description": "The resource-specific properties for this resource.",
            "x-ms-client-flatten": true,
            "x-ms-mutability": [
              "read",
              "create"
            ]
          }
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
          }
        ]
      },
      "DiagnosticsSettingListResult": {
        "type": "object",
        "description": "The response of a DiagnosticsSetting list operation.",
        "properties": {
          "value": {
            "type": "array",
            "description": "The DiagnosticsSetting items on this page",
            "items": {
              "$ref": "#/definitions/DiagnosticsSetting"
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri",
            "description": "The link to the next page of items"
          }
        },
        "required": [
          "value"
        ]
      },
      "DiagnosticsSettingsProperties": {
        "type": "object",
        "description": "DiagnosticsSettingsProperties",
        "properties": {
          "diagnosticsType": {
            "$ref": "#/definitions/DiagnosticsType",
            "description": "Diagnostic Type"
          }
        },
        "discriminator": "diagnosticsType",
        "required": [
          "diagnosticsType"
        ]
      },
      "DiagnosticsType": {
        "type": "string",
        "description": "Diagnostics Settings Type",
        "enum": [
          "RemoteSupport",
          "LogCollection"
        ],
        "x-ms-enum": {
          "name": "DiagnosticsType",
          "modelAsString": true
        }
      },
      "LogCollectionSession": {
        "type": "object",
        "description": "Log Collection Session Details",
        "properties": {
          "logStartTime": {
            "type": "string",
            "format": "date-time",
            "description": "Log Start Time of the session",
            "readOnly": true
          },
          "logEndTime": {
            "type": "string",
            "format": "date-time",
            "description": "Log End Time of the session",
            "readOnly": true
          },
          "timeCollected": {
            "type": "string",
            "format": "date-time",
            "description": "Time Collected for the session",
            "readOnly": true
          },
          "logSize": {
            "type": "integer",
            "format": "int64",
            "description": "Log Size",
            "readOnly": true
          },
          "status": {
            "$ref": "#/definitions/Status",
            "description": "Status of the collection",
            "readOnly": true
          }
        },
        "required": [
          "logStartTime",
          "logEndTime",
          "timeCollected",
          "logSize",
          "status"
        ]
      },
      "LogCollectionSettings": {
        "type": "object",
        "description": "Log Collection Settings",
        "properties": {
          "properties": {
            "$ref": "#/definitions/LogCollectionSettingsProperties",
            "description": "properties for Arc-enabled edge device with HCI OS."
          }
        },
        "required": [
          "properties"
        ],
        "allOf": [
          {
            "$ref": "#/definitions/DiagnosticsSetting"
          }
        ]
      },
      "LogCollectionSettingsProperties": {
        "type": "object",
        "description": "Log Collection Settings Properties",
        "properties": {
          "FromDate": {
            "type": "string",
            "format": "date-time",
            "description": "From Date of Log Collection"
          },
          "ToDate": {
            "type": "string",
            "format": "date-time",
            "description": "To Date of Log Collection"
          },
          "LastLogGenerated": {
            "type": "string",
            "format": "date-time",
            "description": "Last Generated Log Time",
            "readOnly": true
          },
          "logCollectionSessionDetails": {
            "type": "array",
            "description": "Log Session Details",
            "items": {
              "$ref": "#/definitions/LogCollectionSession"
            },
            "readOnly": true,
            "x-ms-identifiers": []
          }
        },
        "discriminator": "diagnosticsType",
        "required": [
          "diagnosticsType",
          "FromDate",
          "ToDate",
          "LastLogGenerated",
          "logCollectionSessionDetails"
        ],
        "allOf": [
          {
            "$ref": "#/definitions/DiagnosticsSettingsProperties"
          }
        ],
        "x-ms-discriminator-value": "LogCollection"
      },
      "RemoteSupportAccess": {
        "type": "string",
        "description": "RemoteSupportAccess",
        "enum": [
          "Granted",
          "Revoked"
        ],
        "x-ms-enum": {
          "name": "RemoteSupportAccess",
          "modelAsString": true
        }
      },
      "RemoteSupportNodeSettings": {
        "type": "object",
        "description": "Remote Support Node settings",
        "properties": {
          "arcResourceId": {
            "type": "string",
            "description": "Arc Resource Id",
            "readOnly": true
          },
          "state": {
            "$ref": "#/definitions/State",
            "description": "State of the RemoteSupport Enablement",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Created Time",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updated Time",
            "readOnly": true
          },
          "connectionStatus": {
            "$ref": "#/definitions/ConnectionStatus",
            "description": "Connection Status",
            "readOnly": true
          },
          "connectionErrorMessage": {
            "type": "string",
            "description": "Comnnection Error Message",
            "readOnly": true
          },
          "transcriptLocation": {
            "type": "string",
            "description": "Transcript Location",
            "readOnly": true
          }
        },
        "required": [
          "arcResourceId",
          "state",
          "createdAt",
          "updatedAt",
          "connectionStatus",
          "connectionErrorMessage",
          "transcriptLocation"
        ]
      },
      "RemoteSupportSessionDetails": {
        "type": "object",
        "description": "Remote Support Session Details",
        "properties": {
          "sessionStartTime": {
            "type": "string",
            "format": "date-time",
            "description": "Session Start Time of Remote Support",
            "readOnly": true
          },
          "sessionEndTime": {
            "type": "string",
            "format": "date-time",
            "description": "Session End Time of Remote Support",
            "readOnly": true
          },
          "nodeName": {
            "type": "string",
            "description": "Node Name",
            "readOnly": true
          },
          "duration": {
            "type": "string",
            "description": "duration of session",
            "readOnly": true
          },
          "accessLevel": {
            "$ref": "#/definitions/AccessLevel",
            "description": "AccessLevel of the RemoteSupport Session",
            "readOnly": true
          }
        },
        "required": [
          "sessionStartTime",
          "sessionEndTime",
          "nodeName",
          "duration",
          "accessLevel"
        ]
      },
      "RemoteSupportSettings": {
        "type": "object",
        "description": "Remote Support Settings",
        "properties": {
          "properties": {
            "$ref": "#/definitions/RemoteSupportSettingsProperties",
            "description": "properties for Arc-enabled edge device with HCI OS."
          }
        },
        "required": [
          "properties"
        ],
        "allOf": [
          {
            "$ref": "#/definitions/DiagnosticsSetting"
          }
        ]
      },
      "RemoteSupportSettingsProperties": {
        "type": "object",
        "description": "properties for Arc-enabled edge device with HCI OS.",
        "properties": {
          "accessLevel": {
            "$ref": "#/definitions/AccessLevel",
            "description": "Access Level of Remote Support"
          },
          "expirationTimeStamp": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration TimeStamp of Remote Support"
          },
          "remoteSupportType": {
            "$ref": "#/definitions/RemoteSupportType",
            "description": "Remote Support Type"
          },
          "remoteSupportNodeSettings": {
            "type": "array",
            "description": "Remote Support Node Settings",
            "items": {
              "$ref": "#/definitions/RemoteSupportNodeSettings"
            },
            "readOnly": true,
            "x-ms-identifiers": []
          },
          "perNodeRemoteSupportSessionDetails": {
            "type": "array",
            "description": "Per Node Remote Support Session Details",
            "items": {
              "$ref": "#/definitions/RemoteSupportSessionDetails"
            },
            "readOnly": true,
            "x-ms-identifiers": []
          }
        },
        "required": [
          "diagnosticsType",
          "accessLevel",
          "expirationTimeStamp",
          "remoteSupportType",
          "remoteSupportNodeSettings",
          "perNodeRemoteSupportSessionDetails"
        ],
        "allOf": [
          {
            "$ref": "#/definitions/DiagnosticsSettingsProperties"
          }
        ],
        "x-ms-discriminator-value": "RemoteSupport"
      },
      "RemoteSupportType": {
        "type": "string",
        "description": "Type of RemoteSupport",
        "enum": [
          "Enable",
          "Revoke"
        ],
        "x-ms-enum": {
          "name": "RemoteSupportType",
          "modelAsString": true
        }
      },
      "State": {
        "type": "string",
        "description": "State of Remote Support Enablement",
        "enum": [
          "Active"
        ],
        "x-ms-enum": {
          "name": "State",
          "modelAsString": true
        }
      },
      "Status": {
        "type": "string",
        "description": "Status of the log Collection",
        "enum": [
          "Failed",
          "Succeeded",
          "InProgress",
          "None"
        ],
        "x-ms-enum": {
          "name": "Status",
          "modelAsString": true
        }
      }
    },
    "parameters": {
      "Azure.ResourceManager.ResourceUriParameter": {
        "name": "resourceUri",
        "in": "path",
        "description": "The fully qualified Azure Resource manager identifier of the resource.",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method",
        "x-ms-skip-url-encoding": true
      }
    }
  }
  