{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.EdgeAction",
    "version": "2021-08-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EdgeActions"
    },
    {
      "name": "EdgeActionVersions"
    },
    {
      "name": "EdgeActionAttachments"
    },
    {
      "name": "EdgeActionDeploymentSlots"
    }
  ],
  "paths": {
    "/providers/Microsoft.EdgeAction/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeAction/edgeactions": {
      "get": {
        "operationId": "EdgeActions_ListBySubscription",
        "tags": [
          "EdgeActions"
        ],
        "description": "List EdgeAction resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeActionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeAction/edgeactions": {
      "get": {
        "operationId": "EdgeActions_ListByResourceGroup",
        "tags": [
          "EdgeActions"
        ],
        "description": "List EdgeAction resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeActionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeAction/edgeactions/{edgeactionName}": {
      "get": {
        "operationId": "EdgeActions_Get",
        "tags": [
          "EdgeActions"
        ],
        "description": "Get a EdgeAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeAction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetEdgeAction": {
            "$ref": "./examples/EdgeActions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeActions_Create",
        "tags": [
          "EdgeActions"
        ],
        "description": "Create a EdgeAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeAction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeAction' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeAction"
            }
          },
          "201": {
            "description": "Resource 'EdgeAction' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeAction"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeActions_Update",
        "tags": [
          "EdgeActions"
        ],
        "description": "Update a EdgeAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeActionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeAction"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeActions_Delete",
        "tags": [
          "EdgeActions"
        ],
        "description": "Delete a EdgeAction",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeAction/edgeactions/{edgeactionName}/attachments/{attachment}": {
      "get": {
        "operationId": "EdgeActionAttachments_Get",
        "tags": [
          "EdgeActionAttachments"
        ],
        "description": "Get a EdgeActionAttachment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "attachment",
            "in": "path",
            "description": "The name of attachment",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeActionAttachment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EdgeActionAttachments_Create",
        "tags": [
          "EdgeActionAttachments"
        ],
        "description": "Create a EdgeActionAttachment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "attachment",
            "in": "path",
            "description": "The name of attachment",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeActionAttachment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeActionAttachment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeActionAttachment"
            }
          },
          "201": {
            "description": "Resource 'EdgeActionAttachment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeActionAttachment"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeActionAttachments_Update",
        "tags": [
          "EdgeActionAttachments"
        ],
        "description": "Update a EdgeActionAttachment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "attachment",
            "in": "path",
            "description": "The name of attachment",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeActionAttachmentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeActionAttachment"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeActionAttachments_Delete",
        "tags": [
          "EdgeActionAttachments"
        ],
        "description": "Delete a EdgeActionAttachment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "attachment",
            "in": "path",
            "description": "The name of attachment",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeAction/edgeactions/{edgeactionName}/slots/{slot}": {
      "get": {
        "operationId": "EdgeActionDeploymentSlots_Get",
        "tags": [
          "EdgeActionDeploymentSlots"
        ],
        "description": "Get a EdgeActionDeploymentSlot",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "slot",
            "in": "path",
            "description": "The name of the deployment slot",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeActionDeploymentSlot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EdgeActionDeploymentSlots_Create",
        "tags": [
          "EdgeActionDeploymentSlots"
        ],
        "description": "Create a EdgeActionDeploymentSlot",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "slot",
            "in": "path",
            "description": "The name of the deployment slot",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeActionDeploymentSlot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeActionDeploymentSlot' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeActionDeploymentSlot"
            }
          },
          "201": {
            "description": "Resource 'EdgeActionDeploymentSlot' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeActionDeploymentSlot"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeActionDeploymentSlots_Update",
        "tags": [
          "EdgeActionDeploymentSlots"
        ],
        "description": "Update a EdgeActionDeploymentSlot",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "slot",
            "in": "path",
            "description": "The name of the deployment slot",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeActionDeploymentSlotUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeActionDeploymentSlot"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeActionDeploymentSlots_Delete",
        "tags": [
          "EdgeActionDeploymentSlots"
        ],
        "description": "Delete a EdgeActionDeploymentSlot",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "slot",
            "in": "path",
            "description": "The name of the deployment slot",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeAction/edgeactions/{edgeactionName}/versions/{version}": {
      "get": {
        "operationId": "EdgeActionVersions_Get",
        "tags": [
          "EdgeActionVersions"
        ],
        "description": "Get a EdgeActionVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The name of the User Edge Action version",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeActionVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EdgeActionVersions_Create",
        "tags": [
          "EdgeActionVersions"
        ],
        "description": "Create a EdgeActionVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The name of the User Edge Action version",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeActionVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeActionVersion' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeActionVersion"
            }
          },
          "201": {
            "description": "Resource 'EdgeActionVersion' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeActionVersion"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeActionVersions_Update",
        "tags": [
          "EdgeActionVersions"
        ],
        "description": "Update a EdgeActionVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The name of the User Edge Action version",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeActionVersionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeActionVersion"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeActionVersions_Delete",
        "tags": [
          "EdgeActionVersions"
        ],
        "description": "Delete a EdgeActionVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeactionName",
            "in": "path",
            "description": "The name of the Edge Action",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The name of the User Edge Action version",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "pattern": "[a-z0-9]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AttachedResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.EdgeAction/Profiles/rulesets"
          }
        ]
      }
    },
    "AttachmentStatus": {
      "type": "string",
      "enum": [
        "Success",
        "Failed",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "AttachmentStatus",
        "modelAsString": true
      }
    },
    "EdgeAction": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeActionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "$ref": "#/definitions/smallString",
          "description": "The name of the Edge Action",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EdgeActionAttachment": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeActionAttachmentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "$ref": "#/definitions/smallString",
          "description": "The name of attachment",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EdgeActionAttachmentProperties": {
      "type": "object",
      "properties": {
        "hookType": {
          "$ref": "#/definitions/HookType",
          "description": "The hook location"
        },
        "attachedResourceId": {
          "$ref": "#/definitions/AttachedResourceId",
          "description": "The attached resource Id"
        },
        "attachmentStatus": {
          "$ref": "#/definitions/AttachmentStatus",
          "description": "The attachment status"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "hookType",
        "attachedResourceId",
        "attachmentStatus"
      ]
    },
    "EdgeActionAttachmentUpdate": {
      "type": "object",
      "description": "The type used for update operations of the EdgeActionAttachment.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EdgeActionAttachmentUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EdgeActionAttachmentUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the EdgeActionAttachment.",
      "properties": {
        "hookType": {
          "$ref": "#/definitions/HookType",
          "description": "The hook location"
        },
        "attachedResourceId": {
          "$ref": "#/definitions/AttachedResourceId",
          "description": "The attached resource Id"
        },
        "attachmentStatus": {
          "$ref": "#/definitions/AttachmentStatus",
          "description": "The attachment status"
        }
      }
    },
    "EdgeActionDeploymentSlot": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeActionDeploymentSlotProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "$ref": "#/definitions/smallString",
          "description": "The name of the deployment slot",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EdgeActionDeploymentSlotProperties": {
      "type": "object",
      "properties": {
        "versionId": {
          "$ref": "#/definitions/EdgeActionVersionId",
          "description": "The referenced versionId of the slot"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last update time in UTC for the deployment slot"
        },
        "isProdSlot": {
          "type": "boolean",
          "description": "Whether the deployment slot belongs to prod"
        },
        "customHeaderValue": {
          "$ref": "#/definitions/smallString",
          "description": "Custom Header Value associated with the deployment slot"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "versionId",
        "lastUpdateTime",
        "isProdSlot",
        "customHeaderValue"
      ]
    },
    "EdgeActionDeploymentSlotUpdate": {
      "type": "object",
      "description": "The type used for update operations of the EdgeActionDeploymentSlot.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EdgeActionDeploymentSlotUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EdgeActionDeploymentSlotUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the EdgeActionDeploymentSlot.",
      "properties": {
        "versionId": {
          "$ref": "#/definitions/EdgeActionVersionId",
          "description": "The referenced versionId of the slot"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last update time in UTC for the deployment slot"
        },
        "isProdSlot": {
          "type": "boolean",
          "description": "Whether the deployment slot belongs to prod"
        },
        "customHeaderValue": {
          "$ref": "#/definitions/smallString",
          "description": "Custom Header Value associated with the deployment slot"
        }
      }
    },
    "EdgeActionListResult": {
      "type": "object",
      "description": "The response of a EdgeAction list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeAction items on this page",
          "items": {
            "$ref": "#/definitions/EdgeAction"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeActionProperties": {
      "type": "object",
      "description": "Represents an edge action properties",
      "properties": {
        "sku": {
          "$ref": "#/definitions/SkuType",
          "description": "The sku type of the edge action"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the edge action",
          "readOnly": true
        }
      },
      "required": [
        "sku"
      ]
    },
    "EdgeActionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the EdgeAction.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EdgeActionUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EdgeActionUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the EdgeAction.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/SkuType",
          "description": "The sku type of the edge action"
        }
      }
    },
    "EdgeActionVersion": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeActionVersionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "$ref": "#/definitions/smallString",
          "description": "The name of the User Edge Action version",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EdgeActionVersionDeploymentType": {
      "type": "string",
      "enum": [
        "zip",
        "others"
      ],
      "x-ms-enum": {
        "name": "EdgeActionVersionDeploymentType",
        "modelAsString": true
      }
    },
    "EdgeActionVersionId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.EdgeAction/edgeactions/versions"
          }
        ]
      }
    },
    "EdgeActionVersionProperties": {
      "type": "object",
      "description": "Represents an edge action version",
      "properties": {
        "wasmRuntimeVersion": {
          "$ref": "#/definitions/WasmRuntimeVersion",
          "description": "The wasm runtime version"
        },
        "deploymentType": {
          "$ref": "#/definitions/EdgeActionVersionDeploymentType",
          "description": "The deployment type",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "packageUrl": {
          "type": "string",
          "format": "uri",
          "description": "The package url",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "validationStatus": {
          "$ref": "#/definitions/EdgeActionVersionValidationStatus",
          "description": "The validation status",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        },
        "isActive": {
          "type": "boolean",
          "description": "The active state",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "lastPackageUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last update time in UTC for package update",
          "readOnly": true
        }
      },
      "required": [
        "wasmRuntimeVersion",
        "deploymentType",
        "packageUrl",
        "validationStatus",
        "isActive",
        "lastPackageUpdateTime"
      ]
    },
    "EdgeActionVersionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the EdgeActionVersion.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EdgeActionVersionUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EdgeActionVersionUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the EdgeActionVersion.",
      "properties": {
        "wasmRuntimeVersion": {
          "$ref": "#/definitions/WasmRuntimeVersion",
          "description": "The wasm runtime version"
        },
        "deploymentType": {
          "$ref": "#/definitions/EdgeActionVersionDeploymentType",
          "description": "The deployment type",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "packageUrl": {
          "type": "string",
          "format": "uri",
          "description": "The package url",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "isActive": {
          "type": "boolean",
          "description": "The active state",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "EdgeActionVersionValidationStatus": {
      "type": "string",
      "enum": [
        "Success",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "EdgeActionVersionValidationStatus",
        "modelAsString": true
      }
    },
    "HookType": {
      "type": "string",
      "enum": [
        "ViewerRequest",
        "OriginRequest",
        "OriginResponse",
        "ViewerResponse"
      ],
      "x-ms-enum": {
        "name": "HookType",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Initial provisioning in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      }
    },
    "SkuType": {
      "type": "string",
      "enum": [
        "Basic",
        "Standard"
      ],
      "x-ms-enum": {
        "name": "SkuType",
        "modelAsString": true
      }
    },
    "WasmRuntimeVersion": {
      "type": "string",
      "enum": [
        "v1",
        "v2"
      ],
      "x-ms-enum": {
        "name": "WasmRuntimeVersion",
        "modelAsString": true
      }
    },
    "smallString": {
      "type": "string",
      "maxLength": 50,
      "pattern": "[a-z0-9]+"
    }
  },
  "parameters": {}
}
