{
  "swagger": "2.0",
  "info": {
    "version": "2023-05-01-preview",
    "title": "ConnectedCache",
    "description": "Microsoft Connected Cache Rest Api version 2023-05-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user node"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ConnectedCache/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "ConnectedCacheOperationsList": {
            "$ref": "./examples/ConnectedCacheOperationsList.json"
          }
        },
        "description": "Retrieves a list of available Api operations",
        "summary": "Retrieves a list of available Api operations under this Resource Provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of operations under Microsoft.ConnectedCache resource provider",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Connected Cache does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/enterpriseCustomers/{customerResourceName}": {
      "get": {
        "tags": [
          "enterpriseCustomers"
        ],
        "summary": "Retrieves information about a customer Enterprise resource",
        "description": "Retrieves the properties of a Enterprise customer",
        "operationId": "enterpriseCustomers_Get",
        "x-ms-examples": {
          "enterpriseCustomers Get": {
            "$ref": "./examples/enterpriseCustomersGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the cacheNodes",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (cacheNodes does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "enterpriseCustomers"
        ],
        "summary": "Creates a cacheNodes resource",
        "description": "Creates a cacheNodes with the specified create parameters",
        "operationId": "enterpriseCustomers_CreateOrUpdate",
        "x-ms-examples": {
          "enterpriseCustomers CreateOrUpdate": {
            "$ref": "./examples/enterpriseCustomersCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "enterpriseCustomers create parameters",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the enterpriseCustomers",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          },
          "201": {
            "description": "The request was successful; response contains the updated Connected Cache node",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (enterpriseCustomers could not be created/updated)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "enterpriseCustomers"
        ],
        "summary": "Deletes a enterpriseCustomers  resource",
        "description": "Deletes an existing customer Enterprise resource",
        "operationId": "enterpriseCustomers_Delete",
        "x-ms-examples": {
          "enterpriseCustomers Delete": {
            "$ref": "./examples/enterpriseCustomersDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the Cache Node is deleted"
          },
          "204": {
            "description": "The request was successful; Cache Node does not exist"
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 409 - Conflict",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "enterpriseCustomers"
        ],
        "summary": "updates an existing customer Ent resource",
        "description": "updates an existing enterpriseCustomers",
        "operationId": "enterpriseCustomers_Update",
        "x-ms-examples": {
          "enterpriseCustomers Update": {
            "$ref": "./examples/enterpriseCustomersUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "cacheNodes patch parameters",
            "schema": {
              "$ref": "#/definitions/ConnectedCachePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the updated Cache node",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Cache Node does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/enterpriseCustomers": {
      "get": {
        "tags": [
          "enterpriseCustomers"
        ],
        "summary": "Retrieves information about all ConnectedCache resources under the given subscription and resource group",
        "description": "Retrieves the properties of all ConnectedCache enterpriseCustomers",
        "operationId": "enterpriseCustomers_ListByResourceGroup",
        "x-ms-examples": {
          "enterpriseCustomers ListBy ResourceGroup": {
            "$ref": "./examples/enterpriseCustomersListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the ConnectedCache",
            "schema": {
              "$ref": "#/definitions/ConnectedCacheList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (ConnectedCache does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ConnectedCache/enterpriseCustomers": {
      "get": {
        "tags": [
          "enterpriseCustomers"
        ],
        "summary": "Retrieves information about all ConnectedCache resources under the given subscription",
        "description": "Retrieves the properties of all ConnectedCaches",
        "operationId": "enterpriseCustomers_ListBySubscription",
        "x-ms-examples": {
          "enterpriseCustomers ListBy Subscription": {
            "$ref": "./examples/enterpriseCustomersListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of ConnectedCache resources",
            "schema": {
              "$ref": "#/definitions/ConnectedCacheList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (ConnectedCache does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/cacheNodes/{cacheNodeResourceName}": {
      "get": {
        "tags": [
          "cacheNodes"
        ],
        "summary": "Retrieves information about a cacheNodes resource",
        "description": "Retrieves the properties of a cacheNodes",
        "operationId": "cacheNodes_Get",
        "x-ms-examples": {
          "CacheNodesGet": {
            "$ref": "./examples/CacheNodesGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the cacheNodes",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (cacheNodes does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "cacheNodes"
        ],
        "summary": "Creates a cacheNodes resource",
        "description": "Creates a cacheNodes with the specified create parameters",
        "operationId": "cacheNodes_CreateorUpdate",
        "x-ms-examples": {
          "CacheNodesCreateOrUpdate": {
            "$ref": "./examples/CacheNodesCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "cacheNodes create parameters",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the cacheNodes",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          },
          "201": {
            "description": "The request was successful; response contains the updated Connected Cache node",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (cacheNodes could not be created/updated)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "cacheNodes"
        ],
        "summary": "Deletes a cache Nodes resource",
        "description": "Deletes an existing cache Node",
        "operationId": "cacheNodes_Delete",
        "x-ms-examples": {
          "CacheNodesDelete": {
            "$ref": "./examples/CacheNodesDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the Cache Node is deleted"
          },
          "204": {
            "description": "The request was successful; Cache Node does not exist"
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 409 - Conflict",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "cacheNodes"
        ],
        "summary": "updates an existing Cache Node resource",
        "description": "updates an existing Cache Node",
        "operationId": "cacheNodes_Update",
        "x-ms-examples": {
          "CacheNodesUpdate": {
            "$ref": "./examples/CacheNodesUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "cacheNodes patch parameters",
            "schema": {
              "$ref": "#/definitions/ConnectedCachePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the updated Cache node",
            "schema": {
              "$ref": "#/definitions/ConnectedCache"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Cache Node does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/cacheNodes": {
      "get": {
        "tags": [
          "cacheNodes"
        ],
        "summary": "Retrieves information about all ConnectedCache resources under the given subscription and resource group",
        "description": "Retrieves the properties of all ConnectedCache",
        "operationId": "cacheNodes_ListByResourceGroup",
        "x-ms-examples": {
          "CacheNodesListByResourceGroup": {
            "$ref": "./examples/CacheNodesListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the ConnectedCache",
            "schema": {
              "$ref": "#/definitions/ConnectedCacheList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (ConnectedCache does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ConnectedCache/cacheNodes": {
      "get": {
        "tags": [
          "cacheNodes"
        ],
        "summary": "Retrieves information about all ConnectedCache resources under the given subscription",
        "description": "Retrieves the properties of all ConnectedCaches",
        "operationId": "cacheNodes_ListBySubscription",
        "x-ms-examples": {
          "CacheNodesListBySubscription": {
            "$ref": "./examples/CacheNodesListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of ConnectedCache resources",
            "schema": {
              "$ref": "#/definitions/ConnectedCacheList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (ConnectedCache does not exist.)",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}": {
      "get": {
        "tags": [
          "ispCustomers"
        ],
        "summary": "Gets ispCustomer resource information",
        "description": "Gets the ispCustomer resource information using this get call",
        "operationId": "ispCustomers_Get",
        "x-ms-examples": {
          "ispCustomers Get": {
            "$ref": "./examples/ispCustomersGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains the ispCustomer",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCustomer",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ispCustomers"
        ],
        "summary": "Creates an ispCustomer resource",
        "description": "This api creates an ispCustomer with the specified create parameters",
        "operationId": "ispCustomers_CreateOrUpdate",
        "x-ms-examples": {
          "ispCustomers CreateOrUpdate": {
            "$ref": "./examples/ispCustomersCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "ispCustomer create parameters",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The put request was successful; response contains the ispCustomer",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          },
          "201": {
            "description": "The put request was successful; response contains the updated ispCustomer",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          },
          "default": {
            "description": "The create/update request has failed; error response details : 4xx/5xx for ispCustomer",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "ispCustomers"
        ],
        "summary": "Deletes an ispCustomer resource",
        "description": "This api deletes an existing ispCustomer resource",
        "operationId": "ispCustomers_Delete",
        "x-ms-examples": {
          "ispCustomers Delete": {
            "$ref": "./examples/ispCustomersDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The delete request was accepted; the ispCustomer is being deleted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The delete request was successful; the ispCustomer does not exists"
          },
          "default": {
            "description": "The delete request has failed; error response details : 4xx/5xx for ispCustomer",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "ispCustomers"
        ],
        "summary": "updates an existing ispCustomer resource",
        "description": "This api updates an existing ispCustomer resource",
        "operationId": "ispCustomers_Update",
        "x-ms-examples": {
          "ispCustomers Update": {
            "$ref": "./examples/ispCustomersUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "ispCustomers patch parameters",
            "schema": {
              "$ref": "#/definitions/ConnectedCachePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful; response contains the updated ispCustomer",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          },
          "default": {
            "description": "The update request has failed; error response details : 4xx/5xx for ispCustomer",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers": {
      "get": {
        "tags": [
          "ispCustomers"
        ],
        "summary": "Retrieves information about all ispCustomer resources under the given subscription and resource group",
        "description": "This api gets the information about all ispCustomer resources under the given subscription and resource group",
        "operationId": "ispCustomers_ListByResourceGroup",
        "x-ms-examples": {
          "ispCustomers ListBy ResourceGroup": {
            "$ref": "./examples/ispCustomersListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains the ispCustomer resources",
            "schema": {
              "$ref": "#/definitions/MccCustomerResourceList"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCustomer resources",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ConnectedCache/ispCustomers": {
      "get": {
        "tags": [
          "ispCustomers"
        ],
        "summary": "Retrieves information about all ispCustomer resources under the given subscription",
        "description": "This api gets information about all ispCustomer resources under the given subscription",
        "operationId": "ispCustomers_ListBySubscription",
        "x-ms-examples": {
          "ispCustomers ListBy Subscription": {
            "$ref": "./examples/ispCustomersListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains the list of ispCustomer resources",
            "schema": {
              "$ref": "#/definitions/MccCustomerResourceList"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCustomer resources",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}": {
      "get": {
        "tags": [
          "ispCacheNodes"
        ],
        "summary": "Gets isp CacheNode resource information of an isp Customer parent resource",
        "description": "This api gets ispCacheNode resource information",
        "operationId": "ispCacheNodes_Get",
        "x-ms-examples": {
          "ispCacheNodes Get": {
            "$ref": "./examples/ispCacheNodesGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ispCacheNodes"
        ],
        "summary": "Creates an ispCacheNode resource",
        "description": "This api creates an ispCacheNode with the specified create parameters",
        "operationId": "ispCacheNodes_CreateOrUpdate",
        "x-ms-examples": {
          "ispCacheNodes CreateOrUpdate": {
            "$ref": "./examples/ispCacheNodesCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "ispCustomer create parameters un request body",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The put request was successful; response contains the ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          },
          "201": {
            "description": "The put request was successful; response contains the updated ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          },
          "default": {
            "description": "The create/update request has failed; error response details : 4xx/5xx for ispCacheNode",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "ispCacheNodes"
        ],
        "summary": "Deletes an ispCacheNode  resource",
        "description": "This api deletes an existing ispCacheNode resource",
        "operationId": "ispCacheNodes_Delete",
        "x-ms-examples": {
          "ispCacheNodes Delete": {
            "$ref": "./examples/ispCacheNodesDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The delete request was accepted; the ispCacheNode is being deleted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The delete request was successful; the ispCacheNode does not exists"
          },
          "default": {
            "description": "The delete request has failed; error response details : 4xx/5xx for ispCacheNode",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "ispCacheNodes"
        ],
        "summary": "Updates an existing ispCacheNode resource",
        "description": "This api updates an existing ispCacheNode resource",
        "operationId": "ispCacheNodes_Update",
        "x-ms-examples": {
          "ispCacheNodes Update": {
            "$ref": "./examples/ispCacheNodesUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "cacheNodes patch parameters",
            "schema": {
              "$ref": "#/definitions/ConnectedCachePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful; the response contains the updated ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          },
          "default": {
            "description": "The update request has failed; error response details : 4xx/5xx for ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes": {
      "get": {
        "tags": [
          "ispCacheNodes"
        ],
        "summary": "Retrieves information about all ispCacheNode resources under the given subscription and resource group",
        "description": "This api retrieves information about all ispCacheNode resources under the given subscription and resource group",
        "operationId": "ispCacheNodes_ListByCustomers",
        "x-ms-examples": {
          "ispCacheNodes ListBy Customers": {
            "$ref": "./examples/ispCacheNodesListByCustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains the list of ispCacheNode resources",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResourceList"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCacheNode resources",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}/getBgpCidrs": {
      "post": {
        "tags": [
          "ispCacheNodes"
        ],
        "summary": "Gets ispCacheNode resource information of an ispCustomer parent resource",
        "description": "This api gets ispCacheNode resource information",
        "operationId": "ispCacheNodes_getBgpCidrs",
        "x-ms-examples": {
          "ispCacheNodes Bgp Cidrs Get": {
            "$ref": "./examples/ispCacheNodesGetBGPCidrs.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get Bgp Cidrs request was successful; response contains ispCacheNode Bgp Cidrs",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeBgpCidrDetails"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/ispCustomers/{customerResourceName}/ispCacheNodes/{cacheNodeResourceName}/getCacheNodeInstallDetails": {
      "post": {
        "tags": [
          "ispCacheNodes"
        ],
        "summary": "Gets required properties for ispCacheNode resource install key details",
        "description": "This api gets secrets of the ispCacheNode resource install details",
        "operationId": "ispCacheNodes_getCacheNodeInstallDetails",
        "x-ms-examples": {
          "ispCacheNodes install details Get": {
            "$ref": "./examples/ispCacheNodesGetCacheNodeInstallDetails.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get cache node install details request was successful; response contains ispCacheNode Bgp Cidrs",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeInstallDetails"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/{customerResourceName}": {
      "get": {
        "tags": [
          "enterpriseMccCustomers"
        ],
        "summary": "Gets enterpriseMccCustomers resource information",
        "description": "This api gets the enterpriseMccCustomers resource information using this get call",
        "operationId": "enterpriseMccCustomers_Get",
        "x-ms-examples": {
          "enterpriseMccCustomers Get": {
            "$ref": "./examples/enterprise/enterpriseMccCustomersGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains the enterpriseMccCustomer",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for enterpriseMccCustomer",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "enterpriseMccCustomers"
        ],
        "summary": "Creates an enterpriseMccCustomer resource",
        "description": "This api creates an enterpriseMccCustomer with the specified create parameters",
        "operationId": "enterpriseMccCustomers_CreateOrUpdate",
        "x-ms-examples": {
          "enterpriseMccCustomers CreateOrUpdate": {
            "$ref": "./examples/enterprise/enterpriseMccCustomersCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "enterpriseMccCustomer create parameters",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The put request was successful; response contains the enterpriseMccCustomer",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          },
          "201": {
            "description": "The put request was successful; response contains the updated enterpriseMccCustomer",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          },
          "default": {
            "description": "The create/update request has failed; error response details : 4xx/5xx for enterpriseMccCustomer",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "enterpriseMccCustomers"
        ],
        "summary": "Deletes an enterpriseMccCustomer resource",
        "description": "This api deletes an existing enterpriseMccCustomer resource",
        "operationId": "enterpriseMccCustomers_Delete",
        "x-ms-examples": {
          "enterpriseMccCustomers Delete": {
            "$ref": "./examples/enterprise/enterpriseMccCustomersDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The delete request was accepted; the enterpriseMccCustomer is being deleted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The delete request was successful; the enterpriseMccCustomer does not exists"
          },
          "default": {
            "description": "The delete request has failed; error response details : 4xx/5xx for enterpriseMccCustomer",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "enterpriseMccCustomers"
        ],
        "summary": "updates an existing enterpriseMccCustomer resource",
        "description": "This api updates an existing enterpriseMccCustomer resource",
        "operationId": "enterpriseMccCustomers_Update",
        "x-ms-examples": {
          "enterpriseMccCustomers Update": {
            "$ref": "./examples/enterprise/enterpriseMccCustomersUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "enterpriseMccCustomers patch parameters",
            "schema": {
              "$ref": "#/definitions/ConnectedCachePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful; response contains the updated enterpriseMccCustomer",
            "schema": {
              "$ref": "#/definitions/MccCustomerResource"
            }
          },
          "default": {
            "description": "The update request has failed; error response details : 4xx/5xx for enterpriseMccCustomer",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/enterpriseMccCustomers": {
      "get": {
        "tags": [
          "enterpriseMccCustomers"
        ],
        "summary": "Retrieves information about all enterprise Mcc Customer resources under the given subscription and resource group",
        "description": "This api gets the information about all enterprise Mcc Customer resources under the given subscription and resource group",
        "operationId": "enterpriseMccCustomers_ListByResourceGroup",
        "x-ms-examples": {
          "enterpriseMccCustomers ListBy ResourceGroup": {
            "$ref": "./examples/enterprise/enterpriseMccCustomersListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains the ispCustomer resources",
            "schema": {
              "$ref": "#/definitions/MccCustomerResourceList"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCustomer resources",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ConnectedCache/enterpriseMccCustomers": {
      "get": {
        "tags": [
          "enterpriseMccCustomers"
        ],
        "summary": "Retrieves information about all enterprise mcc customer resources under the given subscription",
        "description": "This api gets information about all enterprise mcc customer resources under the given subscription",
        "operationId": "enterpriseMccCustomers_ListBySubscription",
        "x-ms-examples": {
          "enterpriseMccCustomers ListBy Subscription": {
            "$ref": "./examples/enterprise/enterpriseMccCustomersListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains the list of enterprise mcc customer resources",
            "schema": {
              "$ref": "#/definitions/MccCustomerResourceList"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for enterprise mcc customer resources",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/{customerResourceName}/enterpriseMccCacheNodes/{cacheNodeResourceName}": {
      "get": {
        "tags": [
          "enterpriseMccCacheNodes"
        ],
        "summary": "Gets enterpriseMccCacheNode resource information of an enterprise mcc customer parent resource",
        "description": "This api gets enterpriseMccCacheNode resource information",
        "operationId": "enterpriseMccCacheNodes_Get",
        "x-ms-examples": {
          "enterpriseMccCacheNodes Get": {
            "$ref": "./examples/enterprise/enterpriseMccCacheNodesGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains enterpriseMccCacheNode",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for enterpriseMccCacheNode",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "enterpriseMccCacheNodes"
        ],
        "summary": "Creates an enterpriseMccCacheNode resource",
        "description": "This api creates an enterpriseMccCacheNode with the specified create parameters",
        "operationId": "enterpriseMccCacheNodes_CreateOrUpdate",
        "x-ms-examples": {
          "enterpriseMccCacheNodes CreateOrUpdate": {
            "$ref": "./examples/enterprise/enterpriseMccCacheNodesCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "enterpriseMccCacheNode create parameters un request body",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The put request was successful; response contains the enterpriseMccCacheNode",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          },
          "201": {
            "description": "The put request was successful; response contains the updated enterpriseMccCacheNode",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          },
          "default": {
            "description": "The create/update request has failed; error response details : 4xx/5xx for enterpriseMccCacheNode",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "enterpriseMccCacheNodes"
        ],
        "summary": "Deletes an enterpriseMccCacheNode resource",
        "description": "This api deletes an existing enterpriseMccCacheNode resource",
        "operationId": "enterpriseMccCacheNodes_Delete",
        "x-ms-examples": {
          "enterpriseMccCacheNodes Delete": {
            "$ref": "./examples/enterprise/enterpriseMccCacheNodesDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The delete request was accepted; the enterpriseMccCacheNode is being deleted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The delete request was successful; the enterpriseMccCacheNode does not exists"
          },
          "default": {
            "description": "The delete request has failed; error response details : 4xx/5xx for enterpriseMccCacheNode",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "enterpriseMccCacheNodes"
        ],
        "summary": "Updates an existing enterpriseMccCacheNode resource",
        "description": "This api updates an existing enterpriseMccCacheNode resource",
        "operationId": "enterpriseMccCacheNodes_Update",
        "x-ms-examples": {
          "enterpriseMccCacheNodes Update": {
            "$ref": "./examples/enterprise/enterpriseMccCacheNodesUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "enterpriseMccCacheNode patch parameters",
            "schema": {
              "$ref": "#/definitions/ConnectedCachePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful; the response contains the updated enterpriseMccCacheNode",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResource"
            }
          },
          "default": {
            "description": "The update request has failed; error response details : 4xx/5xx for enterpriseMccCacheNode",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/{customerResourceName}/enterpriseMccCacheNodes": {
      "get": {
        "tags": [
          "enterpriseMccCacheNodes"
        ],
        "summary": "Retrieves information about all enterpriseMccCacheNode resources under the given subscription and resource group",
        "description": "This api retrieves information about all enterpriseMccCacheNode resources under the given subscription and resource group",
        "operationId": "enterpriseMccCacheNodes_ListByCustomers",
        "x-ms-examples": {
          "enterpriseMccCacheNodes ListBy Customers": {
            "$ref": "./examples/enterprise/enterpriseMccCacheNodesListByCustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get request was successful; response contains the list of enterpriseMccCacheNode resources",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeResourceList"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for enterpriseMccCacheNode resources",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedCache/enterpriseMccCustomers/{customerResourceName}/enterpriseMccCacheNodes/{cacheNodeResourceName}/getCacheNodeInstallDetails": {
      "post": {
        "tags": [
          "enterpriseMccCacheNodes"
        ],
        "summary": "Gets required properties for enterprise Mcc CacheNode resource install key details",
        "description": "This api gets secrets of the enterprise Mcc CacheNode resource install details",
        "operationId": "enterpriseMccCacheNodes_getCacheNodeInstallDetails",
        "x-ms-examples": {
          "enterpriseMccCacheNodes install details Get": {
            "$ref": "./examples/enterprise/enterpriseMccCacheNodeGetCacheNodeInstallDetails.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CustomerNameParameter"
          },
          {
            "$ref": "#/parameters/CacheNodeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The get cache node install details request was successful; response contains ispCacheNode Bgp Cidrs",
            "schema": {
              "$ref": "#/definitions/MccCacheNodeInstallDetails"
            }
          },
          "default": {
            "description": "The get request has failed; error response details : 4xx/5xx for ispCacheNode",
            "schema": {
              "$ref": "#/definitions/MCCErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MCCErrorResponse": {
      "type": "object",
      "description": "Error response indicates that the service is not able to process the incoming request",
      "properties": {
        "status": {
          "description": "status of the HTTP error code",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details"
        }
      }
    },
    "ProxyUrlConfiguration": {
      "type": "object",
      "description": "ProxyUrl configuration of cache node",
      "properties": {
        "proxyUrl": {
          "description": "Host Proxy Address configuation along with port number. This can be a proxy or ip address. ex: xx.xx.xx.xxxx:80 or host name http://exampleproxy.com:80",
          "type": "string"
        }
      }
    },
    "BgpConfiguration": {
      "type": "object",
      "description": "Bgp configuration of cache node",
      "properties": {
        "asnToIpAddressMapping": {
          "description": "Asn to ip address mapping",
          "type": "string"
        }
      }
    },
    "CacheNodeDriveConfiguration": {
      "type": "object",
      "description": "Drive configuration for cache node",
      "properties": {
        "physicalPath": {
          "description": "physical path location of the folder used for caching content",
          "type": "string"
        },
        "sizeInGb": {
          "description": "physical size of the drive used for caching content",
          "type": "integer",
          "format": "int32"
        },
        "cacheNumber": {
          "description": "corresponding nginx cache number. Valid cache numbers are 1 - 10",
          "type": "integer",
          "format": "int32"
        },
        "nginxMapping": {
          "description": "full binding for corresponding nginx cache drive",
          "type": "string"
        }
      }
    },
    "ErrorDefinition": {
      "type": "object",
      "description": "Error definition",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "x-ms-identifiers": [
            "message"
          ],
          "readOnly": true
        }
      }
    },
    "MccCacheNodeResourceList": {
      "description": "Object that includes an array of MccCacheNodeResource and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of MccCacheNodeResource resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MccCacheNodeResource"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "description": "The Url the client should use to fetch the next page (per server side paging)",
          "type": "string"
        }
      }
    },
    "MccCustomerResourceList": {
      "description": "Object that includes an array of MccCustomerResource and a possible link for next set",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of MccCustomerResource resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MccCustomerResource"
          }
        },
        "nextLink": {
          "description": "The Url the client should use to fetch the next page (per server side paging)",
          "type": "string"
        }
      }
    },
    "AdditionalCustomerProperties": {
      "type": "object",
      "description": "Model representing customer for connected cache resource",
      "properties": {
        "peeringDbLastUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer resource last PeeringDB update timestamp."
        },
        "customerPropertiesOverviewCacheEfficiency": {
          "type": "number",
          "description": "Customer resource cache efficiency."
        },
        "customerPropertiesOverviewAverageEgressMbps": {
          "type": "number",
          "description": "Customer resource average egress in Mbps."
        },
        "customerPropertiesOverviewAverageMissMbps": {
          "type": "number",
          "description": "Customer resource average cache miss throughput in Mbps."
        },
        "customerPropertiesOverviewEgressMbpsMax": {
          "type": "number",
          "description": "Customer resource maximum egress in Mbps."
        },
        "customerPropertiesOverviewEgressMbpsMaxDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer resource peak egress timestamp."
        },
        "customerPropertiesOverviewMissMbpsMax": {
          "type": "number",
          "description": "Customer resource maximum cache miss throughput in Mbps."
        },
        "customerPropertiesOverviewMissMbpsMaxDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer resource peak cache miss throughput timestamp."
        },
        "customerPropertiesOverviewCacheNodesHealthyCount": {
          "description": "Customer resource total healthy cache nodes.",
          "type": "integer",
          "format": "int32"
        },
        "customerPropertiesOverviewCacheNodesUnhealthyCount": {
          "description": "Customer resource total unhealthy cache nodes.",
          "type": "integer",
          "format": "int32"
        },
        "signupStatus": {
          "type": "boolean",
          "description": "Customer resource signup status as boolean."
        },
        "signupStatusCode": {
          "description": "Customer resource signup status as integer code.",
          "type": "integer",
          "format": "int32"
        },
        "signupStatusText": {
          "type": "string",
          "description": "Customer resource signup status as string text."
        },
        "signupPhaseStatusCode": {
          "description": "Customer resource signup phase status code as integer.",
          "type": "integer",
          "format": "int32"
        },
        "signupPhaseStatusText": {
          "type": "string",
          "description": "Customer resource signup phase status as string text."
        },
        "peeringDbLastUpdateDate": {
          "type": "string",
          "description": "Customer resource last PeeringDB update timestamp."
        },
        "customerOrgName": {
          "type": "string",
          "description": "Customer resource owner organization name."
        },
        "customerEmail": {
          "type": "string",
          "description": "Customer resource contact email."
        },
        "customerTransitAsn": {
          "type": "string",
          "description": "Customer resource transit Asn (autonomous system number)."
        },
        "customerTransitState": {
          "type": "string",
          "description": "Customer resource transit state."
        },
        "customerAsn": {
          "type": "string",
          "description": "Customer resource Asn (autonomous system number)."
        },
        "customerAsnEstimatedEgressPeekGbps": {
          "description": "Customer resource estimated Asn peering peak in Gbps.",
          "type": "number"
        },
        "customerEntitlementSkuId": {
          "type": "string",
          "description": "Customer resource entitlement Sku Id."
        },
        "customerEntitlementSkuGuid": {
          "type": "string",
          "description": "Customer resource entitlement Sku Guid."
        },
        "customerEntitlementSkuName": {
          "type": "string",
          "description": "Customer resource entitlement Sku name."
        },
        "customerEntitlementExpiration": {
          "type": "string",
          "description": "Customer resource entitlement expiration date string."
        },
        "optionalProperty1": {
          "type": "string",
          "description": "Optional property #1 of Mcc response object."
        },
        "optionalProperty2": {
          "type": "string",
          "description": "Optional property #2 of Mcc response object."
        },
        "optionalProperty3": {
          "type": "string",
          "description": "Optional property #3 of Mcc response object."
        },
        "optionalProperty4": {
          "type": "string",
          "description": "Optional property #4 of Mcc response object."
        },
        "optionalProperty5": {
          "type": "string",
          "description": "Optional property #5 of Mcc response object."
        }
      }
    },
    "AdditionalCacheNodeProperties": {
      "type": "object",
      "description": "Model representing cache node for connected cache resource",
      "properties": {
        "cacheNodePropertiesDetailsIssuesList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "issues list to return the issues as part of the additional cache node properties"
        },
        "bgpCidrs": {
          "type": "string",
          "description": "Cache node resource Bgp Cidrs."
        },
        "aggregatedStatusDetails": {
          "type": "string",
          "description": "Cache node resource aggregated status details."
        },
        "aggregatedStatusText": {
          "type": "string",
          "description": "Cache node resource aggregated status text."
        },
        "aggregatedStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "Cache node resource aggregated status code."
        },
        "productVersion": {
          "type": "string",
          "description": "Cache node resource Mcc product version."
        },
        "isProvisioned": {
          "type": "boolean",
          "description": "Cache node resource flag indicating if cache node is provisioned."
        },
        "cacheNodeStateDetailedText": {
          "type": "string",
          "description": "Cache node resource detailed state text."
        },
        "cacheNodeStateShortText": {
          "type": "string",
          "description": "Cache node resource short state text."
        },
        "cacheNodeState": {
          "type": "integer",
          "format": "int32",
          "description": "Cache node resource state as integer."
        },
        "driveConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CacheNodeDriveConfiguration"
          },
          "x-ms-identifiers": [],
          "description": "Cache node resource drive configurations."
        },
        "bgpConfiguration": {
          "title": "Cache node resource Bgp configuration.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BgpConfiguration",
          "description": "Cache node resource Bgp configuration."
        },
        "proxyUrlConfiguration": {
          "title": "proxyUrl configuration of the cache node",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProxyUrlConfiguration",
          "description": "proxyUrl configuration of the cache node"
        },
        "proxyUrl": {
          "type": "string",
          "description": "Cache node resource Mcc proxy Url"
        },
        "optionalProperty1": {
          "type": "string",
          "description": "Optional property #1 of Mcc response object"
        },
        "optionalProperty2": {
          "type": "string",
          "description": "Optional property #2 of Mcc response object"
        },
        "optionalProperty3": {
          "type": "string",
          "description": "Optional property #3 of Mcc response object"
        },
        "optionalProperty4": {
          "type": "string",
          "description": "Optional property #4 of Mcc response object"
        },
        "optionalProperty5": {
          "type": "string",
          "description": "Optional property #5 of Mcc response object"
        }
      }
    },
    "MccCacheNodeResource": {
      "type": "object",
      "description": "Represents the high level Nodes needed to provision cache node resources",
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "description": "Mcc cache node resource properties.",
          "title": "Mcc cache node resource properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CacheNode"
        }
      }
    },
    "MccCustomerResource": {
      "type": "object",
      "description": "Represents the high level Nodes needed to provision customer resources",
      "properties": {
        "properties": {
          "description": "Mcc customer resource properties.",
          "title": "Mcc customer resource properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/Customer"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MccCacheNodeBgpCidrDetails": {
      "type": "object",
      "description": "Represents all Cidr details of the Bgp request for a specific cache node resource",
      "properties": {
        "properties": {
          "description": "Mcc cache node resource Bgp Cidr properties.",
          "title": "Mcc cache node resource Bgp Cidr properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BgpCidrsConfiguration"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BgpCidrsConfiguration": {
      "type": "object",
      "description": "Mcc cache node Bgp Cidr details.",
      "properties": {
        "bgpCidrs": {
          "type": "array",
          "description": "Mcc cache node Bgp Cidr details.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MccCacheNodeInstallDetails": {
      "type": "object",
      "description": "Mcc cache node resource all install details.",
      "properties": {
        "properties": {
          "description": "Mcc cache node resource install script details.",
          "title": "Mcc cache node resource install script details.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CacheNodeInstallProperties"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CacheNodeInstallProperties": {
      "type": "object",
      "description": "Mcc cache node resource install script properties.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Mcc customer resource Id."
        },
        "cacheNodeId": {
          "type": "string",
          "description": "Mcc cache node resource Id."
        },
        "primaryAccountKey": {
          "x-ms-secret": true,
          "readOnly": true,
          "type": "string",
          "description": "Mcc primary account key. Internal to Mcc."
        },
        "secondaryAccountKey": {
          "x-ms-secret": true,
          "readOnly": true,
          "type": "string",
          "description": "Mcc secondary account key. Internal to Mcc."
        },
        "registrationKey": {
          "x-ms-secret": true,
          "readOnly": true,
          "type": "string",
          "description": "Mcc Iot Central temporary device registration key, used once."
        }
      }
    },
    "CacheNode": {
      "type": "object",
      "description": "Model representing an Mcc cache node connectedCache resource",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "The provisioned state of the resource",
          "enum": [
            "Unknown",
            "Accepted",
            "Succeeded",
            "Failed",
            "Canceled",
            "Upgrading",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "cacheNode": {
          "title": "Mcc cache node resource (cache node entity) propereties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CacheNodeEntity",
          "description": "Mcc cache node resource (cache node entity)."
        },
        "additionalCacheNodeProperties": {
          "title": "Mcc cache node resource additional properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AdditionalCacheNodeProperties",
          "description": "Mcc cache node resouce additional properties."
        },
        "statusCode": {
          "type": "string",
          "description": "Mcc response status code."
        },
        "statusText": {
          "type": "string",
          "description": "Mcc response status text as string for retrieving status details."
        },
        "statusDetails": {
          "type": "string",
          "description": "Mcc response status details for retrieving response inner details."
        },
        "status": {
          "description": "HTTP error status code.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "Mcc respone error details."
        }
      }
    },
    "Customer": {
      "type": "object",
      "description": "Model representing customer for connectedCache resource",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "The provisioned state of the resource",
          "enum": [
            "Unknown",
            "Accepted",
            "Succeeded",
            "Failed",
            "Canceled",
            "Upgrading",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "customer": {
          "type": "object",
          "title": "Mcc customer resource (customer entity) properties.",
          "description": "Mcc customer resource (customer entity).",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CustomerEntity"
        },
        "additionalCustomerProperties": {
          "type": "object",
          "title": "Mcc customer resource additional properties.",
          "description": "Mcc customer resource additional properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AdditionalCustomerProperties"
        },
        "statusCode": {
          "type": "string",
          "description": "Mcc response status code."
        },
        "statusText": {
          "type": "string",
          "description": "Mcc response status text as string for retrieving status details."
        },
        "statusDetails": {
          "type": "string",
          "description": "Mcc response stastus details for retieving response inner details."
        },
        "status": {
          "description": "HTTP error status code.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "Mcc response error details."
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "title": "Result of the request to list Rest Api operations. It contains a list of operations and a Url nextLink to get the next set of results",
      "description": "List containing this Resource Provider's available operations",
      "properties": {
        "value": {
          "description": "Resource provider operations list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperationDefinition"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "description": "The Uri that can be used to request the next page for list of Azure operations",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceProviderOperationDefinition": {
      "title": "A Rest Api operation",
      "type": "object",
      "description": "Describes the Resource Provider Operation",
      "properties": {
        "name": {
          "title": "The operations name",
          "description": "Resource provider operation name",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "string"
        },
        "display": {
          "description": "Resource provider display properties",
          "$ref": "#/definitions/ResourceProviderOperationDisplay"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        }
      }
    },
    "CustomerEntity": {
      "type": "object",
      "description": "Model representing Customer resource for ConnectedCache resource",
      "properties": {
        "fullyQualifiedResourceId": {
          "type": "string",
          "description": "Customer resource Arm fully qualified resource Id."
        },
        "customerId": {
          "type": "string",
          "description": "Customer resource Guid Id."
        },
        "customerName": {
          "type": "string",
          "description": "Customer resource name."
        },
        "contactEmail": {
          "type": "string",
          "description": "Customer resource contact email."
        },
        "contactPhone": {
          "type": "string",
          "description": "Customer resource contact phone."
        },
        "contactName": {
          "type": "string",
          "description": "Customer resource contact full name."
        },
        "isEntitled": {
          "type": "boolean",
          "description": "Customer resource entitilement flag as boolean."
        },
        "releaseVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Customer resource Mcc release version."
        },
        "createCorrelationId": {
          "type": "string",
          "description": "Customer resource creation Arm Correlation Id."
        },
        "updateCorrelationId": {
          "type": "string",
          "description": "Customer resource update Arm Correlation Id."
        },
        "shouldDelete": {
          "type": "boolean",
          "description": "Customer resource marked for deletion flag as boolean."
        },
        "deleteRectifierCorrelationId": {
          "type": "string",
          "description": "Customer resource deletion Arm Correlation Id."
        },
        "deleteAsyncOperationId": {
          "type": "string",
          "description": "Customer resource deletion RPaaS async operation Id."
        },
        "clientTenantId": {
          "type": "string",
          "description": "Customer resource client tenant Id of subscription."
        },
        "attemptedDeletes": {
          "type": "integer",
          "format": "int32",
          "description": "Customer resource attemped deletions."
        },
        "deletedFlagSetDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer resource deletion flag set timestamp."
        },
        "lastAttemptedDeleteTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer resource timestamp of last attempted delete"
        },
        "synchWithArmAttemptsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Customer resource Arm sync attempts."
        },
        "lastSyncWithArmTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Customer resource last Arm sync timestamp."
        },
        "isEnterpriseManaged": {
          "type": "boolean",
          "description": "Customer resource flag for enterprise management as boolean."
        },
        "shouldMigrate": {
          "type": "boolean",
          "description": "Customer resource flag for migration."
        },
        "transitState": {
          "type": "string",
          "description": "Customer resource transit state."
        },
        "transitAsn": {
          "type": "string",
          "description": "Customer resource transit Asn."
        },
        "resendSignupCode": {
          "type": "boolean",
          "description": "Customer resource flag for resending signup code as boolean."
        },
        "verifySignupCode": {
          "type": "boolean",
          "description": "Customer resource flag for requiring verification of signup code as boolean."
        },
        "verifySignupPhrase": {
          "type": "string",
          "description": "Customer resource phrase for verifying signup."
        }
      }
    },
    "CacheNodeEntity": {
      "type": "object",
      "description": "Model representing Cache Node for ConnectedCache resource",
      "properties": {
        "fullyQualifiedResourceId": {
          "type": "string",
          "description": "Cache node resource Arm fully qualified resource Id."
        },
        "customerId": {
          "type": "string",
          "description": "Cache node resource customer resource GUID Id."
        },
        "customerName": {
          "type": "string",
          "description": "Cache node resource customer resource name."
        },
        "ipAddress": {
          "type": "string",
          "description": "Cache node resource Ip address."
        },
        "customerIndex": {
          "type": "string",
          "description": "Cache node resource customer index as string."
        },
        "cacheNodeId": {
          "type": "string",
          "description": "Cache node resource identifier of the cache node"
        },
        "cacheNodeName": {
          "type": "string",
          "description": "Cache node resource name."
        },
        "customerAsn": {
          "type": "integer",
          "format": "int32",
          "description": "Cache node resource customer resource Asn (autonomous system number)"
        },
        "countryCodes": {
          "type": "string",
          "description": "Cache node resource country codes."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Cache node resource flag for indicating if cache node is enabled."
        },
        "maxAllowableEgressInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "Cache node resource maximum allowed egress in Mbps."
        },
        "maxAllowableProbability": {
          "type": "number",
          "description": "Cache node resource maximum allowed probability of egress."
        },
        "xCid": {
          "type": "string",
          "description": "Cache node resource Arm Xcid."
        },
        "isEnterpriseManaged": {
          "type": "boolean",
          "description": "Cache node resource flag for determining if managed by enterprise as boolean."
        },
        "deleteAsyncOperationId": {
          "type": "string",
          "description": "Cache node resource deletion RPaaS async operation Id."
        },
        "clientTenantId": {
          "type": "string",
          "description": "Cache node resource customer resource client tenant Id of subscription."
        },
        "category": {
          "type": "string",
          "description": "Cache node resource category."
        },
        "deletedFlagSetDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Cache node resource deletion flag set timestamp."
        },
        "lastAttemptedDeleteTime": {
          "type": "string",
          "format": "date-time",
          "description": "Cache node resource last deletion attempt timestamp."
        },
        "releaseVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Cache node resource release version."
        },
        "lastSyncWithArmTimestamp": {
          "type": "string",
          "description": "Cache node resource last Arm sync timestamp."
        },
        "synchWithArmAttemptsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Cache node resource attempts to sync with Arm."
        },
        "containerConfigurations": {
          "type": "string",
          "description": "Cache node resource container configuration details."
        },
        "cidrCsv": {
[...]
