{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "description": "ServiceTypeEnablement Provider",
    "version": "2021-08-10-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/serviceTypeEnablements": {
      "get": {
        "description": "List all serviceTypeEnablements in a subscription",
        "x-ms-examples": {
          "Get serviceTypeEnablements in a subscription": {
            "$ref": "./examples/GetAllServiceTypeEnablement.json"
          }
        },
        "operationId": "serviceTypeEnablement_listSubscriptionLevel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all serviceTypeEnablements",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModelArray"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/serviceTypeEnablements": {
      "get": {
        "description": "List all serviceTypeEnablements in a resource group",
        "x-ms-examples": {
          "Get serviceTypeEnablements in a resource group": {
            "$ref": "./examples/GetServiceTypeEnablementInResourceGroup.json"
          }
        },
        "operationId": "serviceTypeEnablement_listResourceGroupLevel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all serviceTypeEnablements",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModelArray"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/serviceTypeEnablements/{resourceName}": {
      "put": {
        "description": "Create or update serviceTypeEnablement",
        "x-ms-examples": {
          "Create or update serviceTypeEnablement": {
            "$ref": "./examples/CreateServiceTypeEnablement.json"
          }
        },
        "operationId": "serviceTypeEnablement_CreateUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "serviceTypeEnablement",
            "description": "serviceTypeEnablements details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "serviceTypeEnablement resource created successfully",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "200": {
            "description": "serviceTypeEnablement resource updated successfully",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Patch serviceTypeEnablement",
        "x-ms-examples": {
          "Patch serviceTypeEnablement": {
            "$ref": "./examples/PatchServiceTypeEnablement.json"
          }
        },
        "operationId": "serviceTypeEnablement_Patch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "serviceTypeEnablement",
            "description": "serviceTypeEnablement details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch request has been accepted, resource is already in the state matching the PATCH request body",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "202": {
            "description": "Patch request has been accepted",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Returns an serviceTypeEnablement info",
        "x-ms-examples": {
          "Get serviceTypeEnablement": {
            "$ref": "./examples/GetServiceTypeEnablement.json"
          }
        },
        "operationId": "serviceTypeEnablement_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get serviceTypeEnablement info",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete serviceTypeEnablement",
        "x-ms-examples": {
          "Delete serviceTypeEnablement": {
            "$ref": "./examples/DeleteServiceTypeEnablement.json"
          }
        },
        "operationId": "serviceTypeEnablement_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete request has been accepted"
          },
          "202": {
            "description": "Delete request has been accepted"
          },
          "204": {
            "description": "Delete request has been accepted"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCIS/serviceTypeEnablements/{resourceName}": {
      "put": {
        "description": "Create or update serviceTypeEnablement (subscription only)",
        "x-ms-examples": {
          "Create or update serviceTypeEnablement": {
            "$ref": "./examples/CreateServiceTypeEnablementSubOnly.json"
          }
        },
        "operationId": "serviceTypeEnablement_SubOnly_CreateUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "serviceTypeEnablement",
            "description": "serviceTypeEnablements details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "serviceTypeEnablement resource created successfully",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "200": {
            "description": "serviceTypeEnablement resource updated successfully",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Patch serviceTypeEnablement",
        "x-ms-examples": {
          "Patch serviceTypeEnablement": {
            "$ref": "./examples/PatchServiceTypeEnablementSubOnly.json"
          }
        },
        "operationId": "serviceTypeEnablement_SubOnly_Patch",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "serviceTypeEnablement",
            "description": "serviceTypeEnablement details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch request has been accepted, resource is already in the state matching the PATCH request body",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "202": {
            "description": "Patch request has been accepted",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Returns an serviceTypeEnablement info",
        "x-ms-examples": {
          "Get serviceTypeEnablement": {
            "$ref": "./examples/GetServiceTypeEnablementSubOnly.json"
          }
        },
        "operationId": "serviceTypeEnablement_SubOnly_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get serviceTypeEnablement info",
            "schema": {
              "$ref": "#/definitions/serviceTypeEnablementModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete serviceTypeEnablement",
        "x-ms-examples": {
          "Delete serviceTypeEnablement": {
            "$ref": "./examples/DeleteServiceTypeEnablementSubOnly.json"
          }
        },
        "operationId": "serviceTypeEnablement_SubOnly_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete request has been accepted"
          },
          "202": {
            "description": "Delete request has been accepted"
          },
          "204": {
            "description": "Delete request has been accepted"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "serviceTypeEnablementResource": {
      "required": [
        "resourceProviderNamespace",
        "resourceTypeName"
      ],
      "type": "object",
      "description": "serviceTypeEnablementResource details",
      "properties": {
        "resourceProviderNamespace": {
          "type": "string",
          "description": "The resource provider namespace"
        },
        "resourceTypeName": {
          "type": "string",
          "description": "The resource type name"
        },
        "regionName": {
          "type": "string",
          "description": "The region name"
        }
      }
    },
    "serviceTypeEnablementModel": {
      "type": "object",
      "description": "serviceTypeEnablement Response",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning State of the resource."
        },
        "properties": {
          "$ref": "#/definitions/serviceTypeEnablementResource",
          "description": "serviceTypeEnablementResource detail"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ProvisioningState": {
      "description": "Provisioning status of the resource.",
      "readOnly": true,
      "enum": [
        "Failed",
        "Succeeded",
        "Canceled",
        "Accepted"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "serviceTypeEnablementModelArray": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/serviceTypeEnablementModel"
          },
          "description": "An array of serviceTypeEnablement resources"
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of serviceTypeEnablement"
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of resource",
      "x-ms-parameter-location": "method"
    }
  }
}
