{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Eds",
    "version": "2023-03-02-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OrderRequests"
    }
  ],
  "paths": {
    "/providers/Microsoft.Eds/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Eds/orderRequests": {
      "get": {
        "tags": [
          "OrderRequests"
        ],
        "operationId": "OrderRequests_ListBySubscription",
        "description": "List OrderRequest resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderRequestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OrderRequests_ListBySubscription": {
            "$ref": "./examples/OrderRequests_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Eds/orderRequests": {
      "get": {
        "tags": [
          "OrderRequests"
        ],
        "operationId": "OrderRequests_ListByResourceGroup",
        "description": "List OrderRequest resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderRequestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OrderRequests_ListByResourceGroup": {
            "$ref": "./examples/OrderRequests_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Eds/orderRequests/{orderRequestId}": {
      "get": {
        "tags": [
          "OrderRequests"
        ],
        "operationId": "OrderRequests_Get",
        "description": "Get a OrderRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderRequestId",
            "in": "path",
            "required": true,
            "description": "Order request API details",
            "pattern": "^[0-9]{3,12}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OrderRequests_Get": {
            "$ref": "./examples/OrderRequests_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "OrderRequests"
        ],
        "operationId": "OrderRequests_Create",
        "description": "Create a OrderRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderRequestId",
            "in": "path",
            "required": true,
            "description": "Order request API details",
            "pattern": "^[0-9]{3,12}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OrderRequests_Create": {
            "$ref": "./examples/OrderRequests_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "OrderRequests"
        ],
        "operationId": "OrderRequests_Update",
        "description": "Update a OrderRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderRequestId",
            "in": "path",
            "required": true,
            "description": "Order request API details",
            "pattern": "^[0-9]{3,12}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/OrderRequestUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OrderRequests_Update": {
            "$ref": "./examples/OrderRequests_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "OrderRequests"
        ],
        "operationId": "OrderRequests_Delete",
        "description": "Delete a OrderRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderRequestId",
            "in": "path",
            "required": true,
            "description": "Order request API details",
            "pattern": "^[0-9]{3,12}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OrderRequests_Delete": {
            "$ref": "./examples/OrderRequests_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OrderLineItemRequest": {
      "type": "object",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "UPN associated with Big Catalog XDK product."
        },
        "productId": {
          "type": "string",
          "description": "Big Catalog Product Identifier."
        },
        "skuId": {
          "type": "string",
          "description": "SKU Identifier"
        },
        "quantity": {
          "$ref": "#/definitions/ProductQuantity",
          "description": "Quantity being bought."
        },
        "lineitemPurchaseStatus": {
          "type": "string",
          "description": "Response Status Code.",
          "readOnly": true
        },
        "purchaseMessage": {
          "type": "string",
          "description": "Purchase Status Message.",
          "readOnly": true
        },
        "transId": {
          "type": "string",
          "description": "Transaction Identifier for each line item in Guid.",
          "readOnly": true
        }
      },
      "description": "Order Line Item details.",
      "required": [
        "productCode",
        "productId",
        "skuId",
        "quantity"
      ]
    },
    "OrderRequest": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OrderRequestProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "An Order request.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OrderRequestListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderRequest"
          },
          "x-typespec-name": "OrderRequest[]",
          "description": "The OrderRequest items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a OrderRequest list operation.",
      "required": [
        "value"
      ]
    },
    "OrderRequestProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "orderLineItemRequests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderLineItemRequest"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "OrderLineItemRequest[]",
          "description": "Big Catalog Products detail like product Id, SkuId, etc.",
          "minItems": 1
        }
      },
      "description": "Order request properties.",
      "required": [
        "orderLineItemRequests"
      ]
    },
    "OrderRequestUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/OrderRequestUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the OrderRequest."
    },
    "OrderRequestUpdateProperties": {
      "type": "object",
      "properties": {
        "orderLineItemRequests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderLineItemRequest"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "OrderLineItemRequest[]",
          "description": "Big Catalog Products detail like product Id, SkuId, etc.",
          "minItems": 1
        }
      },
      "description": "The updatable properties of the OrderRequest."
    },
    "ProductQuantity": {
      "type": "integer",
      "format": "int32",
      "minimum": 1
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {}
}
