{
  "swagger": "2.0",
  "info": {
    "title": "AszLabHardware Resource Provider",
    "version": "2024-06-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "LabServers"
    },
    {
      "name": "Servers"
    },
    {
      "name": "Reservations"
    }
  ],
  "paths": {
    "/providers/Private.AszLabHardware/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.AszLabHardware/labservers": {
      "get": {
        "operationId": "LabServers_ListBySubscription",
        "tags": [
          "LabServers"
        ],
        "description": "List LabServer resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.AszLabHardware/reservations": {
      "get": {
        "operationId": "Reservations_ListBySubscription",
        "tags": [
          "Reservations"
        ],
        "description": "List Reservation resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.AszLabHardware/servers": {
      "get": {
        "operationId": "Servers_ListBySubscription",
        "tags": [
          "Servers"
        ],
        "description": "List Server resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/labservers": {
      "get": {
        "operationId": "LabServers_ListByResourceGroup",
        "tags": [
          "LabServers"
        ],
        "description": "List LabServer resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/labservers/{serverName}": {
      "get": {
        "operationId": "LabServers_Get",
        "tags": [
          "LabServers"
        ],
        "description": "Get a LabServer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "LabServers_CreateOrUpdate",
        "tags": [
          "LabServers"
        ],
        "description": "Create a LabServer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabServer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LabServer' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LabServer"
            }
          },
          "201": {
            "description": "Resource 'LabServer' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LabServer"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LabServers_Update",
        "tags": [
          "LabServers"
        ],
        "description": "Update a LabServer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabServerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LabServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "LabServers_Delete",
        "tags": [
          "LabServers"
        ],
        "description": "Delete a LabServer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/labservers/{serverName}/collectInventory": {
      "post": {
        "operationId": "LabServers_CollectInventory",
        "tags": [
          "LabServers"
        ],
        "description": "Collects the inventory of the server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "204": {
            "description": "Azure operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/reservations": {
      "get": {
        "operationId": "Reservations_ListByResourceGroup",
        "tags": [
          "Reservations"
        ],
        "description": "List Reservation resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/reservations/{reservationName}": {
      "get": {
        "operationId": "Reservations_Get",
        "tags": [
          "Reservations"
        ],
        "description": "Get a Reservation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "reservationName",
            "in": "path",
            "description": "The name of the reservation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Reservation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Reservations_CreateOrUpdate",
        "tags": [
          "Reservations"
        ],
        "description": "Create a Reservation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "reservationName",
            "in": "path",
            "description": "The name of the reservation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Reservation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Reservation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Reservation"
            }
          },
          "201": {
            "description": "Resource 'Reservation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Reservation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Reservations_Update",
        "tags": [
          "Reservations"
        ],
        "description": "Update a Reservation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "reservationName",
            "in": "path",
            "description": "The name of the reservation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Reservation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Reservations_Delete",
        "tags": [
          "Reservations"
        ],
        "description": "Delete a Reservation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "reservationName",
            "in": "path",
            "description": "The name of the reservation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/servers": {
      "get": {
        "operationId": "Servers_ListByResourceGroup",
        "tags": [
          "Servers"
        ],
        "description": "List Server resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/servers/{serverName}": {
      "get": {
        "operationId": "Servers_Get",
        "tags": [
          "Servers"
        ],
        "description": "Get a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Servers_CreateOrUpdate",
        "tags": [
          "Servers"
        ],
        "description": "Create a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Server' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "201": {
            "description": "Resource 'Server' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Server"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Servers_Update",
        "tags": [
          "Servers"
        ],
        "description": "Update a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Servers_Delete",
        "tags": [
          "Servers"
        ],
        "description": "Delete a Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.AszLabHardware/servers/{serverName}/allowMaintenance": {
      "post": {
        "operationId": "Servers_AllowMaintenance",
        "tags": [
          "Servers"
        ],
        "description": "Allows any requested maintenance on this Server",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Server",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "204": {
            "description": "Azure operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Drive": {
      "type": "object",
      "description": "Information regarding individual Disk Drives",
      "properties": {
        "id": {
          "type": "string",
          "description": "The Id of the disk drive"
        },
        "description": {
          "type": "string",
          "description": "Description of the disk drive"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the disk drive"
        },
        "model": {
          "type": "string",
          "description": "Disk drive model"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the disk drive"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the disk drive"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "Firmware version of the disk drive"
        },
        "mediaType": {
          "type": "string",
          "description": "Media type of the disk drive"
        },
        "capacityBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Capacity of the disk drive in bytes"
        }
      },
      "required": [
        "capacityBytes"
      ]
    },
    "DriveCollection": {
      "type": "object",
      "description": "Information regarding collection of disk drives",
      "properties": {
        "totalDriveCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total count of drives"
        },
        "totalDriveCapacityBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The total capacity in bytes"
        },
        "drives": {
          "type": "array",
          "description": "Information about individual disk drives",
          "items": {
            "$ref": "#/definitions/Drive"
          }
        }
      },
      "required": [
        "totalDriveCount",
        "totalDriveCapacityBytes",
        "drives"
      ]
    },
    "LabResourceAvailableForReservationState": {
      "type": "string",
      "description": "LabResource availability for reservation state.",
      "enum": [
        "NotAvailableForReservation",
        "AvailableForReservation"
      ],
      "x-ms-enum": {
        "name": "LabResourceAvailableForReservationState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotAvailableForReservation",
            "value": "NotAvailableForReservation",
            "description": "The LabResource is not available for reservation."
          },
          {
            "name": "AvailableForReservation",
            "value": "AvailableForReservation",
            "description": "The LabResource is available for reservation."
          }
        ]
      }
    },
    "LabResourceMaintenanceRequestState": {
      "type": "string",
      "description": "LabResource maintenance request state.",
      "enum": [
        "MaintenanceNotRequested",
        "MaintenanceRequested",
        "MaintenanceRequired"
      ],
      "x-ms-enum": {
        "name": "LabResourceMaintenanceRequestState",
        "modelAsString": true,
        "values": [
          {
            "name": "MaintenanceNotRequested",
            "value": "MaintenanceNotRequested",
            "description": "The LabResource is not requested for maintenance."
          },
          {
            "name": "MaintenanceRequested",
            "value": "MaintenanceRequested",
            "description": "The LabResource is requested for maintenance."
          },
          {
            "name": "MaintenanceRequired",
            "value": "MaintenanceRequired",
            "description": "The LabResource is required for maintenance."
          }
        ]
      }
    },
    "LabResourceMaintenanceStatus": {
      "type": "string",
      "description": "LabResource maintenance status.",
      "enum": [
        "MaintenanceNotRequested",
        "MaintenancePending",
        "InMaintenance",
        "ExclusiveAccess"
      ],
      "x-ms-enum": {
        "name": "LabResourceMaintenanceStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "MaintenanceNotRequested",
            "value": "MaintenanceNotRequested",
            "description": "The LabResource is not requested for maintenance."
          },
          {
            "name": "MaintenancePending",
            "value": "MaintenancePending",
            "description": "The LabResource is pending a requested maintenance."
          },
          {
            "name": "InMaintenance",
            "value": "InMaintenance",
            "description": "The LabResource is in maintenance."
          },
          {
            "name": "ExclusiveAccess",
            "value": "ExclusiveAccess",
            "description": "The LabResource is in exclusive access mode (not available for reservation)."
          }
        ]
      }
    },
    "LabResourceReservationStatus": {
      "type": "string",
      "description": "LabResource reservation status.",
      "enum": [
        "NotReserved",
        "Reserved"
      ],
      "x-ms-enum": {
        "name": "LabResourceReservationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotReserved",
            "value": "NotReserved",
            "description": "The LabResource is not reserved."
          },
          {
            "name": "Reserved",
            "value": "Reserved",
            "description": "The LabResource is reserved."
          }
        ]
      }
    },
    "LabServer": {
      "type": "object",
      "description": "A physical computer which can be reserved for use by a user",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LabServerProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LabServerListResult": {
      "type": "object",
      "description": "The response of a LabServer list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LabServer items on this page",
          "items": {
            "$ref": "#/definitions/LabServer"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LabServerProperties": {
      "type": "object",
      "description": "Details of the AszLabHw LabServer.",
      "properties": {
        "resourceManager": {
          "$ref": "#/definitions/ResourceManager",
          "description": "The current status of the GoalState",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The status of the LabServer",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "The Serial Number of the LabServer.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "IP address of the LabServer's BMC.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "inventory": {
          "$ref": "#/definitions/System",
          "description": "LabServer Inventory Information",
          "readOnly": true
        },
        "banner": {
          "type": "string",
          "description": "LabServer banner. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "nickname": {
          "type": "string",
          "description": "LabServer nickname. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "physicalLocation": {
          "type": "string",
          "description": "Physical location of the LabServer.",
          "readOnly": true
        },
        "availableForReservationState": {
          "$ref": "#/definitions/LabResourceAvailableForReservationState",
          "description": "LabServer availability for reservation.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "reservationStatus": {
          "$ref": "#/definitions/LabResourceReservationStatus",
          "description": "LabServer reservation status.",
          "readOnly": true
        },
        "maintenanceRequestState": {
          "$ref": "#/definitions/LabResourceMaintenanceRequestState",
          "description": "LabServer maintenance request state.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "maintenanceStatus": {
          "$ref": "#/definitions/LabResourceMaintenanceStatus",
          "description": "LabServer maintenance status.",
          "readOnly": true
        }
      },
      "required": [
        "serialNumber",
        "bmcIpAddress"
      ]
    },
    "LabServerUpdate": {
      "type": "object",
      "description": "The type used for update operations of the LabServer.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/LabServerUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "LabServerUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the LabServer.",
      "properties": {
        "banner": {
          "type": "string",
          "description": "LabServer banner. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "nickname": {
          "type": "string",
          "description": "LabServer nickname. Temporary field during development.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "availableForReservationState": {
          "$ref": "#/definitions/LabResourceAvailableForReservationState",
          "description": "LabServer availability for reservation.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "maintenanceRequestState": {
          "$ref": "#/definitions/LabResourceMaintenanceRequestState",
          "description": "LabServer maintenance request state.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "MemoryCollection": {
      "type": "object",
      "description": "Information regarding the RAM of the server",
      "properties": {
        "memoryModuleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of memory modules"
        },
        "totalSystemMemoryGiB": {
          "type": "integer",
          "format": "int64",
          "description": "Total memory of server in GiB"
        },
        "memoryModules": {
          "type": "array",
          "description": "Information of individual memory modules",
          "items": {
            "$ref": "#/definitions/MemoryModule"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "memoryModuleCount",
        "totalSystemMemoryGiB",
        "memoryModules"
      ]
    },
    "MemoryModule": {
      "type": "object",
      "description": "Information about the individual memory modules of the server",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the memory module"
        },
        "location": {
          "type": "string",
          "description": "Location of the memory module"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the memory module"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the memory module"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the memory module"
        },
        "capacityMiB": {
          "type": "integer",
          "format": "int64",
          "description": "Capacity of memory module in MiB"
        },
        "memoryDeviceType": {
          "type": "string",
          "description": "Device type of memory module"
        },
        "moduleProductId": {
          "type": "string",
          "description": "Product ID of memory module"
        }
      },
      "required": [
        "capacityMiB"
      ]
    },
    "NetDevice": {
      "type": "object",
      "description": "Information about a network device",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of network device"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the network device"
        },
        "model": {
          "type": "string",
          "description": "Model of the network device"
        },
        "partNumber": {
          "type": "string",
          "description": "Part number of the network device"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the network device"
        },
        "firmwareVersion": {
          "type": "string",
          "description": "Firmware version of the network device"
        },
        "portCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of ports on the network device"
        },
        "netDeviceMacs": {
          "type": "array",
          "description": "List of MACs for network device",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "type": "array",
          "description": "Information of individual ports on network device",
          "items": {
            "$ref": "#/definitions/Port"
          }
        }
      },
      "required": [
        "portCount",
        "netDeviceMacs",
        "ports"
      ]
    },
    "NetworkCollection": {
      "type": "object",
      "description": "Information regarding the network of the server",
      "properties": {
        "systemMacs": {
          "type": "array",
          "description": "The list of MAC addresses",
          "items": {
            "type": "string"
          }
        },
        "netDevices": {
          "type": "array",
          "description": "Information about the individual network devices of the server",
          "items": {
            "$ref": "#/definitions/NetDevice"
          }
        }
      }
    },
    "Port": {
      "type": "object",
      "description": "Information regarding an individual port",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of port"
        },
        "linkType": {
          "type": "string",
          "description": "Link type of port"
        },
        "linkSpeedMbps": {
          "type": "integer",
          "format": "int64",
          "description": "Link speed of port in Mbps"
        },
        "linkStatus": {
          "type": "string",
          "description": "Link status of port"
        },
        "associatedMacs": {
          "type": "array",
          "description": "Associated MACs of port",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "linkSpeedMbps"
      ]
    },
    "Processor": {
      "type": "object",
      "description": "Information regarding the processor of the server",
      "properties": {
        "name": {
          "type": "string",
          "description": "The processor name"
        },
        "manufacturer": {
          "type": "string",
          "description": "The processor manufacturer"
        },
        "model": {
          "type": "string",
          "description": "The processor model"
        },
        "version": {
          "type": "string",
          "description": "The processor version"
        },
        "microCodeInfo": {
          "type": "string",
          "description": "The microcode information"
        },
        "maxSpeedMhz": {
          "type": "integer",
          "format": "int64",
          "description": "The max clock speed"
        },
        "operatingSpeedMhz": {
          "type": "integer",
          "format": "int64",
          "description": "The operating clock speed"
        },
        "totalCores": {
          "type": "integer",
          "format": "int64",
          "description": "The number of cores"
        },
        "totalEnabledCores": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of enabled cores"
        },
        "totalThreads": {
          "type": "integer",
          "format": "int64",
          "description": "The total threads of the processor"
        },
        "turboState": {
          "type": "string",
          "description": "The turbo state of the processor"
        }
      }
    },
    "ProcessorCollection": {
      "type": "object",
      "description": "Information regarding the processors of the server",
      "properties": {
        "processorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Processor count total"
        },
        "logicalProcessorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Logical core count"
        },
        "processors": {
          "type": "array",
          "description": "The processors of the server",
          "items": {
            "$ref": "#/definitions/Processor"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "processorCount",
        "logicalProcessorCount",
        "processors"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource work has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Reservation": {
      "type": "object",
      "description": "A physical computer which can be reserved for use by a user",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ReservationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ReservationListResult": {
      "type": "object",
      "description": "The response of a Reservation list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Reservation items on this page",
          "items": {
            "$ref": "#/definitions/Reservation"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ReservationProperties": {
      "type": "object",
      "description": "Details of the AszLabHw Reservation.",
      "properties": {
        "resourceManager": {
          "$ref": "#/definitions/ResourceManager",
          "description": "The current status of the GoalState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "serverAssociations": {
          "type": "array",
          "description": "The set of Servers to create the reservation.",
          "items": {
            "$ref": "#/definitions/ServerAssociation"
          },
          "x-ms-identifiers": [
            "server"
          ],
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "ReservationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Reservation.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ResourceManager": {
      "type": "object",
      "description": "The properties of the resource manager.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ResourceManagerStatus",
          "description": "The current status of the ResourceManager"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message of the ResourceManager (if in failed state)"
        }
      },
      "required": [
        "status"
      ]
    },
    "ResourceManagerStatus": {
      "type": "string",
      "description": "The status of the resource manager.",
      "enum": [
        "Creating",
        "Converging",
        "Converged",
        "Deleting",
        "FailedToCreate",
        "FailedToConverge",
        "FailedToDelete"
      ],
      "x-ms-enum": {
        "name": "ResourceManagerStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Converging",
            "value": "Converging",
            "description": "The resource is being converged."
          },
          {
            "name": "Converged",
            "value": "Converged",
            "description": "The resource is converged."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "FailedToCreate",
            "value": "FailedToCreate",
            "description": "The resource failed to create."
          },
          {
            "name": "FailedToConverge",
            "value": "FailedToConverge",
            "description": "The resource failed to converge."
          },
          {
            "name": "FailedToDelete",
            "value": "FailedToDelete",
            "description": "The resource failed to delete."
          }
        ]
      }
    },
    "Server": {
      "type": "object",
      "description": "A Server object which will be connected to a LabServer upon successful reservation",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ServerAssociation": {
      "type": "object",
      "description": "Details of the AszLabHw Reservation Server association.",
      "properties": {
        "server": {
          "$ref": "#/definitions/ServerResourceId",
          "description": "The Server resource to be used for this constraint.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the server to be reserved.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the server to be reserved.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "server"
      ]
    },
    "ServerListResult": {
      "type": "object",
      "description": "The response of a Server list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Server items on this page",
          "items": {
            "$ref": "#/definitions/Server"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServerProperties": {
      "type": "object",
      "description": "Details of the AszLabHw Server.",
      "properties": {
        "resourceManager": {
          "$ref": "#/definitions/ResourceManager",
          "description": "The current status of the GoalState",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "userName": {
          "type": "string",
          "description": "User name of the account credential to authenticate to the server.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "userPasswordKeyVaultUri": {
          "type": "string",
          "description": "Keyvault Uri for the password of the account credential to authenticate to the server.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "associationStatus": {
          "$ref": "#/definitions/UserLabResourceAssociationStatus",
          "description": "Server association with LabServer status.",
          "readOnly": true
        },
        "bmcIpAddress": {
          "type": "string",
          "description": "IP address of the associated LabServer's BMC.",
          "readOnly": true
        },
        "inventory": {
          "$ref": "#/definitions/System",
          "description": "Inventory Information of the associated LabServer.",
          "readOnly": true
        },
        "maintenanceStatus": {
          "$ref": "#/definitions/UserLabResourceMaintenanceStatus",
          "description": "Maintenance status of the associated LabServer.",
          "readOnly": true
        }
      }
    },
    "ServerResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.AszLabHardware/servers"
          }
        ]
      }
    },
    "ServerUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Server.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ServerUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "ServerUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Server.",
      "properties": {
        "userName": {
          "type": "string",
          "description": "User name of the account credential to authenticate to the server.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "userPasswordKeyVaultUri": {
          "type": "string",
          "description": "Keyvault Uri for the password of the account credential to authenticate to the server.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "StorageCollection": {
      "type": "object",
      "description": "Information regarding the storage of the server",
      "properties": {
        "totalDriveCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of disk drives"
        },
        "totalDriveCapacityBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The total capacity in bytes"
        },
        "ssdSata": {
          "$ref": "#/definitions/DriveCollection",
          "description": "SSD_SATA Disk drive collections"
        },
        "hdd": {
          "$ref": "#/definitions/DriveCollection",
          "description": "HDD Disk drive collections"
        },
        "ssdNvme": {
          "$ref": "#/definitions/DriveCollection",
          "description": "SSD_NVMe Disk drive collections"
        }
      },
      "required": [
        "totalDriveCount",
        "totalDriveCapacityBytes",
        "ssdSata",
        "hdd",
        "ssdNvme"
      ]
    },
    "System": {
      "type": "object",
      "description": "Details of the physical properties of the AszLabHw Server System",
      "properties": {
        "bmcIpAddress": {
          "type": "string",
          "description": "The IP Address of the server"
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of the server"
        },
        "model": {
          "type": "string",
          "description": "The model of the server"
        },
        "partNumber": {
          "type": "string",
          "description": "The part number of the server"
        },
        "serviceTag": {
          "type": "string",
          "description": "The service tag of the server"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the server"
        },
        "assetTag": {
          "type": "string",
          "description": "The asset tag of the server"
        },
        "hostName": {
          "type": "string",
          "description": "The host name of the server"
        },
        "biosVersion": {
          "type": "string",
          "description": "The BIOS version of the server"
        },
        "cpldVersion": {
          "type": "string",
          "description": "The complex programmable logic device version of the server"
        },
        "tpm": {
          "type": "string",
          "description": "The TPM of the server"
        },
        "tpmFirmware": {
          "type": "string",
          "description": "The firmware of the TPM"
        },
        "processorInventory": {
          "$ref": "#/definitions/ProcessorCollection",
          "description": "The CPUs of the server"
        },
        "memoryInventory": {
          "$ref": "#/definitions/MemoryCollection",
          "description": "The memory information of the server"
        },
        "storageInventory": {
          "$ref": "#/definitions/StorageCollection",
          "description": "The disk information of the server"
        },
        "networkInventory": {
          "$ref": "#/definitions/NetworkCollection",
          "description": "The network information of the server"
        }
      },
      "required": [
        "networkInventory"
      ]
    },
    "UserLabResourceAssociationStatus": {
      "type": "string",
      "description": "Resource association status.",
      "enum": [
        "NotAssociated",
        "Associated"
      ],
      "x-ms-enum": {
        "name": "UserLabResourceAssociationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotAssociated",
            "value": "NotAssociated",
            "description": "The Resource is not associated with hardware in the lab."
          },
          {
            "name": "Associated",
            "value": "Associated",
            "description": "The Resource is associated with hardware in the lab."
          }
        ]
      }
    },
    "UserLabResourceMaintenanceStatus": {
      "type": "string",
      "description": "Resource maintenance status.",
      "enum": [
        "MaintenanceNotRequested",
        "MaintenanceRequested",
        "InMaintenance",
        "ExclusiveAccess"
      ],
      "x-ms-enum": {
        "name": "UserLabResourceMaintenanceStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "MaintenanceNotRequested",
            "value": "MaintenanceNotRequested",
            "description": "The Resource is not requested for maintenance."
          },
          {
            "name": "MaintenanceRequested",
            "value": "MaintenanceRequested",
            "description": "The Resource has been requested for maintenance."
          },
          {
            "name": "InMaintenance",
            "value": "InMaintenance",
            "description": "The Resource is in maintenance."
          },
          {
            "name": "ExclusiveAccess",
            "value": "ExclusiveAccess",
            "description": "The Resource is in exclusive access mode (not available for reservation)."
          }
        ]
      }
    }
  },
  "parameters": {}
}
