output-dir: "{project-root}/../"
emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    emitter-output-dir: "{output-dir}"
    azure-resource-provider-folder: "resource-manager"
    examples-directory: "{project-root}/examples"
linter:
  extends:
    - "@azure-tools/typespec-azure-resource-manager/all"
