emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    emitter-output-dir: "{project-root}/.."
    azure-resource-provider-folder: "resource-manager"
    output-file: "{azure-resource-provider-folder}/{service-name}/{version-status}/{version}/openapi.json"
  "@azure-tools/typespec-csharp":
    package-dir: "Azure.ResourceManager.Farmer"
    clear-output-folder: true
    model-namespace: false
    namespace: "{package-dir}"
    flavor: azure
  "@azure-tools/typespec-python":
    package-dir: "azure-mgmt-farmer"
    package-name: "{package-dir}"
    generate-test: true
    generate-sample: true
    flavor: azure
  "@azure-tools/typespec-java":
    package-dir: "azure-resourcemanager-farmer"
    namespace: "com.azure.resourcemanager.farmer"
    service-name: "farmer"
    flavor: azure
  "@azure-tools/typespec-ts":
    package-dir: "arm-farmer"
    azureSdkForJs: true
    isModularLibrary: true
    generateMetadata: true
    hierarchyClient: false
    experimentalExtensibleEnums: true
    enableOperationGroup: true
    packageDetails:
      name: "@azure/{package-dir}"
    flavor: azure
  "@azure-tools/typespec-go":
    service-dir: "sdk/resourcemanager/farmer"
    package-dir: "armfarmer"
    module: "github.com/Azure/azure-sdk-for-go/{service-dir}/{package-dir}"
    fix-const-stuttering: true
    generate-samples: true
    generate-fakes: true
    head-as-boolean: true
    inject-spans: true
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/resource-manager"
