{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft ESRP",
    "version": "2023-05-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EnterpriseSupportsResource"
    },
    {
      "name": "ProviderLevelOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.EnterpriseSupport/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/Operations_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.EnterpriseSupport/validate": {
      "post": {
        "tags": [
          "ProviderLevelOperations"
        ],
        "operationId": "ProviderLevelOperations_Validate",
        "description": "ProviderLevel operation to check eligibility to create Enterprise Support",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateEnterpriseSupportRequestItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidateEnterpriseSupportResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidateEnterpriseSupportEligibility": {
            "$ref": "./examples/ProviderLevelOperations_Validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EnterpriseSupport/EnterpriseSupports": {
      "get": {
        "tags": [
          "EnterpriseSupportsResource"
        ],
        "operationId": "EnterpriseSupportsResource_ListBySubscription",
        "description": "List EnterpriseSupports resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnterpriseSupportsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EnterpriseSupports_ListBySubscription": {
            "$ref": "./examples/EnterpriseSupportsResource_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseSupport/EnterpriseSupports": {
      "get": {
        "tags": [
          "EnterpriseSupportsResource"
        ],
        "operationId": "EnterpriseSupportsResource_ListByResourceGroup",
        "description": "List EnterpriseSupports resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnterpriseSupportsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EnterpriseSupports_ListByResourceGroup": {
            "$ref": "./examples/EnterpriseSupportsResource_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseSupport/EnterpriseSupports/{EnterpriseSupportName}": {
      "get": {
        "tags": [
          "EnterpriseSupportsResource"
        ],
        "operationId": "EnterpriseSupportsResource_Get",
        "description": "Get a EnterpriseSupports",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "EnterpriseSupportName",
            "in": "path",
            "required": true,
            "description": "The name of the  Enterprise Support",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnterpriseSupports"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetentErpriseSupports": {
            "$ref": "./examples/EnterpriseSupportsResource_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "EnterpriseSupportsResource"
        ],
        "operationId": "EnterpriseSupportsResource_CreateOrUpdate",
        "description": "Create a EnterpriseSupports",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "EnterpriseSupportName",
            "in": "path",
            "required": true,
            "description": "The name of the  Enterprise Support",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/EnterpriseSupports"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnterpriseSupports"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/EnterpriseSupports"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateEnterpriseSupports": {
            "$ref": "./examples/EnterpriseSupportsResource_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "EnterpriseSupportsResource"
        ],
        "operationId": "EnterpriseSupportsResource_Update",
        "description": "Update a EnterpriseSupports",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "EnterpriseSupportName",
            "in": "path",
            "required": true,
            "description": "The name of the  Enterprise Support",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/EnterpriseSupportsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnterpriseSupports"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateEnterpriseSupports": {
            "$ref": "./examples/EnterpriseSupportsResource_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "EnterpriseSupportsResource"
        ],
        "operationId": "EnterpriseSupportsResource_Delete",
        "description": "Delete a EnterpriseSupports",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "EnterpriseSupportName",
            "in": "path",
            "required": true,
            "description": "The name of the  Enterprise Support",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteEnterpriseSupports": {
            "$ref": "./examples/EnterpriseSupportsResource_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "EnterpriseSupports": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnterpriseSupportsResponseProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A ESRPProviderHub resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EnterpriseSupportsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnterpriseSupports"
          },
          "x-typespec-name": "EnterpriseSupports[]",
          "description": "The EnterpriseSupports items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a EnterpriseSupports list operation.",
      "required": [
        "value"
      ]
    },
    "EnterpriseSupportsResponseProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning status"
        },
        "billingAccountId": {
          "type": "string",
          "description": "Billing Account ID"
        },
        "billingGroupId": {
          "type": "string",
          "description": "Billing Group ID"
        },
        "projectId": {
          "type": "string",
          "description": "Invoice section for the billing account"
        },
        "productId": {
          "type": "string",
          "description": "BicCat product ID"
        },
        "skuId": {
          "type": "string",
          "description": "BigCat SKU ID"
        },
        "availabilityId": {
          "type": "string",
          "description": "BigCat availability ID"
        },
        "termId": {
          "type": "string",
          "description": "BigCat Term ID"
        },
        "quantity": {
          "description": "Quantity for the purchase"
        },
        "serviceStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Service start date for  Enterprise Support"
        },
        "csam": {
          "type": "string",
          "description": "CSAM for the  Enterprise Support"
        },
        "upn": {
          "type": "string",
          "description": "Product UPN"
        }
      },
      "description": "Details of the ESRP EnterpriseSupport.",
      "required": [
        "billingAccountId",
        "billingGroupId",
        "projectId",
        "quantity",
        "serviceStartDate",
        "csam",
        "upn"
      ]
    },
    "EnterpriseSupportsUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/EnterpriseSupportsUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the EnterpriseSupports."
    },
    "EnterpriseSupportsUpdateProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning status"
        },
        "billingAccountId": {
          "type": "string",
          "description": "Billing Account ID"
        },
        "billingGroupId": {
          "type": "string",
          "description": "Billing Group ID"
        },
        "projectId": {
          "type": "string",
          "description": "Invoice section for the billing account"
        },
        "productId": {
          "type": "string",
          "description": "BicCat product ID"
        },
        "skuId": {
          "type": "string",
          "description": "BigCat SKU ID"
        },
        "availabilityId": {
          "type": "string",
          "description": "BigCat availability ID"
        },
        "termId": {
          "type": "string",
          "description": "BigCat Term ID"
        },
        "quantity": {
          "description": "Quantity for the purchase"
        },
        "serviceStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Service start date for  Enterprise Support"
        },
        "csam": {
          "type": "string",
          "description": "CSAM for the  Enterprise Support"
        },
        "upn": {
          "type": "string",
          "description": "Product UPN"
        }
      },
      "description": "The updatable properties of the EnterpriseSupports."
    },
    "LineItem": {
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The purchasing scope"
        },
        "upn": {
          "type": "string",
          "description": "The upn of a product."
        },
        "quantity": {
          "description": "The quantity for this purchase"
        }
      },
      "description": "The item to be validated.",
      "required": [
        "scope",
        "upn",
        "quantity"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ValidateEnterpriseSupportRequestItem": {
      "type": "object",
      "properties": {
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItem"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "LineItem[]",
          "description": "The array of line items to be validated"
        }
      },
      "description": "The request for an eligibility check.",
      "required": [
        "lineItems"
      ]
    },
    "ValidateEnterpriseSupportResponse": {
      "type": "object",
      "properties": {
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidateEnterpriseSupportResponseItem"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "ValidateEnterpriseSupportResponseItem[]",
          "description": "The array of line item validations."
        }
      },
      "description": "The response for an eligibility check.",
      "required": [
        "lineItems"
      ]
    },
    "ValidateEnterpriseSupportResponseItem": {
      "type": "object",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The purchasing scope"
        },
        "upn": {
          "type": "string",
          "description": "The upn of a product."
        },
        "quantity": {
          "description": "The quantity for this purchase"
        },
        "isEligible": {
          "type": "string",
          "description": "Possible values are: eligible, ineligible and undetermined"
        },
        "reason": {
          "type": "string",
          "description": "String reason for isEligible"
        },
        "reasonCode": {
          "description": "Code reason for isEligible"
        }
      },
      "description": "The item for an eligibility check.",
      "required": [
        "scope",
        "upn",
        "quantity",
        "isEligible",
        "reason",
        "reasonCode"
      ]
    }
  },
  "parameters": {}
}
