{
  "swagger": "2.0",
  "info": {
    "title": "Foundational ARM Client",
    "description": "DstsApplication Provider",
    "version": "2021-08-10-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCIS/dstsApplications/{resourceName}": {
      "put": {
        "description": "Add Dsms Folder Allowlists",
        "x-ms-examples": {
          "Create a DstsApplication Account": {
            "$ref": "./examples/CreateDstsApplicationAccount.json"
          },
          "Create a DstsApplication Group": {
            "$ref": "./examples/CreateDstsApplicationGroup.json"
          }
        },
        "operationId": "DstsApplication_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "DstsApplication",
            "description": "DstsApplication details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstsApplicationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DstsApplication Resource updated successfully.",
            "schema": {
              "$ref": "#/definitions/DstsApplicationModel"
            }
          },
          "201": {
            "description": "DstsApplication Resource created successfully.",
            "schema": {
              "$ref": "#/definitions/DstsApplicationModel"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApplicationAccount": {
      "required": [
        "dstsInstance",
        "name",
        "serviceTreeId"
      ],
      "type": "object",
      "description": "Application account properties",
      "properties": {
        "dstsInstance": {
          "type": "string",
          "description": "The dSTS instance where the Application resides."
        },
        "name": {
          "type": "string",
          "description": "The name of the Application."
        },
        "serviceTreeId": {
          "type": "string",
          "description": "Service Tree GUID of the service who owns the Application."
        },
        "realms": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A realm"
          },
          "description": "Optional. The realms of the application.",
          "x-ms-identifiers": []
        },
        "servicePrincipalNames": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A service principal name"
          },
          "description": "Optional. The Service Principal Names of the application.",
          "x-ms-identifiers": []
        },
        "replyToAddresses": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A reply address"
          },
          "description": "Optional. The Reply Addresses of application.",
          "x-ms-identifiers": []
        },
        "groupId": {
          "type": "string",
          "description": "Optional. GUID of the dSCM Application group to which the Application belongs."
        },
        "groupName": {
          "type": "string",
          "description": "Optional. Group name of the dSCM Application group to which the Application belongs."
        },
        "isMfaEnabled": {
          "type": "boolean",
          "description": "Optional. If set to true, authenticating to the application requires MFA."
        },
        "sawDeviceEnforcement": {
          "type": "string",
          "description": "Optional. If it is null, full SAW enforcement will apply to the application."
        },
        "isElevatedAccess": {
          "type": "boolean",
          "description": "Optional. If you application (service) is exclusively limited to System Metadata, Read-Only access levels, set it to false."
        },
        "isProduction": {
          "type": "boolean",
          "description": "Optional. If your application (service) is exclusively NonProduction, set it to false."
        }
      }
    },
    "ApplicationGroup": {
      "required": [
        "cloudId",
        "name",
        "serviceTreeId"
      ],
      "type": "object",
      "description": "Application account properties",
      "properties": {
        "id": {
          "type": "string",
          "description": "Group ID"
        },
        "serviceTreeId": {
          "type": "string",
          "description": "Service Tree GUID of the service who owns the application group"
        },
        "name": {
          "type": "string",
          "description": "Group name"
        },
        "applicationName": {
          "type": "string",
          "description": "Optional. Group application name"
        },
        "servicePrincipalNames": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A service principal name"
          },
          "description": "Optional. The Service Principal Names of the application group.",
          "x-ms-identifiers": []
        },
        "realms": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "An actor realm"
          },
          "description": "Optional. The realms of the application group.",
          "x-ms-identifiers": []
        },
        "replyToAddresses": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A reply address"
          },
          "description": "Optional. The Reply Addresses of application group.",
          "x-ms-identifiers": []
        },
        "isMfaEnabled": {
          "type": "boolean",
          "description": "Optional. If set to true, authenticating to the application requires MFA."
        },
        "isGlobalService": {
          "type": "boolean",
          "description": "Optional. If not set, default is regional service."
        },
        "sawDeviceEnforcement": {
          "type": "string",
          "description": "Optional. If it is null, full SAW enforcement will apply to the application."
        },
        "clientTokenIpRangeRestrictions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/IpRange"
          },
          "description": "Optional. Client token ip range.",
          "x-ms-identifiers": []
        },
        "cloudId": {
          "type": "string",
          "description": "Cloud ID"
        },
        "clientSubscriptions": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A subscription"
          },
          "description": "Optional. Client subscriptions.",
          "x-ms-identifiers": []
        },
        "regions": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "A region"
          },
          "description": "Optional. Specific dSTS instances to create applications on.",
          "x-ms-identifiers": []
        }
      }
    },
    "IpRange": {
      "type": "object",
      "properties": {
        "toIpAddress": {
          "type": "string",
          "description": "To IP address"
        }
      }
    },
    "DstsApplicationResource": {
      "type": "object",
      "description": "DstsApplication properties",
      "properties": {
        "applicationAccount": {
          "type": "object",
          "$ref": "#/definitions/ApplicationAccount"
        },
        "applicationGroup": {
          "type": "object",
          "$ref": "#/definitions/ApplicationGroup"
        }
      }
    },
    "DstsApplicationModel": {
      "type": "object",
      "description": "DstsApplication Response",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "DstsApplication properties with provisioning state",
          "type": "object",
          "properties": {
            "provisioningState": {
              "$ref": "#/definitions/ProvisioningState",
              "description": "The provisioning State of the resource."
            }
          },
          "allOf": [
            {
              "$ref": "#/definitions/DstsApplicationResource"
            }
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ProvisioningState": {
      "description": "Provisioning status of the resource.",
      "readOnly": true,
      "enum": [
        "Failed",
        "Succeeded",
        "Canceled",
        "Accepted"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
