{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "version": "2024-12-01-preview",
    "description": "Workloads client provides access to various workload operations.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "VirtualInstances"
    },
    {
      "name": "WorkloadComponents"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Private.Workloads/virtualInstances": {
      "get": {
        "operationId": "VirtualInstances_ListBySubscription",
        "tags": [
          "VirtualInstances"
        ],
        "description": "Gets all Virtual Instance resources in a Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List virtual instances by subscription - sample 1": {
            "$ref": "./examples/VirtualInstances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Workloads/virtualInstances": {
      "get": {
        "operationId": "VirtualInstances_ListByResourceGroup",
        "tags": [
          "VirtualInstances"
        ],
        "description": "Gets all Virtual Instance resources in a Resource Group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List virtual instances by resource group - sample 1": {
            "$ref": "./examples/VirtualInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Workloads/virtualInstances/{virtualInstanceName}": {
      "get": {
        "operationId": "VirtualInstances_Get",
        "tags": [
          "VirtualInstances"
        ],
        "description": "Gets a Virtual Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a virtual instance - sample 1": {
            "$ref": "./examples/VirtualInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualInstances_Create",
        "tags": [
          "VirtualInstances"
        ],
        "description": "Creates a Virtual Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body to create the Virtual Instance resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualInstance"
            }
          },
          "201": {
            "description": "Resource 'VirtualInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Register a virtual instance - sample 1": {
            "$ref": "./examples/VirtualInstances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualInstances_Update",
        "tags": [
          "VirtualInstances"
        ],
        "description": "Updates a Virtual Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Request body to update the Virtual Instance resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateVirtualInstanceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualInstance"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a virtual instance - sample 1": {
            "$ref": "./examples/VirtualInstances_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualInstances_Delete",
        "tags": [
          "VirtualInstances"
        ],
        "description": "Deletes a Virtual Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a virtual instance - sample 1": {
            "$ref": "./examples/VirtualInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Workloads/virtualInstances/{virtualInstanceName}/components": {
      "get": {
        "operationId": "WorkloadComponents_List",
        "tags": [
          "WorkloadComponents"
        ],
        "description": "List all the workload components corresponding to the Virtual Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadComponentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List workload components by virtual instance - sample 1": {
            "$ref": "./examples/WorkloadComponents_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.Workloads/virtualInstances/{virtualInstanceName}/components/{componentName}": {
      "get": {
        "operationId": "WorkloadComponents_Get",
        "tags": [
          "WorkloadComponents"
        ],
        "description": "Gets the workload component corresponding to the Virtual Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "componentName",
            "in": "path",
            "description": "The name of the Workload Component resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadComponent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a workload component - sample 1": {
            "$ref": "./examples/WorkloadComponents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "WorkloadComponents_Create",
        "tags": [
          "WorkloadComponents"
        ],
        "description": "Creates a workload component corresponding to the Virtual Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "componentName",
            "in": "path",
            "description": "The name of the Workload Component resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body to create the Workload Component resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadComponent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'WorkloadComponent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/WorkloadComponent"
            }
          },
          "201": {
            "description": "Resource 'WorkloadComponent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/WorkloadComponent"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a workload component - sample 1": {
            "$ref": "./examples/WorkloadComponents_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "WorkloadComponents_Update",
        "tags": [
          "WorkloadComponents"
        ],
        "description": "Updates a workload component corresponding to the Virtual Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "componentName",
            "in": "path",
            "description": "The name of the Workload Component resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Request body to update the Workload Component resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateWorkloadComponentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadComponent"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a workload component - sample 1": {
            "$ref": "./examples/WorkloadComponents_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "WorkloadComponents_Delete",
        "tags": [
          "WorkloadComponents"
        ],
        "description": "Deletes the workload component corresponding to the Virtual Instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instance resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "componentName",
            "in": "path",
            "description": "The name of the Workload Component resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a workload component - sample 1": {
            "$ref": "./examples/WorkloadComponents_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "EnvironmentType": {
      "type": "string",
      "description": "Defines the environment type.",
      "enum": [
        "NonProduction",
        "Production"
      ],
      "x-ms-enum": {
        "name": "EnvironmentType",
        "modelAsString": true,
        "values": [
          {
            "name": "NonProduction",
            "value": "NonProduction",
            "description": "Non Production system."
          },
          {
            "name": "Production",
            "value": "Production",
            "description": "Production system."
          }
        ]
      }
    },
    "ErrorDefinition": {
      "type": "object",
      "description": "Error definition.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Description of the error.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "Internal error details.",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "ManagedResourceGroupConfiguration": {
      "type": "object",
      "description": "Defines the managed resource group configuration.",
      "properties": {
        "managedResourceGroupName": {
          "type": "string",
          "description": "Name of the managed resource group."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceGroupConfiguration"
        }
      ],
      "x-ms-discriminator-value": "ManagedResourceGroup"
    },
    "ResourceConfiguration": {
      "type": "object",
      "description": "Defines the resource configuration.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "ARM ID of the resource."
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "ResourceGroupConfiguration": {
      "type": "object",
      "description": "Defines the resource group configuration.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ResourceGroupType",
          "description": "Type of the resource group - User RG / Managed RG."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ResourceGroupType": {
      "type": "string",
      "description": "Defines the resource group type.",
      "enum": [
        "ManagedResourceGroup",
        "UserResourceGroup"
      ],
      "x-ms-enum": {
        "name": "ResourceGroupType",
        "modelAsString": true,
        "values": [
          {
            "name": "ManagedResourceGroup",
            "value": "ManagedResourceGroup",
            "description": "The managed resource group which the service will create and use to deploy any supporting resources. Service is responsible for managing its lifecycle."
          },
          {
            "name": "UserResourceGroup",
            "value": "UserResourceGroup",
            "description": "User provided resource group which will be created beforehand by the user. Service will only use this RG to deploy any supporting resources and won't manage the lifecycle of this."
          }
        ]
      }
    },
    "ResourceProvisioningState": {
      "type": "string",
      "description": "Defines the resource provisioning states.",
      "enum": [
        "Succeeded",
        "Updating",
        "Creating",
        "Failed",
        "Deleting",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The succeeded provisioning state."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The updating provisioning state."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The Creating provisioning state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The Failed provisioning state."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The Deleting provisioning state."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The Canceled provisioning state."
          }
        ]
      },
      "readOnly": true
    },
    "SystemLifecycleStage": {
      "type": "string",
      "description": "Defines the possible values for system lifecycle stage.",
      "enum": [
        "Active",
        "InActive",
        "InBuild"
      ],
      "x-ms-enum": {
        "name": "SystemLifecycleStage",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "The stage indicating that the workload system is fully built, and is up & running."
          },
          {
            "name": "InActive",
            "value": "InActive",
            "description": "The stage indicating that the workload system is fully built but either not running or being decommissioned."
          },
          {
            "name": "InBuild",
            "value": "InBuild",
            "description": "The stage indicating that the workload system is being built."
          }
        ]
      }
    },
    "UpdateVirtualInstanceProperties": {
      "type": "object",
      "description": "Defines the update request body properties for updating the Virtual Instance resource.",
      "properties": {
        "environmentLabel": {
          "type": "string",
          "description": "The user defined label indicating the sub category of the environment in which the workload system is deployed."
        },
        "systemPriority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the workload system. The value must be an integer between 0 (highest priority) and 9 (lowest priority)."
        },
        "systemLifecycleStage": {
          "$ref": "#/definitions/SystemLifecycleStage",
          "description": "The current stage in the lifecycle of the workload system."
        },
        "metadata": {
          "type": "object",
          "description": "Metadata pertaining to the workload system.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateVirtualInstanceRequest": {
      "type": "object",
      "description": "Defines the request body for updating the Virtual Instance resource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Gets or sets the Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "Managed service identity (user assigned identities)"
        },
        "properties": {
          "$ref": "#/definitions/UpdateVirtualInstanceProperties",
          "description": "The properties to be updated."
        }
      }
    },
    "UpdateWorkloadComponentProperties": {
      "type": "object",
      "description": "Defines the update request body properties for updating the workload component resource.",
      "properties": {
        "resources": {
          "type": "array",
          "description": "Resources that are part of the component.",
          "items": {
            "$ref": "#/definitions/ResourceConfiguration"
          },
          "x-ms-identifiers": []
        },
        "metadata": {
          "type": "object",
          "description": "Metadata pertaining to the component.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateWorkloadComponentRequest": {
      "type": "object",
      "description": "Defines the request body for updating the workload component resource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Gets or sets the Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "Managed service identity (user assigned identities)"
        },
        "properties": {
          "$ref": "#/definitions/UpdateWorkloadComponentProperties",
          "description": "The properties to be updated."
        }
      }
    },
    "UserResourceGroupConfiguration": {
      "type": "object",
      "description": "Defines the user provided resource group configuration.",
      "properties": {
        "resourceGroupName": {
          "type": "string",
          "description": "Name of the user provided resource group."
        }
      },
      "required": [
        "resourceGroupName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ResourceGroupConfiguration"
        }
      ],
      "x-ms-discriminator-value": "UserResourceGroup"
    },
    "VirtualInstance": {
      "type": "object",
      "description": "Defines the Virtual Instance (VI) resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualInstanceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "kind": {
          "type": "string",
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.",
          "pattern": "^[-\\w\\._,\\(\\\\\\)]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "VirtualInstanceError": {
      "type": "object",
      "description": "An error response from the Workload Center service.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The Virtual Instance error body."
        }
      }
    },
    "VirtualInstanceListResult": {
      "type": "object",
      "description": "The response of a VirtualInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VirtualInstance items on this page",
          "items": {
            "$ref": "#/definitions/VirtualInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VirtualInstanceProperties": {
      "type": "object",
      "description": "Defines the Virtual Instance resource properties.",
      "properties": {
        "architectureId": {
          "type": "string",
          "description": "The ID corresponding to the deployment architecture of the system."
        },
        "environmentType": {
          "$ref": "#/definitions/EnvironmentType",
          "description": "The type of environment in which the workload system is deployed - Production / Non Production."
        },
        "environmentLabel": {
          "type": "string",
          "description": "The user defined label indicating the sub category of the environment in which the workload system is deployed."
        },
        "systemPriority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the workload system. The value must be an integer between 0 (highest priority) and 9 (lowest priority).",
          "minimum": 0,
          "maximum": 9
        },
        "systemLifecycleStage": {
          "$ref": "#/definitions/SystemLifecycleStage",
          "description": "The current stage in the lifecycle of the workload system."
        },
        "metadata": {
          "type": "object",
          "description": "Metadata pertaining to the workload system.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dependsOn": {
          "type": "array",
          "description": "The list of ARM IDs of the virtual instances that the system is dependent on. The ARM IDs must belong to the resources of type 'Private.Workloads/virtualInstances'.",
          "items": {
            "$ref": "#/definitions/WorkloadResourceId"
          }
        },
        "resourceGroupConfiguration": {
          "$ref": "#/definitions/ResourceGroupConfiguration",
          "description": "The configuration object for resource group (Managed or User provided) where supporting resources will be deployed. If this field is passed as null, this will be defaulted to UserResourceGroupConfiguration and resource group name will be same as that of the RG in which the Virtual Instance resource will be created."
        },
        "state": {
          "$ref": "#/definitions/VirtualInstanceState",
          "description": "Defines the state of the virtual instance.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "Defines the virtual instance provisioning state.",
          "readOnly": true
        },
        "errors": {
          "$ref": "#/definitions/VirtualInstanceError",
          "description": "Indicates any errors on the Virtual Instance resource.",
          "readOnly": true
        }
      },
      "required": [
        "architectureId",
        "environmentType",
        "systemPriority",
        "systemLifecycleStage"
      ]
    },
    "VirtualInstanceState": {
      "type": "string",
      "description": "Defines the Virtual Instance state.",
      "enum": [
        "RegistrationInProgress",
        "RegistrationFailed",
        "RegistrationComplete"
      ],
      "x-ms-enum": {
        "name": "VirtualInstanceState",
        "modelAsString": true,
        "values": [
          {
            "name": "RegistrationInProgress",
            "value": "RegistrationInProgress",
            "description": "Registration is in progress."
          },
          {
            "name": "RegistrationFailed",
            "value": "RegistrationFailed",
            "description": "Registration has failed."
          },
          {
            "name": "RegistrationComplete",
            "value": "RegistrationComplete",
            "description": "Registration is complete."
          }
        ]
      }
    },
    "WorkloadComponent": {
      "type": "object",
      "description": "Defines the Workload Component resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadComponentProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WorkloadComponentListResult": {
      "type": "object",
      "description": "The response of a WorkloadComponent list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The WorkloadComponent items on this page",
          "items": {
            "$ref": "#/definitions/WorkloadComponent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "WorkloadComponentProperties": {
      "type": "object",
      "description": "Defines the workload component properties.",
      "properties": {
        "componentType": {
          "type": "string",
          "description": "Type of the component. Allowed values change based on the workload type and will be defined in the workload definition. Examples include \"application\", \"database\", \"central\" etc."
        },
        "componentRole": {
          "type": "string",
          "description": "Role of the component. There can be multiple roles for a same component type. Allowed values change based on the workload type and will be defined in the workload definition. Examples include \"pas\"/\"aas\" for application component, \"ascs\"/\"ers\" for central component, \"backup\", etc."
        },
        "resources": {
          "type": "array",
          "description": "Resources that are part of the component.",
          "items": {
            "$ref": "#/definitions/ResourceConfiguration"
          },
          "x-ms-identifiers": []
        },
        "metadata": {
          "type": "object",
          "description": "Metadata pertaining to the component.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "Defines the workload component provisioning state.",
          "readOnly": true
        },
        "errors": {
          "$ref": "#/definitions/VirtualInstanceError",
          "description": "Indicates any errors on the workload component resource.",
          "readOnly": true
        }
      },
      "required": [
        "componentType",
        "resources"
      ]
    },
    "WorkloadResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Private.Workloads/virtualInstances"
          }
        ]
      }
    }
  },
  "parameters": {}
}
