{
  "swagger": "2.0",
  "info": {
    "version": "2021-08-01",
    "title": "ShareBaseManagementClient",
    "description": "Creates a Microsoft.ShareBase management client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ShareBase/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Accounts in a subscription",
        "description": "List Accounts in Subscription",
        "operationId": "Accounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.ShareBase resource provider.",
            "schema": {
              "$ref": "#/definitions/ShareBaseError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Accounts_ListBySubscription": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ShareBase/accounts/{accountName}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get an account under a resource group",
        "description": "Get an account",
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.ShareBase resource provider.",
            "schema": {
              "$ref": "#/definitions/ShareBaseError"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "./examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Create an account in the given resource group",
        "description": "Create an account",
        "operationId": "Accounts_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "account",
            "in": "body",
            "description": "The account payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.ShareBase resource provider.",
            "schema": {
              "$ref": "#/definitions/ShareBaseError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Accounts_Create": {
            "$ref": "./examples/Accounts_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete an account",
        "description": "DeleteAccount",
        "operationId": "Accounts_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.ShareBase resource provider.",
            "schema": {
              "$ref": "#/definitions/ShareBaseError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Patch a given account",
        "description": "Patch an account",
        "operationId": "Accounts_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "accountUpdateParameters",
            "in": "body",
            "description": "The account update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.ShareBase resource provider.",
            "schema": {
              "$ref": "#/definitions/ShareBaseError"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "./examples/Accounts_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ShareBase/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Accounts in a resource group",
        "description": "List Accounts in ResourceGroup",
        "operationId": "Accounts_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.ShareBase resource provider.",
            "schema": {
              "$ref": "#/definitions/ShareBaseError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Accounts_ListByResourceGroup": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.ShareBase/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Lists the available operations",
        "description": "List of available operations",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.ShareBase resource provider.",
            "schema": {
              "$ref": "#/definitions/ShareBaseError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Account": {
      "description": "An account data transfer object.",
      "required": [
        "identity"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DefaultDto"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "Identity Info on the Account"
        },
        "properties": {
          "$ref": "#/definitions/AccountProperties",
          "description": "Properties on the account",
          "x-ms-client-flatten": true
        }
      }
    },
    "AccountList": {
      "description": "List response for get Accounts.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The Url of next result page.",
          "type": "string"
        },
        "value": {
          "description": "Collection of items of type DataTransferObjects.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Account"
          }
        }
      }
    },
    "AccountProperties": {
      "description": "Account property bag.",
      "type": "object",
      "properties": {
        "createdAt": {
          "format": "date-time",
          "description": "Time at which the account was created.",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "description": "Provisioning state of the Account",
          "enum": [
            "Succeeded",
            "Creating",
            "Deleting",
            "Moving",
            "Failed"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        },
        "userEmail": {
          "description": "Email of the user who created the resource",
          "type": "string",
          "readOnly": true
        },
        "userName": {
          "description": "Name of the user who created the resource",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AccountUpdateParameters": {
      "description": "Update parameters for accounts",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Tags on the azure resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ShareBaseError": {
      "description": "The data share error model.",
      "required": [
        "error"
      ],
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ShareBaseErrorInfo",
          "description": "The data share error body"
        }
      }
    },
    "ShareBaseErrorInfo": {
      "description": "The data share error body model.",
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "description": "Code of the error",
          "type": "string"
        },
        "details": {
          "description": "Nested details of the error model",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShareBaseErrorInfo"
          }
        },
        "message": {
          "description": "Message of the error",
          "type": "string"
        },
        "target": {
          "description": "Target of the error",
          "type": "string"
        }
      }
    },
    "DefaultDto": {
      "description": "Base data transfer object implementation for default resources.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyDto"
        }
      ],
      "properties": {
        "location": {
          "description": "Location of the azure resource.",
          "type": "string"
        },
        "tags": {
          "description": "Tags on the azure resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DimensionProperties": {
      "description": "properties for dimension",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "localized display name of the dimension to customer",
          "type": "string"
        },
        "name": {
          "description": "dimension name",
          "type": "string"
        }
      }
    },
    "Identity": {
      "description": "Identity of resource",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "service principal Id",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "Tenant Id",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Identity Type",
          "enum": [
            "SystemAssigned"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "type",
            "modelAsString": true
          }
        }
      }
    },
    "OperationList": {
      "description": "List response for get operations.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The Url of next result page.",
          "type": "string"
        },
        "value": {
          "description": "Collection of items of type DataTransferObjects.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationModel"
          }
        }
      }
    },
    "OperationMetaLogSpecification": {
      "description": "log specifications for operation api",
      "type": "object",
      "properties": {
        "blobDuration": {
          "description": "blob duration of the log",
          "type": "string"
        },
        "displayName": {
          "description": "localized name of the log category",
          "type": "string"
        },
        "name": {
          "description": "name of the log category",
          "type": "string"
        }
      }
    },
    "OperationMetaMetricSpecification": {
      "description": "metric specifications for the operation",
      "type": "object",
      "properties": {
        "aggregationType": {
          "description": "aggregation type of metric",
          "type": "string"
        },
        "dimensions": {
          "description": "properties for dimension",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DimensionProperties"
          }
        },
        "displayDescription": {
          "description": "description of the metric",
          "type": "string"
        },
        "displayName": {
          "description": "localized name of the metric",
          "type": "string"
        },
        "enableRegionalMdmAccount": {
          "description": "enable regional mdm account",
          "type": "string"
        },
        "fillGapWithZero": {
          "description": "fill gap with zero",
          "type": "boolean"
        },
        "internalMetricName": {
          "description": "internal metric name",
          "type": "string"
        },
        "name": {
          "description": "name of the metric",
          "type": "string"
        },
        "resourceIdDimensionNameOverride": {
          "description": "dimension name use to replace resource id if specified",
          "type": "string"
        },
        "supportedAggregationTypes": {
          "description": "supported aggregation types",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedTimeGrainTypes": {
          "description": "supported time grain types",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unit": {
          "description": "units for the metric",
          "type": "string"
        }
      }
    },
    "OperationMetaPropertyInfo": {
      "description": "properties on meta info",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/OperationMetaServiceSpecification",
          "description": "meta service specification"
        }
      }
    },
    "OperationMetaServiceSpecification": {
      "description": "The operation meta service specification",
      "type": "object",
      "properties": {
        "logSpecifications": {
          "description": "log specifications for the operation",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationMetaLogSpecification"
          }
        },
        "metricSpecifications": {
          "description": "metric specifications for the operation",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationMetaMetricSpecification"
          }
        }
      }
    },
    "OperationModel": {
      "description": "The response model for get operations",
      "type": "object",
      "properties": {
        "display": {
          "$ref": "#/definitions/OperationModelProperties",
          "description": "Properties on the operation"
        },
        "name": {
          "description": "Operation name for display purposes",
          "type": "string"
        },
        "origin": {
          "description": "origin of the operation",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/OperationMetaPropertyInfo",
          "description": "properties for the operation meta info",
          "x-ms-client-flatten": true
        }
      }
    },
    "OperationModelProperties": {
      "description": "Properties on operations",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the operation for display purposes",
          "type": "string"
        },
        "operation": {
          "description": "Name of the operation for display purposes",
          "type": "string"
        },
        "provider": {
          "description": "Name of the provider for display purposes",
          "type": "string"
        },
        "resource": {
          "description": "Name of the resource type for display purposes",
          "type": "string"
        }
      }
    },
    "OperationResponse": {
      "description": "Response for long running operation",
      "required": [
        "status"
      ],
      "type": "object",
      "properties": {
        "endTime": {
          "format": "date-time",
          "description": "start time",
          "type": "string"
        },
        "error": {
          "$ref": "#/definitions/ShareBaseErrorInfo",
          "description": "The error property when status is failed."
        },
        "startTime": {
          "format": "date-time",
          "description": "start time",
          "type": "string"
        },
        "status": {
          "description": "Operation state of the long running operation.",
          "enum": [
            "Accepted",
            "InProgress",
            "TransientFailure",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "status",
            "modelAsString": true
          }
        }
      }
    },
    "ProxyDto": {
      "description": "Base data transfer object implementation for proxy resources.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource id of the azure resource",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the azure resource",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "description": "System Data of the Azure resource.",
          "readOnly": true
        },
        "type": {
          "description": "Type of the azure resource",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "properties": {
        "createdAt": {
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC).",
          "type": "string"
        },
        "createdBy": {
          "description": "The identity that created the resource.",
          "type": "string"
        },
        "createdByType": {
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "format": "date-time",
          "description": "The type of identity that last modified the resource.",
          "type": "string"
        },
        "lastModifiedBy": {
          "description": "The identity that last modified the resource.",
          "type": "string"
        },
        "lastModifiedByType": {
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "lastModifiedByType",
            "modelAsString": true
          }
        }
      }
    }
  },
  "parameters": {
    "accountName": {
      "name": "accountName",
      "in": "path",
      "description": "The name of the share account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The api version to use.",
      "required": true,
      "type": "string"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The resource group name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription identifier",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow."
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": []
}
