{
  "swagger": "2.0",
  "info": {
    "title": "Managed Operations control plane service",
    "version": "2025-05-19-preview",
    "description": "Managed Operations API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ExtManagedOperations"
    },
    {
      "name": "ManagedOps"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Private.Poc360/extManagedOperations/{extManagedOperationsName}": {
      "get": {
        "operationId": "ExtManagedOperations_Get",
        "tags": [
          "ExtManagedOperations"
        ],
        "description": "Get a ExtManagedOperation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "extManagedOperationsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtManagedOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ExtManagedOperations_Create",
        "tags": [
          "ExtManagedOperations"
        ],
        "description": "Create a ExtManagedOperation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "extManagedOperationsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtManagedOperation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExtManagedOperation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExtManagedOperation"
            }
          },
          "201": {
            "description": "Resource 'ExtManagedOperation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExtManagedOperation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ExtManagedOperations_Delete",
        "tags": [
          "ExtManagedOperations"
        ],
        "description": "Delete a ExtManagedOperation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "extManagedOperationsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Private.Poc360/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.Poc360/managedOps/{managedOpsName}": {
      "get": {
        "operationId": "ManagedOps_Get",
        "tags": [
          "ManagedOps"
        ],
        "description": "Gets the information of the ManagedOps instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "managedOpsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedOp"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ManagedOps_CreateOrUpdate",
        "tags": [
          "ManagedOps"
        ],
        "description": "Creates or updates the ManagedOps instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "managedOpsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedOp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ManagedOp' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ManagedOp"
            }
          },
          "201": {
            "description": "Resource 'ManagedOp' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ManagedOp"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ManagedOps_Update",
        "tags": [
          "ManagedOps"
        ],
        "description": "Updates the ManagedOps instance with the supplied fields.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "managedOpsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedOpUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedOp"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ManagedOps_Delete",
        "tags": [
          "ManagedOps"
        ],
        "description": "Deletes the ManagedOps instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "managedOpsName",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "pattern": "default"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AzureMonitorInformation": {
      "type": "object",
      "description": "Azure Monitor Insights service's information.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the Azure Monitor extension.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Azure Monitor service.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "If the provisioning state is 'Failed', contains the error leading to failure.",
          "readOnly": true
        }
      },
      "required": [
        "provisioningState"
      ]
    },
    "ChangeTrackingConfiguration": {
      "type": "object",
      "description": "Configuration for the Change Tracking and Inventory service.",
      "properties": {
        "logAnalyticsWorkspaceId": {
          "type": "string",
          "description": "Log analytics workspace resource ID used by the services."
        }
      },
      "required": [
        "logAnalyticsWorkspaceId"
      ]
    },
    "ChangeTrackingInformation": {
      "type": "object",
      "description": "Change Tracking and Inventory service's information.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the Change Tracking extension.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Change Tracking service.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "If the provisioning state is 'Failed', contains the error leading to failure.",
          "readOnly": true
        }
      },
      "required": [
        "provisioningState"
      ]
    },
    "DefenderCspmInformation": {
      "type": "object",
      "description": "Defender Cloud Security Posture Management (CSPM) service information.",
      "properties": {
        "enablementStatus": {
          "type": "string",
          "description": "Indicates whether the service is enabled.",
          "enum": [
            "Enabled",
            "InProgress",
            "Failed",
            "Disabled"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      },
      "required": [
        "enablementStatus"
      ]
    },
    "DefenderForServersInformation": {
      "type": "object",
      "description": "Defender for Servers service information.",
      "properties": {
        "enablementStatus": {
          "type": "string",
          "description": "Indicates whether the service is enabled.",
          "enum": [
            "Enabled",
            "InProgress",
            "Failed",
            "Disabled"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      },
      "required": [
        "enablementStatus"
      ]
    },
    "ExtManagedOperation": {
      "type": "object",
      "description": "The managed operations resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtManagedOperationsProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExtManagedOperationsProperties": {
      "type": "object",
      "description": "Properties of the Managed Ops resource.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "SKU details for this resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "initialConfiguration": {
          "$ref": "#/definitions/InitialConfiguration",
          "description": "Initial configuration used when provisioning the resource."
        },
        "services": {
          "$ref": "#/definitions/ServiceInformation",
          "description": "Services provisioned by this resource.",
          "readOnly": true
        }
      },
      "required": [
        "initialConfiguration"
      ]
    },
    "GuestConfigurationInformation": {
      "type": "object",
      "description": "Azure Policy and Machine Configuration service's information.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the Guest Configuration extension. Null for Arc machines as the extension is built into the machine.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Guest Configuration service.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "If the provisioning state is 'Failed', contains the error leading to failure.",
          "readOnly": true
        }
      },
      "required": [
        "provisioningState"
      ]
    },
    "InitialConfiguration": {
      "type": "object",
      "description": "Initial configuration parameters.",
      "properties": {
        "changeTrackingAndInventory": {
          "$ref": "#/definitions/ChangeTrackingConfiguration",
          "description": "Configuration for the Change Tracking and Inventory service."
        }
      },
      "required": [
        "changeTrackingAndInventory"
      ]
    },
    "ManagedOp": {
      "type": "object",
      "description": "The Managed Operations resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ManagedOpsProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ManagedOpUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ManagedOp.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ManagedOpUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "ManagedOpUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ManagedOp.",
      "properties": {
        "desiredConfiguration": {
          "$ref": "#/definitions/ManagedOpsDesiredConfiguration",
          "description": "Desired configuration used when provisioning the resource.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "ManagedOpsAzureMonitorConfiguration": {
      "type": "object",
      "description": "Configuration for the Change Tracking and Inventory service.",
      "properties": {
        "azureMonitorWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Azure Monitor workspace resource ID used by the service.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Monitor/accounts"
              }
            ]
          }
        }
      },
      "required": [
        "azureMonitorWorkspaceId"
      ]
    },
    "ManagedOpsAzureMonitorInformation": {
      "type": "object",
      "description": "Azure Monitor service information.",
      "properties": {
        "dcrId": {
          "type": "string",
          "format": "arm-id",
          "description": "ID of Data Collection Rule (DCR) associated with this service.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Insights/dataCollectionRules"
              }
            ]
          }
        },
        "enablementStatus": {
          "type": "string",
          "description": "Indicates whether the service is enabled.",
          "enum": [
            "Enabled",
            "InProgress",
            "Failed",
            "Disabled"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      },
      "required": [
        "enablementStatus"
      ]
    },
    "ManagedOpsChangeTrackingConfiguration": {
      "type": "object",
      "description": "Configuration for the Change Tracking and Inventory service.",
      "properties": {
        "logAnalyticsWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Log analytics workspace resource ID used by the service.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        }
      },
      "required": [
        "logAnalyticsWorkspaceId"
      ]
    },
    "ManagedOpsChangeTrackingInformation": {
      "type": "object",
      "description": "Change Tracking and Inventory service information.",
      "properties": {
        "dcrId": {
          "type": "string",
          "format": "arm-id",
          "description": "ID of Data Collection Rule (DCR) associated with this service.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Insights/dataCollectionRules"
              }
            ]
          }
        },
        "enablementStatus": {
          "type": "string",
          "description": "Indicates whether the service is enabled.",
          "enum": [
            "Enabled",
            "InProgress",
            "Failed",
            "Disabled"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      },
      "required": [
        "enablementStatus"
      ]
    },
    "ManagedOpsDesiredConfiguration": {
      "type": "object",
      "description": "Desired configuration parameters.",
      "properties": {
        "changeTrackingAndInventory": {
          "$ref": "#/definitions/ManagedOpsChangeTrackingConfiguration",
          "description": "Configuration for the Change Tracking and Inventory service."
        },
        "azureMonitorInsights": {
          "$ref": "#/definitions/ManagedOpsAzureMonitorConfiguration",
          "description": "Configuration for the Azure Monitor service."
        },
        "userAssignedManagedIdentityId": {
          "type": "string",
          "format": "arm-id",
          "description": "User assigned Managed Identity used to perform operations on machines managed by Ops360.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
              }
            ]
          }
        },
        "defenderForServers": {
          "type": "string",
          "description": "Desired enablement state of the Defender For Servers service.",
          "enum": [
            "Enable",
            "Disable"
          ],
          "x-ms-enum": {
            "modelAsString": true
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "defenderCspm": {
          "type": "string",
          "description": "Desired enablement state of the Defender Cloud Security Posture Management (CSPM) service.",
          "enum": [
            "Enable",
            "Disable"
          ],
          "x-ms-enum": {
            "modelAsString": true
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "changeTrackingAndInventory",
        "azureMonitorInsights",
        "userAssignedManagedIdentityId"
      ]
    },
    "ManagedOpsGuestConfigurationInformation": {
      "type": "object",
      "description": "Azure Policy and Machine Configuration service information.",
      "properties": {
        "enablementStatus": {
          "type": "string",
          "description": "Indicates whether the service is enabled.",
          "enum": [
            "Enabled",
            "InProgress",
            "Failed",
            "Disabled"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      },
      "required": [
        "enablementStatus"
      ]
    },
    "ManagedOpsProperties": {
      "type": "object",
      "description": "Properties of the ManagedOps resource.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/ManagedOpsSku",
          "description": "Product plan details of this resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ManagedOpsProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "desiredConfiguration": {
          "$ref": "#/definitions/ManagedOpsDesiredConfiguration",
          "description": "Desired configuration used when provisioning the resource.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "services": {
          "$ref": "#/definitions/ManagedOpsServiceInformation",
          "description": "Services provisioned by this resource.",
          "readOnly": true
        },
        "policyAssignmentProperties": {
          "$ref": "#/definitions/PolicyAssignmentProperties",
          "description": "Policy assignments created for managing services.",
          "readOnly": true
        }
      },
      "required": [
        "desiredConfiguration"
      ]
    },
    "ManagedOpsProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ManagedOpsProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource has begun provisioning."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "ManagedOpsServiceInformation": {
      "type": "object",
      "description": "Services provisioned by this resource.",
      "properties": {
        "changeTrackingAndInventory": {
          "$ref": "#/definitions/ManagedOpsChangeTrackingInformation",
          "description": "Change Tracking and Inventory service information.",
          "readOnly": true
        },
        "azureMonitorInsights": {
          "$ref": "#/definitions/ManagedOpsAzureMonitorInformation",
          "description": "Azure Monitor Insights service information.",
          "readOnly": true
        },
        "azureUpdateManager": {
          "$ref": "#/definitions/ManagedOpsUpdateManagerInformation",
          "description": "Azure Update Manager service information.",
          "readOnly": true
        },
        "azurePolicyAndMachineConfiguration": {
          "$ref": "#/definitions/ManagedOpsGuestConfigurationInformation",
          "description": "Azure Policy and Machine Configuration service information.",
          "readOnly": true
        },
        "defenderForServers": {
          "$ref": "#/definitions/DefenderForServersInformation",
          "description": "Defender for Servers service information.",
          "readOnly": true
        },
        "defenderCspm": {
          "$ref": "#/definitions/DefenderCspmInformation",
          "description": "Defender for Cloud's Cloud security posture management (CSPM) service information.",
          "readOnly": true
        }
      }
    },
    "ManagedOpsSku": {
      "type": "object",
      "description": "Specifies the service plan for this resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU."
        },
        "tier": {
          "type": "string",
          "description": "Pricing tier of the SKU."
        }
      },
      "required": [
        "name",
        "tier"
      ]
    },
    "ManagedOpsUpdateManagerInformation": {
      "type": "object",
      "description": "Azure Update Manager service information.",
      "properties": {
        "dcrId": {
          "type": "string",
          "format": "arm-id",
          "description": "ID of Data Collection Rule (DCR) associated with this service.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Insights/dataCollectionRules"
              }
            ]
          }
        },
        "dceId": {
          "type": "string",
          "format": "arm-id",
          "description": "ID of Data Collection Endpoint (DCE) associated with this service.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Insights/dataCollectionEndpoints"
              }
            ]
          }
        },
        "enablementStatus": {
          "type": "string",
          "description": "Indicates whether the service is enabled.",
          "enum": [
            "Enabled",
            "InProgress",
            "Failed",
            "Disabled"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      },
      "required": [
        "enablementStatus"
      ]
    },
    "PolicyAssignmentProperties": {
      "type": "object",
      "description": "Policy assignments created for managing services.",
      "properties": {
        "policyInitiativeAssignmentId": {
          "type": "string",
          "format": "arm-id",
          "description": "Policy initiative assignment ID.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Authorization/policyassignments"
              }
            ]
          }
        }
      },
      "required": [
        "policyInitiativeAssignmentId"
      ]
    },
    "ProvisioningError": {
      "type": "object",
      "description": "Contains the information regarding the error that lead to provisioning failure.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code corresponding to the type of provisioning failure.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Detailed message explaining the cause of the provisioning failure.",
          "readOnly": true
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource has begun provisioning."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "ServiceInformation": {
      "type": "object",
      "description": "Services provisioned by this resource.",
      "properties": {
        "changeTrackingAndInventory": {
          "$ref": "#/definitions/ChangeTrackingInformation",
          "description": "Change Tracking and Inventory service's information.",
          "readOnly": true
        },
        "azureMonitorInsights": {
          "$ref": "#/definitions/AzureMonitorInformation",
          "description": "Azure Monitor Insights service's information.",
          "readOnly": true
        },
        "azureUpdateManager": {
          "$ref": "#/definitions/UpdateManagerInformation",
          "description": "Azure Update Manager service's information.",
          "readOnly": true
        },
        "azurePolicyAndMachineConfiguration": {
          "$ref": "#/definitions/GuestConfigurationInformation",
          "description": "Azure Policy and Machine Configuration service's information.",
          "readOnly": true
        }
      },
      "required": [
        "changeTrackingAndInventory",
        "azureMonitorInsights",
        "azureUpdateManager",
        "azurePolicyAndMachineConfiguration"
      ]
    },
    "Sku": {
      "type": "object",
      "description": "Specifies the service plan for this resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU."
        },
        "tier": {
          "type": "string",
          "description": "Pricing tier of the SKU."
        }
      },
      "required": [
        "name",
        "tier"
      ]
    },
    "UpdateManagerInformation": {
      "type": "object",
      "description": "Azure Update Manager service's information.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource ID of the Update Manager extension.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Update Manager service.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "If the provisioning state is 'Failed', contains the error leading to failure.",
          "readOnly": true
        }
      },
      "required": [
        "provisioningState"
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
