parameters:
  "service-dir":
    default: "sdk/edgecopilot"
emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    emitter-output-dir: "{project-root}/.."
    azure-resource-provider-folder: "resource-manager"
    output-file: "{azure-resource-provider-folder}/{service-name}/{version-status}/{version}/chat.json"
    omit-unreachable-types: true
    examples-dir: "{project-root}/examples"
  "@azure-tools/typespec-csharp":
    flavor: azure
    package-dir: "Azure.ResourceManager.EdgeCopilot"
    clear-output-folder: true
    model-namespace: false
    namespace: "{package-dir}"
  "@azure-tools/typespec-python":
    package-dir: "azure-mgmt-edgecopilot"
    package-name: "{package-dir}"
    generate-test: true
    generate-sample: true
    flavor: "azure"
  "@azure-tools/typespec-ts":
    package-dir: "arm-edgecopilot"
    azureSdkForJs: true
    isModularLibrary: true
    generateMetadata: true
    flavor: "azure"
    hierarchyClient: false
    experimentalExtensibleEnums: true
    enableOperationGroup: true
    packageDetails:
      name: "@azure/arm-edgecopilot"
  "@azure-tools/typespec-go":
    service-dir: "sdk/resourcemanager/edgecopilot"
    package-dir: "armedgecopilot"
    module: "github.com/Azure/azure-sdk-for-go/{service-dir}/{package-dir}"
    fix-const-stuttering: true
    flavor: "azure"
    generate-examples: true
    generate-fakes: true
    head-as-boolean: true
    inject-spans: true
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/resource-manager"
