{
  "swagger": "2.0",
  "info": {
    "version": "2023-04-30-preview",
    "title": "ProvisioningPoc",
    "description": "Description of the new service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProvisioningPoc/provisioningpolicy/{provisioningpolicyName}": {
      "get": {
        "operationId": "provisioningpolicy_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/provisioningpolicyNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the provisioningpolicy resource.",
            "schema": {
              "$ref": "#/definitions/provisioningpolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "provisioningpolicy_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/provisioningpolicyNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "provisioningpolicy",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/provisioningpolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the provisioningpolicy resource.",
            "schema": {
              "$ref": "#/definitions/provisioningpolicy"
            }
          },
          "201": {
            "description": "Creates the provisioningpolicy resource.",
            "schema": {
              "$ref": "#/definitions/provisioningpolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "provisioningpolicy_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/provisioningpolicyNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the provisioningpolicy resource."
          },
          "204": {
            "description": "Deletes the provisioningpolicy resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "provisioningpolicy_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/provisioningpolicyNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "provisioningpolicy",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/provisioningpolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the provisioningpolicy resource.",
            "schema": {
              "$ref": "#/definitions/provisioningpolicy"
            }
          },
          "201": {
            "description": "Updates the provisioningpolicy resource.",
            "schema": {
              "$ref": "#/definitions/provisioningpolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProvisioningPoc/provisioningpolicy": {
      "get": {
        "operationId": "provisioningpolicy_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all provisioningpolicy under the resouce group.",
            "schema": {
              "$ref": "#/definitions/provisioningpolicyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProvisioningPoc/provisioningpolicy": {
      "get": {
        "operationId": "provisioningpolicy_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all provisioningpolicy under the subscription.",
            "schema": {
              "$ref": "#/definitions/provisioningpolicyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ProvisioningPoc/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AttestationPolicy": {
      "type": "object",
      "required": [
        "type"
      ],
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "example": "X509AttestationPolicy",
          "enum": [
            "SymmetricKeyAttestationPolicy",
            "X509AttestationPolicy"
          ],
          "x-ms-enum": {
            "name": "AttestationPolicyType",
            "modelAsString": false
          }
        }
      },
      "xml": {
        "name": "attestationPolicy"
      }
    },
    "SymmetricKeyAttestationPolicy": {
      "allOf": [
        {
          "$ref": "#/definitions/AttestationPolicy"
        },
        {
      "type": "object",
      "required": [
        "primaryKey"
      ],
      "properties": {
        "primaryKey": {
          "type": "string",
          "example": "primarykey"
        },
        "secondaryKey": {
          "type": "string",
          "example": "primarykey"
        }
      },
      "xml": {
        "name": "symmetricKeyAttestationPolicy"
      }
        }
    ]
    },
    "X509AttestationPolicy": {
            "allOf": [
        {
          "$ref": "#/definitions/AttestationPolicy"
        },
        {
      "type": "object",
      "required": [
        "primaryCertificate"
      ],
      "properties": {
        "primaryCertificate": {
          "type": "string",
          "example": "MIICYzCCAcygAwIBAgIBADANBgkqhkiG9w0BAQUFADAuMQswCQYDVQQGEwJVUzEM..."
        }
      },
      "xml": {
        "name": "x509AttestationPolicy"
      }
        }
    ]
    },
    "provisioningpolicyProperties": {
      "type": "object",
      "properties": {
        "attestationPolicy": {
          "$ref": "#/definitions/AttestationPolicy"
        },
        "workflowDefinition":  {
          "$ref": "#/definitions/WorkflowDefiniton"
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "EndpointDefinition":{
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "allocationMethod": {
            "type": "string"
          },
          "resourceIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "properties": {
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
    "WorkflowDefiniton": {
          "type": "object",
          "properties": {
            "identity": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "deviceTemplateId": {
                  "type": "string"
                },
                "tenantId": {
                  "type": "string"
                },
                "initialGroups": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "properties": {
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "endpoints": {
              "type": "object",
              "additionalProperties": {
                  "$ref": "#/definitions/EndpointDefinition"
                }
            }
          }
        },
    "provisioningpolicy": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": false,
          "$ref": "#/definitions/provisioningpolicyProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [ "create", "read" ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "description": "The provisioningpolicy resource definition."
    },
    "provisioningpolicyPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The provisioningpolicy resource patch definition."
    },
    "provisioningpolicyListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/provisioningpolicy"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location":"method",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location":"method",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-parameter-location":"method",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    },
    "provisioningpolicyNameParameter": {
      "name": "provisioningpolicyName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location":"method",
      "pattern": "^[a-z][a-z0-9]*$",
      "maxLength": 64,
      "minLength": 3
    }
  }
}