{
  "swagger": "2.0",
  "info": {
    "title": "SpringBootSites",
    "description": "The Microsoft.SpringBootSites Rest API spec.",
    "version": "2022-07-03-preview",
    "x-ms-code-generation-settings": {
      "name": "SpringBootSitesClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SpringBootSites/springbootdiscovereds/{springbootdiscoveredsName}": {
      "get": {
        "operationId": "springbootdiscovereds_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootdiscoveredsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the springbootdiscovereds resource.",
            "schema": {
              "$ref": "#/definitions/springbootdiscovereds"
            }
          }
        },
        "x-ms-examples": {
          "springbootdiscovereds_Retrieve_MaximumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_Retrieve_MaximumSet_Gen.json"
          },
          "springbootdiscovereds_Retrieve_MinimumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_Retrieve_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "springbootdiscovereds_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootdiscoveredsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootdiscovereds",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootdiscovereds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootdiscovereds resource.",
            "schema": {
              "$ref": "#/definitions/springbootdiscovereds"
            }
          },
          "201": {
            "description": "Creates the springbootdiscovereds resource.",
            "schema": {
              "$ref": "#/definitions/springbootdiscovereds"
            }
          }
        },
        "x-ms-examples": {
          "springbootdiscovereds_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "springbootdiscovereds_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "springbootdiscovereds_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootdiscoveredsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the springbootdiscovereds resource."
          }
        },
        "x-ms-examples": {
          "springbootdiscovereds_Delete_MaximumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_Delete_MaximumSet_Gen.json"
          },
          "springbootdiscovereds_Delete_MinimumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "springbootdiscovereds_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootdiscoveredsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootdiscovereds",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootdiscoveredsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootdiscovereds resource.",
            "schema": {
              "$ref": "#/definitions/springbootdiscovereds"
            }
          },
          "201": {
            "description": "Updates the springbootdiscovereds resource.",
            "schema": {
              "$ref": "#/definitions/springbootdiscovereds"
            }
          }
        },
        "x-ms-examples": {
          "springbootdiscovereds_Update_MaximumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_Update_MaximumSet_Gen.json"
          },
          "springbootdiscovereds_Update_MinimumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SpringBootSites/springbootdiscovereds": {
      "get": {
        "operationId": "springbootdiscovereds_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootdiscovereds under the resouce group.",
            "schema": {
              "$ref": "#/definitions/springbootdiscoveredsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootdiscovereds_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "springbootdiscovereds_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SpringBootSites/springbootdiscovereds": {
      "get": {
        "operationId": "springbootdiscovereds_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootdiscovereds under the subscription.",
            "schema": {
              "$ref": "#/definitions/springbootdiscoveredsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootdiscovereds_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_ListBySubscription_MaximumSet_Gen.json"
          },
          "springbootdiscovereds_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/springbootdiscovereds_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.SpringBootSites/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "springbootdiscoveredsProperties": {
      "type": "object",
      "properties": {
        "server": {
          "type": "string",
          "description": "Server is the discovered server name or ip address of SpringBootDiscovered."
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "statusCode": {
              "type": "integer",
              "description": "StatusCode is the code from http response"
            }
          },
          "description": "SpringBootDiscoveredStatus defines the observed state of SpringBootDiscovered"
        }
      },
      "description": "SpringBootDiscoveredSpec defines the desired state of SpringBootDiscovered"
    },
    "springbootdiscovereds": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/springbootdiscoveredsProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        },
        "systemData": {
          "readOnly": true,
          "$ref": "#/definitions/systemData",
          "description": "The resource systemData i.e. create and update info"
        }
      },
      "required": [
        "location"
      ],
      "description": "The springbootdiscovereds resource definition."
    },
    "springbootdiscoveredsPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The springbootdiscovereds resource patch definition."
    },
    "springbootdiscoveredsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/springbootdiscovereds"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "systemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The type of identity that last modified the resource."
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "springbootdiscoveredsNameParameter": {
      "name": "springbootdiscoveredsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}