{
    "swagger": "2.0",
    "info": {
        "title": "DevicePoC",
        "description": "The Microsoft.DevicePoC Rest API specs.",
        "version": "2020-01-01-preview",
        "x-ms-code-generation-settings": {
            "name": "DevicePoCClient"
        }
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevicePoC/connectedDevices/{connectedDevicesName}": {
            "get": {
                "operationId": "connectedDevices_Retrieve",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/connectedDevicesNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieves the connectedDevices resource.",
                        "schema": {
                            "$ref": "#/definitions/connectedDevices"
                        }
                    }
                }
            },
            "put": {
                "operationId": "connectedDevices_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/connectedDevicesNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "connectedDevices",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/connectedDevices"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the connectedDevices resource.",
                        "schema": {
                            "$ref": "#/definitions/connectedDevices"
                        }
                    },
                    "201": {
                        "description": "Creates the connectedDevices resource.",
                        "schema": {
                            "$ref": "#/definitions/connectedDevices"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "connectedDevices_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/connectedDevicesNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deletes the connectedDevices resource."
                    }
                }
            },
            "patch": {
                "operationId": "connectedDevices_Update",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/connectedDevicesNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "connectedDevices",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/connectedDevicesPatch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updates the connectedDevices resource.",
                        "schema": {
                            "$ref": "#/definitions/connectedDevices"
                        }
                    },
                    "201": {
                        "description": "Updates the connectedDevices resource.",
                        "schema": {
                            "$ref": "#/definitions/connectedDevices"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevicePoC/connectedDevices": {
            "get": {
                "operationId": "connectedDevices_ListByResourceGroup",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all connectedDevices under the resouce group.",
                        "schema": {
                            "$ref": "#/definitions/connectedDevicesListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.DevicePoC/connectedDevices": {
            "get": {
                "operationId": "connectedDevices_ListBySubscription",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists all connectedDevices under the subscription.",
                        "schema": {
                            "$ref": "#/definitions/connectedDevicesListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/providers/Microsoft.DevicePoC/operations": {
            "get": {
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Describe the result of a successful operation.",
                        "schema": {
                            "$ref": "#/definitions/ResourceProviderOperationList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "definitions": {
        "firmwareProfileProperties": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "vendor": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "deviceCapability": {
            "discriminator": "kind",
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                }
            },
            "additionalProperties": {
                "type": "object"
            },
            "required": [
                "kind"
            ]
        },
        "genericCapability": {
            "x-ms-discriminator-value": "Generic",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deviceCapability"
                }
            ],
            "properties": {
                "properties": {
                    "type": "object",
                    "properties": {
                        "version": {
                            "type": "string"
                        },
                        "settings": {
                            "type": "object"
                        },
                        "status": {
                            "properties": {}
                        }
                    }
                }
            }
        },
        "updateCapability": {
            "x-ms-discriminator-value": "DeviceUpdate",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/deviceCapability"
                }
            ],
            "properties": {
                "properties": {
                    "type": "object",
                    "properties": {
                        "version": {
                            "type": "string"
                        },
                        "updateProfile": {
                            "type": "object"
                        },
                        "status": {
                            "properties": {}
                        }
                    }
                }
            }
        },
        "vulnerability": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "severity": {
                    "type": "string"
                },
                "lastScanned": {
                    "type": "string"
                }
            }
        },
        "connectedDevicesProperties": {
            "type": "object",
            "properties": {
                "deviceId": {
                    "type": "string"
                },
                "deviceType": {
                    "type": "string"
                },
                "assignedHub": {
                    "type": "string"
                },
                "location": {
                    "type": "object",
                    "properties": {
                        "latitude": {
                            "type": "string"
                        },
                        "longitude": {
                            "type": "string"
                        },
                        "displayName": {
                            "type": "string"
                        }
                    }
                },
                "hardwareProfile": {
                    "type": "object",
                    "properties": {
                        "manufacturer": {
                            "type": "string"
                        },
                        "model": {
                            "type": "string"
                        },
                        "serialNumber": {
                            "type": "string"
                        }
                    }
                },
                "osProfile": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "version": {
                            "type": "string"
                        },
                        "distribution": {
                            "type": "string"
                        }
                    }
                },
                "customProfile": {
                    "type": "object"
                },
                "firmwareProfiles": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/firmwareProfileProperties"
                    }
                },
                "securityProfile": {
                    "type": "object",
                    "properties": {
                        "agentType": {
                            "type": "string"
                        },
                        "vulnerabilities": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/vulnerability"
                            }
                        }
                    }
                },
                "capabilities": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/deviceCapability"
                    }
                },
                "twinSettings": {
                    "type": "object"
                },
                "provisioningState": {
                    "type": "string"
                },
                "status": {
                    "properties": {}
                }
            }
        },
        "connectedDevices": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/connectedDevicesProperties"
                },
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Resource Type"
                },
                "location": {
                    "type": "string",
                    "description": "The resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                },
                "extendedLocation": {
                    "type": "object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "The extended location type."
                        },
                        "name": {
                            "type": "string",
                            "description": "The extended location name."
                        }
                    }
                }
            },
            "required": [
                "location"
            ],
            "description": "The connectedDevices resource definition."
        },
        "connectedDevicesPatch": {
            "type": "object",
            "properties": {
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "description": "The connectedDevices resource patch definition."
        },
        "connectedDevicesListResult": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/connectedDevices"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            }
        },
        "ResourceProviderOperationList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ResourceProviderOperation"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            },
            "description": "Results of the request to list operations."
        },
        "ResourceProviderOperation": {
            "type": "object",
            "properties": {
                "isDataAction": {
                    "type": "string",
                    "description": "Indicates whether the operation applies to data-plane."
                },
                "name": {
                    "type": "string",
                    "description": "Operation name, in format of {provider}/{resource}/{operation}"
                },
                "display": {
                    "type": "object",
                    "properties": {
                        "provider": {
                            "type": "string",
                            "description": "The resource provider."
                        },
                        "resource": {
                            "type": "string",
                            "description": "Resource on which the operation is performed."
                        },
                        "operation": {
                            "type": "string",
                            "description": "Type of operation: get, read, delete, etc."
                        },
                        "description": {
                            "type": "string",
                            "description": "Description of this operation."
                        }
                    },
                    "description": "Display metadata associated with the operation."
                }
            },
            "description": "Results of the request to list operations."
        }
    },
    "parameters": {
        "connectedDevicesNameParameter": {
            "name": "connectedDevicesName",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "minLength": 3
        },
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
        },
        "ResourceGroupNameParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
        }
    }
}