{
  "swagger": "2.0",
  "info": {
    "title": "oryx",
    "version": "2022-09-22-privatepreview",
    "description": "Oryx service that enables customers to build and deploy code from source into containers without defining a dockerfile",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Builders"
    },
    {
      "name": "Builds"
    }
  ],
  "paths": {
    "/providers/Microsoft.Oryx/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all provider operations": {
            "$ref": "./examples/OperationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Oryx/builders": {
      "get": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_ListBySubscription",
        "description": "List BuilderResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Builders_ListBySubscription_0": {
            "$ref": "./examples/Builders_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Oryx/builders": {
      "get": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_ListByResourceGroup",
        "description": "List BuilderResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Builders_ListByResourceGroup_0": {
            "$ref": "./examples/Builders_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Oryx/builders/{builderName}": {
      "get": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_Get",
        "description": "Get a BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "builderName",
            "in": "path",
            "required": true,
            "description": "The name of the builder.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builders_Get_0": {
            "$ref": "./examples/Builders_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_CreateOrUpdate",
        "description": "Create a BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "builderName",
            "in": "path",
            "required": true,
            "description": "The name of the builder.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builders_CreateOrUpdate_0": {
            "$ref": "./examples/Builders_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_Update",
        "description": "Update a BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "builderName",
            "in": "path",
            "required": true,
            "description": "The name of the builder.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/BuilderResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuilderResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builders_Update_0": {
            "$ref": "./examples/Builders_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Builders"
        ],
        "operationId": "Builders_Delete",
        "description": "Delete a BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "builderName",
            "in": "path",
            "required": true,
            "description": "The name of the builder.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builders_Delete_0": {
            "$ref": "./examples/Builders_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Oryx/builders/{builderName}/builds": {
      "get": {
        "tags": [
          "Builds"
        ],
        "operationId": "Builds_ListByBuilderResource",
        "description": "List BuildResource resources by BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "builderName",
            "in": "path",
            "required": true,
            "description": "The name of the builder.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuildResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Builds_ListByBuilderResource_0": {
            "$ref": "./examples/Builds_ListByBuilderResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Oryx/builders/{builderName}/builds/{buildName}": {
      "get": {
        "tags": [
          "Builds"
        ],
        "operationId": "Builds_Get",
        "description": "Get a BuildResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "builderName",
            "in": "path",
            "required": true,
            "description": "The name of the builder.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          },
          {
            "name": "buildName",
            "in": "path",
            "required": true,
            "description": "The name of a build.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuildResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builds_Get_0": {
            "$ref": "./examples/Builds_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Builds"
        ],
        "operationId": "Builds_CreateOrUpdate",
        "description": "Create a BuildResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "builderName",
            "in": "path",
            "required": true,
            "description": "The name of the builder.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          },
          {
            "name": "buildName",
            "in": "path",
            "required": true,
            "description": "The name of a build.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/BuildResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuildResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/BuildResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builds_CreateOrUpdate_0": {
            "$ref": "./examples/Builds_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Builds"
        ],
        "operationId": "Builds_Delete",
        "description": "Delete a BuildResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "builderName",
            "in": "path",
            "required": true,
            "description": "The name of the builder.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          },
          {
            "name": "buildName",
            "in": "path",
            "required": true,
            "description": "The name of a build.",
            "minLength": 3,
            "maxLength": 64,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builds_Delete_0": {
            "$ref": "./examples/Builds_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "BuildProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource instance provisioning state.",
          "readOnly": true
        },
        "buildId": {
          "type": "string",
          "description": "GUID of the build operation.",
          "readOnly": true
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccount",
          "description": "Storage account to upload code to.",
          "readOnly": true
        },
        "containerRegistry": {
          "$ref": "#/definitions/ContainerRegistry",
          "description": "Container registry that the final image will be uploaded to.",
          "readOnly": true
        },
        "compute": {
          "$ref": "#/definitions/Compute",
          "description": "Compute that the build will be performed on.",
          "readOnly": true
        }
      },
      "description": "The build properties."
    },
    "BuildResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuildProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Information pertaining to an individual build.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BuildResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildResource"
          },
          "x-cadl-name": "BuildResource[]",
          "description": "The BuildResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a BuildResource list operation.",
      "required": [
        "value"
      ]
    },
    "BuilderProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource instance provisioning state.",
          "readOnly": true
        },
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupConfiguration",
          "description": "Configuration of the managed resource group associated with the builder.",
          "readOnly": true
        }
      },
      "description": "The builder properties."
    },
    "BuilderResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuilderProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Information about the Oryx++ builder resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BuilderResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuilderResource"
          },
          "x-cadl-name": "BuilderResource[]",
          "description": "The BuilderResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a BuilderResource list operation.",
      "required": [
        "value"
      ]
    },
    "BuilderResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        }
      },
      "description": "The type used for update operations of the BuilderResource."
    },
    "Compute": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "#/definitions/ComputeResource",
          "description": "Compute resource that the build will be performed on."
        }
      },
      "description": "Compute that the build will be performed on.",
      "required": [
        "resource"
      ]
    },
    "ComputeResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ComputeResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Compute resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ComputeResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource instance provisioning state.",
          "readOnly": true
        }
      },
      "description": "Properties for compute that the build will be performed on."
    },
    "ContainerRegistry": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "#/definitions/ContainerRegistryResource",
          "description": "Container registry resource that the final image will be uploaded to."
        },
        "imageUploadLocation": {
          "type": "string",
          "description": "Location of the registry that the final image will be uploaded to."
        }
      },
      "description": "Container registry that the final image will be uploaded to.",
      "required": [
        "resource",
        "imageUploadLocation"
      ]
    },
    "ContainerRegistryResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContainerRegistryResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Container registry that the final image will be uploaded to.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ContainerRegistryResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource instance provisioning state.",
          "readOnly": true
        }
      },
      "description": "Properties for the container registry that the final image will be uploaded to."
    },
    "ManagedResourceGroupConfiguration": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource group name."
        },
        "location": {
          "type": "string",
          "description": "The resource group location."
        }
      },
      "description": "Configuration of the managed resource group associated with the builder.",
      "required": [
        "name",
        "location"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Resource instance provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "StorageAccount": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "#/definitions/StorageAccountResource",
          "description": "Storage account resource to upload code to."
        },
        "uploadPath": {
          "type": "string",
          "description": "Path of the container that code should be uploaded to in order to initiate the build."
        }
      },
      "description": "Storage account to upload code to.",
      "required": [
        "resource",
        "uploadPath"
      ]
    },
    "StorageAccountResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageAccountResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Storage account resource to upload code to.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "StorageAccountResourceProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource instance provisioning state.",
          "readOnly": true
        }
      },
      "description": "Storage account resource properties to upload code to."
    }
  },
  "parameters": {}
}
