{
  "swagger": "2.0",
  "info": {
    "title": "disconnectedoperationsappliances service",
    "version": "2024-02-01-preview",
    "description": "Arc-A disconnectedoperationsappliances Service API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DisconnectedOperationsAppliances"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Private.EdgeInternal/disconnectedoperationsappliances": {
      "get": {
        "operationId": "DisconnectedOperationsAppliances_ListBySubscription",
        "tags": [
          "DisconnectedOperationsAppliances"
        ],
        "description": "List DisconnectedOperationsAppliance resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.EdgeInternal/disconnectedoperationsappliances": {
      "get": {
        "operationId": "DisconnectedOperationsAppliances_ListByResourceGroup",
        "tags": [
          "DisconnectedOperationsAppliances"
        ],
        "description": "List DisconnectedOperationsAppliance resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.EdgeInternal/disconnectedoperationsappliances/{name}": {
      "get": {
        "operationId": "DisconnectedOperationsAppliances_Get",
        "tags": [
          "DisconnectedOperationsAppliances"
        ],
        "description": "Get a DisconnectedOperationsAppliance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsAppliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DisconnectedOperationsAppliances_CreateOrUpdate",
        "tags": [
          "DisconnectedOperationsAppliances"
        ],
        "description": "Create a DisconnectedOperationsAppliance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsAppliance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DisconnectedOperationsAppliance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsAppliance"
            }
          },
          "201": {
            "description": "Resource 'DisconnectedOperationsAppliance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsAppliance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DisconnectedOperationsAppliances_Update",
        "tags": [
          "DisconnectedOperationsAppliances"
        ],
        "description": "Update a DisconnectedOperationsAppliance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsApplianceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsAppliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "DisconnectedOperationsAppliances_Delete",
        "tags": [
          "DisconnectedOperationsAppliances"
        ],
        "description": "Delete a DisconnectedOperationsAppliance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.EdgeInternal/disconnectedoperationsappliances/{name}/listDeploymentManifest": {
      "post": {
        "operationId": "DisconnectedOperationsAppliances_ListDeploymentManifest",
        "tags": [
          "DisconnectedOperationsAppliances"
        ],
        "description": "get deployment manifest.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,22}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DisconnectedOperationsApplianceDeploymentManifest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BillingModel": {
      "type": "string",
      "description": "Billing model",
      "enum": [
        "Capacity"
      ],
      "x-ms-enum": {
        "name": "BillingModel",
        "modelAsString": true,
        "values": [
          {
            "name": "Capacity",
            "value": "Capacity",
            "description": "Billed on capacity."
          }
        ]
      }
    },
    "ConnectionIntent": {
      "type": "string",
      "description": "Connection Intent",
      "enum": [
        "Connected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ConnectionIntent",
        "modelAsString": true,
        "values": [
          {
            "name": "Connected",
            "value": "Connected",
            "description": "Device is connected to cloud."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "Device is disconnected from cloud."
          }
        ]
      }
    },
    "ConnectionStatus": {
      "type": "string",
      "description": "Connection status",
      "enum": [
        "Connected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Connected",
            "value": "Connected",
            "description": "Device is connected to cloud."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "Device is disconnected from cloud."
          }
        ]
      }
    },
    "DisconnectedOperationsAppliance": {
      "type": "object",
      "description": "DisconnectedOperationsAppliance resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DisconnectedOperationsApplianceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DisconnectedOperationsApplianceDeploymentManifest": {
      "type": "object",
      "description": "The disconnectedoperationsappliance manifest",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The resource Id",
          "readOnly": true
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name",
          "readOnly": true
        },
        "stampId": {
          "type": "string",
          "description": "The stamp Id",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "readOnly": true
        },
        "billingModel": {
          "$ref": "#/definitions/BillingModel",
          "description": "The billing model",
          "readOnly": true
        },
        "connectionIntent": {
          "$ref": "#/definitions/ConnectionIntent",
          "description": "The connection intent",
          "readOnly": true
        }
      },
      "required": [
        "resourceId",
        "resourceName",
        "stampId",
        "location",
        "billingModel",
        "connectionIntent"
      ]
    },
    "DisconnectedOperationsApplianceListResult": {
      "type": "object",
      "description": "The response of a DisconnectedOperationsAppliance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DisconnectedOperationsAppliance items on this page",
          "items": {
            "$ref": "#/definitions/DisconnectedOperationsAppliance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DisconnectedOperationsApplianceProperties": {
      "type": "object",
      "description": "The disconnectedoperationsappliance properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The resource provisioning state",
          "readOnly": true
        },
        "stampId": {
          "type": "string",
          "description": "The stamp Id",
          "readOnly": true
        },
        "billingModel": {
          "$ref": "#/definitions/BillingModel",
          "description": "The billing model",
          "readOnly": true
        },
        "connectionIntent": {
          "$ref": "#/definitions/ConnectionIntent",
          "description": "The connection intent",
          "readOnly": true
        },
        "connectionStatus": {
          "$ref": "#/definitions/ConnectionStatus",
          "description": "The connection status",
          "readOnly": true
        },
        "registrationStatus": {
          "$ref": "#/definitions/RegistrationStatus",
          "description": "The registration intent"
        },
        "deviceVersion": {
          "type": "string",
          "description": "The device version"
        }
      },
      "required": [
        "stampId",
        "billingModel",
        "connectionIntent"
      ]
    },
    "DisconnectedOperationsApplianceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DisconnectedOperationsAppliance.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/DisconnectedOperationsApplianceUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "DisconnectedOperationsApplianceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DisconnectedOperationsAppliance.",
      "properties": {
        "registrationStatus": {
          "$ref": "#/definitions/RegistrationStatus",
          "description": "The registration intent"
        },
        "deviceVersion": {
          "type": "string",
          "description": "The device version"
        }
      }
    },
    "RegistrationStatus": {
      "type": "string",
      "description": "Regostration status",
      "enum": [
        "Registered",
        "Unregistered"
      ],
      "x-ms-enum": {
        "name": "RegistrationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Registered",
            "value": "Registered",
            "description": "Device is registered to cloud."
          },
          {
            "name": "Unregistered",
            "value": "Unregistered",
            "description": "Device is not registered to cloud."
          }
        ]
      }
    }
  },
  "parameters": {}
}
