{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.BcdrTest Management Service",
    "version": "2023-06-01-preview",
    "description": "Azure BCDR Test Provider API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ExtensionVaultOperations"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.BcdrTest/locations/{location}/extensionVault": {
      "get": {
        "operationId": "ExtensionVaultOperations_List",
        "tags": [
          "ExtensionVaultOperations"
        ],
        "description": "List ExtensionVault resources by Extension",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionVaultListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Listing all extension vaults under a resource": {
            "$ref": "./examples/ExtensionVaultOperations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.BcdrTest/locations/{location}/extensionVault/{extensionVaultName}": {
      "get": {
        "operationId": "ExtensionVaultOperations_Get",
        "tags": [
          "ExtensionVaultOperations"
        ],
        "description": "Get a ExtensionVault",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/LocationParameter"
          },
          {
            "name": "extensionVaultName",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionVault"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ExtensionVaultOperations_CreateOrUpdate",
        "tags": [
          "ExtensionVaultOperations"
        ],
        "description": "Create a ExtensionVault",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/LocationParameter"
          },
          {
            "name": "extensionVaultName",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionVault"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExtensionVault' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExtensionVault"
            }
          },
          "201": {
            "description": "Resource 'ExtensionVault' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExtensionVault"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ExtensionVaultOperations_Update",
        "tags": [
          "ExtensionVaultOperations"
        ],
        "description": "Update a ExtensionVault",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/LocationParameter"
          },
          {
            "name": "extensionVaultName",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionVaultUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionVault"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ExtensionVaultOperations_Delete",
        "tags": [
          "ExtensionVaultOperations"
        ],
        "description": "Delete a ExtensionVault",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/LocationParameter"
          },
          {
            "name": "extensionVaultName",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.BcdrTest/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ExtensionVault": {
      "type": "object",
      "description": "An extension vault resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtensionVaultProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExtensionVaultListResult": {
      "type": "object",
      "description": "The response of a ExtensionVault list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExtensionVault items on this page",
          "items": {
            "$ref": "#/definitions/ExtensionVault"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExtensionVaultProperties": {
      "type": "object",
      "description": "The properties of an extension vault.",
      "properties": {
        "additionalProperties": {
          "type": "string",
          "description": "The additional properties of the extension vault."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      }
    },
    "ExtensionVaultUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ExtensionVault.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtensionVaultUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ExtensionVaultUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ExtensionVault.",
      "properties": {
        "additionalProperties": {
          "type": "string",
          "description": "The additional properties of the extension vault."
        }
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
