{
  "swagger": "2.0",
  "info": {
    "title": "Azure Throttling (ATS)",
    "version": "2024-01-01-preview",
    "description": "Azure Throttling (ATS) Resource Provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ProxyAccounts"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Categories"
    }
  ],
  "paths": {
    "/providers/Microsoft.Throttling/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Throttling/accounts": {
      "get": {
        "operationId": "Accounts_ListBySubscription",
        "tags": [
          "Accounts"
        ],
        "description": "List Account resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_ListBySubscription": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Throttling/checkNameAvailability": {
      "post": {
        "operationId": "Operations_CheckNameAvailability",
        "description": "Implements global CheckNameAvailability operations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_CheckNameAvailability": {
            "$ref": "./examples/Operations_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Throttling/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "Operations_CheckNameAvailabilityLocal",
        "description": "Implements local CheckNameAvailability operations",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_CheckNameAvailabilityLocal": {
            "$ref": "./examples/Operations_CheckNameAvailabilityLocal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Throttling/proxyAccounts": {
      "get": {
        "operationId": "ProxyAccounts_ListBySubscription",
        "tags": [
          "ProxyAccounts"
        ],
        "description": "List ProxyAccount resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProxyAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProxyAccounts_ListBySubscription": {
            "$ref": "./examples/ProxyAccounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts": {
      "get": {
        "operationId": "Accounts_ListByResourceGroup",
        "tags": [
          "Accounts"
        ],
        "description": "List Account resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_ListByResourceGroup": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts/{accountName}": {
      "get": {
        "operationId": "Accounts_Get",
        "tags": [
          "Accounts"
        ],
        "description": "Get a Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "./examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Accounts_Create",
        "tags": [
          "Accounts"
        ],
        "description": "Create a Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Account' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "201": {
            "description": "Resource 'Account' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Create": {
            "$ref": "./examples/Accounts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Accounts_Update",
        "tags": [
          "Accounts"
        ],
        "description": "Update a Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "./examples/Accounts_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Accounts_Delete",
        "tags": [
          "Accounts"
        ],
        "description": "Delete a Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts/{accountName}/categories": {
      "get": {
        "operationId": "Categories_ListByAccount",
        "tags": [
          "Categories"
        ],
        "description": "List Category resources by Account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_ListByAccount": {
            "$ref": "./examples/Categories_ListByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/accounts/{accountName}/categories/{categoryName}": {
      "get": {
        "operationId": "Categories_Get",
        "tags": [
          "Categories"
        ],
        "description": "Get a Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          },
          {
            "name": "categoryName",
            "in": "path",
            "description": "Throttling category name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_Get": {
            "$ref": "./examples/Categories_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Categories_Create",
        "tags": [
          "Categories"
        ],
        "description": "Create a Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          },
          {
            "name": "categoryName",
            "in": "path",
            "description": "Throttling category name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Category' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "201": {
            "description": "Resource 'Category' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Category"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_Create": {
            "$ref": "./examples/Categories_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Categories_Update",
        "tags": [
          "Categories"
        ],
        "description": "Update a Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          },
          {
            "name": "categoryName",
            "in": "path",
            "description": "Throttling category name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CategoryUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_Update": {
            "$ref": "./examples/Categories_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Categories_Delete",
        "tags": [
          "Categories"
        ],
        "description": "Delete a Category",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "Account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          },
          {
            "name": "categoryName",
            "in": "path",
            "description": "Throttling category name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Categories_Delete": {
            "$ref": "./examples/Categories_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/proxyAccounts": {
      "get": {
        "operationId": "ProxyAccounts_ListByResourceGroup",
        "tags": [
          "ProxyAccounts"
        ],
        "description": "List ProxyAccount resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProxyAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProxyAccounts_ListByResourceGroup": {
            "$ref": "./examples/ProxyAccounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Throttling/proxyAccounts/{proxyAccountName}": {
      "get": {
        "operationId": "ProxyAccounts_Get",
        "tags": [
          "ProxyAccounts"
        ],
        "description": "Get a ProxyAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "proxyAccountName",
            "in": "path",
            "description": "Proxy account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProxyAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProxyAccounts_Get": {
            "$ref": "./examples/ProxyAccounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ProxyAccounts_Create",
        "tags": [
          "ProxyAccounts"
        ],
        "description": "Create a ProxyAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "proxyAccountName",
            "in": "path",
            "description": "Proxy account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProxyAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProxyAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProxyAccount"
            }
          },
          "201": {
            "description": "Resource 'ProxyAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProxyAccount"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProxyAccounts_Create": {
            "$ref": "./examples/ProxyAccounts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ProxyAccounts_Update",
        "tags": [
          "ProxyAccounts"
        ],
        "description": "Update a ProxyAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "proxyAccountName",
            "in": "path",
            "description": "Proxy account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProxyAccountUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProxyAccount"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProxyAccounts_Update": {
            "$ref": "./examples/ProxyAccounts_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ProxyAccounts_Delete",
        "tags": [
          "ProxyAccounts"
        ],
        "description": "Delete a ProxyAccount",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "proxyAccountName",
            "in": "path",
            "description": "Proxy account name",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128,
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProxyAccounts_Delete": {
            "$ref": "./examples/ProxyAccounts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "description": "Throttling account",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AccountProperties",
          "description": "The resource-specific properties for this resource."
        },
        "kind": {
          "type": "string",
          "description": "Account kind",
          "pattern": "^direct|indirect,[a-z]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AccountAuthenticationProperties": {
      "type": "object",
      "description": "Account authentication properties",
      "properties": {
        "certificates": {
          "type": "array",
          "description": "Certificate-based authentication properties",
          "items": {
            "$ref": "#/definitions/CertificateProperties"
          },
          "x-ms-identifiers": [
            "subjectName"
          ],
          "x-typespec-name": "CertificateProperties[]"
        },
        "azureActiveDirectory": {
          "type": "array",
          "description": "AzureAD-based authentication properties",
          "items": {
            "$ref": "#/definitions/AzureActiveDirectoryProperties"
          },
          "x-ms-identifiers": [
            "tenantId",
            "objectId"
          ],
          "x-typespec-name": "AzureActiveDirectoryProperties[]"
        }
      }
    },
    "AccountListResult": {
      "type": "object",
      "description": "The response of a Account list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Account items on this page",
          "items": {
            "$ref": "#/definitions/Account"
          },
          "x-typespec-name": "Account[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "required": [
        "value"
      ]
    },
    "AccountProperties": {
      "type": "object",
      "description": "Account properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "Endpoint address to be used by Throttling client",
          "readOnly": true
        },
        "authentication": {
          "$ref": "#/definitions/AccountAuthenticationProperties",
          "description": "Account authentication properties"
        }
      }
    },
    "AccountUpdate": {
      "type": "object",
      "description": "Throttling account",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AccountProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "AzureActiveDirectoryProperties": {
      "type": "object",
      "description": "AzureAD-based authentication properties",
      "properties": {
        "tenantId": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "AzureAD Tenant ID"
        },
        "objectId": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "AzureAD Object ID"
        }
      },
      "required": [
        "tenantId",
        "objectId"
      ]
    },
    "Category": {
      "type": "object",
      "description": "Throttling category",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CategoryProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CategoryListResult": {
      "type": "object",
      "description": "The response of a Category list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Category items on this page",
          "items": {
            "$ref": "#/definitions/Category"
          },
          "x-typespec-name": "Category[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "required": [
        "value"
      ]
    },
    "CategoryProperties": {
      "type": "object",
      "description": "Category properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "threshold": {
          "type": "integer",
          "format": "int32",
          "description": "Threshold value",
          "minimum": 1
        },
        "depth": {
          "type": "integer",
          "format": "int32",
          "description": "Depth of the bucket",
          "minimum": -16,
          "maximum": -1
        },
        "windowDuration": {
          "type": "string",
          "format": "duration",
          "description": "Window duration"
        },
        "minDecisionDuration": {
          "type": "string",
          "format": "duration",
          "description": "Minimal decision duration"
        }
      },
      "required": [
        "threshold",
        "depth",
        "windowDuration",
        "minDecisionDuration"
      ]
    },
    "CategoryPropertiesUpdate": {
      "type": "object",
      "description": "Category properties",
      "properties": {
        "threshold": {
          "type": "integer",
          "format": "int32",
          "description": "Threshold value",
          "minimum": 1
        },
        "depth": {
          "type": "integer",
          "format": "int32",
          "description": "Depth of the bucket",
          "minimum": -16,
          "maximum": -1
        },
        "windowDuration": {
          "type": "string",
          "format": "duration",
          "description": "Window duration"
        },
        "minDecisionDuration": {
          "type": "string",
          "format": "duration",
          "description": "Minimal decision duration"
        }
      }
    },
    "CategoryUpdate": {
      "type": "object",
      "description": "Throttling category",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CategoryPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "CertificateProperties": {
      "type": "object",
      "description": "Certificate-based authentication properties",
      "properties": {
        "subjectName": {
          "type": "string",
          "description": "Certificate subject name",
          "minLength": 3,
          "maxLength": 64,
          "pattern": "^[a-zA-Z0-9][a-zA-Z0-9.-]+"
        }
      },
      "required": [
        "subjectName"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource being accepted"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Resource being created"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource being deleted"
          }
        ]
      },
      "readOnly": true
    },
    "ProxyAccount": {
      "type": "object",
      "description": "Proxy account",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProxyAccountProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProxyAccountAuthenticationProperties": {
      "type": "object",
      "description": "Proxy account authentication properties",
      "properties": {
        "certificates": {
          "type": "array",
          "description": "Certificate-based authentication properties",
          "items": {
            "$ref": "#/definitions/CertificateProperties"
          },
          "x-ms-identifiers": [
            "subjectName"
          ],
          "x-typespec-name": "CertificateProperties[]"
        }
      }
    },
    "ProxyAccountListResult": {
      "type": "object",
      "description": "The response of a ProxyAccount list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ProxyAccount items on this page",
          "items": {
            "$ref": "#/definitions/ProxyAccount"
          },
          "x-typespec-name": "ProxyAccount[]"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProxyAccountProperties": {
      "type": "object",
      "description": "Proxy account properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "authentication": {
          "$ref": "#/definitions/ProxyAccountAuthenticationProperties",
          "description": "Proxy account authentication properties"
        }
      }
    },
    "ProxyAccountUpdate": {
      "type": "object",
      "description": "Proxy account",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProxyAccountProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    }
  },
  "parameters": {}
}
