{
  "swagger": "2.0",
  "info": {
    "title": "MobileCoreManagementClient",
    "description": "The resources in this swagger specification will be used to manage data network resources in mobile core",
    "version": "2021-06-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/zones/{zoneName}/dataNetworks/{dataNetworkName}": {
      "delete": {
        "tags": [
          "dataNetworks"
        ],
        "operationId": "dataNetworks_Delete",
        "description": "Deletes the specified mobile core data network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/DataNetworkNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete mobile core data network": {
            "$ref": "./examples/DataNetworkDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "dataNetworks"
        ],
        "operationId": "dataNetworks_Get",
        "description": "Gets information about the specified mobile core data network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/DataNetworkNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting mobile core data network resource.",
            "schema": {
              "$ref": "#/definitions/dataNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get mobile core data network": {
            "$ref": "./examples/DataNetworkGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "dataNetworks"
        ],
        "operationId": "dataNetworks_CreateOrUpdate",
        "description": "Creates or updates a mobile core data network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/DataNetworkNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dataNetwork"
            },
            "description": "Parameters supplied to the create or update mobile core data network operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting mobile core data network resource.",
            "schema": {
              "$ref": "#/definitions/dataNetwork"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting mobile core data network resource.",
            "schema": {
              "$ref": "#/definitions/dataNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create mobile core data network": {
            "$ref": "./examples/DataNetworkCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "dataNetworks"
        ],
        "operationId": "dataNetworks_UpdateTags",
        "description": "Update data network tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/DataNetworkNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update mobile core data network tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting mobile core data network resource.",
            "schema": {
              "$ref": "#/definitions/dataNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update mobile core data network tags": {
            "$ref": "./examples/DataNetworkUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileCore/dataNetworks": {
      "get": {
        "tags": [
          "dataNetworks"
        ],
        "operationId": "dataNetworks_ListBySubscription",
        "description": "Gets all the data networks in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of data network resources.",
            "schema": {
              "$ref": "#/definitions/dataNetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List data networks in a subscription": {
            "$ref": "./examples/DataNetworkListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/dataNetworks": {
      "get": {
        "tags": [
          "dataNetworks"
        ],
        "operationId": "dataNetworks_ListByResourceGroup",
        "description": "Gets all the data networks in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of data network resources.",
            "schema": {
              "$ref": "#/definitions/dataNetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List data networks in resource group": {
            "$ref": "./examples/DataNetworkListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/dataNetworks": {
      "get": {
        "tags": [
          "dataNetworks"
        ],
        "operationId": "dataNetworks_ListByMobileCore",
        "description": "Lists all data networks in the mobile core.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of mobile core resources.",
            "schema": {
              "$ref": "#/definitions/dataNetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile core data networks in a mobile core": {
            "$ref": "./examples/DataNetworkListByMobileCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/zones/{zoneName}/dataNetworks": {
      "get": {
        "tags": [
          "dataNetworks"
        ],
        "operationId": "dataNetworks_ListByZone",
        "description": "Lists all data networks in the mobile core zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of mobile core resources.",
            "schema": {
              "$ref": "#/definitions/dataNetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile core data networks in a zone": {
            "$ref": "./examples/DataNetworkListByZone.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "dataNetwork": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/dataNetworkPropertiesFormat",
          "description": "data network properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Data network resource."
    },
    "dataNetworkPropertiesFormat": {
      "description": "Data network properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the data network resource."
        },
        "description": {
          "type": "string",
          "description": "An optional description for this data network."
        },
        "dnais": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of DNAI."
        }
      }
    },
    "dataNetworkListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/dataNetwork"
          },
          "description": "A list of data networks in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response fordata network API service call."
    }
  }
}
