{
  "swagger": "2.0",
  "info": {
    "title": "MobileCoreManagementClient",
    "description": "The resources in this swagger specification will be used to manage network slice resources in mobile core",
    "version": "2021-06-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/networkSlices/{networkSliceName}": {
      "delete": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_Delete",
        "description": "Deletes the specified mobile core network slice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkSliceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete mobile core network slice": {
            "$ref": "./examples/NetworkSliceDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_Get",
        "description": "Gets information about the specified mobile core network slice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkSliceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting mobile core network slice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get mobile core network slice": {
            "$ref": "./examples/NetworkSliceGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_CreateOrUpdate",
        "description": "Creates or updates a mobile core network slice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkSliceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            },
            "description": "Parameters supplied to the create or update mobile core network slice operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting mobile core network slice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting mobile core network slice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create mobile core network slice": {
            "$ref": "./examples/NetworkSliceCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_UpdateTags",
        "description": "Update network slice tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkSliceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update mobile core network slice tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting mobile core network slice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update mobile core network slice tags": {
            "$ref": "./examples/NetworkSliceUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileCore/networkSlices": {
      "get": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_ListBySubscription",
        "description": "Gets all the network slices in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of network slice resources.",
            "schema": {
              "$ref": "#/definitions/NetworkSliceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List network slices in a subscription": {
            "$ref": "./examples/NetworkSliceListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/networkSlices": {
      "get": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_ListByResourceGroup",
        "description": "Gets all the network slices in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of network slice resources.",
            "schema": {
              "$ref": "#/definitions/NetworkSliceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List network slices in resource group": {
            "$ref": "./examples/NetworkSliceListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/networkSlices": {
      "get": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_ListByMobileCore",
        "description": "Lists all network slices in the mobile core.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of mobile core resources.",
            "schema": {
              "$ref": "#/definitions/NetworkSliceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile core network slices in a mobile core": {
            "$ref": "./examples/NetworkSliceListByMobileCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkSlice": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkSlicePropertiesFormat",
          "description": "Network Slice properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Network slice resource."
    },
    "NetworkSlicePropertiesFormat": {
      "description": "Network slice properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the network slice resource."
        },
        "description": {
          "type": "string",
          "description": "An optional description for this network slice."
        },
        "nsi": {
          "type": "string",
          "description": "The network slice identifier."
        },
        "sst": {
          "type": "string",
          "description": "The slice/service type."
        }
      }
    },
    "NetworkSliceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSlice"
          },
          "description": "A list of network slices in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for network slice API service call."
    }
  }
}
