{
  "swagger": "2.0",
  "info": {
    "title": "MobileCoreManagementClient",
    "description": "The resources in this swagger specification will be used to manage network function group resources in mobile core",
    "version": "2021-06-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/zones/{zoneName}/clusters/{clusterName}/networkFunctionGroups/{networkFunctionGroupName}": {
      "delete": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_Delete",
        "description": "Deletes the specified mobile core network function group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete mobile core network function group": {
            "$ref": "./examples/NetworkFunctionGroupDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_Get",
        "description": "Gets information about the specified mobile core network function group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting mobile core network function group resource.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get mobile core network function group": {
            "$ref": "./examples/NetworkFunctionGroupGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_CreateOrUpdate",
        "description": "Creates or updates a mobile core network function group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networkFunctionGroup"
            },
            "description": "Parameters supplied to the create or update mobile core network function group operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting mobile core network function group resource.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroup"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting mobile core network function group resource.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create mobile core network function group": {
            "$ref": "./examples/NetworkFunctionGroupCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_UpdateTags",
        "description": "Update network function group tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update mobile core network function group tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting mobile core network function group resource.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update mobile core network function group tags": {
            "$ref": "./examples/NetworkFunctionGroupUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileCore/networkFunctionGroups": {
      "get": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_ListBySubscription",
        "description": "Gets all the network function groups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of network function group resources.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List network function groups in a subscription": {
            "$ref": "./examples/NetworkFunctionGroupListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/networkFunctionGroups": {
      "get": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_ListByResourceGroup",
        "description": "Gets all the network function groups in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of network function group resources.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List network function groups in resource group": {
            "$ref": "./examples/NetworkFunctionGroupListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/networkFunctionGroups": {
      "get": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_ListByMobileCore",
        "description": "Lists all network function groups in the mobile core.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of mobile core resources.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile core network function groups in a mobile core": {
            "$ref": "./examples/NetworkFunctionGroupListByMobileCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/zones/{zoneName}/networkFunctionGroups": {
      "get": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_ListByZone",
        "description": "Lists all network function groups in the mobile core zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of mobile core resources.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile core network function groups in a zone": {
            "$ref": "./examples/NetworkFunctionGroupListByZone.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileCore/mobileCores/{mobileCoreName}/zones/{zoneName}/clusters/{clusterName}/networkFunctionGroups": {
      "get": {
        "tags": [
          "networkFunctionGroups"
        ],
        "operationId": "networkFunctionGroups_ListByCluster",
        "description": "Lists all network function groups in the cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ZoneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of mobile core resources.",
            "schema": {
              "$ref": "#/definitions/networkFunctionGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile core network function groups in a zone": {
            "$ref": "./examples/NetworkFunctionGroupListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "networkFunctionGroup": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/networkFunctionGroupPropertiesFormat",
          "description": "network function group properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Network function group resource."
    },
    "networkFunctionGroupPropertiesFormat": {
      "description": "Network function group properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the network function group resource."
        },
        "description": {
          "type": "string",
          "description": "An optional description for this network function group."
        },
        "amfConfigs": {
          "$ref": "#/definitions/amfConfigsFormat",
          "description": "The network function configurations."
        },
        "smfConfigs": {
          "$ref": "#/definitions/smfConfigsFormat",
          "description": "The network function configurations."
        },
        "upfConfigs": {
          "$ref": "#/definitions/upfConfigsFormat",
          "description": "The network function configurations."
        },
        "nrfConfigs": {
          "$ref": "#/definitions/nrfConfigsFormat",
          "description": "The network function configurations."
        },
        "nssfConfigs": {
          "$ref": "#/definitions/nssfConfigsFormat",
          "description": "The network function configurations."
        }
      }
    },
    "amfConfigsFormat": {
      "description": "Network function configuration properties.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The enabled indicator of network function."
        },
        "amfConfig1": {
          "type": "string",
          "description": "Configuration for this network function."
        },
        "amfConfig2": {
          "type": "string",
          "description": "Configuration for this network function."
        }
      }
    },
    "smfConfigsFormat": {
      "description": "Network function configuration properties.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The enabled indicator of network function."
        },
        "smfConfig1": {
          "type": "string",
          "description": "Configuration for this network function."
        },
        "smfConfig2": {
          "type": "string",
          "description": "Configuration for this network function."
        }
      }
    },
    "upfConfigsFormat": {
      "description": "Network function configuration properties.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The enabled indicator of network function."
        },
        "upfConfig1": {
          "type": "string",
          "description": "Configuration for this network function."
        },
        "upfConfig2": {
          "type": "string",
          "description": "Configuration for this network function."
        }
      }
    },
    "nrfConfigsFormat": {
      "description": "Network function configuration properties.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The enabled indicator of network function."
        },
        "nrfConfig1": {
          "type": "string",
          "description": "Configuration for this network function."
        },
        "nrfConfig2": {
          "type": "string",
          "description": "Configuration for this network function."
        }
      }
    },
    "nssfConfigsFormat": {
      "description": "Network function configuration properties.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "The enabled indicator of network function."
        },
        "nssfConfig1": {
          "type": "string",
          "description": "Configuration for this network function."
        },
        "nssfConfig2": {
          "type": "string",
          "description": "Configuration for this network function."
        }
      }
    },
    "networkFunctionGroupListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkFunctionGroup"
          },
          "description": "A list of network function groups in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for network function group API service call."
    }
  }
}
