{
  "swagger": "2.0",
  "info": {
    "title": "MixedReality.EuCloudPrototype",
    "description": "MixedReality.EuCloudPrototype provider",
    "version": "2022-08-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.Microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.EuCloudPrototype/euCloudPrototype": {
      "get": {
        "operationId": "euCloudPrototype_ListBySubscription",
        "tags": [
          "Resource",
          "Proxy"
        ],
        "description": "List Spatial Anchors Accounts by Subscription",
        "x-ms-examples": {
          "List eucloudprototype accounts by subscription": {
            "$ref": "./examples/euCloudPrototype/GetBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/euCloudPrototypeResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EuCloudPrototype/euCloudPrototype": {
      "get": {
        "description": "Returns list of euCloudPrototype.",
        "operationId": "euCloudPrototype_ListByResourceGroup",
        "x-ms-examples": {
          "List eucloudprototype accounts by resource group": {
            "$ref": "./examples/euCloudPrototype/GetByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "euCloudPrototype details.",
            "schema": {
              "$ref": "#/definitions/euCloudPrototypeResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EuCloudPrototype/euCloudPrototype/{resourceName}": {
      "delete": {
        "description": "Deletes a euCloudPrototype resource for a given name.",
        "operationId": "euCloudPrototype_Delete",
        "x-ms-examples": {
          "Delete eucloudprototype accounts by resource group": {
            "$ref": "./examples/euCloudPrototype/Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "description": "Returns euCloudPrototype resource for a given name.",
        "operationId": "euCloudPrototype_Get",
        "x-ms-examples": {
          "List eucloudprototype accounts by resource name": {
            "$ref": "./examples/euCloudPrototype/Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "euCloudPrototype details.",
            "schema": {
              "$ref": "#/definitions/euCloudPrototypeResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "description": "Create or update euCloudPrototype resource.",
        "operationId": "euCloudPrototype_CreateAndUpdate",
        "x-ms-examples": {
          "Create or Update eucloudprototype accounts by resource group": {
            "$ref": "./examples/euCloudPrototype/Put.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/parameters/euCloudPrototypeAccountParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/euCloudPrototypeResource"
            }
          },
          "201": {
            "description": "Resource create or update started.",
            "schema": {
              "$ref": "#/definitions/euCloudPrototypeResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "description": "Update euCloudPrototype details.",
        "operationId": "euCloudPrototype_Update",
        "x-ms-examples": {
          "Update eucloudprototype accounts by resource group": {
            "$ref": "./examples/euCloudPrototype/Patch.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "#/parameters/euCloudPrototypeAccountParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/euCloudPrototypeResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/providers/Microsoft.EuCloudPrototype/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Returns list of operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "List eucloudprototype operations": {
            "$ref": "./examples/euCloudPrototype/ListOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CloudError": {
      "type": "object",
      "x-ms-external": true,
      "properties": {
        "error": {
          "description": "An Error response.",
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An Error response."
    },
    "CloudErrorBody": {
      "type": "object",
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for displaying in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        }
      },
      "description": "An error response from Azure."
    },
    "euCloudPrototypeResource": {
      "type": "object",
      "description": "euCloudPrototype details",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "properties": {
            "storageAccountName": {
              "description": "The name of the storage account associated with this accountId",
              "type": "string"
            },
            "managedResourceGroupConfiguration": {
              "description": "Managed resource group configuration",
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Managed resource group name"
                }
              }
            },
            "accountId": {
              "description": "unique id of certain account.",
              "readOnly": true,
              "type": "string"
            },
            "accountDomain": {
              "description": "Correspond domain name of certain Spatial Anchors Account",
              "readOnly": true,
              "type": "string"
            },
            "provisioningState": {
              "description": "the provisioning state",
              "readOnly": true,
              "type": "string"
            }
          }
        },
        "identity": {
          "description": "The identity associated with this account",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Identity"
        },
        "plan": {
          "description": "The plan associated with this account",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Identity"
        },
        "sku": {
          "description": "The sku associated with this account",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Sku"
        },
        "kind": {
          "description": "The kind of account, if supported",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Sku"
        },
        "systemData": {
          "description": "System metadata for this account",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
        }
      }
    },
    "euCloudPrototypePatchResource": {
      "type": "object",
      "description": "euCloudPrototype patch properties",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "properties": {
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc..."
            }
          }
        }
      }
    },
    "euCloudPrototypeResourceList": {
      "description": "The list of euCloudPrototype.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of euCloudPrototype list.",
          "type": "string"
        },
        "value": {
          "description": "The list of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/euCloudPrototypeResource"
          }
        }
      }
    }
  },
  "parameters": {
    "euCloudPrototypeAccountParameter": {
      "name": "euCloudPrototypeAccount",
      "description": "euCloudPrototypeAccount parameter.",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/euCloudPrototypeResource"
      },
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "resourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name euCloudPrototype resource.",
      "x-ms-parameter-location": "method"
    },
    "NestedResourceNameParameter": {
      "name": "nestedResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of nested resource.",
      "x-ms-parameter-location": "method"
    },
    "ExtensionResourceNameParameter": {
      "name": "extensionResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of extension resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
