{
  "swagger": "2.0",
  "info": {
    "title": "SAPEmbraceRP",
    "description": "SAPEmbraceRP provider ",
    "version": "2019-01-01"
  },
  "host": "management.azure.com",
  "schemes": [ "https" ],
  "consumes": [ "application/json" ],
  "produces": [ "application/json" ],
  "security": [
    {
      "azure_auth": [ "user_impersonation" ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.SAPEmbraceRP/virtualinstance": {
      "get": {
        "description": "Returns list of virtualinstance by subscription registered within SAPEmbraceRP",
        "operationId": "virtualinstance_SubscriptionList",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "virtualinstance details.",
            "schema": {
              "$ref": "#/definitions/virtualinstanceResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SAPEmbraceRP/virtualinstance": {
      "get": {
        "description": "Returns list of virtualinstance.",
        "operationId": "virtualinstance_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "virtualinstance details.",
            "schema": {
              "$ref": "#/definitions/virtualinstanceResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SAPEmbraceRP/virtualinstance/{virtualinstanceName}": {
      "get": {
        "description": "Returns virtualinstance resource for a given name.",
        "operationId": "virtualinstance_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/virtualinstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "virtualinstance details.",
            "schema": {
              "$ref": "#/definitions/virtualinstanceResource"
            }
          }
        }
      },
      "put": {
        "description": "Create or update virtualinstance resource.",
        "operationId": "virtualinstance_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/virtualinstanceNameParameter"
          },
          {
            "name": "virtualinstanceResource",
            "description": "virtualinstance details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualinstanceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/virtualinstanceResource"
            }
          },
          "201": {
            "description": "Long running operation."
          }
        }
      },
      "delete": {
        "description": "Delete virtualinstance resource for a given name.",
        "operationId": "virtualinstance_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/virtualinstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/virtualinstanceResource"
            }
          }
        }
      },
      "patch": {
        "description": "Update virtualinstance details.",
        "operationId": "virtualinstance_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/virtualinstanceNameParameter"
          },
          {
            "name": "virtualinstancePatchResource",
            "description": "virtualinstance patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualinstancePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/virtualinstanceResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SAPEmbraceRP/virtualinstance/{virtualinstanceName}/nestedResourceType/{nestedvirtualinstanceName}": {
      "get": {
        "description": "Returns nested resources for a given virtualinstance name",
        "operationId": "NestedResourceType_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/virtualinstanceNameParameter"
          },
          {
            "$ref": "#/parameters/NestedvirtualinstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Nested Resource Types.",
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        }
      },
      "put": {
        "description": "Create or update nested resource type.",
        "operationId": "NestedResourceType_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/virtualinstanceNameParameter"
          },
          {
            "$ref": "#/parameters/NestedvirtualinstanceNameParameter"
          },
          {
            "name": "NestedResourceType",
            "description": "Nested Resource Type details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        }
      },
      "patch": {
        "description": "Update nested resource type details.",
        "operationId": "NestedResourceType_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/virtualinstanceNameParameter"
          },
          {
            "$ref": "#/parameters/NestedvirtualinstanceNameParameter"
          },
          {
            "name": "NestedResourcePatchResource",
            "description": "Nested resource patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/NestedResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SAPEmbraceRP/virtualinstance/{virtualinstanceName}/nestedResourceType": {
      "get": {
        "description": "Returns nested resources for a given virtualinstance name",
        "operationId": "NestedResourceType_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/virtualinstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Nested Resource Types.",
            "schema": {
              "$ref": "#/definitions/NestedResourceList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SAPEmbraceRP/extensionResourceType": {
      "get": {
        "description": "Returns nextension resource for a given virtualinstance name",
        "operationId": "ExtensionResourceType_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Nested Resource Types.",
            "schema": {
              "$ref": "#/definitions/ExtensionResourceList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.SAPEmbraceRP/extensionResourceType/{extensionvirtualinstanceName}": {
      "get": {
        "description": "Returns extension resources",
        "operationId": "ExtensionResource_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ExtensionvirtualinstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Extension Resources.",
            "schema": {
              "$ref": "#/definitions/ExtensionResource"
            }
          }
        }
      },
      "put": {
        "description": "Create or update extension resource.",
        "operationId": "ExtensionResource_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ExtensionvirtualinstanceNameParameter"
          },
          {
            "name": "ExtensionResourceType",
            "description": "ExtensionResource details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ExtensionResource"
            }
          }
        }
      },
      "patch": {
        "description": "Update extension resource details.",
        "operationId": "ExtensionResource_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ExtensionvirtualinstanceNameParameter"
          },
          {
            "name": "ExtensionResourcePatchResource",
            "description": "Extension Resource patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ExtensionResource"
            }
          }
        }
      }
    },
    "/providers/microsoft.SAPEmbraceRP/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "virtualinstanceResource": {
      "type": "object",
      "description": "virtualinstance details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [ "properties" ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [ "firstName", "lastName", "group", "likesTea" ],
          "properties": {
            "firstName": {
              "type": "string",
              "description": "virtualinstance full name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "middleName": {
              "type": "string",
              "description": "virtualinstance middle name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "lastName": {
              "type": "string",
              "description": "virtualinstance last name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc...",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "password": {
              "type": "string",
              "description": "password.",
              "x-ms-secret": [ "password" ]
            },
            "identificationNumber": {
              "type": "string",
              "readOnly": true,
              "description": "unique id assigned at the time of user creation"
            },
            "likesTea": {
              "type": "string",
              "description": "Gets or sets the deployment mode.",
              "enum": [ "Yes" ],
              "x-ms-enum": {
                "name": "likesTea",
                "modelAsString": true
              }
            }
          }
        }
      }
    },
    "virtualinstancePatchResource": {
      "type": "object",
      "description": "virtualinstance patch properties",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "properties": {
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc..."
            }
          }
        }
      }
    },
    "virtualinstanceResourceList": {
      "description": "The list of virtualinstance.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of virtualinstance list.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/virtualinstanceResource"
          }
        }
      }
    },
    "NestedResource": {
      "type": "object",
      "description": "Nested Resource details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [ "properties" ],
      "properties": {
        "properties": {
          "properties": {
            "firstName": {
              "type": "string",
              "description": "Nested Resource full name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "middleName": {
              "type": "string",
              "description": "Nested Resource name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "lastName": {
              "type": "string",
              "description": "Nested Resource name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc...",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "identificationNumber": {
              "type": "string",
              "readOnly": true,
              "description": "unique id assigned at the time of user creation"
            },
            "likesTea": {
              "type": "string",
              "description": "Gets or sets the deployment mode.",
              "enum": [ "Yes" ],
              "x-ms-enum": {
                "name": "likesTea",
                "modelAsString": true
              }
            }
          },
          "required": [ "firstName", "lastName", "group", "likesTea" ],
          "type": "object"
        }
      }
    },
    "NestedResourceList": {
      "description": "The list of nested resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of nested resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NestedResource"
          }
        }
      }
    },
    "ExtensionResource": {
      "type": "object",
      "description": "Extension Resource details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [ "properties" ],
      "properties": {
        "properties": {
          "properties": {
            "firstName": {
              "type": "string",
              "description": "Extension Resource full name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "middleName": {
              "type": "string",
              "description": "Extension Resource name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "lastName": {
              "type": "string",
              "description": "Extension Resource name.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "group": {
              "type": "string",
              "description": "group like Finance, HR etc...",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "identificationNumber": {
              "type": "string",
              "readOnly": true,
              "description": "unique id assigned at the time of user creation"
            },
            "likesTea": {
              "type": "string",
              "description": "Gets or sets the deployment mode.",
              "enum": [ "Yes" ],
              "x-ms-enum": {
                "name": "likesTea",
                "modelAsString": true
              }
            }
          },
          "required": [ "firstName", "lastName", "group", "likesTea" ],
          "type": "object"
        }
      }
    },
    "ExtensionResourceList": {
      "description": "The list of extension resources.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of extension resources list.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionResource"
          }
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [ "value" ]
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "virtualinstanceNameParameter": {
      "name": "virtualinstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name virtualinstance resource.",
      "x-ms-parameter-location": "method"
    },
    "NestedvirtualinstanceNameParameter": {
      "name": "nestedvirtualinstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of nested resource.",
      "x-ms-parameter-location": "method"
    },
    "ExtensionvirtualinstanceNameParameter": {
      "name": "extensionvirtualinstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of extension resource.",
      "x-ms-parameter-location": "method"
    }
  }
}