{
  "swagger": "2.0",
  "info": {
    "title": "Azure CIS FRP",
    "version": "2023-08-22-preview",
    "description": "SafeDns Service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DnsNamespaceManagerARecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateARecordSet"
    },
    {
      "name": "DnsNamespaceManagerAppendARecordSet"
    },
    {
      "name": "DnsNamespaceManagerAaaaRecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateAaaaRecordSet"
    },
    {
      "name": "DnsNamespaceManagerAppendAaaaRecordSet"
    },
    {
      "name": "DnsNamespaceManagerSrvRecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateSrvRecordSet"
    },
    {
      "name": "DnsNamespaceManagerAppendSrvRecordSet"
    },
    {
      "name": "DnsNamespaceManagerTxtRecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateTxtRecordSet"
    },
    {
      "name": "DnsNamespaceManagerAppendTxtRecordSet"
    },
    {
      "name": "DnsNamespaceManagerChildZoneDelegation"
    },
    {
      "name": "DnsNamespaceManagerUpdateDelegation"
    },
    {
      "name": "DnsNamespaceManagerCnameRecordSet"
    },
    {
      "name": "DnsNamespaceManagerUpdateCnameRecordSet"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerAppendSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendSrvRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerAppendTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendTxtRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_Operations.json"
          },
          "List Operations DnsNamespaceManagerCnameRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerCnameRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerSrvRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerTxtRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateAaaaRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateCnameRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateCnameRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateDelegation": {
            "$ref": "./examples/DnsNamespaceManagerUpdateDelegation_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateSrvRecordSet_Operations.json"
          },
          "List Operations DnsNamespaceManagerUpdateTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateTxtRecordSet_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "List DnsNamespaceManagerARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendSrvRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendSrvRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendSrvRecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendSrvRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerAppendSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendSrvRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendTxtRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendTxtRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerAppendTxtRecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendTxtRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerAppendTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendTxtRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerCNameRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerCnameRecordSet"
        ],
        "description": "List DnsNamespaceManagerCnameRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerCnameRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerCnameRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerChildZoneDelegations": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegation_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegation"
        ],
        "description": "List DnsNamespaceManagerChildZoneDelegationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerSrvRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerSrvRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerSrvRecordSet"
        ],
        "description": "List DnsNamespaceManagerSrvRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerSrvRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerTxtRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerTxtRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerTxtRecordSet"
        ],
        "description": "List DnsNamespaceManagerTxtRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerTxtRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerUpdateARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateARecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerUpdateAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateAaaaRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateAaaaRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateAaaaRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerUpdateCNameRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateCnameRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateCnameRecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateCnameRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateCnameRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateCnameRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerUpdateDelegations": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateDelegation_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateDelegation"
        ],
        "description": "List DnsNamespaceManagerUpdateDelegationResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateDelegation": {
            "$ref": "./examples/DnsNamespaceManagerUpdateDelegation_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerUpdateSrvRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateSrvRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateSrvRecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateSrvRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateSrvRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/dnsNamespaceManagerUpdateTxtRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateTxtRecordSet_ListBySubscription",
        "tags": [
          "DnsNamespaceManagerUpdateTxtRecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateTxtRecordSetResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription DnsNamespaceManagerUpdateTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateTxtRecordSet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "List DnsNamespaceManagerARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerARecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerARecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerAaaaRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAaaaRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAaaaRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAaaaRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAaaaRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAaaaRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAaaaRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAaaaRecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAaaaRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAppendARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAppendARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendARecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerAppendARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendARecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendAaaaRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendAaaaRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendAaaaRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAppendAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendAaaaRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendAaaaRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAppendAaaaRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendAaaaRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendAaaaRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendAaaaRecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerAppendAaaaRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendAaaaRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendSrvRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendSrvRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendSrvRecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendSrvRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerAppendSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendSrvRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendSrvRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendSrvRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAppendSrvRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAppendSrvRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerAppendSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendSrvRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendSrvRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendSrvRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAppendSrvRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendSrvRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendSrvRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendSrvRecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerAppendSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendSrvRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendTxtRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendTxtRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerAppendTxtRecordSet"
        ],
        "description": "List DnsNamespaceManagerAppendTxtRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerAppendTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendTxtRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerAppendTxtRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerAppendTxtRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerAppendTxtRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerAppendTxtRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerAppendTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendTxtRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerAppendTxtRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerAppendTxtRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerAppendTxtRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerAppendTxtRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerAppendTxtRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerAppendTxtRecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerAppendTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerAppendTxtRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerCNameRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerCnameRecordSet"
        ],
        "description": "List DnsNamespaceManagerCnameRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerCnameRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerCnameRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerCNameRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerCnameRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerCnameRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerCnameRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerCnameRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerCnameRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerCnameRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerCnameRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerCnameRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerCnameRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerCnameRecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerCnameRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerCnameRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerChildZoneDelegations": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegation_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegation"
        ],
        "description": "List DnsNamespaceManagerChildZoneDelegationResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerChildZoneDelegations/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerChildZoneDelegation_Get",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegation"
        ],
        "description": "Get a DnsNamespaceManagerChildZoneDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerChildZoneDelegation_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerChildZoneDelegation"
        ],
        "description": "Create a DnsNamespaceManagerChildZoneDelegationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerChildZoneDelegationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerChildZoneDelegationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerChildZoneDelegationResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerChildZoneDelegation": {
            "$ref": "./examples/DnsNamespaceManagerChildZoneDelegation_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerSrvRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerSrvRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerSrvRecordSet"
        ],
        "description": "List DnsNamespaceManagerSrvRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerSrvRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerSrvRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerSrvRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerSrvRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerSrvRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerSrvRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerSrvRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerSrvRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerSrvRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerSrvRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerSrvRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerSrvRecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerSrvRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerSrvRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerTxtRecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerTxtRecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerTxtRecordSet"
        ],
        "description": "List DnsNamespaceManagerTxtRecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerTxtRecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerTxtRecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerTxtRecordSet_Get",
        "tags": [
          "DnsNamespaceManagerTxtRecordSet"
        ],
        "description": "Get a DnsNamespaceManagerTxtRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerTxtRecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerTxtRecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerTxtRecordSet"
        ],
        "description": "Create a DnsNamespaceManagerTxtRecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerTxtRecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerTxtRecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerTxtRecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerTxtRecordSet": {
            "$ref": "./examples/DnsNamespaceManagerTxtRecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerUpdateARecordSets": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_ListByResourceGroup",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "List DnsNamespaceManagerUpdateARecordSetResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/dnsNamespaceManagerUpdateARecordSets/{resourceName}": {
      "get": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_Get",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "Get a DnsNamespaceManagerUpdateARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DnsNamespaceManagerUpdateARecordSet_CreateOrUpdate",
        "tags": [
          "DnsNamespaceManagerUpdateARecordSet"
        ],
        "description": "Create a DnsNamespaceManagerUpdateARecordSetResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DnsNamespaceManagerUpdateARecordSetResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            }
          },
          "201": {
            "description": "Resource 'DnsNamespaceManagerUpdateARecordSetResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DnsNamespaceManagerUpdateARecordSetResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DnsNamespaceManagerUpdateARecordSet": {
            "$ref": "./examples/DnsNamespaceManagerUpdateARecordSet_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
[...]
