{
  "swagger": "2.0",
  "info": {
    "title": "Azure CIS - Storage Account",
    "version": "2023-08-22-preview",
    "description": "storageAccount Provider.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StorageAccountDsms"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/storageAccountDsmss": {
      "get": {
        "operationId": "StorageAccountDsms_ListBySubscription",
        "tags": [
          "StorageAccountDsms"
        ],
        "description": "List StorageAccountDsmsResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/storageAccountDsmss": {
      "get": {
        "operationId": "StorageAccountDsms_ListByResourceGroup",
        "tags": [
          "StorageAccountDsms"
        ],
        "description": "List StorageAccountDsmsResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/storageAccountDsmss/{resourceName}": {
      "get": {
        "operationId": "StorageAccountDsms_Get",
        "tags": [
          "StorageAccountDsms"
        ],
        "description": "Get a StorageAccountDsmsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_Get.json"
          }
        }
      },
      "put": {
        "operationId": "StorageAccountDsms_CreateOrUpdate",
        "tags": [
          "StorageAccountDsms"
        ],
        "description": "Create a StorageAccountDsmsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StorageAccountDsmsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResource"
            }
          },
          "201": {
            "description": "Resource 'StorageAccountDsmsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AccountSasInfo": {
      "type": "object",
      "description": "Sas Key Information.",
      "properties": {
        "rootPath": {
          "type": "string",
          "description": "dSMS root folder."
        },
        "name": {
          "type": "string",
          "description": "Name of the storage account."
        },
        "dsmsLocation": {
          "type": "string",
          "description": "Path in Dsms endpoint. If this specified, then RootPath and Name should be ignored."
        },
        "signedPermissions": {
          "type": "string",
          "description": "The signed permissions for the account SAS. Possible values include: Read (r), Write (w), Delete (d), List (l), Add (a), Create (c), Update (u) and Process (p)."
        },
        "signedServices": {
          "type": "string",
          "description": "Services like blob(b), queue(q) and table(t)."
        },
        "signedResourceTypes": {
          "type": "string",
          "description": "The signed resource types that are accessible with the account SAS. Service (s)/Container (c)/Object (o)."
        }
      }
    },
    "Property": {
      "type": "object",
      "description": "Defines the property element.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the property."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the property."
        }
      }
    },
    "Replicate": {
      "type": "object",
      "description": "Defines where the secret should be replicated to.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Local: This secret is not replicated to other dSMS instance. AllDsmsRegions: This secret can be replicated to all dSMS instances. SpecifiedDsmsRegions: This secret can only be replicated to the specified dSMS instances."
        },
        "values": {
          "type": "string",
          "description": "Gets or sets the regions the secret will be replicated to (Applicable when the type of replication is SpecifiedDsmsRegions). Regions are separated by semicolon."
        }
      }
    },
    "StorageAccountDsmsProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "StorageAccountDsmsProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "StorageAccountDsmsResource": {
      "type": "object",
      "description": "storageAccounts Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageAccountDsmsResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StorageAccountDsmsResourceListResult": {
      "type": "object",
      "description": "The response of a StorageAccountDsmsResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StorageAccountDsmsResource items on this page",
          "items": {
            "$ref": "#/definitions/StorageAccountDsmsResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StorageAccountDsmsResourceProperties": {
      "type": "object",
      "description": "storageAccountDsms properties.",
      "properties": {
        "rootPath": {
          "type": "string",
          "description": "Gets or sets the root path of the certificate."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name."
        },
        "description": {
          "type": "string",
          "description": "Description to this xstore account."
        },
        "subscriptionAlias": {
          "type": "string",
          "description": "Subscription alias."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription ID to use this xstore account."
        },
        "resourceProvider": {
          "type": "string",
          "description": "Storage account resource provider. Valid values are \"Classic\", \"ARM\"."
        },
        "label": {
          "type": "string",
          "description": "Label of this xstore account."
        },
        "location": {
          "type": "string",
          "description": "Location of this storage account."
        },
        "resourceGroupName": {
          "type": "string",
          "description": "Storage account resource group name."
        },
        "properties": {
          "type": "array",
          "description": "Properties",
          "items": {
            "$ref": "#/definitions/Property"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/StorageAccountDsmsProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "rootPath",
        "name",
        "description",
        "subscriptionAlias",
        "resourceProvider",
        "label"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "Supported versions.",
      "enum": [
        "2023-08-22-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_08_22_preview",
            "value": "2023-08-22-preview",
            "description": "API version 2023-08-22-preview"
          }
        ]
      }
    }
  },
  "parameters": {}
}
