{
  "swagger": "2.0",
  "info": {
    "title": "Azure CIS FRP",
    "version": "2023-08-22-preview",
    "description": "https://eng.ms/docs/products/azcis-resource-provisioning/template-user-guide/resources/storage-account",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StorageAccountDsms"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/storageAccountDsms": {
      "get": {
        "operationId": "StorageAccountDsms_ListBySubscription",
        "tags": [
          "StorageAccountDsms"
        ],
        "description": "List StorageAccountDsmsResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/storageAccountDsms": {
      "get": {
        "operationId": "StorageAccountDsms_ListByResourceGroup",
        "tags": [
          "StorageAccountDsms"
        ],
        "description": "List StorageAccountDsmsResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/storageAccountDsms/{resourceName}": {
      "get": {
        "operationId": "StorageAccountDsms_Get",
        "tags": [
          "StorageAccountDsms"
        ],
        "description": "Get a StorageAccountDsmsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_Get.json"
          }
        }
      },
      "put": {
        "operationId": "StorageAccountDsms_CreateOrUpdate",
        "tags": [
          "StorageAccountDsms"
        ],
        "description": "Create a StorageAccountDsmsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,80}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StorageAccountDsmsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResource"
            }
          },
          "201": {
            "description": "Resource 'StorageAccountDsmsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageAccountDsmsResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create StorageAccountDsms": {
            "$ref": "./examples/StorageAccountDsms_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "BlobIndexMatch": {
      "type": "object",
      "description": "Blob Index Match filter.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Filter tag name."
        },
        "operator": {
          "type": "string",
          "description": "Comparison operator."
        },
        "value": {
          "type": "string",
          "description": "Filter tag value."
        }
      },
      "required": [
        "name",
        "operator",
        "value"
      ]
    },
    "DualStackEndpointPreference": {
      "type": "object",
      "description": "Dual Stack Endpoint Preference.",
      "properties": {
        "defaultDualStackEndpoints": {
          "type": "boolean",
          "description": "Enable default dual stack endpoints."
        },
        "publishIpv4Endpoint": {
          "type": "boolean",
          "description": "Publish IPv4 endpoint."
        },
        "publishIpv6Endpoint": {
          "type": "boolean",
          "description": "Publish IPv6 endpoint."
        }
      }
    },
    "LcmActionPolicy": {
      "type": "object",
      "description": "Lifecycle Management Policy details for a specific action in a rule.",
      "properties": {
        "action": {
          "type": "string",
          "description": "Action to be performed. Acceptable values: tierToCool, tierToArchive, tierToCold, tierToHot, delete."
        },
        "daysAfterModificationGreaterThan": {
          "type": "integer",
          "format": "int32",
          "description": "Days after modification greater than."
        },
        "daysAfterLastAccessTimeGreaterThan": {
          "type": "integer",
          "format": "int32",
          "description": "Days after last access time greater than."
        },
        "daysAfterLastTierChangeGreaterThan": {
          "type": "integer",
          "format": "int32",
          "description": "Days after last tier change greater than (specific to tierToArchive action)."
        },
        "daysAfterCreationGreaterThan": {
          "type": "integer",
          "format": "int32",
          "description": "Days after creation greater than."
        }
      },
      "required": [
        "action"
      ]
    },
    "LifecycleManagementPolicyRule": {
      "type": "object",
      "description": "Lifecycle Management Policy Rule for Storage Account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the policy rule."
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether the rule is enabled."
        },
        "baseBlobPolicy": {
          "type": "array",
          "description": "Policy for base blobs.",
          "items": {
            "$ref": "#/definitions/LcmActionPolicy"
          },
          "x-ms-identifiers": []
        },
        "snapshotPolicy": {
          "type": "array",
          "description": "Policy for snapshots.",
          "items": {
            "$ref": "#/definitions/LcmActionPolicy"
          },
          "x-ms-identifiers": []
        },
        "versionPolicy": {
          "type": "array",
          "description": "Policy for versions.",
          "items": {
            "$ref": "#/definitions/LcmActionPolicy"
          },
          "x-ms-identifiers": []
        },
        "blobTypesFilter": {
          "type": "string",
          "description": "A string, containing BlobTypes to filter, separated with a semicolon. Acceptable values: 'blockBlob', 'appendBlob'."
        },
        "prefixMatchFilter": {
          "type": "array",
          "description": "List of prefixes to filter by.",
          "items": {
            "type": "string"
          }
        },
        "blobIndexMatchFilter": {
          "type": "array",
          "description": "List of blob index match filters.",
          "items": {
            "$ref": "#/definitions/BlobIndexMatch"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "name",
        "enabled",
        "baseBlobPolicy",
        "snapshotPolicy",
        "versionPolicy",
        "blobTypesFilter",
        "prefixMatchFilter",
        "blobIndexMatchFilter"
      ]
    },
    "StorageAccountDsmsProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "StorageAccountDsmsProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "StorageAccountDsmsResource": {
      "type": "object",
      "description": "StorageAccount Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageAccountDsmsResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StorageAccountDsmsResourceListResult": {
      "type": "object",
      "description": "The response of a StorageAccountDsmsResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StorageAccountDsmsResource items on this page",
          "items": {
            "$ref": "#/definitions/StorageAccountDsmsResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StorageAccountDsmsResourceProperties": {
      "type": "object",
      "description": "StorageAccountDsms properties.",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "Name of the Storage Account."
        },
        "rootPath": {
          "type": "string",
          "description": "Root path of the certificate."
        },
        "dsmsDns": {
          "type": "string",
          "description": "Defines in which region of dSMS to provision the Storage Account, such as global-dsms.dsms.%(HostNameSuffix), uswest-dsms.dsms.%(HostNameSuffix). Used only for provisioning Storage Account in non-home-dsms endpoint."
        },
        "accountReplicationType": {
          "type": "string",
          "description": "Account Replication Type."
        },
        "description": {
          "type": "string",
          "description": "Description of the XStore account."
        },
        "location": {
          "type": "string",
          "description": "Location of the Storage Account."
        },
        "label": {
          "type": "string",
          "description": "Label of the XStore account."
        },
        "eventEmittedUponProvisioning": {
          "type": "string",
          "description": "Name of the event to emit once the XStore account is created."
        },
        "resourceProvider": {
          "type": "string",
          "description": "Storage Account resource provider. Acceptable values: Classic (for RDFE Storage Accounts), ARM (StorageV2 (general purpose v2) on Azure Portal).",
          "enum": [
            "Classic",
            "ARM"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "residencyBoundary": {
          "type": "string",
          "description": "Residency boundary. Acceptable values: Worldwide, National.",
          "enum": [
            "Worldwide",
            "National"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "resiliencyMinimum": {
          "type": "string",
          "description": "Minimum account replication type, e.g. Standard_LRS. If it's set, it will enable VRS feature for the Storage Account, and the 'AccountReplicationType' property will not be used."
        },
        "resiliencyMaximum": {
          "type": "string",
          "description": "Maximum account replication type, e.g. Standard_ZRS."
        },
        "resilienciesProgressionId": {
          "type": "string",
          "description": "Resiliencies progression id. Acceptable values: Default, PremiumDefault, Zonal.",
          "enum": [
            "Default",
            "PremiumDefault",
            "Zonal"
          ],
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "additionalLocations": {
          "type": "string",
          "description": "Additional locations to support resiliency, e.g. primary."
        },
        "lifecycleManagementPolicy": {
          "type": "array",
          "description": "An array of Lifecycle Management Policy rules.",
          "items": {
            "$ref": "#/definitions/LifecycleManagementPolicyRule"
          },
          "x-ms-identifiers": []
        },
        "refreshInDsms": {
          "type": "boolean",
          "description": "Set to False to prevent refreshing in dSMS after creating Storage Account. Optional, True by default."
        },
        "originalResourceProvider": {
          "type": "string",
          "description": "The original resource provider from StorageAccountDsmsTemplate, which would be used if not pilot Xstore resource provider. Add the property to support transition from Classic to Xstore/ARM resource provider."
        },
        "dualStackEndpointPreference": {
          "$ref": "#/definitions/DualStackEndpointPreference",
          "description": "Dual Stack Endpoint Preference."
        },
        "requireInfrastructureEncryption": {
          "type": "boolean",
          "description": "Defines if Infrastructure Encryption is required."
        },
        "properties": {
          "type": "object",
          "description": "Properties can be used to save customer key-value pairs associated with the dSMS secrets. Optional."
        },
        "azureLocation": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure location."
        },
        "provisioningState": {
          "$ref": "#/definitions/StorageAccountDsmsProvisioningState",
          "description": "Provisioning status of the resource.",
          "readOnly": true
        },
        "storageAccountDsmsName": {
          "type": "string",
          "description": "Storage Account dSMS object name; a part of provisioning ResultData output.",
          "readOnly": true
        },
        "storageAccountDsmsResourceProviderName": {
          "type": "string",
          "description": "Storage Account dSMS object resource provider; a part of provisioning ResultData output.",
          "readOnly": true
        },
        "storageAccountArmCreationTime": {
          "type": "string",
          "description": "Storage Account ARM creation time; a part of provisioning ResultData output.",
          "readOnly": true
        },
        "storageAccountRdfeCreationTime": {
          "type": "string",
          "description": "Storage Account rdfe creation time; a part of provisioning ResultData output.",
          "readOnly": true
        },
        "storageAccountXstoreCreationTime": {
          "type": "string",
          "description": "Storage Account XStore creation time; a part of provisioning ResultData output.",
          "readOnly": true
        },
        "provisionStartTime_StorageAccountTemplate": {
          "type": "string",
          "description": "Resource template provision start time; a part of provisioning ResultData output.",
          "readOnly": true
        }
      },
      "required": [
        "accountName",
        "rootPath",
        "resourceProvider"
      ]
    }
  },
  "parameters": {}
}
