{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ArcContainerStorage management service",
    "version": "2024-10-01-preview",
    "description": "Microsoft.ArcContainerStorage Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OperationStatus"
    },
    {
      "name": "AcStorConfigurations"
    },
    {
      "name": "EdgeStorageConfigurations"
    },
    {
      "name": "IngestSubvolumes"
    },
    {
      "name": "EdgeVolumes"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/acStorConfigurations": {
      "get": {
        "operationId": "AcStorConfigurations_List",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "List AcStorConfiguration resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AcStorConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AcStorConfigurations_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AcStorConfigurations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/acStorConfigurations/{acStorConfigurationName}": {
      "get": {
        "operationId": "AcStorConfigurations_Get",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "Get a AcStorConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "acStorConfigurationName",
            "in": "path",
            "description": "The name of the AcStorConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^acstor-configuration$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AcStorConfigurations_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AcStorConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AcStorConfigurations_CreateOrUpdate",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "Create a AcStorConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "acStorConfigurationName",
            "in": "path",
            "description": "The name of the AcStorConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^acstor-configuration$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AcStorConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            }
          },
          "201": {
            "description": "Resource 'AcStorConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AcStorConfigurations_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AcStorConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AcStorConfigurations_Update",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "Update a AcStorConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "acStorConfigurationName",
            "in": "path",
            "description": "The name of the AcStorConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^acstor-configuration$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AcStorConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AcStorConfiguration"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AcStorConfigurations_Update_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AcStorConfigurations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AcStorConfigurations_Delete",
        "tags": [
          "AcStorConfigurations"
        ],
        "description": "Delete a AcStorConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "acStorConfigurationName",
            "in": "path",
            "description": "The name of the AcStorConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^acstor-configuration$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AcStorConfigurations_Delete_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AcStorConfigurations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeStorageConfigurations": {
      "get": {
        "operationId": "EdgeStorageConfigurations_List",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "List EdgeStorageConfiguration resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeStorageConfigurations/{edgeStorageConfigurationName}": {
      "get": {
        "operationId": "EdgeStorageConfigurations_Get",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "Get a EdgeStorageConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeStorageConfigurationName",
            "in": "path",
            "description": "The name of the EdgeStorageConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^edge-storage-configuration$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeStorageConfigurations_CreateOrUpdate",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "Create a EdgeStorageConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeStorageConfigurationName",
            "in": "path",
            "description": "The name of the EdgeStorageConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^edge-storage-configuration$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeStorageConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            }
          },
          "201": {
            "description": "Resource 'EdgeStorageConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeStorageConfigurations_Update",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "Update a EdgeStorageConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeStorageConfigurationName",
            "in": "path",
            "description": "The name of the EdgeStorageConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^edge-storage-configuration$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_Update_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeStorageConfigurations_Delete",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "Delete a EdgeStorageConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeStorageConfigurationName",
            "in": "path",
            "description": "The name of the EdgeStorageConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^edge-storage-configuration$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_Delete_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes": {
      "get": {
        "operationId": "EdgeVolumes_List",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "List EdgeVolume resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeVolumeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes/{edgeVolumeName}": {
      "get": {
        "operationId": "EdgeVolumes_Get",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "Get a EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeVolumes_CreateOrUpdate",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "Create a EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeVolume' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            }
          },
          "201": {
            "description": "Resource 'EdgeVolume' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeVolumes_Update",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "Update a EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeVolumeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_Update_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeVolumes_Delete",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "Delete a EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_Delete_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes/{edgeVolumeName}/ingestSubvolumes": {
      "get": {
        "operationId": "IngestSubvolumes_List",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "List IngestSubvolume resources by EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestSubvolumeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes/{edgeVolumeName}/ingestSubvolumes/{ingestSubvolumeName}": {
      "get": {
        "operationId": "IngestSubvolumes_Get",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "Get a IngestSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "ingestSubvolumeName",
            "in": "path",
            "description": "The name of the IngestSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "IngestSubvolumes_CreateOrUpdate",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "Create a IngestSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "ingestSubvolumeName",
            "in": "path",
            "description": "The name of the IngestSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IngestSubvolume' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            }
          },
          "201": {
            "description": "Resource 'IngestSubvolume' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "IngestSubvolumes_Update",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "Update a IngestSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "ingestSubvolumeName",
            "in": "path",
            "description": "The name of the IngestSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IngestSubvolumeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_Update_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "IngestSubvolumes_Delete",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "Delete a IngestSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "ingestSubvolumeName",
            "in": "path",
            "description": "The name of the IngestSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_Delete_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.ArcContainerStorage/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcContainerStorage/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatus_Get",
        "tags": [
          "OperationStatus"
        ],
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationStatus_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperationStatus_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AcStorConfiguration": {
      "type": "object",
      "description": "AcStorConfiguration defines the configuration for a storage system. It is a singleton which must be named 'acstor-configuration'.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AcStorConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AcStorConfigurationListResult": {
      "type": "object",
      "description": "The response of a AcStorConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AcStorConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/AcStorConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AcStorConfigurationProperties": {
      "type": "object",
      "description": "Defines the properties of the AcStorConfiguration resource.",
      "properties": {
        "diskMountPoint": {
          "type": "string",
          "description": "The mount point for the disk.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "diskCapacity": {
          "type": "string",
          "description": "The capacity of the disk, including storage unit (e.g., 60Gi).",
          "pattern": "^[0-9][0-9]*([.][0-9]+)?[KMGTP]i?$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ioInterface": {
          "$ref": "#/definitions/IoInterfaces",
          "description": "The linux IO interface to use."
        },
        "createStoragePool": {
          "$ref": "#/definitions/StoragePoolConfig",
          "description": "Configuration for creating a storage pool.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ioEngineCpuLimit": {
          "type": "string",
          "description": "io engine cpu limit",
          "pattern": "^([0-9]+m?|0[.][0-9]+)?$"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/AcStorConfigurationStatus",
          "description": "Read only object to reflect changes that have occurred on the Edge. Similar to Kubernetes status property for custom resources.",
          "readOnly": true
        }
      },
      "required": [
        "diskCapacity"
      ]
    },
    "AcStorConfigurationPropertiesUpdate": {
      "type": "object",
      "description": "Defines the properties of the AcStorConfiguration resource.",
      "properties": {
        "ioInterface": {
          "$ref": "#/definitions/IoInterfaces",
          "description": "The linux IO interface to use."
        },
        "ioEngineCpuLimit": {
          "type": "string",
          "description": "io engine cpu limit",
          "pattern": "^([0-9]+m?|0[.][0-9]+)?$"
        }
      }
    },
    "AcStorConfigurationStatus": {
      "type": "object",
      "description": "Defines the observed status of the AcStorConfiguration resource.",
      "properties": {
        "state": {
          "$ref": "#/definitions/ConfigurationState",
          "description": "The current state of the configuration."
        },
        "details": {
          "type": "string",
          "description": "Additional details about the configuration's status."
        }
      }
    },
    "AcStorConfigurationUpdate": {
      "type": "object",
      "description": "AcStorConfiguration defines the configuration for a storage system. It is a singleton which must be named 'acstor-configuration'.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AcStorConfigurationPropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AuthConfig": {
      "type": "object",
      "description": "Authentication settings for secure access to storage.",
      "properties": {
        "authType": {
          "$ref": "#/definitions/AuthType",
          "description": "Auth method to use."
        }
      },
      "required": [
        "authType"
      ]
    },
    "AuthConfigUpdate": {
      "type": "object",
      "description": "Authentication settings for secure access to storage.",
      "properties": {
        "authType": {
          "$ref": "#/definitions/AuthType",
          "description": "Auth method to use."
        }
      }
    },
    "AuthSysConfig": {
      "type": "object",
      "description": "Unix-like ownership of the subvolume via UID/GID.",
      "properties": {
        "uid": {
          "type": "integer",
          "format": "int64",
          "description": "User ID owning the subvolume (default 4294967294).",
          "minimum": 1,
          "maximum": 4294967294
        },
        "gid": {
          "type": "integer",
          "format": "int64",
          "description": "Group ID owning the subvolume (default 4294967294).",
          "minimum": 1,
          "maximum": 4294967294
        }
      },
      "required": [
        "uid",
        "gid"
      ]
    },
    "AuthSysConfigUpdate": {
      "type": "object",
      "description": "Unix-like ownership of the subvolume via UID/GID.",
      "properties": {
        "uid": {
          "type": "integer",
          "format": "int64",
          "description": "User ID owning the subvolume (default 4294967294).",
          "minimum": 1,
          "maximum": 4294967294
        },
        "gid": {
          "type": "integer",
          "format": "int64",
          "description": "Group ID owning the subvolume (default 4294967294).",
          "minimum": 1,
          "maximum": 4294967294
        }
      }
    },
    "AuthType": {
      "type": "string",
      "description": "Possible authentication methods.",
      "enum": [
        "WORKLOAD_IDENTITY",
        "MANAGED_IDENTITY"
      ],
      "x-ms-enum": {
        "name": "AuthType",
        "modelAsString": true,
        "values": [
          {
            "name": "WORKLOAD_IDENTITY",
            "value": "WORKLOAD_IDENTITY",
            "description": "Workload Identity for authentication."
          },
          {
            "name": "MANAGED_IDENTITY",
            "value": "MANAGED_IDENTITY",
            "description": "Managed Identity for authentication."
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BackendConnectionState": {
      "type": "string",
      "description": "States of backend connection",
      "enum": [
        "Unknown",
        "Connected",
        "Disconnected due to network error",
        "Disconnected due to auth error"
      ],
      "x-ms-enum": {
        "name": "BackendConnectionState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The backend connection is not initialized"
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The backend connection is established"
          },
          {
            "name": "Disconnected",
            "value": "Disconnected due to network error",
            "description": "The backend connection disconnected due to network error"
          },
          {
            "name": "AuthError",
            "value": "Disconnected due to auth error",
            "description": "The backend connection disconnected due to auth error"
          }
        ]
      }
    },
    "ConfigurationState": {
      "type": "string",
      "description": "States of a configuration resource",
      "enum": [
        "InProgress",
        "Pending",
        "Running",
        "Terminating",
        "Updating",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ConfigurationState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Good, just in progress creating the resources"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Something is stuck waiting to be resolved, e.g. incorrect underlying storage configuration"
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "The configuration is running and in use"
          },
          {
            "name": "Terminating",
            "value": "Terminating",
            "description": "The configuration is terminating"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The configuration is upgrading"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "We can't determine the status of the configuration"
          }
        ]
      }
    },
    "DiskTypes": {
      "type": "string",
      "description": "Disk types used for storage pool.",
      "enum": [
        "nvme",
        "temp"
      ],
      "x-ms-enum": {
        "name": "DiskTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "nvme",
            "value": "nvme",
            "description": "nvme will be used for the storage pool."
          },
          {
            "name": "temp",
            "value": "temp",
            "description": "temp disk will be used for the storage pool."
          }
        ]
      }
    },
    "EdgeStorageConfiguration": {
      "type": "object",
      "description": "EdgeStorageConfiguration is a custom resource that defines the configuration for edge storage settings.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeStorageConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeStorageConfigurationListResult": {
      "type": "object",
      "description": "The response of a EdgeStorageConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeStorageConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/EdgeStorageConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeStorageConfigurationProperties": {
      "type": "object",
      "description": "Defines the properties of the EdgeStorageConfiguration resource.",
      "properties": {
        "defaultDiskStorageClasses": {
          "type": "array",
          "description": "The default disk storage class(es) to be used for edge volumes. Must not be empty and is immutable once set.",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/StorageClass"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "failoverEdgeVolumeConsumers": {
          "type": "boolean",
          "description": "Automatically failover edge volume consumers."
        },
        "workloadIdentity": {
          "$ref": "#/definitions/WorkloadIdentity",
          "description": "Object containing optional workload identity information."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/EdgeStorageConfigurationStatus",
          "description": "Read only object to reflect changes that have occurred on the Edge. Similar to Kubernetes status property for custom resources.",
          "readOnly": true
        }
      },
      "required": [
        "defaultDiskStorageClasses"
      ]
    },
    "EdgeStorageConfigurationPropertiesUpdate": {
      "type": "object",
      "description": "Defines the properties of the EdgeStorageConfiguration resource.",
      "properties": {
        "failoverEdgeVolumeConsumers": {
          "type": "boolean",
          "description": "Automatically failover edge volume consumers."
        },
        "workloadIdentity": {
          "$ref": "#/definitions/WorkloadIdentityUpdate",
          "description": "Object containing optional workload identity information."
        }
      }
    },
    "EdgeStorageConfigurationStatus": {
      "type": "object",
      "description": "Defines the observed status of the EdgeStorageConfiguration resource.",
      "properties": {
        "state": {
          "$ref": "#/definitions/ConfigurationState",
          "description": "The current state of the configuration."
        },
        "details": {
          "type": "string",
          "description": "Additional details about the configuration's status."
        }
      }
    },
    "EdgeStorageConfigurationUpdate": {
      "type": "object",
      "description": "EdgeStorageConfiguration is a custom resource that defines the configuration for edge storage settings.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeStorageConfigurationPropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeVolume": {
      "type": "object",
      "description": "EdgeVolume is a custom resource for defining an edge volume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeVolumeProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeVolumeListResult": {
      "type": "object",
      "description": "The response of a EdgeVolume list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeVolume items on this page",
          "items": {
            "$ref": "#/definitions/EdgeVolume"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeVolumeProperties": {
      "type": "object",
      "description": "Defines the desired state (spec) of the EdgeVolume resource.",
      "properties": {
        "requestedSize": {
          "type": "string",
          "description": "Size of the EdgeVolume (example: 1Gi). Must be a valid storage size and is immutable once set.",
          "pattern": "^[0-9][0-9]*([.][0-9]+)?[KMGTP]i?$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ingestOperationConcurrency": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of concurrency for ingest operations (between 1 and 256).",
          "minimum": 1,
          "maximum": 256
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/EdgeVolumeStatus",
          "description": "Read only object to reflect changes that have occurred on the Edge. Similar to Kubernetes status property for custom resources.",
          "readOnly": true
        }
      },
      "required": [
        "requestedSize"
      ]
    },
    "EdgeVolumePropertiesUpdate": {
      "type": "object",
      "description": "Defines the desired state (spec) of the EdgeVolume resource.",
      "properties": {
        "ingestOperationConcurrency": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of concurrency for ingest operations (between 1 and 256).",
          "minimum": 1,
          "maximum": 256
        }
      }
    },
    "EdgeVolumeState": {
      "type": "string",
      "description": "States of an EdgeVolume",
      "enum": [
        "unknown",
        "deploying",
        "deployed",
        "deployment_deletion"
      ],
      "x-ms-enum": {
        "name": "EdgeVolumeState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "unknown",
            "description": "edgevolume is in an unknown state"
          },
          {
            "name": "Deploying",
            "value": "deploying",
            "description": "edgevolume is deploying"
          },
          {
            "name": "Deployed",
            "value": "deployed",
            "description": "edgevolume is deployed and running"
          },
          {
            "name": "DeploymentDeletion",
            "value": "deployment_deletion",
            "description": "edgevolume deployment is being deleted"
          }
        ]
      }
    },
    "EdgeVolumeStatus": {
      "type": "object",
      "description": "Defines the observed state (status) of the EdgeVolume resource.",
      "properties": {
        "state": {
          "$ref": "#/definitions/EdgeVolumeState",
          "description": "The current state of the EdgeVolume. Defaults to 'unknown'."
        },
        "details": {
          "type": "string",
          "description": "Additional details about the EdgeVolume status."
        },
        "spaceAvailable": {
          "type": "string",
          "description": "The amount of space available (string format, e.g., '500Mi').",
          "pattern": "^[0-9][0-9]*([.][0-9]+)?[KMGTP]i?$"
        },
        "persistentVolume": {
          "type": "string",
          "description": "A reference to the underlying persistent volume."
        }
      }
    },
    "EdgeVolumeUpdate": {
      "type": "object",
      "description": "EdgeVolume is a custom resource for defining an edge volume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeVolumePropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EngineTypes": {
      "type": "string",
      "description": "EngineTypes used for storage pool.",
      "enum": [
        "default",
        "xfs",
        "spaces"
      ],
      "x-ms-enum": {
        "name": "EngineTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "use the extension default."
          },
          {
            "name": "xfs",
            "value": "xfs",
            "description": "xfs will be used for the storage pool."
          },
          {
            "name": "spaces",
            "value": "spaces",
            "description": "spaces will be used for the storage pool."
          }
        ]
      }
    },
    "EvictionOrder": {
      "type": "string",
      "description": "Defines the possible order for clean file eviction.",
      "enum": [
        "never",
        "unordered"
      ],
      "x-ms-enum": {
        "name": "EvictionOrder",
        "modelAsString": true,
        "values": [
          {
            "name": "never",
            "value": "never",
            "description": "Do not evict any files."
          },
          {
            "name": "unordered",
            "value": "unordered",
            "description": "Evict files in an unordered manner."
          }
        ]
      }
    },
    "IngestOrder": {
      "type": "string",
      "description": "Defines the possible order for dirty file ingestion.",
      "enum": [
        "oldest-first",
        "newest-first"
      ],
      "x-ms-enum": {
        "name": "IngestOrder",
        "modelAsString": true,
        "values": [
          {
            "name": "oldest-first",
            "value": "oldest-first",
            "description": "Upload dirty files in the order of oldest first."
          },
          {
            "name": "newest-first",
            "value": "newest-first",
            "description": "Upload dirty files in the order of newest first."
          }
        ]
      }
    },
    "IngestSubvolume": {
      "type": "object",
      "description": "IngestSubvolume is a custom resource that defines the configuration for a subvolume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IngestSubvolumeProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IngestSubvolumeEvictionConfig": {
      "type": "object",
      "description": "The eviction configuration for the subvolume.",
      "properties": {
        "order": {
          "$ref": "#/definitions/EvictionOrder",
          "description": "The order in which clean files will be evicted - this is best effort, not a guarantee."
        },
        "minDelaySec": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of seconds before a clean file is eligible for eviction.",
          "minimum": 0,
          "maximum": 31536000
        }
      }
    },
    "IngestSubvolumeIngestConfig": {
      "type": "object",
      "description": "The ingest configuration for the subvolume.",
      "properties": {
        "order": {
          "$ref": "#/definitions/IngestOrder",
          "description": "The order in which dirty files will be uploaded - this is best effort, not a guarantee."
        },
        "minDelaySec": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of seconds before a dirty file is eligible for ingest.",
          "minimum": 0,
          "maximum": 31536000
        }
      }
    },
    "IngestSubvolumeListResult": {
      "type": "object",
      "description": "The response of a IngestSubvolume list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The IngestSubvolume items on this page",
          "items": {
            "$ref": "#/definitions/IngestSubvolume"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IngestSubvolumeProperties": {
      "type": "object",
      "description": "Defines the properties of the IngestSubvolume resource.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Top-level path for this subvolume (e.g., /mysubvol).",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^/?[a-zA-Z0-9-\\._]*$"
        },
        "auth": {
          "$ref": "#/definitions/AuthConfig",
          "description": "Authentication config for certain subvolumes."
        },
        "storageAccountEndpoint": {
          "type": "string",
          "description": "Blob storage endpoint, for example: https://mysa.core.windows.net",
          "minLength": 3,
          "maxLength": 1024
        },
        "container": {
          "type": "string",
          "description": "Blob container name.",
          "minLength": 3
        },
        "authSys": {
          "$ref": "#/definitions/AuthSysConfig",
          "description": "Optional Unix-like ownership info (UID/GID) for the subvolume."
        },
        "ingest": {
          "$ref": "#/definitions/IngestSubvolumeIngestConfig",
          "description": "Ingest configuration for the subvolume."
        },
        "eviction": {
          "$ref": "#/definitions/IngestSubvolumeEvictionConfig",
          "description": "Eviction configuration for the subvolume."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/IngestSubvolumeStatus",
          "description": "Read only object to reflect changes that have occurred on the Edge. Similar to Kubernetes status property for custom resources.",
          "readOnly": true
        }
      }
    },
    "IngestSubvolumePropertiesUpdate": {
      "type": "object",
      "description": "Defines the properties of the IngestSubvolume resource.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Top-level path for this subvolume (e.g., /mysubvol).",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^/?[a-zA-Z0-9-\\._]*$"
        },
        "auth": {
          "$ref": "#/definitions/AuthConfigUpdate",
          "description": "Authentication config for certain subvolumes."
        },
        "storageAccountEndpoint": {
          "type": "string",
          "description": "Blob storage endpoint, for example: https://mysa.core.windows.net",
          "minLength": 3,
          "maxLength": 1024
        },
        "container": {
          "type": "string",
          "description": "Blob container name.",
          "minLength": 3
        },
        "authSys": {
          "$ref": "#/definitions/AuthSysConfigUpdate",
          "description": "Optional Unix-like ownership info (UID/GID) for the subvolume."
        },
        "ingest": {
          "$ref": "#/definitions/IngestSubvolumeIngestConfig",
          "description": "Ingest configuration for the subvolume."
        },
        "eviction": {
          "$ref": "#/definitions/IngestSubvolumeEvictionConfig",
          "description": "Eviction configuration for the subvolume."
        }
      }
    },
    "IngestSubvolumeState": {
      "type": "string",
      "description": "States of an IngestSubvolume",
      "enum": [
        "unknown",
        "configuring",
        "configured",
        "cleaning_up"
      ],
      "x-ms-enum": {
        "name": "IngestSubvolumeState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "unknown",
            "description": "IngestSubvolume is in an unknown state"
          },
          {
            "name": "Configuring",
            "value": "configuring",
            "description": "IngestSubvolume configuration is in progress"
          },
          {
            "name": "Configured",
            "value": "configured",
            "description": "IngestSubvolume is configured and ready"
          },
          {
            "name": "CleaningUp",
            "value": "cleaning_up",
            "description": "IngestSubvolume is being deleted"
          }
        ]
      }
    },
    "IngestSubvolumeStatus": {
      "type": "object",
      "description": "Defines the observed status of the IngestSubvolume resource.",
      "properties": {
        "state": {
          "$ref": "#/definitions/IngestSubvolumeState",
          "description": "The current state of the subvolume."
        },
        "backendConnection": {
          "$ref": "#/definitions/BackendConnectionState",
          "description": "Describes the backend connection."
        }
      }
    },
    "IngestSubvolumeUpdate": {
      "type": "object",
      "description": "IngestSubvolume is a custom resource that defines the configuration for a subvolume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IngestSubvolumePropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IoInterfaces": {
      "type": "string",
      "description": "Linux io interfaces used for disk operations.",
      "enum": [
        "uring",
        "aio"
      ],
      "x-ms-enum": {
        "name": "IoInterfaces",
        "modelAsString": true,
        "values": [
          {
            "name": "uring",
            "value": "uring",
            "description": "io_uring - recommended for most kernels"
          },
          {
            "name": "aio",
            "value": "aio",
            "description": "aio - required for openshift"
          }
        ]
      }
    },
    "StorageClass": {
      "type": "string",
      "minLength": 1,
      "maxLength": 253
    },
    "StoragePoolConfig": {
      "type": "object",
      "description": "Defines the configuration for creating a storage pool.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to create a storage pool."
        },
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "The number of replicas to create.",
          "minimum": 1,
          "maximum": 128
        },
        "name": {
          "type": "string",
          "description": "The name of the storage pool."
        },
        "engineType": {
          "$ref": "#/definitions/EngineTypes",
          "description": "The storage engine to use."
        },
        "diskType": {
          "$ref": "#/definitions/DiskTypes",
          "description": "The type of disk to use."
        }
      }
    },
    "UUIDType": {
      "type": "string",
      "pattern": "^[0-9a-fA-F-]{36}$"
    },
    "WorkloadIdentity": {
      "type": "object",
      "description": "Defines the workload identity properties.",
      "properties": {
        "clientId": {
          "$ref": "#/definitions/UUIDType",
          "description": "The client ID for the workload identity."
        },
        "tenantId": {
          "$ref": "#/definitions/UUIDType",
          "description": "The tenant ID for the workload identity."
        }
      },
      "required": [
        "clientId",
        "tenantId"
      ]
    },
    "WorkloadIdentityUpdate": {
      "type": "object",
      "description": "Defines the workload identity properties.",
      "properties": {
        "clientId": {
          "$ref": "#/definitions/UUIDType",
          "description": "The client ID for the workload identity."
        },
        "tenantId": {
          "$ref": "#/definitions/UUIDType",
          "description": "The tenant ID for the workload identity."
        }
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
