{
  "swagger": "2.0",
  "info": {
    "version": "2021-01-01-preview",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.CommonEdge/edgeDevices": {
      "get": {
        "tags": [
          "edgeDevices"
        ],
        "operationId": "edgeDevices_ListByResourceGroup",
        "x-ms-examples": {
          "List edgeDevices in a given resource group": {
            "$ref": "./examples/ListEdgeDevicesByResourceGroup.json"
          }
        },
        "description": "List all HCI edgeDevices in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/edgeDeviceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.CommonEdge/edgeDevices/{edgeDeviceName}": {
      "get": {
        "tags": [
          "edgeDevices"
        ],
        "operationId": "edgeDevices_Get",
        "x-ms-examples": {
          "Get edgeDevice": {
            "$ref": "./examples/GetEdgeDevice.json"
          }
        },
        "description": "Get HCI edgeDevice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/edgeDeviceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/edgeDevice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "edgeDevices"
        ],
        "operationId": "edgeDevices_Create",
        "x-ms-examples": {
          "Create edgeDevice": {
            "$ref": "./examples/CreateEdgeDevice.json"
          }
        },
        "description": "Create an HCI edgeDevice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/edgeDeviceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "edgeDevice",
            "in": "body",
            "description": "Details of the HCI edgeDevice.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/edgeDevice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/edgeDevice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "edgeDevices"
        ],
        "operationId": "edgeDevices_Update",
        "x-ms-examples": {
          "Update edgeDevice": {
            "$ref": "./examples/UpdateEdgeDevice.json"
          }
        },
        "description": "Update an HCI edgeDevice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/edgeDeviceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "edgeDevice",
            "in": "body",
            "description": "Details of the HCI edgeDevice.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/edgeDevicePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/edgeDevice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "edgeDevices"
        ],
        "operationId": "edgeDevices_Delete",
        "x-ms-examples": {
          "Delete edgeDevice": {
            "$ref": "./examples/DeleteEdgeDevice.json"
          }
        },
        "description": "Delete an HCI edgeDevice.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/edgeDeviceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "edgeDeviceList": {
      "description": "List of edgeDevices.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of edgeDevices.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/edgeDevice"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "edgeDevice": {
      "description": "edgeDevice details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "systemData": {
          "description": "System data of edgeDevice resource",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "x-ms-client-flatten": true,
          "readOnly": true
        },
        "properties": {
          "description": "edgeDevice properties.",
          "$ref": "#/definitions/edgeDeviceProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "edgeDevicePatch": {
      "description": "edgeDevice details to update.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "edgeDevice properties.",
          "$ref": "#/definitions/edgeDevicePatchProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "edgeDeviceProperties": {
      "description": "edgeDevice properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "readOnly": true
        }
      }
    },
    "edgeDevicePatchProperties": {
      "description": "edgeDevice properties.",
      "type": "object",
      "properties": {
      }
    }
  },
  "parameters": {
    "edgeDeviceNameParameter": {
      "name": "edgeDeviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the edgeDevice.",
      "x-ms-parameter-location": "method"
    }
  }
}
