{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.CookingRP",
    "version": "2021-08-01-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "RecipeRTs"
    },
    {
      "name": "Operations"
    },
    {
      "name": "MRTRTs"
    },
    {
      "name": "RecipeMRGParentRTs"
    },
    {
      "name": "RecipeMRGInternalRTs"
    }
  ],
  "paths": {
    "/providers/Microsoft.CookingRP/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CookingRP/RecipeRTs": {
      "get": {
        "tags": [
          "RecipeRTs"
        ],
        "operationId": "RecipeRTs_ListBySubscription",
        "description": "List RecipeRT resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeRTListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CookingRP/RecipeRTs": {
      "get": {
        "tags": [
          "RecipeRTs"
        ],
        "operationId": "RecipeRTs_ListByResourceGroup",
        "description": "List RecipeRT resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeRTListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CookingRP/RecipeRTs/{RecipeRTName}": {
      "get": {
        "tags": [
          "RecipeRTs"
        ],
        "operationId": "RecipeRTs_Get",
        "description": "Get a RecipeRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetRecipeRT": {
            "$ref": "./examples/RecipeRTs_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "RecipeRTs"
        ],
        "operationId": "RecipeRTs_CreateOrUpdate",
        "description": "Create a RecipeRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/RecipeRT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeRT"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/RecipeRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateRecipeRT": {
            "$ref": "./examples/RecipeRTs_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "RecipeRTs"
        ],
        "operationId": "RecipeRTs_Update",
        "description": "Update a RecipeRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/RecipeRTUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeRT"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/RecipeRT"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "RecipeRTs"
        ],
        "operationId": "RecipeRTs_Delete",
        "description": "Delete a RecipeRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CookingRP/RecipeRTs/{RecipeRTName}/shareRecipe": {
      "post": {
        "tags": [
          "RecipeRTs"
        ],
        "operationId": "RecipeRTs_post",
        "description": "Create a RecipeRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/shareRecipe"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/shareRecipe"
            }
          },
          "202": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/shareRecipe"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateRecipeRT": {
            "$ref": "./examples/RecipeRTs_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CookingRP/RecipeRTs/{RecipeRTName}/MRGRTs/{MRGRTName}": {
      "get": {
        "tags": [
          "MRGRTs"
        ],
        "operationId": "MRGRTs_Get",
        "description": "Get a MRGRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          },
          {
            "$ref": "#/parameters/MRGRT.MRGRTName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MRGRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetMRGRT": {
            "$ref": "./examples/RecipeRTs_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "MRGRTs"
        ],
        "operationId": "MRGRTs_CreateOrUpdate",
        "description": "Create a MRGRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          },
          {
            "$ref": "#/parameters/MRGRT.MRGRTName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/MRGRT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MRGRT"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/MRGRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateMRGRT": {
            "$ref": "./examples/RecipeRTs_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "MRGRTs"
        ],
        "operationId": "MRGRTs_Update",
        "description": "Update a MRGRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          },
          {
            "$ref": "#/parameters/MRGRT.MRGRTName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/MRGRTUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MRGRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MRGRTs"
        ],
        "operationId": "MRGRTs_Delete",
        "description": "Delete a MRGRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeRT.RecipeRTName"
          },
          {
            "$ref": "#/parameters/MRGRT.MRGRTName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CookingRP/RecipeMRGParentRTs": {
      "get": {
        "tags": [
          "RecipeMRGParentRTs"
        ],
        "operationId": "RecipeMRGParentRTs_ListBySubscription",
        "description": "List RecipeMRGParentRT resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGParentRTListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CookingRP/RecipeMRGParentRTs": {
      "get": {
        "tags": [
          "RecipeMRGParentRTs"
        ],
        "operationId": "RecipeMRGParentRTs_ListByResourceGroup",
        "description": "List RecipeMRGParentRT resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGParentRTListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CookingRP/RecipeMRGParentRTs/{RecipeMRGParentRTName}": {
      "get": {
        "tags": [
          "RecipeMRGParentRTs"
        ],
        "operationId": "RecipeMRGParentRTs_Get",
        "description": "Get a RecipeMRGParentRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeMRGParentRT.RecipeMRGParentRTName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGParentRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetRecipeMRGParentRT": {
            "$ref": "./examples/RecipeRTs_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "RecipeMRGParentRTs"
        ],
        "operationId": "RecipeMRGParentRTs_CreateOrUpdate",
        "description": "Create a RecipeMRGParentRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeMRGParentRT.RecipeMRGParentRTName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGParentRT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGParentRT"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/RecipeMRGParentRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateRecipeMRGParentRT": {
            "$ref": "./examples/RecipeRTs_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "RecipeMRGParentRTs"
        ],
        "operationId": "RecipeMRGParentRTs_Update",
        "description": "Update a RecipeMRGParentRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeMRGParentRT.RecipeMRGParentRTName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGParentRTUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGParentRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RecipeMRGParentRTs"
        ],
        "operationId": "RecipeMRGParentRTs_Delete",
        "description": "Delete a RecipeMRGParentRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeMRGParentRT.RecipeMRGParentRTName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CookingRP/RecipeMRGParentRTs/{RecipeMRGParentRTName}/RecipeMRGInternalRTs/{RecipeMRGInternalRTName}": {
      "get": {
        "tags": [
          "RecipeMRGInternalRTs"
        ],
        "operationId": "RecipeMRGInternalRTs_Get",
        "description": "Get a RecipeMRGInternalRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeMRGParentRT.RecipeMRGParentRTName"
          },
          {
            "$ref": "#/parameters/RecipeMRGInternalRT.RecipeMRGInternalRTName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGInternalRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetRecipeMRGInternalRT": {
            "$ref": "./examples/RecipeRTs_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "RecipeMRGInternalRTs"
        ],
        "operationId": "RecipeMRGInternalRTs_CreateOrUpdate",
        "description": "Create a RecipeMRGInternalRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeMRGParentRT.RecipeMRGParentRTName"
          },
          {
            "$ref": "#/parameters/RecipeMRGInternalRT.RecipeMRGInternalRTName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGInternalRT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGInternalRT"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/RecipeMRGInternalRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateRecipeMRGInternalRT": {
            "$ref": "./examples/RecipeRTs_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "RecipeMRGInternalRTs"
        ],
        "operationId": "RecipeMRGInternalRTs_Update",
        "description": "Update a RecipeMRGInternalRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeMRGParentRT.RecipeMRGParentRTName"
          },
          {
            "$ref": "#/parameters/RecipeMRGInternalRT.RecipeMRGInternalRTName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGInternalRTUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecipeMRGInternalRT"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RecipeMRGInternalRTs"
        ],
        "operationId": "RecipeMRGInternalRTs_Delete",
        "description": "Delete a RecipeMRGInternalRT",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/RecipeMRGParentRT.RecipeMRGParentRTName"
          },
          {
            "$ref": "#/parameters/RecipeMRGInternalRT.RecipeMRGInternalRTName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "provisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "provisioningState",
        "modelAsString": true
      }
    },
    "shareRecipe": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9-]{3,44}$"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RecipeRT": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecipeRTProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability":[
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9-]{3,44}$",
          "readOnly": true
        }
      },
      "description": "A CookingRPProviderHub resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RecipeRTListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecipeRT"
          },
          "x-cadl-name": "RecipeRT[]",
          "description": "The RecipeRT items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a RecipeRT list operation."
    },
    "RecipeRTProperties": {
      "properties": {
        "recipeName": {
          "type": "string",
          "description": "Extension Resource full name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "origin": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "dishType": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "ingredients": {
          "type": "object",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RecipeRTUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "properties": {
            "model": {
              "type": "string"
            }
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/RecipeRTUpdateProperties"
        }
      },
      "description": "The type used for update operations of the RecipeRT."
    },
    "RecipeRTUpdateProperties": {
      "type": "object",
      "properties": {
        "recipeName": {
          "type": "string",
          "description": "Extension Resource full name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "origin": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "dishType": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "ingredients": {
          "type": "object",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        }
      },
      "description": "The updatable properties of the RecipeRT."
    },
    "MRGRT": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MRGRTProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9-]{3,44}$",
          "readOnly": true
        }
      },
      "description": "A CookingRPProviderHub resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MRGRTListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MRGRT"
          },
          "x-cadl-name": "MRGRT[]",
          "description": "The MRGRT items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a MRGRT list operation."
    },
    "MRGRTProperties": {
      "properties": {
        "recipeName": {
          "type": "string",
          "description": "Extension Resource full name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "origin": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "dishType": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "ingredients": {
          "type": "object",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "managedResourceGroupConfiguration": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "ManagedRG name",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "location": {
              "type": "string",
              "description": "ManagedRG location",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            }
          },
          "description": "ManagedRG model."
        }
      }
    },
    "MRGRTUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "properties": {
            "model": {
              "type": "string"
            }
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/MRGRTUpdateProperties"
        }
      },
      "description": "The type used for update operations of the MRGRT."
    },
    "MRGRTUpdateProperties": {
      "type": "object",
      "properties": {},
      "description": "The updatable properties of the MRGRT."
    },
    "RecipeMRGParentRT": {
      "type": "object",
      "properties": {
        "sku": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Extension Resource sku name.",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "tier": {
              "type": "string",
              "description": "Extension tier.",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "kind": {
              "type": "string",
              "description": "Extension kind.",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            }
          }
        },
        "properties": {
          "$ref": "#/definitions/RecipeMRGParentRTProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9-]{3,44}$",
          "readOnly": true
        }
      },
      "description": "A CookingRPProviderHub resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RecipeMRGParentRTListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecipeMRGParentRT"
          },
          "x-cadl-name": "RecipeMRGParentRT[]",
          "description": "The RecipeMRGParentRT items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a RecipeMRGParentRT list operation."
    },
    "RecipeMRGParentRTProperties": {
      "properties": {
        "recipeName": {
          "type": "string",
          "description": "Extension Resource full name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "origin": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "dishType": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "ingredients": {
          "type": "object",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "managedResourceGroupConfiguration": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "ManagedRG name",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "location": {
              "type": "string",
              "description": "ManagedRG location",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            }
          },
          "description": "ManagedRG model."
        }
      }
    },
    "RecipeMRGParentRTUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "properties": {
            "model": {
              "type": "string"
            }
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/RecipeMRGParentRTUpdateProperties"
        }
      },
      "description": "The type used for update operations of the RecipeMRGParentRT."
    },
    "RecipeMRGParentRTUpdateProperties": {
      "type": "object",
      "properties": {},
      "description": "The updatable properties of the RecipeMRGParentRT."
    },
    "RecipeMRGInternalRT": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecipeMRGInternalRTProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9-]{3,44}$",
          "readOnly": true
        }
      },
      "description": "A CookingRPProviderHub resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "RecipeMRGInternalRTListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecipeMRGInternalRT"
          },
          "x-cadl-name": "RecipeMRGInternalRT[]",
          "description": "The RecipeMRGInternalRT items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a RecipeMRGInternalRT list operation."
    },
    "RecipeMRGInternalRTProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "RecipeName": {
          "type": "string",
          "description": "Extension Resource full name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "Origin": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "DishType": {
          "type": "string",
          "description": "Extension Resource name.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "Ingredients": {
          "type": "object",
          "description": "group like Finance, HR etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "managedResourceGroupConfiguration": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "ManagedRG name",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "location": {
              "type": "string",
              "description": "ManagedRG location",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9-._]+$"
            }
          },
          "description": "ManagedRG model."
        }
      }
    },
    "RecipeMRGInternalRTUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "properties": {
            "model": {
              "type": "string"
            }
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/RecipeMRGInternalRTUpdateProperties"
        }
      },
      "description": "The type used for update operations of the RecipeMRGInternalRT."
    },
    "RecipeMRGInternalRTUpdateProperties": {
      "type": "object",
      "properties": {},
      "description": "The updatable properties of the RecipeMRGInternalRT."
    }
  },
  "parameters": {
    "RecipeRT.RecipeRTName": {
      "name": "RecipeRTName",
      "in": "path",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,60}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "MRGRT.MRGRTName": {
      "name": "MRGRTName",
      "in": "path",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,60}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "RecipeMRGParentRT.RecipeMRGParentRTName": {
      "name": "RecipeMRGParentRTName",
      "in": "path",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,60}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "RecipeMRGInternalRT.RecipeMRGInternalRTName": {
      "name": "RecipeMRGInternalRTName",
      "in": "path",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,60}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
