{
  "swagger": "2.0",
  "info": {
    "version": "2023-06-15-preview",
    "title": "manspatio",
    "description": "Description of the Manspatio service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Manspatio/catalog/{catalogname}": {
      "put": {
        "operationId": "SpatioCatalog_Create",
        "description": "Create a Spatio Catalog",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create Spatio Catalog": {
            "$ref": "./examples/createSpatioCatalog.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogNameParameter"
          },
          {
            "in": "body",
            "name": "SpatioCatalog",
            "schema": {
              "$ref": "#/definitions/Catalog"
            },
            "description": "Parameters to create the Spatio Catalog"
          }
        ],
        "responses": {
          "200": {
            "description": "Create/Update",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SpatioCatalog"
        ]
      },
      "patch": {
        "operationId": "SpatioCatalog_Update",
        "description": "Update a Spatio Catalog",
        "x-ms-examples": {
          "Update Spatio Catalog": {
            "$ref": "./examples/updateSpatioCatalog.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogNameParameter"
          },
          {
            "in": "body",
            "name": "SpatioCatalogPatch",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogPatch"
            },
            "description": "Parameters supplied to update Spatio Catalog"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated successfully.",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SpatioCatalog"
        ]
      },
      "get": {
        "operationId": "SpatioCatalogName_Get",
        "description": "Get a Spatio Catalog",
        "x-ms-examples": {
          "Get Spation Catalog Name": {
            "$ref": "./examples/getSpatioCatalog.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SpatioCatalog"
        ]
      },
      "delete": {
        "operationId": "SpatioCatalog_Delete",
        "description": "Delete Spatio Catalog",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete Code Signing Account": {
            "$ref": "./examples/deleteSpatioCatalog.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion is in progress",
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL to poll for status updates"
              }
            }
          },
          "204": {
            "description": "The resource was not found or already deleted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SpatioCatalog"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Manspatio/catalog": {
      "get": {
        "operationId": "SpatioCatalog_ListBySubscription",
        "description": "Lists Spatio Catalogs within a subscription",
        "x-ms-examples": {
          "List Spatio Catalogs by Subscription": {
            "$ref": "./examples/listSpatioCatalogsBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all spatio catalogs in the specified subscription",
            "schema": {
              "$ref": "#/definitions/Catalogs"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SpatioCatalogs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Manspatio/catalog": {
      "get": {
        "operationId": "SpatioCatalog_ListByResourceGroup",
        "description": "Lists Spatio Catalogs within a resource group",
        "x-ms-examples": {
          "List Spatio Catalogs by Resource Group": {
            "$ref": "./examples/listSpatioCatalogsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all spatio catalogs in the resource group",
            "schema": {
              "$ref": "#/definitions/Catalogs"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SpatioCatalogs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Manspatio/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "operationId": "Operations_List",
        "x-ms-examples": {
          "BatchAccountDelete": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "description": "This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Catalogs": {
      "description": "Paginated List of Spatio Catalogs",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Spatio Catalogs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Catalog"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of spatio catalogs",
          "type": "string"
        }
      }
    },
    "Catalog": {
      "description": "Spatio Catalog resource",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CatalogProperties",
          "description": "Spatio Catalog properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CatalogProperties": {
      "description": "Properties of the Spatio Catalog",
      "type": "object",
      "properties": {
        "accountUri": {
          "description": "The URI of the Spatio Catalog. This property is readonly",
          "readOnly": true,
          "type": "string"
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the Spatio Catalog account",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "CatalogPatch": {
      "description": "Parameters for creating or updating a Spatio Catalog",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CatalogPatchProperties",
          "description": "Properties of the Spatio Catalog"
        }
      }
    },
    "CatalogPatchProperties": {
      "description": "Properties of the Spatio Catalog",
      "type": "object",
      "properties": {
        "accountUri": {
          "readOnly": true,
          "type": "string",
          "description": "Catalog Uri of the Spatio Catalog"
        }
      }
    }
  },
  "parameters": {
    "CatalogNameParameter": {
      "name": "catalogname",
      "description": "Spatio Catalog name",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
      "x-ms-parameter-location": "method"
    }
  }
}
