{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Relationships Management Service",
    "version": "2023-09-01-preview",
    "description": "Microsoft.Relationships Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ComponentOfRelationships"
    },
    {
      "name": "DependencyOfRelationships"
    },
    {
      "name": "ServiceGroupMemberOfRelationships"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Relationships/componentOf/{name}": {
      "get": {
        "operationId": "ComponentOfRelationships_Get",
        "tags": [
          "ComponentOfRelationships"
        ],
        "description": "Get a ComponentOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of componentOf relationship.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ComponentOfRelationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ComponentOfRelationships_Get": {
            "$ref": "./examples/ComponentOfRelationships_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ComponentOfRelationships_CreateOrUpdate",
        "tags": [
          "ComponentOfRelationships"
        ],
        "description": "Create a ComponentOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of componentOf relationship.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ComponentOfRelationship"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ComponentOfRelationship' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ComponentOfRelationship"
            }
          },
          "201": {
            "description": "Resource 'ComponentOfRelationship' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ComponentOfRelationship"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ComponentOfRelationships_CreateOrUpdate": {
            "$ref": "./examples/ComponentOfRelationships_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ComponentOfRelationships_Delete",
        "tags": [
          "ComponentOfRelationships"
        ],
        "description": "Delete a ComponentOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of componentOf relationship.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ComponentOfRelationships_Delete": {
            "$ref": "./examples/ComponentOfRelationships_Delete.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Relationships/dependencyOf/{name}": {
      "get": {
        "operationId": "DependencyOfRelationships_Get",
        "tags": [
          "DependencyOfRelationships"
        ],
        "description": "Get a DependencyOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of dependencyOf relationship.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DependencyOfRelationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DependencyOfRelationships_Get": {
            "$ref": "./examples/DependencyOfRelationships_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DependencyOfRelationships_CreateOrUpdate",
        "tags": [
          "DependencyOfRelationships"
        ],
        "description": "Create a DependencyOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of dependencyOf relationship.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DependencyOfRelationship"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DependencyOfRelationship' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DependencyOfRelationship"
            }
          },
          "201": {
            "description": "Resource 'DependencyOfRelationship' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DependencyOfRelationship"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DependencyOfRelationships_CreateOrUpdate": {
            "$ref": "./examples/DependencyOfRelationships_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DependencyOfRelationships_Delete",
        "tags": [
          "DependencyOfRelationships"
        ],
        "description": "Delete a DependencyOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of dependencyOf relationship.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DependencyOfRelationships_Delete": {
            "$ref": "./examples/DependencyOfRelationships_Delete.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Relationships/serviceGroupMemberOf/default": {
      "get": {
        "operationId": "ServiceGroupMemberOfRelationships_Get",
        "tags": [
          "ServiceGroupMemberOfRelationships"
        ],
        "description": "Get a ServiceGroupMemberOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceGroupMemberOfRelationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceGroupMemberOfRelationships_Get": {
            "$ref": "./examples/ServiceGroupMemberOfRelationships_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ServiceGroupMemberOfRelationships_CreateOrUpdate",
        "tags": [
          "ServiceGroupMemberOfRelationships"
        ],
        "description": "Create a ServiceGroupMemberOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceGroupMemberOfRelationship"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ServiceGroupMemberOfRelationship' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceGroupMemberOfRelationship"
            }
          },
          "201": {
            "description": "Resource 'ServiceGroupMemberOfRelationship' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceGroupMemberOfRelationship"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceGroupMemberOfRelationships_CreateOrUpdate": {
            "$ref": "./examples/ServiceGroupMemberOfRelationships_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ServiceGroupMemberOfRelationships_Delete",
        "tags": [
          "ServiceGroupMemberOfRelationships"
        ],
        "description": "Delete a ServiceGroupMemberOfRelationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceGroupMemberOfRelationships_Delete": {
            "$ref": "./examples/ServiceGroupMemberOfRelationships_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.Relationships/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ComponentOfOrigins": {
      "type": "string",
      "description": "The possible origins of a componentOf relationship.",
      "enum": [
        "ServiceExplicitlyCreated",
        "UserExplicitlyCreated"
      ],
      "x-ms-enum": {
        "name": "ComponentOfOrigins",
        "modelAsString": false,
        "values": [
          {
            "name": "serviceExplicitlyCreated",
            "value": "ServiceExplicitlyCreated",
            "description": "The relationship was explicitly created by a system."
          },
          {
            "name": "userExplicitlyCreated",
            "value": "UserExplicitlyCreated",
            "description": "The relationship was explicitly created by a user."
          }
        ]
      }
    },
    "ComponentOfRelationship": {
      "type": "object",
      "description": "Defines a componentOf relationship resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ComponentOfRelationshipProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ComponentOfRelationshipProperties": {
      "type": "object",
      "description": "componentOf relationship properties.",
      "properties": {
        "sourceId": {
          "type": "string",
          "description": "The source of the current relationship.",
          "readOnly": true
        },
        "targetId": {
          "type": "string",
          "description": "The target of the current relationship."
        },
        "relationshipMetadata": {
          "$ref": "#/definitions/RelationshipMetadata",
          "description": "Metadata about the relationship.",
          "readOnly": true
        },
        "originInformation": {
          "type": "object",
          "description": "Information about the origin of the relationship.",
          "properties": {
            "relationshipOriginType": {
              "$ref": "#/definitions/ComponentOfOrigins",
              "description": "Identifies the origin type of the relationship.",
              "readOnly": true
            }
          },
          "required": [
            "relationshipOriginType"
          ],
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "sourceId",
        "targetId",
        "relationshipMetadata",
        "originInformation"
      ]
    },
    "DependencyOfOrigins": {
      "type": "string",
      "description": "The possible origins of a dependencyOf relationship.",
      "enum": [
        "ServiceExplicitlyCreated",
        "UserExplicitlyCreated"
      ],
      "x-ms-enum": {
        "name": "DependencyOfOrigins",
        "modelAsString": false,
        "values": [
          {
            "name": "serviceExplicitlyCreated",
            "value": "ServiceExplicitlyCreated",
            "description": "The relationship was explicitly created by a system."
          },
          {
            "name": "userExplicitlyCreated",
            "value": "UserExplicitlyCreated",
            "description": "The relationship was explicitly created by a user."
          }
        ]
      }
    },
    "DependencyOfRelationship": {
      "type": "object",
      "description": "Defines a dependencyOf relationship resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DependencyOfRelationshipProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DependencyOfRelationshipProperties": {
      "type": "object",
      "description": "dependencyOf relationship properties.",
      "properties": {
        "sourceId": {
          "type": "string",
          "description": "The source of the current relationship.",
          "readOnly": true
        },
        "targetId": {
          "type": "string",
          "description": "The target of the current relationship."
        },
        "relationshipMetadata": {
          "$ref": "#/definitions/RelationshipMetadata",
          "description": "Metadata about the relationship.",
          "readOnly": true
        },
        "originInformation": {
          "type": "object",
          "description": "Information about the origin of the relationship.",
          "properties": {
            "relationshipOriginType": {
              "$ref": "#/definitions/DependencyOfOrigins",
              "description": "Identifies the origin type of the relationship.",
              "readOnly": true
            }
          },
          "required": [
            "relationshipOriginType"
          ],
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "sourceId",
        "targetId",
        "relationshipMetadata",
        "originInformation"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The relationship is being provisioned"
          }
        ]
      }
    },
    "RelationshipMetadata": {
      "type": "object",
      "description": "Provides information about the relationship properties.",
      "properties": {
        "sourceType": {
          "type": "string",
          "description": "The type of the relationship source resource.",
          "readOnly": true
        },
        "targetType": {
          "type": "string",
          "description": "The type of the relationship target resource.",
          "readOnly": true
        }
      },
      "required": [
        "sourceType",
        "targetType"
      ]
    },
    "ServiceGroupMemberOfRelationship": {
      "type": "object",
      "description": "Defines a serviceGroupMemberOf relationship resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceGroupMemberOfRelationshipProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceGroupMemberOfRelationshipProperties": {
      "type": "object",
      "description": "serviceGroupMemberOf relationship properties.",
      "properties": {
        "sourceId": {
          "type": "string",
          "description": "The source of the current relationship.",
          "readOnly": true
        },
        "targetId": {
          "type": "string",
          "description": "The target of the current relationship."
        },
        "relationshipMetadata": {
          "$ref": "#/definitions/RelationshipMetadata",
          "description": "Metadata about the relationship.",
          "readOnly": true
        },
        "originInformation": {
          "type": "object",
          "description": "Information about the origin of the relationship.",
          "properties": {
            "relationshipOriginType": {
              "$ref": "#/definitions/serviceGroupMemberOfOrigins",
              "description": "Identifies the origin type of the relationship.",
              "readOnly": true
            }
          },
          "required": [
            "relationshipOriginType"
          ],
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "sourceId",
        "targetId",
        "relationshipMetadata",
        "originInformation"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "Rel RP API Versions",
      "enum": [
        "2023-09-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2023-09-01-preview",
            "value": "2023-09-01-preview",
            "description": "2023-09-01-preview version"
          }
        ]
      }
    },
    "serviceGroupMemberOfOrigins": {
      "type": "string",
      "description": "The possible origins of a serviceGroupMemberOf relationship.",
      "enum": [
        "ServiceExplicitlyCreated",
        "UserExplicitlyCreated"
      ],
      "x-ms-enum": {
        "name": "serviceGroupMemberOfOrigins",
        "modelAsString": false,
        "values": [
          {
            "name": "serviceExplicitlyCreated",
            "value": "ServiceExplicitlyCreated",
            "description": "The relationship was explicitly created by a system."
          },
          {
            "name": "userExplicitlyCreated",
            "value": "UserExplicitlyCreated",
            "description": "The relationship was explicitly created by a user."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
