{
  "swagger": "2.0",
  "info": {
    "title": "Private.DevModSimWorkbench",
    "description": "Private.DevModSimWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{name}/getUploadUri": {
      "post": {
        "tags": [
          "chambers_GetUploadUri"
        ],
        "description": "Gets a SAS URI to upload files to a chamber data pipeline.",
        "operationId": "chambers_GetUploadUri",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "the file upload parameters.",
            "schema": {
              "$ref": "#/definitions/FileUploadParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetUploadUri"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Chambers get upload Uri": {
            "$ref": "./examples/ChambersGetUploadUri.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{name}/start": {
      "post": {
        "tags": [
          "chambers_Start"
        ],
        "description": "Starts a chamber.",
        "operationId": "chambers_Start",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Chambers start": {
            "$ref": "./examples/ChambersStart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{name}/stop": {
      "post": {
        "tags": [
          "chambers_Stop"
        ],
        "description": "Stops a chamber.",
        "operationId": "chambers_Stop",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Chambers stop": {
            "$ref": "./examples/ChambersStop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{name}/restart": {
      "post": {
        "tags": [
          "chambers_Restart"
        ],
        "description": "Restarts a chamber.",
        "operationId": "chambers_Restart",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Chambers Restart": {
            "$ref": "./examples/ChambersRestart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{name}/licenseUpdate": {
      "post": {
        "tags": [
          "chambers_LicenseUpdate"
        ],
        "description": "Updates a chamber license services settings.",
        "operationId": "chambers_LicenseUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "the update license services parameters.",
            "schema": {
              "$ref": "#/definitions/UpdateLicenseParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Update chamber license": {
            "$ref": "./examples/ChambersLicenseUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{name}/licenseRestart": {
      "post": {
        "tags": [
          "chambers_LicenseRestart"
        ],
        "description": "Restarts a chamber license services.",
        "operationId": "chambers_LicenseRestart",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Restart License body",
            "schema": {
              "$ref": "#/definitions/RestartLicenseParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Chamber License Restart": {
            "$ref": "./examples/ChambersLicenseRestart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}": {
      "put": {
        "tags": [
          "chambers_CreateOrUpdate"
        ],
        "operationId": "chambers_CreateOrUpdate",
        "description": "Creates or updates a chamber.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Parameters supplied to the create or update chamber operation.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting chamber resource.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting chamber resource.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create Chamber": {
            "$ref": "./examples/ChambersCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "chambers_Update"
        ],
        "operationId": "chambers_Update",
        "description": "Updates a chamber.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Parameters supplied to the update Chamber operation.",
            "schema": {
              "$ref": "#/definitions/ChamberPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Chamber resource.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Update Chamber": {
            "$ref": "./examples/ChambersPatch.json"
          }
        }
      },
      "get": {
        "tags": [
          "chambers_Get"
        ],
        "operationId": "chambers_Get",
        "description": "Gets information about a chamber.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the specified Chamber.",
            "schema": {
              "$ref": "#/definitions/Chamber"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Get Chamber": {
            "$ref": "./examples/ChambersGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "chambers_Delete"
        ],
        "operationId": "chambers_Delete",
        "description": "Deletes a chamber.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete Chamber": {
            "$ref": "./examples/ChambersDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers": {
      "get": {
        "tags": [
          "chambers_List"
        ],
        "operationId": "chambers_List",
        "description": "Lists all chambers within a workbench.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all Chambers",
            "schema": {
              "$ref": "#/definitions/ChamberPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all Chambers": {
            "$ref": "./examples/ChambersList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Enable": {
      "type": "object",
      "description": "Property used to disable or disable.",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Switch to enable License Service."
        }
      }
    },
    "LmHostID": {
      "type": "object",
      "description": "Property for assigning FlexNet Licensing Service identifier.",
      "properties": {
        "lmhostId": {
          "type": "array",
          "description": "FLEXlm host identifier of chamber license servers used by FlexNet Licensing Service. (NIC mac address based)",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Server": {
      "type": "object",
      "description": "Property for assigning licensing server.",
      "properties": {
        "server": {
          "type": "string",
          "description": "License Service server. e.g., 5280@primaryHostname for single VM, 5280@primaryHostname:5280@secondaryHostname for redundant VMs."
        }
      }
    },
    "ChamberPageableList": {
      "description": "Pageable chamber list.",
      "type": "object",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to list next page of queues",
          "readOnly": true
        },
        "value": {
          "description": "Chamber list values.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Chamber"
          }
        }
      }
    },
    "FileUploadParameters": {
      "description": "File Upload Parameters DTO.",
      "type": "object",
      "properties": {
        "fileSize": {
          "format": "int64",
          "description": "Gets or sets the size of the file being uploaded.",
          "type": "integer",
          "example": 1073741824
        }
      }
    },
    "RestartLicenseParameters": {
      "description": "File Upload Parameters DTO.",
      "type": "object",
      "properties": {
        "licenseService": {
          "description": "Gets or sets the license service to update.",
          "type": "string",
          "enum": [
            "ansys",
            "cadence",
            "siemens",
            "synopsys"
          ],
          "x-ms-enum": {
            "name": "LicenseService",
            "modelAsString": true
          }
        }
      }
    },
    "UpdateLicenseParameters": {
      "description": "File Upload Parameters DTO.",
      "type": "object",
      "properties": {
        "licenseService": {
          "description": "Gets or sets the license service to update.",
          "type": "string",
          "enum": [
            "ansys",
            "cadence",
            "siemens",
            "synopsys"
          ],
          "x-ms-enum": {
            "name": "LicenseService",
            "modelAsString": true
          }
        },
        "licenseKey": {
          "description": "License file contents",
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Enable"
        }
      ]
    },
    "Ansys": {
      "type": "object",
      "description": "Ansys Common Licensing.",
      "allOf": [
        {
          "$ref": "#/definitions/Server"
        },
        {
          "$ref": "#/definitions/Enable"
        },
        {
          "$ref": "#/definitions/LmHostID"
        }
      ]
    },
    "Cadence": {
      "type": "object",
      "description": "Cadence License Manager",
      "properties": {
        "mfp": {
          "type": "array",
          "description": "License server information for Cadence License Manager.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Server"
        },
        {
          "$ref": "#/definitions/Enable"
        },
        {
          "$ref": "#/definitions/LmHostID"
        }
      ]
    },
    "Siemens": {
      "type": "object",
      "description": "Siemens Standard Licensing.",
      "allOf": [
        {
          "$ref": "#/definitions/Server"
        },
        {
          "$ref": "#/definitions/Enable"
        },
        {
          "$ref": "#/definitions/LmHostID"
        }
      ]
    },
    "Synopsys": {
      "type": "object",
      "description": "Synopsys Common Licensing",
      "properties": {
        "vmUuid": {
          "type": "array",
          "description": "Virtual machine universal unique identifier of chamber license servers used by FlexNet Licensing Service. (SMBIOS UUID based)",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Server"
        },
        {
          "$ref": "#/definitions/Enable"
        }
      ]
    },
    "ChamberPatchProperties": {
      "type": "object",
      "properties": {
        "sku": {
          "type": "string",
          "description": "Chamber SKU name to specify, default to Standard SKU which comes without any pre-built workload VMs and storage.",
          "default": "Standard"
        }
      },
      "description": "Chamber properties."
    },
    "ChamberPropertiesFormat": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ChamberPatchProperties"
        },
        {
          "$ref": "./common-types.json#/definitions/RestartAt"
        },
        {
          "$ref": "./common-types.json#/definitions/PowerStateProperty"
        }
      ],
      "properties": {
        "licenseServices": {
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "cadence": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/Cadence",
              "description": "Gets or sets the cadence properties."
            },
            "ansys": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/Ansys",
              "description": "Gets or sets the ansys properties."
            },
            "siemens": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/Siemens",
              "description": "Gets or sets the siemens properties."
            },
            "synopsys": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/Synopsys",
              "description": "Gets or sets the synopsys properties."
            }
          }
        },
        "provisioningState": {
          "$ref": "./common-types.json#/definitions/ProvisioningState",
          "description": "Gets the status of the Chamber at the time the operation was called"
        },
        "dataPipelineInboundPath": {
          "description": "Directory for the chamber data pipeline inbound. E.g. /mount/datapipeline/datain",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "type": "string"
        },
        "dataPipelineOutboundPath": {
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Directory for the chamber data pipeline outbound. E.g. /mount/datapipeline/dataout",
          "type": "string"
        }
      },
      "description": "Chamber properties."
    },
    "GetUploadUri": {
      "description": "Datasync file upload SAS token",
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Datasync file upload SAS token"
        }
      }
    },
    "Chamber": {
      "type": "object",
      "description": "Chamber resource",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ChamberPropertiesFormat"
        }
      },
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/SubResource"
        }
      ]
    },
    "ChamberPatch": {
      "type": "object",
      "description": "The chamber properties to update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ChamberPatchProperties"
        }
      },
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/PatchableResource"
        }
      ]
    }
  }
}
