{
  "swagger": "2.0",
  "info": {
    "title": "Private.DevModSimWorkbench",
    "description": "Private.DevModSimWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{name}/start": {
      "post": {
        "tags": [
          "connectors_Start"
        ],
        "description": "Starts a chamber connector.",
        "operationId": "connectors_Start",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Connectors Start": {
            "$ref": "./examples/ConnectorsStart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{name}/stop": {
      "post": {
        "tags": [
          "connectors_Stop"
        ],
        "description": "Stops a chamber connector.",
        "operationId": "connectors_Stop",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Connectors stop": {
            "$ref": "./examples/ConnectorsStop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{name}/restart": {
      "post": {
        "tags": [
          "connectors_Restart"
        ],
        "description": "Restarts a chamber connector.",
        "operationId": "connectors_Restart",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Connectors Restart": {
            "$ref": "./examples/ConnectorsRestart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{name}/licenseAdd": {
      "post": {
        "tags": [
          "connectors_LicenseAdd"
        ],
        "description": "Add license to a chamber connector.",
        "operationId": "connectors_LicenseAdd",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "License key parameters",
            "schema": {
              "$ref": "#/definitions/LicenseKeyParameters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Connectors License Add": {
            "$ref": "./examples/ConnectorsLicenseAdd.json"
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{connectorName}": {
      "put": {
        "tags": [
          "connectors_CreateOrUpdate"
        ],
        "operationId": "connectors_CreateOrUpdate",
        "description": "Creates or updates a chamber connector.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ConnectorNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update connector operation.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Connector resource.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting Connector resource.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create Connector": {
            "$ref": "./examples/ConnectorsCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "connectors_Update"
        ],
        "operationId": "connectors_Update",
        "description": "Updates a chamber connector.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ConnectorNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the update connector operation.",
            "schema": {
              "$ref": "#/definitions/ConnectorPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Connector resource.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Update Connector": {
            "$ref": "./examples/ConnectorsPatch.json"
          }
        }
      },
      "get": {
        "tags": [
          "connectors_Get"
        ],
        "operationId": "connectors_Get",
        "description": "Gets information about a chamber connector.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ConnectorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the specified connector.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Get Connector": {
            "$ref": "./examples/ConnectorsGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "connectors_Delete"
        ],
        "operationId": "connectors_Delete",
        "description": "Deletes a chamber connector.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ConnectorNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete Connector": {
            "$ref": "./examples/ConnectorsDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors": {
      "get": {
        "tags": [
          "connectors_List"
        ],
        "operationId": "connectors_List",
        "description": "Lists all connectors within a chamber.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all connectors",
            "schema": {
              "$ref": "#/definitions/ConnectorPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all connectors": {
            "$ref": "./examples/ConnectorsList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RemoteDesktop": {
      "type": "object",
      "description": "Remote Desktop properties.",
      "properties": {
        "etx": {
          "$ref": "#/definitions/Etx",
          "description": "The etx object."
        }
      }
    },
    "Etx": {
      "type": "object",
      "properties": {
        "connectionNodeCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "The connection node count."
        },
        "licenseActivated": {
          "description": "The license activated.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "licenseActivated",
            "modelAsString": true
          }
        },
        "replyUrlEtx": {
          "description": "The reply URL of ETX Server for Azure AD app.",
          "type": "string",
          "readOnly": true
        },
        "replyUrlOtds": {
          "description": "The reply URL of OTDS for Azure AD app.",
          "type": "string",
          "readOnly": true
        },
        "licenseKeyUri": {
          "description": "The license key uri.",
          "type": "string"
        }
      },
      "description": "Etx properties."
    },
    "AccessConfiguration": {
      "type": "object",
      "description": "Access configuration properties.",
      "properties": {
        "accessType": {
          "description": "Gets or sets the AccessType.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "GUI"
          ],
          "x-ms-enum": {
            "name": "AccessType",
            "modelAsString": true
          }
        },
        "gatewayType": {
          "description": "Gets or sets the GatewayType.",
          "type": "string",
          "enum": [
            "ExpressRoute",
            "None",
            "VPN"
          ],
          "x-ms-enum": {
            "name": "GatewayType",
            "modelAsString": true
          }
        },
        "accessUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Gets or sets the AccessUrl."
        },
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Gets or sets the IpAddress."
        },
        "connectorSubnetId": {
          "type": "string",
          "description": "Gets or sets the ConnectorSubnetId."
        }
      }
    },
    "NetworkAcls": {
      "type": "object",
      "description": "Access configuration properties.",
      "properties": {
        "allowedAddressSpaces": {
          "type": "array",
          "description": "Gets or sets the AllowedAddressSpaces.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ConnectorPageableList": {
      "description": "Microsoft.Sdw.Core.ResourceMetadata.PageableList implementation specific to pageable lists of Microsoft.Sdw.Core.ResourceMetadata.AzureResource`1.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Gets or sets the URL (link) to the next result set.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the values to emit from this list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Connector"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "ConnectorPropertiesFormat": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/RestartAt"
        },
        {
          "$ref": "./common-types.json#/definitions/PowerStateProperty"
        }
      ],
      "properties": {
        "accessConfigurations": {
          "$ref": "#/definitions/AccessConfiguration",
          "description": "Gets or sets the Access Configuration."
        },
        "remoteDesktop": {
          "$ref": "#/definitions/RemoteDesktop",
          "description": "Gets or sets the Remote Desktop."
        },
        "networkAcls": {
          "$ref": "#/definitions/NetworkAcls",
          "description": "Specifies set of source IP address ranges to allow access the workbench."
        },
        "provisioningState": {
          "$ref": "./common-types.json#/definitions/ProvisioningState",
          "description": "Gets the status of the connector at the time the operation was called"
        }
      },
      "description": "Connector properties."
    },
    "Connector": {
      "description": "Connector resource",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConnectorPropertiesFormat",
          "description": "Connector properties."
        }
      },
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/SubResource"
        }
      ]
    },
    "ConnectorPatch": {
      "description": "The connector properties to update.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectorPropertiesFormat"
        }
      },
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/PatchableResource"
        }
      ]
    },
    "LicenseKeyParameters": {
      "type": "object",
      "description": "License Key Parameters",
      "properties": {
        "licenseKey": {
          "x-ms-secret": true,
          "description": "Value of License Key",
          "type": "string"
        }
      }
    }
  }
}
