{
  "swagger": "2.0",
  "info": {
    "title": "Private.DevModSimWorkbench",
    "description": "Private.DevModSimWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Private.DevModSimWorkbench/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists Operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists Operations": {
            "$ref": "./examples/WorkbenchesOperationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.DevModSimWorkbench/workbenches": {
      "get": {
        "tags": [
          "workbenches_ListBySubscription"
        ],
        "description": "Lists workbenches by subscription.",
        "operationId": "workbenches_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkbenchPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Workbenches by Subscription": {
            "$ref": "./examples/WorkbenchesListBySubscription.json"
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches": {
      "get": {
        "tags": [
          "workbenches_ListByResourceGroup"
        ],
        "description": "Lists workbenches by resource group.",
        "operationId": "workbenches_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkbenchPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Workbenches by Resource Group": {
            "$ref": "./examples/WorkbenchesListByResourceGroup.json"
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{name}": {
      "get": {
        "tags": [
          "workbenches_Get"
        ],
        "description": "Gets a workbench resource.",
        "operationId": "workbenches_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workbench"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-examples": {
          "Workbenches Get": {
            "$ref": "./examples/WorkbenchesGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "workbenches_CreateOrUpdate"
        ],
        "description": "Creates or updates a workbench.",
        "operationId": "workbenches_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Parameters supplied to the create or update workbench operation.",
            "schema": {
              "$ref": "#/definitions/Workbench"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workbench"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting Workbench resource.",
            "schema": {
              "$ref": "#/definitions/Workbench"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Workbenches create or update": {
            "$ref": "./examples/WorkbenchesCreateOrUpdate.json"
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "workbenches_Update"
        ],
        "operationId": "workbenches_Update",
        "description": "Updates a workbench.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Parameters supplied to the update workbench operation.",
            "schema": {
              "$ref": "#/definitions/WorkbenchPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Workbench resource.",
            "schema": {
              "$ref": "#/definitions/Workbench"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Workbenches Update": {
            "$ref": "./examples/WorkbenchesPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "workbenches_Delete"
        ],
        "description": "Deletes a workbench.",
        "operationId": "workbenches_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, no content"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Workbenches Update": {
            "$ref": "./examples/WorkbenchesDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "WorkbenchPageableList": {
      "description": "Microsoft.Sdw.Core.ResourceMetadata.PageableList implementation specific to pageable lists of Microsoft.Sdw.Core.ResourceMetadata.AzureResource`1.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Gets or sets the URL (link) to the next result set.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the values to emit from this list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workbench"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "AppOidc": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Client Id"
        },
        "secretUri": {
          "type": "string",
          "description": "Client secret"
        }
      }
    },
    "WorkbenchPropertiesFormat": {
      "description": "Workbench properties.",
      "type": "object",
      "properties": {
        "appOidc": {
          "$ref": "#/definitions/AppOidc"
        },
        "sku": {
          "type": "string",
          "description": "Name of SKU."
        },
        "provisioningState": {
          "$ref": "./common-types.json#/definitions/ProvisioningState",
          "description": "Gets the status of the workbench at the time the operation was called"
        }
      },
      "required": [
        "appOidc"
      ]
    },
    "WorkbenchPatchProperties": {
      "description": "Workbench patch properties.",
      "type": "object",
      "properties": {
        "appOidc": {
          "$ref": "#/definitions/AppOidc"
        },
        "sku": {
          "type": "string",
          "description": "Name of SKU."
        }
      }
    },
    "Workbench": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkbenchPropertiesFormat",
          "description": "Workbench properties"
        }
      },
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/SubResource"
        }
      ],
      "description": "Workbench resource"
    },
    "WorkbenchPatch": {
      "description": "Workbench properties to update.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkbenchPatchProperties"
        }
      },
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/PatchableResource"
        }
      ]
    }
  }
}
