{
  "swagger": "2.0",
  "info": {
    "title": "Private.DevModSimWorkbench",
    "description": "Private.DevModSimWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/storages/{storageName}": {
      "put": {
        "tags": [
          "storages_CreateOrUpdate"
        ],
        "operationId": "storages_CreateOrUpdate",
        "description": "Creates or updates the storage.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ResourceGroupDeprecatedParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/StorageNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update storage resource.",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting storage resource.",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting storage resource.",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create storage": {
            "$ref": "./examples/StoragesCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "storages_Update"
        ],
        "operationId": "storages_Update",
        "description": "Updates the storage.",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ResourceGroupDeprecatedParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/StorageNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update storage resource.",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting storage resource.",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Update storage": {
            "$ref": "./examples/StoragesPatch.json"
          }
        }
      },
      "get": {
        "tags": [
          "storages_Get"
        ],
        "operationId": "storages_Get",
        "description": "Gets information about the storage.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ResourceGroupDeprecatedParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/StorageNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the storage resource.",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Get Storage": {
            "$ref": "./examples/StoragesGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "storages_Delete"
        ],
        "operationId": "storages_Delete",
        "description": "Deletes the storage.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ResourceGroupDeprecatedParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/StorageNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully",
            "schema": {
              "$ref": "#/definitions/Storage"
            }
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete Storage": {
            "$ref": "./examples/StoragesDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/storages": {
      "get": {
        "tags": [
          "storages_List"
        ],
        "operationId": "storages_List",
        "description": "Lists all storages.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ResourceGroupDeprecatedParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all storages",
            "schema": {
              "$ref": "#/definitions/StoragePageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all storages": {
            "$ref": "./examples/StoragesList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "StoragePageableList": {
      "description": "List of chamber storages.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Gets or sets the URL (link) to the next result set.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the values to emit from this list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Storage"
          }
        }
      }
    },
    "StoragePropertiesFormat": {
      "description": "Storage properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/ProvisioningStateProperty"
        },
        {
          "$ref": "./common-types.json#/definitions/CapacityAllocatedProperty"
        },
        {
          "$ref": "./common-types.json#/definitions/CapacityUsedProperty"
        }
      ],
      "properties": {
        "performanceTier": {
          "description": "Specifies performance tier of the chamber storage.",
          "type": "string",
          "enum": [
            "Standard",
            "Premium",
            "Ultra"
          ],
          "default": "Premium",
          "x-ms-enum": {
            "name": "performanceTier",
            "modelAsString": true
          }
        },
        "localMountPath": {
          "description": "Directory where the chamber storage volume mounted.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Storage": {
      "description": "Storage resource",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "$ref": "#/definitions/StoragePropertiesFormat",
          "description": "Storage properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    }
  }
}
