{
  "swagger": "2.0",
  "info": {
    "title": "Private.DevModSimWorkbench",
    "description": "Private.DevModSimWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/workloads/{name}/start": {
      "post": {
        "tags": [
          "workloads_Start"
        ],
        "description": "Starts a chamber workload.",
        "operationId": "workloads_Start",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Workloads Start": {
            "$ref": "./examples/WorkloadsStart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/workloads/{name}/stop": {
      "post": {
        "tags": [
          "workloads_Stop"
        ],
        "description": "Stops a chamber workload.",
        "operationId": "workloads_Stop",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Workloads Stop": {
            "$ref": "./examples/WorkloadsStop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/workloads/{name}/restart": {
      "post": {
        "tags": [
          "workloads_Restart"
        ],
        "description": "Restarts a chamber workload.",
        "operationId": "workloads_Restart",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/NameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Workloads Restart": {
            "$ref": "./examples/WorkloadsRestart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/workloads/{workloadName}": {
      "put": {
        "tags": [
          "workloads_CreateOrUpdate"
        ],
        "operationId": "workloads_CreateOrUpdate",
        "description": "Creates or updates a chamber workload.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkloadNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update workload operation.",
            "schema": {
              "$ref": "#/definitions/Workload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting workload resource.",
            "schema": {
              "$ref": "#/definitions/Workload"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting workload resource.",
            "schema": {
              "$ref": "#/definitions/Workload"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create Workload": {
            "$ref": "./examples/WorkloadsCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "workloads_Update"
        ],
        "operationId": "workloads_Update",
        "description": "Updates a chamber workload.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkloadNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update workload operation.",
            "schema": {
              "$ref": "#/definitions/WorkloadPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting workload resource.",
            "schema": {
              "$ref": "#/definitions/Workload"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Update workload": {
            "$ref": "./examples/WorkloadsPatch.json"
          }
        }
      },
      "get": {
        "tags": [
          "workloads_Get"
        ],
        "operationId": "workloads_Get",
        "description": "Gets information about a chamber workload.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkloadNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the specified workload.",
            "schema": {
              "$ref": "#/definitions/Workload"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Get Workload": {
            "$ref": "./examples/WorkloadsGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "workloads_Delete"
        ],
        "operationId": "workloads_Delete",
        "description": "Deletes a chamber workload.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkloadNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              },
              "x-ms-async-operation-timeout": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete Workload": {
            "$ref": "./examples/WorkloadsDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.DevModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/workloads": {
      "get": {
        "tags": [
          "workloads_List"
        ],
        "operationId": "workloads_List",
        "description": "Lists all workloads within a chamber.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/WorkbenchNameParameter"
          },
          {
            "$ref": "./common-types.json#/parameters/ChamberNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all workloads",
            "schema": {
              "$ref": "#/definitions/WorkloadPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all workloads": {
            "$ref": "./examples/WorkloadsList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "WorkloadPageableList": {
      "description": "Pageable list of chamber workloads.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Gets or sets the URL (link) to the next result set.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the values to emit from this list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workload"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "WorkloadPropertiesFormat": {
      "description": "Workload properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/RestartAt"
        },
        {
          "$ref": "./common-types.json#/definitions/PowerStateProperty"
        }
      ],
      "properties": {
        "provisioningState": {
          "$ref": "./common-types.json#/definitions/ProvisioningState",
          "description": "Gets the status of the workload at the time the operation was called"
        },
        "vmSize": {
          "description": "The virtual machine size of the chamber workload. For more information about virtual machine sizes, see [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/sizes).<br/>The available chamber workload VM sizes depend on region.<br/>For a list of available sizes use these APIs: [List all available virtual machine sizes in a region](https://docs.microsoft.com/rest/api/compute/virtualmachinesizes/list), [List all available virtual machine sizes for resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes).*",
          "type": "string"
        },
        "edaType": {
          "description": "The application type of the chamber workload.<br/>Default value: **Semiconductor**",
          "type": "string",
          "enum": [
            "Semiconductor"
          ],
          "default": "Semiconductor",
          "x-ms-enum": {
            "name": "ApplicationType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "Gets or sets the status.",
          "type": "string",
          "readOnly": true
        },
        "privateIP": {
          "description": "The chamber workload private IP address.",
          "type": "string",
          "readOnly": true
        },
        "workloadZone": {
          "description": "The chamber workload zone.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "Workload": {
      "description": "Chamber workload resource",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkloadPropertiesFormat",
          "description": "Chamber workload properties."
        }
      },
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/SubResource"
        }
      ]
    },
    "WorkloadPatch": {
      "description": "Chamber workload patch parameters",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkloadPropertiesFormat",
          "description": "Chamber workload properties."
        }
      },
      "allOf": [
        {
          "$ref": "./common-types.json#/definitions/PatchableResource"
        }
      ]
    }
  }
}
