{
  "swagger": "2.0",
  "info": {
    "title": "ArcTargetAzure",
    "description": "The Microsoft.ArcTargetAzure Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "ArcTargetAzureClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcTargetAzure/networksecuritygroupssecurityrules-network/{networksecuritygroupssecurityrules-networkName}": {
      "get": {
        "operationId": "networksecuritygroupssecurityrules-network_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networksecuritygroupssecurityrules-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the networksecuritygroupssecurityrules-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-network"
            }
          }
        }
      },
      "put": {
        "operationId": "networksecuritygroupssecurityrules-network_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networksecuritygroupssecurityrules-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "networksecuritygroupssecurityrules-network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-network-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the networksecuritygroupssecurityrules-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-network"
            }
          },
          "201": {
            "description": "Creates the networksecuritygroupssecurityrules-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-network"
            }
          }
        }
      },
      "delete": {
        "operationId": "networksecuritygroupssecurityrules-network_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networksecuritygroupssecurityrules-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the networksecuritygroupssecurityrules-network resource."
          }
        }
      },
      "patch": {
        "operationId": "networksecuritygroupssecurityrules-network_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networksecuritygroupssecurityrules-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "networksecuritygroupssecurityrules-network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-networkPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the networksecuritygroupssecurityrules-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-network"
            }
          },
          "201": {
            "description": "Updates the networksecuritygroupssecurityrules-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-network"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcTargetAzure/networksecuritygroupssecurityrules-network": {
      "get": {
        "operationId": "networksecuritygroupssecurityrules-network_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all networksecuritygroupssecurityrules-network under the resouce group.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-networkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcTargetAzure/networksecuritygroupssecurityrules-network": {
      "get": {
        "operationId": "networksecuritygroupssecurityrules-network_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all networksecuritygroupssecurityrules-network under the subscription.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroupssecurityrules-networkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ArcTargetAzure/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "networksecuritygroupssecurityrules-networkProperties": {
      "type": "object",
      "properties": {
        "access": {
          "type": "string",
          "description": "Deprecated version of SecurityRulePropertiesFormatAccess. Use v1beta20201101.SecurityRulePropertiesFormatAccess instead",
          "enum": [
            "Allow",
            "Deny"
          ]
        },
        "azureName": {
          "type": "string",
          "description": "AzureName: The name of the resource in Azure. This is often the same as the name of the resource in Kubernetes but it doesn't have to be."
        },
        "description": {
          "type": "string"
        },
        "destinationAddressPrefix": {
          "type": "string"
        },
        "destinationAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationApplicationSecurityGroups": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "object",
                "properties": {
                  "armId": {
                    "type": "string",
                    "description": "ARMID is a string of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}. The /resourcegroups/{resourceGroupName} bit is optional as some resources are scoped at the subscription level ARMID is mutually exclusive with Group, Kind, Namespace and Name."
                  },
                  "group": {
                    "type": "string",
                    "description": "Group is the Kubernetes group of the resource."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Kind is the Kubernetes kind of the resource."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name is the Kubernetes name of the resource."
                  }
                },
                "description": "ResourceReference represents a resource reference, either to a Kubernetes resource or directly to an Azure resource via ARMID"
              }
            },
            "required": [
              "reference"
            ],
            "description": "Deprecated version of SubResource. Use v1beta20201101.SubResource instead"
          }
        },
        "destinationPortRange": {
          "type": "string"
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "description": "Deprecated version of SecurityRulePropertiesFormatDirection. Use v1beta20201101.SecurityRulePropertiesFormatDirection instead",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "owner": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "This is the name of the Kubernetes resource to reference."
            }
          },
          "required": [
            "name"
          ],
          "description": "Owner: The owner of the resource. The owner controls where the resource goes when it is deployed. The owner also controls the resources lifecycle. When the owner is deleted the resource will also be deleted. Owner is expected to be a reference to a network.azure.com/NetworkSecurityGroup resource"
        },
        "priority": {
          "type": "integer"
        },
        "protocol": {
          "type": "string",
          "description": "Deprecated version of SecurityRulePropertiesFormatProtocol. Use v1beta20201101.SecurityRulePropertiesFormatProtocol instead",
          "enum": [
            "Ah",
            "Esp",
            "Icmp",
            "*",
            "Tcp",
            "Udp"
          ]
        },
        "sourceAddressPrefix": {
          "type": "string"
        },
        "sourceAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceApplicationSecurityGroups": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "object",
                "properties": {
                  "armId": {
                    "type": "string",
                    "description": "ARMID is a string of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}. The /resourcegroups/{resourceGroupName} bit is optional as some resources are scoped at the subscription level ARMID is mutually exclusive with Group, Kind, Namespace and Name."
                  },
                  "group": {
                    "type": "string",
                    "description": "Group is the Kubernetes group of the resource."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Kind is the Kubernetes kind of the resource."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name is the Kubernetes name of the resource."
                  }
                },
                "description": "ResourceReference represents a resource reference, either to a Kubernetes resource or directly to an Azure resource via ARMID"
              }
            },
            "required": [
              "reference"
            ],
            "description": "Deprecated version of SubResource. Use v1beta20201101.SubResource instead"
          }
        },
        "sourcePortRange": {
          "type": "string"
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "access": {
              "type": "string",
              "description": "Deprecated version of SecurityRuleAccess_Status. Use v1beta20201101.SecurityRuleAccess_Status instead"
            },
            "conditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "lastTransitionTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message is a human readable message indicating details about the transition. This field may be empty."
                  },
                  "observedGeneration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ObservedGeneration is the .metadata.generation that the condition was set based upon. For instance, if .metadata.generation is currently 12, but the .status.condition[x].observedGeneration is 9, the condition is out of date with respect to the current state of the instance."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the condition's last transition. Reasons are upper CamelCase (PascalCase) with no spaces. A reason is always provided, this field will not be empty."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Severity with which to treat failures of this type of condition. For conditions which have positive polarity (Status == True is their normal/healthy state), this will be omitted when Status == True For conditions which have negative polarity (Status == False is their normal/healthy state), this will be omitted when Status == False. This is omitted in all cases when Status == Unknown"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the condition, one of True, False, or Unknown."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of condition."
                  }
                },
                "required": [
                  "lastTransitionTime",
                  "reason",
                  "status",
                  "type"
                ],
                "description": "Condition defines an extension to status (an observation) of a resource"
              },
              "description": "Conditions: The observed state of the resource"
            },
            "description": {
              "type": "string"
            },
            "destinationAddressPrefix": {
              "type": "string"
            },
            "destinationAddressPrefixes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "destinationApplicationSecurityGroups": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of ApplicationSecurityGroup_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded. Use v1beta20201101.ApplicationSecurityGroup_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded instead"
              }
            },
            "destinationPortRange": {
              "type": "string"
            },
            "destinationPortRanges": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "direction": {
              "type": "string",
              "description": "Deprecated version of SecurityRuleDirection_Status. Use v1beta20201101.SecurityRuleDirection_Status instead"
            },
            "etag": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "priority": {
              "type": "integer"
            },
            "protocol": {
              "type": "string",
              "description": "Deprecated version of SecurityRulePropertiesFormatStatusProtocol. Use v1beta20201101.SecurityRulePropertiesFormatStatusProtocol instead"
            },
            "provisioningState": {
              "type": "string",
              "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
            },
            "sourceAddressPrefix": {
              "type": "string"
            },
            "sourceAddressPrefixes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "sourceApplicationSecurityGroups": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of ApplicationSecurityGroup_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded. Use v1beta20201101.ApplicationSecurityGroup_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded instead"
              }
            },
            "sourcePortRange": {
              "type": "string"
            },
            "sourcePortRanges": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "type": {
              "type": "string"
            }
          },
          "description": "Deprecated version of SecurityRule_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded. Use v1beta20201101.SecurityRule_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded instead"
        }
      },
      "required": [
        "access",
        "direction",
        "owner",
        "priority",
        "protocol"
      ]
    },
    "networksecuritygroupssecurityrules-networkPropertiesPut": {
      "type": "object",
      "properties": {
        "access": {
          "type": "string",
          "description": "Deprecated version of SecurityRulePropertiesFormatAccess. Use v1beta20201101.SecurityRulePropertiesFormatAccess instead",
          "enum": [
            "Allow",
            "Deny"
          ]
        },
        "azureName": {
          "type": "string",
          "description": "AzureName: The name of the resource in Azure. This is often the same as the name of the resource in Kubernetes but it doesn't have to be."
        },
        "description": {
          "type": "string"
        },
        "destinationAddressPrefix": {
          "type": "string"
        },
        "destinationAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationApplicationSecurityGroups": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "object",
                "properties": {
                  "armId": {
                    "type": "string",
                    "description": "ARMID is a string of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}. The /resourcegroups/{resourceGroupName} bit is optional as some resources are scoped at the subscription level ARMID is mutually exclusive with Group, Kind, Namespace and Name."
                  },
                  "group": {
                    "type": "string",
                    "description": "Group is the Kubernetes group of the resource."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Kind is the Kubernetes kind of the resource."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name is the Kubernetes name of the resource."
                  }
                },
                "description": "ResourceReference represents a resource reference, either to a Kubernetes resource or directly to an Azure resource via ARMID"
              }
            },
            "required": [
              "reference"
            ],
            "description": "Deprecated version of SubResource. Use v1beta20201101.SubResource instead"
          }
        },
        "destinationPortRange": {
          "type": "string"
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "direction": {
          "type": "string",
          "description": "Deprecated version of SecurityRulePropertiesFormatDirection. Use v1beta20201101.SecurityRulePropertiesFormatDirection instead",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "location": {
          "type": "string"
        },
        "owner": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "This is the name of the Kubernetes resource to reference."
            }
          },
          "required": [
            "name"
          ],
          "description": "Owner: The owner of the resource. The owner controls where the resource goes when it is deployed. The owner also controls the resources lifecycle. When the owner is deleted the resource will also be deleted. Owner is expected to be a reference to a network.azure.com/NetworkSecurityGroup resource"
        },
        "priority": {
          "type": "integer"
        },
        "protocol": {
          "type": "string",
          "description": "Deprecated version of SecurityRulePropertiesFormatProtocol. Use v1beta20201101.SecurityRulePropertiesFormatProtocol instead",
          "enum": [
            "Ah",
            "Esp",
            "Icmp",
            "*",
            "Tcp",
            "Udp"
          ]
        },
        "sourceAddressPrefix": {
          "type": "string"
        },
        "sourceAddressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceApplicationSecurityGroups": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "object",
                "properties": {
                  "armId": {
                    "type": "string",
                    "description": "ARMID is a string of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}. The /resourcegroups/{resourceGroupName} bit is optional as some resources are scoped at the subscription level ARMID is mutually exclusive with Group, Kind, Namespace and Name."
                  },
                  "group": {
                    "type": "string",
                    "description": "Group is the Kubernetes group of the resource."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Kind is the Kubernetes kind of the resource."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name is the Kubernetes name of the resource."
                  }
                },
                "description": "ResourceReference represents a resource reference, either to a Kubernetes resource or directly to an Azure resource via ARMID"
              }
            },
            "required": [
              "reference"
            ],
            "description": "Deprecated version of SubResource. Use v1beta20201101.SubResource instead"
          }
        },
        "sourcePortRange": {
          "type": "string"
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "access": {
              "type": "string",
              "description": "Deprecated version of SecurityRuleAccess_Status. Use v1beta20201101.SecurityRuleAccess_Status instead"
            },
            "conditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "lastTransitionTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message is a human readable message indicating details about the transition. This field may be empty."
                  },
                  "observedGeneration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ObservedGeneration is the .metadata.generation that the condition was set based upon. For instance, if .metadata.generation is currently 12, but the .status.condition[x].observedGeneration is 9, the condition is out of date with respect to the current state of the instance."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the condition's last transition. Reasons are upper CamelCase (PascalCase) with no spaces. A reason is always provided, this field will not be empty."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Severity with which to treat failures of this type of condition. For conditions which have positive polarity (Status == True is their normal/healthy state), this will be omitted when Status == True For conditions which have negative polarity (Status == False is their normal/healthy state), this will be omitted when Status == False. This is omitted in all cases when Status == Unknown"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the condition, one of True, False, or Unknown."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of condition."
                  }
                },
                "required": [
                  "lastTransitionTime",
                  "reason",
                  "status",
                  "type"
                ],
                "description": "Condition defines an extension to status (an observation) of a resource"
              },
              "description": "Conditions: The observed state of the resource"
            },
            "description": {
              "type": "string"
            },
            "destinationAddressPrefix": {
              "type": "string"
            },
            "destinationAddressPrefixes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "destinationApplicationSecurityGroups": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of ApplicationSecurityGroup_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded. Use v1beta20201101.ApplicationSecurityGroup_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded instead"
              }
            },
            "destinationPortRange": {
              "type": "string"
            },
            "destinationPortRanges": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "direction": {
              "type": "string",
              "description": "Deprecated version of SecurityRuleDirection_Status. Use v1beta20201101.SecurityRuleDirection_Status instead"
            },
            "etag": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "priority": {
              "type": "integer"
            },
            "protocol": {
              "type": "string",
              "description": "Deprecated version of SecurityRulePropertiesFormatStatusProtocol. Use v1beta20201101.SecurityRulePropertiesFormatStatusProtocol instead"
            },
            "provisioningState": {
              "type": "string",
              "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
            },
            "sourceAddressPrefix": {
              "type": "string"
            },
            "sourceAddressPrefixes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "sourceApplicationSecurityGroups": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of ApplicationSecurityGroup_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded. Use v1beta20201101.ApplicationSecurityGroup_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded instead"
              }
            },
            "sourcePortRange": {
              "type": "string"
            },
            "sourcePortRanges": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "type": {
              "type": "string"
            }
          },
          "description": "Deprecated version of SecurityRule_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded. Use v1beta20201101.SecurityRule_Status_NetworkSecurityGroupsSecurityRule_SubResourceEmbedded instead"
        }
      },
      "required": [
        "access",
        "direction",
        "owner",
        "priority",
        "protocol"
      ]
    },
    "networksecuritygroupssecurityrules-network": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/networksecuritygroupssecurityrules-networkProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The networksecuritygroupssecurityrules-network resource definition."
    },
    "networksecuritygroupssecurityrules-network-put": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/networksecuritygroupssecurityrules-networkPropertiesPut"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The networksecuritygroupssecurityrules-network resource definition."
    },
    "networksecuritygroupssecurityrules-networkPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The networksecuritygroupssecurityrules-network resource patch definition."
    },
    "networksecuritygroupssecurityrules-networkListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networksecuritygroupssecurityrules-network"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "networksecuritygroupssecurityrules-networkNameParameter": {
      "name": "networksecuritygroupssecurityrules-networkName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}