{
  "swagger": "2.0",
  "info": {
    "title": "ArcTargetAzure",
    "description": "The Microsoft.ArcTargetAzure Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "ArcTargetAzureClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcTargetAzure/networksecuritygroups-network/{networksecuritygroups-networkName}": {
      "get": {
        "operationId": "networksecuritygroups-network_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networksecuritygroups-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the networksecuritygroups-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-network"
            }
          }
        }
      },
      "put": {
        "operationId": "networksecuritygroups-network_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networksecuritygroups-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "networksecuritygroups-network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-network-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the networksecuritygroups-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-network"
            }
          },
          "201": {
            "description": "Creates the networksecuritygroups-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-network"
            }
          }
        }
      },
      "delete": {
        "operationId": "networksecuritygroups-network_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networksecuritygroups-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the networksecuritygroups-network resource."
          }
        }
      },
      "patch": {
        "operationId": "networksecuritygroups-network_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networksecuritygroups-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "networksecuritygroups-network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-networkPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the networksecuritygroups-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-network"
            }
          },
          "201": {
            "description": "Updates the networksecuritygroups-network resource.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-network"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcTargetAzure/networksecuritygroups-network": {
      "get": {
        "operationId": "networksecuritygroups-network_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all networksecuritygroups-network under the resouce group.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-networkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcTargetAzure/networksecuritygroups-network": {
      "get": {
        "operationId": "networksecuritygroups-network_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all networksecuritygroups-network under the subscription.",
            "schema": {
              "$ref": "#/definitions/networksecuritygroups-networkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ArcTargetAzure/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "networksecuritygroups-networkProperties": {
      "type": "object",
      "properties": {
        "azureName": {
          "type": "string",
          "description": "AzureName: The name of the resource in Azure. This is often the same as the name of the resource in Kubernetes but it doesn't have to be."
        },
        "owner": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "This is the name of the Kubernetes resource to reference."
            }
          },
          "required": [
            "name"
          ],
          "description": "Owner: The owner of the resource. The owner controls where the resource goes when it is deployed. The owner also controls the resources lifecycle. When the owner is deleted the resource will also be deleted. Owner is expected to be a reference to a resources.azure.com/ResourceGroup resource"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "lastTransitionTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message is a human readable message indicating details about the transition. This field may be empty."
                  },
                  "observedGeneration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ObservedGeneration is the .metadata.generation that the condition was set based upon. For instance, if .metadata.generation is currently 12, but the .status.condition[x].observedGeneration is 9, the condition is out of date with respect to the current state of the instance."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the condition's last transition. Reasons are upper CamelCase (PascalCase) with no spaces. A reason is always provided, this field will not be empty."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Severity with which to treat failures of this type of condition. For conditions which have positive polarity (Status == True is their normal/healthy state), this will be omitted when Status == True For conditions which have negative polarity (Status == False is their normal/healthy state), this will be omitted when Status == False. This is omitted in all cases when Status == Unknown"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the condition, one of True, False, or Unknown."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of condition."
                  }
                },
                "required": [
                  "lastTransitionTime",
                  "reason",
                  "status",
                  "type"
                ],
                "description": "Condition defines an extension to status (an observation) of a resource"
              },
              "description": "Conditions: The observed state of the resource"
            },
            "defaultSecurityRules": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of SecurityRule_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.SecurityRule_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
              }
            },
            "etag": {
              "type": "string"
            },
            "flowLogs": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of FlowLog_Status_SubResourceEmbedded. Use v1beta20201101.FlowLog_Status_SubResourceEmbedded instead"
              }
            },
            "id": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "networkInterfaces": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "extendedLocation": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "description": "Deprecated version of ExtendedLocationType_Status. Use v1beta20201101.ExtendedLocationType_Status instead"
                      }
                    },
                    "description": "Deprecated version of ExtendedLocation_Status. Use v1beta20201101.ExtendedLocation_Status instead"
                  },
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of NetworkInterface_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.NetworkInterface_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
              }
            },
            "provisioningState": {
              "type": "string",
              "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
            },
            "resourceGuid": {
              "type": "string"
            },
            "securityRules": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of SecurityRule_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.SecurityRule_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
              }
            },
            "subnets": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of Subnet_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.Subnet_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
              }
            },
            "tags": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "type": {
              "type": "string"
            }
          },
          "description": "Deprecated version of NetworkSecurityGroup_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.NetworkSecurityGroup_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
        }
      },
      "required": [
        "owner"
      ]
    },
    "networksecuritygroups-networkPropertiesPut": {
      "type": "object",
      "properties": {
        "azureName": {
          "type": "string",
          "description": "AzureName: The name of the resource in Azure. This is often the same as the name of the resource in Kubernetes but it doesn't have to be."
        },
        "location": {
          "type": "string"
        },
        "owner": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "This is the name of the Kubernetes resource to reference."
            }
          },
          "required": [
            "name"
          ],
          "description": "Owner: The owner of the resource. The owner controls where the resource goes when it is deployed. The owner also controls the resources lifecycle. When the owner is deleted the resource will also be deleted. Owner is expected to be a reference to a resources.azure.com/ResourceGroup resource"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "lastTransitionTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message is a human readable message indicating details about the transition. This field may be empty."
                  },
                  "observedGeneration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ObservedGeneration is the .metadata.generation that the condition was set based upon. For instance, if .metadata.generation is currently 12, but the .status.condition[x].observedGeneration is 9, the condition is out of date with respect to the current state of the instance."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the condition's last transition. Reasons are upper CamelCase (PascalCase) with no spaces. A reason is always provided, this field will not be empty."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Severity with which to treat failures of this type of condition. For conditions which have positive polarity (Status == True is their normal/healthy state), this will be omitted when Status == True For conditions which have negative polarity (Status == False is their normal/healthy state), this will be omitted when Status == False. This is omitted in all cases when Status == Unknown"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the condition, one of True, False, or Unknown."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of condition."
                  }
                },
                "required": [
                  "lastTransitionTime",
                  "reason",
                  "status",
                  "type"
                ],
                "description": "Condition defines an extension to status (an observation) of a resource"
              },
              "description": "Conditions: The observed state of the resource"
            },
            "defaultSecurityRules": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of SecurityRule_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.SecurityRule_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
              }
            },
            "etag": {
              "type": "string"
            },
            "flowLogs": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of FlowLog_Status_SubResourceEmbedded. Use v1beta20201101.FlowLog_Status_SubResourceEmbedded instead"
              }
            },
            "id": {
              "type": "string"
            },
            "location": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "networkInterfaces": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "extendedLocation": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "description": "Deprecated version of ExtendedLocationType_Status. Use v1beta20201101.ExtendedLocationType_Status instead"
                      }
                    },
                    "description": "Deprecated version of ExtendedLocation_Status. Use v1beta20201101.ExtendedLocation_Status instead"
                  },
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of NetworkInterface_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.NetworkInterface_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
              }
            },
            "provisioningState": {
              "type": "string",
              "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
            },
            "resourceGuid": {
              "type": "string"
            },
            "securityRules": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of SecurityRule_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.SecurityRule_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
              }
            },
            "subnets": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of Subnet_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.Subnet_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
              }
            },
            "tags": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "type": {
              "type": "string"
            }
          },
          "description": "Deprecated version of NetworkSecurityGroup_Status_NetworkSecurityGroup_SubResourceEmbedded. Use v1beta20201101.NetworkSecurityGroup_Status_NetworkSecurityGroup_SubResourceEmbedded instead"
        }
      },
      "required": [
        "owner"
      ]
    },
    "networksecuritygroups-network": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/networksecuritygroups-networkProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The networksecuritygroups-network resource definition."
    },
    "networksecuritygroups-network-put": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/networksecuritygroups-networkPropertiesPut"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The networksecuritygroups-network resource definition."
    },
    "networksecuritygroups-networkPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The networksecuritygroups-network resource patch definition."
    },
    "networksecuritygroups-networkListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networksecuritygroups-network"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "networksecuritygroups-networkNameParameter": {
      "name": "networksecuritygroups-networkName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}