{
  "swagger": "2.0",
  "info": {
    "title": "ArcTargetAzure",
    "description": "The Microsoft.ArcTargetAzure Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "ArcTargetAzureClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcTargetAzure/publicipaddresses-network/{publicipaddresses-networkName}": {
      "get": {
        "operationId": "publicipaddresses-network_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/publicipaddresses-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the publicipaddresses-network resource.",
            "schema": {
              "$ref": "#/definitions/publicipaddresses-network"
            }
          }
        }
      },
      "put": {
        "operationId": "publicipaddresses-network_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/publicipaddresses-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "publicipaddresses-network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/publicipaddresses-network-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the publicipaddresses-network resource.",
            "schema": {
              "$ref": "#/definitions/publicipaddresses-network"
            }
          },
          "201": {
            "description": "Creates the publicipaddresses-network resource.",
            "schema": {
              "$ref": "#/definitions/publicipaddresses-network"
            }
          }
        }
      },
      "delete": {
        "operationId": "publicipaddresses-network_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/publicipaddresses-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the publicipaddresses-network resource."
          }
        }
      },
      "patch": {
        "operationId": "publicipaddresses-network_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/publicipaddresses-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "publicipaddresses-network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/publicipaddresses-networkPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the publicipaddresses-network resource.",
            "schema": {
              "$ref": "#/definitions/publicipaddresses-network"
            }
          },
          "201": {
            "description": "Updates the publicipaddresses-network resource.",
            "schema": {
              "$ref": "#/definitions/publicipaddresses-network"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcTargetAzure/publicipaddresses-network": {
      "get": {
        "operationId": "publicipaddresses-network_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all publicipaddresses-network under the resouce group.",
            "schema": {
              "$ref": "#/definitions/publicipaddresses-networkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcTargetAzure/publicipaddresses-network": {
      "get": {
        "operationId": "publicipaddresses-network_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all publicipaddresses-network under the subscription.",
            "schema": {
              "$ref": "#/definitions/publicipaddresses-networkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ArcTargetAzure/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "publicipaddresses-networkProperties": {
      "type": "object",
      "properties": {
        "azureName": {
          "type": "string",
          "description": "AzureName: The name of the resource in Azure. This is often the same as the name of the resource in Kubernetes but it doesn't have to be."
        },
        "dnsSettings": {
          "type": "object",
          "properties": {
            "domainNameLabel": {
              "type": "string"
            },
            "fqdn": {
              "type": "string"
            },
            "reverseFqdn": {
              "type": "string"
            }
          },
          "required": [
            "domainNameLabel"
          ],
          "description": "Deprecated version of PublicIPAddressDnsSettings. Use v1beta20201101.PublicIPAddressDnsSettings instead"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Deprecated version of ExtendedLocationType. Use v1beta20201101.ExtendedLocationType instead",
              "enum": [
                "EdgeZone"
              ]
            }
          },
          "required": [
            "name",
            "type"
          ],
          "description": "Deprecated version of ExtendedLocation. Use v1beta20201101.ExtendedLocation instead"
        },
        "idleTimeoutInMinutes": {
          "type": "integer"
        },
        "ipAddress": {
          "type": "string"
        },
        "ipTags": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "ipTagType": {
                "type": "string"
              },
              "tag": {
                "type": "string"
              }
            },
            "description": "Deprecated version of IpTag. Use v1beta20201101.IpTag instead"
          }
        },
        "owner": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "This is the name of the Kubernetes resource to reference."
            }
          },
          "required": [
            "name"
          ],
          "description": "Owner: The owner of the resource. The owner controls where the resource goes when it is deployed. The owner also controls the resources lifecycle. When the owner is deleted the resource will also be deleted. Owner is expected to be a reference to a resources.azure.com/ResourceGroup resource"
        },
        "publicIPAddressVersion": {
          "type": "string",
          "description": "Deprecated version of PublicIPAddressPropertiesFormatPublicIPAddressVersion. Use v1beta20201101.PublicIPAddressPropertiesFormatPublicIPAddressVersion instead",
          "enum": [
            "IPv4",
            "IPv6"
          ]
        },
        "publicIPAllocationMethod": {
          "type": "string",
          "description": "Deprecated version of PublicIPAddressPropertiesFormatPublicIPAllocationMethod. Use v1beta20201101.PublicIPAddressPropertiesFormatPublicIPAllocationMethod instead",
          "enum": [
            "Dynamic",
            "Static"
          ]
        },
        "publicIPPrefix": {
          "type": "object",
          "properties": {
            "reference": {
              "type": "object",
              "properties": {
                "armId": {
                  "type": "string",
                  "description": "ARMID is a string of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}. The /resourcegroups/{resourceGroupName} bit is optional as some resources are scoped at the subscription level ARMID is mutually exclusive with Group, Kind, Namespace and Name."
                },
                "group": {
                  "type": "string",
                  "description": "Group is the Kubernetes group of the resource."
                },
                "kind": {
                  "type": "string",
                  "description": "Kind is the Kubernetes kind of the resource."
                },
                "name": {
                  "type": "string",
                  "description": "Name is the Kubernetes name of the resource."
                }
              },
              "description": "ResourceReference represents a resource reference, either to a Kubernetes resource or directly to an Azure resource via ARMID"
            }
          },
          "required": [
            "reference"
          ],
          "description": "Deprecated version of SubResource. Use v1beta20201101.SubResource instead"
        },
        "sku": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Deprecated version of PublicIPAddressSkuName. Use v1beta20201101.PublicIPAddressSkuName instead",
              "enum": [
                "Basic",
                "Standard"
              ]
            },
            "tier": {
              "type": "string",
              "description": "Deprecated version of PublicIPAddressSkuTier. Use v1beta20201101.PublicIPAddressSkuTier instead",
              "enum": [
                "Global",
                "Regional"
              ]
            }
          },
          "description": "Deprecated version of PublicIPAddressSku. Use v1beta20201101.PublicIPAddressSku instead"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "lastTransitionTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message is a human readable message indicating details about the transition. This field may be empty."
                  },
                  "observedGeneration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ObservedGeneration is the .metadata.generation that the condition was set based upon. For instance, if .metadata.generation is currently 12, but the .status.condition[x].observedGeneration is 9, the condition is out of date with respect to the current state of the instance."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the condition's last transition. Reasons are upper CamelCase (PascalCase) with no spaces. A reason is always provided, this field will not be empty."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Severity with which to treat failures of this type of condition. For conditions which have positive polarity (Status == True is their normal/healthy state), this will be omitted when Status == True For conditions which have negative polarity (Status == False is their normal/healthy state), this will be omitted when Status == False. This is omitted in all cases when Status == Unknown"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the condition, one of True, False, or Unknown."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of condition."
                  }
                },
                "required": [
                  "lastTransitionTime",
                  "reason",
                  "status",
                  "type"
                ],
                "description": "Condition defines an extension to status (an observation) of a resource"
              },
              "description": "Conditions: The observed state of the resource"
            },
            "ddosSettings": {
              "type": "object",
              "properties": {
                "ddosCustomPolicy": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "description": "Deprecated version of SubResource_Status. Use v1beta20201101.SubResource_Status instead"
                },
                "protectedIP": {
                  "type": "boolean"
                },
                "protectionCoverage": {
                  "type": "string",
                  "description": "Deprecated version of DdosSettingsStatusProtectionCoverage. Use v1beta20201101.DdosSettingsStatusProtectionCoverage instead"
                }
              },
              "description": "Deprecated version of DdosSettings_Status. Use v1beta20201101.DdosSettings_Status instead"
            },
            "dnsSettings": {
              "type": "object",
              "properties": {
                "domainNameLabel": {
                  "type": "string"
                },
                "fqdn": {
                  "type": "string"
                },
                "reverseFqdn": {
                  "type": "string"
                }
              },
              "description": "Deprecated version of PublicIPAddressDnsSettings_Status. Use v1beta20201101.PublicIPAddressDnsSettings_Status instead"
            },
            "etag": {
              "type": "string"
            },
            "extendedLocation": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "Deprecated version of ExtendedLocationType_Status. Use v1beta20201101.ExtendedLocationType_Status instead"
                }
              },
              "description": "Deprecated version of ExtendedLocation_Status. Use v1beta20201101.ExtendedLocation_Status instead"
            },
            "id": {
              "type": "string"
            },
            "idleTimeoutInMinutes": {
              "type": "integer"
            },
            "ipAddress": {
              "type": "string"
            },
            "ipConfiguration": {
              "type": "object",
              "properties": {
                "etag": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "privateIPAddress": {
                  "type": "string"
                },
                "privateIPAllocationMethod": {
                  "type": "string",
                  "description": "Deprecated version of IPAllocationMethod_Status. Use v1beta20201101.IPAllocationMethod_Status instead"
                },
                "provisioningState": {
                  "type": "string",
                  "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
                },
                "subnet": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "description": "Deprecated version of Subnet_Status_PublicIPAddress_SubResourceEmbedded. Use v1beta20201101.Subnet_Status_PublicIPAddress_SubResourceEmbedded instead"
                }
              },
              "description": "Deprecated version of IPConfiguration_Status_PublicIPAddress_SubResourceEmbedded. Use v1beta20201101.IPConfiguration_Status_PublicIPAddress_SubResourceEmbedded instead"
            },
            "ipTags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ipTagType": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of IpTag_Status. Use v1beta20201101.IpTag_Status instead"
              }
            },
            "location": {
              "type": "string"
            },
            "migrationPhase": {
              "type": "string",
              "description": "Deprecated version of PublicIPAddressPropertiesFormatStatusMigrationPhase. Use v1beta20201101.PublicIPAddressPropertiesFormatStatusMigrationPhase instead"
            },
            "name": {
              "type": "string"
            },
            "natGateway": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "sku": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Deprecated version of NatGatewaySkuStatusName. Use v1beta20201101.NatGatewaySkuStatusName instead"
                    }
                  },
                  "description": "Deprecated version of NatGatewaySku_Status. Use v1beta20201101.NatGatewaySku_Status instead"
                },
                "zones": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "description": "Deprecated version of NatGateway_Status_PublicIPAddress_SubResourceEmbedded. Use v1beta20201101.NatGateway_Status_PublicIPAddress_SubResourceEmbedded instead"
            },
            "provisioningState": {
              "type": "string",
              "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
            },
            "publicIPAddressVersion": {
              "type": "string",
              "description": "Deprecated version of IPVersion_Status. Use v1beta20201101.IPVersion_Status instead"
            },
            "publicIPAllocationMethod": {
              "type": "string",
              "description": "Deprecated version of IPAllocationMethod_Status. Use v1beta20201101.IPAllocationMethod_Status instead"
            },
            "publicIPPrefix": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              },
              "description": "Deprecated version of SubResource_Status. Use v1beta20201101.SubResource_Status instead"
            },
            "resourceGuid": {
              "type": "string"
            },
            "sku": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Deprecated version of PublicIPAddressSkuStatusName. Use v1beta20201101.PublicIPAddressSkuStatusName instead"
                },
                "tier": {
                  "type": "string",
                  "description": "Deprecated version of PublicIPAddressSkuStatusTier. Use v1beta20201101.PublicIPAddressSkuStatusTier instead"
                }
              },
              "description": "Deprecated version of PublicIPAddressSku_Status. Use v1beta20201101.PublicIPAddressSku_Status instead"
            },
            "tags": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "type": {
              "type": "string"
            },
            "zones": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Deprecated version of PublicIPAddress_Status_PublicIPAddress_SubResourceEmbedded. Use v1beta20201101.PublicIPAddress_Status_PublicIPAddress_SubResourceEmbedded instead"
        }
      },
      "required": [
        "owner",
        "publicIPAllocationMethod"
      ]
    },
    "publicipaddresses-networkPropertiesPut": {
      "type": "object",
      "properties": {
        "azureName": {
          "type": "string",
          "description": "AzureName: The name of the resource in Azure. This is often the same as the name of the resource in Kubernetes but it doesn't have to be."
        },
        "dnsSettings": {
          "type": "object",
          "properties": {
            "domainNameLabel": {
              "type": "string"
            },
            "fqdn": {
              "type": "string"
            },
            "reverseFqdn": {
              "type": "string"
            }
          },
          "required": [
            "domainNameLabel"
          ],
          "description": "Deprecated version of PublicIPAddressDnsSettings. Use v1beta20201101.PublicIPAddressDnsSettings instead"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Deprecated version of ExtendedLocationType. Use v1beta20201101.ExtendedLocationType instead",
              "enum": [
                "EdgeZone"
              ]
            }
          },
          "required": [
            "name",
            "type"
          ],
          "description": "Deprecated version of ExtendedLocation. Use v1beta20201101.ExtendedLocation instead"
        },
        "idleTimeoutInMinutes": {
          "type": "integer"
        },
        "ipAddress": {
          "type": "string"
        },
        "ipTags": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "ipTagType": {
                "type": "string"
              },
              "tag": {
                "type": "string"
              }
            },
            "description": "Deprecated version of IpTag. Use v1beta20201101.IpTag instead"
          }
        },
        "location": {
          "type": "string"
        },
        "owner": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "This is the name of the Kubernetes resource to reference."
            }
          },
          "required": [
            "name"
          ],
          "description": "Owner: The owner of the resource. The owner controls where the resource goes when it is deployed. The owner also controls the resources lifecycle. When the owner is deleted the resource will also be deleted. Owner is expected to be a reference to a resources.azure.com/ResourceGroup resource"
        },
        "publicIPAddressVersion": {
          "type": "string",
          "description": "Deprecated version of PublicIPAddressPropertiesFormatPublicIPAddressVersion. Use v1beta20201101.PublicIPAddressPropertiesFormatPublicIPAddressVersion instead",
          "enum": [
            "IPv4",
            "IPv6"
          ]
        },
        "publicIPAllocationMethod": {
          "type": "string",
          "description": "Deprecated version of PublicIPAddressPropertiesFormatPublicIPAllocationMethod. Use v1beta20201101.PublicIPAddressPropertiesFormatPublicIPAllocationMethod instead",
          "enum": [
            "Dynamic",
            "Static"
          ]
        },
        "publicIPPrefix": {
          "type": "object",
          "properties": {
            "reference": {
              "type": "object",
              "properties": {
                "armId": {
                  "type": "string",
                  "description": "ARMID is a string of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}. The /resourcegroups/{resourceGroupName} bit is optional as some resources are scoped at the subscription level ARMID is mutually exclusive with Group, Kind, Namespace and Name."
                },
                "group": {
                  "type": "string",
                  "description": "Group is the Kubernetes group of the resource."
                },
                "kind": {
                  "type": "string",
                  "description": "Kind is the Kubernetes kind of the resource."
                },
                "name": {
                  "type": "string",
                  "description": "Name is the Kubernetes name of the resource."
                }
              },
              "description": "ResourceReference represents a resource reference, either to a Kubernetes resource or directly to an Azure resource via ARMID"
            }
          },
          "required": [
            "reference"
          ],
          "description": "Deprecated version of SubResource. Use v1beta20201101.SubResource instead"
        },
        "sku": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Deprecated version of PublicIPAddressSkuName. Use v1beta20201101.PublicIPAddressSkuName instead",
              "enum": [
                "Basic",
                "Standard"
              ]
            },
            "tier": {
              "type": "string",
              "description": "Deprecated version of PublicIPAddressSkuTier. Use v1beta20201101.PublicIPAddressSkuTier instead",
              "enum": [
                "Global",
                "Regional"
              ]
            }
          },
          "description": "Deprecated version of PublicIPAddressSku. Use v1beta20201101.PublicIPAddressSku instead"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "conditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "lastTransitionTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message is a human readable message indicating details about the transition. This field may be empty."
                  },
                  "observedGeneration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ObservedGeneration is the .metadata.generation that the condition was set based upon. For instance, if .metadata.generation is currently 12, but the .status.condition[x].observedGeneration is 9, the condition is out of date with respect to the current state of the instance."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the condition's last transition. Reasons are upper CamelCase (PascalCase) with no spaces. A reason is always provided, this field will not be empty."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Severity with which to treat failures of this type of condition. For conditions which have positive polarity (Status == True is their normal/healthy state), this will be omitted when Status == True For conditions which have negative polarity (Status == False is their normal/healthy state), this will be omitted when Status == False. This is omitted in all cases when Status == Unknown"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the condition, one of True, False, or Unknown."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of condition."
                  }
                },
                "required": [
                  "lastTransitionTime",
                  "reason",
                  "status",
                  "type"
                ],
                "description": "Condition defines an extension to status (an observation) of a resource"
              },
              "description": "Conditions: The observed state of the resource"
            },
            "ddosSettings": {
              "type": "object",
              "properties": {
                "ddosCustomPolicy": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "description": "Deprecated version of SubResource_Status. Use v1beta20201101.SubResource_Status instead"
                },
                "protectedIP": {
                  "type": "boolean"
                },
                "protectionCoverage": {
                  "type": "string",
                  "description": "Deprecated version of DdosSettingsStatusProtectionCoverage. Use v1beta20201101.DdosSettingsStatusProtectionCoverage instead"
                }
              },
              "description": "Deprecated version of DdosSettings_Status. Use v1beta20201101.DdosSettings_Status instead"
            },
            "dnsSettings": {
              "type": "object",
              "properties": {
                "domainNameLabel": {
                  "type": "string"
                },
                "fqdn": {
                  "type": "string"
                },
                "reverseFqdn": {
                  "type": "string"
                }
              },
              "description": "Deprecated version of PublicIPAddressDnsSettings_Status. Use v1beta20201101.PublicIPAddressDnsSettings_Status instead"
            },
            "etag": {
              "type": "string"
            },
            "extendedLocation": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "Deprecated version of ExtendedLocationType_Status. Use v1beta20201101.ExtendedLocationType_Status instead"
                }
              },
              "description": "Deprecated version of ExtendedLocation_Status. Use v1beta20201101.ExtendedLocation_Status instead"
            },
            "id": {
              "type": "string"
            },
            "idleTimeoutInMinutes": {
              "type": "integer"
            },
            "ipAddress": {
              "type": "string"
            },
            "ipConfiguration": {
              "type": "object",
              "properties": {
                "etag": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "privateIPAddress": {
                  "type": "string"
                },
                "privateIPAllocationMethod": {
                  "type": "string",
                  "description": "Deprecated version of IPAllocationMethod_Status. Use v1beta20201101.IPAllocationMethod_Status instead"
                },
                "provisioningState": {
                  "type": "string",
                  "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
                },
                "subnet": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "description": "Deprecated version of Subnet_Status_PublicIPAddress_SubResourceEmbedded. Use v1beta20201101.Subnet_Status_PublicIPAddress_SubResourceEmbedded instead"
                }
              },
              "description": "Deprecated version of IPConfiguration_Status_PublicIPAddress_SubResourceEmbedded. Use v1beta20201101.IPConfiguration_Status_PublicIPAddress_SubResourceEmbedded instead"
            },
            "ipTags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ipTagType": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of IpTag_Status. Use v1beta20201101.IpTag_Status instead"
              }
            },
            "location": {
              "type": "string"
            },
            "migrationPhase": {
              "type": "string",
              "description": "Deprecated version of PublicIPAddressPropertiesFormatStatusMigrationPhase. Use v1beta20201101.PublicIPAddressPropertiesFormatStatusMigrationPhase instead"
            },
            "name": {
              "type": "string"
            },
            "natGateway": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "sku": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Deprecated version of NatGatewaySkuStatusName. Use v1beta20201101.NatGatewaySkuStatusName instead"
                    }
                  },
                  "description": "Deprecated version of NatGatewaySku_Status. Use v1beta20201101.NatGatewaySku_Status instead"
                },
                "zones": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "description": "Deprecated version of NatGateway_Status_PublicIPAddress_SubResourceEmbedded. Use v1beta20201101.NatGateway_Status_PublicIPAddress_SubResourceEmbedded instead"
            },
            "provisioningState": {
              "type": "string",
              "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
            },
            "publicIPAddressVersion": {
              "type": "string",
              "description": "Deprecated version of IPVersion_Status. Use v1beta20201101.IPVersion_Status instead"
            },
            "publicIPAllocationMethod": {
              "type": "string",
              "description": "Deprecated version of IPAllocationMethod_Status. Use v1beta20201101.IPAllocationMethod_Status instead"
            },
            "publicIPPrefix": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              },
              "description": "Deprecated version of SubResource_Status. Use v1beta20201101.SubResource_Status instead"
            },
            "resourceGuid": {
              "type": "string"
            },
            "sku": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Deprecated version of PublicIPAddressSkuStatusName. Use v1beta20201101.PublicIPAddressSkuStatusName instead"
                },
                "tier": {
                  "type": "string",
                  "description": "Deprecated version of PublicIPAddressSkuStatusTier. Use v1beta20201101.PublicIPAddressSkuStatusTier instead"
                }
              },
              "description": "Deprecated version of PublicIPAddressSku_Status. Use v1beta20201101.PublicIPAddressSku_Status instead"
            },
            "tags": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "type": {
              "type": "string"
            },
            "zones": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Deprecated version of PublicIPAddress_Status_PublicIPAddress_SubResourceEmbedded. Use v1beta20201101.PublicIPAddress_Status_PublicIPAddress_SubResourceEmbedded instead"
        }
      },
      "required": [
        "owner",
        "publicIPAllocationMethod"
      ]
    },
    "publicipaddresses-network": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/publicipaddresses-networkProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The publicipaddresses-network resource definition."
    },
    "publicipaddresses-network-put": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/publicipaddresses-networkPropertiesPut"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The publicipaddresses-network resource definition."
    },
    "publicipaddresses-networkPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The publicipaddresses-network resource patch definition."
    },
    "publicipaddresses-networkListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/publicipaddresses-network"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "publicipaddresses-networkNameParameter": {
      "name": "publicipaddresses-networkName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}