{
  "swagger": "2.0",
  "info": {
    "title": "ArcTargetAzure",
    "description": "The Microsoft.ArcTargetAzure Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "ArcTargetAzureClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcTargetAzure/virtualnetworks-network/{virtualnetworks-networkName}": {
      "get": {
        "operationId": "virtualnetworks-network_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualnetworks-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the virtualnetworks-network resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks-network"
            }
          }
        }
      },
      "put": {
        "operationId": "virtualnetworks-network_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualnetworks-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualnetworks-network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualnetworks-network-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the virtualnetworks-network resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks-network"
            }
          },
          "201": {
            "description": "Creates the virtualnetworks-network resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks-network"
            }
          }
        }
      },
      "delete": {
        "operationId": "virtualnetworks-network_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualnetworks-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the virtualnetworks-network resource."
          }
        }
      },
      "patch": {
        "operationId": "virtualnetworks-network_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualnetworks-networkNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualnetworks-network",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualnetworks-networkPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the virtualnetworks-network resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks-network"
            }
          },
          "201": {
            "description": "Updates the virtualnetworks-network resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks-network"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcTargetAzure/virtualnetworks-network": {
      "get": {
        "operationId": "virtualnetworks-network_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all virtualnetworks-network under the resouce group.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks-networkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcTargetAzure/virtualnetworks-network": {
      "get": {
        "operationId": "virtualnetworks-network_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all virtualnetworks-network under the subscription.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks-networkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ArcTargetAzure/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "virtualnetworks-networkProperties": {
      "type": "object",
      "properties": {
        "addressSpace": {
          "type": "object",
          "properties": {
            "addressPrefixes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "required": [
            "addressPrefixes"
          ],
          "description": "Deprecated version of AddressSpace. Use v1beta20201101.AddressSpace instead"
        },
        "azureName": {
          "type": "string",
          "description": "AzureName: The name of the resource in Azure. This is often the same as the name of the resource in Kubernetes but it doesn't have to be."
        },
        "dhcpOptions": {
          "type": "object",
          "properties": {
            "dnsServers": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "required": [
            "dnsServers"
          ],
          "description": "Deprecated version of DhcpOptions. Use v1beta20201101.DhcpOptions instead"
        },
        "enableDdosProtection": {
          "type": "boolean"
        },
        "enableVmProtection": {
          "type": "boolean"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Deprecated version of ExtendedLocationType. Use v1beta20201101.ExtendedLocationType instead",
              "enum": [
                "EdgeZone"
              ]
            }
          },
          "required": [
            "name",
            "type"
          ],
          "description": "Deprecated version of ExtendedLocation. Use v1beta20201101.ExtendedLocation instead"
        },
        "ipAllocations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "object",
                "properties": {
                  "armId": {
                    "type": "string",
                    "description": "ARMID is a string of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}. The /resourcegroups/{resourceGroupName} bit is optional as some resources are scoped at the subscription level ARMID is mutually exclusive with Group, Kind, Namespace and Name."
                  },
                  "group": {
                    "type": "string",
                    "description": "Group is the Kubernetes group of the resource."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Kind is the Kubernetes kind of the resource."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name is the Kubernetes name of the resource."
                  }
                },
                "description": "ResourceReference represents a resource reference, either to a Kubernetes resource or directly to an Azure resource via ARMID"
              }
            },
            "required": [
              "reference"
            ],
            "description": "Deprecated version of SubResource. Use v1beta20201101.SubResource instead"
          }
        },
        "owner": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "This is the name of the Kubernetes resource to reference."
            }
          },
          "required": [
            "name"
          ],
          "description": "Owner: The owner of the resource. The owner controls where the resource goes when it is deployed. The owner also controls the resources lifecycle. When the owner is deleted the resource will also be deleted. Owner is expected to be a reference to a resources.azure.com/ResourceGroup resource"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "addressSpace": {
              "type": "object",
              "properties": {
                "addressPrefixes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "description": "Deprecated version of AddressSpace_Status. Use v1beta20201101.AddressSpace_Status instead"
            },
            "bgpCommunities": {
              "type": "object",
              "properties": {
                "regionalCommunity": {
                  "type": "string"
                },
                "virtualNetworkCommunity": {
                  "type": "string"
                }
              },
              "description": "Deprecated version of VirtualNetworkBgpCommunities_Status. Use v1beta20201101.VirtualNetworkBgpCommunities_Status instead"
            },
            "conditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "lastTransitionTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message is a human readable message indicating details about the transition. This field may be empty."
                  },
                  "observedGeneration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ObservedGeneration is the .metadata.generation that the condition was set based upon. For instance, if .metadata.generation is currently 12, but the .status.condition[x].observedGeneration is 9, the condition is out of date with respect to the current state of the instance."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the condition's last transition. Reasons are upper CamelCase (PascalCase) with no spaces. A reason is always provided, this field will not be empty."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Severity with which to treat failures of this type of condition. For conditions which have positive polarity (Status == True is their normal/healthy state), this will be omitted when Status == True For conditions which have negative polarity (Status == False is their normal/healthy state), this will be omitted when Status == False. This is omitted in all cases when Status == Unknown"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the condition, one of True, False, or Unknown."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of condition."
                  }
                },
                "required": [
                  "lastTransitionTime",
                  "reason",
                  "status",
                  "type"
                ],
                "description": "Condition defines an extension to status (an observation) of a resource"
              },
              "description": "Conditions: The observed state of the resource"
            },
            "ddosProtectionPlan": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              },
              "description": "Deprecated version of SubResource_Status. Use v1beta20201101.SubResource_Status instead"
            },
            "dhcpOptions": {
              "type": "object",
              "properties": {
                "dnsServers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "description": "Deprecated version of DhcpOptions_Status. Use v1beta20201101.DhcpOptions_Status instead"
            },
            "enableDdosProtection": {
              "type": "boolean"
            },
            "enableVmProtection": {
              "type": "boolean"
            },
            "etag": {
              "type": "string"
            },
            "extendedLocation": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "Deprecated version of ExtendedLocationType_Status. Use v1beta20201101.ExtendedLocationType_Status instead"
                }
              },
              "description": "Deprecated version of ExtendedLocation_Status. Use v1beta20201101.ExtendedLocation_Status instead"
            },
            "id": {
              "type": "string"
            },
            "ipAllocations": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of SubResource_Status. Use v1beta20201101.SubResource_Status instead"
              }
            },
            "location": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "provisioningState": {
              "type": "string",
              "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
            },
            "resourceGuid": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "type": {
              "type": "string"
            }
          },
          "description": "Deprecated version of VirtualNetwork_Status. Use v1beta20201101.VirtualNetwork_Status instead"
        }
      },
      "required": [
        "addressSpace",
        "owner"
      ]
    },
    "virtualnetworks-networkPropertiesPut": {
      "type": "object",
      "properties": {
        "addressSpace": {
          "type": "object",
          "properties": {
            "addressPrefixes": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "required": [
            "addressPrefixes"
          ],
          "description": "Deprecated version of AddressSpace. Use v1beta20201101.AddressSpace instead"
        },
        "azureName": {
          "type": "string",
          "description": "AzureName: The name of the resource in Azure. This is often the same as the name of the resource in Kubernetes but it doesn't have to be."
        },
        "dhcpOptions": {
          "type": "object",
          "properties": {
            "dnsServers": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "required": [
            "dnsServers"
          ],
          "description": "Deprecated version of DhcpOptions. Use v1beta20201101.DhcpOptions instead"
        },
        "enableDdosProtection": {
          "type": "boolean"
        },
        "enableVmProtection": {
          "type": "boolean"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Deprecated version of ExtendedLocationType. Use v1beta20201101.ExtendedLocationType instead",
              "enum": [
                "EdgeZone"
              ]
            }
          },
          "required": [
            "name",
            "type"
          ],
          "description": "Deprecated version of ExtendedLocation. Use v1beta20201101.ExtendedLocation instead"
        },
        "ipAllocations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "object",
                "properties": {
                  "armId": {
                    "type": "string",
                    "description": "ARMID is a string of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}. The /resourcegroups/{resourceGroupName} bit is optional as some resources are scoped at the subscription level ARMID is mutually exclusive with Group, Kind, Namespace and Name."
                  },
                  "group": {
                    "type": "string",
                    "description": "Group is the Kubernetes group of the resource."
                  },
                  "kind": {
                    "type": "string",
                    "description": "Kind is the Kubernetes kind of the resource."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name is the Kubernetes name of the resource."
                  }
                },
                "description": "ResourceReference represents a resource reference, either to a Kubernetes resource or directly to an Azure resource via ARMID"
              }
            },
            "required": [
              "reference"
            ],
            "description": "Deprecated version of SubResource. Use v1beta20201101.SubResource instead"
          }
        },
        "location": {
          "type": "string"
        },
        "owner": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "This is the name of the Kubernetes resource to reference."
            }
          },
          "required": [
            "name"
          ],
          "description": "Owner: The owner of the resource. The owner controls where the resource goes when it is deployed. The owner also controls the resources lifecycle. When the owner is deleted the resource will also be deleted. Owner is expected to be a reference to a resources.azure.com/ResourceGroup resource"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "addressSpace": {
              "type": "object",
              "properties": {
                "addressPrefixes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "description": "Deprecated version of AddressSpace_Status. Use v1beta20201101.AddressSpace_Status instead"
            },
            "bgpCommunities": {
              "type": "object",
              "properties": {
                "regionalCommunity": {
                  "type": "string"
                },
                "virtualNetworkCommunity": {
                  "type": "string"
                }
              },
              "description": "Deprecated version of VirtualNetworkBgpCommunities_Status. Use v1beta20201101.VirtualNetworkBgpCommunities_Status instead"
            },
            "conditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "lastTransitionTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "LastTransitionTime is the last time the condition transitioned from one status to another."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message is a human readable message indicating details about the transition. This field may be empty."
                  },
                  "observedGeneration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ObservedGeneration is the .metadata.generation that the condition was set based upon. For instance, if .metadata.generation is currently 12, but the .status.condition[x].observedGeneration is 9, the condition is out of date with respect to the current state of the instance."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the condition's last transition. Reasons are upper CamelCase (PascalCase) with no spaces. A reason is always provided, this field will not be empty."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Severity with which to treat failures of this type of condition. For conditions which have positive polarity (Status == True is their normal/healthy state), this will be omitted when Status == True For conditions which have negative polarity (Status == False is their normal/healthy state), this will be omitted when Status == False. This is omitted in all cases when Status == Unknown"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the condition, one of True, False, or Unknown."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of condition."
                  }
                },
                "required": [
                  "lastTransitionTime",
                  "reason",
                  "status",
                  "type"
                ],
                "description": "Condition defines an extension to status (an observation) of a resource"
              },
              "description": "Conditions: The observed state of the resource"
            },
            "ddosProtectionPlan": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              },
              "description": "Deprecated version of SubResource_Status. Use v1beta20201101.SubResource_Status instead"
            },
            "dhcpOptions": {
              "type": "object",
              "properties": {
                "dnsServers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "description": "Deprecated version of DhcpOptions_Status. Use v1beta20201101.DhcpOptions_Status instead"
            },
            "enableDdosProtection": {
              "type": "boolean"
            },
            "enableVmProtection": {
              "type": "boolean"
            },
            "etag": {
              "type": "string"
            },
            "extendedLocation": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "Deprecated version of ExtendedLocationType_Status. Use v1beta20201101.ExtendedLocationType_Status instead"
                }
              },
              "description": "Deprecated version of ExtendedLocation_Status. Use v1beta20201101.ExtendedLocation_Status instead"
            },
            "id": {
              "type": "string"
            },
            "ipAllocations": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "description": "Deprecated version of SubResource_Status. Use v1beta20201101.SubResource_Status instead"
              }
            },
            "location": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "provisioningState": {
              "type": "string",
              "description": "Deprecated version of ProvisioningState_Status. Use v1beta20201101.ProvisioningState_Status instead"
            },
            "resourceGuid": {
              "type": "string"
            },
            "tags": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "type": {
              "type": "string"
            }
          },
          "description": "Deprecated version of VirtualNetwork_Status. Use v1beta20201101.VirtualNetwork_Status instead"
        }
      },
      "required": [
        "addressSpace",
        "owner"
      ]
    },
    "virtualnetworks-network": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/virtualnetworks-networkProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The virtualnetworks-network resource definition."
    },
    "virtualnetworks-network-put": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/virtualnetworks-networkPropertiesPut"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The virtualnetworks-network resource definition."
    },
    "virtualnetworks-networkPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The virtualnetworks-network resource patch definition."
    },
    "virtualnetworks-networkListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/virtualnetworks-network"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "virtualnetworks-networkNameParameter": {
      "name": "virtualnetworks-networkName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}