{
  "swagger": "2.0",
  "info": {
    "title": "HardwareResourceProvider",
    "version": "2023-02-22-preview",
    "description": "Hardware Resource Provider management API.",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Orders"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Hardware/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "Orders_ListBySubscription",
        "description": "List Order resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetBySubscription": {
            "$ref": "./examples/Orders_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Hardware/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "Orders_ListByResourceGroup",
        "description": "List Order resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetByResourceGroup": {
            "$ref": "./examples/Orders_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Hardware/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "Orders_Get",
        "description": "Get a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Order Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OrderById": {
            "$ref": "./examples/Orders_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "operationId": "Orders_Create",
        "description": "Create a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Order Name",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrder": {
            "$ref": "./examples/Orders_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "operationId": "Orders_Update",
        "description": "Update a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Order Name",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/OrderUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateOrder": {
            "$ref": "./examples/Orders_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "operationId": "Orders_Delete",
        "description": "Delete a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Order Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteOrder": {
            "$ref": "./examples/Orders_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Fee": {
      "type": "object",
      "properties": {
        "feeAmount": {
          "description": "Fee charged"
        },
        "type": {
          "$ref": "#/definitions/FeeType",
          "description": "Fee Type"
        }
      },
      "description": "Fee model",
      "required": [
        "feeAmount",
        "type"
      ]
    },
    "FeeType": {
      "type": "string",
      "description": "Fee Type",
      "enum": [
        "Recycling"
      ],
      "x-ms-enum": {
        "name": "FeeType",
        "modelAsString": true
      }
    },
    "Order": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OrderProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A Hardware Resource Provider Order resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OrderLine": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Order lineId"
        },
        "status": {
          "$ref": "#/definitions/OrderLineStatus",
          "description": "Order line status",
          "readOnly": true
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Order line date",
          "readOnly": true
        },
        "quantity": {
          "$ref": "#/definitions/OrderLineQty",
          "description": "Order line qty"
        },
        "product": {
          "$ref": "#/definitions/Product",
          "description": "order line Product"
        },
        "price": {
          "$ref": "#/definitions/Price",
          "description": "line level Price"
        },
        "shipTo": {
          "$ref": "#/definitions/ShipTo",
          "description": "shipTo Address"
        },
        "shippingMethod": {
          "$ref": "#/definitions/ShippingMethod",
          "description": "Shipping Method"
        },
        "requestedDeliveryDate": {
          "type": "string",
          "format": "date",
          "description": " Requested Delivery Date"
        },
        "estimatedDeliverDateTime": {
          "type": "string",
          "format": "date",
          "description": "Estimated Deliver Date",
          "readOnly": true
        },
        "estimatedShippedDateTime": {
          "type": "string",
          "format": "date",
          "description": "Estimated Shipped Date",
          "readOnly": true
        }
      },
      "description": "Order Line",
      "required": [
        "id",
        "quantity",
        "product",
        "price",
        "shipTo",
        "shippingMethod",
        "requestedDeliveryDate"
      ]
    },
    "OrderLineQty": {
      "type": "object",
      "properties": {
        "ordered": {
          "description": "Order lineId Ordered Quantity"
        },
        "confirmed": {
          "description": "Order lineId Confirmed Quantity",
          "readOnly": true
        },
        "shipped": {
          "description": "Order lineId Shipped Quantity",
          "readOnly": true
        },
        "returned": {
          "description": "Order lineId Returned Quantity",
          "readOnly": true
        }
      },
      "description": "Order Line Qty",
      "required": [
        "ordered"
      ]
    },
    "OrderLineStatus": {
      "type": "string",
      "description": "Order Line Status",
      "enum": [
        "Pending",
        "Created",
        "Confirmed",
        "PartiallyConfirmed",
        "PartiallyShipped",
        "Shipped"
      ],
      "x-ms-enum": {
        "name": "OrderLineStatus",
        "modelAsString": true
      }
    },
    "OrderListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Order"
          },
          "x-cadl-name": "Order[]",
          "description": "The Order items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-cadl-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a Order list operation.",
      "required": [
        "value"
      ]
    },
    "OrderProperties": {
      "type": "object",
      "properties": {
        "purchaseOrder": {
          "$ref": "#/definitions/PurchaseOrder",
          "description": "Customer PurchaseOrder"
        },
        "status": {
          "$ref": "#/definitions/OrderStatus",
          "description": "Order status",
          "readOnly": true
        },
        "orderLines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderLine"
          },
          "x-cadl-name": "OrderLine[]",
          "description": "Order line details",
          "x-ms-identifiers": [
            "id"
          ]
        },
        "currency": {
          "type": "string",
          "description": "Order line details",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "description": "Forward Order",
      "required": [
        "orderLines"
      ]
    },
    "OrderStatus": {
      "type": "string",
      "description": "Order Status",
      "enum": [
        "Pending",
        "Created",
        "Confirmed",
        "PartiallyConfirmed",
        "PartiallyShipped",
        "Shipped"
      ],
      "x-ms-enum": {
        "name": "OrderStatus",
        "modelAsString": true
      }
    },
    "OrderUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-cadl-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/OrderUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the Order."
    },
    "OrderUpdateProperties": {
      "type": "object",
      "properties": {
        "purchaseOrder": {
          "$ref": "#/definitions/PurchaseOrderUpdate",
          "description": "Customer PurchaseOrder"
        },
        "orderLines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderLine"
          },
          "x-cadl-name": "OrderLine[]",
          "description": "Order line details",
          "x-ms-identifiers": [
            "id"
          ]
        }
      },
      "description": "The updatable properties of the Order."
    },
    "Price": {
      "type": "object",
      "properties": {
        "unitAmount": {
          "description": "Price per Unit"
        },
        "tax": {
          "description": "Tax for this line",
          "readOnly": true
        },
        "fees": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fee"
          },
          "x-ms-identifiers": [
            "type"
          ],
          "x-cadl-name": "Fee[]",
          "description": "Fees for this line",
          "readOnly": true
        }
      },
      "description": "Order line Price",
      "required": [
        "unitAmount"
      ]
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ProductId"
        },
        "type": {
          "$ref": "#/definitions/ProductIdType",
          "description": "ProductId Type"
        }
      },
      "description": "Order line Product",
      "required": [
        "id",
        "type"
      ]
    },
    "ProductIdType": {
      "type": "string",
      "description": "ProductId Type",
      "enum": [
        "UPN",
        "PSA",
        "MS"
      ],
      "x-ms-enum": {
        "name": "ProductIdType",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning State",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "PurchaseOrder": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Customer PurchaseOrder Id"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date",
          "description": "Customer PurchaseOrder Date"
        }
      },
      "description": "Customer PurchaseOrder",
      "required": [
        "id",
        "createdDateTime"
      ]
    },
    "PurchaseOrderUpdate": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Customer PurchaseOrder Id"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date",
          "description": "Customer PurchaseOrder Date"
        }
      },
      "description": "Customer PurchaseOrder"
    },
    "ShipTo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ShipTo Id"
        },
        "type": {
          "$ref": "#/definitions/shipToIdType",
          "description": "ShipTo Type"
        }
      },
      "description": "ShipTo Id",
      "required": [
        "id",
        "type"
      ]
    },
    "ShippingMethod": {
      "type": "string",
      "description": "Shipping Method",
      "enum": [
        "Ground",
        "OverNight"
      ],
      "x-ms-enum": {
        "name": "ShippingMethod",
        "modelAsString": true
      }
    },
    "shipToIdType": {
      "type": "string",
      "description": "shipToId Type",
      "enum": [
        "BusinessLocation",
        "ExternalId"
      ],
      "x-ms-enum": {
        "name": "shipToIdType",
        "modelAsString": true
      }
    }
  },
  "parameters": {}
}
