{
  "swagger": "2.0",
  "info": {
    "title": "LiksRP22",
    "description": "The Microsoft.LiksRP22 Rest API spec.",
    "version": "2023-04-25",
    "x-ms-code-generation-settings": {
      "name": "LiksRP22Client"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LiksRP22/samples/{samplesName}": {
      "get": {
        "operationId": "samples_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/samplesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the samples resource.",
            "schema": {
              "$ref": "#/definitions/samples"
            }
          }
        }
      },
      "put": {
        "operationId": "samples_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/samplesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "samples",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/samples"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the samples resource.",
            "schema": {
              "$ref": "#/definitions/samples"
            }
          },
          "201": {
            "description": "Creates the samples resource.",
            "schema": {
              "$ref": "#/definitions/samples"
            }
          }
        }
      },
      "delete": {
        "operationId": "samples_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/samplesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the samples resource."
          }
        }
      },
      "patch": {
        "operationId": "samples_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/samplesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "samples",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/samplesPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the samples resource.",
            "schema": {
              "$ref": "#/definitions/samples"
            }
          },
          "201": {
            "description": "Updates the samples resource.",
            "schema": {
              "$ref": "#/definitions/samples"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LiksRP22/samples": {
      "get": {
        "operationId": "samples_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all samples under the resouce group.",
            "schema": {
              "$ref": "#/definitions/samplesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LiksRP22/samples": {
      "get": {
        "operationId": "samples_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all samples under the subscription.",
            "schema": {
              "$ref": "#/definitions/samplesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.LiksRP22/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "samplesProperties": {
      "properties": {
        "cronSpec": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "replicas": {
          "type": "integer"
        },
        "myObject": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string"
            },
            "name": {
              "type": "string"
            }
          }
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "samples": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/samplesProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "identity": {
          "type": "object",
          "properties": {
            "principalId": {
              "readOnly": true,
              "type": "string",
              "description": "The principal id of the Batch account. This property will only be provided for a system assigned identity."
            },
            "tenantId": {
              "readOnly": true,
              "type": "string",
              "description": "The tenant id associated with the Batch account. This property will only be provided for a system assigned identity."
            },
            "type": {
              "type": "string",
              "description": "The type of identity used for the Batch account.",
              "enum": [
                "SystemAssigned",
                "UserAssigned",
                "None"
              ],
              "x-ms-enum": {
                "name": "ResourceIdentityType",
                "modelAsString": false,
                "values": [
                  {
                    "value": "SystemAssigned",
                    "description": "Batch account has a system assigned identity with it."
                  },
                  {
                    "value": "UserAssigned",
                    "description": "Batch account has user assigned identities with it."
                  },
                  {
                    "value": "None",
                    "description": "Batch account has no identity associated with it. Setting `None` in update account will remove existing identities."
                  }
                ]
              }
            },
            "userAssignedIdentities": {
              "type": "object",
              "description": "The list of user identities associated with the Batch account.",
              "additionalProperties": {
                "$ref": "#/definitions/UserAssignedIdentities"
              }
            }
          },
          "description": "The identity of the Batch account, if configured. This is used when the user specifies 'Microsoft.KeyVault' as their Batch account encryption configuration or when `ManagedIdentity` is selected as the auto-storage authentication mode.",
          "required": [
            "type"
          ]
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The samples resource definition."
    },
    "UserAssignedIdentities": {
      "type": "object",
      "description": "The list of associated user identities.",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of user assigned identity."
        },
        "clientId": {
          "readOnly": true,
          "type": "string",
          "description": "The client id of user assigned identity."
        }
      }
    },
    "samplesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The samples resource patch definition."
    },
    "samplesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/samples"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    }
  },
  "parameters": {
    "samplesNameParameter": {
      "name": "samplesName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}