{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ArcNetworking",
    "version": "2023-07-01-preview",
    "description": "Microsoft.ArcNetworking Resource Provider management API."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ArcNwLoadBalancer"
    },
    {
      "name": "ArcNwPolicy"
    }
  ],
  "paths": {
    "/providers/Microsoft.ArcNetworking/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_0": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcNetworking/arcNwLoadBalancers": {
      "get": {
        "operationId": "ArcNwLoadBalancer_ListBySubscription",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "List ArcNwLoadBalancerResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_ListBySubscription_0": {
            "$ref": "./examples/ArcNwLoadBalancer_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcNetworking/arcNwPolicies": {
      "get": {
        "operationId": "ArcNwPolicy_ListBySubscription",
        "tags": [
          "ArcNwPolicy"
        ],
        "description": "List ArcNwPolicyResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwPolicyResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwPolicy_ListBySubscription_0": {
            "$ref": "./examples/ArcNwPolicy_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcNetworking/arcNwLoadBalancers": {
      "get": {
        "operationId": "ArcNwLoadBalancer_ListByResourceGroup",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "List ArcNwLoadBalancerResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_ListByResourceGroup_0": {
            "$ref": "./examples/ArcNwLoadBalancer_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcNetworking/arcNwLoadBalancers/{arcNwLoadBalancerName}": {
      "get": {
        "operationId": "ArcNwLoadBalancer_Get",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "Get a ArcNwLoadBalancerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "arcNwLoadBalancerName",
            "in": "path",
            "description": "Name of ArcNwLoadBalancer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_Get_0": {
            "$ref": "./examples/ArcNwLoadBalancer_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ArcNwLoadBalancer_CreateOrUpdate",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "Create a ArcNwLoadBalancerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "arcNwLoadBalancerName",
            "in": "path",
            "description": "Name of ArcNwLoadBalancer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_CreateOrUpdate_0": {
            "$ref": "./examples/ArcNwLoadBalancer_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ArcNwLoadBalancer_Update",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "Update a ArcNwLoadBalancerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "arcNwLoadBalancerName",
            "in": "path",
            "description": "Name of ArcNwLoadBalancer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_Update_0": {
            "$ref": "./examples/ArcNwLoadBalancer_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ArcNwLoadBalancer_Delete",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "Delete a ArcNwLoadBalancerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "arcNwLoadBalancerName",
            "in": "path",
            "description": "Name of ArcNwLoadBalancer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_Delete_0": {
            "$ref": "./examples/ArcNwLoadBalancer_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcNetworking/arcNwPolicies": {
      "get": {
        "operationId": "ArcNwPolicy_ListByResourceGroup",
        "tags": [
          "ArcNwPolicy"
        ],
        "description": "List ArcNwPolicyResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwPolicyResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwPolicy_ListByResourceGroup_0": {
            "$ref": "./examples/ArcNwPolicy_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcNetworking/arcNwPolicies/{arcNwPolicyName}": {
      "get": {
        "operationId": "ArcNwPolicy_Get",
        "tags": [
          "ArcNwPolicy"
        ],
        "description": "Get a ArcNwPolicyResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "arcNwPolicyName",
            "in": "path",
            "description": "Name of ArcNwPolicy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwPolicyResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwPolicy_Get_0": {
            "$ref": "./examples/ArcNwPolicy_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ArcNwPolicy_CreateOrUpdate",
        "tags": [
          "ArcNwPolicy"
        ],
        "description": "Create a ArcNwPolicyResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "arcNwPolicyName",
            "in": "path",
            "description": "Name of ArcNwPolicy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcNwPolicyResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwPolicyResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwPolicyResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwPolicy_CreateOrUpdate_0": {
            "$ref": "./examples/ArcNwPolicy_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ArcNwPolicy_Update",
        "tags": [
          "ArcNwPolicy"
        ],
        "description": "Update a ArcNwPolicyResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "arcNwPolicyName",
            "in": "path",
            "description": "Name of ArcNwPolicy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcNwPolicyResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwPolicyResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwPolicy_Update_0": {
            "$ref": "./examples/ArcNwPolicy_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ArcNwPolicy_Delete",
        "tags": [
          "ArcNwPolicy"
        ],
        "description": "Delete a ArcNwPolicyResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "arcNwPolicyName",
            "in": "path",
            "description": "Name of ArcNwPolicy",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwPolicy_Delete_0": {
            "$ref": "./examples/ArcNwPolicy_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Action": {
      "type": "string",
      "description": "Enum of network policy action",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "Action",
        "modelAsString": true,
        "values": [
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Allow action for network policy"
          },
          {
            "name": "Deny",
            "value": "Deny",
            "description": "Deny action for network policy"
          }
        ]
      }
    },
    "AdvertiseMode": {
      "type": "string",
      "description": "Enum of advertise mode",
      "enum": [
        "ARP",
        "BGP",
        "Both"
      ],
      "x-ms-enum": {
        "name": "AdvertiseMode",
        "modelAsString": true,
        "values": [
          {
            "name": "ARP",
            "value": "ARP",
            "description": "ARP advertise mode "
          },
          {
            "name": "BGP",
            "value": "BGP",
            "description": "BGP advertise mode"
          },
          {
            "name": "Both",
            "value": "Both",
            "description": "both ARP and BGP advertise mode"
          }
        ]
      }
    },
    "ArcNwLoadBalancerProperties": {
      "type": "object",
      "description": "ArcNwLoadBalancer properties",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "IP Range",
          "items": {
            "type": "string"
          }
        },
        "serviceSelector": {
          "type": "object",
          "description": "Service Selector",
          "additionalProperties": {
            "type": "string"
          }
        },
        "advertiseMode": {
          "$ref": "#/definitions/AdvertiseMode",
          "description": "Advertise Mode"
        },
        "status": {
          "$ref": "#/definitions/ArcNwLoadBalancerStatus",
          "description": "Actual Status of the ArcNwLoadBalancer",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provision state",
          "readOnly": true
        }
      },
      "required": [
        "addresses",
        "advertiseMode"
      ]
    },
    "ArcNwLoadBalancerResource": {
      "type": "object",
      "description": "ArcNwLoadBalancer resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ArcNwLoadBalancerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "Custom location of ArcNwLoadBalancer"
        }
      },
      "required": [
        "extendedLocation"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ArcNwLoadBalancerResourceListResult": {
      "type": "object",
      "description": "The response of a ArcNwLoadBalancerResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ArcNwLoadBalancerResource items on this page",
          "items": {
            "$ref": "#/definitions/ArcNwLoadBalancerResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ArcNwLoadBalancerResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ArcNwLoadBalancerResource.",
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocationUpdate",
          "description": "Custom location of ArcNwLoadBalancer"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ArcNwLoadBalancerResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ArcNwLoadBalancerResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ArcNwLoadBalancerResource.",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "IP Range",
          "items": {
            "type": "string"
          }
        },
        "serviceSelector": {
          "type": "object",
          "description": "Service Selector",
          "additionalProperties": {
            "type": "string"
          }
        },
        "advertiseMode": {
          "$ref": "#/definitions/AdvertiseMode",
          "description": "Advertise Mode"
        }
      }
    },
    "ArcNwLoadBalancerStatus": {
      "type": "object",
      "description": "The status of the ArcNwLoadBalancer",
      "properties": {
        "ok": {
          "type": "boolean",
          "description": "The status of the ArcNwLoadBalancer",
          "readOnly": true
        },
        "error": {
          "type": "string",
          "description": "Error message",
          "readOnly": true
        }
      }
    },
    "ArcNwPolicyProperties": {
      "type": "object",
      "description": "ArcNwPolicy properties",
      "properties": {
        "podSelector": {
          "type": "object",
          "description": "Pod Selector",
          "additionalProperties": {
            "type": "string"
          }
        },
        "direction": {
          "$ref": "#/definitions/Direction",
          "description": "Network Policy Direction"
        },
        "action": {
          "$ref": "#/definitions/Action",
          "description": "Network Policy Action"
        },
        "protocol": {
          "$ref": "#/definitions/Protocol",
          "description": "Network Policy Protocol"
        },
        "port": {
          "type": "string",
          "description": "Network Policy Port"
        },
        "description": {
          "type": "string",
          "description": "Network Policy Description"
        },
        "remotePodSelectors": {
          "type": "string",
          "description": "Remote Pod Selectors"
        },
        "status": {
          "$ref": "#/definitions/ArcNwPolicyStatus",
          "description": "Actual Status of the ArcNwPolicy",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provision state",
          "readOnly": true
        }
      },
      "required": [
        "podSelector",
        "direction",
        "action"
      ]
    },
    "ArcNwPolicyResource": {
      "type": "object",
      "description": "ArcNwPolicy resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ArcNwPolicyProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "Custom location of ArcNwLoadBalancer"
        }
      },
      "required": [
        "extendedLocation"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ArcNwPolicyResourceListResult": {
      "type": "object",
      "description": "The response of a ArcNwPolicyResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ArcNwPolicyResource items on this page",
          "items": {
            "$ref": "#/definitions/ArcNwPolicyResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ArcNwPolicyResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ArcNwPolicyResource.",
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocationUpdate",
          "description": "Custom location of ArcNwLoadBalancer"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ArcNwPolicyResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ArcNwPolicyResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ArcNwPolicyResource.",
      "properties": {
        "podSelector": {
          "type": "object",
          "description": "Pod Selector",
          "additionalProperties": {
            "type": "string"
          }
        },
        "direction": {
          "$ref": "#/definitions/Direction",
          "description": "Network Policy Direction"
        },
        "action": {
          "$ref": "#/definitions/Action",
          "description": "Network Policy Action"
        },
        "protocol": {
          "$ref": "#/definitions/Protocol",
          "description": "Network Policy Protocol"
        },
        "port": {
          "type": "string",
          "description": "Network Policy Port"
        },
        "description": {
          "type": "string",
          "description": "Network Policy Description"
        },
        "remotePodSelectors": {
          "type": "string",
          "description": "Remote Pod Selectors"
        }
      }
    },
    "ArcNwPolicyStatus": {
      "type": "object",
      "description": "The status of the ArcNwPolicy",
      "properties": {
        "ok": {
          "type": "boolean",
          "description": "The status of the ArcNwPolicy",
          "readOnly": true
        },
        "error": {
          "type": "string",
          "description": "Error message",
          "readOnly": true
        }
      }
    },
    "Direction": {
      "type": "string",
      "description": "Enum of network policy direction",
      "enum": [
        "Ingress",
        "Egress"
      ],
      "x-ms-enum": {
        "name": "Direction",
        "modelAsString": true,
        "values": [
          {
            "name": "Ingress",
            "value": "Ingress",
            "description": "Ingress direction for network policy"
          },
          {
            "name": "Egress",
            "value": "Egress",
            "description": "Egress direction for network policy"
          }
        ]
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "extended location",
      "properties": {
        "type": {
          "type": "string",
          "description": "extended location type: CustomLocation"
        },
        "name": {
          "type": "string",
          "description": "extended location resource id"
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ExtendedLocationUpdate": {
      "type": "object",
      "description": "extended location",
      "properties": {
        "type": {
          "type": "string",
          "description": "extended location type: CustomLocation"
        },
        "name": {
          "type": "string",
          "description": "extended location resource id"
        }
      }
    },
    "Protocol": {
      "type": "string",
      "description": "Enum of network policy protocol",
      "enum": [
        "TCP",
        "UDP",
        "HTTP",
        "ICMP"
      ],
      "x-ms-enum": {
        "name": "Protocol",
        "modelAsString": true,
        "values": [
          {
            "name": "TCP",
            "value": "TCP",
            "description": "TCP protocol for network policy"
          },
          {
            "name": "UDP",
            "value": "UDP",
            "description": "UDP protocol for network policy"
          },
          {
            "name": "HTTP",
            "value": "HTTP",
            "description": "HTTP protocol for network policy"
          },
          {
            "name": "ICMP",
            "value": "ICMP",
            "description": "ICMP protocol for network policy"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning State",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    }
  },
  "parameters": {}
}
