{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.VoiceService",
    "version": "2022-09-06-preview",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "TestLines"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "GlobalTeamsCallingDeployments"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.VoiceService/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments": {
      "get": {
        "tags": [
          "GlobalTeamsCallingDeployments"
        ],
        "operationId": "GlobalTeamsCallingDeployments_ListBySubscription",
        "description": "List GlobalTeamsCallingDeployment resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalTeamsCallingDeploymentListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListGlobalTeamsCallingDeploymentResourceSub": {
            "$ref": "./examples/GlobalTeamsCallingDeployments_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments/{globalTeamsCallingDeploymentName}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_ListBySubscription",
        "description": "List Contact resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContactListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListContactsResourceSub": {
            "$ref": "./examples/Contacts_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments/{globalTeamsCallingDeploymentName}/testLines": {
      "get": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_ListBySubscription",
        "description": "List TestLine resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLineListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListTestLineResourceSub": {
            "$ref": "./examples/TestLines_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments": {
      "get": {
        "tags": [
          "GlobalTeamsCallingDeployments"
        ],
        "operationId": "GlobalTeamsCallingDeployments_ListByResourceGroup",
        "description": "List GlobalTeamsCallingDeployment resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalTeamsCallingDeploymentListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListGlobalTeamsCallingDeploymentResource": {
            "$ref": "./examples/GlobalTeamsCallingDeployments_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments/{globalTeamsCallingDeploymentName}": {
      "get": {
        "tags": [
          "GlobalTeamsCallingDeployments"
        ],
        "operationId": "GlobalTeamsCallingDeployments_Get",
        "description": "Get a GlobalTeamsCallingDeployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalTeamsCallingDeployment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetGlobalTeamsCallingDeploymentResource": {
            "$ref": "./examples/GlobalTeamsCallingDeployments_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "GlobalTeamsCallingDeployments"
        ],
        "operationId": "GlobalTeamsCallingDeployments_CreateOrUpdate",
        "description": "Create a GlobalTeamsCallingDeployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/GlobalTeamsCallingDeployment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalTeamsCallingDeployment"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/GlobalTeamsCallingDeployment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateGlobalTeamsCallingDeploymentResource": {
            "$ref": "./examples/GlobalTeamsCallingDeployments_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "GlobalTeamsCallingDeployments"
        ],
        "operationId": "GlobalTeamsCallingDeployments_Update",
        "description": "Update a GlobalTeamsCallingDeployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/GlobalTeamsCallingDeploymentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalTeamsCallingDeployment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateGlobalTeamsCallingDeploymentResource": {
            "$ref": "./examples/GlobalTeamsCallingDeployments_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "GlobalTeamsCallingDeployments"
        ],
        "operationId": "GlobalTeamsCallingDeployments_Delete",
        "description": "Delete a GlobalTeamsCallingDeployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteGlobalTeamsCallingDeploymentResource": {
            "$ref": "./examples/GlobalTeamsCallingDeployments_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments/{globalTeamsCallingDeploymentName}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_ListByGlobalTeamsCallingDeployment",
        "description": "List Contact resources by GlobalTeamsCallingDeployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContactListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListContactsResource": {
            "$ref": "./examples/Contacts_ListByGlobalTeamsCallingDeployment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments/{globalTeamsCallingDeploymentName}/contacts/{contactName}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Get",
        "description": "Get a Contact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "$ref": "#/parameters/Contact.contactName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetContactResource": {
            "$ref": "./examples/Contacts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_CreateOrUpdate",
        "description": "Create a Contact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "$ref": "#/parameters/Contact.contactName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateContactResource": {
            "$ref": "./examples/Contacts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Update",
        "description": "Update a Contact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "$ref": "#/parameters/Contact.contactName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/ContactUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateContactResource": {
            "$ref": "./examples/Contacts_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Delete",
        "description": "Delete a Contact",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "$ref": "#/parameters/Contact.contactName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteContactResource": {
            "$ref": "./examples/Contacts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments/{globalTeamsCallingDeploymentName}/testLines": {
      "get": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_ListByGlobalTeamsCallingDeployment",
        "description": "List TestLine resources by GlobalTeamsCallingDeployment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLineListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListTestLineResource": {
            "$ref": "./examples/TestLines_ListByGlobalTeamsCallingDeployment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceService/globalTeamsCallingDeployments/{globalTeamsCallingDeploymentName}/testLines/{testLineName}": {
      "get": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_Get",
        "description": "Get a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "$ref": "#/parameters/TestLine.testLineName"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetTestLineResource": {
            "$ref": "./examples/TestLines_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_CreateOrUpdate",
        "description": "Create a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "$ref": "#/parameters/TestLine.testLineName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateTestLineResource": {
            "$ref": "./examples/TestLines_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_Update",
        "description": "Update a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "$ref": "#/parameters/TestLine.testLineName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/TestLineUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestLine"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateTestLineResource": {
            "$ref": "./examples/TestLines_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "TestLines"
        ],
        "operationId": "TestLines_Delete",
        "description": "Delete a TestLine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName"
          },
          {
            "$ref": "#/parameters/TestLine.testLineName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteTestLineResource": {
            "$ref": "./examples/TestLines_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Connectivity": {
      "type": "string",
      "description": "How this deployment connects back to the operator network, e.g. MAPS.",
      "enum": [
        "Maps"
      ],
      "x-ms-enum": {
        "name": "Connectivity",
        "modelAsString": false
      }
    },
    "Contact": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContactProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A Contact resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ContactListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contact"
          },
          "x-cadl-name": "Contact[]",
          "description": "The Contact items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Contact list operation.",
      "required": [
        "value"
      ]
    },
    "ContactProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "contactName": {
          "type": "string",
          "description": "Full name of contact"
        },
        "number": {
          "type": "string",
          "description": "Telephone number of contact"
        }
      },
      "description": "Details of the Contact resource.",
      "required": [
        "contactName",
        "number"
      ]
    },
    "ContactUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ContactUpdateProperties"
        }
      },
      "description": "The type used for update operations of the Contact."
    },
    "ContactUpdateProperties": {
      "type": "object",
      "properties": {
        "contactName": {
          "type": "string",
          "description": "Full name of contact"
        },
        "number": {
          "type": "string",
          "description": "Telephone number of contact"
        }
      },
      "description": "The updatable properties of the Contact."
    },
    "E911Type": {
      "type": "string",
      "description": "The status of the current GlobalTeamsCallingDeployment resource.",
      "enum": [
        "None",
        "Esrp",
        "Elin"
      ],
      "x-ms-enum": {
        "name": "E911Type",
        "modelAsString": false
      }
    },
    "GlobalTeamsCallingDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GlobalTeamsCallingDeploymentProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A GlobalTeamsCallingDeployment resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GlobalTeamsCallingDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GlobalTeamsCallingDeployment"
          },
          "x-cadl-name": "GlobalTeamsCallingDeployment[]",
          "description": "The GlobalTeamsCallingDeployment items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a GlobalTeamsCallingDeployment list operation.",
      "required": [
        "value"
      ]
    },
    "GlobalTeamsCallingDeploymentProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The current status of the deployment.",
          "readOnly": true
        },
        "serviceLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "The regions in which to deploy the resources needed for Teams Calling"
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "How to connect back to the operator network, e.g. MAPS"
        },
        "operatorNetworkAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "IP address to use to contact the operator network"
        },
        "codecs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamsCodecs"
          },
          "x-cadl-name": "TeamsCodecs[]",
          "description": "Voice codecs to support"
        },
        "e911Type": {
          "$ref": "#/definitions/E911Type",
          "description": "How to handle 911 calls"
        },
        "esrpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "IP address to use to contact the ESRPs"
        }
      },
      "description": "Details of the GlobalTeamsCallingDeployment resource.",
      "required": [
        "serviceLocations",
        "connectivity",
        "operatorNetworkAddress",
        "codecs",
        "e911Type"
      ]
    },
    "GlobalTeamsCallingDeploymentUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/GlobalTeamsCallingDeploymentUpdateProperties"
        }
      },
      "description": "The type used for update operations of the GlobalTeamsCallingDeployment."
    },
    "GlobalTeamsCallingDeploymentUpdateProperties": {
      "type": "object",
      "properties": {
        "serviceLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "The regions in which to deploy the resources needed for Teams Calling"
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "How to connect back to the operator network, e.g. MAPS"
        },
        "operatorNetworkAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "IP address to use to contact the operator network"
        },
        "codecs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TeamsCodecs"
          },
          "x-cadl-name": "TeamsCodecs[]",
          "description": "Voice codecs to support"
        },
        "e911Type": {
          "$ref": "#/definitions/E911Type",
          "description": "How to handle 911 calls"
        },
        "esrpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-cadl-name": "string[]",
          "description": "IP address to use to contact the ESRPs"
        }
      },
      "description": "The updatable properties of the GlobalTeamsCallingDeployment."
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false
      }
    },
    "Status": {
      "type": "string",
      "description": "The status of the current GlobalTeamsCallingDeployment resource.",
      "enum": [
        "New",
        "ChangePending",
        "Complete"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": false
      }
    },
    "TeamsCodecs": {
      "type": "string",
      "description": "The voice codecs expected for communication with Teams.",
      "enum": [
        "PCMA",
        "PCMU",
        "G722",
        "SILK_8",
        "SILK_16"
      ],
      "x-ms-enum": {
        "name": "TeamsCodecs",
        "modelAsString": false
      }
    },
    "TestLine": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TestLineProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "A TestLine resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TestLineListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestLine"
          },
          "x-cadl-name": "TestLine[]",
          "description": "The TestLine items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a TestLine list operation.",
      "required": [
        "value"
      ]
    },
    "TestLineProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "number": {
          "type": "string",
          "description": "The phone number"
        },
        "purpose": {
          "$ref": "#/definitions/TestLinePurpose",
          "description": "Purpose of this test line, e.g. automated or manual testing"
        }
      },
      "description": "Details of the TestLine resource.",
      "required": [
        "number",
        "purpose"
      ]
    },
    "TestLinePurpose": {
      "type": "string",
      "description": "The purpose of the TestLine resource.",
      "enum": [
        "Manual",
        "Automated"
      ],
      "x-ms-enum": {
        "name": "TestLinePurpose",
        "modelAsString": false
      }
    },
    "TestLineUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/TestLineUpdateProperties"
        }
      },
      "description": "The type used for update operations of the TestLine."
    },
    "TestLineUpdateProperties": {
      "type": "object",
      "properties": {
        "number": {
          "type": "string",
          "description": "The phone number"
        },
        "purpose": {
          "$ref": "#/definitions/TestLinePurpose",
          "description": "Purpose of this test line, e.g. automated or manual testing"
        }
      },
      "description": "The updatable properties of the TestLine."
    }
  },
  "parameters": {
    "Contact.contactName": {
      "name": "contactName",
      "in": "path",
      "required": true,
      "description": "Some documentation",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "GlobalTeamsCallingDeployment.globalTeamsCallingDeploymentName": {
      "name": "globalTeamsCallingDeploymentName",
      "in": "path",
      "required": true,
      "description": "Some documentation",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "TestLine.testLineName": {
      "name": "testLineName",
      "in": "path",
      "required": true,
      "description": "Some documentation",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
