{
  "swagger": "2.0",
  "info": {
    "title": "winfields service",
    "version": "2024-02-01-preview",
    "description": "Arc-A winfields Service API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Winfields"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Private.EdgeInternal/winfields": {
      "get": {
        "operationId": "Winfields_ListBySubscription",
        "tags": [
          "Winfields"
        ],
        "description": "List Winfield resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WinfieldListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/Winfields_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.EdgeInternal/winfields": {
      "get": {
        "operationId": "Winfields_ListByResourceGroup",
        "tags": [
          "Winfields"
        ],
        "description": "List Winfield resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WinfieldListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/Winfields_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.EdgeInternal/winfields/{name}": {
      "get": {
        "operationId": "Winfields_Get",
        "tags": [
          "Winfields"
        ],
        "description": "Get a Winfield",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Winfield"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/Winfields_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Winfields_CreateOrUpdate",
        "tags": [
          "Winfields"
        ],
        "description": "Create a Winfield",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Winfield"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Winfield' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Winfield"
            }
          },
          "201": {
            "description": "Resource 'Winfield' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Winfield"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/Winfields_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Winfields_Update",
        "tags": [
          "Winfields"
        ],
        "description": "Update a Winfield",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WinfieldUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Winfield"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/Winfields_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Winfields_Delete",
        "tags": [
          "Winfields"
        ],
        "description": "Delete a Winfield",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/Winfields_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.EdgeInternal/winfields/{name}/listDeploymentManifest": {
      "post": {
        "operationId": "Winfields_ListDeploymentManifest",
        "tags": [
          "Winfields"
        ],
        "description": "get deployment manifest.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WinfieldDeploymentManifest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Winfields_ListDeploymentManifest": {
            "$ref": "./examples/Winfields_ListDeploymentManifest_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectionIntend": {
      "type": "string",
      "description": "The resource connection intend model enum",
      "enum": [
        "DirectlyConnected",
        "IndirectlyConnected"
      ],
      "x-ms-enum": {
        "name": "ConnectionIntend",
        "modelAsString": true,
        "values": [
          {
            "name": "DirectlyConnected",
            "value": "DirectlyConnected",
            "description": "Directly connected to the cloud."
          },
          {
            "name": "IndirectlyConnected",
            "value": "IndirectlyConnected",
            "description": "Indirectly connected to the cloud."
          }
        ]
      }
    },
    "ResourceProvisioningState": {
      "type": "string",
      "description": "ResourceProvisioningState Enum",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Resource  is being Provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource has been updating."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource was Accepted."
          }
        ]
      },
      "readOnly": true
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-02-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_02_01",
            "value": "2024-02-01-preview",
            "description": "Version 2024-02-01-preview"
          }
        ]
      }
    },
    "Winfield": {
      "type": "object",
      "description": "An offer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WinfieldProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WinfieldDeploymentManifest": {
      "type": "object",
      "description": "The winfield manifest",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The resource Id",
          "readOnly": true
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name",
          "readOnly": true
        },
        "deploymentId": {
          "type": "string",
          "description": "The Deployment Id",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "readOnly": true
        }
      },
      "required": [
        "resourceId",
        "resourceName",
        "deploymentId",
        "location"
      ]
    },
    "WinfieldListResult": {
      "type": "object",
      "description": "The response of a Winfield list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Winfield items on this page",
          "items": {
            "$ref": "#/definitions/Winfield"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ]
    },
    "WinfieldProperties": {
      "type": "object",
      "description": "The winfield properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ResourceProvisioningState",
          "description": "The resource provisioning state",
          "readOnly": true
        },
        "connectionIntend": {
          "$ref": "#/definitions/ConnectionIntend",
          "description": "The connection intend"
        }
      },
      "required": [
        "connectionIntend"
      ]
    },
    "WinfieldUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Winfield.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/WinfieldUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "WinfieldUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Winfield.",
      "properties": {
        "connectionIntend": {
          "$ref": "#/definitions/ConnectionIntend",
          "description": "The connection intend"
        }
      }
    }
  },
  "parameters": {}
}
