emit:
  - "@azure-tools/typespec-autorest"
options:
  "@azure-tools/typespec-autorest":
    use-read-only-status-schema: true
    emitter-output-dir: "{project-root}/.."
    azure-resource-provider-folder: "resource-manager"
    emit-common-types-schema: "never"
    output-file: "{azure-resource-provider-folder}/{service-name}/validation/{version-status}/{version}/validation.json"
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/resource-manager"
