{
  "swagger": "2.0",
  "info": {
    "version": "2024-11-01-privatepreview",
    "title": "Billing benefits RP",
    "description": "Azure Benefits RP let users create and manage benefits like savings plan."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.BillingBenefits/operations": {
      "get": {
        "summary": "Get operations.",
        "description": "List all the operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsGet": {
            "$ref": "./examples/OperationsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Benefits operations"
        ],
        "responses": {
          "200": {
            "description": "List all the operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.BillingBenefits/discounts/{discountName}": {
      "put": {
        "description": "Create discount.",
        "operationId": "Discounts_Create",
        "tags": [
          "Discounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DiscountsCreatePrimary": {
            "$ref": "./examples/DiscountsCreatePrimary.json"
          },
          "DiscountsCreatePrimaryWithPriceGuarantee": {
            "$ref": "./examples/DiscountsCreatePrimaryWithPriceGuarantee.json"
          },
          "DiscountsCreatePrimaryWithCustomPrice": {
            "$ref": "./examples/DiscountsCreatePrimaryWithCustomPrice.json"
          },
          "DiscountsCreatePrimaryWithCustomPriceMultiCurrency": {
            "$ref": "./examples/DiscountsCreatePrimaryWithCustomPriceMultiCurrency.json"
          },
          "DiscountsCreatePrimaryBackfill": {
            "$ref": "./examples/DiscountsCreatePrimaryBackfill.json"
          },
          "DiscountsCreateAffiliate": {
            "$ref": "./examples/DiscountsCreateAffiliate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DiscountRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been created.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "201": {
            "description": "The request is being processed.",
            "schema": {
              "$ref": "#/definitions/Discount"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete discount.",
        "operationId": "Discounts_Delete",
        "tags": [
          "Discounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ReservationOrderAliasCreate": {
            "$ref": "./examples/DiscountsDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "204": {
            "description": "The resource is already deleted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "List discounts at resource group level",
        "operationId": "Discount_Get",
        "tags": [
          "Discounts"
        ],
        "x-ms-examples": {
          "DiscountGet": {
            "$ref": "./examples/DiscountGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts under the given resource group.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update discounts",
        "operationId": "Discount_Update",
        "tags": [
          "Discounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DiscountGet": {
            "$ref": "./examples/DiscountsUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DiscountPatchRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.BillingBenefits/discounts": {
      "get": {
        "description": "List discounts at resource group level",
        "operationId": "Discounts_ResourceGroupList",
        "tags": [
          "Discounts"
        ],
        "x-ms-examples": {
          "DiscountsResourceGroupList": {
            "$ref": "./examples/DiscountList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts under the given resource group.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Private.BillingBenefits/discounts": {
      "get": {
        "description": "List discounts at subscription level",
        "operationId": "Discounts_SubscriptionList",
        "tags": [
          "Discounts"
        ],
        "x-ms-examples": {
          "DiscountSubscriptionList": {
            "$ref": "./examples/DiscountList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts under the given resource group.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Private.BillingBenefits/discounts/{discountName}/cancel": {
      "post": {
        "description": "Cancel discount",
        "operationId": "Discounts_Cancel",
        "tags": [
          "Discounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DiscountCancel": {
            "$ref": "./examples/DiscountCancel.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "200": {
            "description": "List of discounts under the given resource group.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Private.BillingBenefits/applicableDiscounts": {
      "get": {
        "description": "List discounts that are applicable for a given scope",
        "operationId": "Discounts_ScopeList",
        "tags": [
          "Discounts"
        ],
        "x-ms-examples": {
          "DiscountScopeList": {
            "$ref": "./examples/ApplicableDiscountsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ScopeParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts under the given resource group.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationResultError": {
      "type": "object",
      "description": "Required if status == failed or status == canceled.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required if status == failed or status == cancelled. If status == failed, provide an invariant error code used for error troubleshooting, aggregation, and analysis."
        },
        "message": {
          "type": "string",
          "description": "Required if status == failed. Localized. If status == failed, provide an actionable error message indicating what error occurred, and what the user can do to address the issue."
        }
      }
    },
    "DiscountProvisioningState": {
      "type": "string",
      "description": "Provisioning states of Discount.",
      "readOnly": true,
      "enum": [
        "Unknown",
        "Pending",
        "Succeeded",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "DiscountProvisioningState",
        "modelAsString": true
      }
    },
    "DiscountProvisioningSubState": {
      "type": "string",
      "description": "Provisioning sub state of Discount.",
      "readOnly": true,
      "enum": [
        "Unknown",
        "None",
        "Expired"
      ],
      "x-ms-enum": {
        "name": "DiscountProvisioningSubState",
        "modelAsString": true
      }
    },
    "ProductCode": {
      "type": "string",
      "description": "Represents catalog UPN."
    },
    "StartAt": {
      "type": "string",
      "format": "date-time",
      "description": "Start DateTime."
    },
    "EndAt": {
      "type": "string",
      "format": "date-time",
      "description": "End DateTime in UTC."
    },
    "AffiliateEndAt": {
      "type": "string",
      "format": "date-time",
      "description": "End DateTime in UTC.",
      "readOnly": true
    },
    "DiscountSystemId": {
      "type": "string",
      "description": "This is the globally unique identifier of the Discount which will not change for the lifetime of the Discount."
    },
    "DiscountAppliedScopeType": {
      "type": "string",
      "description": "List of applied scopes supported for discounts.",
      "enum": [
        "BillingAccount",
        "BillingProfile",
        "Customer"
      ],
      "x-ms-enum": {
        "name": "DiscountAppliedScopeType",
        "modelAsString": true
      }
    },
    "BillingAccountId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the billing account where the savings plan is applied. Present only for Enterprise Agreement customers."
    },
    "BillingProfileId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the billing profile where the savings plan is applied. Present only for Field-led or Customer-led customers."
    },
    "CustomerId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the customer where the savings plan is applied. Present only for Partner-led customers."
    },
    "DisplayName": {
      "type": "string",
      "description": "Display name"
    },
    "DiscountStatus": {
      "type": "string",
      "readOnly": true,
      "description": "Represents the current status of the discount.",
      "enum": [
        "Active",
        "Pending",
        "Failed",
        "Canceled",
        "Expired"
      ],
      "x-ms-enum": {
        "name": "DiscountStatus",
        "modelAsString": true
      }
    },
    "BenefitResourceUri": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the benefit under applicable benefit list."
    },
    "PrimaryUri": {
      "type": "string",
      "readOnly": true,
      "description": "This will be present in the response if the primary has a resource URI in Benefits RP"
    },
    "DiscountList": {
      "type": "object",
      "description": "Discount list",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of discounts.",
          "items": {
            "$ref": "#/definitions/Discount"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page."
        }
      }
    },
    "Discount": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "Resource definition for Discounts.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ResourceModelWithAllowedPropertySet"
        }
      ],
      "properties": {
        "properties": {
          "description": "Discount properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DiscountProperties"
        }
      }
    },
    "DiscountProperties": {
      "type": "object",
      "description": "Properties belonging to discounts.",
      "required": [
        "entityType",
        "productCode",
        "startAt"
      ],
      "properties": {
        "entityType": {
          "$ref": "#/definitions/DiscountEntityType"
        },
        "productCode": {
          "description": "This is the catalog UPN for the product.",
          "$ref": "#/definitions/ProductCode"
        },
        "startAt": {
          "$ref": "#/definitions/StartAt",
          "description": "Start date of the discount. No duration will be supported. Future dates will be supported."
        },
        "provisioningState": {
          "$ref": "#/definitions/DiscountProvisioningState",
          "readOnly": true,
          "description": "The state of the resource. Supported values are Pending, Failed, Succeeded, Canceled."
        },
        "billingAccountId": {
          "$ref": "#/definitions/BillingAccountId",
          "description": "Billing account id where the discount metadata is present."
        },
        "billingProfileId": {
          "$ref": "#/definitions/BillingProfileId",
          "description": "Billing profile id where the discount is scoped to."
        },
        "customerId": {
          "$ref": "#/definitions/CustomerId",
          "description": "Customer id where the discount is scoped to."
        },
        "displayName": {
          "$ref": "#/definitions/DisplayName",
          "description": "This defines a user friendly display name for the discount."
        },
        "status": {
          "$ref": "#/definitions/DiscountStatus"
        },
        "resourceUri": {
          "$ref": "#/definitions/BenefitResourceUri"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/DiscountAppliedScopeType",
          "description": "List of applied scopes supported for discounts."
        }
      },
      "discriminator": "entityType"
    },
    "EntityTypeAffiliateDiscount": {
      "type": "object",
      "description": "Entity type for affiliate discounts",
      "required": [
        "systemId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DiscountProperties"
        }
      ],
      "x-ms-discriminator-value": "Affiliate",
      "properties": {
        "primaryUri": {
          "$ref": "#/definitions/PrimaryUri"
        },
        "endAt": {
          "$ref": "#/definitions/AffiliateEndAt",
          "description": "End date of the discount. No duration will be supported."
        }, 
        "systemId": {
          "$ref": "#/definitions/ProductCode"
        }
      }
    },
    "EntityTypePrimaryDiscount": {
      "type": "object",
      "description": "Entity type for primary discounts",
      "required": [
        "endAt"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DiscountProperties"
        }
      ],
      "x-ms-discriminator-value": "Primary",
      "properties": {
        "discountTypeProperties": {
          "$ref": "#/definitions/DiscountTypeProperties"
        },
        "endAt": {
          "$ref": "#/definitions/EndAt",
          "description": "End date of the discount. No duration will be supported."
        },
        "systemId": {
          "$ref": "#/definitions/DiscountSystemId"
        }
      }
    },
    "DiscountTypeProperties": {
      "type": "object",
      "description": "This defines the conditions for a given discount type.",
      "allOf": [
        {
          "$ref": "#/definitions/DiscountPercentageDiscountPrice"
        }
      ],
      "required": [
        "discountType",
        "applyDiscountOn"
      ],
      "properties": {
        "discountType": {
          "$ref": "#/definitions/DiscountType"
        },
        "applyDiscountOn": {
          "$ref": "#/definitions/ApplyDiscountOn"
        },
        "discountCombinationRule": {
          "$ref": "#/definitions/DiscountCombinationRule"
        },
        "conditions": {
          "$ref": "#/definitions/Conditions"
        }
      },
      "discriminator": "discountType"
    },
    "DiscountPercentageDiscountPrice": {
      "type": "object",
      "properties": {
        "discountPercentage": {
          "$ref": "#/definitions/DiscountPercentage"
        },
        "priceGuaranteeProperties": {
          "$ref": "#/definitions/PriceGuaranteeProperties"
        }
      },
      "minProperties": 1,
      "maxProperties": 1
    },
    "DiscountTypeProductFamily": {
      "type": "object",
      "x-ms-discriminator-value": "ProductFamily",
      "description": "Discount type properties including product family name",
      "allOf": [
        {
          "$ref": "#/definitions/DiscountTypeProperties"
        }
      ],
      "properties": {
        "productFamilyName": {
          "$ref": "#/definitions/ProductFamilyName"
        }
      }
    },
    "DiscountTypeProduct": {
      "type": "object",
      "x-ms-discriminator-value": "Product",
      "description": "Discount type properties including product family name and product id.",
      "allOf": [
        {
          "$ref": "#/definitions/DiscountTypeProperties"
        }
      ],
      "properties": {
        "productFamilyName": {
          "$ref": "#/definitions/ProductFamilyName"
        },
        "productId": {
          "$ref": "#/definitions/ProductId"
        }
      }
    },
    "DiscountTypeProductSku": {
      "type": "object",
      "x-ms-discriminator-value": "Sku",
      "description": "Discount type properties including product family name, product id, and sku id.",
      "allOf": [
        {
          "$ref": "#/definitions/DiscountTypeProperties"
        }
      ],
      "properties": {
        "productFamilyName": {
          "$ref": "#/definitions/ProductFamilyName"
        },
        "productId": {
          "$ref": "#/definitions/ProductId"
        },
        "skuId": {
          "$ref": "#/definitions/DiscountSku"
        }
      }
    },
    "DiscountTypeCustomPrice": {
      "type": "object",
      "x-ms-discriminator-value": "CustomPrice",
      "description": "Discount type properties including product family name, product id, sku, and custom price properties.",
      "allOf": [
        {
          "$ref": "#/definitions/DiscountTypeProperties"
        }
      ],
      "properties": {
        "productFamilyName": {
          "$ref": "#/definitions/ProductFamilyName"
        },
        "productId": {
          "$ref": "#/definitions/ProductId"
        },
        "skuId": {
          "$ref": "#/definitions/DiscountSku"
        },
        "customPriceProperties": {
          "$ref": "#/definitions/CustomPriceProperties"
        }
      }
    },
    "DiscountTypeCustomPriceMultiCurrency": {
      "type": "object",
      "x-ms-discriminator-value": "CustomPriceMultiCurrency",
      "description": "Discount type properties including product family name, product id, sku, and custom price properties. Allows multiple entries in marketSetPrices.",
      "allOf": [
        {
          "$ref": "#/definitions/DiscountTypeProperties"
        }
      ],
      "properties": {
        "productFamilyName": {
          "$ref": "#/definitions/ProductFamilyName"
        },
        "productId": {
          "$ref": "#/definitions/ProductId"
        },
        "skuId": {
          "$ref": "#/definitions/DiscountSku"
        },
        "customPriceProperties": {
          "$ref": "#/definitions/CustomPriceProperties"
        }
      }
    },
    "DiscountEntityType": {
      "type": "string",
      "description": "This defines whether the entity being created is primary or affiliate. Supported values: primary, affiliate. Validation: Required, must match one of the 2 values.",
      "enum": [
        "Primary",
        "Affiliate"
      ],
      "x-ms-enum": {
        "name": "DiscountEntityType",
        "modelAsString": true
      }
    },
    "DiscountType": {
      "type": "string",
      "description": "Defines the type of discount. Supported values are ProductFamily, Product, Sku, CustomPrice, and CustomPriceMultiCurrency.",
      "enum": [
        "ProductFamily",
        "Product",
        "Sku",
        "CustomPrice",
        "CustomPriceMultiCurrency"
      ],
      "x-ms-enum": {
        "name": "DiscountType",
        "modelAsString": true
      }
    },
    "ApplyDiscountOn": {
      "type": "string",
      "description": "The customer action on which the discount is applied. Supported values are Purchase, Consume, and Renew. Validation: Required, one of supported values.",
      "enum": [
        "Purchase",
        "Consume",
        "Renew"
      ],
      "x-ms-enum": {
        "name": "ApplyDiscountOn",
        "modelAsString": true
      }
    },
    "ProductFamilyName": {
      "description": "Product family for which the discount is given. Validation: Optional",
      "type": "string"
    },
    "ProductId": {
      "description": "Product ID for which the discount is given. Validation: Optional",
      "type": "string"
    },
    "DiscountSku": {
      "description": "Sku for the given discount. Validation: Optional.",
      "type": "string"
    },
    "DiscountPercentage": {
      "description": "Discount percentage provided for the customer. Validation: Required unless this is a price rule.",
      "type": "number"
    },
    "PriceGuaranteeProperties": {
      "type": "object",
      "description": "Set only in price guarantee scenario.",
      "properties": {
        "pricingPolicy": {
          "$ref": "#/definitions/PricingPolicy"
        },
        "priceGuaranteeDate": {
          "$ref": "#/definitions/PriceGuaranteeDate"
        }
      }
    },
    "PricingPolicy": {
      "type": "string",
      "description": "Supported values: Protected, Locked",
      "enum": [
        "Protected",
        "Locked"
      ],
      "x-ms-enum": {
        "name": "PricingPolicy",
        "modelAsString": true
      }
    },
    "PriceGuaranteeDate": {
      "type": "string",
      "format": "date-time",
      "description": "The date on which prices are to be used for guarantee calculation. Validation: expected to be 00 hours, Format: 2024-09-30T00:00:00Z. Must be in UTC."
    },
    "Conditions": {
      "type": "array",
      "description": "Array of conditions for the discount. Validation: Optional. Maximum length is 1000.",
      "items": {
        "$ref": "#/definitions/ConditionsItem"
      }
    },
    "ConditionsItem": {
      "type": "object",
      "description": "Condition for a discount.",
      "properties": {
        "name": {
          "type": "object"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        }
      }
    },
    "DiscountCombinationRule": {
      "type": "string",
      "description": "The discount combination rule when there are multiple applicable custom prices. Validation: Required. Supported values are Stackable and BestOf.",
      "enum": [
        "BestOf",
        "Stackable"
      ],
      "x-ms-enum": {
        "name": "DiscountCombinationRule",
        "modelAsString": true
      }
    },
    "CustomPriceProperties": {
      "type": "object",
      "description": "Custom price properties for a given discount.",
      "required": [
        "ruleType",
        "catalogId",
        "catalogClaims",
        "marketSetPrices"
      ],
      "properties": {
        "ruleType": {
          "$ref": "#/definitions/DiscountRuleType"
        },
        "catalogId": {
          "$ref": "#/definitions/CatalogId"
        },
        "catalogClaims": {
          "$ref": "#/definitions/CatalogClaims"
        },
        "termUnits": {
          "$ref": "#/definitions/TermUnits"
        },
        "billingPeriod": {
          "$ref": "#/definitions/BillingPeriod"
        },
        "meterType": {
          "$ref": "#/definitions/MeterType"
        },
        "marketSetPrices": {
          "$ref": "#/definitions/MarketSetPrices"
        }
      }
    },
    "DiscountRuleType": {
      "type": "string",
      "description": "The type of the priceable node pricing rule. Validation: Required. Supported values are fixedPriceLock, fixedListPrice, and priceCeiling.",
      "enum": [
        "FixedPriceLock",
        "FixedListPrice",
        "PriceCeiling"
      ],
      "x-ms-enum": {
        "name": "DiscountRuleType",
        "modelAsString": true
      }
    },
    "CatalogId": {
      "type": "string",
      "description": "The catalog instance where the priceable node lives. Validation: Required."
    },
    "CatalogClaims": {
      "type": "array",
      "description": "The set of BigCat claims. Validation: Required. Must contain AgreementType, NationalCloud, and PricingAudience claims. Additionally requires AccessPass claim when creating custom price with action == consume on the pricing instructions.",
      "items": {
        "$ref": "#/definitions/CatalogClaimsItem"
      }
    },
    "CatalogClaimsItem": {
      "type": "object",
      "description": "Catalog claim for a discount.",
      "properties": {
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "TermUnits": {
      "type": "string",
      "description": "The term units for the priceable node. Validation: Optional, Maximum length 128 characters. Must be present if and only if the availability derived by market, product, sku, and claims has terms."
    },
    "BillingPeriod": {
      "type": "string",
      "description": "The billing period of the priceable node. Validation: Optional, Maximum length 128 characters. Only allowed if the availability derived by market, product, sku, and claims has terms and at least one of those terms has a billing period. When specified, termUnits must be specified."
    },
    "MeterType": {
      "type": "string",
      "description": "Must be present if the market, product, sku, and claims, and optional term information resolves to multiple availabilities that only differ by meter type. Validation: Maximum length 128 characters."
    },
    "MarketSetPrices": {
      "type": "array",
      "description": "The set of market set prices of the priceable node. Validation: Required. Must contain at least one element.",
      "required": [
        "items"
      ],
      "items": {
        "$ref": "#/definitions/MarketSetPricesItems"
      }
    },
    "MarketSetPricesItems": {
      "type": "object",
      "description": "Items in the MarketSetPrices array.",
      "required": [
        "markets",
        "value",
        "currency"
      ],
      "properties": {
        "markets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MarketsItems"
          }
        },
        "value": {
          "type": "number",
          "description": "The locked price for the priceable node. Validation: Required. Must be greater than or equal to 0. If the case of billing plans. This represents the price for each cycle charge."
        },
        "currency": {
          "type": "string",
          "description": "The currency of the locked price value. Validation: Required. Must be a valid ISO 4217 3-letter currency code."
        }
      }
    },
    "MarketsItems": {
      "type": "string",
      "description": "The country codes of the markets in which this price may apply. Note prices are not extended in market + currency combinations which have not been configured in product ingestion. Validation: Required. Elements must be a valid ISO 3166 2-letter country code. Must contain at least one element(no duplicate). For custom price, must be at-max 1 market."
    },
    "AppliedDiscount": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "Applied discount",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Discount properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DiscountProperties"
        }
      }
    },
    "DiscountPatchRequest": {
      "type": "object",
      "description": "Discounts patch request",
      "properties": {
        "properties": {
          "description": "Discounts patch request properties",
          "$ref": "#/definitions/DiscountPatchRequestProperties",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "type": "object",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      }
    },
    "DiscountPatchRequestProperties": {
      "type": "object",
      "description": "Discounts patch request properties",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "x-ms-parameter-location": "client",
      "required": true,
      "description": "The api-version to be used by the service",
      "type": "string"
    },
    "DiscountRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for creating a discount.",
      "schema": {
        "$ref": "#/definitions/Discount"
      }
    },
    "DiscountNameParameter": {
      "name": "discountName",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_\\-\\.]+$",
      "description": "Name of the discount"
    },
    "DiscountPatchRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for updating discounts",
      "schema": {
        "$ref": "#/definitions/DiscountPatchRequest"
      }
    },
    "ScopeParameter": {
      "name": "scope",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "type": "string",
      "description": "The scope at which the benefits are listed."
    }
  }
}
