{
  "x-generator": "NSwag v13.16.0.0 (NJsonSchema v10.7.1.0 (Newtonsoft.Json v12.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Azure Device Registry Scale Resource",
    "version": "2022-05-21-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTWorkspaces/deviceGroups": {
      "get": {
        "tags": [
          "deviceGroups"
        ],
        "operationId": "List_deviceGroups_Subscription",
        "description": "List all devices in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/deviceGroupResponseList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/deviceGroups": {
      "get": {
        "tags": [
          "deviceGroups"
        ],
        "operationId": "List_deviceGroups_resourceGroups",
        "description": "List all devices in a resourceGroups.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/deviceGroupResponseList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTWorkspaces/deviceGroups/{deviceGroupName}": {
      "put": {
        "tags": [
          "RootdeviceGroup"
        ],
        "operationId": "Create_Or_Replace_deviceGroup",
        "description": "Create a new device or replace an existing ARM device.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupNameParameter"
          },
          {
            "name": "device",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/deviceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/deviceGroup"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "RootdeviceGroup"
        ],
        "operationId": "Update_deviceGroup",
        "description": "Update specific ARM device properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupNameParameter"
          }, 
          {
            "name": "device",
            "in": "body",
            "required": true,
            "description": "Resource Patch parameters.",
            "schema": {
              "$ref": "#/definitions/deviceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "RootdeviceGroup"
        ],
        "operationId": "Delete_deviceGroup",
        "description": "Delete a deviceGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "RootdeviceGroup"
        ],
        "operationId": "Read_deviceGroup.",
        "description": "Retrieve a single deviceGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/deviceGroup"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/deviceGroups/{deviceGroupName}": {
      "put": {
        "tags": [
          "RootdeviceGroup"
        ],
        "operationId": "Create_Or_Replace_deviceGroup_resourceGroups",
        "description": "Create a new device or replace an existing ARM device.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupNameParameter"
          },
          {
            "name": "device",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/deviceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/deviceGroup"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "RootdeviceGroup"
        ],
        "operationId": "Update_deviceGroup_resourceGroups",
        "description": "Update specific ARM device properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupNameParameter"
          }, 
          {
            "name": "device",
            "in": "body",
            "required": true,
            "description": "Resource Patch parameters.",
            "schema": {
              "$ref": "#/definitions/deviceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "RootdeviceGroup"
        ],
        "operationId": "Delete_deviceGroup_resourceGroups",
        "description": "Delete a deviceGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "RootdeviceGroup"
        ],
        "operationId": "Read_deviceGroup_resourceGroups.",
        "description": "Retrieve a single deviceGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/deviceGroup"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "DeviceGroupNameParameter": {
      "name": "deviceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  },
  "definitions": {
    "deviceGroupResponseList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/deviceGroup"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "List of ARM Devices."
    },
    "deviceGroup": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/deviceGroupProperties",
          "description": "Resource properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "deviceGroupProperties": {
      "description": "Defines the device Group properties.",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "Unique identifier for this resource.",
          "type": "string",
          "readOnly": true
        },
        "groupType":{
          "description": "Group types either static or dynamic",
          "type": "string",
          "enum": [
            "static",
            "dynamic"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the group."
        },
        "groupName": {
          "type": "string",
          "description": "Name of the group."
        },
        "groupRule":{
          "type": "string",
          "description": "Membership rule for dynamic group."
        }
      }
    }
  }
}
