{
  "swagger": "2.0",
  "info": {
    "title": "IoT Workspaces Linked Asset Types Resource",
    "version": "2022-05-21-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTWorkspaces/linkedAssetTypes": {
      "get": {
        "tags": [
          "LinkedAssetTypes"
        ],
        "operationId": "List_LinkedAssetTypes_Subscription",
        "description": "List all linked asset types in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Linked Asset Types.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetTypesResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/linkedAssetTypes": {
      "get": {
        "tags": [
          "LinkedAssetTypes"
        ],
        "operationId": "List_LinkedAssetTypes_In_ResourceGroup",
        "description": "List all linked asset types in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Linked Asset Types.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetTypesResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/linkedAssetTypes/{linkedAssetTypeName}": {
      "put": {
        "tags": [
          "LinkedAssetTypes"
        ],
        "operationId": "Create_Or_Update_LinkedAssetType",
        "description": "Create a new linked asset type or update an existing linked asset type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/linkedAssetTypeNameParameter"
          },
          {
            "name": "linkedAssetType",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetTypeCreateOrUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Created or updated Linked Asset Type.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetType"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "Async operation to create or update the Linked Asset Type.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "LinkedAssetTypes"
        ],
        "operationId": "Update_LinkedAssetType",
        "description": "Update specific linked asset type properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/linkedAssetTypeNameParameter"
          },
          {
            "name": "linkedAssetType",
            "in": "body",
            "required": true,
            "description": "Resource Patch parameters.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patched Linked Asset Type.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetType"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "Async operation to patch the Linked Asset Type.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "LinkedAssetTypes"
        ],
        "operationId": "Delete_LinkedAssetType",
        "description": "Delete a linked asset type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/linkedAssetTypeNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Async operation to delete the Linked Asset Type."
          },
          "204": {
            "description": "Linked Asset Type delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "LinkedAssetTypes"
        ],
        "operationId": "Read_LinkedAssetType.",
        "description": "Retrieve a single linked asset type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/linkedAssetTypeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A single Linked Asset Type.",
            "schema": {
              "$ref": "#/definitions/LinkedAssetType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTWorkspaces/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "tags": [
          "LinkedAssetTypes"
        ],
        "operationId": "Get_Operation_Status",
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested operation status.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.IoTWorkspaces/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Operations returned if request was successful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "parameters": {
    "linkedAssetTypeNameParameter": {
      "name": "linkedAssetTypeName",
      "description": "Linked Asset Type name parameter.",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  },
  "definitions": {
    "LinkedAssetTypesResponseList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LinkedAssetType"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "List of Asset Types."
    },
    "LinkedAssetType": {
      "type": "object",
      "required": [
        "extendedLocation"
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/LinkedAssetTypeProperties",
          "description": "Linked Asset Type resource properties."
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LinkedAssetTypeCreateOrUpdate": {
      "type": "object",
      "required": [
        "extendedLocation"
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/LinkedAssetTypeProperties",
          "description": "Asset resource properties."
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LinkedAssetTypeProperties": {
      "description": "Defines the linked asset type properties.",
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "description": "Globally unique, immutable, non-reusable id.",
          "format": "uuid",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the linked asset type."
        },
        "labels": {
          "type":"array",
          "items": {
            "type":"string",
            "description": "Linked Asset type label."
          },
          "description": "Array of labels associated to the linked asset type."
        },
        "schema":{
          "type": "object",
          "additionalProperties": {},
          "description": "Linked Asset type DTDL schema."
        }
      }
    }
  }
}
