{
  "x-generator": "NSwag v13.16.0.0 (NJsonSchema v10.7.1.0 (Newtonsoft.Json v12.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Device Registry Nested Resources",
    "version": "2022-05-21-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/devices/{deviceName}/provisioningAttributes": {
      "get": {
        "tags": [
          "NestedResource"
        ],
        "operationId": "Device_ProvisioningAttribute_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/deviceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProvisioningAttributeList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTWorkspaces/devices/{deviceName}/provisioningAttributes/{attributeName}": {
      "put": {
        "tags": [
          "NestedResource"
        ],
        "operationId": "Device_ProvisioningAttribute_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/parameters/attributeNameParameter"
          },
          {
            "name": "provisioningAttribute",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ProvisioningAttribute"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProvisioningAttribute"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NestedResource"
        ],
        "operationId": "Device_ProvisioningAttribute_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/parameters/attributeNameParameter"
          },
          {
            "name": "provisioningAttribute",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/ProvisioningAttribute"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProvisioningAttribute"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NestedResource"
        ],
        "operationId": "Device_ProvisioningAttribute_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/parameters/attributeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "NestedResource"
        ],
        "operationId": "Device_ProvisioningAttribute_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/deviceNameParameter"
          },
          {
            "$ref": "#/parameters/attributeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProvisioningAttribute"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "deviceNameParameter": {
      "name": "deviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "attributeNameParameter": {
      "name": "attributeName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  },
  "definitions": {
    "ProvisioningAttributeList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProvisioningAttribute"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "List of Device Provisioning Attributes."
    },
    "ProvisioningAttribute": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProvisioningAttributeProperties",
          "description": "Device provisioning attribute properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ProvisioningAttributeProperties": {
      "description": "Defines the device provisioning attribute properties.",
      "type": "object",
      "properties": {
        "identity": {
          "description": "Identity for the resource.",
          "type": "object",
          "properties": {
            "principalId": {
              "type": "string",
              "readOnly": true,
              "description": "Principal id for the device resource."
            },
            "tenantId": {
              "type": "string",
              "readOnly": true,
              "description": "Tenant id for the AAD tenant."
            }
          }
        },
        "linkedResource": {
          "description": "Linked Resource.",
          "type": "string"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      }
    }
  }
}
