{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.SloTestRp",
    "version": "2024-07-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Slos"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.SloTestRp/slos/{sloName}": {
      "get": {
        "operationId": "Slos_Get",
        "tags": [
          "Slos"
        ],
        "description": "Get a SloResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "sloName",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SloResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetSlo": {
            "$ref": "./examples/Slos_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Slos_CreateOrUpdate",
        "tags": [
          "Slos"
        ],
        "description": "Create a SloResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "sloName",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SloResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SloResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SloResource"
            }
          },
          "201": {
            "description": "Resource 'SloResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SloResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateSlo": {
            "$ref": "./examples/Slos_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Slos_Delete",
        "tags": [
          "Slos"
        ],
        "description": "Delete a SloResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "sloName",
            "in": "path",
            "description": "The name of the SLO",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.SloTestRp/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AccountMetadata": {
      "type": "object",
      "description": "The Azure Monitor Workspace account metadata",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Must be set to AMW. No other account types are supported in this version"
        },
        "resourceId": {
          "type": "string",
          "description": "AMW account's resource id chosen by customers"
        },
        "properties": {
          "type": "object",
          "description": "Dictionary of metadata specific to AMW workspace"
        }
      },
      "required": [
        "resourceType",
        "resourceId",
        "properties"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Initial provisioning in progress"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Change accepted for processing"
          }
        ]
      },
      "readOnly": true
    },
    "SloProperties": {
      "type": "object",
      "description": "SLO Properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "sloCategory": {
          "type": "string",
          "description": "SLO category"
        },
        "sloTarget": {
          "$ref": "#/definitions/SloTargets",
          "description": "SLO target"
        },
        "sourceAccount": {
          "$ref": "#/definitions/AccountMetadata",
          "description": "The AMW account from where the metrics will originate"
        },
        "destinationAccount": {
          "$ref": "#/definitions/AccountMetadata",
          "description": "The AMW account to where the metrics will be sent"
        }
      },
      "required": [
        "sloCategory",
        "sloTarget",
        "sourceAccount",
        "destinationAccount"
      ]
    },
    "SloResource": {
      "type": "object",
      "description": "An SLO resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SloProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SloTargets": {
      "type": "object",
      "description": "SLO Target Properties",
      "properties": {
        "targetName": {
          "type": "string",
          "description": "SLO target name"
        },
        "targetValue": {
          "type": "number",
          "format": "float",
          "description": "SLO target value",
          "minimum": 0,
          "maximum": 100
        },
        "targetWindow": {
          "type": "string",
          "description": "SLO target window"
        },
        "targetPercentile": {
          "type": "string",
          "description": "SLO target percentile"
        },
        "operator": {
          "type": "string",
          "description": "SLO target operator"
        }
      },
      "required": [
        "targetName",
        "targetValue",
        "targetWindow",
        "targetPercentile",
        "operator"
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
